.org-settings {
  &__page-description {
    font-size: $x-small;
    color: $core-fleet-black;
    @include sticky-settings-description;
  }

  &__sandbox-demo-message {
    margin-top: 3.5rem;
  }

  &__side-nav {
    .org-settings-form {
      .form-field__label {
        .buttons {
          top: 22px;
        }
      }
    }

    .info-banner {
      line-height: 1.5;
    }

    .app-config-form {
      &__smtp-help-text {
        display: flex;
        gap: $pad-small;
        align-items: center;
      }

      &__smtp-help-text p {
        padding-top: 1rem;
        padding-left: 0.5rem;
      }

      &__section {
        @include clearfix;
        animation: fade-in 200ms ease-out;

        .upcaret::after {
          content: url("../assets/images/icon-collapse-black-16x16@2x.png");
          transform: scale(0.5);
          border-radius: 0px;
          position: relative;
          top: 8px;
          margin: $pad-xsmall;
        }

        .downcaret::after {
          content: url("../assets/images/icon-chevron-black-16x16@2x.png");
          transform: scale(0.5);
          border-radius: 0px;
          position: relative;
          top: 8px;
          margin: $pad-xsmall;
          margin-right: 18px;
        }

        .empty-table__container {
          margin: 96px 0 1.5rem;
        }

        .smtp-options {
          font-size: 15px;
          font-weight: $bold;
          color: $core-fleet-black;

          em {
            font-style: normal;
          }
        }
      }

      &__section-description {
        font-size: $x-small;
        color: $core-fleet-black;
      }

      .smtp-server-inputs {
        display: flex;
        align-items: flex-end;
        gap: $pad-small;
      }

      &__component-details {
        margin: 0 0 $pad-medium;
        font-size: $x-small;
      }

      &__yaml {
        width: calc(90% - 50px);
        margin-bottom: $pad-medium;
      }
    }
  }
}
