.data-table-container {
  position: relative;

  .data-table {
    &__wrapper {
      border: solid 1px $ui-fleet-blue-15;
      border-radius: 6px;
      margin-top: $pad-small;
      overflow: scroll;
      box-shadow: inset -8px 0 17px -10px #e8edf4;
    }

    &__table {
      width: 100%;
      border-collapse: collapse;
      color: $core-fleet-black;
      font-size: $x-small;
    }

    tr {
      border-bottom: 1px solid $ui-fleet-blue-15;

      &:last-child {
        border-bottom: 0;
      }
    }

    thead {
      background-color: $ui-off-white;
      color: $core-fleet-black;
      text-align: left;
      border-bottom: 1px solid $ui-fleet-blue-15;

      th {
        padding: $pad-medium 27px;
        white-space: nowrap;
        border-right: 1px solid $ui-fleet-blue-15;

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      td {
        padding: 12px 27px;
        white-space: nowrap;

        // form-field wraps the dropdown menu
        .form-field {
          margin: 0;
        }
        .Select-control {
          background-color: $core-white;
          border: none;
        }
      }
    }

    &__hostname {
      color: $core-fleet-black;
    }

    &__status {
      color: $core-fleet-blue;
      text-transform: capitalize;

      &:before {
        border-radius: 100%;
        content: ' ';
        display: inline-block;
        height: 8px;
        margin-right: $pad-small;
        width: 8px;
      }
 
    }

    .loading-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 1;
    }
  }
}
