.auth-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: $base 0;

  &__logo {
    width: 160px;
    height: 141px;
    margin: 0 auto;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    height: calc(100vh - #{$footer-height});
  }
}
