.software-details-page {
  &__hosts-link {
    display: flex;
    align-items: center;
    padding-bottom: $pad-small;
    height: 20px;
    font-size: $x-small;
    color: $core-vibrant-blue;
    font-weight: $bold;
    text-decoration: none;
  }

  #right-chevron {
    width: 16px;
    height: 16px;
    margin-left: $pad-small;
  }

  .section--vulnerabilities {
    .component__tooltip-wrapper__tip-text {
      max-width: $col-md;
      white-space: normal;
    }

    .data-table-block {
      .data-table__table {
        thead {
          .cve__header {
            width: $col-md;
          }
          .epss_probability__header {
            width: $col-sm;
          }
          .cvss_score__header {
            width: $col-sm;
          }

          @media (max-width: $tooltip-break-1000) {
            .cisa_known_exploit__header {
              .component__tooltip-wrapper__tip-text {
                max-width: 200px; // Prevents horizontal scrolling off viewport
                white-space: normal;
              }
            }
          }
        }

        tr {
          .text-link {
            img {
              height: 12px;
              width: auto;
              padding-left: $pad-small;
            }
          }
        }
      }
    }
  }
}
