.selected-teams-form {
  border: 1px solid $ui-fleet-black-10;
  border-radius: $border-radius;
  background-color: $ui-off-white;
  padding: $pad-medium;
  box-sizing: border-box;
  // custom form field gap
  gap: 0.25rem;

  &__team-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-field--dropdown {
      width: 154px; // Matches dropdown
    }
  }

  &__role-dropdown {
    .Select-control {
      border: none;
      width: 130px;
    }
  }
}
