.manage-policies-page {
  .install-software-modal {
    .form-field--dropdown {
      width: 276px;
      .Select-placeholder {
        color: $ui-fleet-black-50;
      }
      .Select-menu {
        max-height: none;
        overflow: visible;
      }
      .Select-menu-outer {
        max-height: 165px; // Prevent scrolling off modal
        overflow-y: auto;
      }
    }
    .data-error {
      padding: 78px;
    }
  }
}
