.forgot-password {
  transform: translateY(-50px);

  &__header {
    text-align: left;
  }

  &__text-wrapper {
    font-size: $small;
  }

  &__text {
    font-size: $small;

    span {
      color: $core-blue;
    }
  }

  &__email {
    color: $core-purple;
  }
}
