.forgot-password {
  p,
  a {
    font-size: $x-small;
  }

  &__text {
    font-size: 1rem;
    margin-top: 2.5rem;
    img.icon-external {
      width: 14px;
      padding-left: 4px;
    }
  }
  &__email {
    font-weight: $bold;
  }
}
