.run-script-modal {
  box-sizing: border-box;
  width: 811px;

  &__modal-content {
    display: flex;
    flex-direction: column;
    gap: $pad-xlarge;
  }

  .modal-cta-wrap {
    margin: $pad-xsmall 0 0 0;
  }

  &__loading {
    .modal__header,
    .modal-cta-wrap {
      opacity: 0.6;
    }
  }

  .Select-option {
    .dropdown__option {
      [data-id="tooltip"] {
        font-size: $xx-small;
        font-style: normal;
      }
    }
  }
}
