.section--policies {
  .info-banner {
    margin-bottom: 1rem;
    p {
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .table-container__header {
    display: none;
  }
  .data-table-block {
    .data-table__table {
      thead {
        .name__header {
          min-width: $col-md;
        }
        .response__header {
          width: 0;
          border-right: none;
        }
        .linkToFilteredHosts__header {
          width: 140px;
        }
      }
      tbody {
        tr {
          .name__cell {
            max-width: 0; // sets ellipses
          }

          .policy-link {
            visibility: hidden;
            text-overflow: none;
            img {
              vertical-align: text-top;
              width: 16px;
            }
          }
          &:hover {
            .policy-link {
              visibility: visible;
              text-overflow: none;
            }
          }
          .policy-info {
            width: 100%; // sets ellipses
            justify-content: left;

            .policy-info-text {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            &::after {
              content: url("../assets/images/icon-arrow-right-vibrant-blue-10x18@2x.png");
              transform: scale(0.5);
            }
          }
        }
      }
    }
  }
}
