.manage-hosts {
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $pad-medium;
    height: 38px;

    .button-wrap {
      display: flex;
      justify-content: flex-end;
      min-width: 266px;
    }
  }

  .ace-fleet {
    margin-bottom: $pad-medium;
  }

  &__header {
    display: flex;
    align-items: center;
    min-width: 125px;

    .form-field {
      margin-bottom: 0;
    }
  }

  &__text {
    margin-right: $pad-large;
  }

  &__title {
    font-size: $large;

    .fleeticon {
      color: $core-fleet-blue;
      margin-right: 15px;
    }

    .fleeticon-success-check {
      color: $ui-success;
    }

    .fleeticon-offline {
      color: $ui-error;
    }

    .fleeticon-mia {
      color: $core-fleet-black;
    }
  }

  &__label-actions {
    button {
      &:first-child {
        margin-right: $pad-medium;
      }
    }
  }

  &__label-block {
    .title {
      display: flex;
      align-items: center;
      span {
        font-size: $x-small;
        font-weight: $bold;
      }
      button {
        margin-left: $pad-small;
        padding: 0;
        height: auto;

        img {
          margin: 0;
        }
      }
    }
    .description {
      span {
        vertical-align: text-top;
        font-size: $x-small;
        opacity: 0.5;
      }
    }
  }

  &__toggle-view {
    .fleeticon {
      width: 24px;
      height: 24px;
      margin-left: 12px;
      fill: $ui-gray;
    }

    &--active {
      .fleeticon {
        fill: $core-fleet-purple;
      }
    }
  }

  .table-container {
    padding-top: $pad-small;
  }

  .data-table-container {
    .data-table {
      &__wrapper {
        overflow-x: scroll;
      }
    }
  }

  &__modal-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .button:first-child {
      margin-right: $pad-medium;
    }
  }

  .form-field--dropdown {
    margin: 0;
  }

  &__status_dropdown {
    width: 159px;

    .Select-menu-outer {
      width: 364px;
      max-height: 310px;

      .Select-menu {
        max-height: none;
      }
    }
    .Select-value {
      padding-left: $pad-medium;
      padding-right: $pad-medium;

      &::before {
        display: inline-block;
        position: absolute;
        padding: 5px 0 0 0; // centers spin
        content: url(../assets/images/icon-filter-black-16x16@2x.png);
        transform: scale(0.5);
        height: 26px;
        left: 2px;
      }
    }
    .Select-value-label {
      padding-left: $pad-large;
      font-size: $small !important;
    }
  }

  &__labels-policies-wrap {
    margin-bottom: $pad-medium;
  }

  &__labels-active-filter-wrap {
    margin-bottom: $pad-medium;
  }

  &__policies-filter-block {
    display: flex;
    align-items: center;

    p {
      font-size: $xx-small;
      font-weight: $bold;
      padding-left: $pad-medium;
    }
  }

  &__policies-filter-name-card,
  &__software-filter-name-card {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    border: 1px solid $ui-fleet-black-25;
    border-radius: 4px;
    box-shadow: none;
    margin-left: $pad-medium;
    color: $core-fleet-black;
    font-size: $xx-small;
    font-weight: $bold;
    cursor: default;

    img {
      width: 12px;
      height: 12px;
      margin-right: 6px;
    }

    button {
      height: auto;
      padding: 0px;
      border: none;
      margin-left: $pad-small;

      img {
        padding: 0px;
        margin: 0px;
      }
    }
  }

  &__software-filter-name-card {
    margin-left: 0px;
  }

  &__enroll-hosts {
    padding: $pad-small;
    margin-right: $pad-small;
  }

  &__info-banners {
    padding-top: $pad-xxlarge;
    padding-bottom: $pad-large;
  }

  &__no-enroll-secret-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $x-small;
    background-color: $ui-off-white;
    padding: $pad-large;
    border-radius: 10px;
    border: 1px solid $ui-fleet-black-50;

    .dismiss-banner-button {
      display: flex;
      align-items: center;
      img {
        height: 16px;
        width: auto;
      }
    }
    &:not(:only-child) {
      margin-bottom: $pad-medium;
    }
  }

  .host-issue {
    img {
      width: 16px;
      height: 16px;
      vertical-align: sub;
    }
  }

  .total-issues-count {
    margin-left: $pad-small;
  }
}
