.data-table-container {
  position: relative;

  &__topper {
    position: absolute;
    top: -38px;
  }

  &__results-count {
    font-size: $x-small;
    font-weight: $bold;
    color: $core-black;
    margin: 0;
  }

  .data-table {
    &__wrapper {
      border: solid 1px $ui-borders;
      border-radius: 6px;
      margin-top: $pad-half;
      overflow: scroll;
      box-shadow: inset -8px 0 17px -10px #e8edf4;
    }

    &__table {
      width: 100%;
      border-collapse: collapse;
      color: $core-black;
      font-size: $x-small;
    }

    tr {
      border-bottom: 1px solid $ui-borders;

      &:last-child {
        border-bottom: 0;
      }
    }

    thead {
      background-color: $core-light-blue-grey;
      color: $core-black;
      text-align: left;
      border-bottom: 1px solid $ui-borders;

      th {
        padding: 16px 27px;
        white-space: nowrap;
        border-right: 1px solid $ui-borders;

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      td {
        padding: 12px 27px;
        white-space: nowrap;
      }
    }

    &__hostname {
      color: $core-black;
    }

    &__status {
      color: $core-dark-blue-grey;
      text-transform: capitalize;

      &--online {
        &:before {
          background-color: $success;
          border-radius: 100%;
          content: " ";
          display: inline-block;
          height: 8px;
          margin-right: 8px;
          width: 8px;
        }
      }

      &--offline,
      &--mia {
        &:before {
          background-color: $ui-dark-grey;
          border-radius: 100%;
          content: " ";
          display: inline-block;
          height: 8px;
          margin-right: 8px;
          width: 8px;
        }
      }

      &--mia {
        text-transform: uppercase;
      }
    }

    .loading-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 1;
    }
  }
}
