.target-list {
  &__type {
    background-color: $core-light-blue-grey;
    line-height: $x-large;
    padding: 0 $pad-base;
    margin: 0;
    text-transform: uppercase;
    font-weight: $regular;
    font-size: $x-small;
    color: $core-dark-blue-grey;
    letter-spacing: 0.5px;
  }

  &__options {
    width: 57%;
    float: left;
    overflow-y: auto;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
    min-height: 500px;
    position: relative;
    z-index: 2;
    background-color: $core-light-blue-grey;
  }

  &__spotlight {
    width: 43%;
    float: right;
    overflow-y: auto;
    background-color: $white;
    min-height: 500px;
    position: relative;
    z-index: 1;
  }

  &__not-found {
    font-size: $small;
    font-weight: $bold;
    line-height: 2.64;
    text-align: left;
    color: $core-dark-blue-grey;
    text-transform: uppercase;
    display: block;
    padding: 0 $large;
  }
}
