.target-list {
  max-height: 100%;

  &__type {
    padding: 0 8px $pad-xsmall;
    margin: $pad-medium 0 0;
    font-weight: $bold;
    font-size: $x-small;
    color: $core-fleet-black;
    border-bottom: 1px solid $ui-fleet-black-10;

    &::first-letter {
      text-transform: uppercase;
    }
    &:first-child {
      margin: $pad-large 0 $pad-small 0;
    }
  }

  &__options {
    width: 50%;
    float: left;
    position: relative;
    overflow-y: scroll;
    max-height: 100%;
    padding: 0 $pad-large;
    border-right: 1px solid $ui-fleet-black-10;
    background-color: $core-white;
  }

  &__option-details {
    width: 50%;
    height: 100%;
    float: right;
    padding: 0 $pad-large;
  }

  &__no-hosts {
    font-size: $x-small;
    padding: $pad-large;
  }

  &__no-hosts-heading {
    font-weight: $bold;
    font-size: $x-small;
    padding-bottom: $pad-medium;
  }

  &__spotlight {
    width: 50%;
    float: right;
    overflow-y: auto;
    background-color: $core-white;
    min-height: 450px;
    padding-top: $pad-large;
    position: relative;
    z-index: 1;
  }

  &__not-found {
    font-size: $x-small;
    padding: 0 $pad-xsmall $pad-xsmall;
  }
}
