.home-software {
  margin-top: $pad-large;

  .software-link {
    img {
      transform: rotate(-90deg);
      height: 16px;
      width: auto;
      vertical-align: middle;
    }
  }
  .table-container {
    min-height: 435px;
  }
  .data-table__wrapper {
    overflow-x: auto;
  }
  .form-field--dropdown {
    margin: 0;
  }
  .component__tabs-wrapper .table-container__header {
    display: none;
  }
  &__software-modal {
    width: 780px;

    .data-table__wrapper {
      margin-top: $pad-large;
    }
  }
  &__empty-software {
    margin: $pad-large auto 0;

    h1 {
      font-size: $small;
      font-weight: $bold;
      margin-bottom: $pad-medium;
    }

    p {
      color: $core-fleet-black;
      font-weight: $regular;
      font-size: $x-small;
      margin: 0;
    }

    a {
      color: $core-vibrant-blue;
      font-size: $x-small;
      font-weight: $bold;
      text-decoration: none;
      margin-left: $pad-xsmall;
    }
  }
  &__empty-software-modal {
    width: 550px;
    margin: $pad-large auto;
  }
  &__status_dropdown {
    width: 219px;

    .Select-menu-outer {
      width: 364px;
      max-height: 310px;

      .Select-menu {
        max-height: none;
      }
    }
    .Select-value {
      padding-left: $pad-medium;
      padding-right: $pad-medium;

      &::before {
        display: inline-block;
        position: absolute;
        padding: 5px 0 0 0; // centers spin
        content: url(../assets/images/icon-filter-black-16x16@2x.png);
        transform: scale(0.5);
        height: 26px;
        left: 2px;
      }
    }
    .Select-value-label {
      padding-left: $pad-large;
      font-size: $small !important;
    }
  }
  .data-table-container {
    .data-table__table {
      table-layout: fixed;

      thead {
        .vulnerabilities__header {
          width: 4%;
          border-right: 0;
          padding-right: 0;
        }
        .name__header {
          width: 60%;
        }
        .version__header {
          width: 30%;
          border-right: 0; // Remove this when hosts column returns
          padding-right: 0; // Remove this when hosts column returns
        }
        // Commented out until hosts column returns
        // .host_count__header {
        //   border-right: 0;
        //   padding-right: 0;
        //   width: 60px;
        // }
        .id__header {
          padding: 0;
          border-left: 0;
          width: 40px;
        }
      }

      tbody {
        .name__cell,
        .version__cell {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .id__cell {
          padding: 0;
          width: 40px;
        }
        .vulnerabilities__cell {
          img {
            transform: scale(0.5);
          }
        }
      }
    }
  }
}
