.mdm-apple-sso-page {
  height: 100vh; // expend height to make entire viewport a white background
  background-color: $core-white;
  display: flex;
  align-items: center;
  justify-content: center;
}
