.idp-section {
  h2 {
    padding-bottom: $pad-small;
    max-width: 100%;
    font-size: $medium;
    font-weight: $regular;
    color: $core-fleet-black;
    border-bottom: solid 1px $ui-fleet-black-10;
    margin: 0 0 $pad-xxlarge;
  }

  p {
    font-size: $x-small;
  }
}
