.create-user-form {
  margin-top: $pad-large;

  &__sso-input {
    margin-top: 22px;

    .kolide-checkbox {
      margin-top: 5px;

      &__label {
        font-size: $x-small;
        font-weight: $bold;
        color: $core-dark-blue-grey;
        padding-left: 32px;
      }
    }
  }

  &__label {
    color: $core-black;
    font-size: $x-small;
    font-weight: $bold;
    margin-bottom: 4px;
  }

  &__user-permissions-info {
    display: flex;
    flex-direction: column;
    margin-bottom: $pad-xlarge;

    p {
      margin: 0 0 $pad-medium 0;
    }

    a {
      color: $core-blue;
      font-size: $x-small;
      font-weight: $bold;
      text-decoration: none;
    }

    img {
      width: 12px;
      height: 12px;
      margin-left: 6px;
    }
  }

  &__selected-teams-container {
    margin-bottom: $pad-most;
  }

  &__radio-input {
    margin-bottom: $pad-medium;
  }

  &__btn-wrap {
    display: flex;
    flex-direction: row-reverse;
  }

  &__btn {
    font-size: $small;
    height: 38px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding: 0;
    width: 120px;
  }
}
