.add-user-form {
  max-height: 581px;
  overflow-y: auto;

  .form {
    width: 100%;
  }

  &__sso-input {
    .fleet-checkbox {
      margin-top: 5px;

      &__label {
        font-size: $x-small;
        font-weight: $bold;
        color: $core-fleet-black;
      }
    }
  }

  .sso-disabled {
    width: 375px;
  }

  .invite-disabled {
    width: 100px;
  }

  .password-tooltip-text {
    width: 310px;
  }

  &__user-permissions-info {
    display: flex;
    flex-direction: column;

    p {
      margin: 0 0 $pad-medium 0;
    }
  }

  &__radio-input {
    &.disabled {
      .radio__control {
        background-color: $ui-fleet-black-25;
      }
      .radio__label {
        color: $ui-fleet-black-50;
        font-style: italic;
      }
    }
  }

  &__password {
    box-sizing: border-box;

    .input-icon-field {
      width: 100%;
    }
  }

  &__details {
    float: right;
    width: 2%;

    .icon-tooltip {
      margin-top: 12px;
    }

    .help-text {
      color: $core-fleet-black;

      &--brand {
        color: $core-vibrant-blue;
      }
    }
  }

  .sublabel,
  .sublabel-nosso {
    margin: 0px;
  }

  .sublabel-nosso {
    font-size: 0.75rem;
    button.button--text-link {
      display: inline-flex;
      font-size: 0.75rem;
    }
  }

  &__tooltip-text {
    width: 300px;
  }
}
