.windows-automatic-enrollment-card {
  margin-top: $pad-xxxlarge;
  font-size: $x-small;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: $x-small;
    font-weight: $bold;
    margin: 0 0 $pad-xsmall;
  }

  p {
    margin: 0;
    max-width: 520px;
  }
}
