.self-service-tiles-list {
  display: flex;
  gap: $pad-medium;
  flex-direction: column;
}

.self-service-tile {
  display: flex;
  padding: $pad-medium;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  &__item {
    display: flex;
    flex-direction: row;
    height: 66px;
    align-items: center;
    gap: $pad-medium;
    overflow: hidden;
  }

  &__item-icon {
    display: flex;
  }

  &__item-name-version {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 64px;
    overflow: hidden;
  }

  &__item-name {
    font-size: $x-small;
    font-weight: $bold;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;

    .truncated-tooltip {
      font-weight: initial;
    }
  }

  &__item-version {
    font-size: $xx-small;
    color: $ui-fleet-black-75;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

  &__item-error {
    display: flex;
    gap: $pad-small;
    font-size: $x-small;
  }
}
