.user-settings {
  display: flex;
  align-items: stretch;

  h1 {
    margin: 0 0 30px;
  }

  h2 {
    font-size: $x-small;
    font-weight: $bold;
  }

  &__manage {
    flex-grow: 1;
    min-width: 542px;
  }

  &__additional {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    box-sizing: border-box;
    padding: 30px;
    background-color: $ui-light-grey;
    min-height: 100vh;
  }

  &__change-avatar {
    position: relative;
    padding: 0 0 20px;

    a {
      display: block;
      color: $core-blue;
      text-align: center;
      position: relative;
      z-index: 1;
      text-decoration: none;
      font-size: $x-small;
      margin-top: 4px;
    }
  }

  &__header {
    font-size: $x-small;
    font-weight: $bold;
    margin: 24px 0 4px;
  }

  &__description {
    font-size: $x-small;
    font-style: italic;
    margin: 4px 0;
  }

  &__avatar {
    @include size(120px);
    border: solid 1px $ui-borders;
    margin: 0 auto;
    display: block;
  }

  &__more-info-detail {
    color: $core-dark-blue-grey;

    .kolidecon {
      color: $ui-medium-grey;
      font-size: 18px;
      margin-right: 11px;
    }
  }

  &__button {
    width: 100%;
  }

  &__last-updated {
    font-size: $x-small;
    font-style: italic;
    margin: 4px 0 24px;
  }

  &__reveal-secret {
    float: right;
    text-decoration: none;
  }

  &__secret-label {
    font-size: $x-small;
    font-weight: $bold;
    margin: 0 0 4px;

    a {
      color: $core-blue;
    }
  }

  &__secret-wrapper {
    position: relative;
  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;
  }

  &__secret-copy-icon {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 18px;
    color: $core-blue;

    &:active {
      top: 8px;
    }
  }

  &__secret-input {
    input {
      border-radius: 2px;
      background-color: $core-light-blue-grey;
      border-color: $ui-borders;
      padding-right: 36px;
      font-family: "SourceCodePro", $monospace;

      &[type="password"] {
        letter-spacing: 3px;
      }
    }
  }

  &__version {
    font-size: $xx-small;
    text-align: center;
    display: block;
    margin-top: 40px;
  }
}
