.user-settings {
  display: flex;

  h1 {
    margin: 0 0 30px;
  }

  &__manage {
    flex-grow: 1;
    align-self: flex-start;
    padding: 30px;
    min-width: 542px;
  }

  &__additional {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    box-sizing: border-box;
    padding: 30px;
  }

  &__change-avatar {
    position: relative;
    padding: 0 0 20px;

    a {
      display: block;
      background-color: $brand-dark;
      line-height: 40px;
      color: #fff;
      text-align: center;
      position: relative;
      z-index: 1;
      text-decoration: none;
      margin-top: -10px;
    }
  }

  &__avatar {
    @include size(200px);
    border: solid 1px $brand-dark;
    margin: 0 auto;
    display: block;
  }

  &__more-info-detail {
    line-height: 50px;
    border-top: 1px solid $accent-medium;
    color: $text-medium;

    .kolidecon {
      color: $silver;
      font-size: 18px;
      margin-right: 11px;
    }
  }

  &__button {
    width: 100%;
  }

  &__last-updated {
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 0.5px;
    color: $text-medium;
    border-bottom: 1px solid $accent-medium;
    margin: 0 0 35px;
  }

  &__reveal-secret {
    float: right;
    text-decoration: none;
  }

  &__secret-label {
    font-size: 15px;
    font-weight: $normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: rgba(32, 37, 50, 0.66);
    margin: 0;
  }

  &__secret-wrapper {
    position: relative;
  }

  &__secret-copy-icon {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 18px;
    color: $link;

    &:active {
      top: 8px;
    }
  }

  &__secret-input {
    input {
      border-radius: 2px;
      background-color: $bg-medium;
      border-color: $bg-medium;
      color: $link;
      padding-right: 36px;
      font-family: 'SourceCodePro', $monospace;

      &[type='password'] {
        letter-spacing: 3px;
      }
    }
  }
}
