.edit-query-form {
  position: relative;
  font-size: $x-small;

  .form-field--input {
    margin: 0;
  }

  &__title-bar {
    display: flex;
    justify-content: space-between;

    .form-field {
      margin-bottom: 0px;
    }

    .input-field,
    .input-field__text-area {
      min-height: auto;
      line-height: normal;
      white-space: normal;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .input-field::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .input-field {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .edit-link {
      margin: 0; // override margin intended for buttons being used as form-fields, which these are not
      cursor: pointer;
      height: 18px;
    }

    .name-description {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .query-name-wrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:not(.edit-query-form--editing) {
          textarea:hover {
            cursor: pointer;
            color: $core-vibrant-blue;
          }
        }
        .edit-query-form__query-name,
        .input-sizer::after {
          font-size: $large;
          letter-spacing: -0.5px;
          line-height: 2.3rem;
        }
      }
      .query-description-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        &:not(.edit-query-form--editing) {
          textarea:hover {
            cursor: pointer;
            color: $core-vibrant-blue;
          }
        }
      }
      .edit-icon {
        width: 14px;
        height: 14px;
        opacity: 1;
        &.hide {
          opacity: 0;
        }
      }
    }

    .author {
      flex-shrink: 1;
      text-align: right;
      justify-content: right;
      white-space: nowrap;

      b {
        text-align: right;
      }

      img,
      div {
        display: flex;
        align-items: center;
      }

      span {
        padding-left: $pad-small;
      }
    }
  }

  &__textarea-content-display {
    display: flex;
    align-items: center;
  }

  &__query-name,
  &__query-description {
    margin: 0;
    padding: 0;
    border: 0;
    resize: none;
    white-space: normal;
    background-color: transparent;
    overflow: hidden;
    &:hover:not(.focus-visible):not(.no-hover) {
      color: $core-vibrant-blue;
      cursor: pointer;
    }
    &.focus-visible {
      outline: 0;
      cursor: text;
    }
  }

  &__query-name {
    margin-top: 0;
    font-size: $large;

    &.input-field--error {
      border: 1px solid $core-vibrant-red;
    }
  }

  &__query-description {
    margin-top: 0;
    font-size: $x-small;
  }

  &__button-wrap {
    &--new-query {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    color: $core-fleet-black;
    display: inline-block;
    font-size: $large;
  }

  &__loading-overlay {
    display: flex;
    flex-grow: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    align-items: center;
  }
}
