.tooltip-truncated-cell {
  .text-muted {
    color: $ui-fleet-black-50;
  }
  .data-table__tooltip-truncated-text {
    &--cell {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 101%;
    }

    .truncated {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }

  .truncated-tooltip {
    text-wrap: wrap;
    overflow-wrap: break-word;

    .safari-hack {
      height: 0px;
    }
  }

  // allows for the tooltip text to break on a word instead of a character
  &.tooltip-break-on-word {
    .truncated-tooltip {
      word-break: normal;
    }
  }
}
