.policy-failing-count {
  &__count {
    display: flex;
    font-weight: $bold;
    gap: $pad-small;
  }

  p {
    margin: 0 0 0 $pad-large; // Align second line with first line and not with icon
  }
}
