.card {
  border-radius: $border-radius;
  border: 1px solid $ui-fleet-black-10;
  // TODO - update this to be 40px per style guide
  padding: $pad-large;

  // radius styles
  &__radius-small {
    border-radius: $border-radius;
  }

  &__radius-medium {
    border-radius: $border-radius-large;
  }

  &__radius-large {
    border-radius: $border-radius-xxlarge;
  }

  // box shadow styles
  &__shadow {
    box-shadow: $box-shadow;
  }

  // color styles
  &__white {
    background-color: $core-white;
  }

  &__gray {
    background-color: $ui-off-white;
  }

  &__purple {
    background-color: $ui-vibrant-blue-10;
    border-color: $ui-vibrant-blue-50;
  }

  &__yellow {
    background-color: $ui-yellow-banner;
    border-color: $ui-yellow-banner-outline;
  }
}
