.host-scripts-section {
  margin-top: $pad-medium;
  padding: $pad-xxlarge;

  h2 {
    font-size: $medium;
    font-weight: $bold;
    margin: 0 0 $pad-medium 0;
    line-height: 1.5;
  }

  .table-container__header-left {
    display: block;
  }

  .dropdown__option {
    [data-id="tooltip"][id^="run-script"] {
      font-size: $xx-small;
      font-style: normal;
    }
  }

  .status-indicator-with-icon__value {
    display: initial;
    align-items: initial;
    vertical-align: initial;
  }
}
