.policy-label-modal {
  // Note: this class is applied to both the modal container and the inner
  // content wrapper, so layout styles live on `&__body` to avoid adding spacing
  // between the modal header and content.
  &__body {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: $pad-small;
  }

  &__label-list {
    list-style: none;
    padding: 0;
    margin: 0;

    border: 1px solid $ui-fleet-black-10;
    border-radius: 8px;
  }

  &__label-item {
    width: 100%;
    padding: $pad-small $pad-medium;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid $ui-fleet-black-10;
    }
  }
}
