.mdm-status-modal {
  .modal__content {
    @include vertical-modal-layout;

    p {
      margin: 0;
    }
  }

  .list__row {
    button {
      visibility: hidden;
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
  }

  &__status {
    display: flex;
  }

  &__status-title {
    width: 215px;
  }

  &__status-value {
    display: flex;
    align-items: center;
    gap: $pad-xsmall;
  }

  &__profile-assignment {
    @include vertical-data-set-layout;
  }
}
