.download-installers {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 20px;

  p {
    padding-top: $pad-small;
    padding-bottom: $pad-medium;
    margin: 0;
  }

  .fleet-checkbox {
    display: flex;
    align-items: center;
  }
  .component__tooltip-wrapper__tip-text {
    p {
      padding: 0;
    }
  }

  .form-field.form-field--checkbox {
    padding-bottom: $pad-large;
    margin-bottom: 0;
  }

  &__select-installer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
    padding-bottom: $pad-large;
  }

  &__selector {
    cursor: pointer;
    font-size: $small;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 16px;
    width: 247px;

    border: 1px solid #c5c7d1;
    border-radius: $border-radius;

    span {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        padding-right: 8px;
      }
    }

    &:hover {
      border-color: $core-vibrant-blue;
    }

    &--selected {
      color: $core-vibrant-blue;
      background-color: $ui-vibrant-blue-10;
      border-color: $core-vibrant-blue;
    }
  }

  &__success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 0 70px;

    img {
      height: 48px;
      width: 48px;
    }

    h2 {
      margin: 0;
      padding: 16px 0 8px;
    }

    p {
      margin: 0;
      padding-bottom: 24px;
    }
  }

  &__error {
    .data-error__inner {
      margin: 0;
      padding-bottom: 20px;
    }
  }
}
