.side-panel-content {
  background-color: $core-white;
  box-sizing: border-box;
  border-left: 1px solid $ui-gray;
  min-width: 340px;
  width: 340px;
  padding: $pad-xxlarge;
  // need relative positioning for a close icon that is on some sidebars have
  position: relative;
  animation: fade-in 250ms ease-out;

  .component__tooltip-wrapper__tip-text {
    max-width: 280px;
  }
}
