.registration-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .registration-breadcrumbs {
    flex-shrink: 0; // Keeps it at top—no vertical stretching
  }

  &__logo {
    width: 120px;

    @include breakpoint(tablet) {
      width: 125px;
      position: static;
      display: block;
      margin: 15px 0 0 15px;
    }
  }

  &__flash-message {
    top: 180px;
  }
}
