.avatar {
  background: $core-white url("../assets/images/permanent/icon-avatar-default-128x128@2x.png") center 100%
    no-repeat;
  background-size: cover;
  border-radius: 50%;

  &--small {
    @include size(32px);
  }

  img {
    &.default {
      display: none;
    }
  }
}
