.packs-list-row {
  border-bottom: 1px solid $ui-borders;
  cursor: pointer;

  &--selected {
    background-color: $core-blue-label-down;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $core-blue-label-over;
  }

  &:last-child {
    border-bottom: 0;
  }

  &__td {
    color: $core-black;
    font-weight: $regular;
    font-size: $x-small;
    padding: 7px 0;
    text-align: center;

    &:first-child {
      padding-left: 14px;
      text-align: left;
    }

    &:last-child {
      padding-right: 25px;
      text-align: right;
    }
  }

  &__td-pack-name {
    @include ellipsis(110px);
    display: table-cell;
    text-align: left;
  }

  &__checkbox {
    margin-bottom: 0;
  }

  &__status-icon {
    &--enabled {
      color: $success;
    }

    &--disabled {
      color: $alert;
    }
  }

  &__status-text {
    color: $core-black;
    font-weight: $regular;
    margin-left: 10px;

    @include breakpoint(smalldesk) {
      display: none;
    }
  }
}
