.policy-automations {
  max-width: 600px;
  font-size: $x-small;

  &__cta-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $pad-medium;
    background-color: $ui-fleet-black-5;
    border: 1px solid $ui-fleet-black-10;
    border-radius: 8px;
    margin-bottom: $pad-medium;
  }

  &__cta-label {
    font-size: $x-small;
    color: $ui-fleet-black-75;
  }

  &__list {
    border: 1px solid $ui-fleet-black-10;
    border-radius: 8px;
  }

  &__list-label {
    color: $core-fleet-black;
    font-weight: $bold;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $pad-large;
    height: 40px;
    border-top: 1px solid $ui-fleet-black-10;

    &:first-child {
      border-top: none;
    }
  }

  &__row-graphic {
    vertical-align: middle;
    color: $ui-fleet-black-50;
  }

  &__row-name {
    display: flex;
    align-items: center;
    gap: $pad-small;
    font-size: $x-small;
    color: $ui-fleet-black-75;

    a {
      @include link;
      @include animated-bottom-border;
    }
  }

  &__row-type {
    color: $ui-fleet-black-75;
  }
}
