$xsmall: px-to-rem(10);
$mini: px-to-rem(12);
$small: px-to-rem(14);
$medium: px-to-rem(16);
$base: px-to-rem(18);
$large: px-to-rem(24);
$larger: px-to-rem(32);

$light: 300;
$normal: 400;
$bold: 600;

$border-radius: 4px;
$footer-height: 70px;

$white: #fff;
$black: #000;
$accent-dark: #b8c2e3;
$accent-light: #eaedfb;
$accent-medium: #d2daf4;
$accent-text: #a8b1cd;
$alert: #ff5850;
$alert-light: #ffb5b2;
$bg-medium: #f4f6fb;
$bg-light: #fcfcff;
$border-medium: #d4d8df;
$brand: #ae6ddf;
$brand-dark: #9651ca;
$brand-light: #c38dec;
$brand-ultralight: #edd6ff;
$button-shadow: #734893;
$footer-bg: #202532;
$footer-accent: #84878e;
$link: #4a90e2;
$link-light: #c0d8f5;
$silver: #d4d8df;
$success: #4fd061;
$success-light: #94e39f;
$text-dark: #858495;
$text-light: #b2bbc6;
$text-medium: #9ca3ac;
$text-ultradark: #66696f;
$warning: #ffad00;
$warning-light: #ffda8c;

$pad-auto: auto;
$pad-xsmall: px-to-rem(7);
$pad-small: px-to-rem(13);
$pad-medium: px-to-rem(16);
$pad-base: px-to-rem(18);
$pad-large: px-to-rem(24);
$pad-half: px-to-rem(9);
$pad-none: 0;
$pad-most: px-to-rem(40);
