$xSmall: px-to-rem(10);
$mini: px-to-rem(12);
$small: px-to-rem(14);
$medium: px-to-rem(16);
$base: px-to-rem(18);
$large: px-to-rem(24);
$larger: px-to-rem(32);

$light: 300;
$normal: 400;
$bold: 600;

$border-radius: 4px;

$white: #fff;
$accentDark: #b8c2e3;
$accentLight: #eaedfb;
$accentMedium: #d2daf4;
$accentText: #a8b1cd;
$alert: #ff5850;
$alertLight: #ffb5b2;
$bgMedium: #f4f6fb;
$bgLight: #fcfcff;
$borderMedium: #d4d8df;
$brand: #ae6ddf;
$brandDark: #9651ca;
$brandLight: #c38dec;
$brandUltralight: #edd6ff;
$footerBg: #202532;
$footerAccent: #84878e;
$link: #4a90e2;
$linkLight: #c0d8f5;
$silver: #d4d8df;
$success: #4fd061;
$successLight: #94e39f;
$textDark: #858495;
$textLight: #b2bbc6;
$textMedium: #9ca3ac;
$textUltradark: #66696f;
$warning: #ffad00;
$warningLight: #ffda8c;
