#explore-data {
  [purpose='page-container'] {
    max-width: 1200px;
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
  }
  [purpose='page-title'] {
    text-align: center;
    h1 {
      font-size: 48px;
      font-weight: 800;
      line-height: 57.6px;
    }
    p {
      color: @core-fleet-black-75;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-bottom: 24px;
    }
  }
  a {
    color: @core-fleet-black-75;
  }
  a:hover {
    text-decoration: none;
    [purpose='explore-data-card'] {
      box-shadow: 0px 4px 16px 0px #E2E4EA;
    }
  }
  [purpose='explore-data-card'] {
    padding: 43px 52px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 12px;
    box-shadow: none;
  }

  [purpose='card-body'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 240px;
    h4 {
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: 19.2px;
      margin-bottom: 4px;
    }
    p {
      margin-bottom: 0px;
    }
    img {
      height: 60px;
      width: auto;
      margin-bottom: 16px;
    }
  }
  @media (max-width: 1201px) {
    [purpose='page-container'] {
      padding-left: 60px;
      padding-right: 60px;
    }
    [purpose='card-body'] {
      width: unset;
    }
  }
  @media (max-width: 991px) {
    [purpose='page-container'] {
      padding-left: 40px;
      padding-right: 40px;
    }
    [purpose='explore-data-card'] {
      padding: 32px;
    }
  }
  @media (max-width: 767px) {
    [purpose='page-container'] {
      padding-top: 40px;
      padding-left: 24px;
      padding-right: 24px;
    }
    [purpose='card-body'] {
      width: 240px;
    }
    [purpose='explore-data-card'] {
      padding: 43px 52px;
      margin-bottom: 24px;
      margin-left: 0;
      margin-right: 0;
      border-radius: 12px;
      box-shadow: none;
    }
  }
  @media (max-width: 450px) {
    [purpose='card-body'] {
      width: 100%;
    }
  }
}
