#query-report {

  h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 28.8px;
    margin-bottom: 8px;
  }

  p {
    color: @core-fleet-black-75;
    font-size: 14px;
    line-height: 21px;
  }

  strong {
    color: @core-fleet-black;
  }

  a {
    color: @core-vibrant-blue;
    &:hover {
      text-decoration: none;
    }
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  [purpose='page-container'] {
    max-width: 1200px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }

  [purpose='host-details-card'] {
    margin-bottom: 60px;
    box-shadow: none;
    border-radius: 8px;
    padding: 40px;

  }

  [purpose='host-details'] {
    div:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  [purpose='host-selector'] {
    margin-right: 16px;
    min-width: 150px;
    height: 40px;
    border-radius: 8px;
    padding: 8px 12px;
    background: #FAFAFA;
    border: 1px solid @core-vibrant-blue-15;
    cursor: pointer;
  }

  [purpose='host-selector-dropwdown'] {
    cursor: pointer;
    width: 150px;
  }

  [purpose='query-results-container'] {
    width: calc(~'100% - 267px - 80px');
    flex-grow: 1;
    padding-right: 40px;
    padding-left: 20px;
  }

  [purpose='table-selector'] {
    width: 370px;
    height: 40px;
    border-radius: 8px;
    padding: 8px 12px;
    background: #FAFAFA;
    border: 1px solid @core-vibrant-blue-15;
    cursor: pointer;
  }

  [purpose='table-selector-dropwdown'] {
    width: 370px;
    cursor: pointer;
    max-height: 400px;
    overflow-y: scroll;
  }

  .edge-shadow {
    box-shadow: -4px 0 3px 0px rgba(0, 0, 0, 0.07) inset, 4px 0 3px 0px rgba(0, 0, 0, 0.07) inset;
  }

  .right-edge-shadow {
    box-shadow: -4px 0px 3px 0px rgba(0, 0, 0, 0.07) inset;
  }

  .left-edge-shadow {
    box-shadow: 4px 0 3px 0px rgba(0, 0, 0, 0.07) inset;
  }

  [purpose='table-description'] {
    margin-top: 24px;
    word-break: break-word;
    color: @core-fleet-black-75;
    font-size: 14px;
    p:first-child {
      font-size: 16px;
      margin-bottom: 24px;
    }
    ul {
      padding-inline-start: 16px;
    }
    li {
      padding-bottom: 8px;
    }
    code:not(.bash):not(.hljs):not(.nohighlight):not(.mermaid) {
      background: #F1F0FF;
      padding: 4px 8px;
      font-family: @code-font;
      font-size: 13px;
      line-height: 16px;
      color: @core-fleet-black;
    }
    pre {
      code {
        background: none;
        padding: 0px;
        font-family: @code-font;
        font-size: 13px;
        line-height: 16px;
        color: @core-fleet-black;
      }
      padding: 24px;
      border: 1px solid #E2E4EA;
      border-radius: 6px;
      margin: 0px 0px 40px;
      font-family: @code-font;
      background: #F9FAFC;
      white-space: break-spaces;
    }
    p, a {
      font-size: 14px;
    }
  }
  [purpose='table-container'] {
    margin-bottom: 24px;
    z-index: 0;
    position: relative;
    border-radius: 8px;
    border: 1px solid #D6DCE2;
  }
  [purpose='query-result-table'] {
    margin-bottom: 0px;
    p {
      color: @core-fleet-black-75;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 0px;
      white-space: nowrap;
    }
    [purpose='column-name'] {
      p {
        font-weight: 700;
        text-transform: capitalize;
        border-bottom: 1px dashed;
        display: inline;
      }
    }
    tbody {
      color: #515774;
      border-radius: 8px;
      td {
        max-height: 48px;
        height: 48px;
        padding-left: 16px;
        padding-right: 16px;
        border-right: 1px solid @border-lt-gray;
        border-top: 1px solid @border-lt-gray;
        position: relative;
      }
      tr {
        td:last-child {
          border-right: none;
        }
      }
      tr:first-child {
        td {
          border-top: none;
          background-color: rgba(0, 43, 128, 0.0235294);
          // background-color: #F9FAFC
        }
        td:first-child {
          border-top-left-radius: 8px;
        }
        td:last-child {
          border-top-right-radius: 8px;
        }
      }
      tr:last-child {
        td:first-child {
          border-bottom-left-radius: 8px;
        }
        td:last-child {
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
  [purpose='page-indicator'] {
    margin-bottom: 40px;
    a:not(:first-of-type) {
      padding-left: 8px;
    }
    a:not(:last-of-type) {
      padding-right: 8px;
    }
    a {
      color: @core-vibrant-blue;
      font-weight: 700;
      white-space: nowrap;
      cursor: pointer;
      user-select: none;
      [purpose='previous-chevron'] {
        display: inline;
        height: 8px;
        width: 4px;
        margin-right: 8px;
      }
      [purpose='next-chevron'] {
        display: inline;
        height: 8px;
        width: 4px;
        margin-left: 8px;
      }
    }
  }

  [purpose='call-to-action-container'] {
    width: 269px;
    margin-left: 20px;
    [purpose='call-to-action-card'] {
      padding: 16px;
      border-radius: 8px;
      box-shadow: none;
    }
    [purpose='banner-text'] {
      h3 {
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 24px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
      }
      a {
        color: #FFF;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        margin-bottom: 24px;
      }
      [purpose='fleetctl-link'] {
        a {
          color: @core-vibrant-blue;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: center;
          margin-bottom: 4px;
          height: auto;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          text-align: center;
          margin-bottom: 8px;
        }

      }

    }
    [purpose='banner-image'] {
      height: auto;
      width: 100%;
      img {
        margin-bottom: 24px;
        height: auto;
        width: 100%;
      }
    }
  }

  @media (max-width: 1201px) {
    // <1201 width:
  }
  @media (max-width: 991px) {
    // <992 width:
    //  - The pages padding is reduced: 80px » 40px
    //  - The available-data div's horizontal padding is reduced to 0
    //  - The call to action banner's width is reduced: 269px » 214px
    [purpose='page-container'] {
      padding-left: 40px;
      padding-right: 40px;
    }
    [purpose='query-results-container'] {
      padding-right: 0px;
      padding-left: 0px;
    }
    [purpose='call-to-action-container'] {
      width: 214px;
    }

  }
  @media (max-width: 767px) {
    // <768px width:
    // - The layout of the page shifts to a column layout.
    // - the padding of the host-details-card is reduced.
    // - The host selector's width is set to 100%
    // - The call to action's width is increased to 100% and it is now stacked under the table
    // - The available-data div's width is increased to 100%
    [purpose='host-details-card'] {
      padding: 32px 24px;
    }
    [purpose='host-details'] {
      div:not(:last-of-type) {
        margin-right: unset;
      }
    }
    [purpose='host-selector-container'] {
      width: 100%;
    }
    [purpose='host-selector'] {
      margin-right: unset;
      width: 100%;
    }
    [purpose='host-selector-dropwdown'] {
      width: calc(~'100% - 48px');
      cursor: pointer;
    }
    [purpose='query-results-container'] {
      width: 100%;
    }
    [purpose='call-to-action-container'] {
      max-width: unset;
      width: 100%;
      margin-left: 0px;
      [purpose='banner-image'] {
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 576px) {
    // <577px width:
    // - The page's padding is reduced to 20px.
    // - The table selector's width is increased to 100%
    [purpose='page-container'] {
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    [purpose='table-selector'] {
      width: 100%;
    }
    [purpose='table-selector-dropwdown'] {
      width: calc(~'100% - 40px');
      overflow-x: hidden;
      .dropdown-item {
        padding-left: 8px;
        padding-right: 16px;
        span {
          max-width: calc(~'100% - 40px');
          white-space: break-spaces;
        }
      }
    }
  }
}


