#register {
  p {
    font-size: 14px;
    line-height: 20px;
    color: @core-fleet-black-75;
  }
  h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 38.4px;
    margin-bottom: 16px;
  }
  a {
    color: @core-vibrant-blue;
    cursor: pointer;
  }
  input {
    padding: 16px;
    border-radius: 12px;
  }
  input:focus-visible {
    border: 1px solid @core-vibrant-blue;
    outline: none;
  }
  input::placeholder {
    color: #8B8FA2;
  }
  .selectbox {
    position: relative;
  }
  .selectbox::after {
    content: url('/images/chevron-12x8@2x.png');
    right: 14px;
    transform: scale(0.5);
    top: 14px;
    position: absolute;
    pointer-events: none;
  }
  .selectbox select {
    color: #8B8FA2;
    border-radius: 6px;
    height: 48px;
    appearance: none;
    -webkit-appearance: none;
  }
  [purpose='legal-text'] {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }
  [purpose='error-message'] {
    font-size: 16px;
  }
  [parasails-component='cloud-error'] {
    padding: 16px 10px 16px 16px;
  }
  [parasails-component='ajax-button'] {
    border-radius: 12px;
    font-size: 16px;
    line-height: 18px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
  [parasails-component='modal'] {
    [purpose='modal-content'] {
      margin-top: 0px;
      max-width: 100vw;
      height: 100vh;
      width: 100vw;
      background-color: #192147;
      border: 0;
      padding: 120px;
      box-shadow: none;
      overflow: hidden;
      [purpose='modal-close-button'] {
        margin-top: 40px;
        margin-right: 40px;
        color: #FFF;
        opacity: 1;
      }
    }
    [purpose='modal-dialog'] {
      max-width: 100%;
      margin: 0;
    }
    [purpose='embedded-content'] {
      position: relative;
      padding-bottom: 54.5%;
      padding-top: 25px;
      width: 100%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (max-width: 768px) {
    padding-top: 0px;
  }
}
