#sandbox-expired {
  background-color: #FFF;
  p {
    font-size: 14px;
    line-height: 20px;
  }
  h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
  }
  a {
    color: @core-vibrant-blue;
    cursor: pointer;
  }
  input {
    padding: 16px;
    border-radius: 12px;
  }
  input:focus-visible {
    border: 1px solid @core-vibrant-blue;
    outline: none;
  }
  input::placeholder {
    color: #8B8FA2;
  }
  [purpose='sandbox-image'] {
    width: 300px;
    margin-right: 65px;
  }
  [purpose='error-message'] {
    font-size: 16px;
  }
  [purpose='next-steps-button'] {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px;
    img {
      display: inline;
      height: 24px;
      width: auto;
      padding-top: 0px;
      padding-bottom: 0px;
      margin: 0px;
    }
  }
  [parasails-component='cloud-error'] {
    padding: 16px 10px 16px 16px;
  }
  [parasails-component='ajax-button'] {
    border-radius: 12px;
    font-size: 16px;
    line-height: 18px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
  @media (max-width: 768px) {
    padding-top: 0px;
    [purpose='sandbox-image'] {
      margin-right: 0px;
      margin-bottom: 16px;
      width: 250px;
    }
  }

}
