#waitlist {
  padding-top: 80px;
  p {
    font-size: 16px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
  }
  [purpose='homepage-button'] {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 16px 32px;
    height: 40px;
    color: #FFF;
    cursor: pointer;
    background-color: @core-vibrant-blue;
    border-radius: 6px;
    width: 300px;
    &:hover {
      text-decoration: none;
    }
  }
  @media (max-width: 768px) {
    padding-top: 40px;
  }


}
