.queries-list {
  background-color: $core-white;
  border: 1px solid $ui-fleet-blue-15;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: $pad-medium;
  overflow: scroll;

  a {
    font-size: $x-small;
    color: $core-vibrant-blue;
    font-weight: $bold;
    text-decoration: none;

    img {
      width: 12px;
      height: 12px;
      margin-left: 7px;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;

    thead {
      background-color: $ui-off-white;
      border-bottom: 1px solid $ui-fleet-blue-15;

      .form-field {
        margin: 0;
      }

      th {
        font-size: $x-small;
        font-weight: $bold;
        text-align: left;
        padding: $pad-medium $pad-large;

        &:nth-child(1) {
          width: 30px;
        }
      }

      th + th {
        border-left: 1px solid $ui-fleet-blue-15;
      }
    }

    tbody {
      td {
        padding: 0 $pad-large;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        p {
          font-size: $x-small;
        }

        &:nth-child(1) {
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}
