.action-buttons {
  display: flex;

  button {
    margin-left: $pad-medium;
  }

  &__secondary-buttons {
    display: none;
    @media (min-width: $break-md) {
      display: flex;
    }
  }

  &__secondary-dropdown {
    .icon {
      padding-left: 6px;
    }
    .dropdown-button {
      margin-left: $pad-large;
    }
    .dropdown-button__options {
      padding: $pad-small;
      right: 10px;
      margin-top: 2px;

      button {
        display: inline-block;
        min-width: 125px;

        &:hover,
        &:focus {
          background-color: $ui-vibrant-blue-10;
          color: $core-fleet-black;
        }
      }
    }

    @media (min-width: $break-md) {
      display: none;
    }
  }
}
