.host-users-list-row {
  line-height: 38px;
  border-bottom: 1px solid $ui-fleet-blue-15;

  &__username {
    max-width: 280px;
  }

  &__groupname {
    max-width: 280px;
  }

  &:last-child {
    border-bottom: 0;
  }

  td {
    font-size: $x-small;

    .form-field {
      margin: 0;
    }
  }

  &__name {
    @include ellipsis(120px);
    display: table-cell;
  }
}
