.schedule-list-row {
  border-bottom: 1px solid $ui-fleet-blue-15;
  cursor: pointer;

  &--selected {
    background-color: $ui-vibrant-blue-25;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $ui-vibrant-blue-10;
  }

  &:last-child {
    border-bottom: 0;
  }

  &__td {
    color: $core-fleet-black;
    font-weight: $regular;
    font-size: $x-small;
    padding: 0 $pad-large;
    margin: 0;
    line-height: 2.71;

    &:first-child {
      text-align: center;
      vertical-align: middle;
    }
  }

  &__td-pack-name {
    @include ellipsis(110px);
    display: table-cell;
    text-align: left;
  }

  &__checkbox {
    margin-bottom: 0;
  }

  &__disabled-icon {
    margin-bottom: 1px;
    height: 8px;
    width: 8px;
    background-color: $ui-fleet-black-25;
    border-radius: 50%;
    display: inline-block;
  }

  &__enabled-icon {
    margin-bottom: 1px;
    height: 8px;
    width: 8px;
    background-color: $ui-success;
    border-radius: 50%;
    display: inline-block;
  }

  &__status-icon {
    &--enabled {
      color: $ui-success;
    }

    &--disabled {
      color: $ui-error;
    }
  }

  &__status-text {
    color: $core-fleet-black;
    font-weight: $regular;
    margin-left: 10px;

    @include breakpoint(smalldesk) {
      display: none;
    }
  }
}
