.query-results {
  .info-banner {
    margin: 2rem auto 1.25rem;
  }

  .data-table__wrapper {
    overflow-x: scroll;
  }

  .data-table-block .data-table thead th {
    min-width: 140px;
    padding-left: 0px;
    padding-right: $pad-large;
    border-right: 0;

    &:first-of-type {
      padding-left: $pad-large;
    }
  }

  .data-table-block .data-table tbody td {
    padding-left: 0px;
    padding-right: $pad-large;

    &:first-of-type {
      padding-left: $pad-large;
    }
  }

  &__results-table-header,
  &__errors-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $pad-xlarge;
    font-size: $x-small;
  }

  &__results-count,
  &__error-count {
    font-weight: $bold;
  }
}
