.target-info-modal {
  &__btn-wrapper {
    text-align: right;

    button {
      &:first-child {
        margin-right: $xsmall;
      }
    }
  }

  &__header {
    font-size: $base;

    i {
      margin-right: $xsmall;
    }

    span {
      color: $text-dark;
    }
  }

  &__table {
    border-collapse: collapse;
    color: $text-medium;
    font-size: $medium;
    text-align: left;
    width: 100%;

    thead {
      color: $text-ultradark;
      font-size: $small;
    }

    tr {
      border-bottom: 1px solid $accent-medium;

      &:last-child {
        border-bottom: 0;
      }

      &__label-row {
        color: $text-dark;
        font-size: $xsmall;
      }
    }

    th {
      width: 200px;
    }
  }
}

.label-modal {
  &__description {
    color: $text-medium;
    font-size: $small;
    margin-top: 0;
  }

  &__num-hosts-section {
    display: inline-block;
    position: relative;
    width: 150px;

    .num-hosts {
      bottom: 0;
      color: $text-medium;
      font-size: $medium;
      font-weight: $bold;
      position: absolute;
      right: 0;
    }
  }

  &__search-section {
    @include display(flex);
    @include justify-content(space-between);
    margin-bottom: $base;
  }

  &__text-editor-wrapper {
    margin-bottom: $base;
  }
}

.host-modal {
  &__status {
    margin-top: 0;

    &--is-online {
      color: $success;
    }

    &--is-offline {
      color: $alert;
    }
  }

  &__labels-wrapper {
    color: $text-medium;

    &--header {
      font-size: $base;

      i {
        margin-right: $xsmall;
      }
    }
  }

  &__platform-text {
    margin-left: 5px;
    text-transform: capitalize;
  }
}
