.secret-field {
  &__secret {
    display: flex;
    align-items: center;
    .buttons {
      display: flex;
      gap: 12px;
      justify-content: flex-end;
      position: absolute;
      left: 466px;
      min-width: 130px;
    }
  }
  &__secret-input {
    .input-field {
      width: 100%;
      padding-right: 16%;

      &--disabled {
        letter-spacing: 0;
      }

      &--password {
        letter-spacing: 4px;
      }
    }
  }

  &__copy-secret-icon {
    color: $core-vibrant-blue;
  }

  &__copy-message {
    @include copy-message;
  }

  &__secret-download-icon {
    display: block;
    font-size: $x-small;
    color: $core-vibrant-blue;
    font-weight: $bold;

    a {
      display: flex;
      align-items: center;
    }

    img {
      width: 12px;
      height: 12px;
      margin-left: 7px;
    }
  }
}
