.performance-impact-cell {
  .__react_component_tooltip {
    @include tooltip-text;
  }
}

.data-table__pill {
  color: $core-fleet-black;

  &--undetermined {
    color: $ui-fleet-black-50;
    font-style: italic;
  }
}
