.config-options-form {
  clear: both;
  padding-top: 25px;

  &__options {
    @include clearfix;
    margin: 0;
    padding: 25px 0 0;
    list-style: none;
    border-top: 1px solid $accent-medium;
  }

  &__option {
    border-bottom: 1px dashed $accent-medium;
    margin: 0 0 $pad-small;
  }

  &__option-header {
    span {
      font-size: 15px;
      font-weight: $normal;
      line-height: 2.5;
      letter-spacing: 0.6px;
      color: $text-medium;
      text-transform: uppercase;
      display: inline-block;
    }

    &-name {
      padding: 0 50px 0 40px;
      width: 300px;
    }
  }

  &__form {
    @include display(flex);

    .form-field--dropdown {
      width: 300px;
      margin-right: 50px;
      margin-left: 15px;
    }

    .form-field--input {
      @include flex-grow(1);
    }
  }

  &__remove {
    height: 40px;
    color: $alert;
    font-size: 24px;
  }

  &__field {
    width: 100%;
  }
}
