$circle-slice: #48c586;
$circle-background: rgba($circle-slice, 0.2);
$circle-size: 60px;

.kolide-circle-loader {
  @include size($circle-size);
  border-radius: 50%;
  border: #{$circle-size / 12} solid $circle-background;
  border-left-color: $circle-slice;
  transform: rotate(0deg);
  animation: spin-circle 1s linear infinite;
}

@keyframes spin-circle {
  100% {
    transform: rotate(360deg);
  }
}
