# binaries
kolide-ose
*.exe

# output directories
build
vendor
node_modules

# generated artifacts
assets/bundle.*
assets/*@*.svg
bindata.go
*.cover
*.test
*.log

# typescript generated test files
tmp/ 

# operating system artifacts
.DS_Store
