# Fleet is, in large part, a Go app, so to avoid confusion we'll help GitHub understand that.
# Thanks @wabri, @brymon68, and Linguist!
#  - https://github.community/t/how-to-change-the-category/2261/3)
#  - https://github.com/github/linguist/issues/4769
#  - https://github.com/github/linguist/blob/2a6f9e29e198afbaa721164680bbc3b292dad260/docs/overrides.md#vendored-code
website/ linguist-vendored
website/* linguist-vendored
website/** linguist-vendored

# windows is funny about line endings see https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings for more details
# test TestCertificateChain in server/service/service_certificate_test.go was having issues on Windows
server/service/testdata/server.key text eol=lf
server/service/testdata/server.pem text eol=lf