# markdown
*.md

# output directories
build
vendor
node_modules

# generated artifacts
assets/bundle*.*
assets/*@*.svg
assets/*@*.png
assets/*@*.eot
assets/*@*.woff
assets/*@*.woff2
assets/*@*.ttf
frontend/templates/react.tmpl
bindata.go
server/bindata/generated.go
*.cover
*.test
*.log

# typescript generated test files
tmp/

# editors
.vscode
.idea

# fleetdm.com website (uses its own formatting conventions)
website/

# certain frontend files that are not meant to be formatted
frontend/components/FleetAce/mode.ts
frontend/components/FleetAce/theme.ts

# github workflow yaml, which may contain shell scripts that shouldn't be formatted
.github/workflows/*