# Go engineers are automatically added as reviewers when changes are made to go
# files or related backend files.
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

# Infra/terraform
*.tf @edwardsb @zwinnerman-fleetdm @rfairburn
/infrastructure/ @zwinnerman-fleetdm @edwardsb @rfairburn

# GitHub settings + actions
/.github/ @fleetdm/g-platform

# Codeowners file
/CODEOWNERS @zwass @mikermcneil

# Changelog
/CHANGELOG.md @noahtalerman

# Fleet documentation
/docs/ @chris-mcgillicuddy

# REST API reference documentation
/docs/Using-Fleet/REST-API.md @ksatter
/docs/Contributing/API-for-contributors.md @ksatter

# Standard query library YAML
/docs/01-Using-Fleet/standard-query-library/standard-query-library.yml @guillaumeross

# Articles
/articles @chris-mcgillicuddy

# Website
/website/ @eashaw
/website/views/ @eashaw
/website/assets/ @eashaw

# Website redirects and URLs
/website/config/routes.js @eashaw

# Website backend, scripts, deps
/website/api/ @mikermcneil
/website/config/ @mikermcneil
/website/scripts/ @mikermcneil
/website/package.json @eashaw

# GitHub brandfront
/README.md @chris-mcgillicuddy

# NPM brandfront (npmjs.com/package/fleetctl)
/tools/fleetctl-npm/README.md @chris-mcgillicuddy

# Handbook
/handbook/company @mikermcneil
/handbook/people @charlottechance
/handbook/security @guillaumeross
/handbook/engineering @zwass
/handbook/product @noahtalerman
/handbook/sales @alexmitchelliii
/handbook/customers @tgauda
/handbook/growth @timmy-k
/handbook/community @timmy-k
/handbook/digital-experience @mike-j-thomas @chris-mcgillicuddy
/handbook/README.md @chris-mcgillicuddy
/handbook/handbook @chris-mcgillicuddy

#
# For configuration that determines auto-approval + auto-unfreezing, so that contributors
# can merge their own PRs without additional approval, please see the latest version of:
# https://github.com/fleetdm/fleet/blob/74f65447b718663bd04df31ea1da28915d98792c/website/config/custom.js#L88-L128
#
