.query-side-panel {
  position: relative;
  overflow: unset !important; // was unnecessary and broke close button positioning

  &__close-button {
    width: 24px;
    height: 24px;
    border: 1px solid $ui-fleet-black-25;
    border-radius: 12px;
    background-color: $core-white;
    position: absolute;
    top: 40px;
    left: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;

    img {
      transform: scale(0.5);
    }

    &:focus {
      outline: none;
    }
  }

  &__choose-table {
    margin: 0 0 $pad-large;

    .form-field {
      margin-bottom: $pad-medium;
    }
  }

  &__header {
    margin: 0 0 $pad-medium;
    font-size: $small;
    font-weight: $bold;
    display: flex;
    align-items: center;
  }

  &__table-count {
    line-height: normal;
    margin-left: $pad-small;
    background-color: $ui-fleet-blue-15;
    padding: $pad-xsmall $pad-small;
    border-radius: 8px;
    font-size: $x-small;
  }

  &__evented-table-tag {
    display: inline-flex;
    align-items: center;
    background-color: $ui-fleet-blue-15;
    padding: $pad-xsmall $pad-small;
    border-radius: 6px;
    font-size: $xxx-small;
    font-weight: $bold;
  }

  &__event-icon {
    margin-right: $pad-small;
  }

  &__description {
    font-size: $x-small;
    overflow-wrap: break-word;
  }
}
