.query-side-panel {
  padding: 0 28px;

  &__header {
    margin: 0 0 16px;
    font-size: $x-small;
    font-weight: $bold;
    color: $core-black;
  }

  &__choose-table {
    margin: 40px 0 16px;

    .form-field {
      margin-bottom: 16px;
    }

    .Select {
      margin: 0 0 $pad-half;
    }
  }

  &__description {
    font-size: $x-small;
    font-style: italic;
    color: $core-black;
    margin: 0;
  }

  &__platforms {
    font-size: 14px;
    color: $core-black;
    list-style: none;
    margin: 0 0 24px;
    padding: 0;

    .kolidecon {
      font-size: 18px;
      margin-right: 16px;
    }

    .icon {
      margin-right: 16px;
      width: 20px;
      height: 20px;
    }

    li {
      height: 20px;
      display: flex;
      align-items: center;
      padding-bottom: 16px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__columns,
  &__suggested-queries {
    margin: 0 0 24px;
  }

  &__column-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__column-wrapper {
    display: flex;
    margin: 0 0 15px;
    padding-top: $pad-half;
    border-top: 1px solid $ui-borders;
  }

  &__suggestion {
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.5px;
    text-align: left;
    color: $core-black;
  }

  &__load-suggestion {
    align-self: center;
    padding: 1px 5px;
    margin: 0 0 0 10px;
  }
}

.query-column-list {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $core-black;
    font-size: px-to-rem(14);
    padding: 12px 0;

    &:first-of-type {
      border: 0;
    }
  }

  &__name {
    padding: 4px 8px 4px 0px;
    font-weight: $bold;
    color: $core-black;
  }

  &__description {
    flex-grow: 1;
    text-align: right;
  }

  &__type {
    font-size: $x-small;
    color: $core-black;
  }
}
