.query-results {
  padding: $pad-xxxlarge $pad-xxlarge;

  .info-banner {
    margin: 2rem auto 1.25rem;
  }

  &__text-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: $x-small;

    span {
      font-weight: $bold;
    }

    span:not(:last-of-type) {
      margin-bottom: $pad-small;
    }

    .icon-tooltip {
      margin-left: $pad-small;
    }
  }

  &__btn-wrapper {
    margin-top: $pad-large;
    margin-bottom: $pad-xxlarge;
    display: flex;
    align-items: center;

    .button {
      padding: $pad-small $pad-medium;

      &:not(:last-of-type) {
        margin-right: $pad-small;
      }
    }
  }

  &__export-btn {
    img {
      width: 13px;
      height: 13px;
      margin-left: 8px;
      position: relative;
      top: -2px;
    }
  }

  .table-container {
    &__header {
      display: none;
    }
  }

  .data-table__wrapper {
    overflow-x: scroll;
  }

  .data-table-block .data-table thead th {
    min-width: 140px;
    padding-left: 0px;
    padding-right: $pad-large;
    border-right: 0;

    &:first-of-type {
      padding-left: $pad-large;
    }
  }

  .data-table-block .data-table tbody td {
    padding-left: 0px;
    padding-right: $pad-large;

    &:first-of-type {
      padding-left: $pad-large;
    }
  }

  &__results-count,
  &__error-count {
    font-size: $x-small;
    font-weight: $bold;
    margin-right: $pad-medium;
  }
}
