.queries-list-row {
  line-height: 38px;
  border-bottom: 1px solid $ui-borders;

  &:last-child {
    border-bottom: 0;
  }

  &--selected {
    background-color: $core-blue-selected;
  }

  &:hover {
    cursor: pointer;
    background-color: $core-blue-selected;
  }

  &:active,
  &:focus {
    outline: none;
  }

  td {
    font-size: $x-small;

    .form-field {
      margin: 0;
    }
  }

  &__name {
    @include ellipsis(120px);
    display: table-cell;
  }
}
