.delete-user-form {
  margin-top: $pad-large;

  &__name {
    font-weight: $bold;
  }

  &__warning {
    color: $alert
  }

  &__btn-wrap {
    display: flex;
    flex-direction: row-reverse;
  }

  &__btn {
    font-size: $small;
    height: 38px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding: 0;
    width: 120px;
  }
}
