.smtp-warning {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $alert;
  color: $white;
  padding: 15px 20px;
  border-radius: 2px;
  font-size: 15px;
  margin: 0 0 25px;

  &__icon-wrap {
    min-width: 130px;
    line-height: 20px;
  }

  &__label {
    font-weight: $bold;
    margin-left: 15px;
    text-transform: uppercase;
  }

  &__text {
    flex-grow: 1;
    line-height: 20px;
  }

  .button {
    color: $white;
    font-size: 15px;
    text-decoration: underline;
    font-weight: $light;
    letter-spacing: 0.6px;
    margin-left: 15px;
  }
}

