.os-updates {
  font-size: $x-small;

  &__description {
    margin: $pad-xxlarge 0;
  }

  &__content {
    max-width: $break-xxl;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: $pad-xxlarge;
  }

  &__form-table-content, &__nudge-preview {
    flex-grow: 1;
  }

  &__os-versions-card {
    margin-bottom: $pad-xxlarge;
  }

  &__premium-feature-message {
    margin-top: 80px;
  }

  @media (max-width: $break-md) {
    &__content {
      flex-direction: column;
    }
  }
}
