.os-updates {
  margin-top: 22px; // 32 px total, 10 from react-tabs
  display: flex;
  flex-direction: column;
  gap: $pad-xxlarge;

  &__description {
    margin: 0;
  }

  &__os-versions-card {
    margin-bottom: $pad-xxlarge;
  }

  &__premium-feature-message {
    margin-top: 80px;
  }
}
