.targets-input {
  max-width: 980px;
  position: relative;
  
  &__hosts-search-dropdown {
    width: 100%;
    min-height: 200px;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    background-color: $core-white;
    box-shadow: 0px 4px 10px rgba(52, 59, 96, 0.15);
    border-radius: 0px 0px 8px 8px;

    .table-container {
      max-height: 400px;
      overflow: auto;
    }
  }
  // hack because it's creating unwanted space
  .table-container {
    background-color: $core-white;

    &__header {
      display: none;
    }
    .data-table {
      &__wrapper {
        margin: 0;
      }
    }
  }
  &__hosts-selected-table {
    margin-top: px-to-rem(8);
  }
}