.show-query-modal {
  &__btn-wrap {
    display: flex;
    flex-direction: row-reverse;
    margin: $pad-large 0 0;
  }

  &__btn {
    margin-left: 12px;
  }

  .yaml-ace {
    min-height: 0;
  }

  .yaml-ace__label {
    height: 0;
  }
}
