.software-package-card {
  display: flex;
  flex-direction: column;
  gap: $pad-large;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main-content {
    display: flex;
    align-items: flex-start;
    gap: $pad-xxlarge;
  }

  &__main-info {
    display: flex;
    gap: $pad-medium;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $pad-xsmall;
  }

  &__title {
    font-size: $x-small;
    font-weight: $bold;
    @include ellipse-text;
    max-width: 290px;
  }

  &__details {
    font-size: $xx-small;
  }

  &__package-statuses {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid $ui-fleet-black-10;
  }

  &__status {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-right: 1px solid var(--UI-Fleet-Black-10, #e2e4ea);

    &:last-child {
      border-right: none;
    }
  }

  &__status-title > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $pad-small;
  }

  &__status-count {
    font-weight: normal;
  }

  &__actions-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: $pad-medium;
  }

  &__self-service-badge {
    display: flex;
    height: 18px;
    padding: 3px 6px;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid $ui-fleet-black-10;
    background: $ui-off-white;
    color: $ui-fleet-black-75;
    font-size: $xx-small;
    font-weight: $bold;
  }

  &__actions {
    @include button-dropdown;
    color: $core-fleet-black;
    .Select-multi-value-wrapper {
      width: 55px;
    }
    .Select > .Select-menu-outer {
      left: -120px;
    }
    .Select-placeholder {
      color: $core-fleet-black;
    }
  }

  &__download-icon {
    display: flex;
    justify-content: center;
    width: 44px;
  }
}
