.license-success {
  @include display(flex);
  @include align-content(center);
  @include justify-content(center);
  @include flex-grow(1);
  padding: 20px;

  h2 {
    @include display(flex);
    border-bottom: 1px solid $accent-medium;
    color: #48c586;
    font-size: 24px;
    font-weight: $bold;
    line-height: 50px;
    margin-top: 0;
    padding-bottom: 15px;

    i {
      font-size: 50px;
      margin-right: 15px;
    }
  }

  h3 {
    @include display(flex);
    color: $link;
    font-size: 24px;
    font-weight: $bold;
    line-height: 43px;
    margin-top: 0;

    img {
      height: 43px;
      margin-right: 15px;
    }
  }

  h4 {
    color: #48c586;
    font-size: 16px;
    font-weight: $bold;
  }

  &__container {
    @include align-self(center);
    @include size(500px auto);
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 25px 35px;
    margin-top: -55px;
  }

  ul {
    padding-left: 0;
    text-decoration: none;

    li {
      @include display(flex);
      font-size: 24px;
      line-height: 48px;
      margin-bottom: 30px;

      i {
        font-size: 48px;
        margin-right: 18px;
      }
    }
  }

  a {
    background-color: #48c586;
    border-radius: 4px;
    box-shadow: 0 6px 6px 0 rgba(32, 36, 50, 0.24), 0 6px 0 0 #1d9056;
    display: block;
    font-size: 24px;
    font-weight: $bold;
    height: 60px;
    line-height: 60px;

    &:hover {
      background-color: #48c586;
    }
  }
}

