.label-form {
  &__label-title,
  &__label-description {
    width: 100%;
  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;

    .query-form__run-query-btn,
    .query-form__stop-query-btn {
      margin-left: $pad-xsmall;
    }

    .kolide-timer {
      display: block;
    }
  }

  &__cancel-btn {
    margin-right: 14px;
  }

  &__save-btn {
    padding: 7px 28px;
  }

  &__text-editor-wrapper {
    margin: 24px 0;
  }
}
