.label-form {
  &__label-title,
  &__label-description {
    width: 100%;
  }

  &__label-platform {
    font-size: $x-small;
    font-weight: $regular;
    color: $core-fleet-black;
    padding-bottom: $pad-large;

    p {
      padding-bottom: $pad-small;
      margin-top: 0;
      margin-bottom: 0;
    }

    .title {
      font-weight: $bold;
    }

    .hint {
      color: $core-fleet-blue;
      padding-top: $pad-small;
    }

  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;

    .query-form__run-query-btn,
    .query-form__stop-query-btn {
      margin-left: $pad-xsmall;
    }

    .kolide-timer {
      display: block;
    }
  }

  &__cancel-btn {
    margin-right: $pad-medium;
  }

  &__save-btn {
    padding: 7px 28px;
  }

  &__text-editor-wrapper {
    margin: $pad-large 0;
  }
}
