.data-set {
  display: flex;
  flex-direction: column;
  font-size: $x-small;
  gap: $pad-xsmall;

  &__horizontal {
    display: flex;
    gap: $pad-small;
  }

  dt {
    font-weight: $bold;
    display: flex;
  }

  dd {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
