.data-set {
  display: flex;
  flex-direction: column;
  font-size: $x-small;
  gap: $pad-xsmall;

  dt {
    font-weight: $bold;
    display: flex;
    align-items: baseline;
    color: $core-fleet-black;
    line-height: $line-height;
  }

  dd {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--text-only dd {
    align-items: baseline;
  }

  &__horizontal {
    flex-direction: row;
  }
}
