#basic-article {

  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  h3 {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  h4 {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  p {

  }
  ul, ol {
    padding-inline-start: 20px;
  }
  li {
    padding-bottom: 16px;
  }
  li::marker {
    color: @core-vibrant-blue;
  }


  [purpose='article-title'] {
    padding-top: 80px;
    h1 {
      margin-bottom: 24px;
      line-height: 38px
    }
  }
  [purpose='article-details'] {
    font-size: 14px;
    line-height: 20px;
    span {
      color: @core-fleet-black-50;
    }
    p {
      margin-block-end: 0px;
    }
    img {
      height: 28px;
    }
  }
  [purpose='article-content'] {
    padding-top: 24px;
    padding-bottom: 80px;
    h1:first-of-type {
      display: none;
    }
    img {
      width: 100%;
      padding: 0px 24px 24px 24px;
    }
  }

}
