.hash-cell {
  display: flex;
  flex-direction: row;
  gap: $pad-xsmall;

  &__sha256 {
    display: flex;
    align-items: center;
    margin: -$pad-small 0; // Remove vertical padding but keep clickable area
  }

  &__copy-overlay {
    display: flex;
    position: relative;
    left: -100px; // diff from installer details widget
    height: 25px; // diff from installer details widget
    align-self: center; // diff from installer details widget
  }

  &__sha-copy-button {
    display: flex;
    align-items: center;
  }

  &__copy-message {
    @include copy-message;
  }
}
