.vpp-page {
  &__back-to-mdm {
    margin-bottom: $pad-xlarge;
  }

  &__page-content {
    display: flex;
    flex-direction: column;
    gap: $pad-xxlarge;
  }

  &__page-header-section {
    display: flex;
    flex-direction: row;
    gap: $pad-large;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin-bottom: 0;
      font-size: $large;
    }
  }

  &__add-vpp-message {
    margin: 0 auto;
    text-align: center;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > h2 {
      margin-bottom: $pad-small;
      font-size: $small;
      font-weight: $bold;
    }

    > p {
      margin: 0 0 $pad-medium;
    }
  }

  &__url-inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: $pad-icon;
    margin-top: $pad-large;
  }

  &__url-input {
    margin-bottom: 0;
  }

  // TODO: remove these styles when the updated error component is used
  .data-error {
    margin: $pad-xxlarge 0;
    padding: $pad-xlarge 0;
  }

  .data-error__inner {
    padding: $pad-xlarge 0;
  }
}
