.agent-options {
  font-size: $x-small;

  &__page-description {
    padding-top: 40px;
    padding-bottom: $pad-medium;
    margin: 0;
  }

  &__form-wrapper {
    margin-top: 20px;
  }

  a {
    color: $core-vibrant-blue;
    font-size: $x-small;
    font-weight: $bold;
    text-decoration: none;
  }

  .icon {
    width: 12px;
    height: 12px;
  }
}
