.pack-info-side-panel {
  @include vertical-page-tab-panel-layout;

  &__title {
    font-size: $small;
    font-weight: $bold;
    color: $core-fleet-black;
  }

  &__subtitle {
    font-size: $x-small;
    font-weight: $bold;
    color: $core-fleet-black;
  }

  &__description {
    @include vertical-page-tab-panel-layout;
  }

  h4 {
    margin: 0;
  }

  p,
  ul {
    font-size: $x-small;
    color: $ui-fleet-black-75;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-left: 16px;
  }

  dl {
    dt {
      font-weight: $bold;
      font-size: $x-small;
      color: $ui-fleet-black-75;

      img {
        height: 16px;
        width: auto;
        margin-right: 8px;
      }

      span {
        vertical-align: 2px;
      }
    }
  }
}
