.pack-info-side-panel {
  background-color: $white;
  bottom: 0;
  border-left: 1px solid $border-medium;
  box-sizing: border-box;
  overflow: scroll;
  padding: 30px;

  &__title {
    font-size: 18px;
    font-weight: $normal;
    letter-spacing: 0.7px;
    color: $text-dark;
    border-bottom: 1px solid $accent-light;
    padding-bottom: 8px;
    margin: 0 0 4px;
  }

  &__subtitle {
    font-size: 16px;
    letter-spacing: 0.7px;
    color: $text-dark;
    margin: 0 0 10px;
    padding-top: 15px;
  }

  p,
  ul {
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.5px;
    color: #858495;
  }

  dl {
    dt {
      font-weight: $bold;
      font-size: 13px;
      line-height: 1.85;
      letter-spacing: 0.5px;
      color: #858495;

      .kolidecon {
        font-size: 20px;
        margin-right: 5px;
      }

      span {
        vertical-align: 2px;
      }
    }

    dd {
      font-size: 13px;
      line-height: 1.85;
      letter-spacing: 0.5px;
      color: #858495;
      margin-left: 30px;
    }
  }
}
