#basic-documentation {

  h1 {
    font-size: 28px;
    line-height: 34px;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }


  a {
    color: @core-vibrant-blue;
  }

  ul {
    list-style: none;
    padding-left: 8px;

    li {
      padding-bottom: 8px;
    }

  }
  .markdown-heading:hover {

    .markdown-link {
      height: 16px;
      vertical-align: middle;
      margin-left: 8px;
      content: url('/images/icon-link-16x16@2x.png');
    }

  }
  .markdown-heading.copied::before {
    content: 'Link copied to clipboard';
    display: flex;
    font-weight: 400;
    position: relative;
    top: -25px;
    height: 0px;
    font-size: 14px;
    // line-height: 14px;
    color: @core-vibrant-blue;
    animation-name: copiedText;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }

  @keyframes copiedText {
    0% {opacity: 0;}
    20% {opacity: 100;}
    30% {opacity: 80;}
    50% {opacity: 60;}
    70% {opacity: 40;}
    80% {opacity: 20;}
    100% {opacity: 0;}
  }


  [purpose='search'] {

    input {
      padding-top: 6px;
      padding-bottom: 6px;
      border: none;
      } &::placeholder {
        font-size: 16px;
        line-height: 24px;
      }

    .input-group {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border: 1px solid @core-fleet-black-25;
    }

    .input-group:focus-within {
      border: 1px solid @core-vibrant-blue;
    }

    .docsearch-input {
      height: 100%;
      width: 98%;
    }

    .ds-input:focus {
      outline: rgba(0, 0, 0, 0);
    }

    .input-group-text {
      color: @core-fleet-black-50;
    }

    .form-control {
      height: 48px;
      padding: 0px;
      font-size: 16px;
    } &:focus {
      border: none;
    }

  }

  [purpose='docs-landing-page'] {

    h3 {
      font-size: 24px;
      line-height: 32px;
    }

    a {
      color: @core-vibrant-blue;
    }

    [purpose='cta-cards'] {

      .cta-card {
        cursor: pointer;
        border: 1px solid @ui-gray;
        border-radius: 8px;
        box-shadow: 1px 2px 2px rgba(197, 199, 209, 0.2);

        .cta-image {
          max-height: 60px;
          width: auto;
        }

        .cta-text {

          a {
            color: @core-fleet-black;
            text-decoration: none;
          }

          img {
            padding-left: 8px;
            transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            -ms-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -webkit-transition: 0.2s ease-in-out;
          }

          &:hover {

            .arrow {

              img {
                padding-left: 11px;
                transition: 0.2s ease-in-out;
                -o-transition: 0.2s ease-in-out;
                -ms-transition: 0.2s ease-in-out;
                -moz-transition: 0.2s ease-in-out;
                -webkit-transition: 0.2s ease-in-out;
              }

            }

          }

        }

      }

    }

    [purpose='docs-tree'] {

      a {
        color: @core-fleet-black;
        text-decoration: none;

        &:hover {
          color: @core-vibrant-blue;
        }

      }

    }

    @media (min-width: 768px) {

      .cta-card {
        max-width: 437px;
        min-height: 160px;

        .cta-image {
          max-height: 72px;
        }

      }

    }

  }


  [purpose='docs-template'] {

    h3 {

      code {
        color: @core-fleet-black;
      }

    }
    [purpose='edit-button-container'] {
      position: relative;
    }

    [purpose='edit-button'] {
      color: @core-vibrant-blue;
      opacity: 0;
      font-size: 12px;
      position: absolute;
      right: 230px;
      top: 34px;
      cursor: pointer;
      border: 1px solid @core-vibrant-blue;
      border-radius: 4px;
      padding: 4px 8px;
      text-decoration: none;

      i {
        height: 16px;
        padding-right: 5px;
      }

      &:hover {
        background: @core-vibrant-blue;

        a {
          text-decoration: none;
          color: @accent-white;
        }

      }

    }

    &:hover {

      [purpose='edit-button'] {
        opacity: 1;

      }

    }

    [purpose='search'] {

      .form-control {
        height: 36px;
        font-size: 16px;
        padding: 0;
      }

    }

    [purpose='breadcrumbs'] {

      p, a {
        font-size: 14px;
      }

    }

    [purpose='mobile-docs-nav'] {

      a {
        color: @core-fleet-black;
        text-decoration: none;

        &.active {
          color: @core-vibrant-blue;
        }

      }

      [purpose='docs-nav-button'] {
        color: @core-fleet-black;
        background-color: transparent;
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 16px;
        padding: 0;
        padding-top: 12px;
        padding-bottom: 12px;

        &:focus {
            box-shadow: none;
        }

      }

    }

    [purpose='left-sidebar'] {
      font-size: 14px;
      border-right: 1px solid @core-fleet-black-25;

      a {
        color: @core-fleet-black;
        text-decoration: none;

        &:hover {
          color: #6A67FE;
        }

        &.btn-primary {
          color: #fff;
        }

        .btn-primary {
          color: #fff;
          background-color: #ff5c83;
          border-color: #ff5c83;

          &:hover {
            background-color: darken(#ff5c83, 10%);
            border-color: darken(#ff5c83, 10%);
          }

        }

      }

      .left-nav {
        border-bottom: 1px solid @core-fleet-black-25;
      }

      .topic {
        padding-left: 0px;
        &.active {
          color: @core-vibrant-blue;
        }

      }

    }

    [purpose='right-sidebar'] {

      p, a {
        font-size: 14px;
      }

      a {
        &:hover {
          color: #6A67FE;
        }
      }

    }

    [purpose='content'] {

      hr {
        margin: 0px;
        padding: 0px;
        display: none;
      }
      h1 {
        padding-bottom: 16px;
      }

      h2 {
        border-top: 1px solid @core-fleet-black-25;
        margin-top: 24px;
        padding-top: 40px;
        padding-bottom: 24px;

        &:first-of-type {
          border-top: none;
          padding-top: 24px;
          margin-top: 0px;
        }
      }

      h3 {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 0px;
      }

      h4 {
        padding-top: 8px;
        padding-bottom: 24px;
        margin-bottom: 0px;
      }

      h5 {
        font-size: 16px;
        font-weight: 700;
        font-family: @main-font;
        margin-bottom: 16px;
      }
      pre + hr + h3 {
        padding-top: 0px;
      }
      pre +  h3 {
        padding-top: 0px;
      }
      blockquote {
        margin: 0px;
      }

      ul {
        list-style-type: disc;
        padding-left: 32px;
        pre {
          margin: 0px 0px 16px;
        }
      }

      img {
        display: flex;
        max-width: 100%;
        height: auto;
        margin: auto;
        padding-top: 24px;
        padding-bottom: 24px;
      }

      h1 + ul {
        display: none; // Hides links at top of some markdown files
      }

      h2 + h3 {
        // padding-top: 8px;
      }

      table {
        border: 1px solid @border-lt-gray;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
        word-wrap: break-word;

        th {
          font-weight: @bold;
          font-family: @header-font;
          border: 1px solid @border-lt-gray;
          padding: 8px 7px 7px 8px;
        }

        td {

          font-family: @main-font;
          border: 1px solid @border-lt-gray;
          padding: 8px 7px 7px 8px;
        }
      }
      h4 + table { // For parameter tables
        table-layout: auto;
      }
      .note {
        background-color: @core-vibrant-blue-10;
        border-radius: 12px;
        text-decoration: none;
      }
      ol {
        padding-inline-start: 16px;
      }
      [purpose='next-steps-buttons'] {


        .btn {
          font-size: 16px;
          line-height: 25px;
          padding: 16px 32px;
        }

        .btn-primary {
          color: #fff;
          &:active {
            background: @core-vibrant-red;
            border-color: @core-vibrant-red;
          }
        }
        .btn-slack {
          color: @core-fleet-black;
          img {
            display: inline;
            height: 24px;
            width: auto;
            padding-top: 0px;
            padding-bottom: 0px;
            margin: 0px;
          }
          &:focus {
            box-shadow: none;
          }
        }
        .btn-outline-secondary {
          color: @core-fleet-black;
          border: 1px solid #C5C7D1;
          &:hover {
            background: #fff;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }

    }

    // for larger screens
    @media (min-width: 992px) {

      ul {
        .topic {
          padding-left: 8px;
        }
      }

      [purpose='search'] {

        .input-group {
          min-width: 400px;
        }

      }

      [purpose='page-title'] {

        h1 {
          display: block;
        }

      }

      [purpose='right-sidebar'] {
        min-width: 190px;
        max-width: 210px;

        [purpose='subtopics'] {
          color: @core-fleet-black;
          padding-top: 4px;
          padding-bottom: 4px;
          border-left: 1px solid @core-vibrant-blue-25;

          a {
            color: @core-fleet-black;
            text-decoration: none;

            &:hover {
              color: @core-vibrant-blue;
            }

          }

        }

      }

      [purpose='content'] {
        min-width: 0px; // in order for <pre> elements to shrink properly, the parent flex element needs to override min-width auto
      }

    }

    // for smaller screens
    @media (max-width: 991px) {

      padding: 0px 40px;

      [purpose='edit-button'] {
        top: -61px;
        right: 15px;
      }

      [purpose='right-sidebar'] {
        width: 100%;

        [purpose='subtopics'] {
          color: @core-fleet-black;

          a {
            color: @core-vibrant-blue;
          }

        }

      }

      [purpose='content'] {
        width: 100%;
        a {
          word-wrap: break-word;
        }
        h1:first-of-type {
          display: none;  // hides on mobile
        }

      }

    }

    @media (max-width: 768px) {

      [purpose='edit-button'] {
        top: -2px;
        right: 0px;
      }

    }

    // for mobile
    @media (max-width: 576px) {
      padding: 0px 24px;

    }

  }

  @import 'code-blocks.less'; // styles for code blocks and hljs

}
