// lesshint-disable spaceAroundComma, trailingWhitespace

  pre {
    background: #282C40;
    padding: 24px;
    border: 1px solid @core-fleet-black-25;
    border-radius: 4px;
    margin: 16px 0px 32px;


    &.muted {
      color: @core-fleet-black-50;
      background: @ui-off-white;
      margin: 16px 0px 32px;
    }
  }

  .hljs {
    background: #282C40;
  }

  /*

    Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

  */

  .hljs, 
  .hljs-tag, 
  .hljs-built_in, 
  .hljs-subst {
    color: #f8f8f2;
  }

  .hljs-strong, 
  .hljs-emphasis {
    color: #a8a8a2;
  }

  .hljs-bullet, 
  .hljs-quote, 
  .hljs-number, 
  .hljs-regexp, 
  .hljs-literal, 
  .hljs-link {
    color: #ae81ff;
  }

  .hljs-code, 
  .hljs-title, 
  .hljs-section, 
  .hljs-selector-class {
    color: #a6e22e;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-keyword, 
  .hljs-selector-tag, 
  .hljs-name {
    color: #f92672;
  }

  .hljs-symbol, 
  .hljs-attribute, 
  .hljs-function-keyword {
    color: #66d9ef;
  }

  .hljs-attr, 
  .hljs-class .hljs-title {
    color: #f8f8f2;
  }

  .hljs-params {
    color: #fd9720;
  }

  .hljs-string, 
  .hljs-type, 
  .hljs-builtin-name, 
  .hljs-selector-id, 
  .hljs-selector-attr, 
  .hljs-selector-pseudo, 
  .hljs-addition, 
  .hljs-variable, 
  .hljs-template-variable {
    color: #e6db74;
  }

  .hljs-comment, 
  .hljs-deletion, 
  .hljs-meta {
    color: #75715e;
  }


