.fleet-delete-secret-modal {
  &__message {
    span {
      display: inline-flex;
      gap: 4px;
      align-items: baseline;
      .tooltip-truncated-text {
        max-width: 322px; // this specific max-width facilitates the desired truncation behavior within the inline parent

        .__react_component_tooltip {
          font-weight: $regular;
        }
      }
    }
  }
}
