.metrics-host-counts {
  display: grid;
  gap: $pad-smedium;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);

  // >= 768px
  @media (min-width: $break-sm) {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-rows: 1fr;
    gap: $pad-medium;
  
    // Reset all children to default grid behavior
    &>* {
      grid-column: auto;
      min-width: 0; // Prevents content from causing overflow
    }
  
    // Reset specific layouts for 2 and 1 card
    &:has(:nth-child(2)):not(:nth-child(3)),
    &:has(:nth-child(1)):not(:has(:nth-child(2))) {
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      grid-template-rows: 1fr;
  
      &>* {
        grid-column: auto;
        min-width: 0; // Prevents content from causing overflow
      }
    }
  }
}
