.api-only-user {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  background: $gradients-dark-gradient-vertical;
}
