.filter-pill {
  &__label {
    overflow: hidden;

    .tag__label {
      display: inline-flex;
      align-items: center;
      gap: $small;
      overflow: hidden;
    }
  }

  &__tooltip-text {
    display: block;
    @include ellipse-text(166px);
  }
}
