.filter-pill {
  &__label {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    border: 1px solid $ui-fleet-black-25;
    border-radius: 4px;
    box-shadow: none;
    color: $core-fleet-black;
    font-size: $xx-small;
    font-weight: $bold;
    cursor: default;
    gap: $pad-small;

    button {
      height: auto;
      padding: 0;
      margin: 0;
      border: none;
    }
  }
}
