.report-updated-cell {
  @include cell-with-link;

  .no-report {
    color: $ui-fleet-black-50;
  }

  &__value {
    min-width: initial;
  }

  &__link {
    @include table-link;

    &:focus-visible {
      .report-updated-cell__link-text {
        opacity: 1; // Text visible when tabbing through app
        transition: opacity 250ms;
      }
    }
  }

  &__link-text {
    // hover state of parent tr sets opacity to 1
    opacity: 0;
    transition: opacity 250ms;
  }
}
