.report-updated-cell {
  @include cell-with-link;

  .no-report {
    color: $ui-fleet-black-50;
  }

  &__value {
    min-width: initial;
  }

  &__link {
    @include table-link;
  }

  &__link-text {
    // hover state of parent tr sets opacity to 1
    opacity: 0;
    transition: opacity 250ms;
  }
}
