.hosts-table {
  &__wrapper {
    border: solid 1px $ui-borders;
    border-radius: 6px;
    margin-top: $pad-base;
    overflow: hidden;
  }

  &__table {
    border-collapse: collapse;
    color: $core-black;
    font-size: $x-small;
    width: 100%;
  }

  tr {
    border-bottom: 1px solid $ui-borders;
  }

  tr:last-child {
    border-bottom: none;
  }

  thead {
    background-color: $core-light-blue-grey;
    color: $core-black;
    text-align: left;

    th {
      padding: $pad-small $pad-xsmall;
    }
  }

  tbody {
    td {
      padding: $pad-xsmall;
    }
  }

  &__hostname {
    color: $core-black;
  }

  &__status {
    text-indent: 5px;

    &--online {
      color: $success;
    }

    &--offline {
      color: $alert;
    }
  }
}
