.query-form {
  &__wrapper {
    position: relative;
    font-size: $x-small;

    .query-page__warning {
      margin: 0;
      margin-top: $pad-large;
    }
  }

  &__query-name {
    width: 100%;
    margin: 0;
    margin-top: $pad-large;
  }
  
  &__query-description {
    width: 100%;
    margin: 0;
    margin-top: $pad-small;
  }

  &__toggle-sql {
    margin-top: $pad-large;
  }

  &__text-editor-wrapper {
    margin: 0;
    margin-top: $pad-large;
  }

  &__query-observer-can-run-wrapper {
    margin: 0;
    margin-top: $pad-large;
    font-weight: $bold !important; // override checkbox default

    & + p {
      margin: 0;
      margin-top: $pad-small;
    }
  }

  &__button-wrap {
    margin: 0;
    margin-top: $pad-large;
    
    &--new-query {
      display: flex;
      align-items: center;
    }
    &--modal {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    button:not(:first-of-type) {
      margin-left: $pad-medium;
    }
  }

  &__save-query-btn,
  &__cancel-btn {
    margin-right: $pad-xsmall;
  }

  &__title {
    color: $core-fleet-black;
    display: inline-block;
    font-size: $large;
  }
}
