.dropdown-cell {

  .Select {
    position: unset;

    .Select-control {
      height: auto;
      display: flex;
      justify-content: space-between;
      border: 0;

      .Select-placeholder {
        line-height: normal;
        color: $core-black;
      }

      .Select-input {
        height: auto;
      }
    }

    .Select-menu-outer {
    margin-top: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: $border-radius;
    z-index: 6;
    overflow: hidden;
    border: 0;
    width: auto;
    right: 28px;
    left: unset;
    top: unset;
    max-height: 220px;
  }
  }
}
