.dropdown-cell {
  width: 80px;

  .form-field {
    margin: 0;
  }

  .Select {
    position: relative;
    border: 0;
    height: auto;

    &.is-focused,
    &:hover {
      border: 0;
    }

    &.is-focused:not(.is-open) {
      .Select-control {
        background-color: initial;
      }
    }

    &.is-disabled {
      .Select-control {
        .Select-placeholder {
          @include disabled;
        }
      }
    }

    .Select-control {
      display: flex;
      background-color: initial;
      height: auto;
      justify-content: space-between;
      border: 0;
      cursor: pointer;

      &:hover {
        box-shadow: none;
      }

      &:hover .Select-placeholder {
        color: $core-vibrant-blue;
      }

      .Select-placeholder {
        color: $core-fleet-black;
        font-size: 14px;
        line-height: normal;
        padding-left: 0;
        margin-top: 1px;
      }

      .Select-input {
        height: auto;
      }

      .Select-arrow-zone {
        display: flex;
      }
    }

    .Select-menu-outer {
      margin-top: $pad-xsmall;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      border-radius: $border-radius;
      z-index: 6;
      overflow: hidden;
      border: 0;
      width: 188px;
      left: unset;
      top: unset;
      max-height: 220px;
      padding: $pad-small;
      position: absolute;
      left: -12px;
    }

    &.is-open {
      .Select-control .Select-placeholder {
        color: $core-vibrant-blue;
      }
    }
  }
}
