.host-container {
  &--no-hosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    h1 {
      font-size: $large;
      font-weight: $regular;
      line-height: normal;
      letter-spacing: normal;
      color: $core-black;
    }

    h2 {
      font-size: $x-small;
      font-weight: $bold;
      margin: 0 0 24px;
      line-height: 20px;
      color: $core-black;
    }

    ul {
      margin: 0;
      padding: 0;
      color: $core-black;
      list-style: none;

      li {
        &::before {
          content: "•";
          color: $core-blue;
          margin-right: 16px;
        }
      }
    }

    &__inner {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      h1 {
        font-size: $small;
        font-weight: $bold;
        margin-bottom: $pad-medium;
      }

      img {
        width: 176px;
        margin-right: 34px;
      }

      p {
        color: $core-black;
        font-weight: $regular;
        font-size: $x-small;
        margin: 0;
      }

      .no-filter-results {
        display: flex;
        flex-direction: column;
        width: 350px;
      }
    }

    .host-pagination__pager-wrap {
      margin-top: $pad-base;
    }
  }

  &__no-hosts-contact {
    text-align: left;
    margin-top: 24px;

    p {
      color: $core-black;
      font-weight: $bold;
      font-size: $x-small;
      margin: 0;
    }

    a {
      color: $core-blue;
      font-weight: $regular;
      font-size: $x-small;
      text-decoration: none;
    }
  }
  &__filter-labels {
    margin-bottom: 16px;

    .input-field {
      padding-left: 42px;
      width: 100%;
    }
  }

  &__table-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__edit-columns-button {
    display: flex;
    align-items: center;
    font-size: $x-small;
    color: $core-blue;

    img {
      width: 20px;
      margin-right: $pad-half;
    }
  }

  &__edit-columns-button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: $core-blue-over;
  }

  &__search-input {
    position: relative;
    color: $core-dark-blue-grey;
    width: 344px;
    margin-left: $pad-medium;

    .host-container__input-wrapper {
      margin-bottom: 0;
    }

    .input-field {
      padding-left: 42px;
      width: 100%;
    }

    .kolidecon {
      position: absolute;
      top: 10px;
      left: 12px;
      font-size: 20px;
      color: $core-medium-blue-grey;
    }
  }
}
