#new-license {
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
  a {
    color: @core-vibrant-blue;
  }
  p {
    font-size: 14px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  [purpose="submit-button"] {
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    span {
      display: inline;
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
      line-height: 20px;
      align: center;
      font-weight: 400;
    }
  }
  [purpose="features-list"] {
   ul {
     list-style-type: none;
     padding-inline-start: 0px;
   }
   li {
    padding-bottom: 8px;
   }
   img {
    display: inline;
    height: 16px;
    margin-right: 8px;
   }

  }


  .form-control {
    height: 40px;
    border-radius: 4px;
    &:focus {
      // border-color:
    }
  }


}
