#new-license {
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
  a {
    color: @core-vibrant-blue;
  }
  label {
    font-weight: 700;
    margin-bottom: 4px;
  }
  .form-control {
    height: 40px;
    border-radius: 6px;
  }
  .card {
    border-radius: 6px;
  }
  .card-body {
    padding: 2em;
  }
  p {
    font-size: 16px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  [purpose="submit-button"] {
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    span {
      display: inline;
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
      line-height: 20px;
      align: center;
      font-weight: 400;
    }
  }
  [purpose="features-list"] {
    // max-width: 280px;
     ul {
       list-style-type: none;
       padding-inline-start: 0px;
     }
     li {
      padding-bottom: 12px;
      color: @core-fleet-black-75;
     }
     img {
      display: inline;
      height: 16px;
      margin-right: 8px;
     }
  }

}
