#new-license {
  padding-top: 80px;

  h1 {
    font-size: 28px;
    line-height: 38px;
  }
  a {
    color: @core-vibrant-blue;
  }
  a:hover {
    text-decoration: none;
    color: darken(@core-vibrant-blue, 20%);
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }

  [purpose='self-hosted-checkbox'] {
    [purpose='self-hosted-note'] {
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 0px;
      margin-botom: 24px;
    }
    input {
      display: none;
    }
    input + label {
      position: relative;
      padding-left: 24px;
      cursor: pointer;
    }
    input + label::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border: 2px solid #192147;
      border-radius: 4px;
    }
    input:checked + label::before {
      background-color: #192147;
    }
    input:checked + label::after {
      content: url('/images/icon-checkmark-white-10x9@2x.png');
      position: absolute;
      left: -1px;
      top: 2px;
      transform: scale(0.5);
      width: 16px;
      height: 16px;
    }
    label.is-invalid::before {
      border: 2px solid #FF5C83;
    }
    label.is-invalid + .invalid-feedback {
      display: block;
    }
  }
  [purpose='quote-input'] {
    max-width: 200px;
  }

  [purpose='cloud-error'] {
    max-width: fit-content;
  }
  [purpose='page-heading'] {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  [purpose='customer-portal-form'] {
    max-width: 560px;
    border-radius: 16px;
    padding: 32px;
    label {
      font-weight: 700;
      margin-bottom: 4px;
    }
    .form-control {
      height: 48px;
      border-radius: 6px;
      display: flex;
      align-items: center;
    }
    .card-body {
      padding: 2em;
    }
  }
  .card {
    border-radius: 16px;
  }
  [purpose='submit-button'] {

    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    span {
      display: inline;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      font-weight: 700;
    }
  }
  [purpose='order-form-line-break'] {
    display: none;
  }

  [purpose='features-list'] {
    padding-left: 40px;
    font-size: 14px;
    word-wrap: overflow;
   ul {
     list-style-type: none;
     padding-inline-start: 0px;
   }
   li {
    padding-bottom: 12px;
    color: @core-fleet-black-75;
   }
   img {
    display: inline;
    height: 16px;
    margin-right: 8px;
   }

  }

  @media (max-width: 768px) {
    padding-top: 60px;
    [purpose='customer-portal-form'] {
      max-width: unset;
    }
  }

  @media (max-width: 576px) {
    padding-top: 40px;
    [purpose='quote-input'] {
      max-width: unset;
    }
    [purpose='page-heading'] {
      padding-left: 0px;
      padding-right: 0px;
    }
    [purpose='customer-portal-form'] {
      .card-body {
        padding: 1.5em 1em;
      }
    }
  }
  @media (max-width: 400px) {
    [purpose='over-1000-linebreak'] {
      display: none;
    }
    [purpose='order-form-line-break'] {
      display: block;
    }
  }



}
