.query-details-page {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
  }
  &__title-bar {
    display: flex;
    justify-content: space-between;
    margin-top: $pad-small;
    gap: $pad-medium;

    .name-description {
      display: flex;
      flex-direction: column;
      gap: $pad-small;
    }
  }

  &__action-button-container {
    display: flex;
    justify-content: flex-end;
    min-width: max-content;
    gap: $pad-medium;
  }

  &__query-name {
    margin-top: 0;
    font-size: $large;
  }

  &__query-description {
    margin-top: 0;
    margin-bottom: $pad-small;
    font-size: $x-small;
  }

  &__settings {
    display: flex;
    gap: $pad-large;
    font-size: $x-small;
    .component__tooltip-wrapper__underline {
      top: 0px;
    }
  }

  &__automations,
  &__log-destination {
    display: flex;
    gap: $pad-small;
    align-items: center;

    .component__tooltip-wrapper__element {
      font-weight: $bold;
    }
  }

  .empty-table__inner {
    .component__tooltip-wrapper__tip-text {
      text-align: left;
      width: 320px;
    }

    ul {
      color: $core-white;

      li {
        &::before {
          content: "•";
          color: $core-white;
        }
      }
    }
  }

  .data-error {
    padding-top: $pad-xxxlarge;
  }
}
