<div id="email-templates" v-cloak>
  <div class="container pt-5">
    <h2>Preview email templates</h2>
    <ul>
      <li v-for="templatePath of templatePaths">
        <a :href="'/admin/email-preview/'+templatePath">{{templatePath}}</a>
      </li>
    </ul>
    <div v-if="markdownEmailPaths.length !== 0">
      <h2>Preview emails generated from Markdown content</h2>
      <ul>
        <li v-for="templatePath of markdownEmailPaths">
          <a :href="'/admin/email-preview/'+templatePath">{{templatePath}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
