<div id="reset-trial" v-cloak>

  <div style="max-width: 600px;" class="container-fluid pb-5 px-lg-0 px-3">
    <div class="d-flex flex-column justify-content-center mx-auto">
      <div>
        <h1>Reset Fleet Premium trial</h1>
        <p class="pb-2 mx-auto">Reset a user's 30-day local Fleet Premium trial</p>
      </div>
      <div purpose="form" class="flex-grow-1">
        <div class="card card-body" v-if="!cloudSuccess">
          <ajax-form :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules" action="resetOneFleetPremiumLocalTrial" @submitted="submittedForm($event)">
            <div class="d-flex flex-column">

              <div class="form-group col-12 px-0 mb-4">
                <label for="emailAddress">Email address</label>
                <input class="form-control"  id="emailAddress" type="text" :class="[formErrors.emailAddress ? 'is-invalid' : '' ]" v-model.trim="formData.emailAddress">
                <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter an email address associated with an account.</div>
              </div>

            </div>
            <cloud-error purpose="cloud-error" v-if="cloudError === 'userNotFound'">No user was found with that email address</cloud-error>
            <cloud-error purpose="cloud-error" v-else-if="cloudError === 'trialTypeUnsupported'">This tool can only be used to reset local Fleet Premium trials.</cloud-error>
            <cloud-error purpose="cloud-error" v-else-if="cloudError"></cloud-error>

            <div class="pt-2">
              <ajax-button style="height: 40px;" spinner="true" purpose="submit-button" :syncing="syncing" class="btn btn-block btn-lg btn-info">Reset trial</ajax-button>
            </div>
          </ajax-form>
        </div>
        <div v-else>
        <div class="card card-body">
          <div class="d-flex flex-row justify-content-between">
            <p>Trial reset!</p>
          </div>
          <div class="pt-4">
            <ajax-button style="height: 40px;" spinner="true" :syncing="syncing" purpose="submit-button" class="btn btn-block btn-lg btn-info" @click="clickClearFormFields()">Reset another trial</ajax-button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
