<div id="sandbox-waitlist" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/admin/sandbox-waitlist.less</em>, <em>assets/js/pages/admin/sandbox-waitlist.page.js</em>, and <em>api/controllers/admin/view-sandbox-waitlist.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
