@font-face {
	font-family: 'Oxygen';
	src: url('/assets/fonts/oxygen/Oxygen-Light.eot');
	src: url('/assets/fonts/oxygen/Oxygen-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/oxygen/Oxygen-Light.woff') format('woff'),
		url('/assets/fonts/oxygen/Oxygen-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Oxygen';
	src: url('/assets/fonts/oxygen/Oxygen-Bold.eot');
	src: url('/assets/fonts/oxygen/Oxygen-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/oxygen/Oxygen-Bold.woff') format('woff'),
		url('/assets/fonts/oxygen/Oxygen-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Oxygen';
	src: url('/assets/fonts/oxygen/Oxygen-Regular.eot');
	src: url('/assets/fonts/oxygen/Oxygen-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/oxygen/Oxygen-Regular.woff') format('woff'),
		url('/assets/fonts/oxygen/Oxygen-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'kolidecons';
  src: url('/assets/fonts/kolidecons/kolidecons.eot?12uvii');
  src: url('/assets/fonts/kolidecons/kolidecons.eot?12uvii#iefix') format('embedded-opentype'),
    url('/assets/fonts/kolidecons/kolidecons.ttf?12uvii') format('truetype'),
    url('/assets/fonts/kolidecons/kolidecons.woff?12uvii') format('woff'),
    url('/assets/fonts/kolidecons/kolidecons.svg?12uvii#kolidecons') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
