.schedule-editor-modal {
  &__platform-compatibility {
    margin-bottom: $pad-large;
  }

  &__sandbox-info {
    margin-top: $pad-medium;

    p {
      margin: 0;
      margin-bottom: $pad-medium;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__info-header {
    font-weight: $bold;
  }

  .Select-value-label {
    font-size: $small;
  }
}
