.schedule-editor-modal {
  &__sandbox-info {
    margin-top: $pad-medium;

    p {
      margin: 0;
      margin-bottom: $pad-medium;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $core-vibrant-blue;
    font-weight: $bold;
    font-size: $x-small;
    text-decoration: none;
  }

  &__info-header {
    font-weight: $bold;
  }

  &__btn-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__cta-btn-wrap {
    flex-direction: row-reverse;
  }

  &__btn {
    margin-left: 12px;
  }

  .Select-value-label {
    font-size: $small;
  }
}
