
<%if(me && showStartCta){%>

  <div purpose="continue-banner" class="d-flex justify-content-end">
    <div purpose="banner-body" class="d-flex flex-row align-items-center invisible <%- collapseStartCta ? 'collapsed' : ''%>">
      <div purpose="banner-image">
      </div>
      <div purpose="banner-text" class="d-flex flex-column justify-content-center">
        <% if(['2 - Aware', '3 - Intrigued'].includes(me.psychologicalStage)) { %>
          <strong>Tried Fleet yet?</strong>
          <p>Get started with Fleet</p>
        <% } else if(['4 - Has use case', '5 - Personally confident'].includes(me.psychologicalStage)) { %>
          <strong>Feeling confident?</strong>
          <p>Get set up with Fleet</p>
        <% } else if (me.psychologicalStage === '6 - Has team buy-in') {%>
          <strong>Talk to the team</strong>
          <p>Let’s get you set up!</p>
        <% } %>
        <a purpose="continue-button" class="btn btn-primary" purpose="animated-arrow-btn-red" href="/start">Continue</a>
      </div>
      <a purpose="continue-chevron" href="/start"> <img alt="continue" src="/images/chevron-core-fleet-black-7x12@2x.png"> </a>
      <div>

        <div purpose="banner-close-button">&times;</div>
      </div>
    </div>

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Toggle 'collapsed' on banner body when close button is clicked
      $('[purpose="banner-close-button"]').click(async function(event) {
          event.stopPropagation(); // Prevent the event from bubbling up to the banner body
          Cloud.dismissStartCta().exec(function (err, result) {
            if (err) {
              // Handle error
            } else {
              // Handle success
            }
          });
          $('[purpose="banner-body"]').addClass('collapsed');

      });

      // Toggle 'collapsed' on banner body when it is clicked, only if it has the class
      $('[purpose="banner-body"]').click(function() {
          if ($(this).hasClass('collapsed')) {
              $(this).toggleClass('collapsed');
          }
      });

      if(SAILS_LOCALS.isHomepage){
        var lastScrollTop = 0;
        var banner = document.querySelector('[purpose="banner-body"]');
        window.addEventListener('scroll', windowScrolled);
        function windowScrolled() {
          let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          if(scrollTop > lastScrollTop && scrollTop > window.innerHeight) {
            // If the user scrolls 1.5x the height of their browser window, hide the page banner.
            banner.classList.remove('invisible');
            lastScrollTop = scrollTop;
          }
        }
      } else {
        // Toggle 'invisible' class on elements with purpose="continue" 1 second after page loads
        setTimeout(() => {
          $('[purpose="banner-body"]').toggleClass('invisible');
        }, 1000);
      }
    });
  </script>
<% } %>

