.delete-team-modal {

  &__name {
    font-weight: $bold;
  }

  &__warning {
    color: $alert
  }

  &__btn-wrap {
    display: flex;
    flex-direction: row-reverse;
    margin-top: $pad-most;
  }

  &__btn {
    margin-left: 12px;
  }
}
