.query-table-notes {
  h3 {
    font-size: $small;
    font-weight: $bold;
  }

  // overriding default FleetMarkdown styles here
  &__notes-markdown {

    li {
      margin-bottom: $pad-medium;
      line-height: 1.5;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
