.home-software {
  margin-top: $pad-large;
  position: relative;

  .software-link {
    img {
      transform: rotate(-90deg);
      height: 16px;
      width: auto;
      vertical-align: middle;
    }
    &:focus-visible {
      outline: 1px solid $core-vibrant-blue;
    }
  }
  .data-table__wrapper {
    overflow-x: auto;
  }
  .form-field--dropdown {
    margin: 0;
  }
  .component__tabs-wrapper .table-container__header {
    display: none;
  }
  &__empty-software {
    margin: $pad-large auto 0;

    h1 {
      font-size: $small;
      font-weight: $bold;
      margin-bottom: $pad-medium;
    }

    p {
      color: $core-fleet-black;
      font-weight: $regular;
      font-size: $x-small;
      margin: 0;
    }
  }

  .data-table-block {
    .data-table__table {
      table-layout: fixed;

      thead {
        .name__header {
          width: 60%;
        }
        .version__header {
          width: 30%;
          padding-right: 0;
        }
        .hosts_count__header {
          border-right: 0;
          padding-right: 0;
          width: 60px;
        }
        .id__header {
          padding: 0;
          border-left: 0;
          width: 40px;
        }
      }

      tbody {
        .name__cell,
        .version__cell {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .id__cell {
          padding: 0;
          width: 40px;
        }
        .vulnerabilities__cell {
          img {
            transform: scale(0.5);
          }
        }
      }
    }
  }
  .count-loading {
    color: $ui-fleet-black-50;
  }
  .count-error {
    color: $ui-error;
  }
}
