.header-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .sort-arrows {
    height: 14px;
    padding-left: $pad-small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ascending-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid $ui-fleet-black-25;
  }
  .descending-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $ui-fleet-black-25;
  }

  &.ascending {
    .ascending-arrow {
      border-bottom-color: $core-vibrant-blue;
    }
  }

  &.descending {
    .descending-arrow {
      border-top-color: $core-vibrant-blue;
    }
  }
}
