
/**
 * <bubble>
 *
 * App-wide styles for our bubbles.
 */

 [parasails-component='bubble'] {
  span {
    color: white;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 15px;
    font-size: 11px;
    background-color: #0e6471;
    border-color: darken( #0e6471, 10% );
    border-style: none;
    &.uncertain {
      border-width: 1px;
      border-style: solid;
      font-style: italic;
      background-color: #FFF;
      color: #222;
    }
  }
}
