
/**
 * <bubble>
 *
 * App-wide styles for our bubbles.
 */

 [parasails-component='bubble'] {
  span {
    color: @core-fleet-black-75;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 24px;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 13px;
    background-color: @ui-off-white;
    border: 1px solid @core-fleet-black-10;
    font-weight: bold;
    padding-top: 1px;
    &.admin {
      background-color: #009A7D;
      color: #fff;
      border-color: #009A7D;
    }
    &.maintainer {
      background-color: #009A7D;
      color: #fff;
      border-color: #009A7D;
    }
    &.technician {
      background-color: rgba(61, 182, 123, 20%);
      border-color: rgba(61, 182, 123, 20%);
    }
    &.observer {
      background-color: rgba(61, 182, 123, 20%);
      border-color: rgba(61, 182, 123, 20%);
    }
    &.observer-plus {
      background-color: rgba(61, 182, 123, 20%);
      border-color: rgba(61, 182, 123, 20%);
    }
    &.gitops {
      background-color: #3DB67B;
      color: #fff;
      border-color: #3DB67B;
    }
    &.uncertain {
      border-width: 1px;
      border-style: solid;
      font-style: italic;
      background-color: #FFF;
      color: #222;
    }
  }
}
