/**
 * <cloud-error>
 *
 * App-wide styles for our cloud-errors.
 */

[parasails-component='cloud-error'] {
  background: rgba(214, 108, 123, 0.2);
  border-radius: 6px;
  margin: 24px 0px;
  display: flex;
  padding: 16px;
  p {
    margin-block-end: 0px;
  }
}
