/**
 * <code-block-copy-buttons>
 *
 */

[purpose='code-block-copy-button'] {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  background: url('/images/icon-copy-16x16@2x.png');
  background-color: #F9FAFC;
  background-size: 14px 14px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  border: none;
  &.copied {
    background: url('/images/icon-copy-clicked-checkmark-no-background-32x32@2x.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }
  &:hover {
    background-color: #E9EEF5;
  }
  &:focus {
    outline: none;
    background-color: #E9EEF5;
  }
}

pre.has-copy-button {
  padding-right: 42px !important;//lesshint-disable-line importantRule
  position: relative;
}


