<div id="device-management-page" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content" class="mx-auto">
      <div purpose="hero">
        <div purpose="page-headline">
          <h4>Open device management</h4>
          <h1>Manage devices your way</h1>
        </div>
        <div purpose="testimonials" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
        <%if(['security-misc','security-vm'].includes(primaryBuyingSituation)) { %>
          <div purpose="testimonial-quote">
            <div purpose="quote">
              <img alt="Deloitte logo" purpose="quote-logo" src="/images/social-proof-logo-deloitte-130x32@2x.png">
              <p>Something I really appreciate about working with you guys is that it doesn't feel like I'm talking to a vendor. It actually feels like I'm talking to my team, and I really appreciate it.</p>
            </div>
            <a href="https://www.linkedin.com/in/cmajumdar/" class="d-inline-block" target="_blank" no-icon>
            <div purpose="quote-attribution" class="d-flex flex-row align-items-center">
              <div purpose="quote-image"><img src="/images/testimonial-author-chandra-majumdar-48x48@2x.png" alt="Chandra Majumdar"></div>
              <div class="d-flex flex-column">
                <p purpose="name">Chandra Majumdar</p>
                <p purpose="title">Partner - Cyber and Strategic Risk</p>
              </div>
            </div>
            </a>
          </div>
        <%} else {%>
          <div purpose="testimonial-quote">
            <div purpose="quote">
              <img alt="an opening quotation mark" style="width:20px; margin-bottom: 16px;" src="/images/icon-quote-21x17@2x.png">
              <p>We wanted an open-source MDM to easily use configuration-as-code, deliver the best possible experience for our employees, and make security happy.</p>
            </div>
            <a href="https://www.linkedin.com/in/kennybotelho/" class="d-inline-block" target="_blank" no-icon>
            <div purpose="quote-attribution" class="d-flex flex-row align-items-center">
              <div purpose="quote-image"><img src="/images/testimonial-author-kenny-botelho-48x48@2x.png" alt="Kenny Botelho"></div>
              <div class="d-flex flex-column">
                <p purpose="name">Kenny Botelho</p>
                <p purpose="title">Lead Client Platform Engineer</p>
              </div>
            </div>
            </a>
          </div>


        <% } %>

        </div>
        <div purpose="button-row" class="d-flex justify-content-start align-items-center">
              <a purpose="cta-button" href="/contact">Talk to an engineer</a>
              <a purpose="video-button"  @click="clickOpenVideoModal('fleet-in-three-minutes')"><img alt="Play" class="d-inline" src="/images/icon-play-video-32x32@2x.png"> Watch demo <span>3 mins</span></a>
            </div>
      </div>
      <logo-carousel></logo-carousel>

      <div purpose="page-section" class="pb-0 mt-5">

        <div purpose="three-column-features" class="mx-auto">
          <div purpose="responsive-feature-row" class="row d-flex flex-sm-row flex-column justify-content-lg-between justify-content-center align-items-center align-items-sm-start">
            <div purpose="feature-item" class="pl-0 col-12 col-sm-6 col-lg-4">
              <h5>Operating systems</h5>
              <p>Manage Apple, Windows, Linux, and Android devices in one place. Fleet supports diverse, mixed environments with no vendor lock-in.</p>
            </div>

            <div purpose="feature-item" class="pr-0 pr-lg-4 col-12 col-sm-6 col-lg-4" >
              <h5>Automated enrollment</h5>
              <p>Drop ship devices with Apple Business Manager or Autopilot. End users can set up their own devices. No IT help needed.</p>
            </div>

            <div purpose="feature-item" class="pl-0 pl-lg-4 pr-lg-0 col-12 col-sm-6 col-lg-4">
              <h5>Config management</h5>
              <p>Bring devices into a secure, predictable state, no matter where they start. Define, target, and deploy the right settings to the right devices.</p>
            </div>
            <div purpose="feature-item" class="pr-0 pr-lg-4 pl-lg-0 col-12 col-sm-6 col-lg-4">
              <h5>Software management</h5>
              <p>Keep applications and plugins secure and up-to-date automatically. Install the software end users need or let them install it themselves via self service.</p>
              <p><a href="/software-management">More about software management</a></p>
            </div>

            <div purpose="feature-item" class="pl-0 pl-lg-4 col-12 col-sm-6 col-lg-4">
              <h5>Custom scripts</h5>
              <p>Run the right script at the right time, across any platform. Remediate drift, gather diagnostics, and automate fleet-wide tasks.</p> 
              <p><a href="/orchestration">More about orchestration</a></p>
            </div>

            <div purpose="feature-item" class="pr-0 pr-lg-4 col-12 col-sm-6 col-lg-4">
              <h5>Flexible by design</h5>
              <p>Manage devices via Fleet’s UI, API, or GitOps. The open-source community helps extend what’s possible, from platform support to deployment workflows.</p>
            </div>
          </div>

          <div purpose="feature-row" class="row d-flex flex-sm-row flex-column justify-content-lg-between justify-content-center mb-0 align-items-center align-items-sm-start">
          </div>
        </div>
      </div>
      <div v-if="showSwagForm">
      <a purpose="swag-request-button" class="d-flex align-items-center justify-content-center mx-auto" @click="clickSwagRequestCTA()">
        <div class="d-flex flex-row align-items-center">
        <img style="height: auto; width: 47px;" alt="A very nice Fleet branded shirt" src="/images/fleet-shirt-60x55@2x.png">
          <p class="mb-0"><strong class="mr-1">Request Fleet swag. </strong>
          </p>
          <span>It's free <img purpose="right-arrow" class="d-inline" style="height: 16px; width: auto; margin-bottom: 2px;" alt="right arrow" src="/images/arrow-right-red-16x16@2x.png" /></span>
        </div>
      </a>
      </div>
      <div purpose="comparison-section">
        <h2>Head-to-head with the big players</h2>
        <p>Considering a move to Fleet as a cross-platform, open-source MDM alternative? See how we compare:</p>
        <div purpose="desktop-comparison-table" class="d-none d-sm-block">
          <div purpose="comparison-table-header" class="d-sm-flex d-none flex-row justify-content-end">
            <div purpose="fleet-column" class="justify-content-center"><strong>Fleet</strong></div>
            <div purpose="comparison-column" class="d-flex">
              <div purpose="comparison-selector" class="d-flex flex-row justify-content-between align-items-center"
                id="dropdownMenuSelectPurpose" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{comparisonModeFriendlyNames[comparisonMode]}}<img class="d-flex" style="width: 16px; height: 16px;" src="/images/chevron-down-16x16@2x.png" alt="a small shevron pointing downwards">
              </div>
              <div purpose="comparison-selector-dropwdown" class="dropdown-menu" aria-labelledby="dropdownMenuSelectPurpose">
                <div class="dropdown-item" data-compare-with="omnissa" @click="clickSwitchComparisonTableColumn('omnissa')">Workspace ONE</div>
                <div class="dropdown-item" data-compare-with="sccm" @click="clickSwitchComparisonTableColumn('sccm')">SCCM</div>
                <div class="dropdown-item" data-compare-with="jamf" @click="clickSwitchComparisonTableColumn('jamf')">Jamf Pro</div>
                <div class="dropdown-item" data-compare-with="intune" @click="clickSwitchComparisonTableColumn('intune')">Intune</div>
                <div class="dropdown-item" data-compare-with="ansible" @click="clickSwitchComparisonTableColumn('ansible')">Ansible</div>
                <div class="dropdown-item" data-compare-with="tanium" @click="clickSwitchComparisonTableColumn('tanium')">Tanium</div>
                <div class="dropdown-item" data-compare-with="puppet" @click="clickSwitchComparisonTableColumn('puppet')">Puppet</div>
                <div class="dropdown-item" data-compare-with="chef" @click="clickSwitchComparisonTableColumn('chef')">Chef</div>
                <div class="dropdown-item" data-compare-with="patchmypc" @click="clickSwitchComparisonTableColumn('patchmypc')">PatchMyPC</div>
              </div>
            </div>
          </div>
          <div purpose="comparison-table" class="d-sm-flex d-none flex-column">
            <div purpose="table-row">
              <div purpose="feature-name"><p>Cloud or self-host with no restrictions</p></div>
              <div purpose="fleet-column">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-if="comparisonMode === 'jamf'">
                <p><a purpose="tooltip" data-toggle="tooltip" tabindex="0" data-placement="top" title="On-prem supported, but some key features, like Apple Declarative Device Management (DDM), are cloud-only.">On-prem limited</a></p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'tanium'">
                <p><a purpose="tooltip" data-toggle="tooltip" tabindex="0" data-placement="top" title="On-prem supported, but some modern modules and integrations are cloud-only.">On-prem limited</a></p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'intune'">
                <p>Cloud-only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'sccm'">
                <p>On-prem only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'omnissa'">
                <p>On-prem discouraged</p>
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
            <div purpose="table-row">
              <div purpose="feature-name"><p>Zero-touch setup</p></div>
              <div purpose="fleet-column">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
              <div purpose="comparison-column" v-if="['omnissa', 'intune'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'sccm'">
                <p>Windows only</p>
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name"><p>iOS/iPadOS management</p></div>
              <div purpose="fleet-column">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-if="['tanium', 'chef', 'sccm', 'ansible', 'patchmypc'].includes(comparisonMode)">
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'puppet'">
                <p>Community module</p>
              </div>
              <div purpose="comparison-column" v-else>
                <img style="height: 14px; width: 14px;" alt="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name">
                <p>Complete device inventory <img style="margin-left: 6px;" class="d-inline" purpose="tooltip-icon" src="/images/icon-more-info-14x14@2x.png" alt="More info"  data-toggle="tooltip" tabindex="0" data-placement="top" title="Fleet gives you data down to the chip level on every endpoint, server, and cloud instance. Access over 300 tables of system state data. Use presets or create your own queries."></p>

              </div>
              <div purpose="fleet-column">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/os-linux-black-50-16x16@2x.png" alt="Linux logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
              <div purpose="comparison-column" v-if="comparisonMode === 'tanium'">
                <p>Mobile not supported</p>
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name"><p>Operating system updates</p></div>
              <div purpose="fleet-column">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
              <div purpose="comparison-column" v-if="comparisonMode === 'sccm'">
                <p>Windows only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="comparison-column" v-else-if="['omnissa', 'intune'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'tanium'">
                <p>Mobile not supported</p>
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name"><p>Configuration management and scripting</p></div>
              <div purpose="fleet-column">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/os-linux-black-50-16x16@2x.png" alt="Linux logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
              <div purpose="comparison-column" v-if="comparisonMode === 'sccm'">
                <p>Windows only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'patchmypc'">
                <p>Windows only scripting for app installs</p>
              </div>
              <div purpose="comparison-column" v-else-if="['ansible', 'tanium', 'puppet', 'chef'].includes(comparisonMode)">
                <p>Mobile not supported</p>
              </div>
              <div purpose="comparison-column" v-else-if="['omnissa', 'intune'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name"><p>Remote lock and wipe</p></div>
              <div purpose="fleet-column">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/os-linux-black-50-16x16@2x.png" alt="Linux logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
              <div purpose="comparison-column" v-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'tanium'">
                <p>Windows only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'omnissa'">
                <p>No built-in Linux</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'intune'">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name" class="d-flex align-items-center"><p>App management</p></div>
              <div purpose="fleet-column">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/os-linux-black-50-16x16@2x.png" alt="Linux logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
              <div purpose="comparison-column" v-if="['sccm', 'patchmypc'].includes(comparisonMode)">
                <p>Windows only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'tanium'">
                <p>Mobile not supported</p>
              </div>
              <div purpose="comparison-column" v-else-if="['intune', 'omnissa', 'ansible'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>


            <div purpose="table-row">
              <div purpose="feature-name"><p>Automated device compliance</p></div>
              <div purpose="fleet-column">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/os-linux-black-50-16x16@2x.png" alt="Linux logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
              <div purpose="comparison-column" v-if="comparisonMode === 'sccm'">
                <p>Windows only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'jamf'">
                <p>Additional purchase</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'tanium'">
                <p>Mobile not supported</p>
              </div>
              <div purpose="comparison-column" v-else-if="['intune', 'omnissa', 'ansible'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name"><p>REST API</p></div>
              <div purpose="fleet-column"><img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png"></div>
              <div purpose="comparison-column" v-if="comparisonMode === 'sccm'">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'patchmypc'">
                <p>Intune or SCCM integration</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'intune'">
                <p>Microsoft Graph API</p>
              </div>
              <div purpose="comparison-column" v-else>
                <p>Multiple APIs required</p>
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name"><p>Config as code (GitOps)</p></div>
              <div purpose="fleet-column"><img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png"></div>
              <div purpose="comparison-column" v-if="['puppet', 'chef', 'ansible'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name">
                <p>
                  Device reporting (&lt;30 seconds) <img style="margin-left: 6px;" class="d-inline" purpose="tooltip-icon" src="/images/icon-more-info-14x14@2x.png" alt="More info"  data-toggle="tooltip" tabindex="0" data-placement="top" title="Unlike traditional system that can take from 1 - 6 hours to respond. Fleet can talk to thousands of devices in seconds.">
                </p>
              </div>
              <div purpose="fleet-column">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-if="comparisonMode === 'tanium'">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'intune'">
                <p>6 hours</p>
              </div>
              <div purpose="comparison-column" v-else-if="['puppet', 'chef', 'ansible'].includes(comparisonMode)">
                <p>One-off scripts</p>
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name">
                <p>Import / export</p>
              </div>
              <div purpose="fleet-column">
                <p>Interoperable</p>
              </div>
              <div purpose="comparison-column" v-if="comparisonMode === 'sccm'">
                <p>Windows only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="comparison-column" v-else-if="comparisonMode === 'patchmypc'">
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
              <div purpose="comparison-column" v-else-if="['tanium', 'intune', 'omnissa'].includes(comparisonMode)">
                <p>Proprietary</p>
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>

            <div purpose="table-row">
              <div purpose="feature-name"><p>Open source</p></div>
              <div purpose="fleet-column"><p>Free and paid version</p></div>
              <div purpose="comparison-column" v-if="['puppet', 'chef', 'ansible'].includes(comparisonMode)">
                <p>Only free version</p>
              </div>
              <div purpose="comparison-column" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>
          </div>
        </div>

        <div purpose="mobile-comparison-table" class="d-block d-sm-none">
          <p class="mt-5 mb-2 font-weight-bold">Compare with:</p>
          <div purpose="mobile-comparison-selector" class="d-flex flex-row justify-content-between align-items-center"
            id="mobileDropdownMenuSelectPurpose" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{comparisonModeFriendlyNames[comparisonMode]}}<img class="d-flex" style="width: 16px; height: 16px;" src="/images/chevron-down-16x16@2x.png" alt="a small shevron pointing downwards">
          </div>
          <div purpose="comparison-selector-dropwdown" class="dropdown-menu" aria-labelledby="mobileDropdownMenuSelectPurpose">
            <div class="dropdown-item" data-compare-with="sccm" @click="clickSwitchComparisonTableColumn('sccm')">SCCM</div>
            <div class="dropdown-item" data-compare-with="omnissa" @click="clickSwitchComparisonTableColumn('omnissa')">Omnissa (WS1)</div>
            <div class="dropdown-item" data-compare-with="jamf" @click="clickSwitchComparisonTableColumn('jamf')">Jamf Pro</div>
            <div class="dropdown-item" data-compare-with="intune" @click="clickSwitchComparisonTableColumn('intune')">Intune</div>
            <div class="dropdown-item" data-compare-with="ansible" @click="clickSwitchComparisonTableColumn('ansible')">Ansible</div>
            <div class="dropdown-item" data-compare-with="tanium" @click="clickSwitchComparisonTableColumn('tanium')">Tanium</div>
            <div class="dropdown-item" data-compare-with="puppet" @click="clickSwitchComparisonTableColumn('puppet')">Puppet</div>
            <div class="dropdown-item" data-compare-with="chef" @click="clickSwitchComparisonTableColumn('chef')">Chef</div>
            <div class="dropdown-item" data-compare-with="patchmypc" @click="clickSwitchComparisonTableColumn('patchmypc')">PatchMyPC</div>
          </div>
          <div purpose="feature-table">
            <div purpose="feature-name"><p>Cloud or self-host with no restrictions</p></div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="comparisonMode === 'jamf'">
                <p><a purpose="tooltip" data-toggle="tooltip" tabindex="0" data-placement="top" title="On-prem supported, but some key features, like Apple Declarative Device Management (DDM), are cloud-only.">On-prem limited</a></p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'tanium'">
                <p><a purpose="tooltip" data-toggle="tooltip" tabindex="0" data-placement="top" title="On-prem supported, but some modern modules and integrations are cloud-only.">On-prem limited</a></p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'intune'">
                <p>Cloud-only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'sccm'">
                <p>On-prem only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'omnissa'">
                <p>On-prem discouraged</p>
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
          </div>
          <div purpose="feature-table">
            <div purpose="feature-name"><p>Zero-touch setup</p></div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="['omnissa', 'intune'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'sccm'">
                <p>Windows only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>
          </div>
          <div purpose="feature-table">
            <div purpose="feature-name"><p>iOS/iPadOS management</p></div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img style="height: 14px; width: 14px;" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="['tanium', 'chef', 'sccm', 'patchmypc'].includes(comparisonMode)">
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'puppet'">
                <p>Community module</p>
              </div>
              <div purpose="feature-status" v-else>
                <img style="height: 14px; width: 14px;" alt="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
          </div>
          <div purpose="feature-table">
            <div purpose="feature-name">
              <p>Complete device inventory </p>
              <img style="margin-left: 6px;" class="d-inline" purpose="tooltip-icon" src="/images/icon-more-info-14x14@2x.png" alt="More info"  data-toggle="tooltip" tabindex="0" data-placement="top" title="Fleet gives you data down to the chip level on every endpoint. Access over 300 tables of system state data. Use presets or create your own queries.">
            </div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/os-linux-black-50-16x16@2x.png" alt="Linux logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="comparisonMode === 'tanium'">
                <p>Mobile not supported</p>
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>
          </div>
          <div purpose="feature-table">
            <div purpose="feature-name"><p>Operating system updates</p></div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'sccm'">
                <p>Windows only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'tanium'">
                <p>Mobile not supported</p>
              </div>
              <div purpose="feature-status" v-else-if="['omnissa', 'intune',].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>
          </div>
          <div purpose="feature-table">
            <div purpose="feature-name"><p>Configuration management and scripting</p></div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/os-linux-black-50-16x16@2x.png" alt="Linux logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'sccm'">
                <p>Windows only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'patchmypc'">
                <p>Windows only scripting for app installs</p>
              </div>
              <div purpose="feature-status" v-else-if="['ansible', 'tanium', 'puppet', 'chef'].includes(comparisonMode)">
                <p>Mobile not supported</p>
              </div>
              <div purpose="feature-status" v-else-if="['omnissa', 'intune'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
          </div>
          <div purpose="feature-table">
            <div purpose="feature-name"><p>Remote lock and wipe</p></div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/os-linux-black-50-16x16@2x.png" alt="Linux logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'omnissa'">
                <p>No built-in Linux</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'tanium'">
                <p>Windows only</p>
              </div>
              <div purpose="feature-status" v-else-if="['intune'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>
          </div>
          <div purpose="feature-table">
            <div purpose="feature-name"><p>App management</p>
            </div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/os-linux-black-50-16x16@2x.png" alt="Linux logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="feature-status" v-if="['sccm', 'patchmypc'].includes(comparisonMode)">
                <p>Windows only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'tanium'">
                <p>Mobile not supported</p>
              </div>
              <div purpose="feature-status" v-else-if="['intune', 'omnissa', 'ansible'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>
          </div>

          <div purpose="feature-table">
            <div purpose="feature-name"><p>Automated device compliance</p></div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img src="/images/os-macos-black-50-16x16@2x.png" alt="macOS logo" >
                <img src="/images/os-windows-black-50-16x16@2x.png" alt="Windows logo">
                <img src="/images/os-linux-black-50-16x16@2x.png" alt="Linux logo">
                <img src="/images/icon-android-16x16@2x.png" alt="Android" >
                <img src="/images/icon-ios-16x16@2x.png" alt="iOS">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="comparisonMode === 'jamf'">
                <p>Additional purchase</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'sccm'">
                <p>Windows only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'tanium'">
                <p>Mobile not supported</p>
              </div>
              <div purpose="feature-status" v-else-if="['intune', 'omnissa', 'ansible'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>
          </div>

          <div purpose="feature-table">
            <div purpose="feature-name"><p>REST API</p></div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="comparisonMode === 'intune'">
                <p>Microsoft Graph API</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'sccm'">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'patchmypc'">
                <p>Intune or SCCM integration</p>
              </div>
              <div purpose="feature-status" v-else>
                <p>Multiple APIs required</p>
              </div>
            </div>
          </div>

          <div purpose="feature-table">
            <div purpose="feature-name"><p>Config as code (GitOps)</p></div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="['puppet', 'chef', 'ansible'].includes(comparisonMode)">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>
          </div>

          <div purpose="feature-table">
            <div purpose="feature-name">
              <p>Device reporting (<30 mins)</p>
              <img style="margin-left: 6px;" class="d-inline" purpose="tooltip-icon" src="/images/icon-more-info-14x14@2x.png" alt="More info"  data-toggle="tooltip" tabindex="0" data-placement="top" title="Unlike traditional system that can take from 1 - 6 hours to respond. Fleet can talk to thousands of devices in seconds.">
            </div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="comparisonMode === 'tanium'">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'intune'">
                <p>6 Hours</p>
              </div>
              <div purpose="feature-status" v-else-if="['puppet', 'chef', 'ansible'].includes(comparisonMode)">
                <p>One-off scripts</p>
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>
          </div>

          <div purpose="feature-table">
            <div purpose="feature-name">
              <p>Import / export</p>
            </div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <p>Interoperable</p>
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="comparisonMode === 'sccm'">
                <p>Windows only</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'jamf'">
                <p>Apple only</p>
              </div>
              <div purpose="feature-status" v-else-if="['tanium', 'intune', 'omnissa'].includes(comparisonMode)">
                <p>Proprietary</p>
              </div>
              <div purpose="feature-status" v-else-if="comparisonMode === 'patchmypc'">
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
          </div>

          <div purpose="feature-table">
            <div purpose="feature-name"><p>Open source</p></div>
            <div purpose="feature-table-row">
              <div>Fleet</div>
              <div purpose="feature-status">
                <img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
            <div purpose="feature-table-row">
              <div>{{comparisonModeFriendlyNames[comparisonMode]}}</div>
              <div purpose="feature-status" v-if="['puppet', 'chef', 'ansible'].includes(comparisonMode)">
                <p>Only free version</p>
              </div>
              <div purpose="feature-status" v-else>
                <img class="mx-auto" alt="❌" purpose="red-x" src="/images/icon-emoji-x-12x12@2x.png">
              </div>
            </div>
          </div>
        </div>

        <div purpose="button-row" style="margin-top: 40px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" href="/register">Try it yourself</a>
          <animated-arrow-button href="/contact">Talk to an engineer</animated-arrow-button>
        </div>
      </div>
      <%/* Shorten the feedback loop section */%>
      <div purpose="page-section">
        <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
          <div purpose="feature-text" class="d-flex flex-column">
            <h2>Shorten the feedback loop</h2>
            <p>Built for speed and transparency. No more waiting for closed systems to catch up.</p>
            <div purpose="checklist" class="flex-column d-flex">
              <p><a href="/orchestration">Get near-instant visibility</a> into your Apple, Linux, and Windows devices from a single, open platform.</p>
              <p>Verify changes in real time with full audit logs.</p>
              <p>Confidently resolve issues before users notice.</p>
            </div>
          </div>
          <div purpose="feature-image">
            <img alt="A laptop using Fleet to accurately display the status of MDM configurations" src="/images/mdm-shorten-feedback-loop-528x377@2x.png">
          </div>
        </div>
      </div>
      <%/* Deploy anywhere you want section */%>
      <div purpose="page-section">
        <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
          <div purpose="feature-image" class="right">
            <img alt="Deploy anywhere you want" src="/images/mdm-deploy-anywhere-you-want-528x377@2x.png">
          </div>
          <div purpose="feature-text" class="d-flex flex-column">
            <h2>Deploy anywhere you want</h2>
            <p>On-prem, cloud, or air-gapped. Fleet works where you need it. No lock-in or black boxes. Fleet adapts as you grow.</p>
            <div purpose="checklist" class="flex-column d-flex">
              <p>No hidden dependencies or forced cloud services.</p>
              <p>Flexible APIs and open data formats.</p>
              <p>Keep control of your infrastructure and your data.</p>
            </div>
          </div>
        </div>
      </div>
      <%/* Scope transparency section */%>
      <div purpose="page-section">
        <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
          <div purpose="feature-text" class="d-flex flex-column">
            <h2>Scope transparency</h2>
            <p>Increase <a href="https://fleetdm.com/handbook/company/why-this-way#why-open-source">buy-in</a> from end users by clarifying how their devices are managed.</p>
            <div purpose="checklist" class="flex-column d-flex">
              <p>Give end users assurance about what actions IT can take on their computer.</p>
              <p>Let end users see exactly what data is collected, all the way down to the source code</p>
              <p>Set clear expectations about how to configure company devices</p>
            </div>
          </div>
          <div purpose="feature-image" class="right">
            <img alt="Transparency for end users" src="/images/mdm-scope-transparency-528x377@2x.png">
          </div>
        </div>
      </div>
      <%/* Modern change management section */%>
      <div purpose="page-section">
        <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
          <div purpose="feature-image" class="right">
            <img alt="Modern change management" src="/images/mdm-modern-change-management-528x377@2x.png">
          </div>
          <div purpose="feature-text" class="d-flex flex-column">
            <h2>Modern change management</h2>
            <p>Provide a transparent log of all changes and collaborate on how your devices are managed.</p>
            <div purpose="checklist" class="flex-column d-flex">
              <p>Democratize change with GitOps so everyone can contribute to device management and security.</p>
              <p>Maintain reliable employee experiences with version-controlled changes and enhancements.</p>
              <p>Use CI/CD and peer reviews to look before you leap. (Configurable)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%/* End of page gradient */%>
    <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
      <div purpose="section-heading" class="mx-auto text-center">
        <h2 class="mb-3">What people are saying</h2>
      </div>
    </div>

    <scrollable-tweets :testimonials="testimonialsForScrollableTweets"></scrollable-tweets>


  <div purpose="bottom-gradient">
    <div purpose="page-container" class="container">
      <div purpose="section-headline" class="text-center">
        <h4>Open device management</h4>
        <h1>Your last MDM migration</h1>
        <div purpose="button-row" style="margin-top: 32px;" class="d-flex justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" href="/contact">Talk to an engineer</a>
          <animated-arrow-button  href="/register">Try it yourself</animated-arrow-button>
        </div>
      </div>
    </div>
  </div>
  <%/* Cloud city banner */%>
  <parallax-city></parallax-city>
  <modal purpose="video-modal" v-if="modal === 'fleet-in-three-minutes'" @close="closeModal()">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/q1Tm3IBcx24?rel=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
