<div id="device-management" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content" class="mx-auto">
      <div purpose="hero">
        <div purpose="page-headline">
          <h4>Device management (MDM)</h4>
          <h1>Manage everything in one place</h1>
        </div>
        <div purpose="hero-content" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
          <div purpose="hero-image">
            <img alt="A laptop using Fleet to accurately display the status of MDM configurations" src="/images/device-management-hero-380x293@2x.png">
          </div>
          <div purpose="hero-text">
            <strong>Your last MDM migration</strong>
            <p>Even if you've never done an MDM migration, you've probably heard it's hard.  Fleet makes it easy to get your data in and get it out.</p>
            <strong>Tidy up your tools</strong>
            <p>Deploy a modern Mac-first MDM purpose-built for IT engineers and cross-training. Use principles from DevOps to manage Apple, Windows, and Linux computers declaratively.</p>
            <strong>“Zero” trust, fewer tickets</strong>
            <p>You can use Fleet’s API to customize every aspect of conditional access – even the stuff your CISO hasn’t thought of yet.</p>
            <div purpose="button-row" class="d-flex flex-md-row flex-column justify-content-start align-items-center">
              <a purpose="cta-button" @click="clickOpenChatWidget()">Show me</a>
              <a purpose="animated-arrow-button-red" href="/pricing">Try it out</a>
            </div>
          </div>
        </div>
      </div>
      <div purpose="testimonials" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
        <div purpose="testimonial-quote">
          <div purpose="quote">
            <img alt="an opening quotation mark" style="width:20px; margin-bottom: 16px;" src="/images/icon-quote-21x17@2x.png">
            <p>We wanted an open-source MDM to easily use configuration-as-code, deliver the best possible experience for our employees, and make security happy.</p>
          </div>
          <div purpose="quote-attribution" class="d-flex flex-md-row flex-column align-items-center">
            <div purpose="quote-image"><img src="/images/testimonial-kenny-botelho-48x48@2x.jpg" alt="Kenny Botelho"></div>
            <div class="d-flex flex-column">
              <p purpose="name">Kenny Botelho</p>
              <p purpose="title">Lead Client Platform Engineer</p>
            </div>
          </div>
        </div>
      </div>


      <%/* Your last MDM migration section */%>
      <div purpose="page-section">
        <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center mb-0">
          <div purpose="feature-image" class="left">
            <img alt="Your last MDM migration" src="/images/device-management-feature-image-1-380x320@2x.png">
          </div>
          <div purpose="feature-text" class="d-flex flex-column">
            <h2>Your last MDM migration</h2>
            <p>Even if you've never done an MDM migration, you've probably heard it's hard.  Fleet makes it easy to get your data in <i>and</i> get it out.</p>
            <div purpose="checklist" class="flex-column d-flex">
            <p>Ramp up to modern management faster with the latest compliance standards and security features built in.</p>
            <p>Work the way that's best for your entire IT team with both GitOps and a modern GUI.</p>
            <p>Lower barriers to integration with an intentional API-first design and surprisingly easy access to data. Everything you can do in the UI, you can do with the API.</p>
            </div>
          </div>
        </div>
      </div>

      <%/* Simplify your tools section */%>
      <div purpose="page-section">
        <div purpose="feature-headline">
          <h2>Tidy up your tools</h2>
          <p>Deploy a modern Mac-first MDM purpose-built for IT engineers and cross-training. Use principles from DevOps to manage Apple, Windows, and Linux computers declaratively.</p>
        </div>

        <div purpose="two-column-features" class="mx-auto">

          <div purpose="feature-row" class="d-flex flex-sm-row flex-column justify-content-center">
            <div purpose="feature-column" class="ml-sm-0">
            <img alt="Patch every OS" src="/images/device-management-icon-patch-every-os-48x48@2x.png">
              <h5>Patch every OS</h5>
              <p>Shorten patch timelines with custom, enforceable deadlines and grace periods for every operating system. Encourage updates with Declarative Device Management (DDM), Nudge, and Windows Update from one interface.</p>
            </div>

            <div purpose="feature-column" class="mr-sm-0 mb-0">
            <img alt="Push profiles" src="/images/device-management-icon-verify-updates-and-settings-48x48@2x.png">
              <h5>Push profiles</h5>
              <p>Remote-control settings on your Macs and PCs like Wi-Fi, certificates, passwords, screen lock, etc.  Deploy baselines or customize your own to comply with your organization’s security requirements.</p>
            </div>
          </div>

          <div purpose="feature-row" class="d-flex flex-sm-row flex-column justify-content-center mb-0">
            <div purpose="feature-column" class="ml-sm-0">
            <img alt="Manage software installs from anywhere" src="/images/device-management-icon-automatic-posture-assessment-48x48@2x.png">
              <h5>Manage software installs from anywhere</h5>
              <p>Get employees the software and settings they need with less drama by managing app packages, operating system versions, and patch levels for every platform, on top of open standards and data.</p>
            </div>

            <div purpose="feature-column" class="mr-sm-0 mb-0">
            <img alt="Access the latest Apple and Windows APIs" src="/images/device-management-icon-circular-action-48x48@2x.png">
              <h5>Access the latest Apple and Windows APIs</h5>
              <p>Turn on the latest native macOS and Windows operating system capabilities like DDM and Autopilot, all in one place. Fleet’s team and community test against every new Apple and Microsoft release.</p>
            </div>
          </div>
        </div>

        <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
          <div purpose="feature-text" class="d-flex flex-column">
            <h3>Manage devices like code</h3>
            <p>Manage your IT infrastructure in any browser or <a target="_blank" href="https://github.com/fleetdm/fleet-gitops">use git</a> to make infrastructure changes as code. You can use the CLI or API to automate the deployment, configuration, and monitoring of your devices.</p>
          </div>
          <div purpose="feature-image" class="right">
            <img alt="ClickOps or DevOps" src="/images/device-management-clickops-or-devops-380x280@2x.png">
          </div>
        </div>

        <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
          <div purpose="feature-image" class="left">
            <img alt="Absolute certainty" src="/images/device-management-absolute-certainty-380x320@2x.png">
          </div>
          <div purpose="feature-text" class="d-flex flex-column">
            <h3>Onboard and offboard employees remotely</h3>
            <p>Easily enroll everything in one place and please auditors without making engineers give up their Linux computers.</p>
            <div purpose="checklist" class="flex-column d-flex">
              <p>Offboard employees with remote lock, and decommission lost and stolen devices with remote wipe.</p>
              <p>Connect to identity providers like Okta, Azure, Google Workspace, or any other that supports OpenID Connect.</p>
              <p>Keep hard disks encrypted with key escrow for FileVault and Bitlocker, and prove it with a couple of clicks or the REST API.</p>
              <p>Enroll all your devices with Apple Business Manager, Microsoft Autopilot, and built-in packages for Linux systems.</p>
            </div>
          </div>
        </div>

      </div>
      <%/* Implement “zero trust” faster section */%>
      <div purpose="page-section">
        <div purpose="feature-headline" style="max-width: 580px;">
          <h2>“Zero” trust, fewer tickets</h2>
          <p>You can use Fleet’s API to customize every aspect of conditional access – even the stuff your CISO hasn’t thought of yet.</p>
        </div>

        <div purpose="three-column-features" class="mx-auto">
          <div purpose="feature-row" class="d-flex flex-md-row flex-column align-items-md-start align-items-center justify-content-center">

            <div purpose="feature-column" class="ml-md-0">
              <img alt="Get in front of the IdP" src="/images/device-management-icon-control-login-experience-48x48@2x.png" class="mx-auto mx-sm-0">
              <h5>Get in front of the IdP</h5>
              <p>Gate access with <a href="https://fleetdm.com/queries">common device trust policies</a> from industry peers, or roll out your own device health checks using system data and events.</p>
            </div>

            <div purpose="feature-column">
              <img alt="Step-by-step instructions" src="/images/device-management-icon-step-by-step-48x48@2x.png">
              <h5>Step-by-step instructions</h5>
              <p>Show resolution steps or use <a href="https://medium.com/pinterest-engineering/enforcing-device-authn-compliance-at-pinterest-a74938cb089b" target="_blank">custom HTML</a> to show employees what they need to do to restore their access without waiting on a ticket. Then give it back automatically, as soon as the problems are fixed.</p>
            </div>

            <div purpose="feature-column" class="mr-md-0 mb-0">
              <img alt="Manage device posture" src="/images/device-management-icon-manage-device-posture-48x48@2x.png">
              <h5>Live retry</h5>
              <p>Give people a way to get back to work quickly and minimize downtime. Fleet’s live query API instantly re-checks the OS version and other device state so users don’t get locked out.</p>
            </div>
          </div>
        </div>
      </div>
      <div purpose="page-section">
        <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
          <div purpose="feature-text" class="d-flex flex-column">
            <h2>Absolute certainty</h2>
            <p>Reduce time wasted hunting down whether a change happened. Actually verify that settings are applied using real data pulled from your users' devices.</p>
            <div purpose="checklist" class="flex-column d-flex">
              <p>Use a git repo as the source of truth to reduce errors (submitting the wrong patch, configuration setting etc)</p>
              <p>Every change to a policy or security control is tracked and auditable in Fleet’s history, or via the repo commit log</p>
            </div>
          </div>
          <div purpose="feature-image" class="right">
            <img alt="A laptop using Fleet to accurately display the status of MDM configurations" src="/images/device-management-hero-image-380x396@2x.png">
          </div>
        </div>
      </div>

      <div purpose="page-section" class="mb-0">
        <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
          <div purpose="feature-image" class="left">
            <img alt="Transparency for end users" src="/images/device-management-transparency-380x320@2x.png">
          </div>
          <div purpose="feature-text" class="d-flex flex-column">
            <h2>Scope transparency</h2>
            <p>Increase <a href="https://fleetdm.com/handbook/company/why-this-way#why-open-source">buy-in</a> from end users by clarifying how their work computers are managed.</p>
            <div purpose="checklist" class="flex-column d-flex">
              <p>Give end users assurance about what actions IT can take on their computer</p>
              <p>Let end users see exactly what data is collected, all the way down to the source code</p>
              <p>Set clear expectations about how to configure company devices</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <%/* End of page gradient */%>
  <div purpose="bottom-gradient">
    <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
      <div purpose="section-heading" class="mx-auto text-center">
        <h4>Who else uses Fleet?</h4>
        <h2>Empowering IT teams</h2>
      </div>
    </div>

    <scrollable-tweets :testimonials="testimonialsForScrollableTweets"></scrollable-tweets>
    <div purpose="page-container" class="pb-0 container">

      <div purpose="section-headline" class="text-center">
        <h4>Device management (MDM)</h4>
        <h2>Manage everything in one place</h2>
        <div purpose="button-row" style="margin-top: 32px;" class="d-flex flex-md-row flex-column justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" @click="clickOpenChatWidget()">Show me</a>
          <a purpose="animated-arrow-button-red" href="/pricing">Try it out</a>
        </div>
      </div>
    </div>
  </div>
  <%/* Cloud city banner */%>
  <parallax-city></parallax-city>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
