<div id="docs-template" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/docs-template.less</em>, <em>assets/js/pages/docs-template.page.js</em>, and <em>api/controllers/view-docs-template.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
