<div id="documentation" v-cloak>
  <div style="max-width: 948px;" class="container-fluid p-0 px-3 px-sm-4 py-5 mb-5 mx-auto">

    <div class="text-center">
      <h1 class="pt-5">Fleet documentation</h1>
      <p class="mb-2">Welcome to the documentation for the Fleet osquery fleet manager.</p>
      <p class="mb-0"><strong>v4.0.1 </strong><a href="https://github.com/fleetdm/fleet/releases">changelog</a></p>
      <!-- TODO script to pull latest release version -->  
    </div>

    <div purpose="search" class="d-flex p-0 pt-4 mt-3">
      <div class="input-group">
        <div class="input-group-prepend border-right-0">
          <span class="input-group-text bg-transparent border-right-0 pl-3 pr-2">
            <img style="height: 16px; width: auto;" class="search" alt="search" src="/images/icon-search-16x16@2x.png"></span>
        </div>
        <input class="form-control border-left-0 px-0" placeholder="Search the docs..." aria-label="Search the docs"
          v-model="inputTextValue" @keydown.self="delayInput(setSearchString, 400, 'defaultTimer')()" />
      </div>
    </div>

    <div class="cta-cards">
      <div class="container-fluid d-flex flex-column flex-sm-row justify-content-sm-between p-0 pt-4 mt-3">
        <div class="container-fluid d-flex flex-column flex-md-row justify-content-center align-items-center py-3 m-0 mr-sm-1 cta-card" @click="clickCTA('get-started')">
          <img class="cta-image" alt="Install Fleet" src="/images/install-fleet-140x72@2x.png"/>
          <div class="text-center text-md-left cta-text">
            <p class="font-weight-bold p-0 pl-md-4 pt-2 pt-md-0 m-0">Install osquery and Fleet</p>
            <a class="p-0 pl-md-4 pt-2 pt-md-0 arrow" href="/get-started">
              Get started
              <img class="d-inline mb-1" style="height: 16px; width: auto;" alt="right arrow" src="/images/arrow-right-16x16@2x.png" />
            </a>  
          </div>
        </div>
        <div class="container-fluid d-flex flex-column flex-md-row justify-content-center align-items-center py-3 m-0 ml-sm-1 mt-3 mt-sm-0 cta-card" @click="clickCTA('support')">
          <img class="cta-image" alt="Fleet support" src="/images/fleet-support-140x72@2x.png"/>
          <div class="text-center text-md-left cta-text">
            <p class="font-weight-bold p-0 pl-md-4 pt-2 pt-md-0 m-0">Can't find what you need?</p>
            <a class="p-0 pl-md-4 pt-2 pt-md-0 arrow" href="/support">
              Support
              <img class="d-inline mb-1" style="height: 16px; width: auto;" alt="right arrow" src="/images/arrow-right-16x16@2x.png" />
            </a>  
          </div>
        </div>
      </div>
    </div>

    <div class="tree">
      <div class="container-fluid d-flex flex-column flex-sm-row justify-content-sm-between p-0">
        <div v-for="item in tree">
          <div style="max-width: 300px;" class="container-fluid justify-content-start align-items-center p-0 px-2 pt-4 m-0 mt-3">
            <h3 class="mb-4">{{item.title}}</h3>
            <ul style="list-style: none;" class="p-0 m-0">
              <li class="mb-2" v-for="child in item.children">
                <a :href="'/docs/' + _.kebabCase(item.title) + '/' + _.kebabCase(child)">{{child}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
