<div id="download" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content">
      <div purpose="hero">
        <h1>Download fleetctl</h1>
        <p>CLI (command line interface) tool for managing Fleet. Manage hosts, apply configurations, run reports, and interact with the Fleet API from your terminal.</p>
        <div purpose="download-buttons">
          <div purpose="button-row">
            <a href="<%- macOsDownloadUrl %>"  purpose="download-button"><img alt="Apple logo" src="/images/os-macos-dark-24x24@2x.png"> macOS</a>
            <a href="<%- windowsDownloadUrl %>"  purpose="download-button"><img alt="Windows logo" src="/images/os-windows-dark-24x24@2x.png">Windows</a>
            <a href="<%- windowsArmDownloadUrl %>"  purpose="download-button"><img alt="Windows logo" src="/images/os-windows-dark-24x24@2x.png">Windows (arm 64)</a>
          </div>
          <div purpose="linux-instructions">
            <p><strong>Install on Linux</strong></p>
            <div  purpose="codeblock">
              <div purpose="copy-button"></div>
              <pre><code>curl -sSL https://fleetdm.com/resources/install-fleetctl.sh | bash</code></pre>
            </div>
          </div>
        </div>
      </div>
      <div purpose="page-section">
        <h2>FAQ</h2>
        <div purpose="accordion">
          <div purpose="accordion-body">
            <div purpose="accordion-item">
              <p purpose="accordion-header" id="accordion__header-faq-1" style="cursor: pointer;" class="accordion" data-toggle="collapse" data-target="#accordion__body-faq-1" aria-controls="accordion__body-faq-1">
                What platforms does fleetctl support?
                <span class="fa fa-angle-down"></span>
              </p>
              <div purpose="accordion-answer" id="accordion__body-faq-1" class="collapse" aria-labelledby="accordion__header1">
                <p>fleetctl is available for macOS, Linux, and Windows.</p>
              </div>
            </div>
            <div purpose="accordion-item">
              <p purpose="accordion-header" id="accordion__header-faq-2" style="cursor: pointer;" class="accordion" data-toggle="collapse" data-target="#accordion__body-faq-2" aria-controls="accordion__body-faq-2">
                Does the version of fleetctl need to match my Fleet server?
                <span class="fa fa-angle-down"></span>
              </p>
              <div purpose="accordion-answer" id="accordion__body-faq-2" class="collapse" aria-labelledby="accordion__header3">
                <p>
                Yes. Match the version of fleetctl to the version of your Fleet server.
                </p>
              </div>
            </div>
            <div purpose="accordion-item">
              <p purpose="accordion-header" id="accordion__header-faq-3" style="cursor: pointer;" class="accordion" data-toggle="collapse" data-target="#accordion__body-faq-3" aria-controls="accordion__body-faq-3">
                How do I connect fleetctl to my Fleet instance?
                <span class="fa fa-angle-down"></span>
              </p>
              <div purpose="accordion-answer" id="accordion__body-faq-3" class="collapse" aria-labelledby="accordion__header9">
                <p>Set your Fleet server address, then log in:</p>
                <div  purpose="codeblock">
                  <div purpose="copy-button"></div>
                  <pre><code>fleetctl config set --address 'https://fleet.example.com'
fleetctl login</code></pre>
                </div>
              </div>
            </div>
            <div purpose="accordion-item">
              <p purpose="accordion-header" id="accordion__header-faq-4" style="cursor: pointer;" class="accordion" data-toggle="collapse" data-target="#accordion__body-faq-4" aria-controls="accordion__body-faq-4">
                I use SSO or two-factor authentication. Can I still use fleetctl?
                <span class="fa fa-angle-down"></span>
              </p>
              <div purpose="accordion-answer" id="accordion__body-faq-4" class="collapse" aria-labelledby="accordion__header-faq-4">
                <p>Yes. Instead of using fleetctl login, get your API token from My account in the Fleet UI and set your Fleet server token:</p>
                <div  purpose="codeblock">
                  <div purpose="copy-button"></div>
                  <pre><code>fleetctl config set --token YOUR_API_TOKEN</code></pre>
                </div>
              </div>
            </div>
            <div purpose="accordion-item">
              <p purpose="accordion-header" id="accordion__header-faq-5" style="cursor: pointer;" class="accordion" data-toggle="collapse" data-target="#accordion__body-faq-5" aria-controls="accordion__body-faq-5">
                How do I see available commands?
                <span class="fa fa-angle-down"></span>
              </p>
              <div purpose="accordion-answer" id="accordion__body-faq-5" class="collapse" aria-labelledby="accordion__header-faq-5">
                <p>Run <code purpose="inline-code">fleetctl --help</code>. For help with a specific command, run <code purpose="inline-code">fleetctl [command] --help</code>.</p>
              </div>
            </div>
          </div>
          <p purpose="faq-note">Couldn’t find an answer? <a href="/contact?sendMessage">message us</a></p>
        </div>
      </div>
    </div>
  </div>

  <parallax-city no-background="true"></parallax-city>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
