<div id="endpoint-ops-page" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content" class="mx-auto">
    <div purpose="hero">
      <div purpose="page-headline">
        <h4>Endpoint operations</h4>
        <h1>Understand your computers</h1>
      </div>
      <div purpose="hero-content" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
        <div purpose="hero-image">
          <img alt="A device verifying compliance for every endpoint" src="/images/endpoint-operations-hero-image-380x380@2x.png">
        </div>
        <div purpose="hero-text">
          <% if(primaryBuyingSituation === 'eo-it') { %>
            <strong>Pulse check anything</strong>
            <p>Use a live connection to every endpoint to simplify audit, compliance, and reporting from workstations to data centers.</p>
            <strong>Ship data to any platform</strong>
            <p>Ship logs to any platform like Splunk, Snowflake, or <a href="/docs/using-fleet/log-destinations">any streaming infrastructure</a> like AWS Kinesis and Apache Kafka.</p>
            <strong>Automate anything</strong>
            <p>Remotely run scripts and prompts to complete tasks on every kind of computer, including Linux.</p>
          <% } else if(primaryBuyingSituation === 'eo-security') { %>
            <strong>Osquery on easy mode</strong>
            <p>You don’t need to be an osquery expert to get the answers you need from your devices, Fleet does some of that for you.</p>
            <strong>Pulse check anything</strong>
            <p>Use a live connection to every endpoint to simplify audit, compliance, and reporting from workstations to data centers.</p>
            <strong>Ship data to any platform</strong>
            <p>Ship logs to any platform like Splunk, Snowflake, or <a href="/docs/using-fleet/log-destinations">any streaming infrastructure</a> like AWS Kinesis and Apache Kafka.</p>
          <% } else { %>
            <strong>Pulse check anything</strong>
            <p>Use a live connection to every endpoint to simplify audit, compliance, and reporting from workstations to data centers.</p>
            <strong>Ship data to any platform</strong>
            <p>Ship logs to any platform like Splunk, Snowflake, or <a href="/docs/using-fleet/log-destinations">any streaming infrastructure</a> like AWS Kinesis and Apache Kafka.</p>
            <strong>Osquery on easy mode</strong>
            <p>You don’t need to be an osquery expert to get the answers you need from your devices, Fleet does some of that for you.</p>
          <% }%>
          <div purpose="button-row" class="d-flex flex-md-row flex-column justify-content-start align-items-center">
            <a purpose="cta-button" href="/register">Start now</a>
            <a purpose="animated-arrow-button-red" href="/contact">Talk to us</a>
          </div>
        </div>
      </div>
    </div>
    <div purpose="testimonials" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
      <% if(primaryBuyingSituation === 'eo-it') { %>
        <div purpose="testimonial-quote">
          <div purpose="quote">
            <img alt="an opening quotation mark" style="width:20px; margin-bottom: 16px;" src="/images/icon-quote-21x17@2x.png">
            <p>“Fleet provides a way to surface device data to our other teams and partners.”</p>
          </div>
          <div purpose="quote-attribution" class="d-flex flex-md-row flex-column align-items-center">
            <div purpose="quote-image"><img src="/images/testimonial-author-nick-fohs-24x24@2x.png" alt="Nick Fohs"></div>
            <div class="d-flex flex-column">
              <p purpose="name">Nick Fohs</p>
              <p purpose="title">Systems and infrastructure manager</p>
            </div>
          </div>
        </div>
      <% } else { %>
        <div purpose="testimonial-quote">
          <div purpose="quote">
            <img alt="an opening quotation mark" style="width:20px; margin-bottom: 16px;" src="/images/icon-quote-21x17@2x.png">
            <p>"I love the steady and consistent delivery of features that help teams work how they want to work, not how your product dictates they work."</p>
          </div>
          <div purpose="quote-attribution" class="d-flex flex-md-row flex-column align-items-center">
            <div purpose="quote-image"><img src="/images/testimonial-daniel-grzelak-48x48@2x.png" alt="Daniel Grzelak"></div>
            <div class="d-flex flex-column">
              <p purpose="name">Daniel Grzelak</p>
              <p purpose="title">CISO</p>
            </div>
          </div>
        </div>
      <% } %>
      <div purpose="testimonial-videos" class="d-flex">
        <div purpose="testimonial-video" @click="clickOpenVideoModal('austin-anderson')">
          <span><img src="/images/icon-play-video-8x9@2x.png" alt="Play">Play video</span>
        </div>
        <div purpose="testimonial-video" @click="clickOpenVideoModal('nick-fohs')">
          <span><img src="/images/icon-play-video-8x9@2x.png" alt="Play">Play video</span>
        </div>
      </div>
    </div>

    <div purpose="feature-headline" class="mr-auto">
      <h3>Pulse check anything</h3>
      <p>Use a live connection to every endpoint to simplify audit, compliance, and reporting from workstations to data centers.</p>
    </div>

    <div purpose="three-column-features" class="mx-auto">

      <div purpose="feature-row" class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-center">
        <div purpose="feature-item" class="ml-sm-0">
          <img alt="Software and asset inventory" src="/images/icon-live-connection-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>Live connection</h5>
          <p>Talk to online devices in real time with Fleet’s live query API. Implement custom workflows like conditional access based on device posture, Identity, and more.</p>
        </div>

        <div purpose="feature-item">
          <img alt="Software and asset inventory" src="/images/icon-software-and-asset-inventory-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>Software and asset inventory</h5>
          <p>Get visibility into all endpoints across any operating system*, including support for servers and containers in every cloud infrastructure.</p>
        </div>

        <div purpose="feature-item" class="mr-sm-0 mb-0">
          <img alt="See logins for every endpoint" src="/images/icon-see-logins-for-every-endpoint-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>See logins for every endpoint</h5>
          <p>Identify who logs in to any system, including login history and current sessions. Look up any computer by the email address of the person using it.</p>
        </div>


      </div>
      <div purpose="feature-row" class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center">

        <div purpose="feature-item" class="ml-sm-0">
          <img alt="CIS benchmarks" src="/images/icon-cis-benchmarks-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>CIS benchmarks</h5>
          <p>Keep all your endpoints* compliant with customizable baselines, or use common benchmarks like CIS.</p>
        </div>

        <div purpose="feature-item">
          <img alt="Get in front of the IdP" src="/images/icon-automatic-posture-assessment-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>Get in front of the IdP</h5>
          <p>Gate access with <a href="/queries">common device trust policies</a> from industry peers, or roll out your own device health checks using system data and events.</p>
        </div>

        <div purpose="feature-item" class="mr-sm-0 mb-0">
          <img alt="Verify updates and settings" src="/images/icon-verify-updates-and-settings-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>Verify updates and settings</h5>
          <p>Track progress towards deadlines for security posture remediation projects, and enforce due dates through automations.</p>
        </div>
      </div>
      <div purpose="feature-row" class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center">
        <div purpose="feature-item" class="ml-sm-0 mb-0">
          <img alt="Verify updates and settings" src="/images/icon-edr-health-check-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>EDR health checks</h5>
          <p>Verify that your EDR tools are installed and working so you can identify and address configuration issues quickly.</p>
        </div>
        <div purpose="feature-item" class="ml-sm-0 mb-0"></div>
        <div purpose="feature-item" class="ml-sm-0 mb-0"></div>
      </div>
      <p purpose="feature-footnote">*Currently limited to: macOS, Linux, Windows, Chromebooks, OT, data centers, Amazon Web Services (AWS), Google Cloud (GCP), and the Microsoft Cloud (Azure).</p>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div purpose="feature-text" class="d-flex flex-column">
        <h3>Ship data to any platform</h3>
        <p>Export anything. Ship data to any platform like Splunk, Snowflake, or any streaming infrastructure like AWS Kinesis and Apache Kafka.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Extract data and correlate it with your log aggregator, SIEM, or data lake.</p>
          <p>Ease your logging burden, pull the data you need.</p>
        </div>
      </div>
      <div purpose="feature-image" class="left">
        <img alt="Ship data to any platform" src="/images/endpoint-ops-feature-image-1-381x282@2x.png">
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center mb-0">
      <div purpose="feature-image" class="right">
        <img alt="Ship data to any platform" src="/images/endpoint-ops-feature-image-2-380x380@2x.png">
      </div>
      <div purpose="feature-text" class="d-flex flex-column">
        <h3>Osquery on easy mode</h3>
        <p>Accelerate deployment and get more out of osquery. You don’t need to be an osquery expert to get the answers you need from your devices, Fleet takes care of some of that for you.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Remotely disable/enable agent features, choose plugins, and keep osquery up to date.</p>
          <p>Import community queries from other security teams at top brands like Palantir and Fastly.</p>
          <p>Implement the Center for Internet Security (CIS) benchmarks (one click, 400+ queries, supported by Fleet). Or customize exactly the queries you need.</p>
        </div>
      </div>
    </div>

    <div purpose="feature-headline" class="mr-auto">
      <h3>Open security tooling</h3>
      <p>Consolidate your security tooling on top of open data standards like YAML, SQL, and JSON.</p>
    </div>

    <div purpose="three-column-features" class="mx-auto">

      <div purpose="feature-row" class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-center">
        <div purpose="feature-item" class="ml-sm-0">
          <img alt="Incident response (IR)" src="/images/icon-incident-response-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>Incident response (IR)</h5>
          <p>Contain and recover from breaches using live data, remote commands, and automated workflows.</p>
        </div>

        <div purpose="feature-item">
          <img alt="Detection and response" src="/images/icon-detection-and-response-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>Detection and response</h5>
          <p>Ship logs and alerts when unusual behavior is detected. Run scripts on demand or when alerts trigger.</p>
        </div>

        <div purpose="feature-item" class="mr-sm-0 mb-0">
          <img alt="File access monitoring (FIM)" src="/images/icon-fim-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>File access monitoring (FIM)</h5>
          <p>Specify files to monitor for changes or deletions, then log those events to your SIEM or data lake.</p>
        </div>
      </div>
      <div purpose="feature-row" class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-center">
        <div purpose="feature-item" class="ml-sm-0">
          <img alt="Attack surface management" src="/images/icon-attack-surface-management-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>Attack surface management</h5>
          <p>Discover security misconfigurations and vulnerabilities and prioritize risks that matter to your organization.</p>
        </div>

        <div purpose="feature-item">
          <img alt="Malware detection" src="/images/icon-malware-detection-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>Malware detection</h5>
          <p>Continuously scan host filesystems for indicators of compromise (IOC). Import malware signatures from threat intelligence sources.</p>
        </div>

        <div purpose="feature-item" class="mr-sm-0 mb-0">
          <img alt="Osquery made easy" src="/images/icon-osquery-made-easy-48x48@2x.png" class="mx-auto mx-sm-0">
          <h5>Osquery made easy</h5>
          <p>Collect exactly the data you need from your production infrastructure across every cloud and data center*.</p>
        </div>
      </div>
      <p purpose="feature-footnote">*Companies like Fastly and Gusto use Fleet in production with hundreds of thousands of endpoints, including containers, OT, and laptops.</p>
    </div>

  </div>
  </div>
  <%/* End of page gradient */%>
  <div purpose="bottom-gradient">
    <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
      <div purpose="section-heading" class="mx-auto text-center">
        <h4>Who else uses Fleet?</h4>
        <h3>Empowering <%= ['mdm', 'eo-it'].includes(primaryBuyingSituation) ? 'IT and security' : 'security and IT' %> teams, globally</h3>
      </div>
    </div>

    <scrollable-tweets :testimonials="testimonialsForScrollableTweets"></scrollable-tweets>
    <div purpose="page-container" class="pb-0">

      <div purpose="section-heading" class="text-center">
        <h4>Endpoint operations</h4>
        <h3>A consistent interface</h3>
        <div purpose="button-row" style="margin-top: 32px;" class="d-flex flex-md-row flex-column justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" href="/register">Start now</a>
          <a purpose="animated-arrow-button-red" href="/contact">Talk to us</a>
        </div>
      </div>
    </div>
  </div>
  <%/* Cloud city banner */%>
  <parallax-city></parallax-city>
  <modal purpose="video-modal" v-if="modal === 'austin-anderson'" @close="closeModal()">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/G5Ry_vQPaYc?si=vv0AfRe30yssWWRM&amp;rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </modal>
  <modal purpose="video-modal" v-if="modal === 'nick-fohs'" @close="closeModal()">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fs5ULAR4e4A?si=pChZBt_sSNj13goP&amp;rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
