<div id="fast-track" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content">
      <div purpose="page-hero">
        <div purpose="hero-text">
          <h1>Get up and running with Fleet Fast-track</h1>
          <p>Fleet Fast-track is a 3-5 day professional services engagement and training session focused on the essentials of device management, providing in-person collaboration between your team and Fleet's subject matter experts.</p>
          <p class="mb-0">Fleet will guide you through management strategy and security posture from scratch or help you improve upon the capabilities of your previous MDM solution with the goal of getting Fleet up and running quickly.</p>
        </div>
        <div purpose="hero-image">
          <img alt="Fleet fast-track" src="/images/fast-track-hero-1054x856@2x.png">
        </div>
      </div>
      <div purpose="features-section">
        <div purpose="section-heading">
          <h1>What’s included</h1>
          <p>Fast-track focuses on Fleet feature fundamentals and the device management workflows your team needs on day one.</p>
        </div>
        <div purpose="feature-row">
          <div purpose="feature">
            <h4>Live setup with Fleet experts</h4>
            <p>Configure Fleet to match your requirements and align with best practices.</p>
          </div>
          <div purpose="feature">
            <h4>Enrollment workflows</h4>
            <p>Automate zero-touch enrollment and tackle migration to Fleet from your current management service.</p>
          </div>
          <div purpose="feature">
            <h4>Policy and compliance</h4>
            <p>Create policies, profiles, scripts and queries to enforce your security posture.</p>
          </div>
        </div>
        <div purpose="feature-row" class="mb-0">
          <div purpose="feature">
            <h4>Software management</h4>
            <p>Deploy custom software packages, use Fleet-maintained apps, and your platform’s app store.</p>
          </div>
          <div purpose="feature">
            <h4>Onboarding and offboarding</h4>
            <p>Build predictable, secure device provisioning and repurposing processes.</p>
          </div>
          <div purpose="feature">
            <h4>Integrations</h4>
            <p>Connect Fleet to your IdP, GitOps repo, logging tools, or any other part of your stack.</p>
          </div>
        </div>
      </div>
      <div purpose="quote-section">
        <div purpose="quote">
          <p purpose="quote-text">Having Fleet on site was phenomenal! Their professionalism and commitment to ensuring our use cases were managed was some of the best customer partnership we've ever seen.</p>
          <p purpose="quote-author">Jonathan Keyes</p>
          <p purpose="quote-author-role">Director of Project Management at Hawx</p>
        </div>
      </div>
      <div purpose="checklist-section">
        <div purpose="checklist-with-image">
          <div purpose="product-image">
            <img alt="The controls page of Fleet." src="/images/fast-track-product-image-1054x856@2x.png">
          </div>
          <div purpose="feature-text">
            <h1>How it works</h1>
            <p>Fast-track is delivered, in-person, over 3-5 days. Each session includes:</p>
            <div purpose="checklist">
              <p purpose="checklist-item">Live configuration with Fleet experts</p>
              <p purpose="checklist-item">Creation of critical workflows</p>
              <p purpose="checklist-item">Validation testing in production</p>
              <p purpose="checklist-item">Documentation of all completed work</p>
            </div>
          </div>
        </div>
      </div>
      <div purpose="page-section">
        <div purpose="accordion">
          <h1>Frequently asked questions</h1>
          <div purpose="accordion-body">
            <div purpose="accordion-item">
              <p purpose="accordion-header" id="accordion__header1" class="accordion" data-toggle="collapse" data-target="#accordion__body1" aria-controls="accordion__body1">
                Is it any good?
                <span class="fa fa-angle-down"></span>
              </p>
              <p purpose="acordion-item-text" id="accordion__body1" class="collapse" aria-labelledby="accordion__header1">
                A Fast-track will deliver a working Fleet deployment, tested enrollment workflows, policies and controls, software deployment, remediation, onboarding and offboarding strategies, and clear next steps to make Fleet ready for use in production.
              </p>
            </div>
            <div purpose="accordion-item">
              <p purpose="accordion-header" id="accordion__header2" class="accordion" data-toggle="collapse" data-target="#accordion__body2" aria-controls="accordion__body2">
                Does a Fast-track engagement include migration from our current MDM?
                <span class="fa fa-angle-down"></span>
              </p>
              <p purpose="acordion-item-text" id="accordion__body2" class="collapse" aria-labelledby="accordion__header2">
                A five-day Fast-track engagement can include MDM device migration.
              </p>
            </div>
            <div purpose="accordion-item">
              <p purpose="accordion-header" id="accordion__header3" class="accordion" data-toggle="collapse" data-target="#accordion__body3" aria-controls="accordion__body3">
                Who should attend the Fast-track?
                <span class="fa fa-angle-down"></span>
              </p>
              <p purpose="acordion-item-text" id="accordion__body3" class="collapse" aria-labelledby="accordion__header3">
                Anyone responsible for day-to-day management of your organization’s devices is welcome to attend.
              </p>
            </div>
            <div purpose="accordion-item">
              <p purpose="accordion-header" id="accordion__header4" class="accordion" data-toggle="collapse" data-target="#accordion__body4" aria-controls="accordion__body4">
                What do we need to prepare?
                <span class="fa fa-angle-down"></span>
              </p>
              <p purpose="acordion-item-text" id="accordion__body4" class="collapse" aria-labelledby="accordion__header4">
                Requirements for every organization are different. Fleet will gather your requirements and help you prepare a project plan for your Fast-track engagement.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div purpose="bottom-gradient">
    <parallax-city></parallax-city>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
