<div id="fleetctl-preview" v-cloak>
  <div purpose="page-container" class="d-flex flex-column container">
    <div purpose="page-title">
      <h1>Try Fleet</h1>
      <p>The quickest way to try Fleet is to run a local demo with <a href="https://docs.docker.com/get-docker/" target="_blank">Docker</a>.</p>
      <p class="mb-0">Follow the instructions below to test Fleet on your macOS, Windows, and Linux device.</p>
    </div>
    <div purpose="prerequisites">
      <h2>Prerequisites</h2>
      <p>An installation of Docker is required to try Fleet locally.</p>
      <a purpose="docker-button" href="https://docs.docker.com/get-docker/" target="_blank"
        style="color: #fff; background: #0073EC;" class="d-flex btn btn-md justify-content-center align-items-center mt-3 mt-sm-0">
        <img alt="Docker logo" src="/images/logo-docker-51x36@2x.png"/>
        Get Docker
      </a>
    </div>
    <div purpose="installation-steps">
      <h2>Install Fleet</h2>
      <div purpose="platform-selector" class="d-flex flex-row justify-content-between justify-content-sm-start">
        <div purpose="selector-tab" :class="[selectedPlatform === 'macos' ? 'selected' : '']" @click="selectedPlatform = 'macos'"><p>macOS</p></div>
        <div purpose="selector-tab" :class="[selectedPlatform === 'windows' ? 'selected' : '']" @click="selectedPlatform = 'windows'"><p>Windows</p></div>
        <div purpose="selector-tab" :class="[selectedPlatform === 'linux' ? 'selected' : '']" @click="selectedPlatform = 'linux'"><p>Linux</p></div>
        <div purpose="selector-tab" :class="[selectedPlatform === 'npm' ? 'selected' : '']" @click="selectedPlatform = 'npm'"><p>NPM</p></div>
      </div>
      <%/* macOS install steps */%>
      <div v-if="selectedPlatform === 'macos'">
        <div purpose="numbered-steps">
          <div purpose="step">
              <p>Install the <code>fleetctl</code> command line tool:</p>
              <div purpose="terminal-commands"> <p>curl -SsLO https://fleetdm.com/resources/install-fleet.sh -o install_fleet.sh && shasum -a 256 install_fleet.sh</p></div>
          </div>
          <div purpose="step">
            <p>Run a local demo of the Fleet server:</p>
            <div purpose="terminal-commands"> <p>~/.fleetctl/fleetctl preview</p></div>
          </div>
          <div purpose="step">
            <p>The Fleet UI is now available at <a href="http://localhost:1337" target="_blank">http://localhost:1337</a>. Use the credentials below to login:</p>
            <p class="mb-2"><strong>Email</strong>: admin@example.com</p>
            <p class="mb-0"><strong>Password</strong>: preview1337#</p>
          </div>
        </div>
      </div>
      <%/* Linux install steps */%>
      <div v-else-if="selectedPlatform === 'linux'">
        <div purpose="numbered-steps">
          <div purpose="step">
              <p>Install the <code>fleetctl</code> command line tool:</p>
              <div purpose="terminal-commands"> <p>curl -SsLO https://fleetdm.com/resources/install-fleet.sh -o install_fleet.sh && shasum -a 256 install_fleet.sh</p></div>
          </div>
          <div purpose="step">
            <p>Run a local demo of the Fleet server:</p>
            <div purpose="terminal-commands"> <p>~/.fleetctl/fleetctl preview</p></div>
          </div>
          <div purpose="step">
            <p>The Fleet UI is now available at <a href="http://localhost:1337" target="_blank">http://localhost:1337</a>. Use the credentials below to login:</p>
            <p class="mb-2"><strong>Email</strong>: admin@example.com</p>
            <p class="mb-0"><strong>Password</strong>: preview1337#</p>
          </div>
        </div>
      </div>
      <%/* Windows install steps */%>
      <div v-else-if="selectedPlatform === 'windows'">
        <div purpose="numbered-steps">
          <div purpose="step">
              <p>Install the <code>fleetctl</code> command line tool:</p>
              <div purpose="terminal-commands"><p>for /f "tokens=1,* delims=:" %a in ('curl -s https://api.github.com/repos/fleetdm/fleet/releases/latest ^| findstr "browser_download_url" ^| findstr "_windows.zip"') do (curl -kOL %b) && if not exist "%USERPROFILE%\.fleetctl" mkdir "%USERPROFILE%\.fleetctl" && for /f "delims=" %a in ('dir /b fleetctl_*_windows.zip') do tar -xf "%a" --strip-components=1 -C "%USERPROFILE%\.fleetctl" && del "%a"</p></div>
          </div>
          <div purpose="step">
            <p>Run a local demo of the Fleet server:</p>
            <div purpose="terminal-commands"> <p>%USERPROFILE%\.fleetctl\fleetctl preview</p></div>
          </div>
          <div purpose="step">
            <p>The Fleet UI is now available at <a href="http://localhost:1337" target="_blank">http://localhost:1337</a>. Use the credentials below to login:</p>
            <p class="mb-2"><strong>Email</strong>: admin@example.com</p>
            <p class="mb-0"><strong>Password</strong>: preview1337#</p>
          </div>
        </div>
      </div>
      <%/* NPM install steps */%>
      <div v-else-if="selectedPlatform === 'npm'">
        <div purpose="numbered-steps">
          <div purpose="step">
            <p>Install Node.js</p>
            <a purpose="node-button" href="https://nodejs.org/en/download/" target="_blank" style="color: #fff; background: #333;" class="btn d-flex flex-row align-items-center justify-content-center">
              <img alt="NodeJS logo" src="/images/logo-node-59x36@2x.png"/>
              Find my Node installer
            </a>
          </div>
          <div purpose="step">
            <p>Install the <code>fleetctl</code> command line tool:</p>
            <div purpose="terminal-commands"> <p>npm install fleetctl -g</p></div>
          </div>
          <div purpose="step">
            <p>Run a local demo of the Fleet server:</p>
            <div purpose="terminal-commands"> <p>fleetctl preview</p></div>
          </div>
          <div purpose="step">
            <p>The Fleet UI is now available at <a href="http://localhost:1337" target="_blank">http://localhost:1337</a>. Use the credentials below to login:</p>
            <p class="mb-2"><strong>Email</strong>: admin@example.com</p>
            <p class="mb-0"><strong>Password</strong>: preview1337#</p>
          </div>
        </div>
      </div>
    </div>
    <h2>Next steps</h2>
    <div purpose="next-steps" class="d-flex flex-sm-row flex-column align-items-center">
      <a purpose="docs-button" href="/docs" class="btn btn-primary">
        Read the docs
      </a>
      <a href="/docs/deploying" purpose="animated-arrow-button-red" class=" d-flex">
        Deploy to production
      </a>
    </div>
  </div>
  <parallax-city></parallax-city>
</div>
