<div id="device-management" v-cloak>

  <div purpose="hero-background" class="container-lg d-flex justify-content-center">

    <div purpose="hero-container" class="d-flex flex-column align-items-center">
      <div purpose="hero-text">
        <h4 class="mb-2">Device management built for IT, security approved</h4>
        <h1>Open-source MDM</h1>
        <p>The future of IT and security is smart people using open-source tools.  Whether you do pull requests or click around, Fleet is 100% open-source.</p>
        <div purpose="button-row" class="d-flex flex-sm-row flex-column justify-content-center align-items-center">
          <a purpose="cta-button" @click="clickOpenMdmModal()">See GitOps in action</a>
          <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
        </div>
      </div>
    </div>

  </div>

  <div purpose="page-container" class="container-lg">

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div purpose="feature-left-text-block" class="d-flex flex-column">
          <h3>Made for customization</h3>
          <p>Integrations with leading configuration management platforms, including Chef, Munki, and Puppet, allow for efficiency in your management workflows. Our API and CLI provide the flexibility to program Fleet as you see fit.</p>
        </div>
        <div purpose="feature-image">
          <img alt="A bento box featuring all the tools Fleet can bring together" src="/images/device-management-bento-logos-320x295@2x.png">
      </div>
    </div>
    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image">
        <img alt="A Fleet orb scanning a Laptop" src="/images/device-management-realtime-visibility-320x294@2x.png">
      </div>
      <div purpose="feature-right-text-block" class="d-flex flex-column">
        <h3>Real-time visibility</h3>
        <p>Don't worry about your workstation configuration being out of date. Fleet makes it easy to see which settings have been applied to your devices. Real-time results allow you to see the status of your entire fleet at any given moment.</p>
      </div>
    </div>
    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div purpose="feature-left-text-block" class="d-flex flex-column">
        <h3>All platforms welcome</h3>
        <p>Give your teams access to any machine regardless of OS or manufacturer. Fleet supports Mac, Linux, Chromebooks, and Windows devices. So, you can make the most of your resources (and make everybody’s lives easier).</p>
      </div>
      <div purpose="feature-image">
        <img alt="All platforms welcome" src="/images/device-management-all-platforms-welcome-320-249@2x.png">
      </div>
    </div>

    <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
      <a purpose="cta-button" @click="clickOpenMdmModal()">See GitOps in action</a>
      <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
    </div>

  </div>
  <%/* End of page gradient */%>
  <div purpose="bottom-gradient">
    <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
      <div purpose="section-heading" style="max-width: 720px" class="mx-auto text-center">
        <h4>Don’t know osquery?</h4>
        <h2>Dedicated support from osquery experts</h2>
        <p>Osquery is the open-source agent that powers Fleet. And we have the most osquery experts around. We’ll help you realize the potential of this tool for your organization.</p>
      </div>
    </div>

    <scrollable-tweets></scrollable-tweets>
    <div purpose="page-container" class="pb-0 container">

      <div purpose="bottom-cta" class="text-center">
        <h4>Open-source device management</h4>
        <h1>Lighter than air</h1>
        <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try it out</a>
          <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
        </div>
      </div>
    </div>
    <%/* Cloud city banner */%>
  </div>
  <div class="d-flex flex-column" purpose="bottom-cloud-city-banner">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-lg-flex" src="/images/homepage-cloud-city-banner-lg-1600x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-md-flex d-lg-none" src="/images/homepage-cloud-city-banner-md-990x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-flex d-md-none" src="/images/homepage-cloud-city-banner-sm-375x168@2x.png">
  </div>


  <modal v-if="modal === 'mdm'" @close="closeModal()" data-backdrop="false" v-cloak purpose="modal">
    <div class="container p-0 d-flex flex-column justify-content-center align-items-center" purpose="mdm-modal">
      <div purpose="modal-form"  v-if="!showSignupFormSuccess">
      <div class="modal-header pb-2">
        <h2 class="text-center mb-2">Is it any good?</h2>
        <p>Fill out the form below to see Dave bootstrapping a macOS device with MDM.</p>
      </div>
        <ajax-form action="deliverMdmDemoEmail" class="mdm-demo-video w-100" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
            <div class="form-group">
              <label for="emailAddress">Work email</label>
              <input class="form-control" id="emailAddress" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" @input="typeClearOneFormError('emailAddress')">
              <div class="invalid-feedback" v-if="formErrors.emailAddress" focus-first>Please enter a valid email address</div>
            </div>
            <div class="form-group">
              <p style="padding-bottom: 12px;" class="mb-0 font-weight-bold">How many hosts do you have?</p>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="more-than-1000" value="true" v-model="formData.hasOverOneThousandHosts" :class="[formErrors.hasOverOneThousandHosts ? 'is-invalid' : '']">
                  <label class="form-check-label font-weight-normal" for="more-than-1000">
                    More than 1,000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="less-than-1000" value="false" v-model="formData.hasOverOneThousandHosts" :class="[formErrors.hasOverOneThousandHosts ? 'is-invalid' : '']">
                  <label class="form-check-label font-weight-normal" for="less-than-1000">
                    Less than 1,000
                  </label>
                  <div class="invalid-feedback" style="margin-left: -20px;" v-if="formErrors.hasOverOneThousandHosts" focus-first>Please choose one option</div>
                </div>
            </div>
            <cloud-error v-if="cloudError"></cloud-error>
          <div class="border-0 justify-content-center">
            <ajax-button purpose="submit-button" spinner="true" type="submit" :syncing="syncing" class="btn btn-sm btn-block btn-primary">Submit</ajax-button>
          </div>
        </ajax-form>
      </div>
      <div purpose="modal-form" class="text-center" v-else>
        <h2 class="mb-2">Thank you!</h2>
        <p class="mb-4">We just sent you an email in case you need to watch it again.</p>
        <a purpose="cta-button" class="btn btn-primary btn-block" href="https://play.goconsensus.com/ue5caa4fa" target="_blank"><p class="mb-0">Watch Dave's MDM demo</p></a>
      </div>
    </div>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
