<div id="device-management" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content" class="mx-auto">
    <div purpose="hero">
      <div purpose="page-headline">
        <h4>Device management (MDM)</h4>
        <h2>Manage devices like code</h2>
      </div>
      <div purpose="hero-content" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
        <div purpose="hero-image">
          <img alt="A laptop using Fleet to accurately display the status of MDM configurations" src="/images/device-management-hero-image-380x396@2x.png">
        </div>
        <div purpose="hero-text">
          <strong>Convention over configuration</strong>
          <p>Configure your devices with sensible defaults, or customize every traditional MDM feature exactly how you want it.</p>
          <strong>Absolute certainty</strong>
          <p><em>Actually</em> verify that settings are applied using real data pulled from your users' devices.</p>
          <strong>ClickOps or DevOps</strong>
          <p>Manage your IT infrastructure in any browser or use git to make changes as code. Use the CLI or API to automate the deployment, configuration, and monitoring of your devices.</p>
          <div purpose="button-row" class="d-flex flex-md-row flex-column justify-content-start align-items-center">
            <a purpose="cta-button" @click="clickOpenChatWidget()">Show me</a>
            <a purpose="animated-arrow-button-red" href="/try-fleet">See real data</a>
          </div>
        </div>
      </div>
    </div>
    <div purpose="testimonials" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
      <div purpose="testimonial-quote">
        <div purpose="quote">
          <img alt="an opening quotation mark" style="width:20px; margin-bottom: 16px;" src="/images/icon-quote-21x17@2x.png">
          <p>We wanted an open-source MDM that is easy to integrate with our configuration-as-code environment and to deliver the best possible experience for our employees and make security happy.</p>
        </div>
        <div purpose="quote-attribution" class="d-flex flex-md-row flex-column align-items-center">
          <div purpose="quote-image"><img src="/images/testimonial-kenny-botelho-48x48@2x.jpg" alt="Kenny Botelho"></div>
          <div class="d-flex flex-column">
            <p purpose="name">Kenny Botelho</p>
            <p purpose="title">Lead Client Platform Engineer</p>
          </div>
        </div>
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image" class="right">
        <img alt="Convention over configuration" src="/images/device-management-convention-over-configuration-380x320@2x.png">
      </div>
      <div purpose="feature-text" class="d-flex flex-column">
        <h3>Convention over configuration</h3>
        <p>Configure your users' computers with sensible defaults, or customize every traditional MDM feature exactly how you want it with Fleet's API, CLI, and webhooks.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Migrate devices quickly with out-of-the-box features, or control every detail using a modern REST API</p>
          <p>Tasked with zero trust? Use sensible, enterprise-ready device health checks from the community, or build your own</p>
          <p>Set up and verify ongoing compliance with CIS standards (one click, 400+ queries, supported by Fleet), or pick and choose baselines for different environments</p>
          <p>Use default workflows for employee offboarding, or run any low-level MDM command</p>
        </div>
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div purpose="feature-text" class="d-flex flex-column">
        <h3>Absolute certainty</h3>
        <p>Reduce time wasted hunting down whether a change happened. <em>Actually</em> verify that settings are applied using real data pulled from your users' devices.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Use a git repo as the source of truth to reduce errors (submitting the wrong patch, configuration setting, etc.)</p>
          <p>Every change to a policy or security control is tracked and auditable in Fleet’s history, or via the repo commit log</p>
        </div>
      </div>
      <div purpose="feature-image" class="left">
        <img alt="Absolute certainty" src="/images/device-management-absolute-certainty-380x320@2x.png">
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image" class="right">
        <img alt="ClickOps or DevOps" src="/images/device-management-clickops-or-devops-380x280@2x.png">
      </div>
      <div purpose="feature-text" class="d-flex flex-column">
        <h3>ClickOps or DevOps</h3>
        <p>Manage your IT infrastructure in any browser, or use git to make changes using your existing <a href="https://fleetdm.com/handbook/company/why-this-way#why-direct-responsibility">approval processes</a> and audit trail.</p>
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div purpose="feature-text" class="d-flex flex-column">
        <h3>Scope transparency</h3>
        <p>Increase <a href="https://fleetdm.com/handbook/company/why-this-way#why-open-source">buy-in</a> from end users by clarifying how their work computers are managed.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Give end users assurance about what actions IT can take on their computer</p>
          <p>Let end users see exactly what data is collected, all the way down to the source code</p>
          <p>Set clear expectations about how to configure company devices</p>
        </div>
      </div>
      <div purpose="feature-image" class="left">
        <img alt="Transparency for end users" src="/images/device-management-transparency-380x320@2x.png">
      </div>
    </div>

  </div>
  </div>
  <%/* End of page gradient */%>
  <div purpose="bottom-gradient">
    <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
      <div purpose="section-heading" class="mx-auto text-center">
        <h4>Who else uses Fleet?</h4>
        <h2>Empowering IT teams</h2>
      </div>
    </div>

    <scrollable-tweets :testimonials="testimonialsForScrollableTweets"></scrollable-tweets>
    <div purpose="page-container" class="pb-0 container">

      <div purpose="section-headline" class="text-center">
        <h4>Open-source device management</h4>
        <h2>Manage devices like code</h2>
        <div purpose="button-row" style="margin-top: 32px;" class="d-flex flex-md-row flex-column justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" @click="clickOpenChatWidget()">Show me</a>
          <a purpose="animated-arrow-button-red" href="/try-fleet">See real data</a>
        </div>
      </div>
    </div>
  </div>
  <%/* Cloud city banner */%>
  <div class="d-flex flex-column" purpose="bottom-cloud-city-banner">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-lg-flex" src="/images/homepage-cloud-city-banner-lg-1600x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-md-flex d-lg-none" src="/images/homepage-cloud-city-banner-md-990x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-flex d-md-none" src="/images/homepage-cloud-city-banner-sm-375x168@2x.png">
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
