<div id="device-management" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content" class="mx-auto">
    <div purpose="hero">
      <div purpose="page-headline">
        <h4>Device management (MDM)</h4>
        <h2>Manage devices like code</h2>
      </div>
      <div purpose="hero-content" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
        <div purpose="hero-image">
          <img alt="A laptop using Fleet to accurately display the status of MDM configurations" src="/images/device-management-hero-image-380x396@2x.png">
        </div>
        <div purpose="hero-text">
          <strong>Convention over configuration</strong>
          <p>Sed vel luctus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pretium augue.</p>
          <strong>Absolute certainty</strong>
          <p>Maecenas at sollicitudin elit. Nulla eu placerat tellus, sit amet ultrices erat. Nunc id interdum.</p>
          <strong>Transparency for end users</strong>
          <p>Curabitur feugiat felis et suscipit sodales. Suspendisse potenti. Nullam tempor, leo a dapibus ornare, lacus.</p>
          <div purpose="button-row" class="d-flex flex-md-row flex-column justify-content-start align-items-center">
            <a purpose="cta-button" @click="clickOpenMdmModal()">See GitOps in action</a>
            <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
          </div>
        </div>
      </div>
    </div>
    <div purpose="testimonials" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
      <div purpose="testimonial-quote">
        <div purpose="quote">
          <img alt="an opening quotation mark" style="width:20px; margin-bottom: 16px;" src="/images/icon-quote-21x17@2x.png">
          <p>Fleet lets us be more actionable with fewer people. It helps us to filter out the noise better than we could with the other big name products we replaced.</p>
        </div>
        <div purpose="quote-attribution" class="d-flex flex-md-row flex-column align-items-center">
          <div purpose="quote-image"><img src="/images/testimonial-andre-shields-48x48@2x.png" alt="Andre shields"></div>
          <div class="d-flex flex-column">
            <p purpose="name">Andre Shields</p>
            <p purpose="title">Cybersecurity Security Engineer, Vulnerability Management</p>
          </div>
        </div>
      </div>
      <div purpose="testimonial-videos" class="d-flex">
        <div purpose="testimonial-video" @click="clickOpenVideoModal('austin-anderson')">
          <span><img src="/images/icon-play-video-8x9@2x.png" alt="Play">Play video</span>
        </div>
        <div purpose="testimonial-video" @click="clickOpenVideoModal('andre-shields')">
          <span><img src="/images/icon-play-video-8x9@2x.png" alt="Play">Play video</span>
        </div>
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image" class="right">
        <img alt="Convention over configuration" src="/images/device-management-convention-over-configuration-380x260@2x.png">
      </div>
      <div purpose="feature-text" class="d-flex flex-column">
        <h3>Convention over configuration</h3>
        <p>NOTE: Be sure to make sure the near-term content is not just 100% gitops-focused. i.e. instead of selling only the repo commit history, _also_ sell the ability to access a comprehensive audit log</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Out-of-the-box support for CIS benchmarks</p>
          <p>Built-in device health queries</p>
          <p>Verify SOC2, NIST compliance</p>
        </div>
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div purpose="feature-text" class="d-flex flex-column">
        <h3>Absolute certainty</h3>
        <p>Reduce time wasted hunting down whether a change actually happened.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Point 1</p>
          <p>Point 2</p>
          <p>Point 3</p>
        </div>
      </div>
      <div purpose="feature-image" class="left">
        <img alt="Absolute certainty" src="/images/device-management-absolute-certainty-380x260@2x.png">
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image" class="right">
        <img alt="Transparency for end users" src="/images/device-management-transparency-438x373@2x.png">
      </div>
      <div purpose="feature-text" class="d-flex flex-column">
        <h3>Transparency for end users</h3>
        <p>Provide assurance to your end users with Fleet Desktop about what information is being collected from their device.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Let end users see the source code for exactly how they are being monitored.</p>
          <p>Set clear expectations about what is and isn’t acceptable use of work computers.</p>
          <p>Let users participate in fixing failing compliance policies.</p>
        </div>
      </div>
    </div>

  </div>
  </div>
  <%/* End of page gradient */%>
  <div purpose="bottom-gradient">
    <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
      <div purpose="section-heading" class="mx-auto text-center">
        <h4>Who else uses Fleet?</h4>
        <h2>Empowering security and IT teams</h2>
      </div>
    </div>

    <scrollable-tweets></scrollable-tweets>
    <div purpose="page-container" class="pb-0 container">

      <div purpose="bottom-cta" class="text-center">
        <h4>Open-source endpoint ops</h4>
        <h1>Lighter than air</h1>
        <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-md-row flex-column justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" @click="clickOpenMdmModal()">See GitOps in action</a>
          <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
        </div>
      </div>
    </div>
  </div>
  <%/* Cloud city banner */%>
  <div class="d-flex flex-column" purpose="bottom-cloud-city-banner">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-lg-flex" src="/images/homepage-cloud-city-banner-lg-1600x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-md-flex d-lg-none" src="/images/homepage-cloud-city-banner-md-990x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-flex d-md-none" src="/images/homepage-cloud-city-banner-sm-375x168@2x.png">
  </div>
  <modal purpose="video-modal" v-if="modal === 'austin-anderson'" @close="closeModal()">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/G5Ry_vQPaYc?si=vv0AfRe30yssWWRM&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </modal>
  <modal purpose="video-modal" v-if="modal === 'andre-shields'" @close="closeModal()">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/siXy9aanOu4?si=fRIUQrrOu81lAqi8&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
