<div id="fleet-premium-trial" v-cloak>
  <div purpose="fleet-ui-background">
    <div purpose="g-header">
      <div purpose="g-header-left">
      <div purpose="g-header-logo">
      <img alt="fleet-logo" src="/images/logo-brandmark-140x140@2x.png">
      </div>
      <div purpose="g-header-links">
        <div purpose="g-link"></div>
        <div purpose="g-link"></div>
        <div purpose="g-link"></div>
        <div purpose="g-link"></div>
        <div purpose="g-link"></div>
      </div>
      </div>
      <div purpose="g-header-right">
        <div purpose="g-header-avatar">
          <img src="/images/permanent/icon-avatar-default-gray-transparent-64x64@2x.png">
        </div>
        <div purpose="g-header-chevron">
          <img class="d-flex" style="width: 16px; height: 16px;" src="/images/chevron-down-16x16@2x.png" alt="a small chevron pointing downwards">
        </div>
      </div>
    </div>
    <div purpose="g-content">
      <div purpose="g-page-header">
        <div></div>
      </div>
      <div purpose="g-team-select">
        <div purpose="g-label">
        </div>
        <div purpose="g-select">
          <div purpose="g-label"></div>
            <img class="d-flex" style="width: 16px; height: 16px;" src="/images/chevron-down-16x16@2x.png" alt="a small chevron pointing downwards">
        </div>
      </div>
      <div purpose="g-platforms">
        <div purpose="g-platform">
          <div purpose="g-icon"></div>
          <div>
            <div purpose="g-label"></div>
            <div purpose="g-bottom-label"></div>
          </div>
        </div>
        <div purpose="g-platform">
          <div purpose="g-icon"></div>
          <div>
            <div purpose="g-label"></div>
            <div purpose="g-bottom-label"></div>
          </div>
        </div>
        <div purpose="g-platform">
          <div purpose="g-icon"></div>
          <div>
            <div purpose="g-label"></div>
            <div purpose="g-bottom-label"></div>
          </div>
        </div>
        <div purpose="g-platform">
          <div purpose="g-icon"></div>
          <div>
            <div purpose="g-label"></div>
            <div purpose="g-bottom-label"></div>
          </div>
        </div>
        <div purpose="g-platform">
          <div purpose="g-icon"></div>
          <div>
            <div purpose="g-label"></div>
            <div purpose="g-bottom-label"></div>
          </div>
        </div>
        <div purpose="g-platform">
          <div purpose="g-icon"></div>
          <div>
            <div purpose="g-label"></div>
            <div purpose="g-bottom-label"></div>
          </div>
        </div>
      </div>

      <div purpose="g-details">
        <div purpose="g-table">
          <div purpose="g-table-headings">
            <div purpose="g-labels">
              <div purpose="g-label-25"></div>
              <div purpose="g-label-10"></div>
            </div>
            <div purpose="g-link"></div>
          </div>
          <div purpose="g-table-links">
            <div purpose="g-label-25"></div>
            <div purpose="g-label-10"></div>
          </div>
          <div purpose="g-table-body">
            <div purpose="g-th">
              <div purpose="g-td"><div purpose="g-label-25"></div></div>
              <div purpose="g-td"><div purpose="g-label-25"></div></div>
              <div purpose="g-td"><div purpose="g-label-25"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>

          </div>
          <div purpose="g-table-pagination">
            <div purpose="pagination-button">
              <img class="d-flex" style="width: 6px; height: 10px;" src="/images/icon-chevron-fleet-black-50-10x17@2x.png" alt="a small chevron pointing downwards">
              <div purpose="g-label-10"></div>
            </div>


            <div purpose="pagination-button">
              <div purpose="g-label-25"></div>
              <img class="d-flex" style="width: 6px; height: 10px;" src="/images/icon-chevron-fleet-black-50-10x17@2x.png" alt="a small chevron pointing downwards">
            </div>
          </div>
        </div>
        <div purpose="g-log">
          <div purpose="g-log-header">
            <div purpose="g-label-25"></div>
          </div>
          <div purpose="g-log-body">
            <div purpose="left-column">
              <div purpose="g-log-box"></div>
              <div purpose="g-log-box"></div>
              <div purpose="g-log-box"></div>
              <div purpose="g-log-box"></div>
              <div purpose="g-log-box"></div>
              <div purpose="g-log-box"></div>
              <div purpose="g-log-box"></div>
            </div>
            <div purpose="right-column">
              <div purpose="g-log-item">
                <div purpose="first-line">
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                </div>
                <div purpose="second-line">
                  <div purpose="g-label-10"></div>
                </div>
              </div>

              <div purpose="g-log-item">
                <div purpose="first-line">
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                </div>
                <div purpose="second-line">
                  <div purpose="g-label-10"></div>
                </div>
              </div>
              <div purpose="g-log-item">
                <div purpose="first-line">
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                </div>
                <div purpose="second-line">
                  <div purpose="g-label-10"></div>
                </div>
              </div>
              <div purpose="g-log-item">
                <div purpose="first-line">
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                </div>
                <div purpose="second-line">
                  <div purpose="g-label-10"></div>
                </div>
              </div>
              <div purpose="g-log-item">
                <div purpose="first-line">
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                </div>
                <div purpose="second-line">
                  <div purpose="g-label-10"></div>
                </div>
              </div>
              <div purpose="g-log-item">
                <div purpose="first-line">
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                </div>
                <div purpose="second-line">
                  <div purpose="g-label-10"></div>
                </div>
              </div>
              <div purpose="g-log-item">
                <div purpose="first-line">
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                  <div purpose="g-label-25"></div>
                  <div purpose="g-label-10"></div>
                </div>
                <div purpose="second-line">
                  <div purpose="g-label-10"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div purpose="g-hosts-table">
        <div purpose="g-table">
          <div purpose="g-table-headings">
            <div purpose="g-labels">
              <div purpose="g-label-25"></div>
              <div purpose="g-label-10"></div>
            </div>
          </div>
          <div purpose="g-table-subheadings">
            <div purpose="g-labels">
              <div purpose="g-label-10"></div>
              <div purpose="g-label-10"></div>
            </div>
          </div>
          <div purpose="g-table-links">
            <div purpose="g-label-25"></div>
            <div purpose="g-label-10"></div>
          </div>
          <div purpose="g-table-body">
            <div purpose="g-th">
              <div purpose="g-td"><div purpose="g-label-25"></div></div>
              <div purpose="g-td"><div purpose="g-label-25"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>
            <div purpose="g-tr">
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
              <div purpose="g-td"><div purpose="g-label-10"></div></div>
            </div>

          </div>
          <div purpose="g-table-pagination">
            <div purpose="pagination-button">
              <img class="d-flex" style="width: 6px; height: 10px;" src="/images/icon-chevron-fleet-black-50-10x17@2x.png" alt="a small chevron pointing downwards">
              <div purpose="g-label-10"></div>
            </div>


            <div purpose="pagination-button">
              <div purpose="g-label-25"></div>
              <img class="d-flex" style="width: 6px; height: 10px;" src="/images/icon-chevron-fleet-black-50-10x17@2x.png" alt="a small chevron pointing downwards">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div purpose="page-container" class="container-fluid d-flex px-0">
    <div purpose="modal" v-if="trialType === 'local trial'">
      <div purpose="modal-content">
      <div purpose="logo-row">
        <div purpose="modal-logo">
          <img alt="Fleet logo" src="/images/logo-brandmark-32x32@2x.png">
        </div>
        <div purpose="close-button">
          <button type="button" data-dismiss="modal" aria-label="Close" purpose="modal-close-button"  @click="closeModalAndRedirect()">&times;</button>
        </div>
      </div>
      <div purpose="content" v-if="!trialIsExpired">
        <div>
          <h3>Here’s your trial license key</h3>
          <p class="mb-0">
            This key unlocks Fleet Premium for 30 days starting now.<br>
            Bookmark this URL. You’ll need this key after you deploy Fleet.
          </p>
        </div>
        <div purpose="license-key">
          <div purpose="trial-key-fade"></div>
          <div purpose="license-key-container">
            <code><span>{{trialLicenseKey}}</span></code>
          </div>
          <a purpose="command-copy-button" @click="clickCopyLicenseKey()"></a>
        </div>
        <div purpose="modal-button-links">
          <a purpose="modal-button" href="/docs/deploy" no-underline>
            <img alt="Premium support" src="/images/icon-deploy-fleet-64x64@2x.png">
            <h4>Deploy Fleet</h4>
            <p>Learn how to deploy Fleet.</p>
          </a>
          <a purpose="modal-button" href="/new-license" no-underline>
            <img alt="Purchase a Fleet Premium license" src="/images/start-purchase-license-64x64@2x.png">
            <h4>Buy a license</h4>
            <p>Purchase a Fleet Premium license.</p>
          </a>
        </div>
        <p class="mb-0">Got questions? <a href="/contact">Get in touch</a></p>
      </div>
      <div purpose="content" v-else>
        <div>
          <h3>How was it?</h3>
          <p class="mb-0">Your 30-day trial expired. Get a Premium license to keep everything unlocked, or continue with the free edition.</p>
        </div>
        <div purpose="modal-button-links">
          <a purpose="modal-button" href="/new-license" no-underline>
            <img alt="Purchase a Fleet Premium license" src="/images/start-purchase-license-64x64@2x.png">
            <h4>Buy a license</h4>
            <p>Purchase a Fleet Premium license.</p>
          </a>
        </div>
        <p class="mb-0">Got questions? <a href="/contact">Get in touch</a></p>
      </div>
      </div>
    </div>
    <div purpose="modal" v-if="trialType === 'render trial'">
      <div purpose="modal-content">
        <div purpose="logo-row">
          <div purpose="modal-logo">
            <img alt="Fleet logo" src="/images/logo-brandmark-32x32@2x.png">
          </div>
          <div purpose="close-button">
            <button type="button" data-dismiss="modal" aria-label="Close" purpose="modal-close-button"  @click="closeModalAndRedirect()">&times;</button>
          </div>
        </div>
      <div purpose="content">
        <div>
          <h3>How was it?</h3>
          <p class="mb-0">
            Your 30-day trial has finished.<br>
            If you liked Fleet, here’s how you can keep using it:
          </p>
        </div>
        <div purpose="modal-alt-button-links">
          <a purpose="modal-button" href="/contact" no-underline>
            <img alt="Premium support" src="/images/icon-premium-support-64x64@2x.png">
            <h4>Have Fleet host it</h4>
            <p>Fleet Premium, fully managed.</p>
          </a>
          <a purpose="modal-button" href="/new-license" no-underline>
            <img alt="Purchase a Fleet Premium license" src="/images/icon-deploy-fleet-64x64@2x.png">
            <h4>Deploy yourself</h4>
            <p>Use our guides to self-host Fleet.</p>
          </a>
        </div>
        <div class="d-flex flex-row align-items-center">
          <div purpose="license-icon"><img alt="Purchase a license" src="/images/start-purchase-license-64x64@2x.png"></div>
          <div>
            <p class="mb-0">For self-hosted Fleet Premium, <a href="/new-license">buy a license</a>.</p>
          </div>
        </div>
        <a purpose="contact-button" href="/contact" class="btn btn-primary">Get in touch</a>
      </div>
    </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
