<div id="get-started">
  <div style="max-width: 800px; padding-top: 80px; padding-bottom: 80px;" class="container-fluid px-3">
    <h1 class="pb-4 m-0">Get started</h1>
    <p>Try out a preview of Fleet and osquery on your laptop before deploying at scale by following below.</p>
    <p>You can also <a href="/docs/deploying">deploy to a server</a>.</p>
    <div class="pt-4 pb-4">
      <h2 class="mb-3">1. Install Node and Docker (optional)</h2>
      <p>The quickest way to install Fleet is with Node.js and Docker.</p>
      <div class="d-sm-flex">
        <a href="https://nodejs.org/en/download/" target="_blank"
          class="d-flex btn btn-md btn-node justify-content-center align-items-center mr-sm-3">
          <img class="pr-3" alt="NodeJS logo" src="/images/logo-node-59x36@2x.png" />
          Find my Node installer
        </a>
        <a href="https://docs.docker.com/get-docker/" target="_blank"
          class="d-flex btn btn-md btn-docker justify-content-center align-items-center mt-3 mt-sm-0">
          <img class="pr-3" alt="Docker logo" src="/images/logo-docker-51x36@2x.png" />
          Get Docker
        </a>
      </div>
      <p class="pt-4"><img alt="A small circle with an I inside of it"
          style="width: 16px; display: inline; margin-right: 8px; margin-bottom: 3px" src="/images/info-16x16@2x.png">We
        use NPM to install <code>fleetctl</code>. It can also be installed via the <a
          href="https://github.com/fleetdm/fleet/releases" target="_blank">release page</a> or <a
          href="/docs/contributing/building-fleet" target="_blank">built from source</a>.</p>
    </div>
    <div>
      <h2 class="pt-3 mb-3">2. Install Fleet</h2>
      <p>To install Fleet:</p>
      <div class="muted">
        <p class="comment"># Install the Fleet command-line tool</p>
        <p class="command">sudo npm install -g fleetctl</p>
        <p class="comment"># Run a local demo of the Fleet server</p>
        <p class="command">sudo fleetctl preview</p>
      </div>
      <p class="mb-0"><img alt="A small circle with an I inside of it"
          style="width: 16px; display: inline; margin-right: 8px; margin-bottom: 3px"
          src="/images/info-16x16@2x.png">Windows users can omit <code>sudo</code> .</p>
    </div>
    <div style="padding-top: 60px;">
      <h2 class="mb-3">3. Log in to Fleet</h2>
      <p>The Fleet UI is now available at <a href="http://localhost:1337" target="_blank">http://localhost:1337</a>.</p>
      <p class="mb-2"><strong>Email:</strong> admin@example.com</p>
      <p><strong>Password:</strong> admin123#</p>
    </div>
    <div style="padding-top: 60px;">
      <h2 class="mb-4">Next steps</h2>
      <div class="d-sm-flex">
        <a href="/docs/using-fleet/learn-how-to-use-fleet"
          class="d-flex btn btn-primary btn-md justify-content-center mr-sm-3">
          Learn how to use Fleet
        </a>
        <a href="https://osquery.slack.com/join/shared_invite/zt-h29zm0gk-s2DBtGUTW4CFel0f0IjTEw#/" target="_blank"
          class="d-flex btn btn-md btn-outline-secondary btn-slack justify-content-center align-items-center mt-3 mt-sm-0">
          <img class="pr-3" alt="Slack logo" src="/images/logo-slack-24x24@2x.png" />
          Ask for help on Slack
        </a>
      </div>
    </div>

  </div>

</div>
