<div id="get-started">
  <div class="footer-fade pb-5">
    <div
      style="max-width: 1260px"
      class="container-fluid pt-5 px-4 px-sm-5 mx-auto"
    >
      <div id="install-section" style="max-width: 800px" class="pt-5 mx-auto">
        <h1 style="color: #000">Get Started with Fleet</h1>
        <p style="color: #000" class="mb-5">
          No need to put the kettle on, you'll be up and running before you can
          say "osquery."
        </p>
        <img
          alt="Fleet introduction to hosts"
          src="/images/intro-pic-800x364@2x.png"
          style="max-width: 900px; height: auto"
          class="w-100 my-4 mx-auto"
        />

        <h1 style="color: #000">Try Fleet</h1>
        <p style="color: #000" class="my-5">
          With
          <a href="https://nodejs.org/en/download/" target="_blank">Node.js</a>
          and
          <a href="https://docs.docker.com/get-docker/" target="_blank"
            >Docker</a
          >
          installed:
        </p>
        <img
          alt="Install and run fleet in command-line"
          src="/images/install-fleet-800x188@2x.png"
          style="max-width: 900px; height: auto"
          class="w-100 my-4 mx-auto"
        />
      </div>
      <div id="query-section" style="max-width: 800px" class="pt-5 mx-auto">
        <hr class="solid" />
        <h1 style="color: #000">Ready to run your first query?</h1>
        <p style="color: #000" class="mb-5">
          Target some of the sample hosts included, and give it a try. Unsure
          what questions to ask?
          <a
            href="https://github.com/fleetdm/fleet/tree/master/handbook/queries"
            target="_blank"
            >Here’s a few queries to get you started.</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
