<div id="grid" v-cloak>

  <div class="container">
    <div class="content-box">
      <p>col-1</p>
      <div class="row">
        <div class="col-1"><div></div></div>
        <div class="col-1"><div></div></div>
        <div class="col-1"><div></div></div>

        <div class="col-1"><div></div></div>
        <div class="col-1"><div></div></div>
        <div class="col-1"><div></div></div>

        <div class="col-1"><div></div></div>
        <div class="col-1"><div></div></div>
        <div class="col-1"><div></div></div>

        <div class="col-1"><div></div></div>
        <div class="col-1"><div></div></div>
        <div class="col-1"><div></div></div>

      </div>
      <p>col-2</p>
      <div class="row">
        <div class="col-2"><div></div></div>
        <div class="col-2"><div></div></div>
        <div class="col-2"><div></div></div>

        <div class="col-2"><div></div></div>
        <div class="col-2"><div></div></div>
        <div class="col-2"><div></div></div>
      </div>
      <p>col-3</p>
      <div class="row">
        <div class="col-3"><div></div></div>
        <div class="col-3"><div></div></div>
        <div class="col-3"><div></div></div>
        <div class="col-3"><div></div></div>
      </div>
      <p>col-4</p>
      <div class="row">
        <div class="col-4"><div></div></div>
        <div class="col-4"><div></div></div>
        <div class="col-4"><div></div></div>
      </div>
      <p>col-6</p>
      <div class="row">
        <div class="col-6"><div></div></div>
        <div class="col-6"><div></div></div>
      </div>
      <p>col-12</p>
      <div class="row">
        <div class="col-12"><div></div></div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
