<div id="homepage" v-cloak>

  <div style="max-height: 1240px;">
    <div purpose="hero-banner">
      <div purpose="hero-clouds">
        <div class="container-lg">
          <div class="container-fluid text-center">
            <h1 style="max-width: 680px;" class="mx-auto pt-lg-4">
              Lightweight, programmable server and workstation telemetry.
            </h1>
            <h6 style="max-width: 650px;" class="mx-auto mt-3 mb-0">
              The most accurate, actionable data from your servers and workstations, without the performance hit.
            </h6>
            <div style="max-width: 500px;" class="mt-5 mx-auto mb-0 d-sm-flex justify-content-center">
              <a purpose="top-try-it-out-btn" class="d-sm-flex align-items-center justify-content-center btn btn-block btn-primary mx-auto mx-sm-0" href="/get-started?tryitnow">Try it out</a>
              <a style="max-width: 220px;" class="btn btn-lg btn-white pl-4 mx-auto mx-sm-0" purpose="animated-arrow-button-white" target="_blank" href="https://calendly.com/fleetdm/demo?utm_source=homepage+demo+top">Schedule a demo
              </a>
            </div>
            <img alt="Fleet ctl terminal and Fleet UI" src="/images/fleetctl-687x506@2x.png" style="max-width: 810px; height: auto;" class="w-100 py-3 py-sm-5 mx-auto"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid justify-content center px-0 py-0">
    <div style="max-width: 630px;" class="container text-center mx-auto pb-5">
      <h3 class="text-center pt-3 pb-4">
        Get real-time answers about all your servers and workstations in a single pane of glass.
      </h3>
      <div class="row pb-2 justify-content-around">
        <div class="col-12 col-sm-6 justify-content-sm-end justify-content-center pb-4 d-flex pr-sm-0">
          <img alt="macOS logo" src="/images/os-macos-black-31x35@2x.png" style="width: auto; height: 34px;" class="mx-3" />
          <img alt="Windows logo" src="/images/os-windows-black-38x36@2x.png" style="width: auto; height: 34px;" class="mx-3" />
          <img alt="Linux logo" src="/images/os-linux-black-32x36@2x.png" style="width: auto; height: 34px;" class="mx-3" />
        </div>
        <div class="col-12 col-sm-6 justify-content-sm-start justify-content-center d-flex pl-sm-0">
          <img alt="kubernetes logo" src="/images/icon-kubernetes-37x36@2x.png" style="width: auto; height: 34px;" class="mx-3" />
          <img alt="aws logo" src="/images/icon-aws-60x36@2x.png" style="width: auto; height: 34px;" class="mx-3" />
          <img alt="google cloud" src="/images/icon-google-cloud-46x36@2x.png" style="width: auto; height: 34px;" class="mx-3" />
        </div>
      </div>
    </div>
    <div style="max-width: 1040px;" class="container-fluid justify-content-center">
      <div purpose="features" class="container d-flex flex-wrap flex-lg-nowrap justify-content-center justify-content-lg-center align-items-center px-0 pt-3">
        <div purpose="features-text-left" class="container text-center text-lg-left pl-0 m-0">
          <h3>
            Accurate, comprehensive, up&#8209to&#8209date data.
          </h3>
          <p>
            Make better data-driven decisions with a single source of truth for all operating systems.
          </p>
        </div>
        <div style="max-width: 500px;" class="container d-flex px-2 px-sm-0 m-0">
          <img alt="Fleet UI" src="images/feature-realtime-500x315@2x.png" class="w-100 h-100 m-lg-0"/>
        </div>
      </div>
      <div purpose="features" class="container d-flex flex-wrap flex-lg-nowrap justify-content-center justify-content-lg-center align-items-center px-0 pt-3">
        <div purpose="features-text-right" class="container text-center text-lg-left pr-0 m-0">
          <h3>
            No downtime risks or performance hits.
          </h3>
          <p>
            Fleet's agent is lightweight, inspectable, and manageable through the CI/CD pipeline.
          </p>
        </div>
        <div style="max-width: 500px;" class="container d-flex order-lg-first px-2 px-sm-0 m-0">
          <img alt="Fleet UI" src="images/feature-file-integrity-monitoring-500x316@2x.png" class="w-100 h-100 m-lg-0"/>
        </div>
      </div>
      <div purpose="features" class="container d-flex flex-wrap flex-lg-nowrap justify-content-center justify-content-lg-center align-items-center px-0 pt-3">
        <div purpose="features-text-left" class="container text-center text-lg-left pl-0 m-0">
          <h3>Complete control over the queries you run.</h3>
          <p>
            Create complex, custom queries for your organization. Or copy and paste tested queries from our growing library.
          </p>
        </div>
        <div style="max-width: 500px;" class="container d-flex px-2 px-sm-0 m-0">
          <img alt="Fleet UI" src="images/feature-threat-detection-500x328@2x.png" class="w-100 h-100 m-lg-0"/>
        </div>
      </div>
      <div purpose="features" class="container d-flex flex-wrap flex-lg-nowrap justify-content-center justify-content-lg-center align-items-center px-0 pt-3">
        <div purpose="features-text-right" class="container text-center text-lg-left pr-0 m-0">
          <h3>
            Increase your install rates.
          </h3>
          <p>
            Fleet's open-source agent protects device performance and provides transparency about the data it collects.
          </p>
        </div>
        <div style="max-width: 500px;" class="container d-flex order-lg-first px-2 px-sm-0 m-0">
          <img alt="Fleet UI" src="images/feature-increase-install-rates-500x322@2x.png" class="w-100 h-100 m-lg-0"/>
        </div>
      </div>
    </div>
    <div class="container-sm justify-content-center m-0 mb-5">
      <div style="max-width: 566px;" class="text-center px-2 px-sm-0 mx-auto">
        <h3 class="mb-3">Collect and push predictable data</h3>
        <p>
          Automate scheduled queries to integrate alerts and dashboards across your enterprise.
        </p>
      </div>
      <div purpose="log-destination-grid" class="container d-flex flex-wrap justify-content-center p-0 pt-4 mx-auto">
        <div purpose="log-destination" class="d-flex mx-1 mx-sm-2 mb-4">
          <img alt="filesystem icon" src="/images/icon-log-destination-filesystem-48x48@2x.png"/>
          <p class="font-weight-bold m-0 ml-3">Filesystem</p>
        </div>
        <div purpose="log-destination" class="d-flex mx-1 mx-sm-2 mb-4">
          <img alt="Splunk logo" src="/images/icon-log-destination-splunk-48x48@2x.png"/>
          <p class="font-weight-bold m-0 ml-3">Splunk</p>
        </div>
        <div purpose="log-destination" class="d-flex mx-1 mx-sm-2 mb-4">
          <img alt="AWS Kinesis logo" src="/images/icon-log-destination-firehose-40x48@2x.png"/>
          <p class="font-weight-bold m-0 ml-3">AWS Kinesis</p>
        </div>
        <div purpose="log-destination" class="d-flex mx-1 mx-sm-2 mb-4">
          <img alt="Google Cloud Platform PubSub logo" src="/images/icon-log-destination-pubsub-53x48@2x.png"/>
          <p class="font-weight-bold m-0 ml-3">GCP PubSub</p>
        </div>
        <div purpose="log-destination" class="d-flex mx-1 mx-sm-2 mb-4">
          <img alt="AWS Lambda logo" src="/images/icon-log-destination-lambda-48x48@2x.png"/>
          <p class="font-weight-bold m-0 ml-3">AWS Lambda</p>
        </div>
        <div purpose="log-destination" class="d-flex mx-1 mx-sm-2 mb-4">
          <img alt="Elastic logo" src="/images/icon-log-destination-elastic-48x48@2x.png"/>
          <p class="font-weight-bold m-0 ml-3">Elastic</p>
        </div>
        <div purpose="log-destination" class="d-flex mx-1 mx-sm-2 mb-4">
          <img alt="Sumo Logic logo" src="/images/icon-log-destination-sumo-48x48@2x.png"/>
          <p class="font-weight-bold m-0 ml-3">Sumo Logic</p>
        </div>
        <div purpose="log-destination" class="d-flex mx-1 mx-sm-2 mb-4">
          <img alt="Graylog logo" src="/images/icon-log-destination-graylog-48x48@2x.png"/>
          <p class="font-weight-bold m-0 ml-3">Graylog</p>
        </div>
      </div>
      <div class="btn-toolbar justify-content-center px-5 px-sm-0 pt-3 pb-5">
        <a style="max-width: 220px" class="btn btn-block btn-md btn-primary mx-4" href="/get-started?tryitnow">
          Try it out
        </a>
        <a style="max-width: 220px" class="btn btn-block btn-lg btn-white pl-0 m-0" purpose="animated-arrow-button-red" target="_blank" href="https://calendly.com/fleetdm/demo?utm_source=homepage+demo+mid">
          Schedule a demo
        </a>
      </div>
    </div>
  </div>
  <div purpose="report-banner-container">
    <div purpose="report-banner-cta" class="d-flex flex-column flex-lg-row justify-content-center align-items-center container">
      <img class="mb-3 mb-lg-0" alt="State of device management" src="/images/state-of-device-management-hero-394x177@2x.png">
      <div class="d-flex flex-column">
        <h4 class="text-center text-lg-left">State of device management report</h4>
        <p class="mb-0">We surveyed 200+ security practitioners in charge of device management.<br class="d-none d-sm-block"> Here’s what we learned about their struggles, frustrations, and desires.</p>
        <a purpose="animated-arrow-button-red" class="btn pl-0 mx-auto ml-lg-0 pb-0" href="/reports/state-of-device-management">Read the report</a>
      </div>
    </div>
  </div>
  <div id="testimonials" style="background: #F4F6FA; position: relative">
    <div class="container-lg text-center justify-content-center py-5 mx-auto">
      <h3 class="px-4 mt-5 mb-3">Fleet is open source and community supported.</h3>
      <p style="max-width: 860px" class="px-3 px-xs-5 px-md-4 mx-auto">
        Software engineers. Security specialists. IT administrators. Lots of professionals are working together to make Fleet even better. From contributing patches to dreaming up features.
      </p>
      <div purpose="tweets" class="d-flex card-deck justify-content-center pt-5 mx-auto">
        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/osquery"><img width="140" height="36" alt="osquery logo" src="/images/social-proof-logo-osquery-140x36@2x.png"/></a>
          </div>
          <p class="pb-2 mb-1">It’s great to see the new release of Fleet containing some really cool new features that make <a href="https://twitter.com/osquery">@osquery</a> much more usable in practical environments. I’m really impressed with the work that <a href="https://twitter.com/thezachw">@thezachw</a> and crew are doing at <a href="https://twitter.com/fleetctl">@fleetctl</a>.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Mike Arpaia</p>
              <p class="m-0">Creator of <a href="https://twitter.com/osquery">@osquery</a></p>
            </div>
          </div>
        </div>
        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/Wayfair"><img width="136" height="32" alt="Wayfair logo" src="/images/social-proof-logo-wayfair-136x32@2x.png"/></a>
          </div>
          <p class="pb-2 mb-1"><a href="https://twitter.com/hashtag/osquery">#osquery</a> is one of the best tools out there and <a href="https://twitter.com/hashtag/fleetdm">#fleetdm</a> makes it even better. Highly recommend it if you want to monitor, detect and investigate threats on a scale and also for infra/sys admin.</p>
          <p>I have used it on 15k servers and it’s really scalable.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Ahmed Elshaer</p>
              <p class="m-0">DFIR, Blue Teaming, SecOps <a href="https://twitter.com/Wayfair">@wayfair</a></p>
              </div>
          </div>
        </div>
        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/comcast"><img width="107" height="38" alt="Comcast logo" src="/images/social-proof-logo-comcast-107x38.png"/></a>
          </div>
          <p class="pb-2 mb-1">With the power of osquery, you need a scalable & resilient platform to manage your workloads. Fleet is the "just right" open-source, enterprise grade solution.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Abubakar Yousafzai</p>
              <p class="m-0">Security Software Development & Engineering <a href="https://twitter.com/comcast">@Comcast</a></p>
            </div>
          </div>
        </div>
        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/Uber"><img width="87" height="38" alt="Uber logo" src="/images/social-proof-logo-uber-87x38@2x.png"/></a>
          </div>
          <p class="pb-2 mb-1">Exciting. This is a team that listens to feedback.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Erik Gomez</p>
              <p class="m-0">Staff Software Engineer <a href="https://twitter.com/Uber">@Uber</a></p>
            </div>
          </div>
        </div>
        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/Square"><img width="131" height="38" alt="Square logo" src="/images/social-proof-logo-square-131x38@2x.png"/></a>
          </div>
          <p class="pb-2 mb-1">Mad props to how easy making a deploy pkg of Orbit was. I wish everyone made stuff that easy.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Wesley Whetstone</p>
              <p class="m-0">CPE <a href="https://twitter.com/Square">@Square</a></p>
            </div>
          </div>
        </div>
        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/atlassian"><img width="162" height="20" alt="Atlassian logo" src="/images/social-proof-logo-atlassian-162x20@2x.png"/></a>
          </div>
          <p class="pb-2 mb-1"><a href="https://twitter.com/hashtag/fleet">#Fleet</a>’s come a long way - to now being the top open-source <a href="https://twitter.com/hashtag/fleet">#osquery</a> manager. Just in the past 6 months.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Brendan Shaklovitz</p>
              <p class="m-0">Senior SRE <a href="https://twitter.com/atlassian">@Atlassian</a></p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3 class="px-4 mb-3">From small businesses to large enterprises.</h3>
        <p class="px-4">
          Teams use osquery with Fleet every day to stay secure and compliant.
        </p>
        <div class="btn-toolbar justify-content-center px-5 px-sm-0 pt-3 pb-5 mb-md-5">
          <a style="max-width: 220px" class="btn btn-block btn-md btn-primary mx-4" href="/get-started?tryitnow">
            Try it out
          </a>
          <a style="max-width: 220px" class="btn btn-block btn-lg btn-white pl-0 m-0" purpose="animated-arrow-button-red" target="_blank" href="https://calendly.com/fleetdm/demo?utm_source=homepage+demo+bottom">
            Schedule a demo
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
