<div id="homepage" v-cloak>
  <%/* Hero container */%>
  <div purpose="hero-container">
    <div purpose="hero-background-image">
      <div purpose="homepage-hero" class="container mx-auto">
        <div class="d-flex flex-row justify-content-center align-items-start">
          <%/* Hero text */%>
          <div purpose="hero-text"  class="d-flex flex-column justify-content-center">
            <h4>For teams with lots of different endpoints</h4>
            <h1>Your last MDM migration</h1>
            <p>Replace the sprawl with open-source code that works the way you want.</p>
            <div purpose="button-row" class="d-flex flex-sm-row flex-column justify-content-center align-items-center">
              <a purpose="cta-button" @click="clickOpenChatWidget()">Show me</a>
              <a purpose="animated-arrow-button-red" href="/pricing">Try it out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%/* Row of logos */%>
  <div purpose="hero-logos" class="mx-auto d-flex flex-column align-items-center justify-content-center">
    <%/* >991px logos all on one row */%>
    <div purpose="logo-column" class="w-100 flex-row d-lg-flex d-none justify-content-between align-items-center">
      <a href="/guides/delivering-data-to-snowflake-from-fleet-and-osquery" class="ml-0 mr-auto" ><img purpose="snowflake-logo" alt="Snowflake logo" src="/images/logo-snowflake-117x28@2x.png"></a>
      <img purpose="wayfair-logo" alt="Wayfair logo" src="/images/logo-wayfair-110x24@2x.png">
      <img purpose="uber-logo" alt="Uber logo" class="" src="/images/logo-uber-70x24@2x.png">
      <img purpose="fastly-logo" alt="Fastly logo" class="" src="/images/logo-fastly-75x30@2x.png">
      <img purpose="atlassian-logo" alt="Atlassian logo" src="/images/logo-atlassian-140x18@2x.png">
      <img purpose="gusto-logo" alt="Gusto logo" src="/images/logo-gusto-64x24@2x.png">
      <a href="https://segment.com/blog/hosting-fleetdm-on-aws-eks/" target="_blank" class="mr-0 ml-auto"><img purpose="segment-logo" alt="Segment logo"  src="/images/logo-segment-112x24@2x.png"></a>
    </div>
    <%/* >576px logos - two rows */%>
    <div purpose="logo-column" class="d-sm-flex d-none d-lg-none flex-row justify-content-center align-items-start align-items-md-center">
      <a href="/guides/delivering-data-to-snowflake-from-fleet-and-osquery"><img purpose="snowflake-logo" alt="Snowflake logo" src="/images/logo-snowflake-117x28@2x.png"></a>
      <img class="d-block" purpose="wayfair-logo" alt="Wayfair logo" src="/images/logo-wayfair-110x24@2x.png">
      <img class="d-block" purpose="uber-logo" alt="Uber logo" src="/images/logo-uber-70x24@2x.png">
      <img class="d-block" purpose="fastly-logo" alt="Fastly logo" src="/images/logo-fastly-75x30@2x.png">
    </div>

    <div purpose="logo-column" class="d-sm-flex d-none d-lg-none flex-row justify-content-center align-items-center mb-0">
      <img purpose="atlassian-logo" alt="Atlassian logo" src="/images/logo-atlassian-140x18@2x.png">
      <img purpose="gusto-logo" alt="Gusto logo" src="/images/logo-gusto-64x24@2x.png">
      <a href="https://segment.com/blog/hosting-fleetdm-on-aws-eks/" target="_blank"><img purpose="segment-logo" alt="Segment logo" src="/images/logo-segment-112x24@2x.png"></a>
    </div>

    <%/* <576px logos - three rows */%>
    <div purpose="logo-column" class="d-flex d-sm-none flex-row justify-content-center align-items-center">
      <a href="/guides/delivering-data-to-snowflake-from-fleet-and-osquery"><img purpose="snowflake-logo" alt="Snowflake logo" src="/images/logo-snowflake-117x28@2x.png"></a>
      <span ><img purpose="wayfair-logo" alt="Wayfair logo" src="/images/logo-wayfair-110x24@2x.png"></span>
    </div>
    <div purpose="logo-column" class="d-flex d-sm-none flex-row justify-content-between align-items-center">
      <img purpose="uber-logo" alt="Uber logo" src="/images/logo-uber-70x24@2x.png">
      <img purpose="fastly-logo" alt="Fastly logo" src="/images/logo-fastly-75x30@2x.png">
      <img purpose="atlassian-logo" alt="Atlassian logo" src="/images/logo-atlassian-140x18@2x.png">
    </div>
    <div purpose="logo-column" class="d-flex d-sm-none flex-row justify-content-center align-items-center mb-0">
      <span ><img  purpose="gusto-logo" alt="Gusto logo" src="/images/logo-gusto-64x24@2x.png"></span>
      <a  href="https://segment.com/blog/hosting-fleetdm-on-aws-eks/" target="_blank"><img purpose="segment-logo" alt="Segment logo" src="/images/logo-segment-112x24@2x.png"></a>
    </div>
  </div>
  <%/* Homepage content */%>
  <div purpose="homepage-content" class="container">
    <%/* Testimonial videos */%>
    <div purpose="page-section">
      <div purpose="testimonials" class="d-flex flex-lg-row flex-column justify-content-center card-deck">
        <div purpose="testimonial" class="d-flex align-items-center card" @click="clickOpenVideoModal('nick-fohs')">
          <div purpose="testimonial-video" class="card-title">
            <img alt="Play video" src="/images/icon-play-48x48@2x.png">
          </div>
          <div purpose="testimonial-text">
            <p purpose="testimonial-quote">“Fleet lets us to be as lightweight as possible while surfacing data to other teams and partners.”</p>
            <p class="mb-0"><strong>Nick Fohs</strong></p>
            <p class="mb-0">Systems and IT infrastructure manager</p>
          </div>
        </div>
        <div purpose="testimonial" class="d-flex align-items-center card" @click="clickOpenVideoModal('austin-anderson')">
          <div purpose="testimonial-video" class="card-title">
            <img alt="Play video" src="/images/icon-play-48x48@2x.png">
          </div>
          <div purpose="testimonial-text">
            <p purpose="testimonial-quote">“We can build it exactly the way we want it. Which is just not possible on other platforms.”</p>
            <p class="mb-0"><strong>Austin Anderson</strong></p>
            <p class="mb-0">Cybersecurity team senior manager</p>
          </div>
        </div>
      </div>

      <%/* Device management block */%>
      <div purpose="platform-block" class="d-flex flex-md-row flex-column-reverse justify-content-md-between mx-auto align-items-center">
        <div purpose="category-text-block" class="d-flex flex-column">
          <h4>Device management</h4>
          <h3>Manage everything in one place</h3>
          <p>Modernize your device management practice with a single, open platform for Apple, Windows, and Linux. De-risk config changes, automate security audits, and clear the way for “zero trust access” in your org.</p>
          <div>
            <a purpose="category-button" class="text-nowrap btn btn-primary" href="/device-management">Start with device management</a>
          </div>
        </div>
        <div purpose="device-management-image">
          <img alt="Operating systems entering a glass device management dome" src="/images/device-management-hero-380x293@2x.png">
        </div>
      </div>

      <%/* Endpoint ops block */%>
      <div purpose="platform-block" class="d-flex flex-md-row flex-column justify-content-md-between mx-auto align-items-center">
        <div purpose="endpoint-ops-image">
          <img alt="Endpoint ops" src="images/endpoint-operations-hero-image-380x383@2x.png">
        </div>
        <div purpose="category-text-block" class="d-flex flex-column">
          <h4>Endpoint ops</h4>
          <h3>Focus on data, not vendors</h3>
          <p>Use a consistent interface to deploy, update, and manage thousands of workstations and servers with open standards and data.</p>
          <div>
            <a purpose="category-button" class="text-nowrap btn btn-primary" href="/endpoint-ops">Start with endpoint ops</a>
          </div>
        </div>
      </div>

      <%/* Vulnerability management block */%>
      <div purpose="platform-block" class="d-flex flex-md-row flex-column-reverse justify-content-md-between mx-auto align-items-center">
        <div purpose="category-text-block" class="d-flex flex-column">
          <h4>Vulnerability management</h4>
          <h3>Build the vulnerability program you actually want</h3>
          <p>Show how quickly CVEs are resolved and which teams need extra help. Manage and report on vulnerabilities in operating systems, software packages, browser plugins, anywhere.</p>
          <div>
            <a purpose="category-button" class="text-nowrap btn btn-primary"  href="/vulnerability-management">Start with vuln management</a>
          </div>
        </div>
        <div purpose="vuln-management-image">
          <img  alt="A pocket monster orb being scanned for vulnerabilities" src="/images/vuln-management-hero-image-360x374@2x.png">
        </div>
      </div>

      <%/* Integration cards */%>
        <h2 class="text-center">Connect your favorite tools</h2>
        <div purpose="integration-cards" class="d-flex flex-sm-row flex-column justify-content-center">
          <div purpose="integration-card-column" class="d-flex flex-lg-row flex-column">
            <a href="/integrations">
              <div purpose="integration-card">
                <img alt="Custom IT workflows" src="/images/integration-icon-custom-workflows-32x36@2x.png">
                <strong>Custom IT workflows</strong>
                <p>Use git, yaml, webhooks, realtime device access, file carving, vuln feeds, the REST API, and a GUI for IT automation.</p>
              </div>
            </a>
            <a href="/integrations">
              <div purpose="integration-card">
                <img alt="IT ticketing" src="/images/integration-logo-jira-32x36@2x.png">
                <strong>IT ticketing</strong>
                <p>Automate ticketing with Jira, ServiceNow, or integrate your own system.</p>
              </div>
            </a>
          </div>
          <div purpose="integration-card-column" class="d-flex flex-lg-row flex-column">
            <a href="/integrations">
              <div purpose="integration-card">
                <img alt="Event logs" src="/images/integration-logo-snowflake-32x36@2x.png">
                <strong>Event logs</strong>
                <p>Send data to any platform like Snowflake, AWS, or Splunk.  Ship logs or fine-tuned snapshots at high frequencies.</p>
              </div>
            </a>
            <a href="/integrations">
              <div purpose="integration-card">
                <img alt="Scripting" src="/images/integration-logo-munki-36x36@2x.png">
                <strong>Scripting</strong>
                <p>Easily connect Munki, Chef, Ansible, and Puppet or deploy your own scripts.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="d-flex flex-column align-items-center">
          <a purpose="animated-arrow-button-red" href="/integrations">View all integrations</a>
        </div>
    </div>
    <div purpose="page-section">
      <div purpose="endpoints-banner">
        <div purpose="endpoint-banner-text">
          <h2>An open interface for every endpoint</h2>
          <p>Normalize how you manage clouds and computers without losing low-level access to OS-specific features.</p>
          <div class="d-flex flex-row align-items-center justify-content-md-start justify-content-center">
            <a purpose="animated-arrow-button-red-no-transform" href="/docs/get-started/why-fleet">Read the docs</a>
          </div>
        </div>
        <div purpose="endpoints-images">
          <div purpose="endpoint-images-row" class="d-md-flex d-none">
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
          </div>
          <div purpose="endpoint-images-row">
            <div purpose="endpoint-empty-image-box" class="d-md-none d-flex"></div>
            <div purpose="endpoint-empty-image-box" class="d-md-none d-flex"></div>
            <div purpose="endpoint-image-box">
              <img alt="AWS" src="/images/logo-aws-36x36@2x.png">
              <p>AWS</p>
            </div>
            <div purpose="endpoint-image-box">
              <img alt="Google Cloud" src="/images/icon-gcp-36x36@2x.png">
              <p>GCP</p>
            </div>
            <div purpose="endpoint-image-box">
              <img alt="Azure" src="/images/logo-azure-37x36@2x.png">
              <p>Azure</p>
            </div>
            <div purpose="endpoint-image-box" class="d-md-none d-flex">
              <img alt="Datacenters" src="/images/homepage-platform-greyscale-datacenters-48x48@2x.png">
              <p>Data centers</p>
            </div>
            <div purpose="endpoint-image-box" class="d-md-none d-flex">
              <img alt="IOT" src="/images/icon-iot-36x36@2x.png">
              <p>IoT (Linux)</p>
            </div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
          </div>
          <div purpose="endpoint-images-row">
            <div purpose="endpoint-empty-image-box" class="d-md-none d-flex"></div>
            <div purpose="endpoint-empty-image-box" class="d-md-none d-flex"></div>
            <div purpose="endpoint-image-box">
              <img alt="macOS" src="/images/logo-apple-36x36@2x.png">
              <p>macOS</p>
            </div>
            <div purpose="endpoint-image-box">
              <img alt="Windows" src="/images/logo-windows-36x36@2x.png">
              <p>Windows</p>
            </div>
            <div purpose="endpoint-image-box">
              <img alt="Linux" src="/images/logo-linux-36x36@2x.png">
              <p>Linux</p>
            </div>
            <div purpose="endpoint-image-box" class="d-md-flex d-none">
              <img alt="Datacenters" src="/images/homepage-platform-greyscale-datacenters-48x48@2x.png">
              <p>Data centers</p>
            </div>
            <div purpose="endpoint-image-box" class="d-md-none d-flex">
              <img alt="ChromeOS" src="/images/logo-chrome-36x37@2x.png">
              <p>Chromebook</p>
            </div>
            <div purpose="endpoint-image-box" class="d-md-none d-flex">
              <img alt="Containers" src="/images/logo-docker-40x40@2x.png">
              <p>Containers</p>
            </div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
          </div>
          <div purpose="endpoint-images-row">
            <div purpose="endpoint-empty-image-box" class="d-md-flex d-none"></div>
            <div purpose="endpoint-image-box" class="d-md-flex d-none">
              <img alt="ChromeOS" src="/images/logo-chrome-36x37@2x.png">
              <p>Chromebook</p>
            </div>
            <div purpose="endpoint-image-box" class="d-md-flex d-none">
              <img alt="Containers" src="/images/logo-docker-40x40@2x.png">
              <p>Containers</p>
            </div>
            <div purpose="endpoint-image-box" class="d-md-flex d-none">
              <img alt="IOT" src="/images/icon-iot-36x36@2x.png">
              <p>IoT (Linux)</p>
            </div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
          </div>
          <div purpose="endpoint-images-row">
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
            <div purpose="endpoint-empty-image-box"></div>
          </div>
        </div>
      </div>

    </div>

    <div purpose="homepage-text-block" class="text-center mx-auto">
      <h2>Open by design</h2>
      <p>Fleet is dedicated to flexibility, accessibility, and clarity. We think everyone can contribute and that tools should be as easy as possible for everyone to understand.</p>
    </div>

    <div purpose="three-column-features" class="mx-auto">
      <div purpose="feature-row" class="d-flex flex-md-row flex-column align-items-start justify-content-center">

        <div purpose="feature" class="ml-sm-0">
          <img alt="transparency" src="/images/homepage-icon-transparency-54x64@2x.png" class="mx-auto mx-md-0">
          <h5>Scope transparency</h5>
          <p>Let end users see the source code for exactly <a href="/docs/using-fleet/fleet-desktop">how they are being monitored</a>, and set clear expectations about what is and isn’t acceptable use of work computers.</p>
        </div>

        <div purpose="feature">
          <img alt="Free as in free" src="/images/homepage-icon-free-48x64@2x.png">
          <h5>Free as in free</h5>
          <p>The <a href="/pricing">free version of Fleet</a> will always be free. Fleet is independently backed and actively maintained with the help of many amazing <a href="https://github.com/fleetdm/fleet/graphs/contributors">contributors</a>.</p>
        </div>

        <div purpose="feature" class="mr-sm-0 mb-0">
          <img alt="An open book" src="/images/homepage-icon-openness-80x64@2x.png">
          <h5>We value openness</h5>
          <p>Fleet's company <a href="/handbook">handbook</a> is public and open source. You can read about the <a href="/handbook/company#history">history of Fleet and osquery</a> and our commitment to improving the product.</p>
        </div>

      </div>
    </div>

  </div>
  <%/* Bottom gradient */%>
  <div purpose="bottom-gradient">
    <div purpose="homepage-content" class="container">
      <div class="text-center" purpose="bottom-cta">
        <h4>For teams with lots of different endpoints</h4>
        <h1>Your last MDM migration</h1>
        <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" @click="clickOpenChatWidget()">Show me</a>
          <a purpose="animated-arrow-button-red" href="/pricing">Try it out</a>
        </div>
      </div>
    </div>

  </div>
  <%/* Cloud city banner */%>
  <parallax-city></parallax-city>
  <modal purpose="video-modal" v-if="modal === 'austin-anderson'" @close="closeModal()">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/G5Ry_vQPaYc?si=vv0AfRe30yssWWRM&amp;rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </modal>
  <modal purpose="video-modal" v-if="modal === 'nick-fohs'" @close="closeModal()">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fs5ULAR4e4A?si=pChZBt_sSNj13goP&amp;rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
