<div id="homepage" v-cloak>
  <%/* Hero container */%>
  <div purpose="hero-container">
    <div purpose="homepage-hero" class="container mx-auto">
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <%/* Hero text */%>
        <div purpose="hero-text"  class="d-flex flex-column">
          <h4>Open-source device management</h4>
          <h1>Think for yourself</h1>
          <p>Introducing the first GitOps-driven MDM with real-time visibility into every platform.</p>
          <div purpose="button-row" class="d-flex flex-sm-row flex-column justify-content-center align-self-start align-items-center">
            <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try it out</a>
            <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
          </div>
          <div purpose="hero-quote" class="d-flex flex-row align-items-between justify-content-center justify-content-md-start">
            <div><img alt="An opening quotation mark" src="/images/homepage-hero-quote-mark-22x17@2x.png"></div>
            <div>
              <p purpose="quote">We wanted an open-source way to take advantage of MDM that is easy to integrate with Puppet in our configuration-as-code environment. Fleet is the obvious, and really the only, choice.</p>
              <p><span class="font-weight-bold">Platform Engineering Manager</span><br>A leading online games company</p>
            </div>
          </div>
        </div>
        <%/* Hero images */%>
        <div purpose="homepage-hero-images">
          <div purpose="top-hero-image">
            <img alt="Gitops hero image" src="/images/homepage-top-hero-image-410x226@2x.png">
          </div>
          <div purpose="middle-hero-image">
            <img alt="A small infinity symbol" class="mx-auto my-3" src="/images/homepage-hero-small-union-48x25@2x.png">
          </div>
          <div  purpose="bottom-hero-image">
            <img alt="The OS settings page in Fleet" src="/images/homepage-bottom-hero-image-410x300@2x.png">
          </div>
        </div>
      </div>
    </div>
    <div purpose="hero-ribbon">
      <img alt="A small white curve" purpose="ribbon-banner" src="/images/homepage-hero-ribbon.svg">
    </div>
  </div>
  <%/* Row of logos */%>
  <div purpose="hero-logos" style="max-width: 960px;" class="mx-auto d-flex flex-md-row flex-column align-items-center justify-content-center">
    <div purpose="logo-column" class="flex-row d-flex justify-content-between align-items-center mb-4 mb-md-0">
      <a href="/guides/delivering-data-to-snowflake-from-fleet-and-osquery"><img purpose="snowflake-logo" class="ml-md-auto" alt="Snowflake logo" src="/images/logo-snowflake-dark-140x28@2x.png"></a>
      <a href="#community"><img purpose="wayfair-logo" alt="Wayfair logo" src="/images/logo-wayfair-dark-151x33@2x.png"></a>
      <a class="d-none d-sm-flex" href="#community"><img purpose="uber-logo" alt="Uber logo" class="" src="/images/logo-uber-dark-64x30@2x.png"></a>
    </div>
    <div purpose="logo-column" class="d-flex flex-row justify-content-between align-items-start align-items-md-center">
      <a class="d-inline-flex d-sm-none" href="#community"><img purpose="uber-logo" alt="Uber logo" src="/images/logo-uber-dark-64x30@2x.png"></a>
      <a href="#community"><img purpose="atlassian-logo" alt="Atlassian logo" src="/images/logo-atlassian-dark-172x22@2x.png"></a>
      <a href="https://segment.com/blog/hosting-fleetdm-on-aws-eks/" target="_blank"><img purpose="segment-logo" alt="Segment logo" class="mr-md-auto" src="/images/logo-segment-dark-149x32@2x.png"></a>
    </div>
    <div purpose="logo-column" class="d-flex flex-row justify-content-between align-items-center">
      <a purpose="bottom-row-uber-logo" href="#community" target="_blank"><img style="height: 20px; width: auto" alt="Uber logo" src="/images/logo-uber-dark-64x30@2x.png"></a>
    </div>
  </div>
  <%/* Homepage content */%>
  <div purpose="homepage-content" class="container">

    <div purpose="homepage-text-block" class="text-sm-center text-left mx-auto">
      <h4>Device management built for IT, security approved</h4>
      <h2>Fleet brings GitOps to MDM</h2>
      <p>We prefer a more collaborative approach to device management. Fleet uses a GitOps workflow, ensuring checks and balances for your configuration deployments.</p>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div purpose="feature-left-text-block" class="d-flex flex-column">
        <h3>Made for customization</h3>
        <p>Integrations with leading configuration management platforms, including Chef, Munki, and Puppet, allow for efficiency in your management workflows. Our API and CLI provide the flexibility to program Fleet as you see fit.</p>
      </div>
      <div purpose="feature-image">
        <img alt="A bento box featuring all the tools Fleet can bring together" src="/images/homepage-bento-logos-320x295@2x.png">
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image">
        <img alt="A Fleet orb scanning a Laptop" src="/images/homepage-realtime-visibility-320x294@2x.png">
      </div>
      <div purpose="feature-right-text-block" class="d-flex flex-column">
        <h3>Real-time visibility</h3>
        <p>Don't worry about your workstation configuration being out of date. Fleet makes it easy to see which settings have been applied to your devices. Real-time results allow you to see the status of your entire fleet at any given moment.</p>
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div purpose="feature-left-text-block" class="d-flex flex-column">
        <h3>All platforms welcome</h3>
        <p>Give your teams access to any machine regardless of OS or manufacturer. Fleet supports Mac, Linux, Chromebooks, and Windows devices. So, you can make the most of your resources (and make everybody’s lives easier).</p>
      </div>
      <div purpose="feature-image">
        <img alt="All platforms welcome" src="/images/homepage-all-platforms-welcome-320-249@2x.png">
      </div>
    </div>
    <%/* Call to action */%>
    <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
      <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try it out</a>
      <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
    </div>

  </div>
  <%/* Bottom gradient */%>
  <div purpose="bottom-gradient">
    <div purpose="homepage-content" class="container">
    <%/* Fleet Cloud Banner */%>
      <div purpose="fleet-cloud-banner" class="d-flex flex-md-row flex-column">
        <div purpose="banner-image">
        </div>
        <div purpose="banner-text">
          <div class="d-flex flex-column">
            <h2>Instant deployment with Fleet Managed Cloud.</h2>
            <p>Focus on device management, and leave your Fleet server management to us.</p>
            <a style="max-width: 144px;" href="https://kqphpqst851.typeform.com/to/yoo5smT9" target="_blank" purpose="animated-arrow-button-red">Join the beta</a>
          </div>
        </div>
      </div>
      <div id="community" purpose="homepage-text-block" class="text-sm-center text-left mx-auto">
        <h4>4 years in the making</h4>
        <h2>Trusted by teams that think</h2>
        <p>Fleet is built with <a href="/handbook/company/why-this-way#why-open-source">openness at its core</a>, incorporating projects like osquery, microMDM, and Nudge. We work to contribute back to these and other open-source communities.</p>
      </div>
    </div>

    <div  purpose="scrollable-tweets" class="d-flex flex-column">
      <div purpose="tweets" class="d-flex flex-row flex-nowrap">
        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/Uber"><img width="87" height="38" alt="Uber logo" src="/images/social-proof-logo-uber-87x38@2x.png"/></a>
          </div>
          <p class="pb-2 mb-1">Exciting. This is a team that listens to feedback.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Erik Gomez</p>
              <p class="m-0">Staff Software Engineer <a href="https://twitter.com/Uber">@Uber</a></p>
            </div>
          </div>
        </div>
        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/Square"><img width="131" height="38" alt="Square logo" src="/images/social-proof-logo-square-131x38@2x.png"/></a>
          </div>
          <p class="pb-2 mb-1">Mad props to how easy making a deploy pkg of Orbit was. I wish everyone made stuff that easy.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Wesley Whetstone</p>
              <p class="m-0">CPE <a href="https://twitter.com/Square">@Square</a></p>
            </div>
          </div>
        </div>

        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/atlassian"><img width="162" height="20" alt="Atlassian logo" src="/images/social-proof-logo-atlassian-162x20@2x.png"/></a>
          </div>
          <p class="pb-2 mb-1"><a href="https://twitter.com/hashtag/fleet">#Fleet</a>’s come a long way - to now being the top open-source <a href="https://twitter.com/hashtag/fleet">#osquery</a> manager. Just in the past 6 months.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Brendan Shaklovitz</p>
              <p class="m-0">Senior SRE <a href="https://twitter.com/atlassian">@Atlassian</a></p>
            </div>
          </div>
        </div>

        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/osquery"><img width="140" height="36" alt="osquery logo" src="/images/social-proof-logo-osquery-140x36@2x.png"/></a>
          </div>
          <p class="pb-2 mb-1">It’s great to see the new release of Fleet containing some really cool new features that make <a href="https://twitter.com/osquery">@osquery</a> much more usable in practical environments. I’m really impressed with the work that <a href="https://twitter.com/thezachw">@thezachw</a> and crew are doing at <a href="https://twitter.com/fleetctl">@fleetctl</a>.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Mike Arpaia</p>
              <p class="m-0">Creator of <a href="https://twitter.com/osquery">@osquery</a></p>
            </div>
          </div>
        </div>

        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/Wayfair"><img width="136" height="32" alt="Wayfair logo" src="/images/social-proof-logo-wayfair-136x32@2x.png"/></a>
          </div>
          <p class="pb-2 mb-1"><a href="https://twitter.com/hashtag/osquery">#osquery</a> is one of the best tools out there and <a href="https://twitter.com/hashtag/fleetdm">#fleetdm</a> makes it even better. Highly recommend it if you want to monitor, detect and investigate threats on a scale and also for infra/sys admin.</p>
          <p>I have used it on 15k servers and it’s really scalable.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Ahmed Elshaer</p>
              <p class="m-0">DFIR, Blue Teaming, SecOps <a href="https://twitter.com/Wayfair">@wayfair</a></p>
            </div>
          </div>
        </div>

        <div purpose="tweet-card" class="card">
          <div class="mb-4">
            <a href="https://twitter.com/comcast"><img width="107" height="38" alt="Comcast logo" src="/images/social-proof-logo-comcast-107x38.png"/></a>
          </div>
          <p class="pb-2 mb-1">With the power of osquery, you need a scalable & resilient platform to manage your workloads. Fleet is the "just right" open-source, enterprise grade solution.</p>
          <div class="row px-3 pt-2">
            <div>
              <p class="font-weight-bold m-0">Abubakar Yousafzai</p>
              <p class="m-0">Security Software Development & Engineering <a href="https://twitter.com/comcast">@Comcast</a></p>
            </div>
          </div>
        </div>
        <div purpose="tweet-card" style="max-width: 40px; min-width: 40px;" class="invisible">
        </div>
      </div>
      <div purpose="" class="mx-auto d-flex flex-row justify-content-center">
        <nav aria-label="..." >
          <ul purpose="tweets-page-indicator" class="pagination pagination-sm" v-if="numberOfTweetPages > 1">
            <li class="page-item" :class="[currentTweetPage === index ? 'selected' : '']" v-for="(pageNumber, index) in numberOfTweetPages" @click="scrollTweetsDivToPage(index)"><span purpose="page-item-dot"></span></li>
          </ul>
        </nav>
      </div>
    </div>

    <div purpose="homepage-content" class="container">
      <div class="text-center">
        <h4>Open-source device management</h4>
        <h1>Think for yourself</h1>
        <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try it out</a>
          <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
        </div>
      </div>
    </div>
  </div>
  <%/* Cloud city banner */%>
  <div class="d-flex flex-column" purpose="bottom-cloud-city-banner">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-lg-flex" src="/images/homepage-cloud-city-banner-lg-1600x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-md-flex d-lg-none" src="/images/homepage-cloud-city-banner-md-990x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-flex d-md-none" src="/images/homepage-cloud-city-banner-sm-375x168@2x.png">
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
