
<div id="integrations" v-cloak>

  <div purpose="page-container" class="container-xl mx-auto">
    <div purpose="page-heading">
      <h1>Extend Fleet</h1>
      <p>Integrate ticketing systems, data lakes (/SIEMs), no-code (/SOAR) platforms, configuration management tools, network appliances for asset discovery, and more.</p>
      <p>You can also build custom workflows with the REST API, webhook events, and fleetctl command line tool.</p>
    </div>

    <div purpose="integration-cards" class="card-deck d-flex justify-content-center">
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-okta-85x28@2x.png" alt="Okta logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Enable single sign-on (SSO) by configuring Fleet as an Okta SAML application.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://www.okta.com/">Learn more</a>
            <animated-arrow-button class="py-0" href="/docs/deploy/single-sign-on-sso#okta">Docs</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-snowflake-color-117x28@2x.png" alt="Snowflake logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Import Fleet data to Snowflake.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank"  href="https://www.snowflake.com/">Learn more</a>
            <animated-arrow-button class="py-0" href="/guides/delivering-data-to-snowflake-from-fleet-and-osquery">Guide</animated-arrow-button>
          </div>
        </div>
      </div>

      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-tines-90x28@2x.png" alt="Tines logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Build custom workflows that trigger when things happen on your computers.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank"  href="https://www.tines.com/">Learn more</a>
            <animated-arrow-button class="py-0" href="/guides/using-fleet-and-tines-together#basic-article">Guide</animated-arrow-button>
          </div>
        </div>
      </div>

      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-runzero-130x28@2x.png" alt="runZero Directory logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Install osquery everywhere, scan networks, and discover assets.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://www.runzero.com/">Learn more</a>
          </div>
        </div>
      </div>

      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-active-directory-169x28@2x.png" alt="Active Directory logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Integrate with a legacy on-prem identity server.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/whatis">Learn more</a>
          </div>
        </div>
      </div>

      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-ansible-147x28@2x.png" alt="Ansible logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Deploy Fleet with Ansible.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="">Learn more</a>
            <animated-arrow-button class="py-0" target="_blank" href="https://github.com/CptOfEvilMinions/FleetDM-Automation">Guide</animated-arrow-button>
          </div>
        </div>
      </div>

      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-aws-46x28@2x.png" alt="AWS logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Deploy your own self-managed Fleet server on AWS.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://aws.amazon.com/">Learn more</a>
            <animated-arrow-button class="py-0" href="/docs/deploy/deploy-fleet#aws">Get started</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-azure-169x28@2x.png" alt="Azure logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Deploy your own self-managed Fleet server on Azure.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://azure.microsoft.com/en-us">Learn more</a>
            <animated-arrow-button class="py-0" href="https://chat.osquery.io/c/fleet">Community support</animated-arrow-button>
          </div>
        </div>
      </div>

      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-chef-169x28@2x.png" alt="Chef logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Chef is an automation tool that can be used with Fleet.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://www.chef.io/products/chef-infra">Learn more</a>
          </div>
        </div>
      </div>

      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-elastic-82x28@2x.png" alt="Elastic logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Import Fleet data to Elastic.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://www.elastic.co/">Learn more</a>
            <animated-arrow-button class="py-0" href="/guides/using-elasticsearch-and-kibana-to-visualize-osquery-performance">Guide</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-github-89x28@2x.png" alt="Github logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Version control using Git, enabling collaboration and a gitOps workflow.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://github.com/">Learn more</a>
            <animated-arrow-button class="py-0" href="/guides/using-github-actions-to-apply-configuration-profiles-with-fleet">Guide</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-gitlab-124x28@2x.png" alt="GitLab logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Version control using Git, enabling collaboration and a gitOps workflow.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://about.gitlab.com/">Learn more</a>
            <animated-arrow-button class="py-0" target="_blank"  href="https://docs.gitlab.com/ee/ci/">Docs</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-google-chronicle-128x28@2x.png" alt="Google Chronicle logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Import Fleet data to Chronicle.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://chronicle.security/">Learn more</a>
            <animated-arrow-button class="py-0" target="_blank"  href="https://cloud.google.com/chronicle/docs/ingestion/default-parsers/collect-osquery">Docs</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-google-cloud-174x28@2x.png" alt="Google Cloud Platform logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Deploy your own self-managed Fleet server on Google Cloud Platform (GCP).
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://console.cloud.google.com/getting-started">Learn more</a>
            <animated-arrow-button class="py-0" href="https://chat.osquery.io/c/fleet">Community support</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-jira-185x28@2x.png" alt="Jira Software logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Integrate Fleet with Jira to automatic ticket creation when vulnerabilities are found.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://www.atlassian.com">Learn more</a>
            <animated-arrow-button class="py-0" href="/docs/using-fleet/automations#vulnerability-automations">Docs</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-munki-101x28@2x.png" alt="Munki logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Deploy software with Fleet and Munki.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://github.com/munki/munki">Learn more</a>
            <animated-arrow-button class="py-0" href="/docs/using-fleet/mdm-macos-setup-experience#bootstrap-package">Docs</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-puppet-79x28@2x.png" alt="Puppet logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Deploy configuration profiles and issue MDM commands with Fleet and Puppet.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://puppet.com/">Learn more</a>
            <animated-arrow-button class="py-0" href="https://fleetdm.com/docs/using-fleet/puppet-module#puppet-module">Docs</animated-arrow-button>
          </div>
        </div>
      </div>

      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-splunk-95x28@2x.png" alt="Splunk logo">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Import Fleet data to Splunk.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://www.splunk.com/">Learn more</a>
            <animated-arrow-button class="py-0" href="/docs/using-fleet/log-destinations#splunk">Docs</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-oomnitza-109x28@2x.png" alt="Oomnitza">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Feed data from enrolled hosts (serial, end user name, geolocation, life cycle) into Oomnitza.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://oomnitza.zendesk.com/hc/en-us/sections/15236197815191-Fleet-Device-Management">Learn more</a>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-adaptive-shield-73x28@2x.png" alt="Adaptive Shield">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Notify and remediate when the configuration of the web app has changed.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://www.adaptive-shield.com/integrations/it-and-security/">Learn more</a>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-homebrew-112x29@2x.png" alt="Homebrew">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Deploy software with Fleet and Homebrew.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://brew.sh">Learn more</a>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-workbrew-196x28@2x.png" alt="Workbrew">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Deliver secure software with Fleet and Workbrew.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://workbrew.com">Learn more</a>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo">
          <img src="/images/logo-vanta-82x28@2x.png" alt="Vanta">
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Send information about Fleet users and enrolled hosts to Vanta.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-between">
            <a purpose="learn-more-link" target="_blank" href="https://vanta.com">Learn more</a>
            <animated-arrow-button class="py-0" href="/connect-vanta">Get started</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card invisible mb-0 d-none d-sm-flex">
      </div>
    </div>
    <div purpose="page-heading">
      <h2>Build anything</h2>
      <p>Configure custom IdPs, trigger automations with webhooks, or build custom dashboards using Fleet’s REST API.</p>
    </div>
    <div purpose="integration-cards" class="card-deck d-flex justify-content-center">
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo" class="d-flex flex-row align-items-center">
          <img src="/images/icon-idp-22x28@2x.png" alt="Custom IdP">
          <p>Custom IdP</p>
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Make smart authorization decisions by Integrating your device fleet’s ground truth with any IDP.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-end">
            <animated-arrow-button class="py-0" href="/docs/deploy/single-sign-on-sso#other-idps">Docs</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo" class="d-flex flex-row align-items-center">
          <img src="/images/icon-webhooks-30x28@2x.png" alt="Webhooks">
          <p>Webhooks</p>
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            Configure automations that send webhooks to specific URLs when Fleet detects changes to host, policy, and CVE statuses.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-end">
            <animated-arrow-button class="py-0" href="/docs/using-fleet/automations">Docs</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card">
        <div purpose="integration-logo" class="d-flex flex-row align-items-center">
          <img src="/images/icon-rest-api-35x28@2x.png" alt="REST API"><p>REST API</p>
        </div>
        <div purpose="integration-card-body" class="card-body">
          <p>
            See and do everything Fleet can do by building on top of our open REST API. Level up yourself and your system.
          </p>
          <div purpose="integration-card-buttons" class="d-flex flex-row justify-content-end">
            <animated-arrow-button class="py-0" href="/docs/rest-api/rest-api ">Docs</animated-arrow-button>
          </div>
        </div>
      </div>
      <div purpose="integration-card" class="card invisible mb-0 d-none d-sm-flex">
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
