<div id="meetups" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content">
      <div purpose="page-headline">
        <h2>Meetups</h2>
        <p>Upcoming meetup locations.</p>
      </div>
      <div purpose="meetup-card">
        <div purpose="meetup-logo">
          <img alt="Mac Admins Logo" src="/images/meetups-macadmins-logo-140x140@2x.png">
        </div>
        <div purpose="meetup-details">
          <p purpose="meetup-location">New York</p>
          <h3>Mac Admin Monthly</h3>
          <p purpose="meetup-description">
            "A meetup that focuses on helping Sys Admins administer deployments of Macs and iOS devices."
            <br>
            <br>
            Mac Admins Slack: #macadminmonthly
          </p>
          <animated-arrow-button arrow-color="#3E4771" href="https://www.macadminmonthly.org/home" target="_blank">View details</animated-arrow-button>
        </div>
      </div>
      <div purpose="meetup-card">
        <div purpose="meetup-logo">
          <img alt="Greater Philadelphia Mac Admins" src="/images/meetups-macadmins-philadelphia-140x140@2x.png">
        </div>
        <div purpose="meetup-details">
          <p purpose="meetup-location">Philadelphia</p>
          <h3>Greater Philadelphia Mac Admins</h3>
          <p purpose="meetup-description">
            This group is intended for anyone who supports or manages a group of Macs or iOS devices of any size (from less than a dozen to ten of thousands) for an institution of any stripe (Small/Medium Business, Non-profit, Enterprise, Education) in the Greater Philadelphia area (South Eastern PA, South Jersey, Delaware) to swap ideas and solutions, network, and hang out.
          </p>
          <animated-arrow-button arrow-color="#3E4771" href="https://www.eventbrite.com/o/greater-philadelphia-mac-admins-32189358193" target="_blank">View details</animated-arrow-button>
        </div>
      </div>
      <div purpose="meetup-card">
        <div purpose="meetup-logo">
          <img alt="Mac Admins Atlanta" src="/images/meetups-macadmins-atlanta-140x140@2x.png">
        </div>
        <div purpose="meetup-details">
          <p purpose="meetup-location">Atlanta</p>
          <h3>Atlanta Mac Admins</h3>
          <p purpose="meetup-description">
            Gathering of people who manage Apple devices (Macs, iPads, iPhones, etc.) in the Atlanta area.
            We try to meet once a month. Sometimes we will gather for community presentations and learning opportunities and some meetings will be more networking focused with a good beverage and some tasty food.
            <br>
            Our goal is to bring together the Mac Admins of the Atlanta area to create a network of support and knowledge
          </p>
          <animated-arrow-button arrow-color="#3E4771" href="https://www.eventbrite.com/o/atlanta-mac-admins-58609161243" target="_blank">View details</animated-arrow-button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
