<div id="okta-conditional-access-error" v-cloak>

  <div purpose="page-container">
    <div purpose="page-content" class="d-flex flex-column justify-content-between">
      <h1>Contact your IT admin</h1>
      <p>Your organization has blocked sign-in because your device is missing required configuration. Please contact your IT admin to restore access.</p>
      <div purpose="bottom-logo" class="d-flex flex-row justify-content-center">
        <a href="/better"><img alt="The Fleet logo" src="/images/fleet-logo-muted-69x24@2x.png"></a>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
