<div id="osquery-management" v-cloak>

<div purpose="hero-background" class="container-lg d-flex justify-content-center">

    <div purpose="hero-container" class="d-flex flex-column align-items-center">
      <div purpose="hero-text">
        <h4 class="mb-2">One agent, any platform, up-to-the-minute data</h4>
        <h1>Real-time answers from osquery for every team</h1>
        <p>Fleet lets you harness the power of osquery to stream accurate, real-time data from all your endpoints.</p>
        <div purpose="button-row" class="d-flex flex-sm-row flex-column justify-content-center align-items-center">
          <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try Fleet today</a>
          <a href="https://calendly.com/fleetdm/demo?utm_source=osquery-management+demo" target="_blank" purpose="animated-arrow-button-red">Talk to an expert</a>
        </div>
      </div>  
    </div>

  </div>

  <div purpose="page-container" class="container-lg">

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div class="d-flex flex-column">
        <h3>Universally accessible</h3>
        <p>Real-time insights are always accessible in the Fleet UI, API, and CLI, with strong access controls that ensure your most valuable assets are always kept safe.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>lorem ipsum dolor sit amet</p>
          <p>lorem ipsum dolor sit amet</p>
          <p>lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div purpose="feature-image" class="mx-md-5">
        <img alt="Osquery management feature image" src="images/osquery-management-feature-image-1.svg">
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image" class="mx-md-5">
        <img alt="Osquery management feature image" src="images/osquery-management-feature-image-2.svg">
      </div>
      <div class="d-flex flex-column">
        <h3>Deeply integrated data</h3>
        <p>Send data to any log destination, and integrate interesting findings with any app using our webhooks. triggered by vulnerability, policy, or host status events.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>PIR and SecOps teams can respond to incidents before they become emergencies.</p>
          <p>Interpret incidents accurately and make decisions using real device data.</p>
        </div>
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div class="d-flex flex-column">
        <h3>Workflows for everyone</h3>
        <p>Enhance Security, DevOps, IT, and HR workflows by taking findings from policies and scheduled queries and automating actions to allow end-user remediation.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>CI/CD integration for cloud and on-prem devices</p>
          <p>Interpret incidents accurately and make decisions using real device data.</p>
        </div>
      </div>
      <div purpose="feature-image" class="mx-md-5">
        <img alt="Comliance feature image" src="images/osquery-management-feature-image-3.svg">
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image" class="mx-md-5">
        <img alt="Osquery management feature image" src="images/osquery-management-feature-image-4.svg">
      </div>
      <div class="d-flex flex-column">
        <h3>Keep an accurate inventory of all your devices</h3>
        <p>Visibility into all laptops across any operating system. Support for servers and containers in any cloud infrastructure.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Identify outdated, vulnerable, or compromised software apps and packages.</p>
          <p>Very other agents, like Munki or Falcon, are installed and working properly.</p>
        </div>
      </div>
    </div>

    <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
      <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try Fleet today</a>
      <a href="https://calendly.com/fleetdm/demo?utm_source=osquery-management+demo" target="_blank" purpose="animated-arrow-button-red">Talk to an expert</a>
    </div>

  </div>

  <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
    <div purpose="section-heading" style="max-width: 720px" class="mx-auto text-center">
      <h4>Don’t know osquery?</h4>
      <h2>Dedicated support from osquery experts</h2>

      <p>Osquery is the open-source agent that powers Fleet. And we have the most osquery experts around. We’ll help you realize the potential of this tool for your organization.</p>
    </div>
  </div>

  <div style="background-color: #F9FAFC;">
    <scrollable-tweets></scrollable-tweets>
  </div>

  <div purpose="tweets-container" class="container-fluid px-md-0 d-flex pt-0 flex-column justify-content-center">
    <div purpose="logos" class="d-flex flex-wrap justify-content-center align-items-center">
      <img alt="The Snowflake logo" purpose="snowflake-logo" src="/images/logo-snowflake-muted-151x30@2x.png">
      <img alt="The Wayfair logo" purpose="wayfair-logo" src="/images/logo-wayfair-muted-150x33@2x.png">
      <img alt="The Uber logo" purpose="uber-logo" src="/images/logo-uber-muted-84x29@2x.png">
      <img alt="The Atlassian logo" purpose="atlassian-logo" src="/images/logo-atlassian-muted-172x22@2x.png">
      <img alt="The Twilio Segment logo" purpose="segment-logo" src="/images/logo-segment-muted-150x34@2x.png">
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
