<div id="osquery-management" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content" class="mx-auto">
    <div purpose="hero">
      <div purpose="page-headline">
        <h4>Endpoint operations</h4>
        <h2>Focus on data not vendors</h2>
      </div>
      <div purpose="hero-content" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
        <div purpose="hero-image">
          <img alt="A device verifying compliance for every endpoint" src="/images/endpoint-operations-hero-image-380x383@2x.png">
        </div>
        <div purpose="hero-text">
          <strong>Simplify security tooling</strong>
          <p>Consolidate your security tooling on top of open data standards like YAML, SQL, and JSON.</p>
          <strong>Ship data to any platform</strong>
          <p>Export anything. Ship data to any platform like Splunk, Snowflake, or any streaming infrastructure like AWS Kinesis and Apache Kafka.</p>
          <strong>Pulse check any agent or security config on any endpoint</strong>
          <p>Simplify security audits, build definitive reports, and discover and verify ongoing compliance for every endpoint, from workstations to data centers.</p>
          <div purpose="button-row" class="d-flex flex-md-row flex-column justify-content-start align-items-center">
            <a purpose="cta-button" @click="clickOpenChatWidget()">Show me</a>
            <a purpose="animated-arrow-button-red" href="/try-fleet">See real data</a>
          </div>
        </div>
      </div>
    </div>
    <div purpose="testimonials" class="d-flex flex-md-row flex-column align-items-center justify-content-between">
      <div purpose="testimonial-quote">
        <div purpose="quote">
          <img alt="an opening quotation mark" style="width:20px; margin-bottom: 16px;" src="/images/icon-quote-21x17@2x.png">
          <p>Fleet lets us be more actionable with fewer people. It helps us to filter out the noise better than we could with the other big name products we replaced.</p>
        </div>
        <div purpose="quote-attribution" class="d-flex flex-md-row flex-column align-items-center">
          <div purpose="quote-image"><img src="/images/testimonial-andre-shields-48x48@2x.png" alt="Andre shields"></div>
          <div class="d-flex flex-column">
            <p purpose="name">Andre Shields</p>
            <p purpose="title">Cybersecurity Security Engineer, Vulnerability Management</p>
          </div>
        </div>
      </div>
      <div purpose="testimonial-videos" class="d-flex">
        <div purpose="testimonial-video" @click="clickOpenVideoModal('austin-anderson')">
          <span><img src="/images/icon-play-video-8x9@2x.png" alt="Play">Play video</span>
        </div>
        <div purpose="testimonial-video" @click="clickOpenVideoModal('andre-shields')">
          <span><img src="/images/icon-play-video-8x9@2x.png" alt="Play">Play video</span>
        </div>
      </div>
    </div>

    <div purpose="homepage-text-block" class="mx-auto">
      <h3>Simplify security tooling</h3>
      <p>Consolidate your security tooling on top of open data standards like YAML, SQL, and JSON.</p>
    </div>

    <div purpose="three-column-features" class="mx-auto">

      <div purpose="feature-row" class="d-flex flex-sm-row flex-column align-items-start justify-content-center">
        <div purpose="feature-item" class="ml-sm-0">
          <img alt="transparency" src="/images/endpoint-ops-feature-icon-64x64@2x.png" class="mx-auto mx-sm-0">
          <h5>File integrity monitoring</h5>
          <p>Specify files to monitor for changes or deletions, then log those events to your SIEM or data lake.</p>
        </div>

        <div purpose="feature-item">
          <img alt="Free as in free" src="/images/endpoint-ops-feature-icon-64x64@2x.png">
          <h5>Host-based intrusion detection</h5>
          <p>Generate alerts when an IOC is detected and ship logs to your SIEM or data lake.</p>
        </div>

        <div purpose="feature-item" class="mr-sm-0 mb-0">
          <img alt="An open book" src="/images/endpoint-ops-feature-icon-64x64@2x.png">
          <h5>Attack surface management</h5>
          <p>Something about attack surface management</p>
        </div>
      </div>

    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div purpose="feature-text" class="d-flex flex-column">
        <h3>Ship data to any platform</h3>
        <p>Export anything. Ship data to any platform like Splunk, Snowflake, or any streaming infrastructure like AWS Kinesis and Apache Kafka.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Extract data and correlate it with your log aggregator, SIEM, or data lake.</p>
          <p>Ease your logging burden, pull the data you need.</p>
        </div>
      </div>
      <div purpose="feature-image" class="left">
        <img alt="Ship data to any platform" src="/images/endpoint-operations-ship-data-to-any-platform-380x260@2x.png">
      </div>
    </div>

  </div>
  </div>
  <%/* End of page gradient */%>
  <div purpose="bottom-gradient">
    <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
      <div purpose="section-heading" class="mx-auto text-center">
        <h4>Who else uses Fleet?</h4>
        <h2>Empowering security and IT teams, globally</h2>
      </div>
    </div>

    <scrollable-tweets></scrollable-tweets>
    <div purpose="page-container" class="pb-0 container">

      <div purpose="bottom-cta" class="text-center">
        <h4>Open-source endpoint ops</h4>
        <h1>Lighter than air</h1>
        <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-md-row flex-column justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try it out</a>
          <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
        </div>
      </div>
    </div>
  </div>
  <%/* Cloud city banner */%>
  <div class="d-flex flex-column" purpose="bottom-cloud-city-banner">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-lg-flex" src="/images/homepage-cloud-city-banner-lg-1600x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-md-flex d-lg-none" src="/images/homepage-cloud-city-banner-md-990x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-flex d-md-none" src="/images/homepage-cloud-city-banner-sm-375x168@2x.png">
  </div>
  <modal purpose="video-modal" v-if="modal === 'austin-anderson'" @close="closeModal()">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/G5Ry_vQPaYc?si=vv0AfRe30yssWWRM&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </modal>
  <modal purpose="video-modal" v-if="modal === 'andre-shields'" @close="closeModal()">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/siXy9aanOu4?si=fRIUQrrOu81lAqi8&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
