<div id="osquery-management" v-cloak>

<div purpose="hero-background" class="container-lg d-flex justify-content-center">

    <div purpose="hero-container" class="d-flex flex-column align-items-center">
      <div purpose="hero-text">
        <h4 class="mb-2">One agent, any platform, up-to-the-minute data</h4>
        <h1>Real-time answers from osquery for OS</h1>
        <p>Use Fleet to harness the power of osquery to investigate all your computers and servers in real time.</p>
        <div purpose="button-row" class="d-flex flex-sm-row flex-column justify-content-center align-items-center">
          <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try Fleet today</a>
          <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
        </div>
      </div>  
    </div>

  </div>

  <div purpose="page-container" class="container-lg">

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div class="d-flex flex-column mr-md-4">
        <h3>Plays well with others</h3>
        <p>Ask any question about any endpoint anywhere—real-time results from all your servers and workstations in one single pane of glass.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Monitor macOS, Windows, Linux, and Chromebook computers, including servers.</p>
          <p>IR and SecOps teams can respond proactively to incidents before they become emergencies.</p>
          <p>Interpret incidents accurately and make decisions using actual device data in seconds.</p>
        </div>
      </div>
      <div purpose="feature-image">
        <img alt="Osquery management feature image" src="images/osquery-management-feature-image-1-380x320@2x.png">
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image">
        <img alt="Osquery management feature image" src="images/osquery-management-feature-image-2-400x286@2x.png">
      </div>
      <div class="d-flex flex-column ml-md-4">
        <h3>Open source delivering data your way</h3>
        <p>Whether through the Fleet UI, API, or CLI, real-time insights are always accessible, with strong access controls ensuring your most valuable assets are always kept safe.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>The observer+ user role empowers SecOps teams with advanced querying capabilities without administrative access.</p>
          <p>API-only user levels guardrail UI access for GitOps.</p>
        </div>
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div class="d-flex flex-column mr-md-4">
        <h3>Enhance your EDR</h3>
        <p>Fleet goes where EDRs dare to tread, from organization computers to production servers.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Fortune 1000 companies widely adopt Fleet for their endpoints from 1,000, 10,000, to over 100,000 installs.</p>
          <p>Remotely set osquery flags to control initialization, disable/enable features, and select plugins.</p>
        </div>
      </div>
      <div purpose="feature-image">
        <img alt="Osquery management feature image" src="images/osquery-management-feature-image-3-397x323@2x.png">
      </div>
    </div>

    <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
      <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try Fleet today</a>
      <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
    </div>

  </div>
    <%/* End of page gradient */%>
    <div purpose="bottom-gradient">
      <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
        <div purpose="section-heading" style="max-width: 720px" class="mx-auto text-center">
          <h4>Don’t know osquery?</h4>
          <h2>Dedicated support from osquery experts</h2>
          <p>Osquery is the open-source agent that powers Fleet. And we have the most osquery experts around. We’ll help you realize the potential of this tool for your organization.</p>
        </div>
      </div>

      <scrollable-tweets></scrollable-tweets>
      <div purpose="page-container" class="pb-0 container">

        <div purpose="bottom-cta" class="text-center">
          <h4>Open-source device management</h4>
          <h1>Think for yourself</h1>
          <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
            <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try it out</a>
            <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
          </div>
        </div>
      </div>
      <%/* Cloud city banner */%>
    </div>
    <div class="d-flex flex-column" purpose="bottom-cloud-city-banner">
      <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-lg-flex" src="/images/homepage-cloud-city-banner-lg-1600x375@2x.png">
      <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-md-flex d-lg-none" src="/images/homepage-cloud-city-banner-md-990x375@2x.png">
      <img alt="A glass city floating on top of fluffy white clouds" class="d-flex d-md-none" src="/images/homepage-cloud-city-banner-sm-375x168@2x.png">
    </div>
  </div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
