<div id="osquery-table-details" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content">
      <docs-nav-and-search search-filter="tables" current-section="tables" :algolia-public-key="algoliaPublicKey"></docs-nav-and-search>
        <div purpose="page-headline" class="d-flex flex-column">
          <h2>Tables</h2>
          <p>Fleet uses osquery tables to query operating system, hardware, and software data. Each table provides specific data for analysis and filtering.</p>
        </div>
        <div purpose="platform-filters" class="d-flex flex-row justify-content-center">
          <div purpose="platform-filter" :class="[selectedPlatform === 'apple' ? 'selected' : '']" class="d-flex flex-row justify-content-center align-items-center" @click="clickSelectPlatform('apple')">
            <p class="d-flex align-items-center">
            <img src="/images/os-macos-dark-24x24@2x.png" alt="macOS" class="d-inline">
            <span class="d-none d-md-inline">Apple</span>
            </p>
          </div>
          <div purpose="platform-filter" :class="[selectedPlatform === 'linux' ? 'selected' : '']" class="d-flex flex-row justify-content-center align-items-center" @click="clickSelectPlatform('linux')">
            <p class="d-flex align-items-center">
              <img src="/images/os-linux-dark-24x24@2x.png" alt="Linux" class="d-inline">
              <span class="d-none d-md-inline">Linux</span>
            </p>
          </div>
          <div purpose="platform-filter" :class="[selectedPlatform === 'windows' ? 'selected' : '']" class="d-flex flex-row justify-content-center align-items-center" @click="clickSelectPlatform('windows')">
            <p class="d-flex align-items-center">
              <img src="/images/os-windows-dark-24x24@2x.png" alt="Windows" class="d-inline">
              <span class="d-none d-md-inline">Windows</span>
            </p>
          </div>
          <div purpose="platform-filter" :class="[selectedPlatform === 'chrome' ? 'selected' : '']" class="d-flex flex-row justify-content-center align-items-center" @click="clickSelectPlatform('chrome')">
            <p class="d-flex align-items-center">
              <img src="/images/os-chromeos-dark-24x24@2x.png" alt="Chrome" class="d-inline">
              <span class="d-none d-md-inline">ChromeOS</span>
            </p>
          </div>
        </div>





      <div class="d-flex flex-column justify-content-center">
        <div purpose="content" class="container p-0" style="max-width: 1200px;">
          <div class="d-flex flex-lg-row flex-column justify-content-start">
            <div purpose="left-sidebar" class="d-none d-lg-flex flex-column">
              <div style="position: relative;">
                <div purpose="table-of-contents">
                  <a class="d-block" :class="[tableToDisplay.title === table.title ? 'active' : '']" :href="table.url+'#'+selectedPlatform" v-for="table in filteredTables">{{table.title}} <span purpose="evented-table-icon" v-if="table.evented"><img alt="evented table" src="/images/icon-evented-12x12@2x.png" ></span></a>
                </div>
                <div purpose="overflow-shadow" class="d-none d-lg-block"></div>
              </div>
            </div>
            <div purpose="mobile-custom-select" class="d-flex d-lg-none flex-row justify-content-between" @click="clickOpenTablesNav()">
              <div><p class="mb-0"><%= tableToDisplay.title %></p></div>
              <div><img src="/images/icon-select-arrows-16x16@2x.png" alt="click to open the table of contents"></div>
            </div>

            <div purpose="table-container" class="d-flex flex-column">
              <div purpose="schema-table">
                <%- partial(path.relative(path.dirname(__filename), path.resolve( sails.config.appPath, path.join(sails.config.builtStaticContent.compiledPagePartialsAppPath, tableToDisplay.htmlId)))) %>
              </div>

              <div class="justify-self-end">
                  <a :href="tableToDisplay.githubUrl" purpose="edit-button" target="_blank">Edit page<i class="fa fa-pencil"></i></a>
                <div class="d-block justify-self-end" purpose="slack-cta">
                  <h3 class="pt-0" style="font-size: 24px; line-height: 28px;">Need more help?</h3>
                  <div class="d-sm-flex">
                    <a href="/slack" target="_blank" class="d-flex btn btn-md btn-outline-secondary justify-content-center align-items-center mt-3 mt-sm-0" purpose="next-steps-button">
                      <img style="height: 24px;" class="pr-3" alt="Slack logo" src="/images/logo-slack-24x24@2x.png"/>
                      Ask the community on Slack
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div purpose="table-of-contents-modal" >
    <modal v-if="modal === 'table-of-contents'" @close="closeModal()">
      <div purpose="table-of-contents">
        <a class="d-block" :class="[tableToDisplay.title === table.title ? 'active' : '']" :href="table.url+'#'+selectedPlatform" v-for="table in filteredTables">{{table.title}} <span purpose="evented-table-icon" v-if="table.evented"><img alt="evented table" src="/images/icon-evented-12x12@2x.png" ></span></a>
      </div>
    </modal>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
