<div id="press-kit" v-cloak>
  <div style="max-width: 900px;" class="container-fluid px-5 py-0">
    <div style="padding-top: 80px;" class="text-center">
      <h1>Fleet brand & press kit</h1>
      <p>Download official Fleet logos, product screenshots, and wallpapers.</p>
    </div>
    <div style="padding-top: 80px;">
      <h2 class="text-left">Logo</h2>
      <p class="text-left">Download the official Fleet logos.</p>
      <div class="row d-flex text-center">
        <div class="col-6">
          <div style="width: 400px; height: 224px; background: gray;" class="m-auto">
            logo
          </div>
          <div style="margin: auto; padding-top: 16px;">
            <a href="_blank"> SVG </a> | <a href="_blank">PNG</a>
          </div>
        </div>
        <div class="col-6" style="margin: auto;">
          <div style="width: 400px; height: 224px; background: gray;" class="m-auto">
            logo
          </div>
          <div style="margin: auto; padding-top: 16px;">
            <a href="_blank"> SVG </a> | <a href="_blank"> PNG </a>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 80px;">
    <div style="padding-top: 80px;">
      <h2 class="text-left">Media resources</h2>
      <p class="text-left">Download screenshots of our product.</p>
      <div class="row d-flex text-center">
        <div class="col-6">
          <div style="width: 400px; height: 224px; background: gray;" class="m-auto">
            screenshot
          </div>
          <div style="margin: auto; padding-top: 16px;">
            <a href="_blank">Download screenshots</a>
          </div>
        </div>
        <div class="col-6" style="margin: auto; padding-top: 16px;">
<!--           <div style="width: 400px; height: 224px; background: gray;" class="m-auto">
            screenshot
          </div>
          <div style="margin: auto;">
            <a href="_blank">Download screenshots</a>
          </div> -->
        </div>
      </div>
    </div>
    <hr style="margin-top: 80px;">
    <div style="padding-top: 80px;">
      <h2 class="text-left">Wallpapers</h2>
      <p class="text-left">Download Fleet and osquery wallpaper for your devices.</p>
      <div class="row d-flex text-center">
        <div class="col-6">
          <div style="width: 400px; height: 224px; background: gray;" class="m-auto">
            wallpaper
          </div>
          <div style="margin: auto; padding-top: 16px;">
            <a href="_blank">Download Fleet wallpaper</a>
          </div>
        </div>
        <div class="col-6" style="margin: auto; padding-top: 16px;">
<!--           <div style="width: 400px; height: 224px; background: gray;" class="m-auto">
            wallpaper
          </div>
          <div style="margin: auto;">
            <a href="_blank"> Download Fleet wallpaper</a>
          </div> -->
        </div>
      </div>
    </div>
    <hr style="margin-top: 80px;">
    <div style="padding-top: 80px; padding-bottom: 80px">
      <h2 style="padding-bottom: 24px;" class="text-left">Press release boilerplate</h2>
      <p class="text-left">Fleet and osquery make it easy for big companies with bazillions of devices to manage all of their laptops and servers.  With any operating system (Linux, macOS, Windows).  In any environment (AWS, GCP, Jamf, Chef, Puppet, etc).</p>
      <p>Fleet is open source software.  It's easy to get started quickly, easy to deploy, and it even comes with an enterprise-friendly free tier available under the MIT license.</p>
      <p>IT and security teams love Fleet because of its flexibility and conventions.  Instead of secretly collecting as much data as possible, Fleet defaults to privacy and transparency, capturing only the data your organization actually needs to meet its compliance, security, and management goals, with clearly-defined, flexible limits.</p>
      <p>That means better privacy.  Better device performance.  And better data, with less noise.</p>
      </p>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
