<div id="press-kit" v-cloak>
  <div style="max-width: 900px; padding-bottom: 80px;" class="container-fluid px-3 px-sm-5">
    <div class="text-center">
      <h1>Fleet brand resources</h1>
      <p>Download official Fleet logos, product screenshots, and wallpapers.</p>
      <p>Visit the <a href="https://fleetdm.com/handbook">Fleet handbook</a> for more information about the company and our brand guidelines, or <a href="https://fleetdm.com/contact">contact us for media inquiries</a>.</p>
    </div>
    <h2>Logo</h2>
    <p>Download the official Fleet logos.</p>
    <div class="row d-flex text-center">
      <div class="col-lg-6 pb-lg-0 pb-5 col-12">
        <div class="m-lg-auto float-sm-left">
          <img class="preview-image" src="/images/press-kit/press-kit-fleet-logo-dark-preview-600x336@2x.png" alt="Fleet logo with white text">
          <div style="padding-top: 16px;">
            <a href="/images/press-kit/fleet-logo-dark.svg" download>SVG</a><span class="px-2">|</span><a href="/images/press-kit/fleet-logo-dark-rgb.png" download>PNG</a>
          </div>
        </div>
      </div>
      <div class="w-sm-100"></div>
      <div class="col-lg-6 col-12 pb-lg-0 pb-5">
        <div class="m-lg-auto float-sm-left">
          <img class="preview-image" src="/images/press-kit/press-kit-fleet-logo-white-preview-600x336@2x.png" alt="Fleet logo with dark blue text">
          <div style="padding-top: 16px;">
            <a href="/images/press-kit/fleet-logo-white.svg" download>SVG</a><span class="px-2">|</span><a href="/images/press-kit/fleet-logo-white-rgb.png" download>PNG</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h2>Media resources</h2>
    <p>Download screenshots of our product.</p>
    <div class="row d-flex text-center">
      <div class="col-lg-6 col">
        <div class="m-auto float-sm-left">
          <img class="preview-image" src="/images/press-kit/press-kit-fleet-screenshots-preview-600x336@2x.png" alt="A preview of Fleet screenshots">
          <div style="margin: auto; padding-top: 16px;">
            <a href="/images/press-kit/Fleet-screenshots.zip" download="Fleet Screenshots" target="_blank" class="btn btn-link align-items-center p-0"><img class="download-arrow" src="/images/arrow-down-16x16@2x.png" alt="a purple arrow pointing down"><span class="download-link">Download screenshots</span></a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h2>Wallpapers</h2>
    <p>Download Fleet and osquery wallpaper for your devices.</p>
    <div class="row d-flex text-center">
      <div class="col-lg-6 col">
        <div class="m-auto float-sm-left">
          <img class="preview-image" src="/images/press-kit/press-kit-fleet-wallpaper-preview-600x336@2x.png" alt="a preview of a fleet desktop wallpaper">
          <div style="margin: auto; padding-top: 16px;">
            <a href="/images/press-kit/Fleet-wallpapers.zip" download="Fleet wallpapers" target="_blank" class="btn btn-link align-items-center p-0"><img class="download-arrow" src="/images/arrow-down-16x16@2x.png" alt="a purple arrow pointing down"><span class="download-link">Download Fleet wallpapers</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
