<div id="pricing">
  <div class="footer-fade pb-5">
    <div
      style="max-width: 1260px"
      class="container-fluid pt-5 px-4 px-sm-5 mx-auto"
    >
      <section id="pricing-section" class="pt-5 mx-auto">
        <h1 class="text-center">Choose your plan</h1>
        <p class="text-center mb-5">
          Choose the right plan for your business
        </p>
        <div style="max-width: 810px">
          <div class="row">
            <div style="max-width: 392px" class="col-lg px-1 mx-auto">
              <div style="border-radius: 15px" class="card mb-4">
                <div class="card-body">
                  <div style="min-height: 125px" class="text-center mt-4">
                    <p style="font-size: 18px" class="font-weight-bold mb-0">
                      Core
                    </p>
                    <h2 style="color: #6b6cfa">FREE</h2>
                    <p class="mb-0">/host/month</p>
                  </div>
                  <a
                    href="/get-started"
                    style="max-width: 242px"
                    class="btn btn-block btn-lg btn-info my-3 mx-auto"
                    >Start now</a
                  >
                  <div
                    style="max-width: 242px; min-height: 150px"
                    class="mx-auto mb-4"
                  >
                    <p
                      style="padding-left: 32px"
                      class="position-relative my-3"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Open source
                    </p>
                    <p
                      style="padding-left: 32px"
                      class="position-relative my-3"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Community supported
                    </p>
                    <p
                      style="padding-left: 32px"
                      class="position-relative my-3"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Bring your own production environment
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div style="max-width: 392px" class="col-lg px-1 mx-auto">
              <div style="border-radius: 15px" class="card mb-4">
                <div class="card-body">
                  <div style="min-height: 125px" class="text-center mt-4">
                    <p style="font-size: 18px" class="font-weight-bold mb-0">
                      Basic
                    </p>
                    <h2 style="color: #6b6cfa">$4</h2>
                    <p class="mb-0">/host/month</p>
                    <p style="color: #8f8ea1; font-size: 13px" class="mb-0">
                      (USD, billed anually at $48)
                    </p>
                  </div>
                  <button
                    style="max-width: 242px"
                    class="btn btn-block btn-lg btn-info my-3 mx-auto"
                    @click="clickChatButton()"
                  >
                    Get free trial
                  </button>
                  <div
                    style="max-width: 242px; min-height: 150px"
                    class="position-relative mx-auto mb-4"
                  >
                    <p
                      style="padding-left: 32px"
                      class="position-relative my-3"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Multiple teams (RBAC)*
                    </p>
                    <p
                      style="padding-left: 32px"
                      class="position-relative my-3"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Enterprise support
                    </p>
                    <p
                      style="padding-left: 32px"
                      class="position-relative my-3"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Self-hosted agent autoupdates
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="features" class="py-5 mx-auto">
        <div style="max-width: 810px">
          <div class="row">
            <div class="col-lg px-1 mx-auto" style="max-width: 810px">
              <div style="border-radius: 15px" class="card mb-4">
                <div class="card-body py-md-5 px-md-5">
                  <div class="row mb-4">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">SUPPORT</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <p class="m-0" style="font-weight: bold; font-size: 15px">
                        Fleet Core
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <p class="m-0" style="font-weight: bold; font-size: 15px">
                        Fleet Basic
                      </p>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Community GitHub</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Community Slack</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Telephone support</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Email support</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Dedicated Slack channel</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">
                        INVENTORY MANAGEMENT
                      </p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Device management & inventory dashboard
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Realtime device inventory</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">REST API & CLI tool</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Search devices by IP, serial, hostname, UUID
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Software inventory*†</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Integration users with API-only access*†
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Human-to-device mapping*†</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Target and configure specific groups of systems*†
                      </p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Aggregate insights for groups of systems*†
                      </p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">COLLABORATION</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Shareable device health reports</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Scope transparency*</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Multiple teams*</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">
                        SECURITY AND COMPLIANCE
                      </p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Single sign on (SSO, SAML)</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Role-based access control*</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">MONITORING</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Audit queries and other activity*</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Programmable vulnerability management*†
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Query performance monitoring*</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Standard query library*†</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Detect and surface issues with devices*†
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Self-remediation*†</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">DATA OUTPUTS</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Flexible log destinations (AWS Kinesis, Lambda, GCP)
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">StreamAlert integration*†</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">DEPLOYMENT</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Self-managed</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Deployment tools (Helm, Terraform)
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Compatible with custom osquery extensions
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Configure osquery startup flags*</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Programmable vulnerability management*
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Osquery agent autoupdates†</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Self-hosted agent autoupdates†</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Mass deploy custom osquery extensions*
                      </p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <p style="font-size: 13px; left: 0" class="mt-5 mb-0 w-100">
                    * Coming soon
                  </p>
                  <p style="font-size: 13px; left: 0" class="mb-0 w-100">
                    † Customer promise
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="questions" class="py-5 mx-auto">
        <h1 class="text-center">
          Still got questions? Get in touch.
        </h1>
        <div
          class="tpbutton btn-toolbar justify-content-center"
          style="text-align: center"
        >
          <button
            style="max-width: 150px"
            class="btn btn-block btn-md btn-primary my-3 mx-2"
            @click="clickChatButton()"
          >
            Contact Us
          </button>
          <a
            target="_blank"
            href="https://calendly.com/fleetdm/chat?month=2021-04"
            style="max-width: 250px"
            class="btn btn-block btn-lg btn-white my-3 mx-2"
            id="arrow"
            >Schedule a demo
          </a>
        </div>
      </section>
    </div>
  </div>
</div>
