<div id="pricing">
  <div class="footer-fade pb-5">
    <div
      style="max-width: 1260px"
      class="container-fluid pt-5 px-4 px-sm-5 mx-auto"
    >
      <div id="pricing-section" style="max-width: 800px" class="pt-5 mx-auto">
        <h1 style="color: #000" class="text-center">
          Choose your plan
        </h1>
        <p style="color: #000" class="text-center mb-5">
          Choose the right plan for your business
        </p>
        <div style="max-width: 810px">
          <div class="row">
            <div style="max-width: 392px" class="col-lg px-1 mx-auto">
              <div style="border-radius: 15px" class="card mb-4">
                <div class="card-body">
                  <div style="min-height: 125px" class="text-center mt-4">
                    <p style="font-size: 18px" class="font-weight-bold mb-0">
                      Core
                    </p>
                    <h2 style="color: #6b6cfa">FREE</h2>
                    <p class="mb-0">/host/month</p>
                  </div>
                  <a
                    target="_blank"
                    href="https://github.com/fleetdm/fleet#readme"
                    style="max-width: 242px"
                    class="btn btn-block btn-lg btn-info mt-3 mb-4 mx-auto"
                    >Start now</a
                  >
                  <div
                    style="max-width: 242px; min-height: 150px"
                    class="mx-auto mb-4"
                  >
                    <p
                      style="padding-left: 32px"
                      class="position-relative mt-3 mb-4"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Open source
                    </p>
                    <p
                      style="padding-left: 32px"
                      class="position-relative mt-3 mb-4"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Community supported
                    </p>
                    <p
                      style="padding-left: 32px"
                      class="position-relative mt-3 mb-4"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Bring your own production environment
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div style="max-width: 392px" class="col-lg px-1 mx-auto">
              <div style="border-radius: 15px" class="card mb-4">
                <div class="card-body">
                  <div style="min-height: 125px" class="text-center mt-4">
                    <p style="font-size: 18px" class="font-weight-bold mb-0">
                      Basic
                    </p>
                    <h2 style="color: #6b6cfa">$4</h2>
                    <p class="mb-0">/host/month</p>
                    <p style="color: #8f8ea1; font-size: 13px" class="mb-0">
                      (USD, billed anually at $48)
                    </p>
                  </div>
                  <button
                    style="max-width: 242px"
                    class="btn btn-block btn-lg btn-info mt-3 mb-4 mx-auto"
                    @click="clickChatButton()"
                  >
                    Get free trial
                  </button>
                  <div
                    style="max-width: 242px; min-height: 150px"
                    class="position-relative mx-auto mb-4"
                  >
                    <p
                      style="padding-left: 32px"
                      class="position-relative mt-3 mb-4"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Multiple teams (RBAC)*
                    </p>
                    <p
                      style="padding-left: 32px"
                      class="position-relative mt-3 mb-4"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Enterprise support
                    </p>
                    <p
                      style="padding-left: 32px"
                      class="position-relative mt-3 mb-4"
                    >
                      <img
                        alt="a circle with a checkmark"
                        src="/images/check-circle-16x16@2x.png"
                        style="width: 16px; height: 16px; left: 0; top: 4px"
                        class="position-absolute"
                      />
                      Self-hosted agent autoupdates
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="features-section" style="max-width: 800px" class="py-5 mx-auto">
        <div style="max-width: 810px">
          <div class="row">
            <div class="col-lg px-1 mx-auto" style="max-width: 810px">
              <div style="border-radius: 15px" class="card mb-4">
                <div class="card-body py-md-5 px-md-5">
                  <div class="row mb-4">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">SUPPORT</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <p class="m-0" style="font-weight: bold; font-size: 15px">
                        Fleet Core
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <p class="m-0" style="font-weight: bold; font-size: 15px">
                        Fleet Basic
                      </p>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Community GitHub</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Community Slack</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Telephone support</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Email support</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Dedicated Slack channel</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">
                        INVENTORY MANAGEMENT
                      </p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Device management & inventory dashboard
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Realtime device inventory</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">REST API & CLI tool</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Search devices by IP, serial, hostname, UUID
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Software inventory*†</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Integration users with API-only access*†
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Human-to-device mapping*†</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Target and configure specific groups of systems*†
                      </p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Aggregate insights for groups of systems*†
                      </p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">COLLABORATION</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Shareable device health reports</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Scope transparency*</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Multiple teams*</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">
                        SECURITY AND COMPLIANCE
                      </p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Single sign on (SSO, SAML)</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Role-based access control*</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">MONITORING</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Audit queries and other activity*</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Programmable vulnerability management*†
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Query performance monitoring*</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Standard query library*†</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Detect and surface issues with devices*†
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Self-remediation*†</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">DATA OUTPUTS</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Flexible log destinations (AWS Kinesis, Lambda, GCP)
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">StreamAlert integration*†</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-4 mt-5">
                    <div class="col-6 col-md-8">
                      <p class="m-0" style="color: #8b8fa2">DEPLOYMENT</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2"></div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Self-managed</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Deployment tools (Helm, Terraform)
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Compatible with custom osquery extensions
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Configure osquery startup flags*</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Programmable vulnerability management*
                      </p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Osquery agent autoupdates†</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">Self-hosted agent autoupdates†</p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6 col-md-8 d-flex">
                      <img
                        alt="a bullet point ellipse"
                        src="/images/ellipse-6x8@2x.png"
                        class="mt-2"
                        style="width: 6.4px; height: 8px"
                      />
                      <p class="ml-2 my-0">
                        Mass deploy custom osquery extensions*
                      </p>
                    </div>
                    <div class="col-3 col-md-2"></div>
                    <div class="col-3 col-md-2">
                      <img
                        alt="a check mark"
                        src="/images/check-16x16@2x.png"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                  <p style="font-size: 13px; left: 0" class="mt-5 mb-0 w-100">
                    * Coming soon
                  </p>
                  <p style="font-size: 13px; left: 0" class="mb-0 w-100">
                    † Customer promise
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% /*
  <div style="max-width: 800px; color: #fff" class="py-5 mx-auto">
    <h2 class="text-center mb-4">FAQ</h2>
    <div class="mb-5">
      <div
        style="
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding-right: 20px;
        "
        class="position-relative"
      >
        <p
          id="faq__question1"
          style="cursor: pointer"
          class="pt-3 mb-3"
          data-toggle="collapse"
          data-target="#faq__answer1"
          aria-controls="faq__answer1"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          <span
            style="color: #6a67fe; right: 0; top: 24px"
            class="position-absolute fa fa-angle-down"
          ></span>
        </p>
        <p id="faq__answer1" class="collapse" aria-labelledby="faq__question1">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </div>
      <div
        style="
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding-right: 20px;
        "
        class="position-relative"
      >
        <p
          id="faq__question2"
          style="cursor: pointer"
          class="pt-3 mb-3"
          data-toggle="collapse"
          data-target="#faq__answer2"
          aria-controls="faq__answer2"
        >
          Mauris viverra tempus nisl, sed varius leo volutpat sit amet?
          <span
            style="color: #6a67fe; right: 0; top: 24px"
            class="position-absolute fa fa-angle-down"
          ></span>
        </p>
        <p id="faq__answer2" class="collapse" aria-labelledby="faq__question2">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </div>
      <div
        style="
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding-right: 20px;
        "
        class="position-relative"
      >
        <p
          id="faq__question3"
          style="cursor: pointer"
          class="pt-3 mb-3"
          data-toggle="collapse"
          data-target="#faq__answer3"
          aria-controls="faq__answer3"
        >
          Mauris viverra tempus nisl, sed varius leo volutpat sit amet?
          <span
            style="color: #6a67fe; right: 0; top: 24px"
            class="position-absolute fa fa-angle-down"
          ></span>
        </p>
        <p id="faq__answer3" class="collapse" aria-labelledby="faq__question3">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </div>
      <div
        style="
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding-right: 20px;
        "
        class="position-relative"
      >
        <p
          id="faq__question4"
          style="cursor: pointer"
          class="pt-3 mb-3"
          data-toggle="collapse"
          data-target="#faq__answer4"
          aria-controls="faq__answer4"
        >
          Mauris viverra tempus nisl, sed varius leo volutpat sit amet?
          <span
            style="color: #6a67fe; right: 0; top: 24px"
            class="position-absolute fa fa-angle-down"
          ></span>
        </p>
        <p id="faq__answer4" class="collapse" aria-labelledby="faq__question4">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </div>
      <div
        style="
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding-right: 20px;
        "
        class="position-relative"
      >
        <p
          id="faq__question5"
          style="cursor: pointer"
          class="pt-3 mb-3"
          data-toggle="collapse"
          data-target="#faq__answer5"
          aria-controls="faq__answer5"
        >
          Mauris viverra tempus nisl, sed varius leo volutpat sit amet?
          <span
            style="color: #6a67fe; right: 0; top: 24px"
            class="position-absolute fa fa-angle-down"
          ></span>
        </p>
        <p id="faq__answer5" class="collapse" aria-labelledby="faq__question5">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </div>
      <div
        style="
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding-right: 20px;
        "
        class="position-relative"
      >
        <p
          id="faq__question6"
          style="cursor: pointer"
          class="pt-3 mb-3"
          data-toggle="collapse"
          data-target="#faq__answer6"
          aria-controls="faq__answer6"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          <span
            style="color: #6a67fe; right: 0; top: 24px"
            class="position-absolute fa fa-angle-down"
          ></span>
        </p>
        <p id="faq__answer6" class="collapse" aria-labelledby="faq__question6">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </div>
    </div>
    <h2 class="text-center pt-3 mb-4">Still got questions? Get in touch.</h2>
    <button
      style="max-width: 242px"
      class="btn btn-block btn-lg btn-info my-3 mb-4 mx-auto"
      @click="clickChatButton()"
    >
      Contact us
    </button>
  </div>
  */ %>
</div>
