<div id="query-detail" v-cloak>

  <div class="d-flex justify-content-center">
    <div class="col-6 my-5">

      <h1>TODO: Implement this part.</h1>
      <p>(See also <em>assets/styles/pages/query-detail.less</em>, <em>assets/js/pages/query-detail.page.js</em>, and <em>api/controllers/view-query-detail.js</em>.)</p>

      <code>{{query}}</code>
      <% /*
      e.g.
      {
        "name": "Get docker images on a system",
        "platforms": "macOS, Linux",
        "description": "Docker images information, can be used on normal system or a kubenode.",
        "query": "SELECT * FROM docker_images;",
        "purpose": "Informational",
        "remediation": "N/A",
        "contributors": "anelshaer"
      },
      */ %>
    </div>
    <div class="col-2 mx-5 my-5"><!-- __LANG=%%__ -->
      <h4 id="support" permalink="support">Platforms</h4>
      <p><i class="fa fa-apple fa-lg mr-1" alt="Mac"></i>
        <i class="fa fa-windows fa-lg mr-1" alt="Windows"></i>
        <i class="fa fa-linux fa-lg mr" alt="Linux"></i>
      </p>
      <h4 id="purpose-1" permalink="purpose">Purpose</h4>
      <p>Informational</p>
      <h4 id="remediation" permalink="remediation">Contribute</h4>
      <a target="_blank" :href="'https://github.com/fleetdm/fleet/edit/master/'+queryLibraryYmlRepoPath">Edit page</a>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
