<div id="query-detail" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/query-detail.less</em>, <em>assets/js/pages/query-detail.page.js</em>, and <em>api/controllers/view-query-detail.js</em>.)</p>

  <p>This paragraph, and the content above it, are just here for reference.  The HTML generated from markdown is below.</p>

  <code>{{query}}</code>
  <% /*
  e.g.
  {
    "name": "Get docker images on a system",
    "platforms": "macOS, Linux",
    "description": "Docker images information, can be used on normal system or a kubenode.",
    "query": "SELECT * FROM docker_images;",
    "purpose": "Informational",
    "remediation": "N/A",
    "contributors": "anelshaer"
  },
  */ %>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
