<div class="my-5 d-flex flex-row justify-content-center">
<div class="col-7" id="query-detail" v-cloak>

  <%- partial('../partials/built-from-markdown/handbook-queries/rachel-and-sarahs.ejs') %>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
