<div id="query-detail" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/query-detail.less</em>, <em>assets/js/pages/query-detail.page.js</em>, and <em>api/controllers/view-query-detail.js</em>.)</p>

  <p>This paragraph, and the content above it, are just here for reference.  The HTML generated from markdown is below.</p>

  <%- partial('../partials/built-from-markdown/handbook-queries/get-installed-macos-software.ejs') %>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
