<div id="sales-one-pager" v-cloak>

  <div purpose="banner-background">
    <div purpose="banner" class="container-fluid">
      <div style="max-width:1200px;" class="flex-row row mx-xl-auto justify-content-center align-items-center">
        <div purpose="banner-text" class="text-center text-lg-left">
          <h1>IT & security bliss starts with effective device management</h1>
          <h4>Any operating system, deployed anywhere.</h4>
          <div purpose="cta-buttons" style="max-width: 500px;" class="flex-row row mx-md-0 mx-4 pt-2">
            <a href="/try-fleet/register?tryitnow" class="btn btn-primary col-md-6 col-12">Try it out</a>
            <a purpose="demo-btn" style="color: #F9FAFC; max-width: 220px;" @click="clickOpenChatWidget()" class="btn col-md-6 col-12 mx-auto">Talk to an expert</a>
          </div>
        </div>
        <div class="d-none d-lg-block px-0 px-sm-auto" purpose="banner-hero">
          <img purpose="banner-hero-image" alt="A group of devices that are using Fleet" src="/images/hero-cloud-devices-477x213@2x.png">
        </div>
      </div>
    </div>
  </div>


    <div purpose="content" style="max-width: 800px;" class="container">
      <div purpose="headline" class="mb-0">
        <h2>Common problems faced by IT and security teams:</h2>
        <h4>From complex laws and organizational requirements to security threats and not-quite-integrated tools. IT admins face incredible pressure to keep devices safe and secure.</h4>
      </div>

      <div style="padding-top: 40px;" class="d-flex row flex-row mx-auto justify-content-lg-between justify-content-center">
        <div purpose="common-problem">
          <img alt="Insecure devices" src="/images/icon-insecure-device-36x36@2x.png">
          <p><strong>51%</strong> of IT admins say they don’t maintain secure laptops and servers effectively.
          </p>
        </div>
        <div purpose="common-problem">
          <img alt="Incomplete setup" src="/images/icon-incomplete-setup-36x36@2x.png">
          <p><strong>75%</strong> don’t have their devices running the latest operating system.
          </p>
        </div>
        <div purpose="common-problem">
          <img alt="An incomplete checklist" src="/images/icon-imcomplete-checklist-36x36@2x.png">
          <p><strong>51%</strong> say they don’t effectively enforce compliance and security posture.
          </p>
        </div>
        <div purpose="common-problem">
          <img alt="A hourglass" src="/images/icon-hourglass-36x36@2x.png">
          <p><strong>48%</strong> can’t respond to incidents in a timely manner.
          </p>
        </div>
        <div purpose="common-problem">
          <img alt="A globe" src="/images/icon-globe-error-36x36@2x.png">
          <p><strong>77%</strong> don’t have all their devices enrolled in their MDMs.
          </p>
        </div>
        <div purpose="common-problem">
          <img alt="Inadequate visibility" src="/images/icon-no-visibility-36x36@2x.png">
          <p><strong>45%</strong> don’t have enough visibility to investigate in real time.
          </p>
        </div>
      </div>

      <div style="padding-top: 80px;" purpose="headline">
        <h2>Introducing Fleet</h2>
        <h4>Accurate visibility into your laptops and servers on every OS</h4>
        <p style="margin-top: 40px; margin-bottom:0px;">Keep your devices safe from vulnerabilities, maintain continuous compliance, and keep accurate inventories of hundreds of thousands of devices with Fleet and osquery.</p>
      </div>

      <div purpose="hero-image">
        <img class="mx-auto" alt="The Fleet instance and fleetctl command line tool" src="/images/hero-fleet-ui-800x510@2x.png">
      </div>
    </div>
  <div style="background-color: #F4F6FA;">
    <div purpose="content" style="max-width: 800px;">
      <div purpose="headline">
        <h2>Community driven, and built on open-core technology.</h2>
        <h4>Fleet is widely adopted in the Fortune 1,000 and manages over 1.65 million devices.</h4>
      </div>
    </div>
    <div purpose="tweet-deck" class="row d-flex flex-column flex-lg-row card-deck mx-auto">
      <div purpose="tweet-card" class="card ml-xl-0">
        <div class="mb-4">
          <a href="https://twitter.com/Square"><img width="131" height="38" alt="Square logo" src="/images/social-proof-logo-square-131x38@2x.png"/></a>
        </div>
        <p class="pb-2 mb-1">Mad props to how easy making a deploy pkg of Orbit was. I wish everyone made stuff that easy.</p>
        <div class="row px-3 pt-2">
          <div>
            <p class="font-weight-bold m-0">Wesley Whetstone</p>
            <p class="m-0">CPE <a href="https://twitter.com/Square">@Square</a></p>
          </div>
        </div>
      </div>
      <div purpose="tweet-card" class="card">
        <div class="mb-4">
          <a href="https://twitter.com/SnowflakeDB"><img width="153" height="38" alt="Snowflake logo" src="/images/social-proof-logo-snowflake-153x38@2x.png"/></a>
        </div>
        <p class="pb-2 mb-1">This is pretty dang amazing being able to stream real data this fast.</p>
        <div class="row px-3 pt-2">
          <div>
            <p class="font-weight-bold m-0">Tom Larkin</p>
            <p class="m-0">IT Engineering <a href="https://twitter.com/SnowflakeDB">@Snowflake</a></p>
          </div>
        </div>
      </div>
      <div purpose="tweet-card" class="card mr-xl-0">
        <div class="mb-4">
          <a href="https://twitter.com/comcast"><img width="107" height="38" alt="Comcast logo" src="/images/social-proof-logo-comcast-107x38.png"/></a>
        </div>
        <p class="pb-2 mb-1">Fleet is the "just right" open-source, enterprise grade solution.</p>
        <div class="row px-3 pt-2">
          <div>
            <p class="font-weight-bold m-0">Abubakar Yousafzai</p>
            <p class="m-0">Security Software Development & Engineering <a href="https://twitter.com/comcast">@Comcast</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-0" purpose="content">
      <div purpose="button-row" style="padding-bottom: 80px; max-width: 500px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
        <a purpose="cta-button" href="/try-fleet/register?tryitnow">Try Fleet today</a>
        <a @click="clickOpenChatWidget()" purpose="animated-arrow-button-red">Talk to an expert</a>
      </div>
    </div>
  </div>
    <div purpose="content" style="max-width: 900px;" class="container">
      <div purpose="headline">
        <h2>Key features include:</h2>
      </div>

      <div purpose="feature" class="d-flex flex-lg-row flex-column justify-content-between">
        <div class="order-last" purpose="feature-image">
          <img alt="Real-time device visibility" src="/images/feature-realtime-440x277.png">
        </div>
        <div class="order-lg-last" purpose="feature-text">
          <h4>Real-time device visibility
          </h4>
          <p>Allows admins an accurate birds-eye-view of the wellbeing of their devices, so they can detect compliance and system issues as they happen.
          </p>
        </div>
      </div>

      <div purpose="feature" class="d-flex flex-column flex-lg-row justify-content-between">
        <div purpose="feature-text">
          <h4>Discover vulnerable applications
          </h4>
          <p>By viewing application inventories, in order to patch them before downtime and data breaches occur.
          </p>
        </div>
        <div purpose="feature-image">
          <img alt="Discover vulnerable applications" src="/images/feature-vulnerable-software-440x277.png">
        </div>
      </div>

      <div purpose="feature" class="d-flex flex-column flex-lg-row justify-content-between">
        <div class="order-last" purpose="feature-image">
          <img alt="File integrity monitoring" src="/images/feature-file-integrity-monitoring-440x277.png">
        </div>
        <div class="order-lg-last" purpose="feature-text">
          <h4>File integrity monitoring
          </h4>
          <p>Gives you peace of mind that files aren't changing, unless they're supposed to.
          </p>
        </div>
      </div>

      <div purpose="feature" class="d-flex flex-column flex-lg-row justify-content-between">
        <div purpose="feature-text">
          <h4>Threat detection
          </h4>
          <p>Allow admins to detect malware and suspicious processes, so they can begin remediation as soon as risks emerge.
          </p>
        </div>
        <div purpose="feature-image">
          <img alt="Threat detection" src="/images/feature-threat-detection-440x277.png">
        </div>
      </div>

    <div purpose="fleet-cta">
      <div class="text-white text-center">
        <h3>Give Fleet a try</h3>
        <p>Get up and running with a test environment of Fleet within minutes</p>
      </div>
      <div purpose="cta-buttons" class="mx-auto d-flex flex-sm-row flex-column justify-content-center">
        <a style="max-width: 220px;" class="text-white mr-sm-4 ml-sm-0 d-sm-flex align-items-center justify-content-center btn btn-block btn-primary mx-auto" href="/try-fleet/register?tryitnow">Get started</a>
        <a purpose="demo-btn" style="max-width: 220px;" class="btn btn-lg text-white btn-white mr-2 pl-0 mx-auto mx-sm-0 mt-2 mt-sm-0" @click="clickOpenChatWidget()">Talk to an expert</a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
