<div id="software-management-page" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content">
      <div purpose="page-hero">
        <h4>Software management</h4>
        <h1>Manage software consistently</h1>
        <p purpose="hero-text">Pick from a curated app library or upload your own custom packages. Configure custom installation scripts if you need or let Fleet do it for you.</p>
        <div purpose="button-row" class="d-flex justify-content-start">
          <a class="btn btn-primary" purpose="contact-button" href="/contact">Talk to an engineer</a>
          <animated-arrow-button href="/register">Try it yourself</animated-arrow-button>
        </div>
      </div>
      <div purpose="hero-slides">
        <div id="heroCarousel" class="carousel slide d-flex flex-column" data-ride="carousel">
          <div purpose="carousel-headings" class="carousel-indicators d-flex flex-md-row flex-column order-md-1 order-3">
            <div purpose="slide-text" data-target="#heroCarousel" data-slide-to="0" class="active">
              <h5>Zero-touch installs</h5>
              <p>Automatically install software the first time computers boot.</p>
            </div>
            <div purpose="slide-text" data-target="#heroCarousel" data-slide-to="1">
              <h5>Software self-service</h5>
              <p>Empower end users and reduce IT burden with pre-approved software.</p>
            </div>
            <div purpose="slide-text" data-target="#heroCarousel" data-slide-to="2">
              <h5>Update software automatically</h5>
              <p>Use policies to enforce specific updates and automations to run scripts or install software.</p>
            </div>
          </div>
          <ol purpose="carousel-indicators" class="carousel-indicators order-2">
            <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#heroCarousel" data-slide-to="1"></li>
            <li data-target="#heroCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner order-1 order-md-3">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/images/software-management-feature-slide-1-1072x480@2x.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/software-management-feature-slide-2-1072x480@2x.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/software-management-feature-slide-3-1072x480@2x.png" alt="Third slide">
            </div>
          </div>
        </div>
      </div><%// End of [purpose="hero-slides"]%>

      <div purpose="logo-row">
        <logo-carousel></logo-carousel>
      </div>
      <div purpose="it-testimonial" class="d-flex flex-column justify-content-center align-items-center">
        <img alt="Flock Safety logo" purpose="testimonial-logo" src="/images/logo-flock-safety-907x132@2x.png">
        <p purpose="testimonial-text">
          This is not just production osquery, but actually a way bigger opportunity than even something like Airwatch or Jamf.
        </p>
        <div purpose="testimonial-attribution">
          <img alt="Eric Tan" purpose="testimonial-author-image" src="/images/testimonial-author-eric-tan-99x99@2x.png">
          <p purpose="name">Eric Tan</p>
          <p purpose="job-title">CIO & Chief Security Officer at Flock Safety</p>
        </div>
      </div>
      
      <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-center mx-auto align-items-center">
        <div purpose="feature-image">
          <img alt="Deploy software your own way" src="/images/feature-image-fleet-maintained-software-528x377@2x.png">
        </div>
        <div purpose="feature-text" class="d-flex flex-column">
          <h3>Deploy software your own way</h3>
          <p>Deploy software from any source using the method that works best for you—whether it's through the UI, API, or GitOps.</p>
          <div purpose="checklist" class="flex-column d-flex">
            <p>Install from a built-in catalog of Fleet-maintained apps without the need for additional configuration.</p>
            <p>Upload any third-party software as a custom package to deploy all of the tools your end users need.</p>
            <p>Manage app deployments and updates for your computers and mobile devices from app stores.</p>
          </div>
        </div>
      </div>

      <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-center mx-auto align-items-center">
        <div purpose="feature-text" class="d-flex flex-column">
          <h3>Automate patch management</h3>
          <p>Take the guesswork out of keeping devices up-to-date and secure by asking yes or no questions tied to automations.</p>
          <div purpose="checklist" class="flex-column d-flex">
            <p>Use policy automations to trigger app updates, execute scripts, or create tickets in Jira and Zendesk.</p>
            <p>Generate webhooks to integrate with your favorite tools and systems.</p>
            <p>Optionally integrate Google Calendar to schedule time for your users to update software when it’s convenient for them.</p>
          </div>
        </div>
        <div purpose="feature-image">
          <img alt="Automate patch management" src="/images/feature-image-automate-patch-management-528x377@2x.png">
        </div>
      </div>

      <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-center mx-auto align-items-center">
        <div purpose="feature-image">
          <img alt="The right software at the right moment" src="/images/feature-image-self-service-528x377@2x.png">
        </div>
        <div purpose="feature-text" class="d-flex flex-column">
          <h3>The right software at the right moment</h3>
          <p>Use self-service to keep employees productive and secure with software curated to their needs.</p>
          <div purpose="checklist" class="flex-column d-flex">
            <p>Install organization-approved software for macOS, Windows, and Linux.</p>
            <p>Quickly deliver software for teams of any size, tailored to small groups or the entire organization.</p>
          </div>
        </div>
      </div>

      <div purpose="testimonial" class="d-flex flex-column justify-content-center align-items-center">
        <img alt="Rivian logo" purpose="testimonial-logo" src="/images/social-proof-rivian-107x24@2x.png">
        <p purpose="testimonial-text">
          Fleet lets us be more actionable with fewer people. It helps us to filter out the noise better than we could with the other big name products we replaced.
        </p>
        <div purpose="testimonial-attribution">
          <img alt="Andre Shields" purpose="testimonial-author-image" src="/images/testimonial-author-andre-shields-48x48@2x.png">
          <p purpose="name">Andre Shields</p>
          <p purpose="job-title">Cybersecurity Security Engineer, Vulnerability Management</p>
        </div>
      </div>

    </div><%// End of [purpose="page-content"]%>
  </div><%// End of [purpose="page-container"]%>
  <div purpose="tweets-container" class="d-flex flex-column justify-content-center">
    <div purpose="page-container" class="py-0">
      <div purpose="section-heading" class="mx-auto text-center">
        <h2 class="mb-3">What people are saying</h2>
      </div>
    </div>
    <scrollable-tweets :testimonials="testimonialsForScrollableTweets"></scrollable-tweets>
  </div>
  <div purpose="page-container" class="py-0">
    <div purpose="section-heading" class="text-center">
      <h4>Software management</h4>
      <h2>Manage software consistently</h2>
      <div purpose="button-row" style="margin-top: 32px;" class="d-flex justify-content-center align-items-center mx-auto">
        <a purpose="contact-button" href="/contact">Show me</a>
        <animated-arrow-button href="/register">Try it yourself</animated-arrow-button>
      </div>
    </div>
  </div>
  <%/* Cloud city banner */%>
  <parallax-city></parallax-city>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
