<div id="software-management" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/software-management.less</em>, <em>assets/js/pages/software-management.page.js</em>, and <em>api/controllers/view-software-management.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
