<div id="start" v-cloak>
  <div class="d-flex container" purpose="page-container">
    <div class="text-center mx-auto">
      <h1>Welcome to Fleet</h1>
      <p class="mb-0">Spin up a local demo or get your Fleet Premium license key.</p>
    </div>
    <div purpose="start-cards">
      <a purpose="card" href="/try-fleet">
        <img alt="Run a local demo of Fleet" src="/images/start-try-fleet-64x64@2x.png">
        <h2>Try Fleet</h2>
        <p>Run a local demo of Fleet</p>
      </a>
      <a purpose="card" href="/new-license">
        <img alt="Purchase a Fleet Premium license" src="/images/start-purchase-license-64x64@2x.png">
        <h2>Start</h2>
        <p>Purchase a Fleet Premium license</p>
      </a>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
