<div id="upgrade" v-cloak>
  <div purpose="page-container" class="container-lg">
  <h1>Get even more control with Fleet Premium</h1>
    <div class="d-flex flex-lg-row flex-column justify-content-between">
      <div class="d-flex flex-column justify-content-center">
        <%// First row with two bullet points %>
        <div purpose="feature-row" class="d-flex flex-column flex-md-row flex-lg-column justify-content-center align-items-center align-items-md-start">
          <div purpose="feature" class="d-flex flex-lg-row flex-column align-items-center">
            <div purpose="feature-image">
              <img alt="Expertise on-demand" src="/images/premium-landing-feature-1.svg">
            </div>
            <div purpose="feature-text">
              <h3>Expertise on-demand</h3>
              <p>Get your own private Slack channel with Fleet experts.</p>
            </div>
          </div>
          <div purpose="feature" class="d-flex flex-lg-row flex-column align-items-center">
            <div purpose="feature-image">
              <img alt="Custom solutions" src="/images/premium-landing-feature-2.svg">
            </div>
            <div purpose="feature-text">
              <h3>Custom solutions</h3>
              <p>Customize your Fleet deployment with queries and policies tailored to your needs, training specific to the roles of your users, and dashboards relevant to your executives.</p>
            </div>
          </div>
        </div>
        <%// Second row with two bullet points %>
        <div purpose="feature-row" class="d-flex flex-column flex-md-row flex-lg-column justify-content-center align-items-center align-items-md-start">
          <div purpose="feature" class="d-flex flex-lg-row flex-column align-items-center">
            <div purpose="feature-image">
              <img alt="Target and configure specific device groups" src="/images/premium-landing-feature-3.svg">
            </div>
            <div purpose="feature-text">
              <h3>Target and configure specific device groups</h3>
              <p>Improve your security posture with unique configurations for specific groups of endpoints. Give appropriate access to every employee with RBAC.</p>
            </div>
          </div>
          <div purpose="feature" class="d-flex flex-lg-row flex-column align-items-center">
            <div purpose="feature-image">
              <img alt="Open source CIS compliance policies" src="/images/premium-landing-feature-4.svg">
            </div>
            <div purpose="feature-text">
              <h3>Open source CIS compliance policies</h3>
              <p>Strengthen your IT risk management strategy with our out-of-the-box CIS compliance policies that protect your systems and data from cyber threats.</p>
            </div>
          </div>
        </div>
        <%// Third row with one bullet point %>
        <div purpose="feature-row" class="d-flex flex-column flex-md-row flex-lg-column justify-content-center align-items-center">
          <div purpose="feature" class="d-flex flex-lg-row flex-column align-items-center">
            <div purpose="feature-image">
              <img alt="See vulnerability scores and probability of exploit" src="/images/premium-landing-feature-5.svg">
            </div>
            <div purpose="feature-text">
              <h3>See vulnerability scores and probability of exploit</h3>
              <p>Fleet Premium provides richer software vulnerability data, including real-time EPSS and CVSS scores, as well as CISA-known exploited vulnerabilities.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-start">
        <%// Form %>
        <div purpose="upgrade-form" v-if="!cloudSuccess">
          <h2 class="text-center">Upgrade to Fleet Premium</h2>
          <p class="text-center">Complete the form below and a member of our team will be in touch within one business day.</p>
          <ajax-form action="deliverPremiumUpgradeForm" class="premium-upgrade" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
            <div class="form-group">
              <label for="organization">Company</label>
              <input class="form-control" id="organization" :class="[formErrors.organization ? 'is-invalid' : '']" v-model.trim="formData.organization" @input="typeClearOneFormError('organization')">
              <div class="invalid-feedback" v-if="formErrors.organization">Please enter the name of your company.</div>
            </div>
            <div class="form-group">
              <label for="monthsUsingFleetFree">Months using Fleet Free</label>
              <select class="form-control" id="monthsUsingFleetFree" :class="[formErrors.monthsUsingFleetFree ? 'is-invalid' : '']" v-model.trim="formData.monthsUsingFleetFree" @input="typeClearOneFormError('monthsUsingFleetFree')">
                <option value="Please select one" disabled selected hidden>Please select one</option>
                <option value="1 - 3 months">1 - 3 months</option>
                <option value="3 - 6 months">3 - 6 months</option>
                <option value="6 - 12 months">6 - 12 months</option>
                <option value="12+ months">12+ months</option>
              </select>
              <div class="invalid-feedback" v-if="formErrors.monthsUsingFleetFree" focus-first>Please select an option</div>
            </div>
            <div class="form-group">
              <label for="emailAddress">Email</label>
              <input class="form-control" id="emailAddress" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" @input="typeClearOneFormError('emailAddress')">
              <div class="invalid-feedback" v-if="formErrors.emailAddress" focus-first>This doesn’t appear to be a valid email address</div>
            </div>
            <div class="form-group">
              <label for="numberOfHosts">Number of devices</label>
              <input class="form-control" id="numberOfHosts" type="number" min="0" :class="[formErrors.numberOfHosts ? 'is-invalid' : '']" v-model.trim="formData.numberOfHosts" @input="typeClearOneFormError('numberOfHosts')">
              <div class="invalid-feedback" v-if="formErrors.numberOfHosts">Please enter a number of devices.</div>
            </div>
              <cloud-error v-if="cloudError"></cloud-error>
            <div class="border-0 justify-content-center">
              <ajax-button purpose="submit-button" spinner="true" type="submit" :syncing="syncing" class="btn btn-sm btn-block btn-primary">Submit</ajax-button>
            </div>
          </ajax-form>
          <p class="mb-0 mt-4 pt-3"><a href="/handbook/company/why-this-way#why-dont-we-sell-like-everyone-else" target="_blank">We will never spam you</a>.</p>
        </div>
        <%// Form success state %>
        <div purpose="upgrade-form" v-else>
          <h2>We’ll be in touch soon!</h2>
          <p>A member of our team will be in touch within one business day.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
