<div id="vanta-callback" v-cloak>

  <div class="bg-green container" v-if="showSuccessMessage">
    <h1>you did it!</h1>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
