<div id="vanta-callback" v-cloak>

  <div class="container d-flex flex-column align-items-center justify-content-center" >
    <div>
      <h1>You're all set up</h1>
      <p>Please <a href="/contact">contact</a> Fleet if you need to change or stop your Fleet and Vanta integration.</p>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
