.kolide-checkbox {
  @include clearfix;
  position: relative;
  display: inline-block;

  &__input {
    visibility: hidden;
    margin: 0;
    position: absolute;
    z-index: -1;

    &:checked + .kolide-checkbox__tick {
      &::after {
        background-color: $brand;
        border: solid 2px $brand;
      }

      &::before {
        @include position(absolute, 50% null null 50%);
        transform: rotate(45deg);
        box-sizing: border-box;
        display: block;
        width: 7px;
        height: 13px;
        margin: -8px 0 0 -3px;
        border: 2px solid $white;
        border-top: 0;
        border-left: 0;
        content: '';
      }
    }
  }

  &__tick {
    @include size(20px);
    @include position(absolute, 50% null null 0);
    transform: translateY(-10px);
    display: inline-block;

    &::after {
      @include size(20px);
      transition: border 75ms ease-in-out, background 75ms ease-in-out;
      border-radius: 2px;
      border: solid 2px $border-medium;
      content: '';
      box-sizing: border-box;
      display: block;
      background-color: $white;
      visibility: visible;
    }

    &--disabled {
      &::after {
        background-color: $border-medium;
      }
    }
  }

  &__label {
    font-size: 13px;
    font-weight: $normal;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $text-medium;
    padding-left: 25px;
  }
}
