.query-progress-details {
  margin-top: 24px;
  @at-root &.query-results-table__full-screen {
    float: left;
  }

  &__wrapper {
    display: inline-block;
    max-width: 420px;

    em {
      color: $core-medium-blue-grey;
      font-size: 0.8em;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    font-size: $x-small;
  }

  &__text-online {
    &:before {
      background-color: $success;
      border-radius: 100%;
      content: " ";
      display: inline-block;
      height: 8px;
      margin-right: 8px;
      width: 8px;
    }
  }

  &__text-offline {
    &:before {
      background-color: $ui-dark-grey;
      border-radius: 100%;
      content: " ";
      display: inline-block;
      height: 8px;
      margin-right: 8px;
      width: 8px;
    }
  }

  &__text-error {
    &:before {
      background-color: $alert;
      border-radius: 100%;
      content: " ";
      display: inline-block;
      height: 8px;
      margin-right: 8px;
      width: 8px;
    }
  }

  &__text-results {
    color: $core-medium-blue-grey;
  }

  &__btn-wrapper {
    float: right;

    .button {
      width: 80px;
    }
  }
}
