.action-button {
  display: flex;
  align-items: center;

  img {
    position: relative;
  }

  .button--text-link {
    font-weight: $regular;
  }

  &__transfer,
  &__enable {
    margin-right: $pad-small;
  }
}
