.summary-tile {
  width: 100%;
  display: flex;
  justify-content: space-around;

  a {
    font-weight: normal;
    color: $core-fleet-black;
    text-decoration: none;
    border-radius: 3px;
  }

  &__tile {
    display: flex;
    align-items: center;
    gap: px-to-rem(12);
    text-align: left;
    padding: $pad-medium;
    height: fit-content;

    &:focus-visible {
      outline: 1px solid $core-vibrant-blue;
    }
  }

  &__tile-icon {
    white-space: nowrap;
  }

  &__circled-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $core-vibrant-blue;
    width: px-to-rem(48);
    height: px-to-rem(48);
    border-radius: 100%;
    background: $ui-vibrant-blue-10;

    .icon {
      margin-left: 0 !important;
      margin-right: 0;
    }
  }

  &__count {
    font-size: $large;
    white-space: nowrap;
  }

  &__not-supported {
    color: $ui-fleet-black-50;

    &-text {
      font-size: $medium;
    }
  }

  &__description {
    white-space: nowrap;

    .component__tooltip-wrapper__element {
      font-size: $x-small;
    }

    .component__tooltip-wrapper__tip-text {
      width: 200px;
      white-space: initial;
    }
  }
}

@media (max-width: 980px) {
  .summary-tile {
    &__tile {
      text-align: center;
      flex-direction: column;
      gap: 0.75rem;
      .component__tooltip-wrapper__tip-text {
        text-align: initial;
      }
    }

    &__tile-icon {
      margin-right: 0;
    }
  }
}
