.windows-automatic-enrollment-page {
  @include vertical-page-layout;

  &__card {
    max-width: $settings-form-max-width;
    p {
      margin-top: 0;
    }
  }

  &__url-inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: $pad-icon;
  }

  &__url-input {
    margin-bottom: 0;
  }

  &__cloud-customer-banner {
    margin-top: $pad-large;
  }

  &__banner-content {
    display: flex;
    align-items: column;
    gap: $pad-small;
  }
}
