.windows-automatic-enrollment-page {
  &__back-to-automatic-enrollment {
    margin-bottom: $pad-xlarge;
  }

  h1 {
    margin-bottom: $pad-xxlarge;
    font-size: $x-large;
  }

  &__description {
    margin: 0 0 $pad-large;
    max-width: 800px;
  }

  &__setup-list {
    font-size: $x-small;
    display: flex;
    flex-direction: column;
    gap: $pad-large;
    padding: 0;
    margin: 0;
    max-width: 800px;
    list-style: none;

    li {
      display: flex;
      flex-direction: row;
      gap: $pad-small;

      p {
        margin: 0;
      }
    }
  }

  &__url-inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: $pad-icon;
    margin-top: $pad-large;
  }

  &__url-input {
    margin-bottom: 0;
  }

  &__permissions-list {
    margin-top: $pad-large;
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: $pad-medium;
  }

  &__cloud-customer-banner {
    margin-top: $pad-large;
  }

  &__banner-content {
    display: flex;
    align-items: column;
    gap: $pad-small;
  }
}
