.software-card {
  .card-header {
    font-weight: $bold;
    margin: 0 0 $pad-large 0;
  }

  .table-container__search-input {
    width: 100%;
    min-width: 180px; // Custom to fit placeholder text
  }

  .table-container__search {
    width: 100%;
  }

  .host-software-table {
    &__software-filter {
      width: 400px;
    }

    &__filters {
      display: flex;
      align-items: center;

      .children-wrapper {
        gap: $pad-small;
      }
    }

    .data-table-block {
      .data-table__table {
        thead {
          .name__header {
            display: table-cell;
            width: auto;
          }
          .status__header {
            display: table-cell;
            width: auto;
          }
          .Version__header {
            display: table-cell;
            width: auto;
          }
          .source__header {
            display: table-cell;
          }
          .Vulnerabilities__header {
            display: table-cell;
          }
          // this is called `id` only due to typing concerns in the table config – it is for the
          // "Show details" column
          .id__header {
            width: px-to-rem(90);
          }
          @media (max-width: ($break-xl - 1)) {
            .source__header {
              display: none;
              width: 0;
            }
          }
          @media (max-width: ($break-lg - 1)) {
            .status__header {
              display: none;
              width: 0;
            }
          }
        }
        tbody {
          tr {
            .name__cell {
              display: table-cell;
              width: auto;
            }
            .status__cell {
              display: table-cell;
              width: auto;
            }
            .Version__cell {
              display: table-cell;
              width: auto;
            }
            .source__cell {
              display: table-cell;
            }
            .Vulnerabilities__cell {
              display: table-cell;
            }
            @media (max-width: ($break-xl - 1)) {
              .source__cell {
                display: none;
                width: 0;
              }
            }
            @media (max-width: ($break-lg - 1)) {
              .status__cell {
                display: none;
                width: 0;
              }
            }
          }
        }
      }
    }
  }
}

.device-software {
  .card-header {
    font-weight: $regular;
    margin: 0 0 $pad-small 0;
  }

  .card-subheader {
    margin: 0 0 $pad-large 0;
    color: $ui-fleet-black-75;
    font-size: $x-small;
  }
}
