.custom-link {
  @include link;
  font-weight: $regular;
  text-decoration: underline;
  text-decoration-color: $ui-fleet-black-75;
  text-underline-offset: 3px;

  &:hover {
    color: $core-fleet-black;
    text-decoration-color: $core-fleet-black;
    .external-link-icon__outline {
      fill: $core-fleet-black;
      stroke: $core-fleet-black;
    }
    .external-link-icon__arrow {
      stroke: $core-fleet-white;
    }
  }

  &:focus-visible {
    .external-link-icon__outline {
      fill: $core-fleet-black;
      stroke: $core-fleet-black;
    }
    .external-link-icon__arrow {
      stroke: $core-fleet-white;
    }
  }

  // Changing display will break multiline links
  &:not(.custom-link--multiline) {
    display: inline-flex;
    align-items: center;
    gap: $pad-xsmall;
  }

  &__no-wrap {
    white-space: nowrap;
    display: inline-flex;
    gap: $pad-xsmall;
  }

  &__last-word {
    text-decoration: underline;
    line-height: normal;
  }

  &:focus-visible &__last-word {
    text-decoration: none;
  }

  &--emphasized {
    color: $core-fleet-green;
    text-decoration-color: $core-fleet-green;

    &:hover {
      color: $core-fleet-green-over;
      text-decoration-color: $core-fleet-green-over;
    }

    &:focus-visible {
      color: $core-fleet-green-over;
      text-decoration-color: $core-fleet-green-over;
      text-decoration: none;
    }
  }

  &--bold {
    font-weight: $bold;
  }

  // Variants
  &--tooltip-link,
  &--banner-link,
  &--flash-message-link {
    color: inherit; // Overrides default link color with parent color
  }

  &--tooltip-link,
  &--flash-message-link {
    font-size: inherit; // Overrides link default font size with parent tooltip font size
    text-decoration-color: inherit;

    .external-link-icon__outline {
      stroke: $core-fleet-white;
    }

    &:hover {
      color: $ui-fleet-black-5;
      text-decoration-color: $ui-fleet-black-5;

      .external-link-icon__outline {
        fill: $ui-fleet-black-5;
        stroke: $ui-fleet-black-5;
      }

      .external-link-icon__arrow {
        stroke: $tooltip-bg;
      }
    }

    &:focus-visible {
      color: $ui-fleet-black-5;
      text-decoration: none;
      outline-color: $ui-fleet-black-5;

      .external-link-icon__outline {
        fill: $ui-fleet-black-5;
        stroke: $ui-fleet-black-5;
      }

      .external-link-icon__arrow {
        stroke: $tooltip-bg;
      }
    }
  }

  &--flash-message-link {
    &:hover,
    &:focus-visible {
      .external-link-icon__arrow {
        stroke: $core-vibrant-red;
      }
    }
  }
}
