.custom-link {
  display: inline-flex;
  align-items: center;
  gap: $pad-xsmall;

  &__no-wrap {
    white-space: nowrap;
    .icon {
      padding-left: 6px;
    }
  }

  &--black {
    color: $core-fleet-black;
  }

  &--black {
    color: $core-fleet-black;
  }

  &--white {
    color: $core-fleet-white;
  }
}
