.setup-experience {
  > p {
    font-size: $x-small;
    margin: $pad-xxlarge 0;
  }

  &__premium-feature-message {
    margin-top: 80px;
  }

  .turn-on-mdm-message {
    @include tab-empty-state;
    max-width: none;
    padding: 64px 170px;
    margin: 0;
  }

  &__side-nav {
    .tab-nav {
      margin-top: -20px;
    }
    .react-tabs__tab-list {
      margin-bottom: $pad-xxlarge;
    }
  }
}
