.setup-experience {
  @include vertical-page-tab-panel-layout;
  margin-top: $gap-page-component; // Required as these Tabs don't use TabPanel

  &__description {
    margin: 0;
  }

  &__premium-feature-message {
    margin-top: 80px;
  }

  .turn-on-mdm-message {
    @include tab-empty-state;
    max-width: none;
    padding: 64px 170px;
    margin: 0;
  }
}
