.software-title-details-page {
  @include vertical-page-layout;

  .fleet-dropdown-wrapper {
    @include normalize-team-header;
  }

  h2 {
    font-size: $small;
    margin: 0;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: $pad-medium;
  }

  &__library-description-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $pad-medium;
  }
}
