.software-title-details-page {
  @include page;

  .team-dropdown-wrapper {
    @include normalize-team-header;
  }

  h2 {
    font-size: $small;
  }
}

.software-summary-and-versions {
  display: flex;
  flex-direction: column;
  gap: $pad-medium;
}
