<div id="jamf-alternative" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/landing-pages/jamf-alternative.less</em>, <em>assets/js/pages/landing-pages/jamf-alternative.page.js</em>, and <em>api/controllers/landing-pages/view-jamf-alternative.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
