<div id="jamf-alternative" v-cloak>
  <div purpose="landing-page-container">
    <div purpose="landing-page-content">
      <div purpose="page-hero">
        <div purpose="hero-heading">
          <h4>Ready to move?</h4>
          <h1>Replace Jamf with confidence</h1>
        </div>
        <div purpose="hero-content">
          <p>Whether you're managing 500 endpoints or 50,000, Fleet helps you consolidate tools, automate operations, and strengthen compliance.</p>
        </div>
        <%// gap %>
        <div purpose="button-row">
          <a purpose="demo-button" href="/contact">
            Get a demo
          </a>
        </div>
        <%// gap %>
        <div purpose="hero-logos">
          <logo-carousel></logo-carousel>
        </div>
      </div><%// page-hero %>

      <div purpose="page-section">
        <div purpose="section-heading">
          <div purpose="section-title">
            <h4></h4>
            <h1></h1>
          </div>
          <div purpose="section-intro">
            <p></p>
          </div>
        </div><%// section-heading %>
        <%// gap %>
        <div purpose="feature-card-deck">

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

        </div>

      </div><%// page-section %>

      <div purpose="page-section">
        <div purpose="section-heading">
          <div purpose="section-title">
            <h4></h4>
            <h1></h1>
          </div>
          <div purpose="section-intro">
            <p></p>
          </div>
        </div><%// section-heading %>
        <%// gap %>
        <div purpose="comparison-table-section">
          <div purpose="table-legend">
          </div>
          <div purpose="comparison-table">

          </div>
        </div>

      </div><%// page-section %>
      <%// gap %>
      <div purpose="page-section">
        <div purpose="section-heading">
          <div purpose="section-title">
            <h4></h4>
            <h1></h1>
          </div>
          <div purpose="section-intro">
            <p></p>
          </div>
        </div><%// section-heading %>
        <%// gap %>
        <div purpose="three-column-features">
          <div purpose="feature">

          </div><%// feature %>

          <div purpose="feature">

          </div><%// feature %>

          <div purpose="feature">

          </div><%// feature %>
        </div>
        <%// gap %>
        <div purpose="testimonial-cards">
          <div purpose="testimonial-card">
            <div purpose="testimonial-logo">
            </div>
            <div purpose="testimonial-quote">
              <p></p>
            </div>
            <div purpose="testimonial-quote-author-info">
              <div purpose="profile-image"></div>
              <div purpose="name-and-title">
                <p purpose="name"></p>
                <p purpose="title"></p>
              </div>
            </div>
          </div><%// testimonial %>
          <div purpose="testimonial-card">
            <div purpose="testimonial-logo">
            </div>
            <div purpose="testimonial-quote">
              <p></p>
            </div>
            <div purpose="testimonial-quote-author-info">
              <div purpose="profile-image"></div>
              <div purpose="name-and-title">
                <p purpose="name"></p>
                <p purpose="title"></p>
              </div>
            </div>
          </div><%// testimonial %>
        </div>

      </div><%// page-section %>

      <div purpose="page-section">
        <div purpose="section-heading">
          <div purpose="section-title">
            <h4></h4>
            <h1></h1>
          </div>
          <div purpose="section-intro">
            <p></p>
          </div>
        </div><%// section-heading %>
        <%// gap %>
        <div purpose="feature-list-with-image">
          <div purpose="feature-list">
            <div purpose="feature-list-item">
            </div>
            <div purpose="feature-list-item">
            </div>
            <div purpose="feature-list-item">
            </div>
            <div purpose="feature-list-item">
            </div>
          </div>
          <div purpose="feature-image">
          </div>
        </div>
      </div><%// page-section %>
      <%// gap %>

      <div purpose="page-section">
        <div purpose="section-heading">
          <div purpose="section-title">
            <h4></h4>
            <h1></h1>
          </div>
          <div purpose="section-intro">
            <p></p>
          </div>
        </div><%// section-heading %>
        <%// gap %>
        <div purpose="feature-card-deck">

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

          <div purpose="feature-card">
            <div purpose="card-title">
              <p></p>
            </div>
            <div purpose="card-body">
              <p></p>
            </div>
            <div purpose="card-footer">
              <p><span purpose="callout"></span></p>
            </div>
          </div><% // feature-card %>

        </div>
      </div><%// page-section %>

      <%// gap %>

      <div purpose="page-section">
        <div purpose="section-heading">
          <div purpose="section-title">
            <h4></h4>
            <h1></h1>
          </div>
          <div purpose="section-intro">
            <p></p>
          </div>
        </div><%// section-heading %>
        <%// gap %>
        <div purpose="customer-stories-cards">
          <div purpose="testimonial-card">
            <div purpose="testimonial-logo">
            </div>
            <div purpose="testimonial-quote">
              <p></p>
            </div>
            <div purpose="testimonial-quote-author-info">
              <div purpose="profile-image"></div>
              <div purpose="name-and-title">
                <p purpose="name"></p>
                <p purpose="title"></p>
              </div>
            </div>
          </div><%// testimonial %>
          <div purpose="testimonial-card">
            <div purpose="testimonial-logo">
            </div>
            <div purpose="testimonial-quote">
              <p></p>
            </div>
            <div purpose="testimonial-quote-author-info">
              <div purpose="profile-image"></div>
              <div purpose="name-and-title">
                <p purpose="name"></p>
                <p purpose="title"></p>
              </div>
            </div>
          </div><%// testimonial %>
          <div purpose="testimonial-card">
            <div purpose="testimonial-logo">
            </div>
            <div purpose="testimonial-quote">
              <p></p>
            </div>
            <div purpose="testimonial-quote-author-info">
              <div purpose="profile-image"></div>
              <div purpose="name-and-title">
                <p purpose="name"></p>
                <p purpose="title"></p>
              </div>
            </div>
          </div><%// testimonial %>
          <div purpose="testimonial-card">
            <div purpose="testimonial-logo">
            </div>
            <div purpose="testimonial-quote">
              <p></p>
            </div>
            <div purpose="testimonial-quote-author-info">
              <div purpose="profile-image"></div>
              <div purpose="name-and-title">
                <p purpose="name"></p>
                <p purpose="title"></p>
              </div>
            </div>
          </div><%// testimonial %>
          <div purpose="testimonial-card">
            <div purpose="testimonial-logo">
            </div>
            <div purpose="testimonial-quote">
              <p></p>
            </div>
            <div purpose="testimonial-quote-author-info">
              <div purpose="profile-image"></div>
              <div purpose="name-and-title">
                <p purpose="name"></p>
                <p purpose="title"></p>
              </div>
            </div>
          </div><%// testimonial %>
        </div>

      </div><%// page-section %>

      <div purpose="page-section">
        <div purpose="section-heading">
          <div purpose="section-title">
            <h4></h4>
            <h1></h1>
          </div>
          <div purpose="section-intro">
            <p></p>
          </div>
        </div><%// section-heading %>
        <div purpose="call-to-action-cards">
          <div purpose="cta-card">
            <div purpose="cta-icon">
            </div>
            <p purpose="cta-heading">
            </p>
            <p purpose="cta-text">
            </p>
          </div>
          <div purpose="cta-card">
            <div purpose="cta-icon">
            </div>
            <p purpose="cta-heading">
            </p>
            <p purpose="cta-text">
            </p>
          </div>
          <div purpose="cta-card">
            <div purpose="cta-icon">
            </div>
            <p purpose="cta-heading">
            </p>
            <p purpose="cta-text">
            </p>
          </div>

        </div>
      </div><%// page-section %>


    </div><%// content %>
  </div><%// container %>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
