<div id="linux-management" v-cloak>
  <div purpose="landing-page-container">
    <div purpose="landing-page-content">
      <div purpose="landing-page-hero">
        <div purpose="page-hero-content">
          <div purpose="page-hero-headings">
            <h4>Linux Device Management</h4>
            <h1>Linux device management for modern IT teams</h1>
          </div>
          <div purpose="page-hero-text">
            <p>Support developers’ choice of Linux without losing visibility or control.<br>Manage Linux, macOS, and Windows in one place.</p>
          </div>
          <div purpose="button-row" class="d-flex justify-content-center align-items-center">
            <a purpose="cta-button" href="/contact" no-underline>Get a demo</a>
            <a purpose="video-button"  @click="clickOpenVideoModal('fleet-in-three-minutes')"><img alt="Play" class="d-inline" src="/images/icon-play-video-32x32@2x.png">See Fleet in action <span>3 mins</span></a>
          </div>
        </div>
      </div><%/* landing-page-hero */%>








    </div>
  </div>
  <scrollable-tweets :testimonials="testimonialsForScrollableTweets"></scrollable-tweets>
  <div purpose="bottom-gradient">
    <div purpose="page-container" class="container">
      <div purpose="bottom-cta" class="text-center">
        <h4>Linux Device Management</h4>
        <h1>Support Linux without adding complexity</h1>
        <div purpose="button-row" style="margin-top: 32px;" class="d-flex justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" class="mr-0" href="/contact" no-underline>Get a demo</a>
        </div>
      </div>
    </div>
  </div>
  <%/* Cloud city banner */%>
  <parallax-city></parallax-city>
  <modal purpose="video-modal" v-if="modal === 'fleet-in-three-minutes'" @close="closeModal()">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/q1Tm3IBcx24?rel=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
