.activity-feed {
  display: flex;
  flex-direction: column;

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: $pad-large;
  }

  &__block:before {
    content: "";
    position: relative;
    height: 50px !important;
    z-index: 0;
    top: 35px;
    left: 17px;
    border-left: 1px dashed $ui-fleet-blue-15;
    height: 100%;
  }
  &__block:last-child:before {
    border-left: 0;
  }

  &__avatar-frame {
    display: flex;
    width: 32px;
    height: 32px;
  }

  &__avatar-image {
    z-index: 2;
  }

  &__details {
    padding-left: $pad-large;

    p {
      margin: 0;
    }
  }

  &__details-topline {
    font-size: $x-small;
  }

  &__details-bottomline {
    font-size: $xx-small;
    color: $ui-fleet-black-25;
  }

  &__load-more-button {
    color: $core-vibrant-blue;
  }

  &__no-more-activities {
    text-align: center;
  }

  &__error {
    display: inline-block;

    b {
      font-size: 16px;
    }

    a {
      img {
        height: 12px;
        width: 12px;
        padding-left: $pad-small;
      }
    }

    .error-icon {
      transform: translateY(2px);
      height: 16px;
      width: 16px;
      padding-right: $pad-small;
    }
  }
}
