.query-details-side-panel {
  padding: 20px;

  h1 {
    @include ellipsis(250px);
    margin: 0 0 12px;
    font-size: 18px;
    font-weight: $bold;

    .kolidecon {
      color: $core-medium-blue-grey;
      margin-right: 6px;
    }
  }

  h2 {
    font-size: 16px;
    font-weight: $bold;
    letter-spacing: -0.5px;
    color: $core-dark-blue-grey;
    border-bottom: solid 1px $ui-borders;
    padding: 0 0 4px;
    margin: 0 0 6px;
  }

  p {
    font-size: 14px;
    font-weight: $regular;
    line-height: 1.71;
    color: $core-dark-blue-grey;
  }

  &__query-preview {
    margin-bottom: 12px;
  }

  &__description {
    word-wrap: break-word;
  }

  .button {
    width: 100%;
  }

  &__packs {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__pack-item {
    .kolidecon {
      margin-right: 12px;
      color: $core-dark-blue-grey;
    }
  }

  &__pack-name {
    @include ellipsis(240px);
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;

    &:hover {
      text-decoration: underline;
    }
  }
}
