.query-details-side-panel {
  padding: 20px;

  h1 {
    @include ellipsis(250px);
    margin: 0;
    font-size: $small;

    .kolidecon {
      color: $core-fleet-blue;
      margin-right: 6px;
    }
  }

  &__label {
    font-size: $medium;
    font-weight: $bold;
    margin: $pad-large 0 $pad-medium;
  }

  &__description {
    font-size: $small;
    font-weight: $regular;
    color: $core-fleet-black;
    word-wrap: break-word;
  }

  &__query-preview {
    margin-bottom: 12px;

    .kolide-ace__label {
      display: none;
    }
  }

  .button {
    width: 100%;
  }

  &__packs {
    margin-bottom: $pad-large;
    padding: 0;
    list-style: none;
  }

  &__pack-name {
    @include ellipsis(240px);
    text-decoration: none;
    font-size: $small;
    vertical-align: middle;
    color: $core-vibrant-blue;
  }
}
