.query-details-side-panel {
  padding: 20px;

  h1 {
    @include ellipsis(250px);
    margin: 0 0 24px;
    font-size: 18px;
    font-weight: $bold;

    .kolidecon {
      color: $core-medium-blue-grey;
      margin-right: 6px;
    }
  }

  &__label {
    font-size: $x-small;
    font-weight: $bold;
    padding: 0 0 4px;
    margin: 24px 0 16px 0;
  }

  &__description {
    font-size: 14px;
    font-weight: $regular;
    color: $core-dark-blue-grey;
  }

  &__query-preview {
    margin-bottom: 12px;
  }

  &__description {
    word-wrap: break-word;
  }

  .button {
    width: 100%;
  }

  &__packs {
    margin-bottom: 24px;
    padding: 0;
    list-style: none;
  }

  &__pack-item {
    .kolidecon {
      margin-right: 12px;
      color: $core-dark-blue-grey;
    }
  }

  &__pack-name {
    @include ellipsis(240px);
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;

    &:hover {
      text-decoration: underline;
    }
  }
}
