.disk-space-indicator {
  display: flex;
  align-items: center;
  gap: $pad-small;

  .react-tooltip {
    max-width: px-to-rem(160);
    text-align: center;
    font-size: px-to-rem(13);
  }
}

.info-flex,
.gigs_disk_space_available__cell {
  white-space: nowrap;
}
