.shadow-box-input {
  &__icon {
    color: $accentMedium;
    font-size: $medium;
    position: absolute;
    right: 6px;
    top: 12px;
  }
  &__input {
    border: 1px solid $accentMedium;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.12);
    color: $textMedium;
    font-size: $small;
    padding-left: 4px;
    &::placeholder {
      color: $textMedium;
      font-size: $small;
    }
  }
  &__wrapper {
    display: inline-block;
    position: relative;
  }
}
