.host-details {
  @include flex-grow(1);
  background-color: $white;
  border: 1px solid $silver;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba($black, 0.05);
  box-sizing: border-box;
  padding: $pad-half;
  margin: 30px 7px 0;
  position: relative;
  text-align: center;
  min-width: 240px;
  max-width: 300px;
  display: inline-block;

  &--online {
    border-top: 6px solid $success;

    .host-details__status {
      color: $success;
    }
  }

  &--offline {
    border-top: 6px solid $alert;

    .host-details__status {
      color: $alert;
    }
  }

  &--mia {
    border-top: 6px solid $text-dark;

    .host-details__status {
      color: $text-dark;
    }
  }

  &__status {
    font-size: $medium;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
  }

  &__delete-host {
    float: right;

    span {
      display: block;
      color: $text-medium;
      font-size: 13px;
      letter-spacing: 0;
    }
  }

  &__delete-host-icon {
    color: $link;
    font-size: 20px;
  }

  &__hostname {
    @include ellipsis;
    font-size: 16px;
    font-weight: $bold;
    letter-spacing: 1px;
    text-align: center;
    color: $link;
    clear: both;
    margin: 0;
    width: 100%;
  }

  &__details-list {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-around);
    border-top: 1px solid $accent-light;
    list-style: none;
    margin: 8px auto;
    padding: 8px 0;
    max-width: 222px;
  }

  &__detail {
    font-size: 14px;
    font-weight: $light;
    color: $text-ultradark;
    padding: 7px 0;
    text-align: center;

    .kolidecon {
      color: $text-light;
      font-size: 19px;
      margin-right: 9px;
    }

    &--os,
    &--mac,
    &--ip {
      @include flex-basis(100%);
    }

    &--memory,
    &--cpu,
    &--osquery,
    &--uptime {
      @include flex-basis(50%);
    }
  }
}
