<div id="remediate" v-cloak>

  <div purpose="page-container">
    <div purpose="page-content" class="d-flex flex-column justify-content-between">
      <h1>Secure your device</h1>
      <p>Your organization has blocked sign-in because your computer is failing some security checks. Follow the steps below to restore access.</p>
      <ol purpose="remediation-steps">
        <li>
          <p>Click the Fleet icon in your menu bar, and select <strong>My device</strong>:</p>
          <img src="/images/remediate-step-1-456x170@2x.png">
        </li>
        <li>
          <p>Navigate to the <strong>Policies</strong> tab:</p>
          <img src="/images/remediate-step-2-456x170@2x.png">
        </li>
        <li>
          <p>Select the failing policies and follow the resolution instructions:</p>
          <img src="/images/remediate-step-3-456x170@2x.png">
        </li>
        <li>
          <p>Click the <strong>Refetch</strong> button:</p>
          <img src="/images/remediate-step-4-456x170@2x.png">
        </li>
        <li>
          <p>Once all policies have a <strong>Yes</strong> status, you'll be able to log in.</p>
        </li>
      </ol>
      <div purpose="bottom-logo" class="d-flex flex-row justify-content-center">
        <img src="/images/fleet-logo-muted-69x24@2x.png">
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
