.platforms-accordion {
  &__accordion {
    // this was an arbitrary min width to make sure the accordion stays the same
    // width regardless of which tab is open.
    min-width: 530px;
  }

  &__accordion-button {
    padding: $pad-medium 0;
    border-bottom: 1px solid $ui-fleet-black-10;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >span {
      font-weight: $bold;
      font-size: $x-small;
    }
  }

  &__accordion-panel {
    border-bottom: 1px solid $ui-fleet-black-10;
  }

  &__item-icon {
    transition: transform 0.25s ease;
  }

  &__item-closed {
    transform: rotate(180deg);
  }
}
