.os-policy-modal {
  &__os-modal-title {
    padding-right: $pad-medium;
    font-size: $medium;
    font-weight: $bold;
  }
  &__os-modal-updated {
    font-style: italic;
  }
  &__os-modal-example-title {
    font-size: $x-small;
    font-weight: $bold;
  }
  &__os-policy {
    padding-top: $pad-medium;

    .form-field__label {
      font-weight: normal;
    }
    #os-policy {
      color: $core-fleet-purple;
      line-height: 20px;
      font-size: $x-small;
      font-family: "SourceCodePro", $monospace;
      min-height: 55px;
      padding-right: $pad-xxlarge;
    }
  }

  &__name {
    .buttons {
      margin-top: 20px;
      right: 45px;
      height: 20px; // Fix height diff of copy message
    }
  }
  &__os-policy-copy-icon {
    margin-left: $pad-small;
    margin-right: $pad-medium;
  }

  &__copy-message {
    background-color: $ui-light-grey;
    border: solid 1px #e2e4ea;
    border-radius: $border-radius-xlarge;
    padding: 2px 6px;
  }
}
