$base-class: 'panel-group-item';

.#{$base-class} {
  transition: color 75ms ease-in-out, background 75ms ease-in-out;
  width: 100%;
  font-size: $x-small;
  line-height: 2.25;
  letter-spacing: 0.5px;
  font-weight: $regular;
  color: $core-black;
  text-align: left;
  padding: 0 $pad-large;

  &:hover {
    background-color: $core-blue-selected;

    .#{$base-class}__icon {
      color: $core-black;
    }
  }

  &.#{$base-class}--selected {
    color: $core-black;
    font-weight: $bold;
    background-color: $core-blue-selected;

    .#{$base-class}__icon {
      color: $white;
    }
  }

  &__flexy {
    display: flex;
    align-items: center;
  }

  &__icon {
    transition: color 75ms ease-in-out;
    margin-right: 23px;
    font-size: 18px;
  }

  &__name {
    @include ellipsis(80%);
    flex-grow: 1;
  }

  &__description {
    font-size: 13px;
    margin-left: 4px;
    text-transform: lowercase;
  }

  &__count {
    transition: color 75ms ease-in-out;
    font-weight: $bold;
    text-align: right;
    font-size: 14px;
  }
}
