.user-row {
  
  &__actions {
    .form-field--dropdown {
      margin-bottom: 0;

      .Select-placeholder {
        font-size: $x-small;
      }

      .Select-input {
        font-size: $x-small;
      }

      .Select-menu-outer {
        width: 186px;
        transform: translateX(-33%);
      }
    }
  }
}
