.user-row {
  &__actions {
    .form-field--dropdown {
      margin-bottom: 0;

      .Select-placeholder {
        font-size: $x-small;
      }

      .Select-input {
        font-size: $x-small;
      }

      .Select-menu {
        max-height: 220px;

        &-outer {
          width: 186px;
          transform: translateX(-33%);
          max-height: 220px;
        }
      }
    }
  }

  @include breakpoint(smalldesk) {
    &__position {
      display: none;
    }
  }

  &__status--active {
    &:before {
      background-color: $success;
      border-radius: 100%;
      content: " ";
      display: inline-block;
      height: 8px;
      margin-right: 8px;
      width: 8px;
    }
  }

  &__status--invited {
    &:before {
      background-color: $warning;
      border-radius: 100%;
      content: " ";
      display: inline-block;
      height: 8px;
      margin-right: 8px;
      width: 8px;
    }
  }

  &__status--disabled {
    &:before {
      background-color: $core-red;
      border-radius: 100%;
      content: " ";
      display: inline-block;
      height: 8px;
      margin-right: 8px;
      width: 8px;
    }
  }
}
