.login-form-animation-leave {
  transform: scale(1);
  opacity: 1;

  &.login-form-animation-leave-active {
    transition: opacity 300ms ease-in, transform 300ms ease-in;
    transform: scale(1.3);
    opacity: 0;
  }
}
