.number-pill {
  background-color: $brand;
  border-radius: 14px;
  color: $white;
  display: inline-block;
  line-height: 26px;
  height: 26px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding: 0 14px;
}
