.add-policy-modal {
  &__policy-selection {
    padding: $pad-large 0;
  }

  &__policy-name {
    display: inline-flex;
    width: 100%;
  }

  &__mdm-policy {
    background-color: $core-vibrant-blue;
    color: $core-white;
    font-size: $x-small;
    font-weight: 700;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 0.5rem;
    position: relative;
    top: -2px;
  }

  &__mdm-policy-tooltip {
    font-weight: $regular;
  }

  .children-wrapper {
    align-items: left;

    .info__header {
      width: initial;
    }
  }
}
