.autocomplete-dropdown {
  .Select {
    &.Select--multi {
      .Select-option {
        color: $core-fleet-black;
        font-size: $x-small;
        margin: $pad-small;
        padding: $pad-small;
        display: block;

        &.is-focused {
          background-color: $ui-vibrant-blue-25;

          .Select-icon {
            color: $ui-vibrant-blue-25;
          }
        }

        &.is-disabled {
          color: $ui-fleet-black-25;

          .Select-icon {
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }

    .Select-control {
      .Select-value {
        border: 1px solid $core-vibrant-blue;
        background-color: $ui-vibrant-blue-10;

        .Select-value-label {
          font-weight: $bold;
        }

        .Select-value-icon {
          &:after {
            color: $core-fleet-black;
          }
        }
      }
    }
  }
}
