.script-details-modal {
  &__script-name {
    font-weight: $bold;
  }

  #script-content {
    box-sizing: border-box;
    height: 300px;
    overflow-y: auto;
    font-family: "SourceCodePro";
  }
}
