.os-updates-current-version-section {
  &__title {
    display: flex;
    align-items: center;
    gap: $pad-small;
    padding-bottom: $pad-medium;
    border-bottom: 1px solid $ui-fleet-black-10;
    margin-bottom: $pad-xxlarge;
  }

  &__header {
    h2 {
      font-weight: normal;
      font-size: 18px;
    }
  }

  &__error {
    padding: $pad-xxlarge;
  }

  .linkToFilteredHosts__header {
    width: auto;
    max-width: 120px;
  }

  td {
    width: 100%;
    max-width: $col-lg;
  }

  @media (max-width: $break-md) {
    td {
      max-width: $col-md !important;
    }
  }
}
