.query-results-table {
  display: flex;
  flex-direction: column;
  background-color: $core-white;
  width: 100%;
  min-height: calc(500px + (#{$pad-medium} * 2));
  box-sizing: border-box;

  &__table-title {
    font-size: $x-small;
    font-weight: $bold;
  }

  &__button-wrap {
    @include clearfix;
    margin-top: 20px;
  }

  &__export-btn {
    float: right;
  }

  &__filter-icon {
    color: $ui-fleet-black-25;

    &--is-active {
      color: $core-vibrant-blue;
    }
  }

  &__progress-details {
    display: inline-block;
    width: 378px;
  }

  &__results-table-wrapper {
    display: flex;
    border: solid 1px $ui-fleet-blue-15;
    border-radius: 3px;
    overflow: scroll;
    margin-top: $pad-xsmall;
    min-height: 100px;
    max-height: 400px;
    width: 100%;

    .kolide-spinner {
      align-self: center;
    }

    .no-results-message {
      flex-grow: 1;
      align-self: center;
      text-align: center;
      font-size: $x-small;
    }
  }

  &__error-table-container {
    margin-top: $pad-large;
    overflow: scroll;
  }

  &__error-table-wrapper {
    display: flex;
    border: solid 1px $ui-fleet-blue-15;
    border-radius: 3px;
    margin-bottom: $pad-xxlarge;
    margin-top: $pad-xsmall;
    min-height: 200px;
    max-height: 400px;
    width: 100%;
    box-sizing: border-box;
  }

  &__table {
    border-collapse: collapse;
    color: $core-fleet-black;
    font-size: $x-small;
    width: 100%;
  }

  thead {
    background-color: $ui-off-white;
    color: $core-fleet-black;
    text-align: left;
    border-bottom: 1px solid $ui-fleet-blue-15;

    th {
      padding: 12px $pad-large;
      min-width: 125px;

      .form-field {
        margin-bottom: 0;
      }

      span {
        white-space: nowrap;

        .fleeticon {
          margin-right: 5px;
        }
      }
    }

    .input-field {
      width: 100%;
    }
  }

  tbody {
    background-color: $core-white;

    td {
      padding: 12px $pad-large;
      white-space: nowrap;
    }

    tr {
      border-bottom: 1px solid $ui-fleet-blue-15;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &--full-screen {
    animation: growFullScreen 500ms;
    animation-fill-mode: forwards;
    border-radius: 3px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px $ui-fleet-blue-15;
    z-index: 99;
    padding: 20px;

    .query-progress-details__run-btn {
      display: none;
    }

    .query-progress-details__stop-btn {
      display: none;
    }

    .query-results-table__results-table-wrapper {
      max-height: none;
    }

    .query-results-table__error-table-container {
      max-height: none;
    }

    .query-results-table__error-table-wrapper {
      max-height: none;
    }
  }

  &--shrinking {
    animation: shrinkFullScreen 500ms;
    animation-fill-mode: forwards;
    z-index: 99;
  }

  &__fullscreen-btn {
    float: right;
    margin-left: 15px;
  }
}

@keyframes growFullScreen {
  100% {
    top: 60px;
    right: $pad-small;
    bottom: $pad-small;
    left: $pad-small;
    max-width: calc(100vw - #{$pad-small} - #{$pad-small});
    max-height: 100vh;
  }
}

@keyframes shrinkFullScreen {
  0% {
    top: $pad-small;
    right: auto;
    bottom: auto;
    left: $pad-small;
    max-width: 100vw;
    max-height: 100vh;
  }
}
