.secrets-batch-paginated-list {

    &__copy-message {
        @include copy-message;
        vertical-align: bottom;
        font-size: $xx-small;
        margin-left: 4px;
    }

    .paginated-list__row {
        display: flex;
        justify-content: space-between;
        padding: $pad-small $pad-large;
        
        .button>.children-wrapper {
            opacity: 0;
            transition: opacity 250ms;
        }

        &.paginated-list__header {
            .button>.children-wrapper {
                    opacity: 1;
            }
        }

        .secrets-batch-paginated-list__copy-secret-icon {
            margin-left: 4px;
            vertical-align: bottom;
            .children-wrapper {
                opacity: 1;
            }
        }

        &:hover {
            cursor: default;
            .button>.children-wrapper {
                opacity: 1;
            }
        }

        .list-item__details {
            color: $ui-fleet-black-75;
        }
    }

    .loading-spinner.centered {
        margin: auto;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-weight: $bold;
        align-items: center;
    }
}