.home-munki {
  margin-top: $pad-large;
  position: relative;

  .data-table__wrapper {
    overflow-x: auto;
  }
  .tab-nav .table-container__header {
    display: none;
  }
  .data-table-block {
    .data-table__table {
      table-layout: fixed;

      thead {
        .type__header {
          width: $col-sm;
        }
        .version__header {
          width: 30%;
          padding-right: 0;
        }
        .hosts_count__header {
          padding-right: 0;
          width: 9%;
        }
        .id__header {
          padding: 0;
          border-left: 0;
          width: 40px;
        }
      }

      tbody {
        tr {
          .version__cell {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .id__cell {
            padding: 0;
            width: 40px;
          }

          .vulnerabilities__cell {
            img {
              transform: scale(0.5);
            }
          }

          .munki-issue-link {
            opacity: 0;
            transition: 250ms;
            text-overflow: none;
          }

          &:hover {
            .munki-issue-link {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .count-loading {
    color: $ui-fleet-black-50;
  }
  .count-error {
    color: $ui-error;
  }
}
