.fleet-maintained-apps-table {
  .macos__header,
  .windows__header {
    .column-header {
      display: flex;
      justify-content: center;
    }
  }

  &__filter-dropdowns {
    display: flex;
    gap: $gap-table-elements;
  }
}
