.os-settings-status-cell {
  display: flex;
  gap: 4px;

  &__button {
    font-weight: normal;
  }

  .icon {
    width: 16px;
    height: 16px;
    align-self: center;
  }

  .__react_component_tooltip {
    white-space: normal;
  }

  &__status-text {
    @include ellipse-text;
  }
}
