.recovery-lock-password-modal {
  .input-field {
    font-family: SourceCodePro, $monospace;
  }

  &__rotate-button .children-wrapper {
    display: flex;
    align-items: center;
    gap: $pad-small;
  }
}
