.disk-encryption-table {
  padding: $pad-xxlarge;
  border: 1px solid $ui-fleet-black-10;
  border-radius: $border-radius;
  margin-bottom: $pad-xxlarge;

  .data-table-block .data-table tbody td .w250 {
    min-width: auto;
  }

  &__aggregate-table-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  tr {
    .view-hosts-link {
      opacity: 0;
      transition: 250ms;
    }

    &:hover {
      .view-hosts-link {
        opacity: 1;
      }
    }
  }

  @media (max-width: $break-md) {
    .view-hosts-link {
      span {
        display: none;
      }
    }
  }
}
