.software-installer-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: $pad-medium;

  &__actions {
    display: flex;

    .component__tooltip-wrapper__element {
      display: flex; // Required for vertical align icons that have and don't have tooltip
    }
  }

  &__installer-status-table,
  &__installer-policies-table {
    width: 100%;
  }

  &__installer-header,
  &__row-1 {
    display: flex;
    width: 100%;
    gap: $pad-medium;
  }

  &__row-1--responsive-wrap {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  // Lots of data (10 items) on one line responsive fix (#29397)
  @media (max-width: ($table-controls-break)) {
    .installer-details-widget__details {
      flex-wrap: wrap;
    }
    // SoftwareDetailsWidget and Tags wrap onto 2 lines on low widths
    &__row-1--responsive-wrap {
      flex-direction: column;
      gap: $pad-medium;
    }

    // Buttons align top of card when alone (not middle with pills/yaml button)
    &__actions {
      .children-wrapper {
        align-self: start;
      }
    }
    // View YAML (gitops) button wrapped onto third line
    &__installer-header {
      flex-direction: column;
      gap: $pad-medium;
    }
  }

  &__tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: $pad-medium; // Between tags
  }

  &__installer-statuses {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid $ui-fleet-black-10;
    font-size: $x-small;
  }

  &__status {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-right: 1px solid var(--UI-Fleet-Black-10, #e2e4ea);

    &:last-child {
      border-right: none;
    }

    .react-tooltip {
      text-align: center;
    }
  }

  &__status-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $pad-small;
  }

  &__status-count {
    font-weight: normal;

    // When tabbing
    &:focus-visible {
      overflow: initial;
      outline: 2px solid $ui-vibrant-blue-25;
      box-shadow: inset 0 0 0 1px $ui-vibrant-blue-10;
    }
  }

  &__actions-wrapper {
    display: flex;
    gap: $pad-medium;
  }

  &__download-icon {
    display: flex;
    justify-content: center;
    width: 44px;
  }

  @media (max-width: $break-md) {
    align-items: flex-start;

    &__main-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $pad-large;
    }
  }
}
