.query-composer {
  &__btn-wrapper {
    margin-top: $base;
    text-align: right;
  }

  &__save-query-btn {
    margin-right: $xsmall;
  }

  &__select-targets {
    float: left;
  }

  &__target-label {
    font-size: 16px;
    font-weight: $bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.5px;
    color: $text-dark;
    display: block;
    margin-bottom: 4px;
    text-align: right;
  }

  &__targets-count {
    font-size: $small;
    margin-left: $xsmall;
    color: $brand;
  }

  &__text-editor-wrapper {
    margin: $base 0;
  }

  &__title {
    color: $text-medium;
    display: inline-block;
    font-size: $large;
  }

  &__wrapper {
    padding: $base;

    h1 {
      font-size: $large;
      font-weight: $light;
      letter-spacing: 1.2px;
      color: $text-medium;
      margin: 0;
    }
  }
}
