.software-details-summary {
  background-color: $core-white;
  padding: $pad-xxlarge;
  border: 1px solid $ui-fleet-black-10;
  border-radius: $border-radius-xxlarge;
  box-shadow: $box-shadow;
  display: flex;
  gap: $pad-medium;

  .software-icon {
    width: 96px;
    height: 96px;
  }

  &__info {
    flex-grow: 1;
    align-self: center;
  }

  h1 {
    font-size: $pad-large;
    font-weight: bold;
    margin-bottom: $pad-medium;
  }

  &__description-list {
    display: flex;
    gap: $pad-xxlarge;
  }
}
