.home-mdm {
  margin-top: $pad-large;
  position: relative;
  height: 100%; // centers loading spinner

  .component__tabs-wrapper .table-container__header {
    display: none;
  }

  .data-table-block {
    .data-table__table {
      table-layout: fixed;

      thead {
        .name__header,
        .status__header {
          width: 30%;
        }
        .server_url__header {
          width: 30%;
        }
        .hosts_count__header,
        .hosts__header {
          border-right: 0;
          padding-right: 0;
          width: 60px;
        }
        .linkToFilteredHosts__header {
          width: 140px;
        }
      }

      tbody {
        .mdm-solution-link {
          opacity: 0;
          transition: 250ms;
          text-overflow: none;
        }
        tr:hover {
          .mdm-solution-link {
            opacity: 1;
          }
        }
      }
    }
  }
  .count-loading {
    color: $ui-fleet-black-50;
  }
  .count-error {
    color: $ui-error;
  }
}
