@import "../../../../node_modules/react-tabs/style/react-tabs.scss";

.settings-wrapper {
  h1 {
    display: flex;
    align-items: center;
    height: 38px;
    position: relative;

    // fake padding for h1 while sticky
    &::before {
      content: "";
      width: 100%;
      height: $pad-xxlarge;
      position: absolute;
      top: -$pad-xxlarge;
      background-color: $core-white;
    }
  }

  .app-settings {
    padding: 0;
  }

  .component__tabs-wrapper {
    top: $pad-xxlarge; // for sticky
    z-index: 3;
  }
}
