.mac-os-mdm-page {
  &__back-to-mdm {
    margin-bottom: $pad-xlarge;
  }

  h1 {
    margin-bottom: $pad-xxlarge;
    font-size: $x-large;
  }

  h4 {
    margin-bottom: 0;
  }

  p {
    font-size: $x-small;
    margin: 0 0 $pad-large;
  }

  &__page-content {
    font-size: $x-small;
  }

  &__setup-content {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
    color: $core-fleet-black;

    p {
      margin: 0;
    }
  }

  &__setup-instructions-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: $pad-large;
  };

  &__request-button {
    margin-top: $pad-small;
  }

  &__apc-info {
    display: flex;
    flex-direction: column;
    gap: $pad-medium;

    dt {
      font-weight: $bold;
      margin-bottom: $pad-xsmall;
    }
  }
}
