.global-activity-item {
  display: grid; // Grid system is used to create variable dashed line lengths
  grid-template-columns: 16px 16px 1fr;
  grid-template-rows: 32px max-content;

  .avatar-wrapper {
    grid-column-start: 1;
    width: 32px;
    height: 32px;
  }

  &__dash {
    border-right: 1px dashed $ui-fleet-black-25;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &__details-wrapper {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: $pad-large;
    padding-bottom: $pad-large;

    .premium-icon-tip {
      position: relative;
      top: 4px;
      padding-right: $pad-xsmall;
    }

    .activity-details {
      margin: 0;
      line-height: 16px;
    }
  }

  &__details-topline {
    font-size: $x-small;
    overflow-wrap: anywhere;
  }

  &__details-content {
    margin-right: $pad-xsmall;
  }

  &__details-bottomline {
    font-size: $xx-small;
    color: $ui-fleet-black-50;
  }

  &__show-query-icon {
    margin-left: $pad-xsmall;
  }

  &:last-child {
    .activity-item__dash {
      border-right: none;
    }
    .activity-details {
      padding-bottom: $pad-xxlarge;
    }
  }
}
