<div id="software" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/software/software.less</em>, <em>assets/js/pages/software/software.page.js</em>, and <em>api/controllers/software/view-software.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
