.view-all-hosts-button {
  display: flex;
  align-items: center;

  &__text {
    &--responsive {
      @media (max-width: $break-md) {
        display: none;
      }
    }
  }

  &__condensed {
    margin-right: $pad-medium;
  }

  // For tabbing through the app
  &:focus-visible.row-hover-button {
    opacity: 1;
  }

  // React-select's dropdown opacity must be controlled at input level for keyboard nav
  &.row-hover-button.actions-dropdown {
    opacity: 1;

    // Control opacity of dropdown
    .actions-dropdown-select__control {
      opacity: 0;

      &:hover,
      &--is-focused {
        opacity: 1;
      }
    }
  }
}
