.view-all-hosts-button {
  display: flex;
  align-items: center;

  &__text {
    &--responsive {
      @media (max-width: $break-md) {
        display: none;
      }
    }
  }

  &__condensed {
    margin-right: $pad-medium;
  }

  // For tabbing through the app
  &:focus-visible.row-hover-button {
    opacity: 1;
  }
}
