.view-all-hosts-link {
  display: flex;
  align-items: center;
  padding: $pad-small $pad-xxsmall; // larger clickable area

  &__icon {
    margin-left: $pad-xsmall;

    svg {
      vertical-align: top;
    }
  }
}
