.login-success {
  background-color: $core-white;
  margin-top: 20px;
  padding: $pad-xxlarge;
  text-align: center;
  border-radius: $border-radius-xlarge;
  z-index: 0;
  align-self: center;
  transform: translateY(80px);

  &__text {
    font-size: $small;
  }

  &__sub-text {
    font-size: $x-small;
    color: $core-fleet-blue;
  }
}
