.login-success {
  background-color: $white;
  margin-top: 20px;
  padding-bottom: $pad-base;
  padding-left: $pad-base;
  padding-right: $pad-base;
  padding-top: $pad-most;
  text-align: center;
  width: 340px;
  z-index: 0;
  align-self: center;

  &__text {
    color: $success;
    text-transform: uppercase;
    font-size: $large;
    letter-spacing: 2px;
    font-weight: 300;
  }

  &__sub-text {
    font-size: $medium;
    color: $accent-text;
  }

  &__icon {
    color: $success;
    font-size: 100px;
  }
}
