.section--users {
  margin-top: $pad-medium;

  .table-container {
    &__header {
      padding-top: $pad-large;
    }
  }

  .data-table-block {
    .data-table__table {
      thead {
        .username__header {
          width: $col-md;
        }

        .shell__header {
          width: $col-md;
        }
      }
    }
  }
}
