.users-card {
  h2 {
    font-size: $medium;
    margin: 0 0 $pad-large;
  }

  .data-table-block {
    .data-table__table {
      thead {
        .username__header {
          width: $col-md;
        }

        .shell__header {
          width: $col-md;
        }
      }
    }
  }
}
