.version-form-fields {
  @include vertical-form-layout;

  &__auto-update-window {
    display: flex;
    gap: $pad-medium;

    > * {
      flex: 1;
      min-width: 0;
    }
  }

  &__category-list,
  &__auto-updates,
  &__target {
    @include flex-column-8px-gap;
  }

  &__category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__auto-updates-help {
    margin: 0;
    color: $core-fleet-black;
  }

}
