.secret-editor-modal {
  &__reveal-secret {
    float: right;
    text-decoration: none;
  }

  &__secret-wrapper {
    position: relative;
    margin: $pad-medium 0 0 0;
  }

  pre,
  code {
    background-color: $ui-off-white;
    color: $core-fleet-blue;
    border: 1px solid $ui-fleet-black-10;
    border-radius: $border-radius;
    padding: 7px $pad-medium;
    margin: $pad-large 0 0 44px;
  }

  &__error {
    color: $ui-error;
  }
}
