.secret-editor-modal {
  &__reveal-secret {
    float: right;
    text-decoration: none;
  }

  &__secret-wrapper {
    position: relative;
    margin: $pad-medium 0 0 0;
  }

  &__error {
    color: $ui-error;
  }
}
