.policies-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__status_dropdown {
    width: 159px;

    .Select-menu-outer {
      width: 364px;
      max-height: 310px;

      .Select-menu {
        max-height: none;
      }
    }
    .Select-value {
      padding-left: $pad-medium;
      padding-right: $pad-medium;

      &::before {
        display: inline-block;
        position: absolute;
        padding: 5px 0 0 0; // centers spin
        content: url(../assets/images/icon-filter-v2-black-16x16@2x.png);
        transform: scale(0.5);
        width: 16px;
        height: 26px;
        left: 2px;
      }
    }
    .Select-value-label {
      padding-left: $pad-large;
    }
  }
}
