.search-pack-query {
  &__title {
    @include ellipsis(250px);
    font-size: $x-small;
    font-weight: $bold;
    letter-spacing: -0.5px;
    color: $core-fleet-black;
    margin: 0 0 10px;
  }

  .form-field--dropdown {
    margin-bottom: 20px;
  }

  .ace-fleet {
    margin-bottom: 20px;
  }

  &__description {
    margin: 0 0 $pad-xlarge;
    word-wrap: break-word;

    h2 {
      font-size: $x-small;
      font-weight: $bold;
      letter-spacing: -0.5px;
      color: $core-fleet-black;
      margin: 0 0 $pad-small;
    }

    p {
      margin: 0 0 10px;
      font-size: $x-small;
      font-weight: $regular;
      line-height: 1.71;
      color: $core-fleet-black;
    }
  }
}
