.new-query {
  &__select-targets {
    font-size: $base;
  }

  &__targets-count {
    font-size: $small;
    margin-left: $xsmall;
  }

  &__text-editor-wrapper {
    margin-top: $base;
  }

  &__title {
    color: $text-medium;
    display: inline-block;
    font-size: $large;
  }

  &__wrapper {
    background-color: $white;
    padding: $base;
  }
}
