.dashboard-info-card {
  padding: 32px;
  width: 100%;
  background-color: $core-white;
  border: 1px solid $ui-fleet-black-10;
  border-radius: 8px;
  box-sizing: border-box;

  &__section-title-cta {
    display: flex;
    justify-content: space-between;

    h2 {
      font-weight: $bold;
    }
  }

  &__section-title {
    display: flex;
    gap: $pad-xsmall;
    span {
      display: flex;
      align-items: center;
      background-color: $core-vibrant-blue;
      color: $core-white;
      font-size: $xx-small;
      font-weight: $bold;
      padding: 2px 4px;
      border-radius: 4px;
      position: relative;
    }
  }

  &__section-title-group {
    display: flex;
    gap: 0.75rem;
    align-items: baseline;
  }

  &__section-title-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__section-description {
    font-size: $x-small;

    p {
      margin: 8px 0 0 0;
    }
  }

  &__action-button {
    display: flex;
    align-items: center;
    font-size: $x-small;
    color: $core-vibrant-blue;
    font-weight: $bold;
    text-decoration: none !important;
    gap: $pad-small;

    &:focus-visible {
      outline: 1px solid $core-vibrant-blue;
    }
  }
  &__action-button-text {
    text-align: right;
  }
}
