.add-host-modal {
  &__manual-install-header {
    position: relative;
    z-index: 2;

    h2 {
      font-size: 18px;
      font-weight: $bold;
      line-height: 1.33;
      letter-spacing: -0.6px;
      color: #48c586;
      margin: 0;
    }

    h3 {
      font-size: 15px;
      font-weight: $regular;
      line-height: 1.6;
      letter-spacing: normal;
      color: rgba(32, 37, 50, 0.48);
      margin: 0;
    }

    .fleeticon {
      float: left;
      font-size: 44px;
      color: #48c586;
      margin-right: 15px;
    }
  }

  &__manual-install-content {
    h4 {
      font-size: $small;
      font-weight: $bold;
      margin: $pad-xlarge 0 0;

      .fleeticon {
        margin-left: 5px;
        font-size: 18px;
      }
    }

    p {
      font-size: $x-small;
      font-weight: $regular;
      line-height: 20px;
      letter-spacing: normal;
      color: $core-fleet-black;
      margin: 8px 0 0 44px;
    }

    a {
      font-size: $x-small;
      color: $core-vibrant-blue;
      font-weight: $bold;
      text-decoration: none;

      img {
        width: 12px;
        height: 12px;
        margin-left: 7px;
      }
    }
  }

  &__documentation-link {
    h4 {
      margin: 0;
    }
  }

  &__install-steps {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__step-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    border: 2px solid $core-vibrant-blue;
    color: $core-vibrant-blue;
    font-weight: $bold;
    text-align: center;
    margin-right: $pad-medium;
  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;
    margin: $pad-large 0 0;
  }

  &__download-cert {
    text-align: center;
    padding-top: 15px;

    span {
      display: block;
    }
  }

  &__reveal-secret {
    float: right;
    text-decoration: none;
  }

  &__secret-wrapper {
    position: relative;
    margin: $pad-medium 0 0 44px;
  }

  &__team-dropdown-wrapper {
    .form-field__label {
      font-weight: $bold;
    }
  }

  &__team-dropdown-wrapper {
    .form-field__label {
      font-weight: $bold;
    }
  }

  pre,
  code {
    background-color: $ui-off-white;
    color: $core-fleet-blue;
    border: 1px solid $ui-fleet-blue-15;
    border-radius: 4px;
    padding: 7px $pad-medium;
    margin: $pad-large 0 0 44px;
  }

  &__error {
    color: $ui-error;
  }
}
