.host-software-library-card {
  .table-container {
    .stackable-header {
      min-width: initial; // Fix card overflow on low widths
    }

    .children-wrapper {
      display: flex;
      gap: $pad-small;
      align-items: center;
    }
  }

  .table-container__search-input {
    width: 100%;
  }

  @media (min-width: ($break-md)) {
    min-width: 305px; // Custom to fit placeholder text
  }

  .table-container__search {
    width: 100%;
  }

  .table-container__data-table-block {
    .data-table-block {
      .data-table {
        &__wrapper {
          overflow-x: auto;
        }
      }
    }
  }

  &__item-actions {
    display: flex;
    flex-direction: row;
    gap: $pad-large;
    align-items: center;
  }

  &__item-action {
    min-width: 82px;
  }

  .host-sw-library-table {
    &__software-filter {
      min-width: 240px;
      width: 240px; // Override .form-field 100%
    }

    &__filters {
      display: flex;
      align-items: center;

      .children-wrapper {
        gap: $pad-small;
      }
    }

    .table-container__search-input .input-with-icon {
      min-width: 305px; // Fit placeholder text
    }

    .data-table-block {
      .data-table__table {
        thead {
          .name__header {
            display: table-cell;
            width: auto;
          }
          .status__header {
            display: table-cell;
            width: auto;
            min-width: 125px;
          }
          .Version__header {
            display: table-cell;
            width: auto;
          }
          .source__header {
            display: table-cell;
          }
          .Vulnerabilities__header {
            display: table-cell;
            max-width: px-to-rem(140);
          }
          // this is called `id` only due to typing concerns in the table config – it is for the
          // "Actions" column
          .Actions__header {
            width: px-to-rem(72);
          }
        }
        tbody {
          tr {
            .name__cell {
              display: table-cell;
              width: auto;
            }
            .status__cell {
              display: table-cell;
              width: auto;
            }
            .Version__cell {
              display: table-cell;
              width: auto;
            }
            .source__cell {
              display: table-cell;
            }
            .Vulnerabilities__cell {
              display: table-cell;
            }

            .Actions__cell {
              display: table-cell;
              display: flex;
            }

            // Very little real estate at 768px
            @media (max-width: ($break-sm - 1)) {
              .name__cell {
                .software-name {
                  max-width: 190px;
                }
              }

              .Version__cell {
                .text-cell {
                  max-width: 95px;
                }
              }
            }
          }
        }
      }

      @media (max-width: ($break-sm - 1)) {
        .data-table__table {
          th,
          td {
            padding-left: $pad-medium;
            padding-right: $pad-medium;
          }
        }
      }
    }
  }
}
