.kolide-ace {
  &__label {
    font-size: $x-small;
    font-weight: $regular;
    color: $core-black;
    display: block;
    margin-bottom: 4px;
    min-height: 25px;

    &--error {
      color: $alert;
    }
  }

  &__wrapper {
    &--error {
      .ace-kolide {
        border: 1px solid $alert;
      }
    }
  }

  &__hint {
    font-size: $x-small;
    font-weight: $regular;
    color: $core-medium-blue-grey;

    code {
      color: $core-blue;
      background-color: $ui-light-grey;
      padding: 2px;
      font-family: "SourceCodePro", $monospace;
    }
  }
}
