.query-form {
  &__wrapper {
    position: relative;
    font-size: $x-small;

    .query-page__warning {
      margin: 0;
      margin-top: $pad-large;
    }

    .form-field--input {
      margin: 0;
    }
  }

  &__query-name,
  &__query-description {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    resize: none;
    height: 30px;
    white-space: nowrap;
    background-color: transparent;

    &.input-field {
      overflow-x: scroll;
    }
    &:hover:not(.focus-visible):not(.no-hover) {
      color: $core-vibrant-blue;
      cursor: pointer;
    }
    &.focus-visible {
      outline: 0;
      cursor: text;
    }
  }

  &__query-name {
    margin-top: $pad-large;
    font-size: $large;

    &.input-field--error {
      border: 1px solid $core-vibrant-red;
    }
  }

  &__query-description {
    margin-top: 0;
    font-size: $x-small;
  }

  &__toggle-sql {
    margin-top: $pad-large;
  }

  &__text-editor-wrapper {
    margin: 0;
    margin-top: $pad-large;
  }

  &__query-observer-can-run-wrapper {
    margin: 0;
    margin-top: $pad-large;
    font-weight: $bold !important; // override checkbox default

    & + p {
      margin: 0;
      margin-top: $pad-small;
    }
  }

  &__button-wrap {
    margin: 0;
    margin-top: $pad-large;

    &--new-query {
      display: flex;
      align-items: center;
    }
    &--modal {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    button:not(:first-of-type) {
      margin-left: $pad-medium;
    }
  }

  &__button-wrap--save-query-button:first-child {
    margin-right: $pad-medium;
  }

  &__button-wrap--save-query-button:not(:first-child) {
    margin-left: $pad-medium;
  }

  &__save-query-btn,
  &__cancel-btn {
    margin-right: $pad-xsmall;
  }

  &__title {
    color: $core-fleet-black;
    display: inline-block;
    font-size: $large;
  }

  &__platform-compatibility {
    display: flex;
    align-items: center;
    padding-top: $pad-medium;

    b,
    img,
    span {
      display: inline-flex;
      align-items: center;
    }

    b,
    span {
      padding-right: $pad-small;
      margin-right: $pad-xsmall;
    }

    img {
      height: 16px;
      width: auto;
      padding-left: $pad-xsmall;
    }
  }
}
