.site-nav-header {
  position: relative;
  padding: 14px 20px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    @include size(24px);
    border-radius: 20%;
  }

  &__username {
    @include ellipsis(110px);
    margin: 0;
    padding: 0;
    color: $white;
    font-size: $small;
    font-weight: $bold;
    position: relative;

    @include breakpoint(smalldesk) {
      display: none;
    }
  }
}
