.hosts-summary {
  align-self: center;
  width: 100%;
  max-width: 900px;

  &__tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__tile {
    background-color: $ui-off-white;
    height: 180px;
    flex-grow: 1;
    margin-right: 16px;
    border: solid 1px $ui-fleet-blue-15;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__tile-icon {
    margin: -15px;
  }

  &__tile-count {
    font-size: $large;
  }

  #mac-icon,
  #windows-icon,
  #linux-icon {
    transform: scale(0.5);
  }
}
