.packs-list {
  border-collapse: collapse;
  overflow: scroll;

  &__wrapper {
    border: 1px solid $ui-fleet-blue-15;
    border-radius: $border-radius;
    overflow: hidden;
    margin-top: $pad-medium;
  }

  thead {
    background-color: $ui-off-white;
    border-bottom: 1px solid $ui-fleet-blue-15;
  }

  &__th {
    font-size: $x-small;
    padding: 14px;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      padding-right: 25px;
      text-align: right;
    }
  }

  &__th-pack-name {
    padding-left: 0;
    text-align: left;
  }

  &__select-all {
    margin-bottom: 0;
  }

  &__empty-table {
    text-align: center;
    font-size: $x-small;
    color: $core-fleet-black;
  }
}
