.categories-end-user-experience-preview-modal {
  .modal__content {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
  }

  .modal-cta-wrap {
    margin-top: 0; // Defer to new gap styling
  }

  &__preview-card {
    max-height: 290px;
    overflow: hidden;
    padding: $pad-xlarge 0 0;

    .card-header__header {
      font-size: initial;
    }

    &__self-service {
      width: 515px;
      height: 310px;
      @include vertical-card-layout;
    }

    .categories-menu {
      top: 0;
      width: 200px;
    }

    .data-table__table {
      width: 325px;
    }
  }
  &__table {
    display: flex;
    flex-direction: row;
  }

  &__disabled-overlay {
    position: absolute;
    width: 540px;
    height: 335px;
    z-index: 1000;
  }

  &__preview-img-container--mobile {
    img {
      width: 100%;
    }
  }

  &__self-service-preview--mobile {
    position: relative;
    top: -94px;
    left: 175px;
    display: flex;
    gap: $pad-small;
    font-size: 12px;
    align-items: center;
    max-width: 210px;

    .software-icon__xsmall {
      border-radius: $border-radius-small;
    }
  }

  &__self-service-preview-name-version--mobile {
    display: flex;
    flex-direction: column;
    font-size: 8px;
  }

  // Required for tooltip truncating long software names
  &__self-service-preview-name--mobile {
    max-width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    font-weight: $bold;
  }
}

// Pop up preview immediately.
.modal__background:has(.categories-end-user-experience-preview-modal) {
  transition: none;
  animation: none;
}
