.certificate-details-modal {
  &__content {
    @include vertical-card-layout;
  }

  h3 {
    margin: 0;
    font-size: $small;
  }

  &__section {
    display: flex;
    gap: $pad-small;
    flex-direction: column;
    padding-top: $gap-modal-component;
    border-top: 1px solid $ui-fleet-black-10;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }
}
