.end-user-migration-section {
  font-size: $x-small;

  &__abm-connect-message {
    margin-top: 0;
  }

  &__migration-preview {
    width: 100%;
    max-width: 800px;
    margin-top: $pad-large;
    margin-bottom: $pad-xxlarge;
  }

  &__end-user-migration-form.disabled {
    @include disabled;
  }
}
