#contact {

  label {
    font-weight: 700;
    font-size: 18px;
  }

  .btn-primary {
    background-color: #ff5c83;
    border-color: #ff5c83;
    &:hover {
      background-color: darken(#ff5c83, 10%);
      border-color: darken(#ff5c83, 10%);
    }
  }

  .selectbox {
    position: relative;
  }
  .selectbox::after {
    content: url('/images/chevron-12x8@2x.png');
    right: 16px;
    transform: scale(0.5);
    top: 16px;
    position: absolute;
    pointer-events: none;
  }
  .selectbox select {
    appearance: none;
  }

  @media (max-width: 575px) {
    h2, p, .btn-container {
      text-align: center;
    }

    button {
      display: inline;
      width: 100%;
      max-width: 325px;
    }
  }
}
