#device-management-page {
  @heading-lineheight: 120%;
  @text-lineheight: 150%;
  background: linear-gradient(180deg, #E8F1F6 0%, #FFF 2.51%);

  h1 {
    .title-xl();
    margin-bottom: 0px;
  }
  h2 {
    .title-l();
    margin-bottom: 0px;
  }
  h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: @heading-lineheight;
  }
  h4 {
    .kicker-title();
    margin-bottom: 0px;
  }
  p {
    font-size: 16px;
    line-height: @text-lineheight;
    color: @core-fleet-black-75;
    margin-bottom: 0px;
  }
  strong {
    color: @core-fleet-black;
  }
  [purpose='page-container'] {
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 64px;
    padding-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  [purpose='page-content'] {
    max-width: 1072px;
    display: flex;
    flex-direction: column;
    gap: 160px;
    margin-left: auto;
    margin-right: auto;
  }
  [purpose='hero'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  [purpose='hero-content'] {
    max-width: 775px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  [purpose='page-headline'] {
    h1 {
      margin-bottom: 0px;
    }
  }
  [purpose='hero-image'] {
    max-width: 100%;
    img {
      width: 100%;
    }
  }
  [purpose='page-section'] {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  [purpose='large-page-section'] {
    display: flex;
    flex-direction: column;
    gap: 128px;
  }
  [purpose='section-headline'] {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 527px;
  }

  [purpose='section-buttons'] {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    white-space: nowrap;
  }

  [purpose='section-button'] {
    .cta-button();
    width: fit-content;
    display: flex;
    height: 36px;
    min-width: 140px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #FFF;
    text-align: center;


    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
  }

  [purpose='quote-and-logos'] {
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 64px 0px;
  }
  [purpose='section-quote'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: center;
    max-width: 50%;
    [purpose='quote-content'] {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;
    }
    [purpose='quote-text'] {
      color: #515774;
      text-align: left;
      font-family: Inter;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: 150%;
    }
    [purpose='quote-attribution'] {
      color: #515774;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    [purpose='quote-author-info'] {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      align-self: center;
    }
    [purpose='quote-author-image'] {
      img {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    [purpose='name-and-title'] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    [purpose='author-name'] {
      color: #192147;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
    [purpose='author-title'] {
      color: #515774;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }

  [purpose='logo-grid'] {
    display: flex;
    flex-direction: column;
    width: 50%;
    [purpose='logo-row'] {
      display: flex;
      flex-direction: row;
      width: 100%;
      &:first-of-type {
        border-bottom: 1px solid #E2E4EA;
      }
      [purpose='logo'] {
        &:nth-of-type(2) {
          border-right: 1px solid #E2E4EA;
          border-left: 1px solid #E2E4EA;
        }
        height: 76px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33.33%;
        img {
          height: 20px;
          width: auto;
        }
        &.fastly {
          padding: 24.5px 49.119px 23.5px 49.119px;
          img {
            height: 28px;
          }
        }
        &.easygo {
          padding: 0 33px 0 35px;
          img {
            height: 20px;
          }
        }
        &.conductor-one {
          padding: 0 25px;
          img {
            height: 15px;
          }
        }
        &.grafana {
          padding: 26px 17px 27px 16px;
          img {
            height: 23px;
          }
        }
        &.mozilla {
          padding: 25px 31.451px 26px 32px;
          img {
            height: 25px;
          }
        }
        &.calendly {
          padding: 26px 34.551px 26px 34px;
          img {
            height: 25px;
          }
        }

      }

    }
  }
  [purpose='feature-row'] {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 64px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  [purpose='feature-item'] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 43%;
    h5 {
      color: #192147;


      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 0px;
    }
  p {
      color: #515774;


      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

  }
  [purpose='feature-title'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    h5 {
      margin-bottom: 0px;
    }
    [purpose='feature-icon'] {
      height: 20px;
    }
  }


  [purpose='testimonials'] {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  [purpose='testimonial-quote'] {
    max-width: 640px;
    a {
      text-decoration: none;
      color: unset;
      &:hover {
        text-decoration: none;
      }
    }
    [purpose='quote'] {
      p {
        color: @core-fleet-black-75;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: @text-lineheight;
        margin-bottom: 24px;
      }
    }
    [purpose='quote-logo'] {
      height: 24px;
      margin-bottom: 16px;
    }
    [purpose='quote-image'] {
      margin-right: 16px;
      img {
        width: 86px;
        height: 72px;
      }
    }
    [purpose='quote-attribution'] {
      display: inline-flex;
      padding: 4px 16px 4px 4px;
      border-radius: 28px;
      width: fit-content;
      margin-top: 8px;
      [purpose='name'] {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 0px;
      }
      [purpose='title'] {
        color: @core-fleet-black-75;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 0px;
      }
      &:hover {
        background-color: #F9FAFC;
      }
      &:active {
        background-color: #F2F2F5;
      }
    }
  }
  [parasails-component='logo-carousel'] {
    padding-top: 64px;
    padding-bottom: 16px;
    margin-bottom: 0px;
  }
  [purpose='swag-request-button'] {
    max-width: 380px;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #E2E4EA;
    background: #F9FAFC;
    &:hover {
      box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.03);
    }
    img {
      margin-right: 16px;
    }
    p {
      color: #515774;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      line-height: 21px;
    }
    span {
      color: #192147;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }
  }


  [purpose='feature-with-image'] {
    .feature-with-image();
    [purpose='feature-text'] {
      h2 {
        font-size: 28px;
        margin-bottom: 0px;
      }
      h3 {
        margin-bottom: 0px;
      }
      p {
        font-size: 16px;
        margin-bottom: 0px;
      }
      [purpose='checklist'] {
        .checklist();
        p {
          font-size: 16px;
          margin-bottom: 24px;
        }
      }
    }
  }

  [purpose='feature-headline'] {
    max-width: 510px;
    margin-bottom: 80px;
  }

  [purpose='three-column-features'] {
    .responsive-feature-row();
    [purpose='feature-title'] {
      margin-bottom: 16px;
    }
    [purpose='feature'] {
      margin-bottom: 0;
      h5 {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
  [purpose='button-row'] {
    a {
      font-weight: 700;
      font-size: 14px;
      line-height: @text-lineheight;
      white-space: nowrap;
    }
    [purpose='cta-button'] {
      .cta-button();
      margin-right: 24px;
      padding: 16px;
      height: 36px;
    }
  }

  [purpose='tweets-container'] {
    margin-top: 160px;
    max-width: 1072px;
    padding-left: 64px;
    padding-right: 64px;
    margin-left: auto;
    margin-right: auto;
  }
  [parasails-component='scrollable-tweets'] {
    [purpose='tweets'] {
      margin-top: 40px;
      margin-bottom: 0px;
      padding-bottom: 160px;
      padding-left: 64px;
    }
  }
  [purpose='bottom-cloud-city-banner'] {
    background: linear-gradient(180deg, #E9F4F4 0%, #FFFFFF 100%);
    img {
      width: 100%;
    }
  }

  [purpose='bottom-cta'] {
    max-width: 612px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    h2 {
      font-size: 48px;
      margin-bottom: 0px;
    }
    h4 {
      font-size: 16px;
    }
    [purpose='button-row'] {
      margin-top: 40px;
      [purpose='contact-button'] {
        padding: 16px 32px;
        text-decoration: none;
      }
    }
  }



  @media (max-width: 991px) {
    [purpose='page-container'] {
      padding: 48px;
    }
    [purpose='tweets-container'] {
      padding-left: 48px;
      padding-right: 48px;
    }
    [parasails-component='scrollable-tweets'] {
      [purpose='tweets'] {
        padding-left: 32px;
      }
    }
    [purpose='testimonial-videos'] {
      width: 410px;
    }
    [purpose='quote-and-logos'] {
      padding: 0;
    }
    [purpose='hero-text'] {
      max-width: 642px;
    }
    [purpose='page-content'] {
      gap: 120px;
    }
    [purpose='tweets-container'] {
      margin-top: 120px;
    }
    [parasails-component='scrollable-tweets'] {
      [purpose='tweets'] {
        padding-bottom: 120px;
      }
    }
    [purpose='large-page-section'] {
      display: flex;
      flex-direction: column;
      gap: 80px;
    }
    [purpose='quote-and-logos'] {
      display: flex;
      flex-direction: row;
      gap: 48px;
    }
    [purpose='logo-grid'] {
      display: flex;
      flex-direction: column;
      min-width: 50%;
      [purpose='logo-row'] {
        display: flex;
        flex-direction: row;
        width: 100%;
        &:first-of-type {
          border-bottom: 1px solid #E2E4EA;
        }
        [purpose='logo'] {
          &:nth-of-type(2) {
            border-right: 1px solid #E2E4EA;
            border-left: 1px solid #E2E4EA;
          }
          height: 76px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 33.33%;
          img {
            height: 20px;
            width: auto;
          }
          &.grafana {
            padding: 0 8.138px 0 7.804px;
            img {
              height: 18px;
            }
          }
          &.mozilla {
            padding: 0 24.239px 0 25.455px;
            img {
              height: 20px;
            }
          }
          &.calendly {
            padding: 0 25.172px 0 25.287px;
            img {
              height: 20px;
            }
          }

        }

      }
    }
    [purpose='feature-row'] {
      gap: 48px;
    }

  }

  @media (max-width: 767px) {

    [purpose='page-headline'] {
      width: 100%;
      h2 {
        font-size: 42px;
      }
    }
    [purpose='page-container'] {
      padding: 32px;
    }
    [purpose='page-content'] {
      gap: 80px;
    }
    [purpose='tweets-container'] {
      margin-top: 80px;
    }
    [parasails-component='scrollable-tweets'] {
      [purpose='tweets'] {
        padding-bottom: 80px;
      }
    }
    [purpose='page-section'] {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }
    [purpose='quote-and-logos'] {
      display: flex;
      flex-direction: column;
      gap: 48px;
      [purpose='section-quote'] {
        max-width: unset;
        width: 100%;
        flex-direction: column;
        align-items: center;
        [purpose='quote-text'] {
          text-align: center;
        }
        [purpose='name-and-title'] {
          align-items: center;
        }
        [purpose='quote-author-info'] {
          justify-content: center;
        }
      }
      [purpose='logo-grid'] {
        display: flex;
        flex-direction: column;
        width: 100%;
        [purpose='logo-row'] {
          display: flex;
          flex-direction: row;
          width: 100%;
          &:first-of-type {
            border-bottom: 1px solid #E2E4EA;
          }
          [purpose='logo'] {
            &:nth-of-type(2) {
              border-right: 1px solid #E2E4EA;
              border-left: 1px solid #E2E4EA;
            }
            height: 76px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33.33%;
            img {
              height: 20px;
              width: auto;
            }
            &.fastly {
              padding: 26px 36.723px 26px 37px;
              img {
                height: 28px;
              }
            }
            &.grafana {
              padding: 26px 17px 27px 16px;
              img {
                height: 23px;
              }
            }
            &.mozilla {
              padding: 25px 31.451px 26px 32px;
              img {
                height: 25px;
              }
            }
            &.calendly {
              padding: 26px 34.551px 26px 34px;
              img {
                height: 25px;
              }
            }

          }

        }
      }
    }
    [purpose='feature-with-image'] {
      [purpose='feature-text'] {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @media (max-width: 575px) {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
    }
    [purpose='feature-with-image'] {
      [purpose='feature-text'] {
        width: 100%;
        h2 {
          font-size: 24px;
        }
      }
    }
    [purpose='section-buttons'] {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
    }
    [purpose='hero-image'] {
       img {
         max-width: 100%;
       }
    }
    [purpose='button-row'] {
      flex-direction: column;
      width: 100%;
      [purpose='cta-button'] {
        width: 100%;
        margin-bottom: 16px;
        margin-right: 0;
      }
    }
    [purpose='feature-item'] {
      flex: 1 0 100%;
    }
    [purpose='page-container'] {
      padding: 32px 24px;
    }
    [parasails-component='scrollable-tweets'] {
      [purpose='tweets'] {
        padding-left: 24px;
      }
    }
    [purpose='large-page-section'] {
      gap: 64px;
    }
    [purpose='quote-and-logos'] {
      [purpose='logo-grid'] {
        width: 100%;
        [purpose='logo-row'] {
          display: flex;
          flex-direction: row;
          width: 100%;
          border-bottom: 1px solid #E2E4EA;
          &:last-of-type {
            border-bottom: none;
          }
          [purpose='logo'] {
            &:nth-of-type(2) {
              border-right: none;
              border-left: 1px solid #E2E4EA;
            }
            height: 76px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            img {
              height: 20px;
              width: auto;
            }
            &.conductor-one {
              padding: unset;
              img {
                height: 15px;
              }
            }
            &.easygo {
              padding: unset;
            }
            &.fastly {
              padding: unset;
              img {
                height: 28px;
              }
            }
            &.grafana {
              padding: unset;
              img {
                height: 22px;
              }
            }
            &.mozilla {
              padding: unset;
              img {
                height: 25px;
              }
            }
            &.calendly {
              padding: unset;
              img {
                height: 25px;
              }
            }

          }

        }
      }
    }
    [purpose='testimonial-quote'] {
      [purpose='quote'] {
        p {
          font-size: 16px;
        }
      }
    }
    [purpose='three-column-features'] {
      [purpose='feature'] {
        text-align: left;
        img {
          margin-left: unset;
          margin-right: unset;
        }
      }
    }
  }

  @media (max-width: 390px) {

    [purpose='page-headline'] {
      br {
        display: none;
      }
    }


  }
}
