#docs-template {

  h3 {
    font-size: 28px;
    line-height: 36px;
  }

  h6 {
    font-family: 'Nunito';
  }

  a {
    color: @core-vibrant-blue;
  }

  ul {
    list-style: none;
    padding-left: 8px;
    li {
      padding-bottom: 8px;
    }
    .topic {
      &.active {
        color: @core-vibrant-blue;
      }
    }
  }

  input {
    padding-top: 6px;
    padding-bottom: 6px;
    &::placeholder {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .input-group-text {
    color: #8b8fa2;
    border-color: #c5c7d1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .form-control {
    height: 40px;
    font-size: 16px;
    border-color: #c5c7d1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    &:focus {
      border: 1px solid #c5c7d1;
    }
  }

  .subtopic {
    color: @core-vibrant-blue;
  }

  .left-sidebar {
    border-right: 1px solid @core-fleet-black-25;
    a {
      color: @core-fleet-black;
      text-decoration: none;
      &.btn-primary {
        color: #fff;
      }
    }
    .left-nav {
      border-bottom: 1px solid @core-fleet-black-25;
    }
  }

  .btn-primary {
    color: #fff;
    background-color: #ff5c83;
    border-color: #ff5c83;
    &:hover {
      background-color: darken(#ff5c83, 10%);
      border-color: darken(#ff5c83, 10%);
    }
  }

  .content {
    ul {
      list-style-type: disc;
      padding-left: 32px;
    }

    .note {
      background-color: @core-vibrant-blue-10;
      border-radius: 12px;
      text-decoration: none;
    }
  }

  .docs-nav-button {
    color: @core-fleet-black;
    background-color: transparent;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid @core-vibrant-blue-15;
    border-radius: 0px;
    &:focus {
        box-shadow: none;
    }
  }

  .mobile-docs-nav {
    a {
      color: @core-fleet-black;
      text-decoration: none;
    }
  }

  @media (min-width: 993px) {
    ul {
      .topic {
        padding-left: 8px;
      }
    }
    .subtopic {
      color: @core-fleet-black;
      padding-top: 4px;
      padding-bottom: 4px;
      border-left: 1px solid @core-vibrant-blue-25;
      .active {
        position: absolute;
        height: 32px;
        transform: translate(-2px, -4px);
        border-left: 3px solid @core-vibrant-blue;
        border-radius: 2px;
      }
    }
    .input-group {
      min-width: 400px;
    }
  }


}
