#documentation {

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  a {
    color: @core-vibrant-blue;
  }

  input {
    padding-top: 6px;
    padding-bottom: 6px;
    &::placeholder {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .input-group-text {
    color: @core-fleet-black-50;
    border-color: @core-fleet-black-25;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .form-control {
    height: 48px;
    font-size: 16px;
    border-color: @core-fleet-black-25;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    &:focus {
      border: 1px solid @core-fleet-black-25;
    }
  }

  .cta-card {
    cursor: pointer;
    border: 1px solid @ui-gray;
    border-radius: 8px;
    box-shadow: 1px 2px 2px rgba(197, 199, 209, 0.2);
    .cta-image {
      max-height: 60px;
      width: auto;
    }
    .cta-text {
      a {
        color: @core-fleet-black;
        text-decoration: none;
      }
      img {
        padding-left: 8px;
        transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
      }
      &:hover {
        .arrow {
          img {
            padding-left: 11px;
            transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            -ms-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -webkit-transition: 0.2s ease-in-out;
          }
        }
      }

    }
  }

  .tree {
    a {
      color: @core-fleet-black;
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    .cta-card {
      max-width: 437px;
      min-height: 160px;
      .cta-image {
        max-height: 72px;
      }
    }
  }




}
