#endpoint-governance {
  @text-lineheight: 150%;
  @heading-lineheight: 120%;
  background: linear-gradient(180deg, #E8F1F6 0%, #FFF 2.51%);
  h1 {
    .page-heading();
    margin-bottom: 0px;
  }

  h2 {
    .section-heading();
    margin-bottom: 0px;
  }

  h4 {
    .kicker-title();
    margin-bottom: 0px;
  }

  p {
    .body-l();
    margin-bottom: 0px;
  }

  [purpose='page-container'] {
    .page-container();
  }
  [purpose='page-content'] {
    .page-content();
    display: flex;
    flex-direction: column;
    gap: 160px;
  }
  [purpose='page-hero'] {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  [purpose='hero-text'] {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: @section-gap;
    max-width: 768px;
    align-items: center;
    text-align: center;
  }
  [purpose='button-row'] {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-size: 14px;
  }
  [purpose='cta-button'] {
    .cta-button();
    padding: 8px 16px;
    min-width: 140px;
  }
  [purpose='hero-image'] {
    img {
      width: 100%;
    }
  }
  [purpose='hero-icons'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    [purpose='icon-row'] {
      display: flex;
      max-width: 632px;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 32px;
      flex-wrap: wrap;
      img {
        height: 28px;
      }
    }
  }

  [purpose='page-section'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
  }
  [purpose='feature-with-image'] {
    .feature-with-image();
    gap: 64px;
    [purpose='feature-text'] {
      width: 50%;
    }
    [purpose='feature-image'] {
      img {
        flex: 1 0 0;
        aspect-ratio: 4 / 3;
      }
    }
  }

  [purpose='three-column-features'] {
    .responsive-feature-row();
    justify-content: flex-start;
    [purpose='feature-title'] {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      margin-bottom: 16px;
      h5 {
        margin-bottom: 0px;
      }
      [purpose='feature-icon'] {
        height: 20px;
      }
    }
    [purpose='feature'] {
      margin-bottom: 0;
      h5 {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
  [purpose='three-column-list'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
    &.sm-gap {
      gap: 24px;
      [purpose='feature'] {
        flex: 0 1 ~'calc((100% - 2 * 24px) / 3)';
      }
    }
    max-width: @content-max-width;
    margin-left: auto;
    margin-right: auto;
    [purpose='feature'] {
      flex: 0 1 ~'calc((100% - 2 * 64px) / 3)';
      min-width: 0;
      margin-bottom: 0;
      h5 {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }
    [purpose='feature-title'] {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      margin-bottom: 16px;
      h5 {
        margin-bottom: 0px;
      }
    }
  }



  [purpose='quote-and-logos'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    padding: 64px 0px;
  }
  [purpose='section-quote'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: center;
    max-width: 50%;
    [purpose='quote-content'] {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;
    }
    [purpose='quote-text'] {
      color: #515774;
      text-align: left;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: @text-lineheight;
    }
    [purpose='quote-attribution'] {
      color: #515774;
      font-size: 12px;
      font-weight: 400;
      line-height: @text-lineheight;
    }
    [purpose='quote-author-info'] {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      align-self: center;
    }
    [purpose='quote-author-image'] {
      img {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    [purpose='name-and-title'] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    [purpose='author-name'] {
      color: #192147;
      font-size: 12px;
      font-weight: 700;
      line-height: @text-lineheight;
    }
    [purpose='author-title'] {
      color: #515774;
      font-size: 12px;
      font-weight: 400;
      line-height: @text-lineheight;
    }
  }

  [purpose='logo-grid'] {
    display: flex;
    flex-direction: column;
    width: 50%;
    [purpose='logo-row'] {
      display: flex;
      flex-direction: row;
      width: 100%;
      &:first-of-type {
        border-bottom: 1px solid #E2E4EA;
      }
      [purpose='logo'] {
        &:nth-of-type(2) {
          border-right: 1px solid #E2E4EA;
          border-left: 1px solid #E2E4EA;
        }
        height: 76px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33.33%;
        img {
          height: 20px;
          width: auto;
        }
        &.knowbe4 {
          padding: 0 30.42px 0 29.493px;
          img {
            height: 20.601px;
          }
        }
        &.northwestern {
          padding: 0 25px;
          img {
            height: 15px;
          }
        }
        &.uber {
          padding: 26.5px 50.839px 26.791px 51.745px;
          img {
            height: 22.709px;
          }
        }
        &.stripe {
          padding: 19.5px 38.862px 18.984px 39px;
          img {
            height: 37.516px;
          }
        }
        &.epic {
          padding: 26px 34.551px 26px 34px;
          img {
            height: 46.42px;
          }
        }
        &.rivian {
          padding: 0 33px;
          img {
            height: 20.4px;
          }
        }

      }

    }
  }

  [purpose='banner'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 24px;
    background: linear-gradient(0deg, #162631 0%, #162631 100%), #FFF;
    [purpose='banner-image'] {
      width: 50%;
      max-width: 525px;
      background: url('/images/psystage-4-banner-536x605@2x.png');
      background-size: cover;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      background-position: center;
    }
    [purpose='banner-text'] {
      display: flex;
      padding: 64px 48px;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      flex: 1 0 0;
      width: 50%;
      p {
        color: #F9FAFC;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        strong {
          color: #F9FAFC;
        }
      }
      h2 {
        color: #FFF;
        font-size: 32px;
        font-weight: 800;
        line-height: 38.4px;
      }
      h5 {
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
      [purpose='banner-item'] {
        display: flex;
        padding: 16px 0 24px 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        &:not(:last-of-type) {
          border-bottom: 1px solid #515774;

        }

      }
    }
  }
  [purpose='section-heading'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    [purpose='kicker-text'] {
      img {
        height: 28px;
      }
    }
  }
  [purpose='quote-section'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    [purpose='quote-image'] {
      img {
        width: 200px;
      }
    }
    [purpose='quote-author-info'] {
      width: 100%;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap: 4px;
      align-self: center;
    }
    [purpose='quote-text'] {
      color: #515774;
      text-align: center;
      font-size: 22px;
      font-style: italic;
      font-weight: 400;
      line-height: @text-lineheight;
    }
    [purpose='name-and-title'] {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }
    [purpose='quote-author-image'] {
      img {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    [purpose='author-name'] {
      color: #192147;
      font-size: 14px;
      font-weight: 700;
      line-height: @text-lineheight;
    }
    [purpose='author-title'] {
      color: #515774;
      font-size: 14px;
      font-weight: 400;
      line-height: @text-lineheight;
      text-align: center;
    }
  }

  [parasails-component='scrollable-tweets'] {
    // Break out of the constrained parent to span the full viewport width.
    margin-left: calc(~'50% - 50vw');
    margin-right: calc(~'50% - 50vw');

    [purpose='tweets'] {
      margin-top: 40px;
      margin-bottom: 0px;
    }
  }
  [purpose='checklist'] {
    .checklist();
  }
  [purpose='bottom-cta'] {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: center;
    [purpose='button-row'] {
      padding-top: 16px;
    }
  }




  @media (max-width: 991px) {

    [purpose='page-container'] {
      padding: 48px;
    }
    [purpose='page-content'] {
      gap: 120px;
    }
    [purpose='page-hero'] {
      gap: 48px;
    }
    [purpose='hero-icons'] {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      [purpose='icon-row'] {
        display: flex;
        max-width: 522px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 24px;
        flex-wrap: wrap;
        img {
          height: 24px;
        }
      }
    }
    [purpose='section-heading'] {
      br {
        display: none;
      }
    }
    [purpose='quote-and-logos'] {
      display: flex;
      flex-direction: row;
      gap: 48px;
      padding: 0;
    }
    [purpose='feature-with-image'] {
      gap: 48px;
    }
    [purpose='logo-grid'] {
      display: flex;
      flex-direction: column;
      min-width: 50%;
      [purpose='logo-row'] {
        display: flex;
        flex-direction: row;
        width: 100%;
        &:first-of-type {
          border-bottom: 1px solid #E2E4EA;
        }
        [purpose='logo'] {
          &:nth-of-type(2) {
            border-right: 1px solid #E2E4EA;
            border-left: 1px solid #E2E4EA;
          }
          height: 76px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 33.33%;
          &.knowbe4 {
            padding: 0 19.577px 0 19.317px;
            img {
              height: 18px;
            }
          }
          &.northwestern {
            padding: 0 11.376px 0 12.042px;
            img {
              height: 12px;
            }
          }
          &.uber {
            padding: 0 37.487px 0 38.235px;
            img {
              height: 20px;
            }
          }
          &.stripe {
            padding: 22.258px 27.821px 21.742px 28.626px;
            img {
              height: 32px;
            }
          }
          &.epic {
            padding: 17.5px 0 18.5px 0;
            img {
              height: 46.42px;
            }
          }
          &.rivian {
            padding: 0 22px 0 21.333px;
            img {
              height: 18px;
            }
          }

        }

      }
    }

    [purpose='three-column-list'] {
      gap: 48px;
      [purpose='feature'] {
        flex-basis: ~'calc((100% - 2 * 48px) / 3)';
      }
    }
    [purpose='banner'] {
      [purpose='banner-text'] {
        padding: 48px 32px;
      }
    }
  }

  @media (max-width: 767px) {

    [purpose='page-headline'] {
      width: 100%;
      h2 {
        font-size: 42px;
      }
    }
    [purpose='page-container'] {
      padding: 32px;
    }
    [purpose='page-content'] {
      gap: 80px;
    }

    [purpose='quote-and-logos'] {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 48px;
      [purpose='section-quote'] {
        max-width: unset;
        width: 100%;
        flex-direction: column;
        align-items: center;
        [purpose='quote-text'] {
          text-align: center;
        }
        [purpose='name-and-title'] {
          align-items: center;
        }
        [purpose='quote-author-info'] {
          justify-content: center;
        }
      }
      [purpose='logo-grid'] {
        display: flex;
        flex-direction: column;
        width: 100%;
        [purpose='logo-row'] {
          display: flex;
          flex-direction: row;
          width: 100%;
          &:first-of-type {
            border-bottom: 1px solid #E2E4EA;
          }
          [purpose='logo'] {
            &:nth-of-type(2) {
              border-right: 1px solid #E2E4EA;
              border-left: 1px solid #E2E4EA;
            }
            height: 76px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33.33%;
            img {
              height: 20px;
              width: auto;
            }
            &.knowbe4 {
              padding: 0 30.42px 0 29.493px;
              img {
                height: 20.601px;
              }
            }
            &.northwestern {
              padding: 0 25px;
              img {
                height: 15px;
              }
            }
            &.uber {
              padding: 26.5px 50.839px 26.791px 51.745px;
              img {
                height: 22.709px;
              }
            }
            &.stripe {
              padding: 19.5px 38.862px 18.984px 39px;
              img {
                height: 37.516px;
              }
            }
            &.epic {
              padding: 26px 34.551px 26px 34px;
              img {
                height: 46.42px;
              }
            }
            &.rivian {
              padding: 0 33px;
              img {
                height: 20.4px;
              }
            }

          }
        }
      }
    }
    [purpose='banner'] {
      flex-direction: column;
      [purpose='banner-image'] {
        width: 100%;
        max-width: unset;
        height: 573px;
        border-top-right-radius: unset;
        border-bottom-left-radius: 16px;
      }
      [purpose='banner-text'] {
        width: 100%;
      }
    }

    [purpose='feature-with-image'] {
      [purpose='feature-text'] {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

  }

  @media (max-width: 575px) {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
    }
    [purpose='hero-icons'] {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      [purpose='icon-row'] {
        display: flex;
        max-width: 327px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 24px;
        flex-wrap: wrap;
        img {
          height: 24px;
        }
      }
    }
    [purpose='feature-with-image'] {
      [purpose='feature-text'] {
        width: 100%;
      }
    }

    [purpose='feature-item'] {
      flex: 1 0 100%;
    }
    [purpose='page-container'] {
      padding: 32px 24px;
    }
    [parasails-component='scrollable-tweets'] {
      [purpose='tweets'] {
        padding-left: 24px;
      }
    }
    [purpose='quote-and-logos'] {
      [purpose='logo-grid'] {
        width: 100%;
        [purpose='logo-row'] {
          display: flex;
          flex-direction: row;
          width: 100%;
          border-bottom: 1px solid #E2E4EA;
          &:last-of-type {
            border-bottom: none;
          }
          [purpose='logo'] {
            &:nth-of-type(2) {
              border-right: none;
              border-left: 1px solid #E2E4EA;
            }
            height: 76px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            img {
              height: 20px;
              width: auto;
            }
            &.knowbe4 {
              padding: 0 19.577px 0 19.317px;
              img {
                height: 18px;
              }
            }
            &.northwestern {
              padding: 0 11.376px 0 12.042px;
              img {
                height: 14px;
              }
            }
            &.uber {
              padding: 0 37.487px 0 38.235px;
              img {
                height: 20px;
              }
            }
            &.stripe {
              padding: 22.258px 27.821px 21.742px 28.626px;
              img {
                height: 28px;
              }
            }
            &.epic {
              padding: 17.5px 0 18.5px 0;
              img {
                height: 46.42px;
              }
            }
            &.rivian {
              padding: 0 22px 0 21.333px;
              img {
                height: 18px;
              }
            }

          }

        }
      }
    }
    [purpose='three-column-list'] {
      gap: 40px;
      &.sm-gap {
        [purpose='feature'] {
          flex-basis: 100%;
        }
      }
      [purpose='feature'] {
        flex-basis: 100%;
      }
    }
    [purpose='three-column-features'] {
      [purpose='feature'] {
        text-align: left;
        img {
          margin-left: unset;
          margin-right: unset;
        }
      }
    }
  }

  @media(max-width: 375px) {
    [purpose='button-row'] {
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 100%;
      [purpose='cta-button'] {
        width: 100%;
        margin-right: 0;
      }
    }
  }

}

