#fleetctl-preview {
  @heading-lineheight: 120%;
  @text-lineheight: 150%;

  h1 {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: @heading-lineheight;
    font-weight: 800;
  }
  h2 {
    padding-top: 24px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 24px;
    line-height: @heading-lineheight;
  }
  code {
    background-color: @ui-off-white;
    border: 1px solid @border-lt-gray;
    color: @core-fleet-black-75;
    font-size: 14px;
    padding: 4px;
    line-height: @text-lineheight;
    font-family: @code-font;
    display: inline-block;
    border-radius: 3px;
  }
  a {
    color: @core-vibrant-blue;
    line-height: @text-lineheight;
  }
  p {
    font-size: 16px;
    line-height: @text-lineheight;
  }

  [purpose='page-title'] {
    margin-bottom: 40px;
  }

  [purpose='installation-steps'] {
    margin-bottom: 40px;
  }

  [purpose='prerequisites'] {
    margin-bottom: 40px;
    p {
      margin-bottom: 24px;
    }
  }
  [purpose='contact-link'] {
    color: @core-fleet-black-75;
    text-decoration: underline;
    text-underline-offset: 3.5px;
  }

  [purpose='platform-selector'] {
    margin-bottom: 60px;
    border-bottom: 1px solid @core-vibrant-blue-15;
    [purpose='selector-tab'] {
      cursor: pointer;
      padding: 12px;
      margin-right: 24px;
      p {
        margin-bottom: 0px;
      }
    }
    [purpose='selector-tab'].selected {
      border-bottom: 2px solid @core-vibrant-blue;
    }
  }


  [purpose='page-container'] {
    padding: 80px 64px 64px 64px;
    padding-bottom: 64px;
    max-width: 928px;
  }

  [purpose='numbered-steps'] {
    counter-reset: custom-counter;
  }
  [purpose='step'] {
    counter-increment: custom-counter;
    margin-left: 36px;
    margin-bottom: 40px;
    margin-top: -26px;
    &::before {
      position: relative;
      top: 26px;
      left: -36px;
      content: counter(custom-counter);
      background-color: #E2E4EA;
      width: 24px;
      font-size: 13px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      padding: 2px 4px;
      text-align: center;
      line-height: 20px;
      text-indent: 0px;
    }
  }
  [purpose='terminal-commands'] {
    padding: 16px 60px 16px 24px;
    border: 1px solid @core-fleet-black-25;
    border-radius: 4px;
    margin: 16px 0px 0px;
    background: @ui-off-white;
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
    [purpose='command-container'] {
      overflow-x: scroll;
      scrollbar-width: none;
      position: relative;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    code {
      white-space: nowrap;
      color: @core-fleet-black-75;
      font-family: @code-font;
      font-weight: 400;
      font-size: 14px;
      line-height: @text-lineheight;
      margin-bottom: 0px;
      padding: 0px;
      border: none;
    }

    [purpose='install-copy-button'], [purpose='command-copy-button'] {
      display: inline-block;
      background: url('/images/icon-copy-16x16@2x.png');
      font-size: 32px;
      position: absolute;
      top: 14px;
      right: 14px;
      color: green;
      width: 32px;
      padding: 9px;
      height: 32px;
      background-size: 14px 14px;
      background-position: center;
      border-radius: 8px;
      background-repeat: no-repeat;
      cursor: pointer;
      &.copied {
        display: inline-block;
        background: url('/images/icon-copy-clicked-checkmark-32x32@2x.png');
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: center;
      }

    }
    &:hover {
      [purpose='install-copy-button'], [purpose='command-copy-button'] {
        background-color: #F2F2F5;
      }
    }
  }
  [purpose='tip'] {
    margin: 16px 0 32px;
    background: #F4F4FF;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    img {
      display: flex;
      margin: 4px 12px 0 0;
      height: 16px;
      width: 16px;
      padding: 0px;
    }
    p {
      display: block;
      margin-bottom: 16px;
      line-height: 24px;
      font-size: 16px;
    }
    p:last-child {
      margin-bottom: 0px;
    }
    ul {
      padding-left: 16px;
    }
    ul:last-child {
      margin-bottom: 0px;
    }
    li:last-child {
      padding-bottom: 0px;
    }
  }



  [purpose='docs-button'] {
    margin-right: 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    display: flex;
    height: 48px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
  }

  [purpose='view-script-link'] {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: @core-fleet-black-75;
    margin-bottom: 16px;
    img {
      margin-left: 4px;
      height: 13px;
      display: inline;
    }
  }
  [purpose='docker-button'] {
    padding: 12px 20px;
    width: 153px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    img {
      width: auto;
      height: 20px;
      margin-right: 8px;
    }
  }
  [purpose='node-button'] {
    padding: 12px 20px;
    width: 240px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    img {
      width: auto;
      height: 24px;
      margin-right: 8px;
    }
  }

  [parasails-component='parallax-city'] {
    background: linear-gradient(180deg, #FFF 0%, #E4F3F4 59.5%);
  }


  @media (max-width: 991px) {
    [purpose='page-container'] {
      padding: 80px 40px 64px 40px;
      max-width: 928px;
    }

  }
  @media (max-width: 768px) {
    [purpose='page-container'] {
      padding: 80px 32px 64px 32px;
      max-width: 928px;
    }

  }
  @media (max-width: 575px) {
    [purpose='page-container'] {
      padding: 64px 24px;
      max-width: 928px;
    }
    [purpose='platform-selector'] {
      margin-bottom: 60px;
      border-bottom: 1px solid @core-vibrant-blue-15;
      [purpose='selector-tab'] {
        cursor: pointer;
        padding: 12px;
        margin-right: auto;
      }
    }
    [purpose='docs-button'] {
      width: 100%;
      margin-bottom: 32px;
      margin-right: auto;
    }
    [purpose='view-script-link'] {
      margin-left: 4px;
    }

    [purpose='docker-button'] {
      width: 100%;
    }
    [purpose='node-button'] {
      width: 100%;
    }
    [purpose='get-started-buttons'] {
      a:first-of-type {
        margin-bottom: 16px;
      }
    }

  }
  @media (max-width: 375px) {
    [purpose='page-container'] {
      padding: 40px 16px 64px 16px;
      max-width: 928px;
    }
    [purpose='platform-selector'] {
      [purpose='selector-tab'] {
        cursor: pointer;
        padding: 6px;
        margin-right: auto;
      }
    }
  }





}

