#fleetctl-preview {

  a:not(.btn) {
    color: @core-vibrant-blue;
  }

  code {
    background-color: @ui-off-white;
    border: 1px solid @border-lt-gray;
    color: @core-fleet-black-75;
    font-size: 13px;
    padding: 4px 8px;
    line-height: 16px;
    font-family: @code-font;
    display: inline-block;
    border-radius: 6px;
  }

  [purpose='get-started-buttons'] {
    a {
      font-size: 16px;
      line-height: 25px;
      padding: 16px 24px;
    }
  }

  [purpose='terminal-commands'] {
    padding: 24px;
    border: 1px solid @core-fleet-black-25;
    border-radius: 4px;
    margin: 16px 0px 32px;
    background: @ui-off-white;
    p {
      color: @core-fleet-black;
      font-family: @code-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 0px;
    }
  }
}
