#get-started {
  h1,
  p {
    color: #192147;
  }
  .btn {
    font-family: @header-font;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 19px;
    font-size: 20px;
    line-height: 23px;
    border-radius: 10px;
    &.btn-white {
      color: #192147;
      background-color: #fff;
      border-color: #fff;
      &:hover {
        background-color: #e2e4ea;
        border-color: #e2e4ea;
      }
    }
  }
  .card-body {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid #e2e4ea;
    border-radius: 0.75rem;
  }
}
