#homepage {

  h1 {
    font-size: 42px;
    line-height: 48px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: @bold;
    margin-bottom: 24px;
  }

  h6 {
    font-family: Nunito Sans;
    font-size: 20px;
    line-height: 32px;
  }

  .btn {
    font-size: 18px;
  }

  [purpose='hero-banner'] {
    padding-top: 162px;
    width: 100%;
    height: 100%;
    background: linear-gradient(173.74deg, #1F1D42 4.94%, #00FFF0 87.78%);
    background-size: 100% 85%;
    background-repeat: no-repeat;
    color: #FFFFFF;
    p {
      font-size: 24px;
      line-height: 32px;
    }
  }

  [purpose='hero-clouds'] {
    background-image: url('/images/clouds-1600x320@2x.png');
    background-position: bottom 150px center;
    background-size: 1600px auto;
    background-repeat: repeat-x;
  }


  [purpose='top-try-it-out-btn'] {
    max-width: 220px;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  [purpose='animated-arrow-button-red'] {
    color: #192147;
    .btn-animated-arrow-red();
  }
  [purpose='animated-arrow-button-white'] {
    .btn-animated-arrow-white();
    padding-top: 16px;
    padding-bottom: 16px;
  }

  [purpose='log-destination-grid'] {
    max-width: 736px;
  }

  [purpose='log-destination'] {
    height: 80px;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #E2E4EA;
    border-radius: 12px;
    img {
      width: 48px;
      height: auto;
    }
  }

  [purpose='tweets'] {
    max-width: 1200px;
    padding-bottom: 50px;
    box-sizing: content-box;
    [purpose='tweet-card'] {
      text-align: left;
      background: #FFFFFF;
      padding: 40px;
      margin-bottom: 30px;
      border: 1px solid #E2E4EA;
      box-sizing: border-box;
      box-shadow: 0px 7px 3px 0px rgba(25, 33, 71, 0.1);
      border-radius: 16px;
    }
  }
  [purpose='features'] {
    padding-bottom: 120px;
    p {
      margin-bottom: 0px;
    }
    [purpose='features-text-left'] {
      max-width: 450px;
      padding-right: 80px;
    }
    [purpose='features-text-right'] {
      max-width: 450px;
      padding-left: 80px;
    }
  }

  [purpose='report-banner-container'] {
    background: linear-gradient(#FFF 50%, #F4F6FA 50%);
    padding-right: 40px;
    padding-left: 40px;
  }
  [purpose='report-banner-cta'] {
    max-width: 1080px;
    margin-top: 40px;
    border-radius: 16px;
    background-color: #261c50;
    background-image: url('/images/homepage-report-cta-background.svg');
    background-position-x: right;
    background-size: cover;
    color: #FFF;
    padding: 27px 87px 34px 87px;
    img {
      margin-right: 60px;
      height: auto;
      width: 100%;
      max-width: 309px;
    }
    a {
      font-weight: 400;
      color: #FFF;
    }
  }



  @media (min-width: 1200px) {
    [purpose='tweets'] {
      padding-left: 0px;
      padding-right: 0px;
      [purpose='tweet-card'] {
        margin-left: 15px;
        margin-right: 15px;
        flex: 0 1 326px;
      }
    }
  }

  @media (max-width: 1200px) {
    [purpose='tweets'] {
      padding-left: 72px;
      padding-right: 72px;
      [purpose='tweet-card'] {
        flex: 1 1 360px;
        margin-bottom: 15px;
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }

  @media (max-width: 990px) {
    [purpose='hero-banner'] {
      padding-top: 172px;
    }
    [purpose='tweets'] {
      [purpose='tweet-card'] {
        flex: 1 1 295px;
      }
    }
    [purpose='features'] {
      padding-bottom: 80px;
      [purpose='features-text-left'] {
        padding-right: 0px;
        padding-bottom: 40px;
        max-width: 640px;
      }
      [purpose='features-text-right'] {
        padding-left: 0px;
        padding-bottom: 40px;
        max-width: 640px;
      }
    }

    [purpose='report-banner-cta'] {
      padding: 27px 43px 34px 43px;
      img {
        margin-right: 0px;
      }
    }
    [purpose='report-banner-container'] {
      padding-right: 20px;
      padding-left: 20px;
    }
  }


  @media (min-width: 768px) {
    [purpose='log-destination-grid'] {
      max-width: 976px;
    }
    [purpose='log-destination'] {
      flex: 0 0 228px;
    }

  }

  @media (max-width: 769px) {
    [purpose='tweets'] {
      padding-left: 52px;
      padding-right: 52px;
      [purpose='tweet-card'] {
        flex: 1 1 316px;
      }
    }
    [purpose='hero-clouds'] {
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 23%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
    }
    [purpose='hero-banner'] {
      padding-top: 222px;
      background-size: 100% 125%;
    }
    [purpose='report-banner-container'] {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media (min-width: 600px) and (max-width: (767px)) {
    [purpose='log-destination'] {
      flex: 0 0 280px;
      p {
        display: flex;
      };
    }
  }
  @media (max-width: 605px) {
    [purpose='hero-banner'] {
      padding-top: 242px;
    }
  }

  @media (max-width: 600px) {
    [purpose='log-destination'] {
      flex-basis: 160px;
      p {
        display: none;
      }

    }
  }

  @media (max-width: 575px) {
    h1 {
      font-size: 26px;
      line-height: 34px;
    }
    h3 {
      font-size: 20px;
      line-height: 32px;
    }
    h6 {
      font-size: 18px;
      line-height: 24px;
    }
    [purpose='top-try-it-out-btn'] {
      max-width: 100%;
    }
    [purpose='tweets'] {
      padding-left: 16px;
      padding-right: 16px;
      [purpose='tweet-card'] {
        margin-bottom: 30px;
      }
    }
    [purpose='hero-banner'] {
      padding-top: 216px;
    }
  }

  @media (max-width: 480px) {
    [purpose='features'] {
    [purpose='features-text-left'] {
       max-width: 320px;
    }
    [purpose='features-text-right'] {
        max-width: 320px;
    }
    }
  }

  @media (max-width: 395px) {
    [purpose='hero-banner'] {
      padding-top: 236px;
    }
  }

  @media (max-width: 355px) {
    [purpose='log-destination'] {
      flex-basis: 80px;
    }
  }

  @media (max-width: 330px) {
    [purpose='hero-banner'] {
      padding-top: 256px;
    }
  }

}
