#fleet-gitops {
  // page-wide heading styles

  h1 {
    .title-xl();
    margin-bottom: 0px;
  }

  h2 {
    .title-l();
    scroll-margin-top: 100px;
    margin-bottom: 0px;
    page-break-before: always;

  }

  h3 {
    .title-m();
    color: #192147;
    margin-bottom: 0px;
  }

  h4 {
    .kicker-title();
    margin-bottom: 0px;
  }

  h5 {
    color: #192147;


    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 0px;
  }

  p {
    margin-bottom: 0px;
    line-height: 150%;
  }

  ul {
    padding-inline-start: 22px;

    li {
      margin-bottom: 12px;

      a {}
    }
  }

  [purpose='page-container'] {
    display: flex;
    padding: 64px 64px 0px 64px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 160px;
    align-self: stretch;
  }

  [purpose='page-hero'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: @section-padding-sm;
    align-self: stretch;
  }

  [purpose='hero-image'] {
    max-width: 50%;

    img {
      max-height: 378px;
      width: 100%;
      flex: 1 0 0;
      aspect-ratio: 4 / 3;

    }
  }

  [purpose='hero-text'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    min-width: 415px;

    h1 {
      margin-bottom: 0px;
    }
  }

  [purpose='button-row'] {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    align-items: center;
    align-content: center;
    gap: 24px;
    align-self: stretch;
    flex-wrap: wrap;

    [purpose='cta-button'] {
      .cta-button();
      height: 36px;
      min-width: 140px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: 700;
      line-height: 150%;
    }

  }

  [purpose='section-title'] {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 800px;
  }

  [purpose='page-section'] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
  }

  [purpose='page-section-sm-padding'] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
  }

  [purpose='feature-with-image'] {
    .feature-with-image();

    [purpose='feature-image'] {
      max-width: 47%;
    }

    [purpose='feature-text'] {
      width: 50%;
    }
  }

  [purpose='list-item'] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }


  [purpose='section-image'] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;


    [purpose='image-container'] {
      display: flex;
      height: 469px;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      background: #F9FAFC;

      img {
        max-width: 471px;
        width: 100%;
        height: auto;
      }
    }

    [purpose='image-caption'] {
      max-width: 663px;
      color: #515774;

      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }


  [purpose='two-column-features'] {
    display: flex;
    flex-wrap: wrap;
    min-width: 327px;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;

    [purpose='feature'] {
      flex: 1 0 44%;
    }
  }

  [purpose='feature'] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;

    [purpose='feature-text'] {
      h5 {
        color: #192147;

        /* Heading/H4 */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
      }
    }
  }

  [purpose='features-section'] {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px 64px;
    align-self: stretch;
    flex-wrap: wrap;

    [purpose='feature'] {
      display: flex;
      max-width: 314px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex: 1 0 24%;
    }
  }

  [purpose='section-quote'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: center;
    max-width: 600px;

    [purpose='quote-text'] {
      color: #515774;
      text-align: center;
      font-family: Inter;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: 150%;
    }

    [purpose='quote-image'] {
      img {
        height: 32px;
      }
    }

    [purpose='quote-attribution'] {
      color: #515774;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

    }

    [purpose='quote-author-info'] {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 16px;
      align-self: center;
    }

    [purpose='quote-author-image'] {
      img {
        height: 48px;
      }
    }

    [purpose='name-and-title'] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    [purpose='author-name'] {
      color: #192147;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }

    [purpose='author-title'] {
      color: #515774;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }

  [purpose='section-table'] {
    width: 100%;
  }

  [purpose='features-table'] {
    width: 100%;
    outline: 1px solid #E2E4EA;
    background: #FFF;
    border-radius: 8px;

    thead {
      font-weight: @bold;
    }

    tbody {
      tr:last-of-type {
        border-bottom: none;
      }
    }

    td {
      width: 33%;
      height: 54px;
      padding: 12px 24px;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      color: #515774;
      border-left: 1px solid #E2E4EA;

      /* Body/Emphasis/SM */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      line-height: 150%;
    }

    th {
      width: 33%;
      height: 54px;
      padding: 12px 24px;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      color: #515774;
      border-left: 1px solid #E2E4EA;

      /* Body/Emphasis/SM */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      line-height: 150%;
    }

    tr {
      border-bottom: 1px solid #E2E4EA;

      td:nth-of-type(1) {
        border-left: none;
        font-weight: 700;
      }

      th:nth-of-type(1) {
        border-left: none;
        font-weight: 700;
      }
    }
  }

  [purpose='mobile-features-table'] {
    display: none;
  }

  [purpose='mobile-table'] {
    width: 100%;
    outline: 1px solid #E2E4EA;
    background: #FFF;
    border-radius: 8px;

    [purpose='row']:nth-of-type(3) {
      background: #F9FAFC;
    }

    [purpose='row'] {
      border-top: 1px solid #E2E4EA;
      display: flex;
      flex-direction: row;
    }

    [purpose='feature-name'] {
      display: flex;
      padding: 12px 24px;
      align-items: center;
      align-self: stretch;
      font-size: 14px;
      font-weight: 700;
    }

    [purpose='comparison-name'] {
      font-size: 14px;
      font-weight: 700;
      display: flex;
      padding: 12px 24px;
      align-items: center;
      align-self: stretch;
      width: 171px;
    }

    [purpose='comparison-status'] {
      display: flex;
      padding: 12px 24px;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
      align-self: stretch;
      color: #515774;
      /* Body XS (FKA p small) */
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }


  }

  [purpose='fleet-cell'] {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    img {
      height: 16px;
    }
  }





  .banner-section {
    border-radius: 24px;
    background: #F9FAFC;
    padding: 64px;
  }

  [purpose='cards'] {
    display: inline-grid;
    row-gap: 24px;
    column-gap: 24px;
    align-self: stretch;
    grid-template-rows: repeat(4, fit-content(100%));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  [purpose='card'] {
    display: flex;
    padding: 24px 24px 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    justify-content: space-between;
    justify-self: stretch;
    border-radius: 16px;
    border: 1px solid #E2E4EA;
    background: #FFF;

    p {
      margin-bottom: 0px;
    }

    a {
      justify-self: flex-end;
    }

    img {
      height: 32px;
      width: auto;
    }

    [purpose='quote-author-info'] {
      [purpose='job-title'] {
        font-size: 12px;
        line-height: 18px;
      }

      [purpose='name'] {
        color: @core-fleet-black;
        text-transform: capitalize;
      }

      [purpose='profile-picture'] {
        margin-right: 16px;

        img {
          height: 48px;
          width: 48px;
          border-radius: 50%;
        }
      }
    }
  }



  [purpose='tweets-container'] {
    margin-top: 160px;

    [purpose='tweets'] {
      margin-top: 40px;
      margin-bottom: 64px;
    }
  }

  [purpose='bottom-cta'] {
    display: flex;
    padding: 64px 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    text-align: center;

    [purpose='button-row'] {
      align-self: center;
      padding-top: 0px;
    }

  }


  [parasails-component='parallax-city'] {
    background: linear-gradient(358deg, #E9F4F4 0%, #FFFFFF 100%);
  }

  @media (max-width: 1199px) {
    [purpose='page-container'] {
      gap: 120px;
    }

    [purpose='features-section'] {
      [purpose='feature'] {
        max-width: unset;

        &.fixed-width {
          max-width: 315px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    [purpose='page-container'] {
      display: flex;
      padding: 48px 48px;
      padding-bottom: 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 80px;
      align-self: stretch;
    }

    [purpose='page-hero'] {
      gap: 48px;
      flex-direction: column;

      [purpose='hero-image'] {
        max-width: unset;

        img {
          height: auto;
          width: 100%;

        }
      }

    }

    [purpose='hero-text'] {
      max-width: 100%;
      min-width: unset;
    }

    .banner-section {
      padding: 48px;
    }

    [purpose='workshop-cta'] {
      width: 312px;
      padding: 8px;
      gap: 24px;

      [purpose='cta-text'] {
        padding: 5px 24px 24px 24px;
        gap: 16px;

        p {
          color: #515774;

          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }

    [purpose='page-section'] {
      gap: 48px;
    }

    [purpose='features-section'] {
      gap: 32px 48px;

      [purpose='feature'] {
        flex: 1 0 30%;

        &.fixed-width {
          max-width: unset;
        }
      }
    }

    [purpose='two-column-features'] {
      gap: 48px;
    }

    [purpose='cards'] {
      display: inline-grid;
      row-gap: 24px;
      column-gap: 24px;
      align-self: stretch;
      grid-template-rows: repeat(5, fit-content(100%));
      grid-template-columns: repeat(2, minmax(0, 1fr));

    }

    [purpose='bottom-cta'] {
      padding: 48px;
    }

    [purpose='tweets-container'] {
      margin-top: 80px;

      [purpose='tweets'] {
        margin-bottom: 48px;
      }
    }
  }

  @media (max-width: 768px) {
    [purpose='page-container'] {
      display: flex;
      padding: 32px;
      padding-bottom: 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 80px;
      align-self: stretch;
    }


    [purpose='page-section'] {
      gap: 48px;
    }

    [purpose='features-section'] {
      gap: 32px 48px;
    }

    [purpose='two-column-features'] {
      gap: 48px;
    }

    .banner-section {
      padding: 32px;
    }

    [purpose='feature-with-image'] {
      justify-content: center;

      [purpose='feature-image'] {
        max-width: 100%;
      }

      [purpose='feature-text'] {
        width: 100%;
      }
    }

    [purpose='features-table'] {
      display: none;
    }

    [purpose='mobile-features-table'] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
    }

    [purpose='bottom-cta'] {
      padding: 48px;
    }

    [purpose='tweets-container'] {
      margin-top: 80px;

      [purpose='tweets'] {
        margin-bottom: 48px;
      }
    }
  }

  @media (max-width: 575px) {
    h1 {
      color: #192147;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%;
    }

    h2 {
      color: #192147;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%;
    }

    [purpose='page-container'] {
      display: flex;
      padding: 32px 24px;

    }

    [purpose='two-column-features'] {
      flex-direction: column;
      min-width: unset;
    }

    [purpose='features-section'] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      align-self: stretch;

      [purpose='feature'] {
        width: 100%;
        min-width: unset;
      }
    }

    [purpose='cards'] {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .banner-section {
      padding: 24px;
    }

    [purpose='mobile-features-table'] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      [purpose='mobile-table'] {

        [purpose='feature-name'] {
          padding: 12px 16px;
        }

        [purpose='comparison-name'] {
          padding: 12px 16px;
        }

        [purpose='comparison-status'] {
          padding: 12px 16px;
        }
      }
    }

    [purpose='button-row'] {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      align-self: stretch;

      [purpose='cta-button'] {
        min-width: 100%;
      }
    }

    [purpose='bottom-cta'] {
      padding: 32px 0px;

      [purpose='button-row'] {
        width: 100%;
      }

    }

  }
}
