#integrations {

  [purpose='page-container'] {
    max-width: 1200px;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  [purpose='page-heading'] {
    margin-bottom: 60px;
    h1 {
      font-size: 48px;
      font-weight: 800;
      line-height: 58px;
      margin-bottom: 24px;
    }
    h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 58px;
    }
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      max-width: 720px;
    }
  }
  [purpose='integration-cards'] {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 36px;
  }
  [purpose='integration-card'].invisible {
    max-width: none;
    height: 0px;
    padding: 0;
  }
  [purpose='integration-card'] {
    padding: 40px;
    max-width: 384px;
    min-width: auto;
    height: 232px;
    border-radius: 16px;
    flex: 1 1 357px;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;
  }
  [purpose='integration-logo'] {
    img {
      height: 28px;
    }
    p {
      margin-left: 8px;
      margin-bottom: 0px;
    }
  }
  [purpose='integration-card-buttons'] {
    [purpose='learn-more-link'] {
      font-weight: 400;
      color: @core-vibrant-blue;
    }
    a {
      line-height: 21px;
      font-size: 14px;
    }
  }
  [purpose='integration-card-body'] {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 1400px) {

  }
  @media (max-width: 1200px) {
    [purpose='integration-card'] {
      max-width: none;
      min-width: 384px;
    }
  }
  @media (max-width: 991px) {
    [purpose='integration-card'] {
      padding: 40px;
      max-width: none;
      min-width: auto;
      height: 232px;
      border-radius: 16px;
      flex: 1 1 332px;
    }
  }
  @media (max-width: 768px) {
    [purpose='page-container'] {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @media (max-width: 576px) {
    [purpose='page-container'] {
      padding-top: 40px;
    }
    [purpose='integration-card'] {
      padding: 40px;
      min-width: auto;
      height: auto;
      border-radius: 16px;
      flex: 1 1 auto;
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}
