#landing {

    h2 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }
    h3 {
      font-size: 28px;
      line-height: 40px;
      font-weight: 700;
    }
    h4 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 400;
    }
    a & a:active & a:hover {
      text-decoration: none;
    }
    [purpose='demo-btn'] {
      .btn-animated-arrow();
    }

    [purpose='banner-background'] {
      background: linear-gradient(100.68deg, #1F1D42 0%, #00FFF0 100%);
      overflow: hidden;
    }

    [purpose='feature-image'] {
      max-width: 100%;
      filter: drop-shadow(0px 3.85401px 24.0876px rgba(0, 0, 0, 0.15));
      border-radius: 4.78295px;
    }

    [purpose='content'] {
      padding-top: 100px;
      max-width: 1400px;
      padding-left: 100px;
      padding-right: 100px;
    }

    [purpose='section'] {
      padding-top: 100px;
    }

    [purpose='banner'] {
      color: #F9FAFC;
      position: relative;
      padding: 100px 80px 0px 80px;
      height: 520px;
      [purpose='banner-text'] {
        max-width: 544px;
        z-index: 2;
        padding-bottom: 140px;
      }
      [purpose='banner-hero'] {
        img {
          display: inline-block;
          height: 100%;
          position: absolute;
          right: -25px;
          bottom: -90px;
          z-index: 1;
        }
      }
      [purpose='banner-curve'] {
        z-index: 2;
        position: absolute;
        left: -25px;
        bottom: -1px;
      }
    }


    [purpose='logos'] {
      padding-top: 24px;
      .card {
        height: 60px;
        width: 80px;
        min-width: 80px;
        border: none;
        background: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      }
      img {
        width: auto;
        max-height: 36px;
        margin: auto;
      }
    }

    [purpose='bullet-list'] {
      p {
        padding-left: 24px;
        text-indent: -24px;
      }
      p::before {
        content: url('/images/platform/icon-bullet-point-6x6@2x.png');
        margin-right: 12px;
      }
    }
    [purpose='tweets'] {
      max-width: 1200px;
      padding-bottom: 50px;
      box-sizing: content-box;
      [purpose='tweet-card'] {
        text-align: left;
        background: #FFFFFF;
        padding: 40px;
        margin-bottom: 30px;
        border: 1px solid #E2E4EA;
        box-sizing: border-box;
        box-shadow: 0px 7px 3px 0px rgba(25, 33, 71, 0.1);
        border-radius: 16px;
      }
    }

    @media (min-width: 1199px) {
      [purpose='tweets'] {
        padding-left: 0px;
        padding-right: 0px;
        [purpose='tweet-card'] {
          margin-left: 15px;
          margin-right: 15px;
          flex: 0 1 326px;
        }
      }
      [purpose='content'] {
        padding-top: 100px;
        max-width: 1400px;
        padding-left: 100px;
        padding-right: 100px;
      }

      [purpose='banner'] {

        [purpose='banner-hero'] {
          img {
            display: inline-block;
            width: 850px;
            position: relative;
            right: 0px;
            top: -60px;
            z-index: 1;
            bottom: unset;
          }
        }
      }
    }

    @media (max-width: 1199px) {
      [purpose='tweets'] {
        padding-left: 72px;
        padding-right: 72px;
        [purpose='tweet-card'] {
          flex: 1 1 360px;
          margin-bottom: 15px;
          margin-left: 8px;
          margin-right: 8px;
        }
      }
      [purpose='banner'] {
        color: #F9FAFC;
        position: relative;
        [purpose='banner-text'] {
          max-width: 544px;
        }
        [purpose='banner-hero'] {
          img {
            width: 850px;
            position: relative;
            right: 0;
            top: -60px;
            z-index: 1;
          }
        }
      }
      [purpose='content'] {
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
      }
    }

    @media (max-width: 991px) {
      [purpose='tweets'] {
        [purpose='tweet-card'] {
          flex: 1 1 295px;
        }
      }
      [purpose='banner'] {
        padding: 60px 40px 0px 40px;
        color: #F9FAFC;
        position: relative;
        height: 740px;

        [purpose='banner-text'] {
          max-width: 520px;
          padding-bottom: 80px;
        }
        [purpose='banner-hero'] {
          img {
            position: relative;
            width: 100%;
            right: -25px;
            top: 0px;
          }
        }

      }
      [purpose='feature-image'] {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media (max-width: 767px) {

      [purpose='tweets'] {
        padding-left: 52px;
        padding-right: 52px;
        [purpose='tweet-card'] {
          flex: 1 1 316px;
        }
      }
      [purpose='feature-image'] {
        max-width: 100%;
        padding-top: 60px;
      }

      [purpose='content'] {
        padding-top: 80px;
        padding-left: 120px;
        padding-right: 120px;
      }
      [purpose='section'] {
        padding-top: 80px;
      }
      [purpose='banner'] {
        padding: 60px 40px 0px 40px;
        color: #F9FAFC;
        position: relative;
        height: 780px;

        [purpose='banner-text'] {
          max-width: 520px;
          padding-bottom: 60px;
        }
        [purpose='banner-hero'] {
          img {
            position: relative;
            right: -25px;
            top: 0px;
            width: 100%;
          }
        }
      }

    }

    @media (max-width: 575px) {
      h1 {
        font-size: 28px;
        line-height: 54px;
      }
      [purpose='tweets'] {
        padding-left: 16px;
        padding-right: 16px;
        [purpose='tweet-card'] {
          margin-bottom: 30px;
        }
      }
      [purpose='banner-background'] {
        background: linear-gradient(141.32deg, #1F1D42 0%, #00FFF0 91.41%);;
        overflow: hidden;
      }
      [purpose='section'] {
        padding-top: 60px;
      }
      [purpose='content'] {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
      }

      [purpose='banner'] {
        padding-top: 60px;
        color: #F9FAFC;
        position: relative;
        height: 700px;
        [purpose='banner-text'] {
          max-width: 520px;
          padding-bottom: 40px;
        }
        [purpose='banner-hero'] {
          img {
            position: relative;
            right: 0px;
            top: 0px;
            width: 110%;
          }
        }
      }
      [purpose='logos'] {
        .card {
          &.grow {
            min-width: 108px;
            min-height: 80px;
            img {
              max-height: 40px;
            }
          }
        }
      }
    }
    @media (max-width: 329px) {
      h1 {
        font-size: 26px;
      }
    }
  }
