#press-kit {

  p {
    font-size: 14px;
  }
  h1, h2 {
    padding-top: 80px;
  }
  hr {
    border-image-width: 2px;
    color: @core-vibrant-blue-15;
    margin-top: 80px;
  }
  p {
    a {
      vertical-align: baseline;
    }
  }
  a {
    vertical-align: middle;
    font-size: 14px;
  }
  .download-arrow {
    height: 16px;
    width: 16px;
    margin-right: 6px;
    display: inline;
    margin-bottom: 4px;
  }
  .download-link {
    vertical-align: baseline;
  }

  .preview-image {
    max-width: 400px;
  }

  @media (max-width: 576px) {

    hr {
      margin-top: 20px;
    }
    .preview-image {
      max-width: 100%;
    }
  }

}
