#pricing {
  h1, p {
    color: #192147;
  }
  .faq-question {
    font-weight: @bold;
  }
  .faq-list {
    padding-left: 20px;

    li {
      margin-bottom: 16px;
      padding-left: 8px;
    }

  }

  @media (max-width: 767px) {
    p {font-size: 16px;}
  }

  [purpose='animated-arrow-button'] {
    .btn-animated-arrow();
  }

}
