#pricing {
  h1, p {
    color: #192147;
  }
  .faq-question {
    font-weight: @bold;
  }
  .faq-list {
    padding-left: 20px;

    li {
      margin-bottom: 16px;
      padding-left: 8px;
    }

  }

  @media (max-width: 767px) {
    p {font-size: 16px;}
  }

  // TODO: dedupe animated-arrow-button (see homepage.less)
  [purpose='animated-arrow-button'] {
    padding-right: 45px;
    cursor: pointer;
    position: relative;
    width: auto;
    color: #192147;
    font-weight: bold;
    user-select: none;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
  }

  [purpose='animated-arrow-button']:before {
    content: url('/images/arrow-right-16x16@2x.png');
    transform: scale(0.5);
    position: absolute;
    top: 12px;
    left: 80%; // <--- here
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    /*   opacity: 0; */
  }

  [purpose='animated-arrow-button']:hover:before {
    left: 82%; // <--- here
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    /*   opacity:1; */
  }
}
