#query-detail {

  h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
  }

  h6 {
    font-size: 16px;
    line-height: 25px;
    word-wrap: break-word;
  }

  p {
    line-height: 25px;
  }

  a {
    font-size: 16px;
    line-height: 25px;
    color: @core-vibrant-blue;
  }

  pre {
    width: 100%;
    max-width: 100%;
    padding: 30px;
    background: #F9FAFC;
    border: 1px solid @core-vibrant-blue-15;
    border-radius: 4px;
    margin-bottom: 0px;
    code {
      .hljs-keyword { // SQL keywords (SELECT, FROM, WHERE, IN, etc.)
        color: #AE6DDF;
        white-space: pre;
      }
      .hljs-string { // For words wrapped in quotation marks
        color: #3DB67B;
        white-space: pre;
      }
      background-color: @ui-off-white;
      border: none;
      word-break: break-word;
      white-space: normal;
      padding: 0;
      font-size: 13px;
      line-height: 24px;
    }
  }

  .border-top {
    border-color: #E2E4EA;
  }

  [purpose='query-tag'] {
    font-size: 12px;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 20px;
    background-color: #E2E4EA;
  }

  [purpose='requires-mdm-badge'] {
    text-transform: uppercase;
    background: #6A67FE;
    border-radius: 4px;
    padding: 4px;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    white-space: nowrap;
  }
  [purpose='critical-badge'] {
    text-transform: uppercase;
    background: #FF5C83;
    border-radius: 4px;
    padding: 4px;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    white-space: nowrap;
  }


  [purpose='remediation'] {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  [purpose='avatar-frame'] {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }

    img {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }

  }

  [purpose='platforms'] {
    img {
      height: 18px;
      width: 18px;
    }
  }

  @media (min-width: 768px) {

    h5, p, a {
      font-size: 18px;
    }

    [purpose='avatar-frame'] {
      width: 32px;
      height: 32px;
    }

    [purpose='platforms'] {
      img {
        height: 24px;
        width: 24px;
      }
    }

  }

  @media (max-width: 575px) {

    h2 {
      font-size: 28px;
      line-height: 36px;
    }

  }

}
