#query-library {

  h2 {
    padding: 0px 30px 0px 30px;
  }

  h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
  }

  h6 {
    font-size: 16px;
    line-height: 22px;
    padding: 0px 30px 0px 30px;

  }

  a {
    font-size: 18px;
    color: @core-vibrant-blue;
  }

  select {
    color: @core-vibrant-blue;
    border: none;
  }

  .filter-and-search-bar {
    margin-left: 30px;
    margin-right: 30px;
  }

  .contributors, .platforms {

    p {
      font-size: 13px;
      line-height: 20px;
    }

  }

  .row {
    min-height: 70px;;
  }

  .card.results {
    box-shadow: none;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid;
    border-color: #E2E4EA;
    ;

  }

  .card.results:hover {
    background-color: #F1F0FF;

  }

  .card.call-to-action {
    background-color: @ui-off-white;
    border-radius: 16px;
    border-color: @ui-off-white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 90px;

  }

  .card-body {
    padding: 30px;
  }

}
