#sales-one-pager {
  padding-bottom: 120px;
  [purpose='banner-background'] {
    background: url('/images/background-sales-banner.svg');
    background-size: cover;
    background-position-x: right;
    color: #fff;
    background-color: #182147;
  }

  [purpose='button-row'] {
     a {
       font-weight: 700;
       font-size: 16px;
       line-height: 24px;
     }
     [purpose='cta-button'] {
       cursor: pointer;
       margin-right: 32px;
       background: @core-vibrant-red;
       border-radius: 8px;
       padding-left: 32px;
       padding-right: 32px;
       height: 48px;
       display: flex;
       justify-content: center;
       align-items: center;
       color: #FFF;
       position: relative;
       text-decoration: none;
     }

     [purpose='animated-arrow-button-red'] {
       display: inline;
       padding-right: 40px;
       cursor: pointer;
       position: relative;
       width: fit-content;
       min-width: 125px;
       font-weight: bold;
       user-select: none;
       transition: 0.2s ease-in-out;
       -o-transition: 0.2s ease-in-out;
       -ms-transition: 0.2s ease-in-out;
       -moz-transition: 0.2s ease-in-out;
       -webkit-transition: 0.2s ease-in-out;
       color: @core-fleet-black;
       text-decoration: none;
       &:after {
       content: url('/images/arrow-right-red-16x16@2x.png');
       transform: scale(0.5);
       position: absolute;
       top: -5px;
       left: 80%; // <--- here
       transition: 0.2s ease-in-out;
       -o-transition: 0.2s ease-in-out;
       -ms-transition: 0.2s ease-in-out;
       -moz-transition: 0.2s ease-in-out;
       -webkit-transition: 0.2s ease-in-out;
       /*   opacity: 0; */
       }
       &:hover:after {
       left: 82%; // <--- here
       transition: 0.2s ease-in-out;
       -o-transition: 0.2s ease-in-out;
       -ms-transition: 0.2s ease-in-out;
       -moz-transition: 0.2s ease-in-out;
       -webkit-transition: 0.2s ease-in-out;
       /*   opacity:1; */
       }
     }
   }

  [purpose='banner'] {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 40px;
    padding-left: 40px;
  }

  [purpose='banner-text'] {
    max-width: 511px;
    margin-right: 60px;
    h1 {
      font-weight: 800;
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 8px;
    }
    h4 {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 24px;
    }
  }

  [purpose='banner-hero-image'] {
    width: 100%;
    max-height: 212px;
  }

  [purpose='content'] {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
  }
  [purpose='headline'] {
    margin-bottom: 40px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
  }
  h4 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
  }

  [purpose='common-problem'] {
    text-align: center;
    max-width: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    // margin-right: 12px;
    // margin-left: 12px;
    margin-bottom: 40px;
    flex: 0 0 250px;
    img {
      width: 36px;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 0px;
    }
  }

  [purpose='tweet-deck'] {
    max-width: 1040px;
    padding-bottom: 40px;
    box-sizing: content-box;
    [purpose='tweet-card'] {
      text-align: left;
      background: #FFFFFF;
      padding: 40px;
      margin-bottom: 0px;
      margin-left: 15px;
      margin-right: 15px;
      border: 1px solid #E2E4EA;
      box-sizing: border-box;
      box-shadow: 0px 2px 3px -5px rgba(25, 33, 71, 0.1);
      border-radius: 16px;
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  [purpose='feature'] {
    margin-top: 60px;
    img {
      width: 440px;
      max-width: 100%;
    }
  }
  [purpose='hero-image'] {
    img {
      max-width: 100%;
    }
  }
  [purpose='feature-text'] {
    align-self: center;
    max-width: 380px;
    h4 {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }

  [purpose='fleet-cta'] {
    background-image: url('/images/background-cta.svg');
    background-position-x: center;
    background-size: cover;
    background-color: #192147;
    padding: 60px 90px 66px 90px;
    border-radius: 16px;
    margin-top: 120px;
  }
  @media (max-width: 1094px) {
    [purpose='banner-text'] {
      margin-right: 16px;
    }
    [purpose='banner-hero-image'] {
      width: 100%;
      max-height: 200px;
    }

  }
  @media (max-width: 1023px) {
    [purpose='banner-text'] {
      margin-right: 0px;
    }
    [purpose='banner-hero-image'] {
      display: none;
    }
  }


  @media (max-width: 991px) {
    [purpose='content'] {
      padding-left: 40px;
      padding-right: 40px;
    }
    [purpose='banner-text'] {
      margin-left: auto;
      margin-right: auto;
    }
    [purpose='feature-image'] {
      margin-right: auto;
      margin-left: auto;
    }
    [purpose='feature-text'] {
      margin-bottom: 24px;
      text-align: center;
    }
    [purpose='feature'] {

    }
    [purpose='tweet-deck'] {
      padding-left: 40px;
      padding-right: 40px;
      [purpose='tweet-card'] {
        margin-bottom: 30px;
      }
    }
    [purpose='common-problem'] {
      margin-right: 15px;
      margin-left: 15px;
    }
    [purpose='common-problem'] {
      flex: 1 0 200px;
    }
    [purpose='fleet-cta'] {
      padding: 60px 45px;
    }
  }
  @media (max-width: 776px) {
    [purpose='common-problem'] {
      flex: 1 0 200px;
    }

  }
  @media (max-width: 541px) {
    [purpose='button-row'] {
      max-width: 100%;
      [purpose='cta-button'] {
        margin-right: 0px;
        width: 100%;
        margin-bottom: 24px;
      }
    }
    [purpose='common-problem'] {
      flex: 0 0 180px;
    }
    [purpose='banner'] {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
