#upgrade {
  background: linear-gradient(180deg, rgba(232, 241, 246, 0.5) 4.75%, rgba(255, 255, 255, 0) 37.29%);
  [purpose='page-container'] {
    padding-top: 100px;
    padding-bottom: 120px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    margin-bottom: 80px;
  }
  h2 {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  a {
    font-size: 14px;
    color: @core-vibrant-blue;
    text-decoration: underline;
  }

  [purpose='feature'] {
    img {
      margin-left: auto;
      margin-right: auto;
    }
    [purpose='feature-image'] {
      min-width: 160px;
      margin-right: 40px;
    }
    margin-bottom: 80px;
  }
  [purpose='upgrade-form'] {
    margin-left: 80px;
    padding: 40px;
    background: #F9FAFC;
    box-shadow: 0px 0px 0px 1px #E2E4EA;
    border-radius: 8px;
    width: 480px;
    input {
      border: 1px solid #C5C7D1;
      border-radius: 6px;
      height: 48px;
      font-size: 16px;
      color: @core-fleet-black;
      -webkit-appearance: none;
    }
    select {
    // for hiding the <select> dropdown arrow on Firefox 54
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
    }
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
    select {
      font-size: 16px;
      border: 1px solid #C5C7D1;
      background-color: #FFF;
      height: 48px;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      border-radius: 8px;
      padding: 12px;
      background: url('/images/chevron-down-fleet-black-8x8@2x.png') no-repeat 96% 50%, #FFF;
      background-size: 16px 16px;
      -webkit-appearance: none;
    }
    [purpose='submit-button'] {
      position: relative;
    }
    [purpose='submit-button']::before {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
      opacity: 1;
      content: ' ';
      position: absolute;
      top: 0;
      left: -5px;
      width: 233px;
      max-width: 60%;
      height: 100%;
      transform: skew(-10deg);
      transition: left 0.5s ease-in, opacity 0.50s ease-in, width 0.5s ease-in;
    }
  }
  @media (max-width: 1201px) {
    [purpose='upgrade-form'] {
      padding: 24px;
      width: 400px;
    }
    [purpose='feature'] {
      [purpose='feature-image'] {
        margin-right: 30px;
      }
    }
  }
  @media (max-width: 1024px) {
    [purpose='page-container'] {
      padding-top: 60px;
      padding-bottom: 80px;
    }
    [purpose='upgrade-form'] {
      margin-left: 40px;
    }
    h1 {
      text-align: center;
    }
  }
  @media (max-width: 991px) {
    [purpose='feature'] {
      text-align: center;
      width: 50%;
      [purpose='feature-image'] {
        margin-right: auto;
        margin-left: auto;
        width: auto;
        margin-bottom: 40px;
        img {
          height: 160px;
        }
      }
    }
    [purpose='feature-row'] {
      [purpose='feature']:first-child {
        margin-right: 80px;
      }
      [purpose='feature']:only-child {
        margin-right: 0px;
        width: 415px;
        img {
          margin-left: 16px;
        }
      }
    }
    [purpose='upgrade-form'] {
      width: 100%;
      padding: 40px;
      margin-left: auto;
    }
  }

  @media (max-width: 768px) {
    h1 {
      text-align: center;
      font-size: 32px;
      line-height: 38px;
    }
    [purpose='page-container'] {
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 80px;
    }
    [purpose='feature-row'] {
      [purpose='feature']:first-child {
        margin-right: unset;
      }
      [purpose='feature']:only-child {
        margin-right: unset;
        width: auto;
      }
    }
    [purpose='feature'] {
      width: 100%;
      max-width: 440px;
    }
  }

  @media (max-width: 481px) {
    [purpose='upgrade-form'] {
      padding: 20px;
    }
  }




}
