#vanta-authorization {

  padding-top: 80px;

  a {
    color: @core-vibrant-blue;
  }

  @media (max-width: 768px) {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 575px) {
    h1 {
      font-size: 28px;
      line-height: 34px;
    }
    padding-left: 25px;
    padding-right: 25px;
  }

}
