.save-query-modal {
  .fleet-checkbox {
    display: flex;
    align-items: center;
  }

  .help-text {
    margin-top: $pad-small;
    margin-bottom: $pad-large;
    font-weight: $regular;
    font-size: 0.75rem;
    color: $ui-fleet-black-75;
  }

  &__form-field {
    &--frequency {
      margin-bottom: 0;
    }
    &--platform {
      margin-bottom: 0;
      margin-top: $pad-large;
    }
  }

  &__observer-can-run-wrapper {
    margin-bottom: 0;
  }

  &__advanced-options-toggle {
    font-weight: $xbold;
  }

  .info-banner {
    margin-bottom: 1.5rem;
    &__info {
      line-height: 21px;
    }
  }

  &__disabled-discard-data-checkbox {
    @include disabled;
  }

  &__edit-anyway {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-weight: inherit;
    font-size: inherit;
  }
}
