.save-query-modal {
  .fleet-checkbox {
    display: flex;
    align-items: center;
  }

  &__observer-can-run-wrapper {
    margin-bottom: 0;
  }

  &__advanced-options-toggle {
    font-weight: $xbold;
  }
}
