.user-management {
  padding: 30px;

  &__page-description {
    font-size: $x-small;
    color: $core-dark-blue-grey;
    @include sticky-settings-description;
    padding-bottom: $pad-medium;
  }

  &__wrapper {
    border: solid 1px $ui-borders;
    border-radius: 6px;
    margin-top: $pad-base;
  }

  &__header {
    font-size: $large;
  }

  &__table {
    border-collapse: collapse;
    color: $core-black;
    font-size: $x-small;
    width: 100%;
  }

  tr {
    border-bottom: 1px solid $ui-borders;

    &:last-child {
      border-bottom: 0;
    }
  }

  thead {
    background-color: $core-light-blue-grey;
    color: $core-black;
    text-align: left;
    border-bottom: 1px solid $ui-borders;

    th {
      padding: 18px 30px;
      white-space: nowrap;
      border-radius: 6px 0;
    }
  }

  tbody {
    td {
      padding: 0 30px;
      white-space: nowrap;

      .form-field {
        margin: 0;
      }
    }

    .user-row__actions {
      padding: 4px 30px;
      width: 120px;
      float: right;
    }

    .Select-control {
      background-color: $white;
      border: none;
    }

    .Select-menu-outer {
      position: absolute;
      z-index: 100;
    }
  }

  &__heading-wrapper {
    width: 100%;
  }

  &__smtp-warning-wrapper {
    width: 100%;
  }

  &__config-button {
    text-decoration: none;
    color: $core-blue;
    font-size: $x-small;
    margin-left: $pad-medium;
  }


  &__user-count {
    font-size: $x-small;
    font-weight: $bold;
    color: $core-black;
    margin: 0;
  }

  &__table-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__users {
    display: flex;
    flex-wrap: wrap;
    clear: both;
  }

  &__create-user-modal {
    &.modal__modal_container {
      width: 540px;
    }
  }

  &__edit-columns-button {
    display: flex;
    align-items: center;
    font-size: $x-small;
    color: $core-blue;
  }

  &__search-input {
    position: relative;
    color: $core-dark-blue-grey;
    width: 344px;
    margin-left: $pad-medium;

    .user-management__input-wrapper {
      margin-bottom: 0;
    }

    .input-field {
      padding-left: 42px;
      width: 100%;
    }

    .kolidecon {
      position: absolute;
      top: 10px;
      left: 12px;
      font-size: 20px;
      color: $core-medium-blue-grey;
    }
  }

  @include breakpoint(smalldesk) {
    &__position {
      display: none;
    }
  }
}
