.user-management {
  min-height: 100px;
  padding: 30px 30px 30px 0;

  &__user-count {
    font-size: $large;
    font-weight: $light;
    letter-spacing: 1px;
    color: $text-ultradark;
    margin: 0 0 0 30px;
    float: left;
  }

  &__add-user-wrap {
    float: right;
  }

  &__add-user-btn {
    height: 38px;
    letter-spacing: normal;
    margin-top: 0;
    margin-left: $pad-half;
    padding: 0;
    width: 145px;
  }

  &__users {
    @include display(flex);
    @include flex-wrap(flex);
    clear: both;
  }
}
