.user-management {
  padding: 30px;

  &__page-description {
    font-size: $x-small;
    color: $core-dark-blue-grey;
    @include sticky-settings-description;
    padding-bottom: $pad-medium;
  }

  &__wrapper {
    border: solid 1px $ui-borders;
    border-radius: 6px;
    margin-top: $pad-base;
  }

  &__header {
    font-size: $large;
  }

  &__table {
    border-collapse: collapse;
    color: $core-black;
    font-size: $x-small;
    width: 100%;
  }

  tr {
    border-bottom: 1px solid $ui-borders;

    &:last-child {
      border-bottom: 0;
    }
  }

  thead {
    background-color: $core-light-blue-grey;
    color: $core-black;
    text-align: left;
    border-bottom: 1px solid $ui-borders;

    th {
      padding: 18px 30px;
      white-space: nowrap;
      border-radius: 6px 0;
    }
  }

  tbody {
    td {
      padding: 0 30px;
      white-space: nowrap;
    }

    .user-row__actions {
      padding: 4px 30px;
      width: 120px;
      float: right;
    }
  }

  &__heading-wrapper {
    width: 100%;
  }

  &__smtp-warning-wrapper {
    width: 100%;
  }

  &__config-button {
    text-decoration: none;
    color: $core-blue;
    font-size: $x-small;
    margin-left: $pad-medium;
  }

  &__user-count {
    font-size: $x-small;
    font-weight: $bold;
    color: $core-black;
    margin: 0;
  }

  &__add-user-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__users {
    display: flex;
    flex-wrap: wrap;
    clear: both;
  }

  &__invite-modal {
    &.modal__modal_container {
      width: 540px;
    }
  }

  @include breakpoint(smalldesk) {
    &__position {
      display: none;
    }
  }
}
