.user-management {
  padding: $pad-xlarge;

  &__page-description {
    font-size: $x-small;
    color: $core-fleet-blue;
    @include sticky-settings-description;
    padding-bottom: $pad-medium;
  }

  &__smtp-warning-wrapper {
    width: 100%;
  }

  &__config-button {
    text-decoration: none;
    color: $core-vibrant-blue;
    font-size: $x-small;
    margin-left: $pad-medium;
  }

  &__create-user-modal {
    &.modal__modal_container {
      width: 540px;
    }
  }

  .data-table {

    &__status {

      &--active {
        &:before {
          background-color: $ui-success;
        }
      }

      &--no-access {
        &:before {
          background-color: $ui-offline;
        }
      }

      &--invite-pending {
        &:before {
          background-color: $ui-warning;
        }
      }
    }
  }
}
