.targets-input {
  position: relative;

  &__hosts-search-dropdown {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    background-color: $core-white;
    border-radius: 0px 0px 8px 8px;

    .table-container {
      box-shadow: 0px 4px 10px rgba(52, 59, 96, 0.15);
      border-radius: 0px 0px 8px 8px;
      .data-table__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
      }

      &__data-table-block > div {
        display: flex;
      }

      // Properly vertically aligns host issue icon
      .display_name__cell {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;

        .host-issue {
          margin-left: $pad-xsmall;
          display: inline-flex;
        }
      }
    }

    .empty-search,
    .data-error {
      padding-top: 72px;
      padding-bottom: 72px;
      min-height: 225px;
      display: flex;
      justify-content: center;
      box-shadow: 0px 4px 10px rgba(52, 59, 96, 0.15);
      box-sizing: border-box;

      &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h4 {
        margin: 0;
        margin-bottom: 16px;
        font-size: $small;
      }
      p {
        margin: 0;
        font-size: $x-small;
      }
    }
  }
  // hack because it's creating unwanted space
  .table-container {
    background-color: $core-white;

    &__header {
      display: none;
    }
    .data-table {
      &__wrapper {
        margin: 0;
      }

      // Properly vertically aligns host issue icon
      .display_name__cell {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;

        .host-issue {
          margin-left: $pad-xsmall;
          display: inline-flex;
        }
      }
    }
  }
  &__hosts-selected-table {
    margin-top: 8px;

    .data-table__wrapper {
      position: relative;
    }

    .delete__cell {
      text-align: center;
    }
  }

  // Empty loading height matches height of empty and error state
  .loading-overlay + .data-table__wrapper {
    .data-table__no-rows {
      min-height: 225px;

      tbody {
        min-height: 173px;
      }
    }
  }
  // End

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}
