.versions-modal {
  &__form {
    margin-bottom: $pad-medium;

    fieldset {
      display: flex;
      flex-direction: column;
      gap: $pad-small;
      border: 0;
      padding: 0;
      margin: 0;
    }
  }
}
