.confirm-invite-page {
  &__form-section-wrapper {
    box-sizing: border-box;
    margin-bottom: 110px;
  }

  &__description {
    margin: 0;
  }

  .confirm-invite-button {
    align-self: center;
    width: 160px;
  }
}
