.gated-layout {
    .flash-message {
        border: 0;
    }
    a.external-link {
        img {
            height: 12px;
            width: 12px;
            margin-left: $pad-xsmall;
        }
    }
}