.section--munki-issues {
  .text-muted {
    color: $ui-fleet-black-50;
  }

  .data-table-block {
    .last_used_tooltip {
      text-align: center;
    }
    .data-table__table {
      thead {
        .name__header {
          width: $col-md;
        }
        .version__header {
          width: $col-sm;
        }
        .source__header {
          display: none;
          width: 0px;
        }
        .hosts_count__header {
          border-right: 0;
        }
        .last_opened_at__header {
          display: none;
        }
        .linkToFilteredHosts__header {
          min-width: 110px;
        }
        @media (min-width: $break-990) {
          .version__header {
            width: $col-md;
          }
        }
        @media (min-width: $break-1400) {
          .source__header {
            display: table-cell;
            width: $col-md;
          }
        }
      }

      tbody {
        .name__cell,
        .version__cell {
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .source__cell {
          display: none;
          width: 0px;
        }
        .hosts_count__cell {
          .hosts-cell__wrapper {
            display: flex;
            justify-content: space-between;
            .hosts-cell__count {
              display: none;
            }
            .hosts-cell__link {
              display: flex;
            }
          }
        }
        .last_opened_at__cell {
          display: none;
        }
        @media (min-width: $break-1400) {
          .source__cell {
            display: table-cell;
            width: $col-md;
          }
          .hosts_count__cell {
            .hosts-cell__wrapper {
              .hosts-cell__count {
                display: flex;
              }
            }
          }
        }
      }
    }
  }

  // Only show this column to macos users
  .macos .data-table-block .data-table__table {
    @media (min-width: $break-990) {
      thead .version__header {
        width: $col-sm;
      }
    }
    @media (min-width: $break-1400) {
      thead {
        .vulnerabilities__header {
          width: $col-md;
        }
        .last_opened_at__header {
          display: table-cell;
        }
      }
      tbody {
        .last_opened_at__cell {
          display: table-cell;
        }
      }
    }
  }
}
