.munki-issues-card {
  .data-table-block {
    .issue_tooltip,
    .time_tooltip {
      text-align: center;
    }

    .data-table__table {
      thead {
        .type__header {
          width: $col-sm;
        }

        .time__header {
          width: $col-md;
        }
      }
    }
  }
}
