.install-status-cell {
  width: 142px; // Prevent status change from installer action from changing cell width while maintaining tooltip centering

  &__tooltip-wrapper {
    .component__tooltip-wrapper__element {
      display: flex;
      align-items: center;
      gap: $pad-small;
    }

    .component__tooltip-wrapper__tip-text {
      max-width: 250px;
    }
  }

  &__item-status-button {
    font-weight: $regular;
  }
}
