.install-status-cell {
  display: flex;
  align-items: center;
  gap: $pad-small;

  &__tooltip-wrapper {
    .component__tooltip-wrapper__tip-text {
      max-width: 250px;
    }
  }

  &__item-status-button {
    font-weight: $regular;
  }
}
