.software-install-details {
  &__status-message {
    display: flex;
    align-items: center;
    gap: $pad-small;
    margin: 0;
    .icon {
      padding-top: 3px;
      align-self: flex-start;
    }
  }
  &__script-output {
    padding-top: $pad-xlarge;
    .textarea {
      margin-top: $pad-medium;
      overflow-wrap: break-word;
    }
  }
}
