.disk-encryption {
  h2 {
    margin-top: 0;
    padding-bottom: $pad-small;
    font-size: $medium;
    font-weight: $regular;
    color: $core-fleet-black;
    border-bottom: solid 1px $ui-fleet-black-10;
  }

  &__premium-feature-message {
    margin-top: 80px;
    text-align: center;
  }

  > p {
    margin: 0;
  }

  &__save-button {
    margin-top: $pad-large;
  }

  .disk-encryption-content {
    animation: fade-in 250ms ease-out;
  }
}
