#basic-handbook {

  h1 {
    font-size: 36px;
    line-height: 48px;
  }

  h2 {
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
  h4 {
    font-size: 18px;
    padding-top: 24px;
  }

  h5 {
    font-weight: normal;
    font-size: 14px
  }

  h6 {
    font-size: 16px;
    font-weight: 700;
    font-family: @main-font;
  }

  a {
    color: @core-vibrant-blue;
    word-wrap: break-word;
  }

  p {
    font-family: @header-font;
    font-size: 14px;
  }

  ul {
    list-style: none;
    padding-left: 8px;

    li {
      padding-bottom: 8px;
    }

  }

  [purpose='search'] {

    padding-bottom: 16px;

    input {
      padding-top: 6px;
      padding-bottom: 6px;
      border: none;
      } &::placeholder {
        font-size: 16px;
        line-height: 24px;
      }

    .input-group {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border: 1px solid @core-fleet-black-25;
    }

    .input-group:focus-within {
      border: 1px solid @core-vibrant-blue;
    }

    .docsearch-input {
      height: 100%;
      width: 98%;
    }

    .ds-input:focus-visible {
      outline: rgba(0, 0, 0, 0);
    }

    .input-group-text {
      color: @core-fleet-black-50;
    }

    .form-control {
      height: 36px;
      padding: 0px;
      font-size: 16px;
    } &:focus {
      border: none;
    }

  }

  [purpose='handbook-template'] {

    h3 {
      code {
        color: @core-fleet-black;
      }

    }

    [purpose='breadcrumbs'] {

      p, a, strong {
        font-size: 12px;
        line-height: 24px;
      }
      padding-bottom: 16px;
      padding-top: 16px;
    }

    [purpose='mobile-handbook-nav'] {
      line-height: 24px;
      p, a, strong {
        font-size: 12px;
      }
      a {
        color: @core-vibrant-blue;
        text-decoration: none;

        &.active {
          color: @core-vibrant-blue;
        }

      }

      [purpose='handbook-nav-button'] {
        color: @core-fleet-black;
        background-color: transparent;
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 16px;
        padding: 0;
        padding-top: 12px;
        padding-bottom: 12px;

        &:focus {
            box-shadow: none;
        }

      }

    }

  }

  [purpose='right-sidebar'] {
    min-width: 190px;
    max-width: 210px;

    p, a {
      font-size: 14px;
    }

    h4 {
      font-size: 16px;
    }

    [purpose='maintainer'] {

      .maintainer-image {
        height: 32px;
        width: 32px;
        border-radius: 100%;
        margin-bottom: 24px;
      }

      a {
        font-size: 14px;
      }

      h4 {
        font-size: 16px;
        font-weight: 700;
        padding-top: 16px;
      }

    }

    [purpose='subtopics'] {
      color: @core-fleet-black;
      border-left: 1px solid @core-vibrant-blue-25;
      box-sizing: content-box;

      ul {
        li:last-child {
          padding-bottom: 0px;
        }
      }
      a {
        color: @core-vibrant-blue;
        text-decoration: none;
        &:hover {
          color: @core-vibrant-blue;
        }

      }

      .active:before {
        border: 1.5px solid @core-vibrant-blue;
        background-color: @core-vibrant-blue;
        border-radius: 3px;
        content: '';
        margin-right: 14px;
        margin-left: -2px;
      }

    }

  }
    [purpose='content'] {

      h1 {
        padding-bottom: 16px;
        margin-bottom: 0px;
      }

      h2 {
        font-size: 24px;
        line-height: 28px;
        padding-top: 24px;
        padding-bottom: 24px;
      }

      h3 {
        font-size: 20px;
        line-height: 28px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 0px;
      }

      h4 {
        padding-bottom: 16px;
        margin-bottom: 0px;
      }

      h5 {
        margin-top: 16px;
        margin-bottom: 16px;
      }

      ul {
        list-style-type: disc;
        padding-left: 32px;
      }

      img {
        display: flex;
        max-width: 100%;
        height: auto;
        margin: auto;
        padding-top: 24px;
        padding-bottom: 24px;
      }

      span + ul {
        display: none; // Hides links at top of some markdown files
      }

      h2 + h3 {
        padding-top: 8px;
      }
      .note {
        background-color: @core-vibrant-blue-10;
        border-radius: 12px;
        text-decoration: none;
      }
      code {
        background-color: @ui-off-white;
        border: 1px solid @border-lt-gray;
        color: @core-fleet-black-75;
        font-size: 13px;
        padding: 4px 8px;
        line-height: 16px;
        font-family: @code-font;
        display: inline-block;
        border-radius: 6px;
      }

    }


    // for larger screens
    @media (min-width: 990px) {

      ul {
        .topic {
          padding-left: 8px;
        }
      }


      [purpose='page-title'] {

        h1 {
          display: block;
        }

      }



      [purpose='content'] {
        min-width: 0px; // in order for <pre> elements to shrink properly, the parent flex element needs to override min-width auto
      }

    }

    // for smaller screens
    @media (max-width: 990px) {

      padding: 0px 40px;

      [purpose="search"] {
        padding-top: 16px;
        padding-bottom: 24px;

      }

      [purpose='right-sidebar'] {
        width: 100%;
        max-width: 150px;

        [purpose='subtopics'] {
          color: @core-fleet-black;

          a {
            color: @core-vibrant-blue;
          }

        }

      }
      .left-side {
        padding-right: 40px;
      }

      [purpose='content'] {

        h1:first-of-type {
          display: none;  // hides on mobile
        }

      }

    }
    // for even smaller screens
    @media (max-width: 767px) {
      padding: 0px 40px;

      [purpose='right-sidebar'] {
        max-width: 100%;
        min-width: 100%;

        [purpose='subtopics'] {

          border-left: none;
          .active:before {
            border: none;
            padding: 0px;
            margin: 0px;
            content: '';

          }
        }
      }

    }

    // for mobile
    @media (max-width: 576px) {

      padding: 0px 24px;

      [purpose="search"] {
        min-width: calc(100% - 48px);


      }

    }



}
