.members {
  &__page-description {
    font-size: $x-small;
    color: $core-fleet-black;
    @include sticky-settings-description;
    padding-bottom: $pad-medium;

    a {
      color: $core-vibrant-blue;
      font-size: $x-small;
      font-weight: $bold;
      text-decoration: none;
    }
  }
}
