.pack-composer {
  &__pack-form {
    background-color: $white;
    border: 1px solid $silver;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    padding: $pad-small $pad-base;
  }
}
