.user-menu {
  padding: 0;

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__nav-item {
    font-size: $x-small;
    font-weight: $regular;
    cursor: pointer;

    &:hover {
      background-color: $core-black-over;
    }

    &--active {
      background-color: $core-black;
      border-right: 3px solid $core-blue;
      font-weight: $bold;

      &:hover {
        background-color: $core-black;
      }
    }

    a {
      transition: opacity 75ms $ease-in-quad, background 75ms $ease-in-quad;
      color: $white;
      display: flex;
      align-items: center;
      text-decoration: none;
      text-transform: none;
      padding: 11px 20px;
    }

    .icon {
      margin-right: 24px;
      width: 24px;
      height: 24px;
    }

    @include breakpoint(smalldesk) {
      a {
        padding: 11px 14px;

        span {
          display: none;
        }
      }
    }

    &:last-child {
      margin-bottom: 11px;
    }
  }
}
 