.user-menu {
  button {
    background-color: transparent;
  }

  .dropdown-button__options {
    padding: 8px;
    right: 10px;

    button {
      display: inline-block;
      min-width: 125px;

      &:hover {
        background-color: $info;
        color: #3e4771;
      }
    }
  }
}
