.software-vuln-count {
  font-size: $x-small;
  background-color: $ui-off-white;
  border: solid 1px $ui-fleet-black-50;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: auto;
  margin-bottom: $pad-large;
  padding: $pad-large;

  p {
    padding-left: $pad-large;
    margin-top: $pad-medium;
    margin-bottom: 0;
  }

  &__count {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: $x-small;
    font-weight: $bold;
    gap: $pad-small;
  }
}
