.app-wrap {
  .site-nav {
    height: 50px;
  }
  .site-nav-item:hover {
    background-color: initial;
  }
}

.device-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 50px;
  min-width: 0;
  background-color: $ui-off-white;
  gap: $pad-medium;

  .info-banner {
    &__cta {
      white-space: nowrap;
    }
  }
  a img.external-link-icon {
    width: 12px;
    height: 12px;
    margin-left: 0.25rem;
  }

  .button img {
    transform: scale(0.5);
  }

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $pad-xlarge 0;

    &__inner {
      display: flex;
      flex-direction: row;
    }

    .info {
      &__header {
        display: block;
        color: $core-fleet-black;
        font-weight: $bold;
        font-size: $x-small;
        text-align: left;
      }

      &__data {
        display: block;
        color: $core-fleet-black;
        font-weight: normal;
        font-size: $x-small;
        text-align: left;
        margin-top: 10px;
      }
    }
  }

  &__action-button-container {
    display: flex;
    align-items: center;
  }

  &__device_mapping {
    .device_mapping--tooltip {
      flex-direction: column;
      justify-content: start;
      text-align: left;
    }
  }

  &__wrapper {
    border: solid 1px $ui-fleet-black-10;
    border-radius: 6px;
    margin-top: $pad-small;
    overflow: scroll;
    box-shadow: inset -8px 0 17px -10px #e8edf4;
  }

  .tooltip__tooltip-icon {
    img {
      vertical-align: middle;
      height: 16px;
      width: auto;
    }
  }

  .section--policies
    .data-table-block
    .data-table__table
    thead
    .response__header {
    width: $col-md;
  }
}

.dup-org-logo {
  cursor: default;
}

#app .dark-mode { // Add specificity to ensure dark-mode styles are applied.
  background-color: $ui-dark-fleet-50;
  color: $ui-dark-white;

  .loading-spinner {
    background-color: initial;
  }

  .site-nav-container {
    background-color: $ui-dark-fleet-50;
  }
  .device-user {
    background-color: $ui-dark-fleet-50;

    h1,
    .react-tabs__tab--selected {
      background-color: $ui-dark-fleet-50;
      color: $ui-dark-white;
    }

    .table-container__results-count {
      background-color: $ui-dark-fleet-75;
      color: $ui-dark-white;
    }

    p,
    .last-fetched,
    .status-indicator {
      color: $ui-dark-grey;
    }

    .section {
      background-color: $ui-dark-fleet-75;
      border-color: $ui-dark-fleet-25; 
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

    .Select.dropdown__select {
      border: 1px solid $ui-dark-border;
    }

    .input-icon-field__input {
      border: 1px solid $ui-dark-border;
      color: $ui-dark-grey;
      background: $ui-dark-fleet-50;
    }

    .Select {
      .dropdown__select {
        color: $ui-dark-grey;
      }
      .Select-control {
        color: $ui-dark-grey;
        background: $ui-dark-fleet-50;
      }
      .Select-menu-outer {
        background-color: $ui-dark-modal-background;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: rgba(122, 134, 158, 0.1);
        box-shadow: 0px 4px 8px 0px rgba(25, 33, 71, 0.25);
      }
      .Select-option {
        color: $ui-dark-grey;
        background-color: $ui-dark-modal-background;
        .dropdown__help-text {
          color: $ui-dark-white;
        }
      }
      .Select-option.is-focused {
        background-color: $ui-dark-fleet-75;
      }
    }

    table,
    tr,
    .data-table-block {
      .table-container__header {
        svg {
          path {
            fill: $ui-dark-grey;
          }
        }
      }
    }

    .data-table__wrapper {
      background-color: $ui-dark-fleet-50;
      background-image: none;
      border-color: $ui-dark-fleet-25;
    }

    .data-table-block .data-table thead {
      border-bottom-color: $ui-dark-fleet-25;
    }

    .data-table-block,
    .data-table__table {
      border-color: $ui-dark-fleet-25;
      color: $ui-dark-grey;
      tr {
        border-bottom-color: $ui-dark-fleet-25;
      }
    }

    th {
      background-color: $ui-dark-fleet-50;
      border-color: $ui-dark-fleet-25;
      color: $ui-dark-white;
    }
    .section,
    .policy-failing-count,
    .software-vuln-count {
      background-color: $ui-dark-fleet-75;
    }
  }

  .component__tabs-wrapper {
    background-color: $ui-dark-fleet-50;
  }
  .react-tabs__tab-list {
    border-color: $ui-dark-grey;
  }

  .refetch {
    color: $ui-dark-focus;
    .refetch-offline {
      opacity: 85%;
    }
  }
  .data-table-block__pagination button:hover,
  .data-table-block__pagination button:focus {
    background-color: $ui-dark-fleet-50;
  }

  .info-flex,
  .info-grid {
    .info-flex__header,
    .info-grid__header {
      color: $ui-dark-white;
    }
    .info-flex__data,
    .info-grid__data {
      color: $ui-dark-grey;
    }
  }

  .info__header {
    color: $ui-dark-white;
  }
  .info__data {
    color: $ui-dark-grey;
  }

  .button--brand {
    background-color: $ui-dark-button;
    overflow: hidden;
    position: relative;
    &:before {
      background: $ui-dark-button-gradient;
      opacity: 1;
      content: " ";
      position: absolute;
      top: 0;
      left: -5px;
      width: 50%;
      height: 100%;
      transform: skew(-10deg);
      transition: left 0.5s ease-in, opacity 0.5s ease-in, width 0.5s ease-in;
    }
    &:hover:before {
      opacity: 0;
      left: 160px;
      width: 110%;
    }
  }
  .button--brand:hover:not(.button--disabled) {
    background-color: $ui-dark-button;
  }
  .__react_component_tooltip {
    background-color: $ui-dark-fleet-25;
    &::after {
      border-right-color: $ui-dark-fleet-25;
    }
  } 
  .modal__modal_container {
    background-color: $ui-dark-modal-background;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: $ui-dark-white;

    p {
      color: $ui-dark-white;
    }

    .modal__ex {
      svg {
        path {
          stroke: $ui-dark-blue-gray;
        }
      }
      :hover {
        svg {
          path {
            stroke: $ui-dark-grey;
          }
        }
      }
    }
  }
  .component__tooltip-wrapper__tip-text {
    background: $ui-dark-fleet-25;
  }
  .host-summary__tooltip-text::after {
    border-top-color: $ui-dark-fleet-25;
  }

  .text-muted {
    color: $ui-dark-fleet-10;
  }

  .button--text-icon:hover {
    color: $core-vibrant-blue-over;
  }

  .input-icon-field__input,
  .Select-control {
    border-color: $ui-dark-grey;
    background-color: $ui-dark-fleet-50;
    color: $ui-dark-grey;
  }

  // Arrow stroke/fill behaves differently
  .dropdown__custom-arrow {
    svg {
      path {
        stroke: $ui-dark-grey;
        fill: none;
      }
    }
  }
  .input-icon-field {
    :hover,
    :focus {
      border-color: $core-vibrant-blue-over;

      svg {
        path {
          fill: $ui-dark-white;
        }
      }
    }
  }

  .Select.is-focused > .Select-control {
    background-color: $ui-dark-fleet-50;
  }

  .Select.is-focused,
  .Select.is-open {
    background-color: $ui-dark-fleet-50;

    .Select-menu-outer,
    .Select-menu {
      background-color: $ui-dark-fleet-50;
    }
    .Select.is-focused {
      background-color: $ui-dark-fleet-75;
    }
    .Select-option.is-selected {
      background-color: $ui-dark-fleet-25;
    }
  }
  .Select-input,
  .Select-input:focus {
    background-color: $ui-dark-fleet-50;
  }
  .dropdown__option {
    color: $ui-dark-white;
  }
  .dropdown__help-text {
    color: $ui-dark-grey;
  }
}
