.app-wrap {
  .site-nav {
    height: 50px;
  }
}

// styles specific to DeviceUserPage
// for styles that should apply to both DeviceUserPage and HostDetailsPage (most of them),
// update frontend/pages/hosts/details/_styles.scss/ `.host-details, .device-user {...}`
.device-user {
  justify-content: flex-start;
  padding-bottom: 50px;
  min-width: 0;

  .info-banner {
    &__cta {
      white-space: nowrap;
    }
  }
  a img.external-link-icon {
    width: 12px;
    height: 12px;
    margin-left: 0.25rem;
  }

  .button img {
    transform: scale(0.5);
  }

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $pad-xlarge 0;

    &__inner {
      display: flex;
      flex-direction: row;
    }
  }

  &__device_mapping {
    .device_mapping--tooltip {
      flex-direction: column;
      justify-content: start;
      text-align: left;
    }
  }

  &__wrapper {
    border: solid 1px $ui-fleet-black-10;
    border-radius: 6px;
    margin-top: $pad-small;
    overflow: scroll;
    box-shadow: inset -8px 0 17px -10px #e8edf4;
  }

  .tooltip__tooltip-icon {
    img {
      vertical-align: middle;
      height: 16px;
      width: auto;
    }
  }

  .policies-card .data-table-block .data-table__table thead .response__header {
    width: $col-md;
  }
}

.dup-org-logo {
  cursor: default;
}
