.app-wrap {
  .site-nav {
    height: 50px;
  }
}

.device-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 50px;
  min-width: 0;
  background-color: $ui-off-white;
  gap: $pad-medium;

  .info-banner {
    &__cta {
      white-space: nowrap;
    }
  }
  a img.external-link-icon {
    width: 12px;
    height: 12px;
    margin-left: 0.25rem;
  }

  .button img {
    transform: scale(0.5);
  }

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $pad-xlarge 0;

    &__inner {
      display: flex;
      flex-direction: row;
    }

    .info {
      &__header {
        display: block;
        color: $core-fleet-black;
        font-weight: $bold;
        font-size: $x-small;
        text-align: left;
      }

      &__data {
        display: block;
        color: $core-fleet-black;
        font-weight: normal;
        font-size: $x-small;
        text-align: left;
        margin-top: 10px;
      }
    }
  }

  &__action-button-container {
    display: flex;
    align-items: center;
  }

  &__device_mapping {
    .device_mapping--tooltip {
      flex-direction: column;
      justify-content: start;
      text-align: left;
    }
  }

  &__wrapper {
    border: solid 1px $ui-fleet-black-10;
    border-radius: 6px;
    margin-top: $pad-small;
    overflow: scroll;
    box-shadow: inset -8px 0 17px -10px #e8edf4;
  }

  .tooltip__tooltip-icon {
    img {
      vertical-align: middle;
      height: 16px;
      width: auto;
    }
  }

  .section--policies
    .data-table-block
    .data-table__table
    thead
    .response__header {
    width: $col-md;
  }
}

.dup-org-logo {
  cursor: default;
}

.dark-mode {
  .device-user {
    background-color: $ui-dark-fleet-50;
    color: $ui-dark-white;
  }

  table {
    border-color: $ui-dark-fleet-25;
  }

  th {
    background-color: $ui-dark-fleet-50;
    border-color: $ui-dark-fleet-25;
    color: $ui-dark-white;
  }
  tbody,
  .section,
  .policy-failing-count {
    background-color: $ui-dark-fleet-75;
  }
  .data-table-block {
    color: $ui-dark-grey;
  }

  .component__tabs-wrapper {
    background-color: $ui-dark-fleet-50;
  }
  .react-tabs__tab-list {
    border-color: $ui-dark-grey;
  }
}
