.integrations-management {
  &__page-description {
    font-size: $x-small;
    color: $core-fleet-black;
  }

  .no-integrations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $pad-xxxlarge;

    ul {
      margin: 0;
      padding: 0;
      color: $core-fleet-black;
      list-style: none;

      li {
        &::before {
          content: "•";
          color: $core-vibrant-blue;
          margin-right: $pad-medium;
        }
      }
    }

    &__inner {
      display: flex;
      flex-direction: row;

      h1 {
        font-size: $small;
        font-weight: $bold;
        margin-bottom: $pad-medium;
      }

      img {
        width: 176px;
        margin-right: $pad-xlarge;
      }

      p {
        color: $core-fleet-black;
        font-weight: $regular;
        font-size: $x-small;
        margin: 0;
        margin-bottom: $pad-large;
      }

      .no-filter-results {
        display: flex;
        flex-direction: column;
        width: 350px;
      }
    }

    &__inner-text {
      width: 350px;
    }
  }

  .type__header {
    width: 12px;
  }

  .type__cell {
    .logo-cell {
      display: block;
      text-align: center;
    }

    .zendesk-icon {
      width: 16px;
    }

    .jira-icon {
      width: 24px;
    }
  }
  .empty-table__container {
    padding: px-to-rem(64) $pad-large;
    border-radius: $pad-xsmall;
    border: px-to-rem(1) solid $ui-fleet-black-10;
    margin: 0;
    h3 {
      margin-bottom: px-to-rem(10);
    }
  }
}
