.edit-pack-form {
  h1 {
    margin: 0 0 20px;
  }

  &__pack-title {
    .input-field {
      width: 100%;
    }
  }

  &__pack-description {
    .input-field {
      width: 100%;
    }
  }

  &__description {
    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__pack-buttons {
    margin: $pad-large 0;
    text-align: right;

    .button {
      margin-left: 15px;
    }
  }
}
