.edit-pack-form {
  &__pack-title {
    .input-field {
      width: 100%;
    }
  }

  &__pack-description {
    .input-field {
      width: 100%;
    }
  }

  &__description {
    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__pack-buttons {
    display: flex;
    justify-content: flex-end;
    gap: $pad-medium;
  }
}
