.target-option {
  &__btn {
    background-color: $brand;
    border: 0;
    box-shadow: 0 3px 0 $brand-dark;
    float: right;
    padding: 0 $medium;
  }

  &__count {
    background-color: $text-medium;
    border-radius: $border-radius;
    color: $white;
    font-size: $small;
    font-weight: bold;
    padding: 5px;
  }

  &__delimeter {
    color: $text-dark;
    font-weight: $bold;
    margin: 0 $xsmall;
  }

  &__icon {
    color: $text-medium;
    font-size: $base;
    margin: 0 0 0 $base;
  }

  &__ip {
    color: $link;
    font-size: $small;
  }

  &__label-host {
    color: $link;
    font-size: $base;
    margin-left: $xsmall;
  }

  &__label-label {
    color: $text-medium;
    font-size: $base;
    margin-left: $xsmall;

    .all-hosts {
      font-weight: $bold;
    }
  }

  &__more-info {
    color: $brand;
    cursor: pointer;
    float: right;
    margin-right: $base;
  }

  &__target-icon {
    font-size: $base;
    color: $text-medium;
    margin-right: $xsmall;
  }

  &__target-modal {
    width: 1000px;
  }

  &__wrapper {
    cursor: default;
  }
}
