# Copyright (c) 2020-present, The kubequery authors
#
# This source code is licensed as defined by the LICENSE file found in the
# root directory of this source tree.
#
# SPDX-License-Identifier: (Apache-2.0 OR GPL-2.0-only)

.vscode
vendor
kubequery.yaml
/bin/genschema
/bin/gentables
/bin/kubequery
/bin/uuidgen
