[class^="kolidecon-"], [class*=" kolidecon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kolidecons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

kolidecon-centos:before {
  content: "\e91f";
}
.kolidecon-windows:before {
  content: "\e920";
}
.kolidecon-ubuntu:before {
  content: "\e921";
}
.kolidecon-hamburger:before {
  content: "\e922";
}

.kolidecon-logoflat:before {
  content: "\e91d";
}

.kolidecon-logoflat:after {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.kolidecon-tag:before {
  content: "\e916";
}
.kolidecon-uptime:before {
  content: "\e915";
}
.kolidecon-world:before {
  content: "\e917";
}
.kolidecon-mac:before {
  content: "\e918";
}
.kolidecon-memory:before {
  content: "\e919";
}
.kolidecon-storage:before {
  content: "\e91a";
}
.kolidecon-cpu:before {
  content: "\e91b";
}
.kolidecon-apple:before {
  content: "\e91c";
}
.kolidecon-chevrondownbold:before {
  content: "\e90d";
}
.kolidecon-chevronupbold:before {
  content: "\e90e";
}
.kolidecon-chevronleftbold:before {
  content: "\e90f";
}
.kolidecon-chevronrightbold:before {
  content: "\e910";
}
.kolidecon-chevrondown:before {
  content: "\e911";
}
.kolidecon-chevronup:before {
  content: "\e912";
}
.kolidecon-chevronleft:before {
  content: "\e913";
}
.kolidecon-chevronright:before {
  content: "\e914";
}
.kolidecon-filter:before {
  content: "\e906";
}
.kolidecon-penciledit:before {
  content: "\e907";
}
.kolidecon-upcarat:before {
  content: "\e90b";
}
.kolidecon-downcarat:before {
  content: "\e90c";
}
.kolidecon-username:before {
  content: "\e900";
}
.kolidecon-password:before {
  content: "\e902";
}
.kolidecon-email:before {
  content: "\e904";
}
.kolidecon-search:before {
  content: "\e909";
}
.kolidecon-hosts:before {
  content: "\e901";
}
.kolidecon-query:before {
  content: "\e903";
}
.kolidecon-packs:before {
  content: "\e905";
}
.kolidecon-alerts:before {
  content: "\1f32b";
}
.kolidecon-help:before {
  content: "\e908";
}
.kolidecon-admin:before {
  content: "\e90a";
}
