.sandbox-expiry-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $pad-large $pad-xlarge;
  margin-bottom: $pad-large;
  background-color: $ui-vibrant-blue-10;
  border: 1px solid $ui-vibrant-blue-50;
  border-radius: $border-radius;
  font-size: $x-small;
  color: $core-fleet-black;
  font-weight: $regular;
  position: relative; // Position in front of settings sticky header space
  z-index: 9; // Position in front of settings sticky header space

  p {
    margin: 0;
  }

  &__tip {
    display: flex;
    align-items: center;
    gap: $pad-small;

    button {
      margin-left: $pad-small;
    }
  }

  .button {
    font-size: $xx-small;
    font-weight: $bold;
  }
}
