.run-query-page {
  &__results {
    display: flex;
    flex-grow: 1;
    position: relative;
    min-height: 400px;
  }

  .ace_content {
    min-height: 500px !important;
  }

  &__target-selectors {
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 980px;

    h3 {
      margin-top: 24px;
      margin-bottom: 8px;
      font-size: $x-small;
    }

    .selector-block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: $pad-small;
    }

    .input-icon-field {
      width: 600px;
    }

    .expand-button-wrap {
      margin-top: -$pad-small;
    }
  }

  &__empty-entity-search {
    margin-top: $pad-small;
    font-size: $x-small;
    line-height: 21px; /* 150% */
  }

  &__targets-button-wrap {
    margin-top: 30px;
    display: flex;
    align-items: center;

    button:not(:first-of-type) {
      margin-left: 16px;
    }
  }
  &__targets-total-count {
    margin-left: 16px;
    font-size: $x-small;
    display: flex;
    align-items: center;

    .icon-tooltip {
      margin-left: $pad-small;
    }
  }
  &__count-spinner {
    margin-right: $pad-small;
  }
  &__page-loading {
    .loading-spinner {
      margin: $pad-large 0 0;
    }
  }
  &__page-error {
    h4 {
      margin: 0;
      margin-top: 28px;
      margin-left: -7px;
      font-size: $small;

      img {
        transform: scale(0.5);
        vertical-align: middle;
        position: relative;
        top: -2px;
      }
    }
    p {
      margin: 0;
      margin-top: $pad-medium;
      font-size: $x-small;
    }
  }
}
