.table-container {
  // TODO: Fix hacky solution to clientside search being 0 no longer accessing rows.length
  .client-result-count-0 {
    display: none;
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $pad-medium;

    &.stack-table-controls {
      flex-direction: column-reverse;
      align-items: start;

      @media (min-width: $break-768) {
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
      }
      @media (min-width: $break-990) {
        align-items: center;
      }
    }
  }

  &__header-left {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &.stack-table-controls {
      flex-direction: column-reverse;
      align-items: start;

      @media (min-width: $break-990) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__results-count {
    font-size: $x-small;
    font-weight: $bold;
    color: $core-fleet-black;
    margin: 0;

    &.stack-table-controls {
      padding-top: $pad-large;

      @media (min-width: $break-990) {
        padding-top: 0;
      }
    }
  }

  // &__table-controls {
  //   display: flex;
  //   justify-content: flex-end;
  //   align-items: center;
  // }

  &__edit-columns-button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: $core-vibrant-blue-over;
  }

  &__search-input {
    position: relative;
    color: $core-fleet-blue;
    width: 100%;
    margin-left: $pad-small;

    .search-field__input-wrapper {
      width: 250px;
      margin-bottom: 0;
      @media (min-width: $break-768) {
        width: 300px;
      }
      @media (min-width: $break-990) {
        width: 344px;
      }
    }

    &.stack-table-controls {
      padding-bottom: $pad-large;
      margin-left: 0;

      @media (min-width: $break-768) {
        margin-left: $pad-medium;
        padding-bottom: 0;
      }
    }

    &::before {
      display: inline-block;
      position: absolute;
      padding: 5px 0 0 0; // centers spin
      content: url(../assets/images/icon-search-fleet-black-16x16@2x.png);
      transform: scale(0.5);
      height: 20px;
      top: 3px;
      left: 8px;
    }

    .input-field {
      padding-left: 42px;
      width: 100%;
    }

    .fleeticon {
      position: absolute;
      top: 10px;
      left: 12px;
      font-size: $medium;
      color: $core-fleet-black;
    }
  }

  .wide-search {
    width: 100%;
    margin-left: 0;
    padding-bottom: $pad-medium;
  }

  &__empty-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__previous {
    width: 350px;

    .pagination__pager-wrap {
      justify-content: left;

      button:last-child {
        display: none;
      }
    }
  }

  #search-tooltip {
    width: 196px;
    text-align: center;
  }
}
