.manage-queries-page {
  &__delete-queries-btn {
    font-size: 15px;
    font-weight: $regular;
  }

  &__header-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__ctas {
    flex-grow: 1;
    text-align: right;
  }

  &__query-count {
    color: $core-dark-blue-grey;
    font-size: $x-small;
    font-weight: $bold;
    margin: 0 12px 0 0;
    display: inline-block;
  }

  &__filter-and-cta {
    display: flex;
    margin-bottom: $pad-small;

    .form-field {
      margin: 0;
    }

    input {
      &[name="query-filter"] {
        width: 100%;
        margin-top: 24px;
      }
    }
  }

  &__filter-queries {
    flex-grow: 1;
    position: relative;

    .input-field {
      padding-left: 42px;
    }

    .kolidecon {
      position: absolute;
      top: 36px;
      left: 9px;
      font-size: 18px;
      color: $ui-medium-grey;
    }
  }

  &__title {
    margin: 0 0 12px;
  }

  &__wrapper {
    padding: 40px 30px;
  }

  &__modal-btn-wrap {
    display: flex;
    flex-direction: row-reverse;

    .button {
      margin-left: 15px;
      width: 120px;
    }
  }

  &__empty-label {
    font-size: $medium;
    font-weight: $bold;
    padding: 20px 20px 0;
    margin: 24px 0;
  }

  &__empty-description {
    font-size: $small;
    font-style: italic;
    padding: 0 20px;
    margin: 0;
  }
}
