.sandbox-expiry-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px $pad-large;
  margin-bottom: $pad-large;
  background-color: $ui-expiry-message;
  border: 1px solid #ece0bb;
  border-radius: $border-radius;
  font-size: $xx-small;

  color: $core-fleet-black;
  font-weight: $regular;

  &:hover {
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  span {
    display: flex;
    align-items: center;
    color: $core-fleet-black;
    font-weight: $bold;
    text-align: right;
  }
}
