<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<div style="padding: 24px 0px 0px 0px">
<h2 style="font-weight: 600; font-size: 24px; margin-bottom: 32px; margin-top: 0px">Your Fleet Sandbox instance is ready</h2>
<p style=" font-size: 16px; line-height: 24px; margin-bottom: 32px; margin-top: 0px">You can now access Fleet.</p>

<a style="cursor: pointer; font-size: 16px; line-height: 40px; font-weight: 600; margin-bottom: 32px; background: #6A67FE; border-radius: 8px; height: 40px; display: block; color: #FFF; width: 300px; text-decoration: none; text-align: center;" href="https://fleetdm.com/try-fleet/sandbox" target="_blank">Play in the Fleet Sandbox</a>
<p style="font-size: 16px; line-height: 24px; margin-bottom: 32px;">Best,<br> The Fleet team</p>

</div>
