<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<div style="padding: 0px 0px 0px 0px">
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 32px; margin-top: 0px">Hi <%- firstName %>,</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 32px; margin-top: 0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 32px; margin-top: 0px">Donec venenatis malesuada ullamcorper. Integer ut urna quis diam rhoncus <a>porta quis sit amet leo.</a></p>

</div>
