<% /* Note: This is injected into `views/layouts/layout-nurture-email.ejs` */ %>
<div style="padding: 0px 0px 0px 0px">
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">Hi there,</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 48px; margin-top: 0px">In the process of migrating the license key database for the Fleet website, we hit a snag and figured "why not just let everybody have a new 30 day trial?"</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 48px; margin-top: 0px">
You can visit <a style="color: #6A67FE; text-decoration: none; word-break: break-word;" href="https://fleetdm.com/try-fleet" target="_blank">https://fleetdm.com/try-fleet</a> if you'd like to try it out.</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 48px; margin-top: 0px">Enjoy!<br> Mike, CEO</p>

</div>
