<% /* Note: This is injected into `views/layouts/layout-nurture-email.ejs` */ %>
<div style="padding: 0px 0px 0px 0px">
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">Hi <%- firstName %>,</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 48px; margin-top: 0px">There’s never a good time to migrate your MDM, but Fleet makes it easier. Here’s what the deployment process looks like: <a style="color: #6A67FE; text-decoration: none; word-break: break-word;" href="https://fleetdm.com/docs/deploy/deploy-fleet" target="_blank">https://fleetdm.com/docs/deploy/deploy-fleet</a></p>

</div>
