<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<div style="padding: 0px 0px 0px 0px;">
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">Hi <%= firstName %>,</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">Thanks for applying to Fleet.</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">If your background fits one of our open roles, we'll be in touch within ~7 days to schedule an interview. If you don't hear from us by then, you're welcome to apply again in the future.</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">PS. Read more about Fleet and how we work at <a style="color: #009A7D; line-height: 24px; text-decoration: none;" href="<%= url.resolve(sails.config.custom.baseUrl,'/handbook/company/why-this-way')%>">fleetdm.com/handbook/company/why-this-way</a>.</p>
</div>
