<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<h2 style="margin-bottom: 32px; font-size: 24px; font-style: normal; font-weight: 700; line-height: 33px; letter-spacing: 0em; text-align: left;">Reset your Fleet password</h2>
<p style="margin-bottom: 32px;">Someone requested a password reset for your Fleet account.<br>Please click below to reset your password:</p>

  <div style="background: #6A67FE; display: inline-block; color: white; text-decoration: none; border-radius: 4px; text-align: center; width: 151px; padding: 8px 16px 8px 16px" >
    <a style="margin: auto; font-size: 16px; text-decoration: none; color: white; line-height: 22px;" href="<%= url.resolve(sails.config.custom.baseUrl,'/customers/new-password')+'?token='+encodeURIComponent(token) %>">Update password</a>
  </div>
  <p style="margin-bottom: 32px; padding-top: 32px; font-style: italic;"> If you did not make the request, you may ignore this email as no changes have been made.</p>
