<% /* Note: This is injected into `views/layouts/layout-nurture-email.ejs` */ %>
<div style="padding: 0px 0px 0px 0px">
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">Hi <%- firstName %>,</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">We noticed that you were checking out Fleet recently. What did you think?</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 48px; margin-top: 0px">PS. One of our founders is holding a small group call this Friday to help folks get set up. Feel free to join us: <a style="color: #6A67FE; text-decoration: none; word-break: break-word;" href="https://calendly.com/fleetdm/chat" target="_blank">https://calendly.com/fleetdm/chat</a></p>

</div>
