<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<div style="padding: 0px 0px 0px 22px">
<p style="margin-bottom: 4px;">In case you want to watch it again</p>
<h2 style="font-weight: 800; font-size: 32px; line-height: 48px; margin-bottom: 32px; margin-top: 0px">Fleet brings GitOps to MDM</h2>

<a style="cursor: pointer; font-size: 16px; line-height: 54px; font-weight: 700; margin-bottom: 32px; background: #FF5C83; border-radius: 8px; height: 54px; display: block; color: #FFF; width: 260px; text-decoration: none; text-align: center;" href="https://play.goconsensus.com/ue326b4dd" target="_blank">Watch Dave's MDM demo</a>

  <div style="font-size: 14px; line-height: 20px; color: #515774">
    <p><span style="background-image: url('https://fleetdm.com/images/icon-checkmark-green-16x16@2x.png'); background-size: 14px 14px;  display: inline-block; position: relative; top: 2px;margin-right: 8px; width: 14px; height: 14px;"></span>Zero-touch setup for macOS computers</p>
    <p><span style="background-image: url('https://fleetdm.com/images/icon-checkmark-green-16x16@2x.png'); background-size: 14px 14px;  display: inline-block; position: relative; top: 2px;margin-right: 8px; width: 14px; height: 14px;"></span>Safely execute remote scripts*</p>
    <p><span style="background-image: url('https://fleetdm.com/images/icon-checkmark-green-16x16@2x.png'); background-size: 14px 14px;  display: inline-block; position: relative; top: 2px;margin-right: 8px; width: 14px; height: 14px;"></span>Self-managed or private cloud hosted</p>

    <p style="margin-top: 32px">* Coming soon</p>
  </div>
</div>
