<% /* Note: This is injected into `views/layouts/layout-nurture-email.ejs` */ %>
<div style="padding: 0px 0px 0px 0px;">
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">Hi <%- firstName %>,</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">Your 30-day trial has finished. How was it?</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px"><a style="color: #009A7D; line-height: 24px; text-decoration: none;" href="https://fleetdm.com/new-license">Get a Premium license</a> to keep everything unlocked, or you can continue with the free edition.</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">Read about the <a style="color: #009A7D; line-height: 24px; text-decoration: none;" href="https://fleetdm.com/releases">latest Fleet release</a>.</p>
</div>
