<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<div style="padding: 0px 0px 0px 0px;">
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">Hi <%= firstName %>,</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">We are so glad to hear your interest in working together at Fleet.</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">If your background is a good fit for the positions we have open currently and we are able to schedule an interview with you, we’ll be in touch again within about ~7 days. If you don’t hear from us by then, please feel free to apply again in the future.</p>
  <p style=" font-size: 16px; line-height: 24px; margin-bottom: 24px; margin-top: 0px">PS. You can read more about Fleet and how we work at <a style="color: #009A7D; line-height: 24px; text-decoration: none;" href="<%= url.resolve(sails.config.custom.baseUrl,'/handbook/company/why-this-way')%>">fleetdm.com/handbook/company/why-this-way</a>.</p>
</div>
