.host-details {
  // grid layout styles for the host details page
  &__details-panel {
    .card {
      margin-bottom: $pad-medium;
      box-sizing: border-box;
    }
    @media(min-width: $break-sm) {
      display: grid;
      gap: $pad-medium;
      .card {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (min-width: $break-md) {
    // default grid to show for non macos, ios, or ipados hosts.
    &__details-panel.react-tabs__tab-panel--selected {
      // Must be selected to show grid
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "about about"
        "activity agent-options"
        "activity labels"
        "users users";
    }

    // No agent options card for i(Pad)OS, so extend Labels card vertically.
    // We also add the certs card to the grid layout on mac hosts
    &__details-panel--ios-grid.react-tabs__tab-panel--selected {
      grid-template-areas:
        "about about"
        "activity labels"
        "certs certs";
    }

    // No agent options card for Android, so extend Labels card vertically.
    &__details-panel--android-grid.react-tabs__tab-panel--selected {
      grid-template-areas:
        "about about"
        "labels labels";
    }

    // We add the certs card to the grid layout on mac hosts
    &__details-panel--macos-grid.react-tabs__tab-panel--selected {
      grid-template-areas:
        "about about"
        "activity agent-options"
        "activity labels"
        "users users"
        "certs certs";
    }

    .about-card {
      grid-area: about;
    }

    .activity-card {
      grid-area: activity;
    }

    .agent-options-card {
      grid-area: agent-options;
    }

    .labels-card {
      grid-area: labels;
    }

    .users-card {
      grid-area: users;
    }

    .certificates-card {
      grid-area: certs;
    }
  }

  .about-card,
  .agent-options-card {
    .info {
      &__item {
        &--about {
          margin-right: 92px;
          flex-direction: row;
        }
      }
      &__data {
        margin-bottom: $pad-medium;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .munki-issues-card {
    margin-top: $pad-medium;
  }

  .button img {
    transform: scale(0.5);
  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;
    margin: $pad-xxlarge 0 0;
  }

  &__device_mapping {
    .device_mapping--tooltip {
      flex-direction: column;
      justify-content: start;
      text-align: left;
    }
  }

  .tooltip__tooltip-icon {
    img {
      vertical-align: middle;
      height: 16px;
      width: auto;
    }
  }
}
