.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $pad-small;

  &__label {
    font-size: $x-small;
    font-weight: $bold;
    color: $core-fleet-black;
    // display: block;
    // min-height: $form-field-label-height;

    &--error {
      font-weight: $bold;
      color: $core-vibrant-red;
    }

    // so tooltips won't be triggered with whitespace
    &[data-has-tooltip="true"] {
      margin-bottom: $pad-small;
      display: inline-flex;
    }
  }

  &__help-text {
    @include help-text;

    code {
      color: $core-vibrant-blue;
      background-color: $ui-light-grey;
      padding: $pad-xxsmall;
      font-family: "SourceCodePro", $monospace;
    }
  }

  &--checkbox {
    // flex properties only have an effect when checkbox help text is present
    display: flex;
    flex-direction: column;
    gap: $pad-small;
  }

  &--slider {
    margin-bottom: 0;
  }
}
