.form-field {
  margin-bottom: $pad-large;

  &__label {
    font-size: $x-small;
    font-weight: $bold;
    color: $core-fleet-black;
    display: block;
    margin-bottom: $pad-xsmall;

    &--error {
      font-weight: $bold;
    }
  }

  &__hint {
    font-size: $x-small;
    font-style: italic;
    font-weight: $regular;
    line-height: 20px;
    display: inline-block;
    margin-top: $pad-small;

    code {
      color: $core-vibrant-blue;
      background-color: $ui-light-grey;
      padding: $pad-xxsmall;
      font-family: "SourceCodePro", $monospace;
    }
  }
}
