.edit-software-modal {
  &__form-inputs {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
  }

  &__input-field {
    display: flex;
    flex-direction: column;
    gap: $pad-medium;
  }

  &--hidden {
    display: none;
  }

  .software-vpp-form__form-frame {
    flex-direction: column;
  }
}
