.vpp-section {

  // TODO: this is very similar to the Apple Mdm card, consider pulling out
  // into a shared component if we do this pattern one more time.
  &__card {

    h3 {
      font-size: $x-small;
      font-weight: $bold;
      margin: 0 0 $pad-xsmall;
    }

    p {
      margin: 0;

      span {
        display: flex;
        align-items: center;
        gap: $pad-small;
      }
    }

    &__turn-on-mdm {
      flex-direction: column;
      align-items: flex-start;
      gap: $pad-medium;

      .button {
        height: auto;
      }
    }
  }

  &__mdm-disabled-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $pad-medium;
  }

  &__vpp-on-content, &__vpp-off-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
