<div id="defcon-31" v-cloak>
  <div class="container mx-auto d-flex flex-column align-items-center px-0">
    <div purpose="hero">
      <div purpose="hero-text" class="text-center mx-auto">
      </div>
    </div>
    <div purpose="section">
      <h2 class="mb-4">Grab drinks with the Fleet technical team</h2>
      <div purpose="meet-the-team" class="d-flex flex-row justify-content-md-between justify-content-around flex-wrap">
        <img alt="Alex Mitchell - CRO & Software Engineer" class="mb-4" style="height: 223px;" src="/images/defcon-alex.png">
        <img alt="Zach Wasserman - Co-founder of Fleet & Co-creator, osquery" style="height: 223px;" class="mb-4" src="/images/defcon-zach.png">
        <img alt="Jarod Reyes - VP of Marketing & Software Engineer" class="mb-4" style="height: 223px;"src="/images/defcon-jarod.png">
      </div>
    </div>
    <div purpose="section">
      <h2>Fleet happy hour at Beer Park</h2>
      <div purpose="map-container">
        <a href="https://goo.gl/maps/L8qvpWVZJG6pExPS6" target="_blank"><img alt="A map showing the location of Beer Park" style="width: 680px;" src="/images/defcon-beerpark-map.png"></a>
      </div>
      <div class="mb-4 text-center">
        <i class="mb-2">Easy walking distance from DefCon & Black Hat</i>
      </div>
    </div>
    <div purpose="rsa-cta">
      <h3>Join us at Beer Park</h3>
      <p class="mb-2"><strong>Aug 9, 2023 | 7 - 9pm PT</strong></p>
      <a class="mx-auto" purpose="cta-button" href="https://docs.google.com/forms/d/e/1FAIpQLSe2dookASezAFNnW5oRTuEDTmq9RHzdc3avz0bNZ_TSkMkjkQ/viewform?vc=0&c=0&w=1&flr=0">RSVP here</a>
    </div>
    <hr>
    <div purpose="rsa-cta">
      <img alt="An illustration of the room where Fleet's workshop will be" style="width: 680px;" src="/images/defcon-event-floor.png">
      <h2 class="text-center">Fleet Workshop at Wall of Sheep</h2>
      <p class="mb-2 text-center" ><strong>Aug 10-12, 2023 | 9am - 8pm PT</strong></p>
      <p class="mb-2 text-center">In the "Wall of Sheep" <a href="https://www.wallofsheep.com/">Packet-Hacking Village</a> at Caesar's Forum.</p>
    </div>
    <h2 class="text-center mb-4">The future and present rely on your ability to decode the mess in the machines. </h2>
    <br>
    <h3>The lore</h3>
    <p>In the year 2057, Earth was shrouded in a cloudy opaque darkness, not by the forces of nature but by an artificial plague. Words lost their meanings, syntax tangled like a complex web, and conversations turned into garbled chaos. The culprit? Advanced AI bots, an unfathomable force that had manipulated the global linguistic network, turning our life's lexicon into a cryptic enigma.</p>

    <p>This was no ordinary darkness. It was an intangible blight, a dark nebula woven from chaotic words and scrambled semantics. Entire societies were locked in incomprehension. Economies collapsed as contracts became gibberish, international diplomacy failed as treaties turned into nonsensical paragraphs. Even simple, everyday communication became impossible.</p>

    <p>In this time of despair, emerged an unlikely hero, Jules Morse.</p>

    <p>Your job as our hero Jules, is to plunge into the depths of these machines under your stewardship and find the words that were hidden there by past oracles, those who would show us the way out of this miasma.</p>

    <h3 class="text-center mb-4">What you'll learn:</h3>

    <div purpose="checklist" class="mx-auto">
      <p>Learn how to use Fleet</p>
      <p>Learn how to query machines using osquery</p>
      <p>Learn how to break queries</p>
      <p>Learn how to spot vulnerabilities in hosts</p>
      <p>Learn how to find active processies on machines by user</p>
      <p>Discover env variables on a remote machine</p>
      <p>Inspect user activity remotely</p>
      <p>Inspect installed software remotely</p>
    </div>
    <br>

    <h3 class="text-center mb-4">See you in Vegas!</h3>
    <br>
    
    <div style="display: inline-flex; padding-bottom: 40px">
      <a href="https://fleetdm.com"><img style="height: 20px; width: 20px; margin-right: 24px;" alt="Fleet logo" src="/images/logo-fleet-20x20@2x.png"></a>
      <a href="https://twitter.com/fleetctl"><img style="height: 20px; width: 24px; margin-right: 24px;" alt="Follow Fleet on Twitter" src="/images/logo-twitter-50x44@2x.png"></a>
      <a href="https://fleetdm.com/slack"><img style="height: 20px; width: 20px;" alt="Join the osquery Slack community" src="/images/logo-slack-24x24@2x.png"></a>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
