<div id="launch-party" v-cloak>
  <div class="container mx-auto d-flex flex-column align-items-center px-0">
    <div purpose="hero">
      <div purpose="hero-text" class="text-center mx-auto">
        <h1>The path to a better<br> MDM starts here</h1>
        <p>Introducing an MDM your security team will love</p>
      </div>
    </div>
    <div purpose="rsa-cta">
      <h2>Launch party at Press Club</h2>
      <p class="mb-2"><strong>April 27, 2023 | 5 - 8pm PT</strong></p>
      <a class="mx-auto" purpose="cta-button" @click="clickOpenModal()">Join the wait list</a>
    </div>
    <h2 class="text-center mb-4">Join us in celebrating Fleet’s new MDM features</h2>
    <div purpose="checklist" class="mx-auto">
      <p>Report on disk encryption status</p>
      <p>User-initiated device enrollment</p>
      <p>Remotely enforce OS settings</p>
      <p>Zero-touch device setup</p>
      <p>Remotely update OS version</p>
      <p>Low-level MDM commands</p>
      <p>Keep OS up to date through reminders</p>
      <p>Encrypt computer hard disks</p>
      <p>Manage queued MDM commands</p>
      <p>Remotely lock and wipe computers</p>
      <p>Trigger a workflow based on a failing policy</p>
      <p>Update apps on computers</p>
    </div>
    <div purpose="section">
      <h2 class="mb-4">Enjoy drinks and talk to the Fleet team</h2>
      <div purpose="meet-the-team" class="d-flex flex-row justify-content-md-between justify-content-around flex-wrap">
        <img alt="Mike McNeil - Co-founder, CEO Fleet" class="mb-4" style="height: 223px;" src="/images/rsa-team-mike-210x223@2x.png">
        <img alt="Zach Wasserman - Co-founder of Fleet & Co-creator, osquery" style="height: 242px;" class="mb-4" src="/images/rsa-team-zach-210x242@2x.png">
        <img alt="Reid Christian - General Partner, CRV" class="mb-4" style="height: 223px;"src="/images/rsa-team-reid-210x223@2x.png">
      </div>
    </div>
    <div purpose="section">
      <div class="mb-4 text-center">
        <h2 class="mb-2">Easy walking distance from RSA</h2>
      </div>
      <div purpose="map-container">
        <a href="https://goo.gl/maps/YHD5S3fJcYz46r1h6" target="_blank"><img alt="A map showing the location of Press Club" style="width: 680px;" src="/images/rsa-static-map-681x342@2x.png"></a>
      </div>
    </div>
    <div purpose="rsa-cta">
      <h2>Launch party at Press Club</h2>
      <p class="mb-2"><strong>April 27, 2023 | 5 - 8pm PT</strong></p>
      <a class="mx-auto" purpose="cta-button" @click="clickOpenModal()">Join the wait list</a>
    </div>
    <hr>
    <div style="display: inline-flex; padding-bottom: 40px">
      <a href="https://fleetdm.com"><img style="height: 20px; width: 20px; margin-right: 24px;" alt="Fleet logo" src="/images/logo-fleet-20x20@2x.png"></a>
      <a href="https://twitter.com/fleetctl"><img style="height: 20px; width: 24px; margin-right: 24px;" alt="Follow Fleet on Twitter" src="/images/logo-twitter-50x44@2x.png"></a>
      <a href="https://fleetdm.com/slack"><img style="height: 20px; width: 20px;" alt="Join the osquery Slack community" src="/images/logo-slack-24x24@2x.png"></a>
    </div>
  </div>

  <modal v-if="modal === 'happy-hour-waitlist'" @close="closeModal()" data-backdrop="false" v-cloak purpose="modal">
    <div class="d-flex flex-column justify-content-around align-items-center" purpose="modal-container">
      <div class="modal-header" v-if="!showSignupFormSuccess">
        <h1>Join us at Fleet’s MDM<br> launch party</h1>
      </div>
      <div purpose="modal-form" class="pt-5" v-if="!showSignupFormSuccess">
      <ajax-form action="deliverLaunchPartySignup" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
          <div class="d-flex flex-md-row flex-column">
            <div class="form-group pr-0 pr-md-3 w-100">
              <label for="firstName">First Name <span class="text-danger">*</span></label>
              <input class="form-control" id="firstName" :class="[formErrors.firstName ? 'is-invalid' : '']" v-model.trim="formData.firstName" @input="typeClearOneFormError('firstName')" focus-first>
              <div class="invalid-feedback" v-if="formErrors.firstName">Please enter your first name.</div>
            </div>
            <div class="form-group w-100">
              <label for="lastName">Last Name <span class="text-danger">*</span></label>
              <input class="form-control" id="lastName" :class="[formErrors.lastName ? 'is-invalid' : '']" v-model.trim="formData.lastName" @input="typeClearOneFormError('lastName')">
              <div class="invalid-feedback" v-if="formErrors.lastName">Please enter your last name.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="emailAddress">Work Email <span class="text-danger">*</span></label>
            <input class="form-control" id="emailAddress" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" @input="typeClearOneFormError('emailAddress')">
            <div class="invalid-feedback" v-if="formErrors.emailAddress">This doesn’t appear to be a valid email address</div>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone</label>
            <input class="form-control" id="phoneNumber" :class="[formErrors.phoneNumber ? 'is-invalid' : '']" v-model.trim="formData.phoneNumber" @input="typeClearOneFormError('phoneNumber')">
            <div class="invalid-feedback" v-if="formErrors.phoneNumber">This doesn’t appear to be a valid email address</div>
          </div>
          <div class="form-group">
            <label for="jobTitle">Job title</label>
            <input class="form-control" id="jobTitle" :class="[formErrors.jobTitle ? 'is-invalid' : '']" v-model.trim="formData.jobTitle" placeholder="E.g., Client Platform Engineer" @input="typeClearOneFormError('jobTitle')">
            <div class="invalid-feedback" v-if="formErrors.jobTitle">Please enter your job title.
            </div>
          </div>
          <cloud-error v-if="cloudError"></cloud-error>
        <div class="border-0 justify-content-center">
          <ajax-button purpose="submit-button" spinner="true" type="submit" :syncing="syncing" class="btn btn-sm btn-block btn-primary">
            <span v-if="!showAlternateWaitlistText">Join the wait list</span>
            <span v-else>RSVP</span>
          </ajax-button>
        </div>
      </ajax-form>
      </div>
      <div purpose="modal-form" class="text-center" v-else>
        <h3>You're all set!</h3>
        <p>A Fleet team member will reach out via email with more information.</p>
      </div>
    </div>
  </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
