<div id="mdm-demo" v-cloak>

  <div class="container-fluid">
    <div class="mx-auto">
      <div class="pt-5" v-if="demoStage === 1">
        <div class="container">
          <div purpose="demo-title">
            <h1>MDM demo</h1>
          </div>
          <div class="mx-auto d-flex flex-column justify-content-center align-items-center" purpose="mdm-demo-container">
            <div purpose="demo-intro" @click="moveToNextDemoStage()">
              <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <div class="pb-4">
                  <img style="width: 400px; height: auto" alt="an arrow" src="/images/mdm-demo-intro-arrow.png">
                </div>
                <h3 class="pb-4 text-center">Drag as many files as you<br> can to their matching system.</h3>
                <p class="tex-center text-muted">Click anywhere to begin</p>
              </div>
            </div>
            <div purpose="muted-demo" class="d-flex flex-row justify-content-around">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <img alt="a file"  purpose="file-one" draggable="true" src="/images/mdm-demo-file-1.png">
                </div>
                <div>
                  <img alt="a file"  purpose="file-two" draggable="true" src="/images/mdm-demo-file-2.png">
                </div>
                <div>
                  <img alt="a file"  purpose="file-three" draggable="true" src="/images/mdm-demo-file-3.png">
                </div>
              </div>
              <div purpose="timer">
                <div class="flex-column align-items-center" v-if="timeLeft > 9"><h4>00:{{timeLeft}}</h4></div>
                <div class="flex-column align-items-center" v-else-if="timeLeft > 0"><h4>00:0{{timeLeft}}</h4></div>
                <div class="flex-column align-items-center" v-if="timeLeft === 0"><h4>Times up!</h4></div>
              </div>
              <div class="d-flex flex-column justify-content-between h-100">
                <div  purpose="host-one" class="d-flex flex-row align-items-center">
                  <img alt="a computer" class="mr-2" src="/images/mdm-demo-host-2.png">
                  <div purpose="counter">
                  {{counter.hostOne}}
                  </div>
                </div>
                <div purpose="host-two" class="d-flex flex-row align-items-center">
                  <img alt="a computer" class="mr-2" src="/images/mdm-demo-host-1.png">
                  <div purpose="counter">
                    {{counter.hostTwo}}
                  </div>
                </div>
                <div purpose="host-three" class="d-flex flex-row align-items-center">
                  <img alt="a computer" class="mr-2" src="/images/mdm-demo-host-3.png">
                  <div purpose="counter">
                    {{counter.hostThree}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-5" v-if="demoStage === 2">
        <div purpose="demo-title">
          <h1>How MDM traditionally works...</h1>
        </div>
        <div class="mx-auto" nohighlight purpose="mdm-demo-container">
          <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column justify-content-between h-100">
              <div>
                <img alt="a file"  id="fileOne" purpose="file-one"  draggable="true" src="/images/mdm-demo-file-1.png">
              </div>
              <div>
                <img alt="a file"  id="fileTwo" purpose="file-two" draggable="true" src="/images/mdm-demo-file-2.png">
              </div>
              <div>
                <img alt="a file"  id="fileThree" purpose="file-three" draggable="true" src="/images/mdm-demo-file-3.png">
              </div>
            </div>
            <div purpose="timer">
              <div class="flex-column align-items-center" v-if="timeLeft > 9">
                <h4>00:{{timeLeft}}</h4>
              </div>
              <div class="flex-column align-items-center" v-else-if="timeLeft > 0">
                <h4>00:0{{timeLeft}}</h4>
              </div>
              <div class="flex-column align-items-center" v-if="timeLeft === 0">
                <h4>Times up!</h4>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-between h-100">
              <div  purpose="host-one" class="d-flex flex-row align-items-center">
                <img alt="a computer"  class="mr-2" src="/images/mdm-demo-host-2.png">
                <div purpose="counter">
                  {{counter.hostOne}}
                </div>
              </div>
              <div purpose="host-two" class="d-flex flex-row align-items-center">
                <img alt="a computer"  class="mr-2" src="/images/mdm-demo-host-1.png">
                <div purpose="counter">
                  {{counter.hostTwo}}
                </div>
              </div>
              <div purpose="host-three" class="d-flex flex-row align-items-center">
                <img alt="a computer" class="mr-2" src="/images/mdm-demo-host-3.png">
                <div purpose="counter">
                  {{counter.hostThree}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-5" v-if="demoStage === 3">
        <div purpose="demo-title">
          <h1>How MDM traditionally works...</h1>
        </div>
        <div class="mx-auto" purpose="mdm-demo-container">
          <div class="d-flex flex-column align-items-center h-100 justify-content-center">
            <h1>Results:</h1>
            <p>
              <img class="d-inline mr-2" style="height: 24px; width: auto" src="/images/os-linux-black-32x36@2x.png" alt="Linux logo">
              {{counter.hostOne}} changes deployed.
            </p>
            <p>
              <img class="d-inline mr-2" style="height: 24px; width: auto" src="/images/os-windows-black-38x36@2x.png" alt="Windows logo">
              {{counter.hostTwo}} changes deployed.
            </p>
            <p>
              <img class="d-inline mr-2" style="height: 25px; width: auto" src="/images/os-macos-black-31x35@2x.png" alt="macOS logo">
              {{counter.hostThree}} changes deployed.
            </p>
            <div purpose="button-row">
              <a class="mx-auto" style="max-width: 450px;" purpose="cta-button" @click="moveToNextDemoStage()">See how GitOps can improve your workflow</a>
            </div>
          </div>
        </div>
      </div>

    <div class="pt-5" v-if="demoStage === 4">
      <div purpose="demo-title">
        <h1>How the future of MDM works...</h1>
      </div>
      <div class="mx-auto" purpose="mdm-demo-container">
        <div purpose="demo-complete-overlay" v-if="showSuccessMessage">
          <div class="d-flex flex-column h-100 align-items-center justify-content-center">
            You did it!
            <div purpose="button-row">
              <a class="mx-auto" style="max-width: 450px;" purpose="cta-button" @click="moveToNextDemoStage()">Read about the future of MDM</a>
            </div>
          </div>
        </div>
        <div class="d-flex h-100 flex-row justify-content-end" v-else>
          <div class="d-flex flex-column justify-content-between h-100">
            <div>
              <img alt="a file" id="windowsFile" purpose="file-one" draggable="true" src="/images/mdm-demo-file-1.png">
            </div>
            <div>
              <img alt="a file" id="macFile" purpose="file-two" draggable="true" src="/images/mdm-demo-file-2.png">
            </div>
            <div>
              <img alt="a file" id="linuxFile" purpose="file-three" draggable="true" src="/images/mdm-demo-file-3.png">
            </div>
          </div>
          <div class="d-flex flex-column justify-content-between h-100">
            <div purpose="timer">
              <div class="flex-column align-items-center" v-if="timeLeft > 9">
                <h4>00:{{timeLeft}}</h4>
              </div>
              <div class="flex-column align-items-center" v-else-if="timeLeft > 0">
                <h4>00:0{{timeLeft}}</h4>
              </div>
              <div class="flex-column align-items-center" v-if="timeLeft === 0">
                <h4>Times up!</h4>
              </div>
            </div>
            <div purpose="gitops">
              <img alt="a white orb with the Fleet logo" src="/images/mdm-demo-fleet-orb.png">
              <div purpose="deploying-message" class="d-flex flex-row justify-content-center align-items-center" v-if="showDeployingMsg">
                <p class="mb-0">Deploying changes....</p>
              </div>
            </div>
            <div>
              <img alt="an arrow" purpose="arrow-one" src="/images/mdm-demo-arrow-1.png">
            </div>
            <div>
              <img alt="an arrow" purpose="arrow-two" style="height: auto; width: 85px;" src="/images/mdm-demo-arrow-2.png">
            </div>
            <div>
              <img alt="an arrow" purpose="arrow-three" src="/images/mdm-demo-arrow-3.png">
            </div>
          </div>
          <div class="justify-self-end h-100">
            <div id="stageTwoHosts"><img alt="a group of computers"  style="height: 700px;" src="/images/mdm-demo-hosts.png"></div>
          </div>
        </div>
      </div>
    </div>
    <%// Slides after "game" %>
    <div class="pt-5" v-if="demoStage === 5">
      <div purpose="demo-title">
        <h3>You did it!</h3>
      </div>
      <div id="slideshowControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner mx-auto" purpose="slideshow-container">

          <%// First slide %>
          <div class="carousel-item mx-auto active h-100">
            <div class="d-flex flex-column justify-content-center h-100">
            <h3>We are in a remote world now</h3>
              <div purpose="checklist" class="flex-column d-flex">
                <p>95% of companies say they face challenges managing remote devices.</p>
                <p>70% of companies say they have gone to a hybrid employee.</p>
                <p>97% agree the hybrid workforce is here to stay.</p>
              </div>
            </div>
          </div>
          <%// Second slide%>
          <div class="carousel-item mx-auto h-100">
            <div class="d-flex flex-column justify-content-center h-100">
            <h3>The path forward requires a new type of Device Management</h3>
              <div purpose="checklist" class="flex-column d-flex">
                <p>46% of companies say they are looking into IT and HelpDesk Automation.</p>
                <p>IT teams are more productive.</p>
                <p>Can reduce costs by saving time and reducing the number of tools needed.</p>
              </div>
            </div>
          </div>
          <%// Third slide%>
          <div class="carousel-item mx-auto h-100">
            <div class="d-flex flex-column justify-content-center h-100">
            <h3>Fleet is the new edge of Device Management</h3>
              <div purpose="checklist" class="flex-column d-flex">
                <p>Configuration as code: use tools like chef, json and github in your IT team</p>
                <p>Bring your own software: Munki, etc.</p>
                <p>GitOps: gives your team time back by simplifying fleet management.</p>
                <p>Cross-platform and Open-source</p>
              </div>
            </div>
          </div>
          <%// Fourth slide with form (that does nothing)%>
          <div class="carousel-item mx-auto h-100">
            <div class="d-flex flex-row h-100 justify-content-center align-items-center">
              <div class="mr-4">
                <img purpose="sandbox-image" style="width: 300px; height: auto;" src="/images/fleet-sandbox-300x244@2x.png" alt="Play in Fleet sandbox">
              </div>
            <div class="d-flex flex-column justify-content-center h-100">
              <h3>See MDM in action</h3>
              <p>Please complete this form to book time with our team. We look forward to chatting with you.</p>
              <ajax-form :handle-submitting="doNothing" class="sandbox-register" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules">
                <div class="form-group mb-3">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column mr-2">
                      <input id="firstName" type="text" class="form-control d-flex" :class="[formErrors.firstName ? 'is-invalid' : '']" v-model.trim="formData.firstName" placeholder="First name">
                      <div class="invalid-feedback mt-2" v-if="formErrors.firstName === 'required'">Please enter your first name.</div>
                    </div>
                    <div class="d-flex flex-column">
                      <input id="lastName" type="text" class="form-control d-flex" :class="[formErrors.lastName ? 'is-invalid' : '']" v-model.trim="formData.lastName" placeholder="Last name">
                      <div class="invalid-feedback mt-2" v-if="formErrors.lastName === 'required'">Please enter your last name.</div>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input id="organization" type="text" class="form-control d-flex w-100" :class="[formErrors.organization ? 'is-invalid' : '']" v-model.trim="formData.organization" placeholder="Company">
                  <div class="invalid-feedback mt-2" v-if="formErrors.organization === 'required'">Please enter the name of your organization.</div>
                </div>
                <div class="form-group mb-3">
                  <input id="emailAddress" type="text" class="form-control d-flex w-100" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="Email address">
                  <div class="invalid-feedback mt-2">This doesn’t appear to be a valid email address</div>
                </div>
                <ajax-button style="height: 53px;" purpose="submit-button" spinner="true" type="submit" :syncing="syncing" class="btn btn-block btn-lg btn-info" v-if="!cloudError">Book a demo</ajax-button>
                <cloud-error purpose="cloud-error" v-else-if="cloudError"></cloud-error>
              </ajax-form>
            </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#slideshowControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon text-danger" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slideshowControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  </div>
  <div purpose="bottom-gradient" class="pt-5 mt-5">
    <div purpose="page-container" class="pb-0 container">
    </div>
  </div>
  <div class="d-flex flex-column" purpose="bottom-cloud-city-banner">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-lg-flex" src="/images/homepage-cloud-city-banner-lg-1600x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-md-flex d-lg-none" src="/images/homepage-cloud-city-banner-md-990x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-flex d-md-none" src="/images/homepage-cloud-city-banner-sm-375x168@2x.png">
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
