<div id="rapid-7-alternative" v-cloak>

  <div purpose="hero-background" class="container-lg d-flex justify-content-center">

    <div purpose="hero-container" class="d-flex flex-column align-items-center">
      <div purpose="hero-text">
        <h4 class="mb-2">A Rapid7 alternative for agent-based vulnerability management</h4>
        <h1>Simplify vulnerability management</h1>
        <p>Fleet, an open-source security platform, empowers you to take control of vulnerability management for your organization. Designed with modern DevOps practices in mind, Fleet offers superior visibility, rapid response capabilities, and seamless integration with your existing workflows.</p>
        <div purpose="button-row" class="d-flex flex-sm-row flex-column justify-content-center align-items-center">
          <a purpose="cta-button" href="/contact">Talk to us</a>
          <a purpose="animated-arrow-button-red" href="/register">Try it out</a>
        </div>
      </div>
    </div>

  </div>

  <div purpose="page-container" class="container-lg">
    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div class="d-flex flex-column">
        <h3>Open source advantage</h3>
        <p>Fleet is built on the belief that the best software is open and transparent. Being open-source allows for continuous innovation and adaptability in an ever-evolving threat landscape. Transparency in operation means you'll always know what your vulnerability management tool is doing.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Global developer community fosters early vulnerability detection.</p>
          <p>Transparent operations for enhanced trust.</p>
          <p>Avoid vendor lock-ins with open source.</p>
        </div>
      </div>
      <div purpose="feature-image" class="ml-md-5">
        <img alt="rapid-7-alternative feature image" src="/images/osquery-management-feature-image-2-400x286@2x.png">
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image" class="mr-md-5">
        <img alt="rapid-7-alternative feature image" src="/images/mdm-feature-image-3-360x300@2x.png">
      </div>
      <div class="d-flex flex-column">
        <h3>Superior visibility and response</h3>
        <p>Fleet enables high-frequency querying, providing real-time visibility into your infrastructure's vulnerabilities. Fleet's flexible open-source nature allows for faster response times and remediation, by allowing you to surface alerts where your team is already looking.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Real-time visibility into infrastructure vulnerabilities.</p>
          <p>Faster response and remediation times.</p>
          <p>Mitigate threats more immediately than Rapid7.</p>
        </div>
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div class="d-flex flex-column">
        <h3>Flexibility and extensibility</h3>
        <p>Fleet's open-source architecture offers unmatched flexibility. With Fleet, developers can pipe data to platforms they are already using and generate reports in familiar environments. Whether you want to integrate with a specific IT service management tool or push osquery data into a SIEM of your choice, Fleet enables it all. In comparison, Rapid7 operates within a more confined ecosystem, limiting your options and flexibility.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Pipe data to platforms your team uses.</p>
          <p>Integrates seamlessly with IT service tools</p>
          <p>Open-source unlocks boundless functional possibilities.</p>
        </div>
      </div>
      <div purpose="feature-image" class="ml-md-5">
        <img alt="rapid-7-alternative feature image" src="/images/device-management-bento-logos-320x295@2x.png">
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image" class="mr-md-5">
        <img alt="rapid-7-alternative feature image" src="/images/compliance-feature-image-1-360x323@2x.png">
      </div>
      <div class="d-flex flex-column">
        <h3>Value-driven alternative</h3>
        <p>Despite offering advanced features and capabilities, Fleet remains an economically sound alternative to Rapid7. As we believe in delivering value without imposing exorbitant costs, Fleet emerges as a choice that respects your budget constraints without compromising on performance and functionality.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Advanced features at an economical cost.</p>
          <p>Affordable solution with no feature compromise.</p>
          <p>Powerful vulnerability management that respects budgets.</p>
        </div>
      </div>
    </div>

    <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
      <a purpose="cta-button" href="/contact">Talk to us</a>
      <a purpose="animated-arrow-button-red" href="/register">Try it out</a>
    </div>

  </div>

  <div purpose="bottom-gradient">
    <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
      <div purpose="section-heading" style="max-width: 720px" class="mx-auto text-center">
        <h4>Don’t know osquery?</h4>
        <h2>Dedicated support from osquery experts</h2>
        <p>Osquery is the open-source agent that powers Fleet. And we have the most osquery experts around. We’ll help you realize the potential of this tool for your organization.</p>
      </div>
    </div>

    <scrollable-tweets :testimonials="testimonialsForScrollableTweets"></scrollable-tweets>
    <div purpose="page-container" class="pb-0 container">

      <div purpose="bottom-cta" class="text-center">
        <h4>Open-source device management</h4>
        <h1>Lighter than air</h1>
        <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
          <a purpose="cta-button" href="/contact">Talk to us</a>
          <a purpose="animated-arrow-button-red" href="/register">Try it out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column" purpose="bottom-cloud-city-banner">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-lg-flex" src="/images/homepage-cloud-city-banner-lg-1600x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-none d-md-flex d-lg-none" src="/images/homepage-cloud-city-banner-md-990x375@2x.png">
    <img alt="A glass city floating on top of fluffy white clouds" class="d-flex d-md-none" src="/images/homepage-cloud-city-banner-sm-375x168@2x.png">
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
