<div id="unused-software" v-cloak>

  <div purpose="hero-background" class="container-lg d-flex justify-content-center">

    <div purpose="hero-container" class="d-flex flex-column align-items-center">
      <div purpose="hero-text">
        <h4 class="mb-2">Harness the power of Fleet's superior visibility</h4>
        <h1>Discover unused software licenses and optimize your IT budget</h1>
        <p>Fleet, the leading open-source, flexible device management solution, offers unprecedented visibility into your IT infrastructure, making it the ideal tool to discover and manage unused software licenses. This capability is essential to unlocking more IT budget, enhancing security, and ultimately improving the employee experience.</p>
        <div purpose="button-row" class="d-flex flex-sm-row flex-column justify-content-center align-items-center">
          <a purpose="cta-button" href="/contact">Talk to us</a>
          <a purpose="animated-arrow-button-red" href="/register">Try it out</a>
        </div>
      </div>
    </div>

  </div>

  <div purpose="page-container" class="container-lg">

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div class="d-flex flex-column">
        <h3>Unmatched visibility</h3>
        <p>Fleet gives real-time visibility into your infrastructure, offering detailed views of installed software via high-frequency querying. An open-source solution, it promises unparalleled operational transparency.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Real-time view of all software installations.</p>
          <p>Open-source transparency ensures you know what's happening.</p>
          <p>An MDM that can check that your profiles are accurate</p>
        </div>
      </div>
      <div purpose="feature-image" class="mx-md-5">
        <img alt="unused-software feature image" src="/images/feature-vulnerable-software-440x277.png">
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column justify-content-between mx-auto align-items-center">
      <div purpose="feature-image" class="mx-md-5">
        <img alt="unused-software feature image" src="/images/compliance-feature-image-1-360x323@2x.png">
      </div>
      <div class="d-flex flex-column">
        <h3>Optimizing IT budgets</h3>
        <p>Fleet swiftly identifies unused software licenses, allowing you to optimize your IT budget by only paying for what you use. It's a cost-effective solution, promising both immediate and long-term financial benefits.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Identify unused licenses for budget optimization.</p>
          <p>Unlock budget by discovering how many empty seats you are paying for</p>
          <p>Create scheduled queries that give you a daily snapshot of software</p>
        </div>
      </div>
    </div>

    <div purpose="feature" class="d-flex flex-md-row flex-column-reverse justify-content-between mx-auto align-items-center">
      <div class="d-flex flex-column">
        <h3>Enhancing employee experience</h3>
        <p>Fleet helps streamline your software environment by detecting unused applications, creating a clutter-free and productive tech experience for your team, thus boosting job satisfaction.</p>
        <div purpose="checklist" class="flex-column d-flex">
          <p>Say yes to more software by reducing overspend</p>
          <p>Streamline software environment for better productivity.</p>
          <p>Eliminate unnecessary clutter to enhance job satisfaction.</p>
        </div>
      </div>
      <div purpose="feature-image" class="mx-md-5">
        <img alt="feature image C" src="/images/mdm-feature-image-1-344x288@2x.png">
      </div>
    </div>

    <div purpose="button-row" style="margin-top: 60px;" class="d-flex flex-sm-row flex-column justify-content-center align-items-center mx-auto">
      <a purpose="cta-button" href="/contact">Talk to us</a>
      <a purpose="animated-arrow-button-red" href="/register">Try it out</a>
    </div>

  </div>

  <div purpose="tweets-container" class="container-fluid px-md-0 pb-0 d-flex flex-column justify-content-center">
    <div purpose="section-heading" style="max-width: 720px" class="mx-auto text-center">
      <h4>Don’t know osquery?</h4>
      <h2>Dedicated support from osquery experts</h2>

      <p>Osquery is the open-source agent that powers Fleet. And we have the most osquery experts around. We’ll help you realize the potential of this tool for your organization.</p>
    </div>
  </div>

  <div style="background-color: #F9FAFC;">
    <scrollable-tweets :testimonials="testimonialsForScrollableTweets"></scrollable-tweets>
  </div>

  <div purpose="tweets-container" class="container-fluid px-md-0 d-flex pt-0 flex-column justify-content-center">
    <div purpose="logos" class="d-flex flex-wrap justify-content-center align-items-center">
      <img alt="The Snowflake logo" purpose="snowflake-logo" src="/images/logo-snowflake-muted-151x30@2x.png">
      <img alt="The Wayfair logo" purpose="wayfair-logo" src="/images/logo-wayfair-muted-150x33@2x.png">
      <img alt="The Uber logo" purpose="uber-logo" src="/images/logo-uber-muted-84x29@2x.png">
      <img alt="The Atlassian logo" purpose="atlassian-logo" src="/images/logo-atlassian-muted-172x22@2x.png">
      <img alt="The Twilio Segment logo" purpose="segment-logo" src="/images/logo-segment-muted-150x34@2x.png">
    </div>
  </div>

</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
