.warning-banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff0b9;
  color: $core-fleet-black;
  padding: 15px 20px;
  border-radius: $border-radius;
  border: 1px solid #f2c94c;
  font-size: $x-small;
  margin: 0 0 $pad-large;

  &__message {
    flex-grow: 1;
    line-height: 20px;
  }
}
