.warning-banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $warning;
  color: $black;
  padding: 15px 20px;
  border-radius: $border-radius;
  border: 1px solid $warning-border;
  font-size: $x-small;
  margin: 0 0 25px;

  &__message {
    flex-grow: 1;
    line-height: 20px;
  }
}
