.edit-auto-update-config-modal {
  .modal__content {
    @include vertical-modal-layout;
  }

  .modal-footer__content-wrapper {
    padding-top: $pad-large;
  }

  .edit-auto-update-config-form {

    &--disabled {
      @include disabled;
    }
  
    &__form-frame {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
      align-self: stretch;
  
      .card {
        display: flex;
        align-items: flex-start;
  
        gap: $pad-smedium;
        flex: 1 0 0;
        align-self: stretch;
      }
    }
  
    &__auto-update-config {
      display: flex;
      flex-direction: column;
      gap: $pad-large;
      .form-field {
        gap: 0.5rem;
      }
    }
  
    &__auto-update-schedule-form {
      .date-time-inputs {
        display: flex;
        gap: 1rem;
        .form-field {
          gap: $pad-small;
        }
      }
    }

    &__target-readonly {
      display: flex;
      flex-direction: column;
      gap: $pad-small;
    }

    &__target-description,
    &__target-edit-hint {
      font-size: $x-small;
      color: $ui-fleet-black-75;
      margin: 0;
    }

    &__target-labels-list {
      list-style: none;
      padding: 0;
      margin: 0;
      border: 1px solid $ui-fleet-black-10;
      border-radius: $border-radius-medium;
      overflow: hidden;

      li {
        padding: 0 $pad-large;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: $x-small;
        color: $core-fleet-black;
        border-bottom: 1px solid $ui-fleet-black-10;

        &:last-child {
          border-bottom: none;
        }
      }
    }

  }
}
