.edit-auto-update-config-modal {
  .modal__content {
    @include vertical-modal-layout;
  }

  .modal-footer__content-wrapper {
    padding-top: $pad-large;
  }

  &__form-frame {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    align-self: stretch;

    .card {
      display: flex;
      align-items: flex-start;

      gap: 12px;
      flex: 1 0 0;
      align-self: stretch;
    }
  }

  .edit-auto-update-config-form {

    position: relative;

    &--disabled {
      @include disabled;
    }
  
    &__auto-update-config {
      display: flex;
      flex-direction: column;
      gap: $pad-large;
      .form-field {
        gap: 0.5rem;
      }
    }
  
    &__auto-update-schedule-form {
      .date-time-inputs {
        display: flex;
        gap: 1rem;
        .form-field {
          gap: $pad-small;
        }
      }
    }

    &__target {
      width: 100%;
    }
  
  }

}
