.policies-paginated-list {
    &__header {
        font-weight: $bold;
    }

    .paginated-list__row {
        height: 40px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .gitops-mode-tooltip-wrapper {
        display: block
    }

    .form-fields {
        &--disabled {
            @include disabled;
        }
    }
}