.platform-selector {
  padding-bottom: $pad-large;

  p {
    padding-top: $pad-small;
    margin: 0;
  }

  span {
    display: flex;
  }

  form,
  label {
    display: inline-flex;
  }

  &__platform-checkbox-wrapper {
    padding-left: 12px;
    margin: 0;
  }
}
