.reveal-button .children-wrapper {
  display: inline-flex;
  align-items: center;
  padding: $pad-small $pad-xxsmall; // larger clickable area
  min-width: max-content;

  svg {
    path {
      fill: none; // Chevron icon uses stroke color
    }
  }

  &:hover,
  &:focus {
    .component__tooltip-wrapper__element {
      color: $ui-fleet-black-75-over;
    }

    svg {
      path {
        stroke: $ui-fleet-black-75-over;
      }
    }
  }
}
