.reveal {
  margin: $pad-medium 0 0 0;
  color: $core-vibrant-blue;
  font-weight: $bold;
  font-size: $x-small;
}

.rightcaretbefore {
  &::before {
    content: url("../assets/images/icon-chevron-blue-16x16@2x.png");
    transform: scale(0.5) rotate(-90deg);
    width: 16px;
    padding: 0px;
    padding-right: 10px;
    margin-top: 5px;
  }
}

.upcaretbefore {
  &::before {
    content: url("../assets/images/icon-chevron-blue-16x16@2x.png");
    transform: scale(0.5) rotate(180deg);
    width: 16px;
    padding: 0px;
    padding-right: 2px;
    margin-right: $pad-small;
    margin-top: 5px;
    position: relative;
    top: -4px;
    left: 6px;
  }
}

.downcaretafter {
  &::after {
    content: url("../assets/images/icon-chevron-blue-16x16@2x.png");
    transform: scale(0.5);
    width: 16px;
    padding: 0px;
    padding-left: 2px;
    margin-bottom: 2px;
  }
}

.upcaretafter {
  &::after {
    content: url("../assets/images/icon-chevron-blue-16x16@2x.png");
    transform: scale(0.5) rotate(180deg);
    width: 16px;
    padding: 0px;
    margin-bottom: 2px;
    margin-left: 11px;
  }
}
