.os-settings {
  font-size: $x-small;
  margin-top: $pad-xxlarge;
  display: flex;
  flex-direction: column;
  gap: $pad-xxlarge;

  &__description {
    margin: 0;
  }

  &__side-nav {
    .side-nav__nav-list {
      top: 0;
    }
  }

  .side-nav__card-container {
    overflow-x: hidden;

    > .custom-settings {
      max-width: none;
    }
    @media (max-width: 1120px) {
      .side-nav__nav-list {
        padding-right: 0;
      }
    }
  }
}
