.os-settings {
  font-size: $x-small;
  margin-top: $pad-xxlarge;
  display: flex;
  flex-direction: column;
  gap: $pad-xxlarge;

  &__description {
    margin: 0;
  }

  &__side-nav {
    .side-nav__nav-list {
      top: 0;
      padding-right: 40px;
    }
  }

  .side-nav__card-container > .custom-settings {
    max-width: none;
  }
}
