.fleet-500 {
  &__link {
    display: inline-block;
    @include link;
    text-decoration: underline;
    text-decoration-color: $ui-fleet-black-75;
    text-underline-offset: 3px;

    &:hover {
      color: $core-fleet-black;
      text-decoration-color: $core-fleet-black;
    }
  }
}
