.account-side-panel {
  @include vertical-card-layout;
  $gap-data-sets: $pad-medium;

  &__change-avatar {
    position: relative;
    padding: 0 0 20px;

    a {
      display: block;
      text-align: center;
      position: relative;
      z-index: 1;
      text-decoration: none;
      margin-top: $pad-xsmall;
    }
  }

  &__avatar {
    margin: 0 auto;
  }

  &__button {
    width: 100%;
  }

  &__grey-text {
    @include grey-text;
  }

  &__password-info {
    display: flex;
    flex-direction: column;
    gap: $pad-small;
    width: 100%;
  }

  &__last-updated {
    @include help-text;
  }

  &__confirm-update {
    margin-bottom: $pad-medium;
  }

  &__secret-label {
    font-size: $x-small;
    font-weight: $bold;
    margin: 0 0 $pad-xsmall;
  }

  &.button-wrap {
    justify-content: flex-end;
  }

  &__version {
    font-size: $xx-small;
    text-align: center;
    display: block;
  }

  &__privacy-policy {
    text-align: center;
    display: block;
  }
}
