.create-cert-card {
  height: px-to-rem(160);
  &__content-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $pad-medium;
    justify-content: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $pad-small;
    p {
      margin: 0;
    }
  }
}
