.pack-details-side-panel {
  padding: 16px 20px 0 20px;

  &__description {
    color: $core-dark-blue-grey;
    font-size: 14px;
    word-wrap: break-word;
  }

  &__section-label {
    color: $core-dark-blue-grey;
    font-size: $x-small;
    font-weight: $bold;
    letter-spacing: -0.5px;
    margin: 24px 0 16px 0;
  }

  &__edit-pack-link {
    display: block;
  }

  &__pack-icon {
    color: $core-medium-blue-grey;
    margin-right: 11px;
  }

  &__pack-name {
    @include ellipsis(250px);
    color: $core-dark-blue-grey;
    font-size: $small;
    font-weight: $regular;
    letter-spacing: -0.5px;
    margin: 0;
  }

  &__query-icon {
    color: $core-medium-blue-grey;
    font-size: 16px;
    margin-right: 15px;
  }

  &__queries-list {
    list-style: none;
    margin: 0 0 16px 0;
    padding: 0;
  }

  &__query-name {
    @include ellipsis(240px);
    font-size: 14px;
    vertical-align: middle;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
