.pack-details-side-panel {
  padding: 16px 20px 0;

  &__description {
    color: $core-dark-blue-grey;
    font-size: 14px;
    word-wrap: break-word;
  }

  &__section-label {
    font-size: $medium;
    font-weight: $bold;
    margin: 24px 0 16px;
  }

  &__edit-pack-link {
    width: 100%;
  }

  &__pack-icon {
    color: $core-medium-blue-grey;
    margin-right: 11px;
  }

  &__pack-name {
    @include ellipsis(250px);
    color: $core-dark-blue-grey;
    font-size: $small;
    font-weight: $regular;
    margin: 0;
  }

  &__query-icon {
    color: $core-medium-blue-grey;
    font-size: 16px;
    margin-right: 15px;
  }

  &__queries-list {
    list-style: none;
    margin: 0 0 16px;
    padding: 0;
  }

  &__query-name {
    @include ellipsis(240px);
    font-size: $small;
    color: $core-blue;
    text-decoration: none;
  }
}
