.pack-details-side-panel {
  padding: $pad-medium 20px 0;

  &__description {
    color: $core-fleet-black;
    font-size: $x-small;
    word-wrap: break-word;
  }

  &__section-label {
    font-size: $x-small;
    font-weight: $bold;
    margin: $pad-large 0 $pad-small;
  }

  &__edit-pack-link {
    width: 100%;
  }

  &__pack-icon {
    color: $core-fleet-blue;
    margin-right: 11px;
  }

  &__pack-name {
    @include ellipsis(250px);
    color: $core-fleet-black;
    font-size: $x-small;
    font-weight: $regular;
    margin: 0;
  }

  &__query-icon {
    color: $core-fleet-blue;
    font-size: $pad-medium;
    margin-right: 15px;
  }

  &__queries-list {
    list-style: none;
    margin: 0 0 $pad-medium;
    padding: 0;
  }

  &__query-name {
    @include ellipsis(240px);
    font-size: $x-small;
    color: $core-vibrant-blue;
    text-decoration: none;
  }
}
