@footer-height: 222px;
@container-md-max-width: 1100px;

[v-cloak] { display: none; }

html, body {
  height: 100%;
  margin: 0;
}

[purpose='page-wrap'] {
  height: 100%;
  height: auto !important;//lesshint-disable-line importantRule,duplicateProperty
  min-height: 100%;
  position: relative;
  padding-bottom: @footer-height;
}

[purpose='page-header'].homepage-header {
  position: absolute;
  left: 0;
  right: 0;
  .header-btn {
    color: #ffffff;
    cursor: default !important;//lesshint-disable-line importantRule
    font-family: @navigation-font;
    font-weight: @bold;
  }
  // .header-btn[aria-expanded='true'] {
  //   color: #6a67fe;
  // }
  .header-link {
    color: #ffffff;
    font-weight: @bold;
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
  .header-link:hover {
    color: #6a67fe;

    svg {
      path {
        fill: #6a67fe;
      }
    }
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: #ffffff;
  }
  .collapsing {
    opacity: 0;
  }
  .collapse.show {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  .collapse {
    opacity: 0;
  }
  .mobile-menu-item {
    color: #192147;
    border-radius: 4px;
    text-decoration: none;
  }
  .mobile-menu-item:hover {
    background-color: #f1f0ff;
    font-weight: @bold;
  }
  .mobile-menu-item:active {
    background-color: #f1f0ff;
    font-weight: @bold;
  }
}

[purpose='page-header'].header {
  left: 0;
  right: 0;
  border-bottom: 1px solid #e2e4ea;
  .header-btn {
    color: #192147;
    cursor: default !important;//lesshint-disable-line importantRule
    font-family: @navigation-font;
    font-weight: @bold;
  }
  // .header-btn[aria-expanded='true'] {
  //   color: #6a67fe;
  // }
  .header-link {
    color: #192147;
    font-weight: @bold;
  }
  .header-link:hover {
    color: #6a67fe;

    svg {
      path {
        fill: #6a67fe;
      }
    }
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: #ffffff;
  }
  .collapsing {
    opacity: 0;
  }
  .collapse.show {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  .collapse {
    opacity: 0;
  }
  .mobile-menu-item {
    color: #192147;
    border-radius: 4px;
    text-decoration: none;
  }
  .mobile-menu-item:hover {
    background-color: #f1f0ff;
    font-weight: @bold;
  }
  .mobile-menu-item:active {
    background-color: #f1f0ff;
    font-weight: @bold;
  }
}

[purpose='page-footer'] {
  height: @footer-height;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-top: 63px;
  .twitter-link {
    background-color: #03a9f4;
    border-color: #03a9f4;
    &:hover {
      background-color: darken(#03a9f4, 10%);
      border-color: darken(#03a9f4, 10%);
    }
  }
  .slack-link {
    background-color: #fff;
    border-color: #fff;
    &:hover {
      background-color: darken(#fff, 10%);
      border-color: darken(#fff, 10%);
    }
  }
}

body.detected-mobile {
  // Above and beyond the media queries below, this selector (which relies on
  // `parasails` automatically attaching this class, if appropriate) contains
  // styles intended to be activated specifically when loaded from a recognized
  // mobile device, regardless of viewport dimensions.  This includes tablet
  // devices (like the iPad) as well as handset devices (like the iPhone).
  // …
}

@media (max-width: 1199px) {
  [purpose='page-wrap'] {
    padding-bottom: 230px;
    [purpose='page-footer'] {
      height: 230px;
    }
  }
}

@media (max-width: 767px) {
  [purpose='page-wrap'] {
    padding-bottom: 360px;
    [purpose='page-footer'] {
      padding-top: 44px;
      height: 360px;
    }
  }
}

@media (max-width: 360px) {
  [purpose='join-the-community-on-slack-expanded-text'] {
    display: none;
  }
}
