.summary-tile {
  width: 100%;
  display: flex;
  justify-content: space-around;

  &__tile {
    display: flex;
    align-items: center;
    text-align: left;
    padding: $pad-medium;
    height: fit-content;
  }

  &__icon-wrapper {
    margin-right: px-to-rem(12);
    white-space: nowrap;

    img {
      vertical-align: middle;
      float: right;
    }

    // Scale without dead space around icons
    #mac-os-hosts-icon,
    #windows-hosts-icon,
    #linux-hosts-icon {
      width: 48px;
    }

    #missing-hosts-icon {
      width: 28px;
    }

    #low-disk-space-hosts-icon {
      width: 32px;
    }
  }

  &__count {
    font-size: $large;
    white-space: nowrap;

    &:before {
      border-radius: 100%;
      content: " ";
      display: inline-block;
      margin-right: $pad-small;
      height: 8px;
      width: 8px;
      margin-bottom: 5px;
    }

    &--online-hosts:before {
      background-color: $ui-success;
    }

    &--offline-hosts:before {
      background-color: $ui-offline;
    }
  }

  &__description {
    white-space: nowrap;

    .component__tooltip-wrapper__tip-text {
      width: 200px;
      white-space: initial;
    }
  }
}
