.activity-card {
  position: relative;

  h2 {
    font-size: 20px;
    margin: 0 0 $pad-large;
  }

  .react-tabs__tab-list {
    li:first-of-type {
      padding-bottom: 10px; // adds 2px to bottom padding of "Past" tab to adjust for the count badge on the "Upcoming" tab
    }
  }

  &__upcoming-count {
    padding: $pad-xxsmall $pad-xsmall;
    color: $core-white;
    background-color: $core-vibrant-blue;
    border-radius: $border-radius;
    font-weight: $bold;
    margin-left: $pad-small;
  }

  &__loading-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  // styles to render the tooltip outside of the content area.
  &__upcoming-tooltip {
    font-size: $xx-small;
    position: absolute;
    top: 14px;
    right: 0;
  }
}
