.activity-card {
  position: relative;

  &__loading-overlay {
    // this is to center the loading spinner in the card
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  // styles to render the tooltip outside of the content area.
  &__upcoming-tooltip {
    font-size: $xx-small;
    position: absolute;
    top: 14px;
    right: 14px;
  }
}
