.install-software {
  .react-tabs__tab-list {
    margin-bottom: $pad-small;
  }
  &__windows {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $ui-fleet-black-10;
    border-radius: 4px;
    padding: 40px;
    gap: 8px;
    font-size: $small;
    p {
      margin: 0;
      @include help-text;
    }
  }
}
