.install-software {
  &__windows {
    @include tab-empty-state;
    max-width: none;
    padding: 64px 170px;
  }
  .tab-nav {
    margin-top: -20px;
  }
  .react-tabs__tab-list {
    margin-bottom: $pad-xxlarge;
  }
}
