apiVersion: v1
kind: Service
metadata:
  labels:
    app: redis-fleet-pr-{{ .Number }}
  name: redis-fleet-pr-{{ .Number }}
spec:
  ports:
  - port: 6379
    protocol: TCP
    targetPort: 6379
  selector:
    app: redis-fleet-pr-{{ .Number }}
  sessionAffinity: None

