<div id="profiles" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/profiles.less</em>, <em>assets/js/pages/profiles.page.js</em>, and <em>api/controllers/view-profiles.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
