<div id="scripts" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/scripts.less</em>, <em>assets/js/pages/scripts.page.js</em>, and <em>api/controllers/view-scripts.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
