.host-side-panel {
  &__add-label-btn {
    color: $success;
    font-weight: $normal;
    line-height: 2.25;
    letter-spacing: 0.5px;
    padding: 0 30px;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: rgba($success, 0.1);
    }
  }

  &__add-label-icon {
    margin: 0 0 0 $pad-small;
  }

  &__wrapper {
    color: $text-medium;
    padding: 0;

    .input-icon-field {
      margin-top: 0;

      &__label {
        display: none;
      }

      &__icon {
        top: 6px;
      }
    }
  }

  &__hr {
    color: $text-medium;
    margin: $pad-base $pad-auto;
    width: 80%;
    height: 1px;
    background-color: #ececec;
    border: 0;
  }

  &__panel-group-item {
    background-color: $white;
    color: $text-medium;
    padding: $pad-half $pad-large;

    &--filter {
      position: relative;

      .kolidecon {
        position: absolute;
        top: calc(#{$pad-half} + 8px);
        left: calc(#{$pad-large} + 10px);
        font-size: 22px;
        color: $text-light;
      }
    }

    .title {
      padding-left: 20px;
      font-size: 16px;
    }
  }

  &__filter-labels {
    margin: 0;

    .input-field {
      padding-left: 42px;
      width: 100%;
    }
  }

  &__add-hosts {
    padding: 0 $pad-large;
    width: 100%;
    line-height: 2.25;
    margin-top: 10px;
    text-align: left;

    span {
      font-size: 16px;
      font-weight: $normal;
      line-height: normal;
      letter-spacing: -0.5px;
      color: $link;
      text-transform: none;
    }

    .kolidecon {
      margin-right: 20px;
      font-size: 26px;
      vertical-align: middle;
      margin-left: -3px;
    }
  }
}
