.host-side-panel {
  &__add-label-btn {
    color: $success;
    font-weight: $normal;
    line-height: 2.25;
    letter-spacing: 0.5px;
    padding: 0 30px;
    border-radius: 4px;
    width: 100%;
    text-align: left;

    &--icon-label {
      margin: 0 0 0 $pad-small;
    }

    &:hover {
      background-color: rgba($success, 0.1);
    }
  }

  &__wrapper {
    color: $text-medium;
    padding: 60px 7px 0;

    .input-icon-field {
      margin-top: 0;

      &__label {
        display: none;
      }

      &__icon {
        top: 8px;
      }
    }
  }

  &__hr {
    color: $text-medium;
    margin: $pad-base $pad-auto;
    width: 80%;
    height: 1px;
    background-color: #ececec;
    border: 0;
  }

  &__panel-group-item {
    background-color: $white;
    color: $text-medium;
    padding: $pad-half $pad-large;

    .title {
      padding-left: 20px;
      font-size: 16px;
    }

    .icon {
      font-size: 16px;
    }

    .input-field {
      width: 100%;
    }
  }

  &__filter-labels {
    border-radius: 3px;
    background-color: $white;
    border: 1px solid $silver;
    font-size: 14px;
    font-weight: $normal;
    letter-spacing: 0.7px;
    text-align: left;
    padding: 6px 25px 6px 20px;
    color: $text-dark;

    @include placeholder {
      color: $text-light;
    }
  }
}
