.host-side-panel {
  color: $core-dark-blue-grey;
  padding: 14px 20px 22px;

  .input-icon-field {
    margin-top: 0;

    &__label {
      display: none;
    }

    &__icon {
      top: 6px;
    }
  }

  h3 {
    font-size: $x-small;
    font-weight: $bold;
    color: $core-dark-blue-grey;
    margin: 24px 0 10px 16px;
  }

  &__add-label-btn {
    width: 100%;
    margin-top: 24px;
  }

  &__panel-group-item {
    color: $core-dark-blue-grey;
    width: 100%;

    &--filter {
      position: relative;

      .kolidecon {
        position: absolute;
        top: 10px;
        left: 12px;
        font-size: 20px;
        color: $core-medium-blue-grey;
      }
    }

    .title {
      padding-left: 20px;
      font-size: 16px;
    }
  }

  &__filter-labels {
    margin-bottom: 16px;

    .input-field {
      padding-left: 42px;
      width: 100%;
    }
  }
}
