<h1 style="font-weight: 800; font-size: 24px; line-height: 32px; margin-bottom: 16px;">
Fleet 4.22.0 | Easier access to host information, better query console UX, and clearer display names
</h1>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
<img style="max-width: 100%; margin-top: 40px; margin-bottom: 40px;" src="https://fleetdm.com/images/articles/fleet-4.22.0-cover-800x450@2x.jpg" alt="null">
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Fleet 4.22.0 is up and running. Check out the full <a style="display: inline; color: #6A67FE; font-size: 16px; text-decoration: none; word-break: break-word;" href="https://github.com/fleetdm/fleet/releases/tag/fleet-v4.22.0" target="_blank">changelog</a> or continue reading to get the highlights.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
For upgrade instructions, see our <a style="display: inline; color: #6A67FE; font-size: 16px; text-decoration: none; word-break: break-word;" href="https://fleetdm.com/docs/deploying/upgrading-fleet" target="_blank">upgrade guide</a> in the Fleet docs.
</p>
<h2 style="font-weight: 700; font-size: 20px; line-height: 28px; margin-bottom: 16px; margin-top: 32px;">
Highlights
</h2>
<ul style="padding-left: 16px; margin-bottom: 32px;">
<li style="margin-bottom: 16px;">
Identify missing hosts easily.
</li>
<li style="margin-bottom: 16px;">
Know which hosts have low disk space.
</li>
<li style="margin-bottom: 16px;">
Enjoy better UX in the query console.
</li>
<li style="margin-bottom: 16px;">
See clearer host display names.
</li>
</ul>
<h2 style="font-weight: 700; font-size: 20px; line-height: 28px; margin-bottom: 16px; margin-top: 32px;">
Identify missing hosts easily
</h2>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
<strong style="display: inline; font-weight: 700; font-size: 16px; line-height: 24px;">Available in Fleet Premium</strong>
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
<img style="max-width: 100%; margin-top: 40px; margin-bottom: 40px;" src="https://fleetdm.com/images/articles/fleet-4.22.0-missing-hosts-1-800x450@2x.jpg" alt="null">
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Discovering that hosts are missing can cause any admin or engineer to worry. Did someone take parental leave? Is their laptop broken? Or was their computer stolen?
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Before you can answer these questions, you need to know which hosts are missing. Fleet makes your search simple. Premium users can see how many hosts have been offline for 30 days or more on the Fleet UI homepage.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Clicking the Missing card will take you to the Hosts page with the Missing filter applied — generating a list of all your missing hosts. You can also navigate to this list by pasting this URL into your browser: <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">fleet.organization.com/hosts/manage/?status=missing</code>.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
<img style="max-width: 100%; margin-top: 40px; margin-bottom: 40px;" src="https://fleetdm.com/images/articles/fleet-4.22.0-missing-hosts-2-800x450@2x.jpg" alt="null">
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
This list shows you details about your missing hosts, including the name, team, and when its host vitals were last fetched.
</p>
<h2 style="font-weight: 700; font-size: 20px; line-height: 28px; margin-bottom: 16px; margin-top: 32px;">
Know which hosts have low disk space
</h2>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
<strong style="display: inline; font-weight: 700; font-size: 16px; line-height: 24px;">Available in Fleet Premium</strong>
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
<img style="max-width: 100%; margin-top: 40px; margin-bottom: 40px;" src="https://fleetdm.com/images/articles/fleet-4.22.0-low-disk-space-1-800x450@2x.jpg" alt="null">
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Making sure hosts have the latest operating system updates is tough enough. End users have their own priorities and computer maintenance is usually low on the list. Deadlines get even tighter when IT admins find out hosts don’t have enough disk space. Fleet can help you avoid these unpleasant surprises.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
On the Fleet UI homepage, Premium users can see how many hosts have less than 32 GB of disk space remaining. Clicking the Low disk space card generates a list of all these devices. You can also get to this list by pasting this URL into your browser: <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">fleet.organization.com/hosts/manage/?low_disk_space=32</code>.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
<img style="max-width: 100%; margin-top: 40px; margin-bottom: 40px;" src="https://fleetdm.com/images/articles/fleet-4.22.0-low-disk-space-2-800x450@2x.jpg" alt="null">
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
This list lets you see exactly how much disk space remains on each device. It also provides identifying information about the devices, like the hostname and team. So, you can prioritize devices and contact users accordingly.
</p>
<h2 style="font-weight: 700; font-size: 20px; line-height: 28px; margin-bottom: 16px; margin-top: 32px;">
Enjoy better UX in the query console
</h2>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
<strong style="display: inline; font-weight: 700; font-size: 16px; line-height: 24px;">Available in Fleet Free and Fleet Premium</strong>
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
You can find so much data with Fleet. Take a look at our <a style="display: inline; color: #6A67FE; font-size: 16px; text-decoration: none; word-break: break-word;" href="https://fleetdm.com/queries" target="_blank">query library</a> to see what we mean. But, like any new tool, all the possibilities can seem overwhelming. First-time Fleet users will now enjoy a more welcoming experience with our updated query console panel.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Have you heard of osquery evented tables? This configuration helps you view data over time — without repeatedly refreshing queries yourself. Learn more by reading our guide on <a style="display: inline; color: #6A67FE; font-size: 16px; text-decoration: none; word-break: break-word;" href="https://fleetdm.com/guides/osquery-evented-tables-overview" target="_blank">how to use osquery evented tables</a>. The Evented Table tag lets you know right away if the query you’re running is evented.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Compatible operating systems display in the same order throughout the Fleet UI, making results even easier to check at a glance.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
We’ve made a couple improvements to the Columns section. Columns required in the WHERE clause are listed first with an asterisk. Otherwise, columns are listed alphabetically.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Certain tables may include a column with a unique qualification, like being required in the WHERE clause. A column could also be platform-specific (even if it’s compatible overall) or default to the root. In these instances, you’ll see bold notes at the bottom of the column tooltip.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Finally, we saved you some scrolling by wrapping SQL examples.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
<img style="max-width: 100%; margin-top: 40px; margin-bottom: 40px;" src="https://fleetdm.com//images/articles/fleet-4.22.0-updated-query-console-sidebar-800x570@2x.jpg" alt="null">
</p>
<h2 style="font-weight: 700; font-size: 20px; line-height: 28px; margin-bottom: 16px; margin-top: 32px;">
See clearer host display names
</h2>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
<strong style="display: inline; font-weight: 700; font-size: 16px; line-height: 24px;">Available in Fleet Free and Fleet Premium</strong>
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
We’re familiar with the pros and cons of remote work by now. (Insert joke about pajamas, pets, and/or neighbors here.) But there’s one issue in particular that Fleet now solves: confusing hostnames.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
When working from home, a device’s hostname can be whatever the internet service provider (ISP) assigns to the device. For example, a hostname could be <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">aianas-mbp.cable.rcn.com</code>. That isn’t very helpful, especially if you have hundreds of similar results.
</p>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Fleet 4.22.0 no longer defaults to whatever the ISP provides. Instead, Fleet uses the computer name or the hostname for the display name. If the computer name has been set, then that will be the display name. If not, then Fleet will use the hostname.
</p>
<h2 style="font-weight: 700; font-size: 20px; line-height: 28px; margin-bottom: 16px; margin-top: 32px;">
More new features, improvements, and bug fixes
</h2>
<ul style="padding-left: 16px; margin-bottom: 32px;">
<li style="margin-bottom: 16px;">
Added functionality to consider device tokens as expired after one hour. This change is not compatible with older versions of Fleet Desktop. We recommend to manually update Orbit and Fleet Desktop to &gt; v1.0.0 in addition to upgrading the server if:<ul style="padding-left: 16px; margin-bottom: 32px;">
<li style="margin-bottom: 16px;">
You&#39;re managing your own TUF server.
</li>
<li style="margin-bottom: 16px;">
You have auto-updates disabled (<code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">fleetctl package [...] --disable-updates</code>).
</li>
<li style="margin-bottom: 16px;">
You have channels pinned to an older version (<code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">fleetctl package [...] --orbit-channel 1.0.0 --desktop-channel 1.1.0</code>).
</li>
</ul>

</li>
<li style="margin-bottom: 16px;">
Added security headers to HTML, CSV, and installer responses.
</li>
<li style="margin-bottom: 16px;">
Added validation of the <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">command_line_flags</code> object in the Agent Options section of Organization Settings and Team Settings.
</li>
<li style="margin-bottom: 16px;">
Added logic to clean up irrelevant policies for a host on re-enrollment (e.g., if a host changes its OS from linux to macOS or it changes teams).
</li>
<li style="margin-bottom: 16px;">
Added the <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">inherited_policies</code> array to the <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">GET /teams/{team_id}/policies</code> endpoint that lists the global policies inherited by the team, along with the pass/fail counts for the hosts on that team.
</li>
<li style="margin-bottom: 16px;">
Added a new UI state for when results are coming in from a live query or policy query.
</li>
<li style="margin-bottom: 16px;">
Added better team name suggestions to the Create teams modal.
</li>
<li style="margin-bottom: 16px;">
Added usage statistics for the weekly count of aggregate policy violation days. One policy violation day is counted for each policy that a host is failing, measured as of the time the count increments. The count increments once per 24-hour interval and resets each week.
</li>
<li style="margin-bottom: 16px;">
Clarified last seen time and last fetched time in the Fleet UI.
</li>
<li style="margin-bottom: 16px;">
Translated technical error messages returned by Agent options validation to be more user-friendly.
</li>
<li style="margin-bottom: 16px;">
Renamed machine serial to serial number and IPv4 properly to private IP address.
</li>
<li style="margin-bottom: 16px;">
Fleet Premium: Updated Fleet Desktop to use the <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">/device/{token}/desktop</code> API route to display the number of failing policies.
</li>
<li style="margin-bottom: 16px;">
Made host details software tables more responsive by adding links to software details.
</li>
<li style="margin-bottom: 16px;">
Fixed a bug in which a user would not be rerouted to the Home page if already logged in.
</li>
<li style="margin-bottom: 16px;">
Fixed a bug in which clicking the select all checkbox did not select all in some cases.
</li>
<li style="margin-bottom: 16px;">
Fixed a bug introduced in 4.21.0 where a Windows-specific query was being sent to non-Windows hosts, causing an error in query ingestion for <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">directIngestOSWindows</code>.
</li>
<li style="margin-bottom: 16px;">
Fixed a bug in which uninstalled software (DEB packages) appeared in Fleet.
</li>
<li style="margin-bottom: 16px;">
Fixed a bug in which a team that didn&#39;t have <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">config.features</code> settings was edited via the UI, then both <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">features.enable_host_users</code> and <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">features.enable_software_inventory</code> would be false insead of the global default.
</li>
<li style="margin-bottom: 16px;">
Fixed a bug that resulted in false negatives for vulnerable versions of Zoom, Google Chrome, Adobe Photoshop, Node.js, Visual Studio Code, Adobe Media Encoder, VirtualBox, Adobe Premiere Pro, Pip, and Firefox software.
</li>
<li style="margin-bottom: 16px;">
Fixed bug that caused duplicated vulnerabilities to be sent to third-party integrations.
</li>
<li style="margin-bottom: 16px;">
Fixed panic in <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">ingestKubequeryInfo</code> query ingestion.
</li>
<li style="margin-bottom: 16px;">
Fixed a bug in which host_count and user_count returned as <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">0</code> in the <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">teams/{id}</code> endpoint.
</li>
<li style="margin-bottom: 16px;">
Fixed a bug in which tooltips for Munki issues would be cut off at the edge of the browser window.
</li>
<li style="margin-bottom: 16px;">
Fixed a bug in which running <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">fleetctl apply</code> with the <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">--dry-run</code> flag would fail in some cases.
</li>
<li style="margin-bottom: 16px;">
Fixed a bug in which the Hosts table displayed 20 hosts per page.
</li>
<li style="margin-bottom: 16px;">
Fixed a server panic that occured when a team was edited via YAML without an <code style="display: inline; background: #F1F0FF; color: #192147; padding: 4px 8px; font-size: 13px; line-height: 16px; font-family: Courier New;">agent_options</code> key.
</li>
</ul>
<h2 style="font-weight: 700; font-size: 20px; line-height: 28px; margin-bottom: 16px; margin-top: 32px;">
Ready to upgrade?
</h2>
<p style="font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 16px;">
Visit our <a style="display: inline; color: #6A67FE; font-size: 16px; text-decoration: none; word-break: break-word;" href="https://fleetdm.com/docs/deploying/upgrading-fleet" target="_blank">Upgrade guide</a> in the Fleet docs for instructions on updating to Fleet 4.22.0.
</p>
