.team-management {
  &__page-description {
    font-size: $x-small;
    color: $core-fleet-black;
    @include sticky-settings-description;
    padding-bottom: $pad-medium;
  }
  
  .Select.is-focused:not(.is-open) > .Select-control {
    border: none;
    box-shadow: none;
  }

  .Select.is-open {
    .Select-arrow {
      margin-top: 4px;
    }
  }

  .Select-arrow {
    margin-top: 4px;
  }

  .Select-control:hover {
    box-shadow: none;
  }

  .Select-placeholder {
    font-size: 14px;
    margin-top: 2px;
    padding-left: 0;
  }

}
