.command-details-modal {
  &__modal-content {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
    padding-bottom: $pad-small;

    .textarea-wrapper {
      gap: $pad-small;
    }
  }

  // shortening the hight of the textarea
  // so the modal height stays within the viewport
  .textarea--code {
    max-height: 200px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: $pad-small;
  }

  &__section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copy-wrapper {
    display: flex;
    align-items: center;
    gap: $pad-small;
  }

  &__copied-confirmation {
    font-size: $x-small;
    color: $ui-success;
    white-space: nowrap;
  }

  &__copy-all {
    display: flex;
    align-items: center;

    .button--text-link {
      display: inline-flex;
      align-items: center;
      gap: $pad-xsmall;
      font-size: $x-small;
    }
  }
}
