.software-version-details-page {
  background-color: $ui-off-white;
  display: flex;
  flex-direction: column;
  gap: $pad-medium;

  .team-dropdown-wrapper {
    @include normalize-team-header;
  }

  h2 {
    font-size: $small;
  }
}
