.mac-os-updates {
  font-size: $x-small;

  &__description {
    margin: $pad-xxlarge 0;
  }

  &__title {
    margin: 0 0 $pad-large;
    padding-bottom: $pad-small;
    font-size: $medium;
    font-weight: $regular;
    color: $core-fleet-black;
    border-bottom: solid 1px $ui-fleet-black-10;
  }

  &__content {
    max-width: $break-1600;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: $pad-xxlarge;

    h2 {
      font-size: $small;
      margin: 0;
    }
  }

  &__os-versions-card {
    margin-bottom: $pad-xxlarge;
  }

  &__premium-feature-message {
    margin-top: 80px;
  }

  @media (max-width: $break-990) {
    &__content {
      flex-direction: column;
    }
  }
}
