.mac-os-updates {
  font-size: $x-small;

  h2 {
    font-size: $small;
    margin: 0;
  }

  &__description {
    margin: $pad-xxlarge 0;
  }

  &__content {
    max-width: $break-1600;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: $pad-xxlarge;
  }

  &__os-versions-card {
    margin-bottom: $pad-xxlarge;
  }

  @media (max-width: $break-990) {
    &__content {
      flex-direction: column;
    }
  }
}

.mac-os-updates-upsell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $x-small;

  .upsell {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;

    p {
      margin: 0;
    }

    .external-link {
      display: flex;
      gap: 4px;
      align-items: center;
    }
  }
}
