.dropdown {
  &__label {
    display: block;
    font-size: 16px;
    font-weight: $light;
    color: $text-dark;
    margin-bottom: $pad-xsmall;

    &--error {
      color: $alert;
    }
  }

  &__select {
    &--error {
      &.Select {
        .Select-control {
          border-color: $alert;
          background-color: $alert-light;
        }

        .Select-arrow {
          border-top-color: $alert;
        }
      }
    }
  }
}

.Select {
  .Select-control {
    border: 1px solid $accent-medium;
    border-radius: 2px;
    height: 40px;
  }

  .Select-value {
    font-size: $medium;
  }

  &--single {
    > .Select-control {
      .Select-value {
        line-height: 38px;
      }
    }
  }

  .Select-arrow {
    border-top-color: $brand;
  }

  &.is-focused {
    .Select-control {
      border: 1px solid $brand;
    }

    &:not(.is-open) {
      .Select-control {
        box-shadow: none;
      }
    }
  }

  &.has-value {
    > .Select-control,
    &.is-pseudo-focused > .Select-control {
      .Select-value {
        .Select-value-label {
          color: $text-dark;
          font-size: 16px;
        }
      }
    }
  }

  &.is-open {
    .Select-control {
      box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.08);
    }
  }

  .Select-menu-outer {
    margin-top: 2px;
    box-shadow: 0 1px 3px 1px rgba($black, 0.05);
    border: solid 1px $accent-light;
    border-radius: 2px;
    z-index: 6;
  }

  .Select-option {
    color: $text-dark;
    font-size: $medium;

    &.is-focused {
      background-color: $brand;
      color: $white;

      .Select-icon {
        color: $brand-ultralight;
      }
    }

    &.is-disabled {
      color: $silver;

      .Select-icon {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  .Select-icon {
    color: $accent-medium;
  }

  .Select-placeholder {
    color: $accent-text;
    font-size: 16px;
    line-height: 40px;
    padding: 0 12px;
    box-sizing: border-box;
  }

  &.Select--multi {
    .Select-option {
      &.is-disabled {
        color: $text-dark;
        cursor: default;

        &.is-focused {
          background-color: $brand;
          color: $white;
        }
      }
    }
  }
}
