.site-nav-content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2px;
}

.site-nav-list {
  list-style: none;
  height: 50px;
  width: 671px;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-nav-item {
  position: relative;
  transition: color 200ms ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.dup-org-logo):hover {
    background-color: $site-nav-on-hover;
  }

  &--multiple.site-nav-item--active {
    background-color: transparent;
    border-right: 0;

    &:hover {
      background-color: transparent;
    }
  }

  &__icon {
    position: relative;
    font-size: $large;
    margin-right: $pad-small;
    width: 16px;
    height: 16px;
    vertical-align: sub;
  }

  &__name {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    vertical-align: middle;
    font-weight: $regular;
    font-size: $x-small;

    // Bolding text when the button is active causes a layout shift
    // so we add a hidden pseudo element with the same text string
    &:before {
      content: attr(data-text);
      height: 0;
      visibility: hidden;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
      font-weight: $bold;
    }
  }

  &__link {
    color: $core-white;
    padding: 15px 24px;
    text-decoration: none;

    // Prevents user menu from overlapping with nav bar buttons
    @media (max-width: 825px) {
      padding: 15px 18px;
    }

    &:focus-visible {
      outline-offset: -3px; // Cleaner when tabbing
      border-radius: $border-radius-medium;
    }
  }

  &__logo-wrapper {
    overflow: hidden;
  }

  &__logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--active {
    background-color: $site-nav-on-hover;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $core-vibrant-blue;
    }

    &:hover {
      background-color: $site-nav-on-hover;
    }

    .site-nav-item__name {
      font-weight: $bold;
    }
  }
}
