.profile-list-item {
  &__profile-details {
    display: flex;
    flex-direction: row;
    gap: $pad-xsmall;
    color: $ui-fleet-black-75;
  }

  &__list-item-details {
    display: flex;
    flex-direction: row;
    gap: $pad-xsmall;
    font-size: $xx-small;
  }

  &__action-button {
    width: 40px;
    height: 40px;
  }

  .list-item__actions-wrap {
    display: flex;
  }

  .list-item__labels {
    display: flex;
    gap: $pad-small;

    &--count {
      align-self: center;
      color: $ui-fleet-black-75;
    }
  }

  &:hover {
    .list-item__labels {
      display: none;
    }
  }
}
