.host-queries-card {
  @include vertical-page-tab-panel-layout;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .table-container__header {
    display: none;
  }
  .data-table-block {
    .data-table__table {
      thead {
        .query_name__header {
          min-width: $col-sm;
        }
        .last_fetched__header {
          display: table-cell;
        }
      }
      tbody {
        tr {
          .report-updated-cell__view-report {
            opacity: 0;
          }

          .query_name__cell {
            min-width: $col-sm;
          }
          .last_fetched__cell {
            .report-updated-cell {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
          .performance-cell {
            @include cell-with-link;
            &__link-icon {
              display: none;
              width: 0;
            }
          }

          &:hover {
            .report-updated-cell__view-report {
              opacity: 1;
            }
          }

          @media (max-width: 1300px) {
            .report-updated-cell__view-report--text {
              display: none;
              width: 0;
            }

            td {
              max-width: 140px;
            }
          }
        }
      }
    }
  }
}
