.run-script-batch-modal {
  &__hide-main {
    visibility: hidden;
  }
  .empty-table__info {
    font-size: $x-small;
  }
}

// since this modal shows only while anotheris also showing, suppress background for one of them to
// prevent "double-darkening"
.modal__background:has(.run-script-batch-modal.run-script-batch-modal__hide-main) {
  visibility: hidden;
}
