.hqr-table {
  &__results-count-and-last-fetched {
    display: flex;
    align-items: baseline;
    gap: $pad-small;

    .last-fetched {
      font-weight: initial;
      @include grey-text;
    }
  }
  &__results-cta {
    display: flex;
    gap: $pad-medium;
    .button {
      height: auto;
    }
  }

  &__export-btn {
    .children-wrapper {
      align-self: flex-end;
    }
    .icon {
      display: initial;
    }
  }
}
