.hqr-table {
  @include vertical-card-layout;

  .performance-impact {
    font-size: $x-small;
  }

  .last-fetched {
    font-weight: initial;
    @include grey-text;
  }

  &__results-cta {
    display: flex;
    gap: $gap-table-elements;
  }

  &__query-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: $pad-xsmall;

    h2 {
      font-size: $medium;
      font-weight: $bold;
      margin: 0;
    }
    h3 {
      font-size: $x-small;
      font-weight: $regular;
      margin: 0;
    }

    @media (max-width: $break-sm) {
      flex-direction: column;
      gap: $pad-medium;
    }
  }

  .data-table {
    overflow-x: scroll;
  }

  .empty-table__container {
    margin: $pad-large auto 48px;
  }
}
