.registration-breadcrumbs {
  background-color: $gradient-background; // Solid color, gradient starts below it
  display: flex;
  justify-content: center;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: center;
    height: 54px;
    padding-top: 48px;
  }

  &__page {
    text-align: center;
    min-width: 250px;
    font-size: $small;
    font-weight: $regular;
    color: $ui-fleet-black-75;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    // line after breadcrumb
    &::before {
      content: "";
      position: absolute;
      width: 225px;
      height: 2px;
      background-color: $ui-fleet-black-25;
      top: 42px;
      left: 137px;
    }

    &::after {
      @extend %fleeticon;
      @include size(24px);
      min-height: 24px;
      background-color: transparent;
      display: block;
      border-radius: 50%;
      content: "";
      font-size: $large;
      margin-top: 12px;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }

    &:focus-visible {
      outline: 1px solid $core-fleet-black;
      border-radius: $border-radius;
    }

    &--active {
      font-weight: $bold;
    }

    &--1 {
      &::after {
        outline: 2px solid $ui-fleet-black-75;
      }

      &.registration-breadcrumbs__page--active {
        &::before {
          background: linear-gradient(
            to right,
            $ui-fleet-black-75 50%,
            $ui-fleet-black-25 50%
          );
        }

        &::after {
          background-color: transparent;
          outline: 2px solid $ui-fleet-black-75;
        }
      }

      &.registration-breadcrumbs__page--complete {
        &::before {
          background: $ui-fleet-black-75;
          background-size: auto;
          z-index: 2;
        }

        &::after {
          @include size(28px);
          content: "\f035";
          color: $ui-fleet-black-75;
          outline: 0;
        }
      }
    }

    &--2 {
      &::after {
        outline: solid 1px $ui-fleet-black-25;
      }

      &.registration-breadcrumbs__page--active {
        &::before {
          background: linear-gradient(
            to right,
            $ui-fleet-black-75 50%,
            $ui-fleet-black-25 50%
          );
        }

        &::after {
          background-color: transparent;
          outline: 2px solid $ui-fleet-black-75;
        }
      }

      &.registration-breadcrumbs__page--complete {
        &::before {
          background: $ui-fleet-black-75;
          z-index: 2;
        }

        &::after {
          @include size(28px);
          content: "\f035";
          color: $ui-fleet-black-75;
          outline: 0;
        }
      }
    }

    &--3 {
      &::before {
        display: none;
      }

      &::after {
        outline: solid 1px $ui-fleet-black-25;
      }

      &.registration-breadcrumbs__page--active {
        &::before {
          background: linear-gradient(
            to right,
            $ui-fleet-black-75 50%,
            $ui-fleet-black-25 50%
          );
        }

        &::after {
          background-color: transparent;
          outline: 2px solid $ui-fleet-black-75;
        }
      }

      &.registration-breadcrumbs__page--complete {
        &::after {
          @include size(28px);
          content: "\f035";
          color: $ui-fleet-black-75;
          outline: 0;
        }
      }
    }
  }
}
