.registration-breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 600px;
  height: 125px;
  margin: 38px auto 0;

  @include breakpoint(tablet) {
    height: 75px;
  }

  &__page {
    text-align: center;
    width: 150px;
    font-size: $small;
    font-weight: $regular;
    color: $core-white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 2px;
      background-color: $core-vibrant-blue;
      bottom: 43px;
      left: 87px;

      @include breakpoint(tablet) {
        bottom: 23px;
      }
    }

    &::after {
      @extend %fleeticon;
      @include size(24px);
      background-color: transparent;
      display: block;
      border-radius: 50%;
      content: "";
      font-size: $x-large;
      margin: 14px auto 0;
      position: relative;
      z-index: 1;
      cursor: pointer;

      @include breakpoint(tablet) {
        margin-top: $pad-xsmall;
      }
    }

    &:focus {
      outline: none;
    }

    &--active {
      font-weight: $bold;
      color: $core-white;
    }

    &--1 {
      &::after {
        border: 2px solid $core-white;
      }

      &.registration-breadcrumbs__page--active {
        &::before {
          background: linear-gradient(
            to right,
            $core-white 50%,
            $core-vibrant-blue 50%
          );
        }

        &::after {
          background-color: transparent;
          border: 2px solid $core-white;
        }
      }

      &.registration-breadcrumbs__page--complete {
        &::before {
          background-color: $core-white;
          background-size: auto;
          z-index: 2;
        }

        &::after {
          @include size(28px);
          content: "\f035";
          color: $core-white;
          border: 0;
        }
      }
    }

    &--2 {
      &::after {
        border: solid 1px $core-vibrant-blue;
      }

      &.registration-breadcrumbs__page--active {
        &::before {
          background: linear-gradient(
            to right,
            $core-white 50%,
            $core-vibrant-blue 50%
          );
        }

        &::after {
          background-color: transparent;
          border: 2px solid $core-white;
        }
      }

      &.registration-breadcrumbs__page--complete {
        &::before {
          background: $core-white;
          z-index: 2;
        }

        &::after {
          @include size(28px);
          content: "\f035";
          color: $core-white;
          border: 0;
        }
      }
    }

    &--3 {
      &::before {
        display: none;
      }

      &::after {
        border: solid 1px $core-vibrant-blue;
      }

      &.registration-breadcrumbs__page--active {
        &::before {
          background: linear-gradient(
            to right,
            $core-white 50%,
            $core-vibrant-blue 50%
          );
        }

        &::after {
          background-color: transparent;
          border: 2px solid $core-white;
        }
      }

      &.registration-breadcrumbs__page--complete {
        &::after {
          @include size(28px);
          content: "\f035";
          color: $core-white;
          border: 0;
        }
      }
    }
  }
}
