.mdm-platforms-section {
  h4 {
    margin-bottom: 0;
  }

  .section-header {
    margin-bottom: $pad-xxlarge;
  }

  .mdm-settings-team-btn {
    margin-left: 12px;

    .children-wrapper {
      gap: $pad-small;
    }
  }

  .component__tooltip-wrapper__tip-text {
    max-width: initial;
  }

  &__section-description,
  &__section-instructions,
  &__section-information {
    font-size: $x-small;
    color: $core-fleet-black;
    width: 100%;
  }

  &__section-information {
    p {
      margin: 0;
    }
  }

  &__400-error-info {
    display: block;
    color: $core-fleet-black;
    font-weight: normal;
    font-size: $x-small;
    text-align: left;
    margin-top: 10px;
  }
}
