.pack-queries-table {
  flex-grow: 1;

  h1 {
    margin: 0 0 20px;
  }

  .data-table-block {
    .data-table__table {
      thead {
        .name__header {
          width: $col-lg;
        }
        .interval__header {
          width: 0;
        }
        .platform_string__header {
          display: none;
          width: 0;
        }
        .logging_string__header {
          display: none;
          width: 0;
        }
        .performance__header {
          display: none;
          width: 0;
        }
        .actions__header {
          width: auto;
        }
        @media (min-width: $break-md) {
          .interval__header {
            border-right: 1px solid $ui-fleet-black-10;
          }
          .performance__header {
            display: table-cell;
            width: $col-md;
          }
        }
        @media (min-width: $break-lg) {
          .platform_string__header,
          .logging_string__header {
            display: table-cell;
          }
        }
      }
      tbody {
        .name__cell {
          width: $col-lg;
        }
        .interval__cell {
          width: 0;
        }
        .platform_string__cell {
          display: none;
          width: 0;
        }
        .logging_string__cell {
          display: none;
          width: 0;
        }
        .performance__cell {
          display: none;
          width: 0;
        }
        .actions__cell {
          width: auto;
        }
        @media (min-width: $break-md) {
          .performance__cell {
            display: table-cell;
            width: $col-md;
          }
        }
        @media (min-width: $break-lg) {
          .platform_string__cell,
          .logging_string__cell {
            display: table-cell;
          }
        }
      }
    }

    &__empty-table {
      text-align: center;
      font-size: $x-small;
      color: $core-fleet-black;
    }
  }
}
