.automatic-install-modal {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid $ui-fleet-black-10;
    border-radius: $border-radius-medium;
  }

  &__list-item {
    border-bottom: 1px solid $ui-fleet-black-10;
    padding: $pad-small $pad-large;

    &:last-child {
      border-bottom: 0;
    }
  }
}
