.edit-user-form {
  box-sizing: border-box;
  padding: $pad-small;
  height: 100%;
  position: relative;

  form &__input {
    font-size: $small;
    width: 100%;
    padding: $pad-xsmall $pad-half;
  }

  form &__label {
    font-size: $small;
    margin-bottom: 0;
    font-weight: $bold;
  }

  &__btn-wrap {
    margin-top: $pad-half;

    .button {
      padding: 0 $pad-medium;
    }
  }

  &__form-btn {
    padding: inherit $base;

    &--submit {
      float: right;
    }
  }
}
