.edit-user-form {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  margin-top: $pad-large;

  &__btn-wrap {
    display: flex;
    justify-content: flex-end;
  }

  .form-field {
    margin-bottom: $pad-large;
  }

  form &__input {
    font-size: $small;
    width: 100%;
    padding: $pad-xsmall $pad-small;
  }

  form &__label {
    font-size: $small;
    margin-bottom: 0;
    font-weight: $bold;
  }

  &__form-btn {
    &--cancel {
      margin-right: $pad-medium;
    }
  }
}
