<div id="welcome">
  <div purpose="page-container">
    <div purpose="page-content">
    <div>
    <h1>Add your device to Fleet</h1>
    <p>Fleet makes it a little easier for your IT team to keep your computer healthy without interfering with your work.</p>
    </div>
    <div>
    <p>1. Click the button below to download Fleet's software.</p>
    <a purpose="download-button" href="/download" target="_blank" download="fleet-installer.msi">Download</a>
    </div>
    <p>2. Double-click to open and install the software.</p>
    <p>You're done! You can confirm that your computer was added by clicking the Fleet icon in your system tray to open Fleet Desktop. There, you can see the information your organization collects from your computer.</p>
    <div purpose="logo"><img alt="Fleet logo" src="/images/fleet-logo-black-33-69x24@2x.png"></div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
