#launch-party {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 12px;
  }
  h2 {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }
  p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: #515774;
  }
  [purpose='map-container'] {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 8px;
  }
  [purpose='meet-the-team'] {
    width: 100%;
    img {
      width: 210px;
    }
  }
  [purpose='hero-text'] {
    max-width: 420px;
    p {
      font-size: 18px;
    }
  }
  [purpose='hero'] {
    background-image: url('/images/rsa-map-hero-680x480@2x.png');
    height: 530px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 8px;
  }
  [purpose='rsa-cta'] {
    background: #F9FAFC;
    padding: 16px 24px;
    width: 100%;
    border: 1px solid #E2E4EA;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
    p {
      font-weight: 700;
      color: #515774;
    }
  }
  [purpose='cta-button'] {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin-right: 32px;
    background: @core-vibrant-red;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    position: relative;
    max-width: 420px;
    width: 100%;
  }
  [purpose='cta-button']::before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    content: ' ';
    position: absolute;
    top: 0;
    left: -5px;
    width: 60%;
    height: 100%;
    transform: skew(-10deg);
    transition: left 0.5s ease-in, opacity 0.50s ease-in, width 0.5s ease-in;
  }
  [purpose='cta-button']:hover:before {
    opacity: 0;
    left: 160px;
    width: 110%;
  }
  [purpose='section'] {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  [purpose='checklist'] {
    margin-bottom: 40px;
    p {
      padding-left: 28px;
      text-indent: -28px;
      margin-bottom: 16px;
    }
    p::before {
      content: ' ';
      background-image: url('/images/icon-checkmark-circle.svg');
      background-size: 16px 16px;
      display: inline-block;
      position: relative;
      top: 2px;
      margin-right: 12px;
      width: 16px;
      height: 16px;
    }
  }
  [purpose='modal-dialog'] {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
  [purpose='modal-content'] {
    margin-top: 40px;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 120px;
    margin-right: auto;
    margin-left: auto;
    max-width: 680px;
    width: 100%;
  }
  [purpose='modal-form'] {
    input {
      border-radius: 6px;
      height: 48px;
    }
    label {
      font-weight: 700;
    }
    width: 100%;
  }
  [purpose='submit-button'] {
   border-radius: 8px;
  }
  @media(max-width: 756px) {
    [purpose='modal-content'] {
      padding: 40px;
    }
  }
  @media(max-width: 575px) {
    padding-left: 20px;
    padding-right: 20px;
    [purpose='hero'] {
      background-image: url('/images/rsa-map-hero-small-335x480@2x.png');
      background-size: cover;
    }
  }
  @media(max-width: 459px) {
    [purpose='meet-the-team'] {
      img:first-of-type {
        margin-top: 24px;
      }
    }

  }
  @media(max-width: 375px) {
    [purpose='modal-content'] {
      padding: 40px 20px 40px 20px;
    }
    h1 {
      font-size: 28px;
    }
  }
}
