#mdm-demo {
  background: linear-gradient(180deg, #E8F1F7 3.37%, #FFFFFF 60%);
  h1 {
    font-weight: 800;
    font-size: 34px;
    line-height: 36px;
  }
  h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
  }
  h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: @core-fleet-black-75;
    margin-bottom: 4px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  input {
    padding: 16px;
    border-radius: 12px;
  }
  input:focus-visible {
    border: 1px solid @core-vibrant-blue;
    outline: none;
  }
  input::placeholder {
    color: #8B8FA2;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    filter: brightness(0);
  }
  .deploying {
    animation: blinkFade 1s linear;
    opacity: 0;
  }
  .carousel-item {
    max-width: 760px;
  }
  .carousel-item-next, .carousel-item-prev {
    display: none;
  }
  [parasails-component='ajax-button'] {
    border-radius: 12px;
    font-size: 16px;
    line-height: 18px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
  [purpose='demo-title'] {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  [purpose='deploying-message'] {
    margin-top: 100px;
    padding: 4px 8px;
    background: #63C740;
    border: 1px solid #63C740;
    border-radius: 8px;
    font-size: 24px;
    color: #FFF;
    width: 200px;
  }

  [purpose='demo-intro'] {
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.60);
    cursor: pointer;
  }

  [purpose='arrow-one'] {
    opacity: 0;
    position: absolute;
    height: 100px;
    width: auto;
    top: 200px;
    right: 390px;
  }

  [purpose='arrow-two'] {
    position: absolute;
    opacity: 0;
    height: auto;
    width: 85px;
    top: 333px;
    right: 42%;
  }

  [purpose='arrow-three'] {
    opacity: 0;
    position: absolute;
    right: 390px;
    bottom: 200px;
    height: 100px;
  }

  [purpose='file-one'] {
    height: 100px;
    position: absolute;
    top: 100px;
    left: 50px;
    cursor: pointer;
  }
  [purpose='file-two'] {
    height: 100px;
    position: absolute;
    top: 300px;
    left: 75px;
    cursor: pointer;
  }
  [purpose='file-three'] {
    height: 100px;
    position: absolute;
    bottom: 100px;
    left: 50px;
    cursor: pointer;
  }
  [purpose='timer'] {
    h4 {
      margin-bottom: 0px;
    }
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    height: 50px;
    width: 120px;
    font-size: 24px;
    background-color: #FFF;
    border: 1px solid @border-lt-gray;
    position: absolute;
    top: 25px;
    left: 440px;
  }
  [purpose='counter'] {
    margin-left: 24px;
    border-radius: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    height: 50px;
    width: 50px;
    font-size: 24px;
    background-color: #FFF;
    border: 1px solid @border-lt-gray;
  }
  [purpose='host-one'] {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 100px;
    right: 50px;
  }
  [purpose='host-two'] {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 300px;
    right: 75px;
  }
  [purpose='host-three'] {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 100px;
    right: 50px;
  }
  [purpose='gitops'] {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 400px;
    z-index: 3;
  }

  [purpose='mdm-demo-container'] {
    user-select: none;
    -moz-user-select: none;
    position: relative;
    border: 1px solid #515774;
    width: 1000px;
    height: 700px;
    border-radius: 8px;
    img {
      height: 100px;
      width: auto;
    }
  }
  [purpose='slideshow-container'] {
    position: relative;
    border: 1px solid #515774;
    width: 1000px;
    height: 700px;
    border-radius: 8px;
    img {
      height: 100px;
      width: auto;
    }
  }




 [purpose='button-row'] {
    a {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
    [purpose='cta-button'] {
      cursor: pointer;
      margin-right: 32px;
      background: @core-vibrant-red;
      border-radius: 8px;
      padding-left: 32px;
      padding-right: 32px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      position: relative;
      text-decoration: none;
    }
    [purpose='cta-button']::before {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
      opacity: 1;
      content: ' ';
      position: absolute;
      top: 0;
      left: -5px;
      width: 50%;
      height: 100%;
      transform: skew(-10deg);
      transition: left 0.5s ease-in, opacity 0.50s ease-in, width 0.5s ease-in;
    }
    [purpose='cta-button']:hover:before {
      opacity: 0;
      left: 160px;
      width: 110%;
    }
  }


  [purpose='checklists'] {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  [purpose='checklist'] {
    p {
      padding-left: 28px;
      text-indent: -28px;
    }
    p::before {
      content: ' ';
      background-image: url('/images/icon-checkmark-circle.svg');
      background-size: 16px 16px;
      display: inline-block;
      position: relative;
      top: 2px;
      margin-right: 12px;
      width: 16px;
      height: 16px;
    }
  }



  [purpose='bottom-gradient'] {
    background: linear-gradient(180deg, #FFFFFF 0%, #E9F4F4 100%);
  }
  [purpose='bottom-cloud-city-banner'] {
    background: linear-gradient(180deg, #E9F4F4 0%, #FFFFFF 100%);
    img {
      width: 100%;
    }
  }

  @keyframes blinkFade {
    0% {
      opacity: 1;
    }
    16.66% {
      opacity: 0;
    }
    33.33% {
      opacity: 1;
    }
    49.99% {
      opacity: 0;
    }
    66.66% {
      opacity: 1;
    }
    83.33% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

}
