.app-settings {
  padding: 40px 30px;

  &__page-description {
    font-size: $x-small;
    color: $core-dark-blue-grey;
    @include sticky-settings-description;
  }

  h2 {
    font-size: 20px;
    font-weight: $regular;
    color: $core-black;
    border-bottom: solid 1px $ui-borders;
    margin: 0 0 15px;
    padding: 0 0 8px;

    a {
      text-decoration: none;
    }

    .kolidecon {
      font-size: 8px;
      margin: 0 20px;
      vertical-align: 4px;
    }

    small {
      font-size: $x-small;
      font-weight: $regular;
      color: $core-dark-blue-grey;
    }
  }

  &__settings-form {
    display: flex;
  }

  &__form-nav-list {
    position: sticky;
    // this is the spacing needed to make the sticky form nav position correctly when scrolling
    // TODO: find a way to calculate these sticky positions this and use variables.
    //  will be tedious to update otherwise.
    top: 207px;
    width: 178px;
    margin: 0;
    padding: 0 110px 0 0;
    list-style: none;
    font-size: $x-small;

    li {
      margin-bottom: 16px;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }
}
