.app-settings {
  padding: $pad-xxlarge 30px;

  &__page-description {
    font-size: $x-small;
    color: $core-fleet-black;
    @include sticky-settings-description;
  }

    &__sandbox-demo-message {
      margin-top: 3.5rem;
    }
}
