.app-settings {
  padding: 40px 30px;

  &__page-description {
    font-size: $x-small;
    color: $core-dark-blue-grey;
    margin: 40px 0 54px 0;
  }

  h2 {
    font-size: 20px;
    font-weight: $regular;
    color: $core-black;
    border-bottom: solid 1px $ui-borders;
    margin: 0 0 15px;
    padding: 0 0 8px;

    a {
      text-decoration: none;
    }

    .kolidecon {
      font-size: 8px;
      margin: 0 20px;
      vertical-align: 4px;
    }

    small {
      font-size: $x-small;
      font-weight: $regular;
      color: $core-dark-blue-grey;
    }
  }
}
