$break-xxl: 1600px;
$break-xl: 1500px;
$break-lg: 1400px;
$break-md: 990px;
$break-sm: 880px;
$break-xs: 768px;
$break-mobile-lg: 650px;
$break-mobile-md: 576px;
$break-mobile-sm: 480px;
$break-mobile-xs: 320px;
$tooltip-break-md: 1000px; // Prevents horizontal scrolling off viewport
$table-controls-break: 1150px;
