// TODO: Rename these to xs, sm, md, lg, xl, xxl, etc.
$break-1600: 1600px;
$break-1500: 1500px;
$break-1400: 1400px;
$break-990: 990px;
$break-880: 880px;
$break-768: 768px;
$tooltip-break-1000: 1000px; // Prevents horizontal scrolling off viewport
