$white: #fff;
$black: #000;
$accent-dark: #b8c2e3;
$accent-light: #eaedfb;
$accent-medium: #d2daf4;
$accent-text: #a8b1cd;
$alert: #ff287a;
$alert-light: #ffb5b2;
$bg-medium: #f4f6fb;
$bg-light: #fcfcff;
$border-medium: #d4d8df;
$brand: #3f64ed;
$brand-dark: #00125f;
$brand-light: #c38dec;
$brand-ultralight: #edd6ff;
$button-shadow: #734893;
$footer-bg: #202532;
$footer-accent: #84878e;
$link: #4a90e2;
$link-light: #c0d8f5;
$silver: #d4d8df;
$success: #27d77e;
$success-light: #48da90;
$text-dark: #858495;
$text-light: #b2bbc6;
$text-medium: #00125f;
$text-ultradark: #00125f;
$warning: #ffad00;
$warning-light: #ffda8c;
