$white: #fff;
$black: #000;
$core-fleet-gradient: linear-gradient(360deg, #201E43 0%, #353D62 100%);
$core-black: #192147;
$core-blue: #6A67FE;
$core-blue-selected: rgba(106, 103, 254, 0.2);
$core-purple: #AE6DDF;
$core-red: #FF5C83;
$core-dark-blue-grey-1: #506E92;
$core-dark-blue-grey-2: #3E4771;
$core-dark-blue-grey-3: #353D62;
$core-light-blue-grey: #F9FAFC;
$core-fleet-black: #201E43;
$ui-borders: #DBE3E5;
$ui-light-grey-1: #FAFAFA;
$ui-light-grey-2: #E3E3E3;

$alert: #ff287a;
$alert-light: #ffb5b2;
$brand-light: #c38dec;
$core-blue-ultralight: #edd6ff;
$button-shadow: #734893;
$success: #27d77e;
$success-light: #48da90;
$warning: #ffad00;
$warning-light: #ffda8c;
