$xsmall: px-to-rem(10);
$mini: px-to-rem(12);
$small: px-to-rem(14);
$medium: px-to-rem(16);
$base: px-to-rem(18);
$large: px-to-rem(24);
$larger: px-to-rem(32);

$light: 300;
$normal: 400;
$bold: 600;
