// Font sizes
$xxx-small: px-to-rem(10);
$xx-small: px-to-rem(12);
$x-small: px-to-rem(14);
$small: px-to-rem(16);
$medium: px-to-rem(20);
$large: px-to-rem(24);
$x-large: px-to-rem(28);

// Font weights
$regular: 400;
$bold: 700;
