$min-width: 768px;
$medium-width: 1024px;
$desktop-width: 1280px;
$max-width: 2560px;

@mixin breakpoint($size: desktop) {
  @if ($size == tablet) {
    @media (max-width: $medium-width) {
      @content;
    }
  } @else if ($size == ltdesktop) {
    @media (min-width: $min-width) and (max-width: $desktop-width - 1) {
      @content;
    }
  } @else {
    @content;
  }
}
