$pad-auto: auto;
$pad-xxsmall-minus: px-to-rem(1);
$pad-xxsmall: px-to-rem(2);
$pad-xxsmall-plus: px-to-rem(3);
$pad-xsmall: px-to-rem(4);
$pad-xsmall-plus: px-to-rem(6);
$pad-small-minus: px-to-rem(7);
$pad-small: px-to-rem(8);
$pad-small-plus:px-to-rem(10);
$pad-icon-minus: px-to-rem(12);
$pad-icon: px-to-rem(14);
$pad-icon-plus: px-to-rem(15);
$pad-medium: px-to-rem(16);
$pad-medium-plus: px-to-rem(20);
$pad-large: px-to-rem(24);
$pad-xlarge: px-to-rem(32);
$pad-xxlarge: px-to-rem(40);
$pad-xxlarge-plus: px-to-rem(48);
$pad-xxxlarge-minus: px-to-rem(70);
$pad-xxxlarge: px-to-rem(80);
$pad-jumbo: px-to-rem(100);
