$col-xs: 85px; // column size for under 10 characters
$col-sm: 102px; // column size will "hug" its contents
$col-md: 252px; // column size not including 24px padding on left and right (total width is 300px)
$col-lg: 352px; // column size not including 24px padding on left and right (total width is 400px)
