$col-sm: 0px; // column size will "hug" its contents
$col-md: 202px; // column size not including 24px padding on left and right (total width is 250px)
$col-lg: 352px; // column size not including 24px padding on left and right (total width is 250px)
