.mfa-page {
  background-color: $core-white;
  border-radius: 10px;
  width: 436px;
  padding: $pad-xxlarge;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;

  &__form-section-description {
    h2 {
      font-size: 18px;
      font-weight: $bold;
      line-height: 0.72;
      letter-spacing: 0.6px;
      color: $core-fleet-black;
      margin: 0;
      padding: 0;
    }

    p {
      color: $core-fleet-black;
      font-size: $x-small;
      font-weight: $regular;
    }
  }

  &__form-section-wrapper {
    box-sizing: border-box;
    margin-bottom: 110px;
  }

  &__lead-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__lead-text {
    font-size: $medium;
    margin: 0;
  }

  &__sub-lead-text {
    font-size: $x-small;
    margin: 0;
  }

  .confirm-invite-button {
    align-self: center;
    width: 160px;
  }
}
