.packs-table {
  .data-table-block {
    .data-table__table {
      thead {
        .name__header {
          width: $col-lg;
        }

        .query_count__header {
          width: 0;
        }
        .total_hosts_count__header {
          width: 0;
        }
        .updated_at__header {
          width: 0;
        }
        .status__header {
          width: auto;
        }
      }
      tbody {
        .name__cell {
          width: $col-lg;
        }
        .query_count__cell {
          width: 0;
        }
        .total_hosts_count__cell {
          width: 0;
        }
        .updated_at__cell {
          width: 0;
        }
        .status__header {
          width: auto;
        }
      }
    }
  }
}
