.edit-pack-form {
  &__edit-btn {
    float: right;
  }

  &__title {
    @include ellipsis(80%);

    .fleeticon {
      color: $ui-gray;
    }
  }

  &__description {
    font-size: 15px;
    font-weight: $regular;
    line-height: 2;
    color: $core-fleet-black;
    max-width: 800px;
    word-wrap: break-word;
  }
}
