.edit-pack-form {
  &__edit-btn {
    float: right;
  }

  &__title {
    @include ellipsis(80%);

    .kolidecon {
      color: $accent-dark;
    }
  }

  &__description {
    font-size: 15px;
    font-weight: $normal;
    line-height: 2;
    color: $text-medium;
    max-width: 800px;
    word-wrap: break-word;
  }
}
