.query-page {
  @at-root .has-sidebar > &__content {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-bottom: $pad-base;
  }

  &__results {
    display: flex;
    flex-grow: 1;
    position: relative;
    min-height: 400px;
  }
}
