$base-class: 'button';

@mixin button-variant($color, $hover: null, $active: null, $inverse: null) {

  background-color: $color;

  @if $inverse {
    &:hover {
      border: 2px solid $hover;
      color: $hover;
    }

    &:active {
      border: 2px solid $active;
      color: $active;
    }
  } @else { 

    &.#{$base-class}--disabled {
      &:hover {
        background-color: $color;
      }
    }

    &:hover {
      background-color: $hover;
    }

    &:active {
      background-color: $active;
    }
  }
}

.#{$base-class} {
  @include button-variant($core-blue);
  transition: color 150ms ease-in-out, background 150ms ease-in-out, top 50ms ease-in-out, box-shadow 50ms ease-in-out, border 50ms ease-in-out;
  position: relative;
  color: $white;
  text-decoration: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: $small;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: $bold;
  display: inline-flex;
  height: 38px;
  top: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--brand {
    @include button-variant($core-blue, $core-blue-over, $core-blue-down);
  }

  &--success {
    @include button-variant($success);
  }

  &--alert {
    @include button-variant($alert, $core-red-over, $core-red-down);
  }

  &--blue-green {
    @include button-variant($core-blue-green)
  }

  &--grey {
    @include button-variant($core-medium-blue-grey, $core-dark-blue-grey-over, $core-dark-blue-grey-down);
  }

  &--warning {
    @include button-variant($warning);
  }

  &--link {
    @include button-variant($core-purple);
  }

  &--text-link {
    @include button-variant(transparent);
    border: 0;
    box-shadow: none;
    color: $core-blue;
    font-size: $x-small;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: auto;
    line-height: normal;

    &:active {
      box-shadow: none;
      top: 0;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: transparent;
      box-shadow: none;
      text-decoration: underline;
    }
  }

  &--inverse {
    @include button-variant($white, $core-blue-over, $core-blue-down, $inverse: true);
    color: $core-blue;
    border: 2px solid $core-blue;
    box-sizing: border-box;
  }

  &--inverse-alert {
    @include button-variant($white, $core-red-over, $core-red-down, $inverse: true);
    color: $alert;
    border: 2px solid $alert;
    box-sizing: border-box;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--disabled {
    opacity: 0.4;
    cursor: default;

    &:hover {
      cursor: default;
    }
  }

  &--unstyled {
    @include button-variant(transparent);
    border: 0;
    box-shadow: none;
    color: $core-dark-blue-grey;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: auto;
    line-height: normal;

    &:active {
      box-shadow: none;
      top: 0;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: transparent;
      box-shadow: none;
    }
  }

  &--contextual-nav-item {
    @include button-variant(transparent, $core-blue-label-over);
    display: flex;
    justify-content: space-between;
  }
}
