.osquery-options {
  padding: 40px 30px;
  flex-grow: 1;

  &__page-wrap {
    display: flex;
    min-height: 100vh;
  }

  &__page-description {
    font-size: $x-small;
    color: $core-dark-blue-grey;
    @include sticky-settings-description;
    padding-bottom: $pad-medium;
  }

  &__info-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    border-radius: $border-radius;
    border: 1px solid #d9d9fe;
    background-color: $info;
    margin-bottom: 16px;

    p {
      margin: 0;
      font-size: $x-small;
    }

    a {
      color: $core-blue;
      font-size: $x-small;
      font-weight: $bold;
      text-decoration: none;
      margin-left: 16px;
    }

    img {
      width: 12px;
      height: 12px;
      margin-left: 6px;
    }
  }

  &__form-wrapper {
    display: flex;
  }

  &__form-details {
    margin-top: 133px;
    width: 1000%;

    p {
      font-size: 15px;
      font-weight: $regular;
      line-height: 1.6;
      letter-spacing: 0.5px;
      color: $core-dark-blue-grey;
    }
  }

  i {
    margin-left: 8px;
  }
}
