.osquery-options {
  padding: 30px;

  h1 {
    margin: 0 0 22px;
  }

  a {
    margin: 0 0 20px;
  }

  &__form-wrapper {
    display: flex;
  }

  &__form-details {
    margin-top: 133px;
    width: 40%;

    p {
      font-size: 15px;
      font-weight: $regular;
      line-height: 1.6;
      letter-spacing: 0.5px;
      color: $core-dark-blue-grey;
    }
  }

  i {
    margin-left: 8px;
  }
}
