.platform-count-tile {
  flex: 1 1 calc(16.666% - 16px);
  //done

  a {
    font-weight: normal;
    color: $core-fleet-black;
    text-decoration: none;
    border-radius: 8px;
  }
  // TODO: keyboard accessibility styling

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $pad-small;
    text-align: left;
    height: fit-content;
    padding: $x-large;
    border-radius: 8px;
    border: 1px solid $ui-fleet-black-10;
    background: $core-white;
    //done

    &:hover {
      border-color: $core-vibrant-blue;
    }

    &:focus-visible {
      outline: 0px;
      border-color: $core-vibrant-blue;
    }
  }

  &__icon-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  &__count {
    font-size: $x-large;
    white-space: nowrap;
  }

  &__not-supported {
    color: $ui-fleet-black-50;

    &-text {
      font-size: $medium;
    }
  }

  &__description {
    color: $ui-fleet-black-75;

    .component__tooltip-wrapper__element {
      font-size: $x-small;
    }

    .component__tooltip-wrapper__tip-text {
      width: 200px;
      white-space: initial;
    }
  }
}

@media (max-width: 980px) {
  .platform-count-card {
    &__card {
      text-align: center;
      flex-direction: column;
      gap: 0.75rem;
      .component__tooltip-wrapper__tip-text {
        text-align: initial;
      }
    }

    &__card-icon {
      margin-right: 0;
    }
  }
}
