# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# employee-issued-mobile-devices.yml
# 
# Use this fleet manifest to configure controls, software,
# and settings that apply only to computing devices (hosts)
# in this particular fleet.
# 
# > Note: By convention, the "📱🏢 Employee-issued mobile
# > devices" fleet is where company-owned (/org-owned)
# > Android, iOS, and iPadOS mobile devices are enrolled,
# > such as engineering test devices, or dedicated smartphones
# > purchased by your org and issued for security reasons.
#
# To see all supported options, check out:
#   • https://fleetdm.com/docs/configuration/yaml-files
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
name: "📱🏢 Employee-issued mobile devices"
controls:

  ###########################################################
  # Managed OS updates
  ###########################################################
  # to enable… (for os updates)
  # ios_updates:
  #   deadline: "2025-06-01"
  #   minimum_version: "18.5"
  # ipados_updates:
  #   deadline: "2025-06-01"
  #   minimum_version: "18.5"

  ###########################################################
  # Setup experience
  ###########################################################
  apple_setup:
    # To enable SSO, uncomment this
    # enable_end_user_authentication: true

  ###########################################################
  # Presets, restrictions, and configs
  ###########################################################
  apple_settings:
    custom_profiles:
      - paths: ../platforms/ios/declaration-profiles/*.json
      - paths: ../platforms/ios/configuration-profiles/*.mobileconfig
      # - paths: ../platforms/ipados/declaration-profiles/*.json
      # - paths: ../platforms/ipados/configuration-profiles/*.mobileconfig

###########################################################
# Software available for install
#
# (company-owned mobile devices)
###########################################################
software:
  # Apps to make available from the Apple App Store or Google Play
  app_store_apps: 
    # iOS apps
    # …
    # - app_store_id: "618783545" # Slack
    #   display_name: "Slack"
    #   self_service: true
    #   setup_experience: true
    #   platform: ios
    #   categories:
    #     - "Communication"

    # iPadOS apps
    # …
    # - app_store_id: "618783545" # Slack
    #   display_name: "Slack"
    #   self_service: true
    #   setup_experience: true
    #   platform: ipados
    #   categories:
    #     - "Productivity"
    #     - "Communication"

    # Android apps
    # …
    # - app_store_id: "com.Slack" # Slack
    #   platform: android
    #   display_name: "Slack"
    #   self_service: true
    #   setup_experience: true
