# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# personal-issued-mobile-devices.yml
# 
# Use this fleet manifest to configure controls, software,
# and settings that apply only to computing devices (hosts)
# in this particular fleet.
# 
# > Note: By convention, the "📱🔐 Personal mobile devices"
# > fleet is where employee-owned iPhone and Android phones
# > are enrolled, for example as part of a BYOD ("bring your
# > own device") program.  This allows for clear separation
# > and encourages employee freedom and privacy.
#
# To see all supported options, check out:
#   • https://fleetdm.com/docs/configuration/yaml-files
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
name: "📱🔐 Personal mobile devices"
controls:

  ###########################################################
  # Managed OS updates
  ###########################################################
  # to enable… (for os updates)
  # ios_updates:
  #   deadline: "2025-06-01"
  #   minimum_version: "18.5"
  # ipados_updates:
  #   deadline: "2025-06-01"
  #   minimum_version: "18.5"

  ###########################################################
  # Setup experience
  ###########################################################
  apple_setup:
    # To enable SSO, uncomment this
    # enable_end_user_authentication: true

  ###########################################################
  # Presets, restrictions, and configs
  ###########################################################
  apple_settings:
    # Since these mobile devices are personally-owned,
    # we cherry pick only a very limited set of restrictions and presets.
    profiles:
      # … e.g.
      # - path: ../lib/ios/declaration-profiles/Passcode settings.json
      # - path: ../lib/ios/configuration-profiles/self-service.mobileconfig

###########################################################
# Software available for install
#
# (employee-owned mobile devices)
###########################################################
software:
  app_store_apps: # Apps to make available from the Apple App Store or Google Play
    # iOS apps
    # …
    # - app_store_id: "618783545" # Slack
    #   display_name: "Slack"
    #   self_service: true
    #   setup_experience: true
    #   platform: ios
    #   categories:
    #     - "Communication"

    # iPadOS apps
    # …
    # - app_store_id: "618783545" # Slack
    #   display_name: "Slack"
    #   self_service: true
    #   setup_experience: true
    #   platform: ipados
    #   categories:
    #     - "Productivity"
    #     - "Communication"

    # Android apps
    # …
    # - app_store_id: "com.Slack" # Slack
    #   platform: android
    #   display_name: "Slack"
    #   self_service: true
    #   setup_experience: true
