.slider-wrap {
  @include transition(background-color 400ms ease-in-out);
  background-color: $text-medium;
  border-radius: 12px;
  border: 1px solid #eaeaea;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  min-width: 40px;
  position: relative;
  width: 40px;

  &--active {
    background-color: $brand;
  }

  &__dot {
    @include transition(lest 300ms ease-in-out);
    @include size(14px);
    @include position(absolute, 0 null null 5px);
    margin-top: 3px;
    border-radius: 50%;
    background-color: $white;

    &--active {
      left: 21px;
    }
  }
}
