.login-form {
  transition: transform 300ms ease-in;
  transform: scale(1);
  margin-top: -260px;
  opacity: 1;
  width: 460px;
  align-self: center;

  &--hidden {
    transform: scale(1.3);
    opacity: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    background-color: $white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
    flex-direction: column;
    padding: 30px;
    width: 460px;
    min-height: 350px;
    font-weight: $light;
  }

  &__submit-btn {
    border-radius: 2px;
    padding: $base;
    width: 460px;
  }

  &__sso-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: $base;
    width: 460px;
    height: 72px;
  }

  &__forgot-wrap {
    margin-top: $pad-base;
    text-align: right;
    width: 100%;
  }

  &__forgot-link {
    font-size: $medium;
    letter-spacing: 1px;
    text-decoration: none;
    color: $accent-text;
  }

  &__sso-image {
    vertical-align: middle;
    height: 45px;
    width: 45px;
    padding-right: 10px;
  }

  &__sso-legend {
    vertical-align: middle;
  }
}
