.filter-cell {
  input {
    height: 28px;
    width: 100%;
    font-size: $x-small;
    background-color: $ui-off-white;
    border: 1px solid $ui-fleet-blue-15;
    border-radius: 4px;
    padding: 4px;
    padding-left: 20px;
    margin-top: $pad-xsmall;
  }

  .search-field__input-wrapper {
    position: relative;
    color: $core-fleet-blue;
    width: 100%;

    &::before {
      display: inline-block;
      position: absolute;
      content: url(../assets/images/icon-filter-grey-12x12@2x.png);
      transform: scale(0.5);
      top: 4px;
    }
  }
}
