.stacked-white-boxes {
  transition: opacity 300ms ease-in;
  margin: 2.5rem auto;
  width: 516px;

  &--loading {
    opacity: 0;
  }

  &--loaded {
    opacity: 1;
  }

  &--leaving {
    opacity: 0;
  }

  &__box {
    background-color: $core-white;
    border-radius: 10px;
    min-height: 330px;
    box-sizing: border-box;
    padding: $pad-xxlarge;
    font-weight: $regular;
    position: relative;

    &-text {
      color: $core-fleet-black;
      font-size: $small;
      margin: $pad-xxlarge 0 $pad-large;
    }
  }

  &__header {
    width: 100%;

    &-text {
      font-size: $large;
      font-weight: 300;
      color: $core-fleet-black;
      line-height: 32px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__back {
    text-align: right;
    width: 100%;

    &-link {
      position: absolute;
      top: 36px;
      right: 36px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
