.stacked-white-boxes {
  @include position(absolute, null null null 50%);
  transition: opacity 300ms ease-in;
  margin: 40px 0 0 -262px;
  width: 516px;

  &--loading {
    opacity: 0;
  }

  &--loaded {
    opacity: 1;
  }

  &--leaving {
    opacity: 0;
  }

  &__box {
    background-color: $white;
    border-radius: 10px;
    min-height: 360px;
    box-sizing: border-box;
    padding: 40px;
    font-weight: 300;

    &-text {
      color: $core-black;
      font-size: $small;
      margin: 40px 0 24px 0;
    }
  }

  &__header {
    width: 100%;

    &-text {
      font-size: $large;
      font-weight: 300;
      color: $core-black;
      line-height: 32px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__back {
    text-align: right;
    width: 100%;

    &-link {
      transition: color 150ms ease-in-out;
      color: $core-medium-blue-grey;
      text-decoration: none;
      position: absolute;
      top: 10px;
      right: 15px;
      cursor: pointer;
      font-weight: bold;
      font-size: 30px;

      &:hover {
        color: $core-blue;
      }
    }
  }
}
