.team-users {
  &__page-description {
    font-size: $x-small;
    padding-bottom: $pad-medium;
    margin: 0;
  }

  &__api-only-user {
    @include grey-badge;
  }

  .data-table-block {
    .data-table__table {
      thead {
        .name__header {
          width: initial; // Allows name to take up as much space on table as it can before truncating
        }

        .role__header {
          width: $col-sm;
        }
      }

      tbody {
        .role__cell {
          max-width: $col-sm;
        }

        .email__cell {
          max-width: 171px;
        }

        @media (min-width: $break-md) {
          .email__cell {
            max-width: $col-md;
          }
        }

        .actions__cell {
          width: auto;
        }
      }
    }
  }
}
