.configure-pack-query-form {
  &__form-field {
    &--frequency {
      position: relative;

      .input-field {
        width: 100%;
        padding-right: 70px;
      }

      .form-field__hint {
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-transform: lowercase;
        font-size: $x-small;
      }
    }
  }

  &__title {
    font-size: $x-small;
    font-weight: $bold;
    letter-spacing: -0.5px;
    color: $core-fleet-black;
    padding: 0 0 9px;
    margin: 0 0 9px;
  }

  &__fields {
    .fleeticon {
      margin-right: 6px;
      margin-left: 6px;
    }
  }

  &__btn-wrapper {
    padding-top: 20px;

    .button {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
