.configure-pack-query-form {
  .form-field {
    .input-field,
    .dropdown__select {
      width: 175px;
      float: right;
    }

    @at-root .configure-pack-query-form__form-field--interval {
      .input-field {
        padding-right: 70px;
      }
    }
  }

  &__title {
    font-size: 16px;
    font-weight: $bold;
    letter-spacing: -0.5px;
    color: $text-dark;
    border-bottom: 1px solid #eaeefb;
    padding: 0 0 9px;
    margin: 0 0 9px;
  }

  &__fields {
    .form-field {
      position: relative;

      &__label {
        font-size: 16px;
        font-weight: $bold;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: $text-medium;
        display: inline-block;
        width: 70px;
        text-transform: lowercase;
        padding-left: 12px;
      }

      &__hint {
        position: absolute;
        bottom: 13px;
        right: 10px;
        text-transform: lowercase;
      }
    }

    .kolidecon {
      margin-right: 6px;
    }
  }

  &__btn-wrapper {
    padding-top: 20px;

    .button {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
