.user-card {

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__content {
    display: inline-grid;
    gap: $pad-medium $pad-xxlarge;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
  }
}
