.tab-text {
  display: flex;
  flex-direction: row;
  gap: $pad-small;
  align-items: center;

  &__count {
    display: flex;
    height: 23px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    background-color: $core-vibrant-blue;
    border-radius: 29px;
    color: $core-white;
    font-weight: $bold;
    margin-top: -$pad-small;
    margin-bottom: -$pad-small; // Taller count doesn't push text further from bottom line

    &--error {
      background-color: $core-vibrant-red;
    }
  }
}
