.scheduled-queries-list {
  background-color: $white;
  border: 1px solid $ui-borders;
  border-radius: 4px;
  box-sizing: border-box;

  &__table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;

    thead {
      height: 50px;
      background-color: $core-light-blue-grey;
      border-bottom: 1px solid $ui-borders;

      th {
        font-size: $x-small;
        font-weight: $bold;
        text-align: left;
        padding: 15px 10px;

        .form-field {
          margin: 0;
        }

        &:nth-child(1) {
          border-top-left-radius: 3px;
          width: 20px;
        }

        &:nth-child(2) {
          width: calc(46% - 20px);
        }

        &:nth-child(3) {
          width: 18%;
        }

        &:nth-child(4) {
          width: 18%;
        }

        &:nth-child(5) {
          width: 18%;
          text-align: center;
        }

        &:last-child {
          border-top-right-radius: 3px;
          text-align: center;
        }
      }
    }

    tbody {
      td {
        padding: 0 10px;
        margin: 0;

        .form-field {
          margin: 0;
        }

        &:nth-child(1) {
          text-align: center;
          vertical-align: middle;
        }

        &:nth-child(2) {
          font-size: 14px;
          font-weight: $bold;
          line-height: 2.71;
          letter-spacing: -0.5px;
          text-align: left;
          color: $core-black;
        }

        &:nth-child(3) {
          font-size: 14px;
          font-weight: $regular;
          line-height: 2.71;
          letter-spacing: -0.5px;
          color: $core-black;
        }

        &:nth-child(4) {
          font-size: 14px;
          font-weight: $regular;
          line-height: 2.71;
          letter-spacing: -0.5px;
          text-align: left;
          color: $core-black;
          white-space: nowrap;
        }

        &:nth-child(5),
        &:nth-child(6) {
          font-size: 14px;
          font-weight: $regular;
          line-height: 2.71;
          letter-spacing: -0.5px;
          text-align: center;
          color: $core-black;

          .kolidecon {
            font-size: 18px;
          }
        }

        &:nth-child(7) {
          text-align: center;
          font-size: 18px;
          color: $core-black;
        }
      }

      .scheduled-query-list-item__icon {
        margin: 0 3px;
      }
    }
  }

  &__first-query {
    padding: 30px 15px 100px;
    text-align: left;

    h1 {
      color: $core-dark-blue-grey;
      font-size: 24px;
      font-weight: $regular;
      line-height: 1.96;
      letter-spacing: -0.5px;
      margin: 0;
    }

    h2 {
      font-size: 20px;
      line-height: 2;
      letter-spacing: -0.4px;
      color: $core-dark-blue-grey;
      font-weight: $regular;
      margin: 0;
    }

    p {
      font-size: 16px;
      font-weight: $regular;
      line-height: 2.5;
      color: $core-dark-blue-grey;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-left: 15px;
      font-size: 16px;
      font-weight: $regular;
      line-height: 2.5;
      color: $core-dark-blue-grey;
    }
  }

  &__query-name {
    @include ellipsis(110px);
    display: table-cell;
  }
}
