.scheduled-queries-list {
  background-color: $core-white;
  border: 1px solid $ui-fleet-blue-15;
  border-radius: 4px;
  box-sizing: border-box;

  &__table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;

    thead {
      height: 50px;
      background-color: $ui-off-white;
      border-bottom: 1px solid $ui-fleet-blue-15;

      th + th {
        border-left: 1px solid $ui-fleet-blue-15;
      }

      th {
        font-size: $x-small;
        font-weight: $bold;
        text-align: left;
        padding: $pad-medium $pad-large;

        .form-field {
          margin: 0;
        }

        &:nth-child(1) {
          border-top-left-radius: 3px;
          width: 20px;
        }

        &:nth-child(2) {
          width: calc(49% - 20px);
        }

        &:nth-child(3),
        &:nth-child(7) {
          width: 8%;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          width: 12%;
        }

        &:last-child {
          border-top-right-radius: 3px;
          text-align: center;
        }
      }
    }

    tbody {
      p {
        font-size: $x-small;
      }

      td {
        padding: 0 $pad-large;
        margin: 0;

        .form-field {
          margin: 0;
        }

        &:nth-child(1) {
          text-align: center;
          vertical-align: middle;
        }

        &:nth-child(2) {
          font-size: $x-small;
          font-weight: $regular;
          line-height: 2.71;
          letter-spacing: -0.5px;
          text-align: left;
          color: $core-fleet-black;
        }

        &:nth-child(3) {
          font-size: $x-small;
          font-weight: $regular;
          line-height: 2.71;
          letter-spacing: -0.5px;
          color: $core-fleet-black;
        }

        &:nth-child(4) {
          font-size: $x-small;
          font-weight: $regular;
          line-height: 2.71;
          letter-spacing: -0.5px;
          text-align: left;
          color: $core-fleet-black;
          white-space: nowrap;
        }

        &:nth-child(5),
        &:nth-child(6) {
          font-size: $x-small;
          font-weight: $regular;
          line-height: 2.71;
          letter-spacing: -0.5px;
          text-align: left;
          color: $core-fleet-black;

          .fleeticon {
            font-size: 18px;
          }
        }

        &:nth-child(7) {
          text-align: center;
          font-size: 18px;
          color: $core-fleet-black;
        }
      }

      .scheduled-query-list-item__icon {
        margin: 0 3px;
      }
    }
  }

  &__first-query {
    padding: 0 $pad-xxlarge 100px;
    text-align: left;

    &-cta {
      text-align: left;
      font-size: $x-small;
      font-weight: $bold;
      color: $core-vibrant-blue;
    }

    h1 {
      color: $core-fleet-black;
      font-size: $large;
      font-weight: $regular;
      line-height: 1.96;
      margin: 0;
      margin-top: $pad-xxlarge;
    }

    h2 {
      font-size: $medium;
      line-height: 2;
      letter-spacing: -0.4px;
      color: $core-fleet-black;
      font-weight: $regular;
      margin: 0;
    }

    p {
      font-size: $x-small;
      font-weight: $regular;
      line-height: 2.5;
      color: $core-fleet-black;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-left: 15px;
      font-size: $x-small;
      font-weight: $regular;
      line-height: 2.5;
      color: $core-fleet-black;
    }
  }

  &__query-name {
    @include ellipsis(110px);
    display: table-cell;
  }
}
