.login-routes {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  position: relative;
  min-height: calc(100vh - #{$footer-height});
  background-color: $white;
}
