.add-install-software {
  display: flex;
  flex-direction: column;
  gap: $pad-large;

  &__description-container {
    line-height: $pad-medium;
  }
  &__description {
    margin: 0;
  }

  &__added-text {
    font-size: $x-small;
    line-height: 20px;
  }

  &__added-text {
    font-weight: $bold;
  }

  &__manual-install-tooltip {
    text-align: center;
  }

  &__macos_options_form {
    display: flex;
    flex-direction: column;
    gap: $pad-medium;

    button.reveal-button {
      align-self: flex-start;
    }
  }
}
