.confirm-data-collection-disable-modal {
  .modal__content {
    @include vertical-modal-layout;
  }

  .modal-cta-wrap {
    margin-top: 0; // Defer to gap styling
  }

  p {
    margin: 0;
  }

  &__dataset-list {
    display: flex;
    flex-direction: column;
    gap: $pad-xsmall;
    margin: 0;
    padding-left: $pad-large;

    code {
      background-color: var(--ui-off-white);
      border-radius: 4px;
      font-family: monospace;
      font-size: $x-small;
      padding: 2px $pad-xsmall;
    }
  }
}
