.script-batch-progress {
  &__status-count {
    font-weight: $bold;
    margin: $pad-medium 0;
  }
  .paginated-list__row {
    padding: 16px 24px;
  }
  &__row-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__row-when {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    @include help-text;
  }

  &__row-right {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__row-errors {
    display: flex;
    gap: 4px;
    align-items: center;
    @include help-text;
  }

  &__empty {
    @include tab-empty-state;
  }
  .react-tabs__tab-list {
    margin-bottom: $pad-large;
  }

  .paginated-list .loading-overlay {
    position: initial;
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
  }
}
