.secondary-side-panel-container {
  align-self: stretch;
  background-color: $white;
  box-sizing: border-box;
  border-left: 1px solid $border-medium;
  overflow: auto;
  width: $sidepanel-width;
  margin-left: $pad-base;
  padding-top: $pad-base;
  min-height: calc(100vh - #{$pad-base} - #{$footer-height});

  @include breakpoint(smalldesk) {
    width: $sidepanel-tablet-width;
  }
}
