.secondary-side-panel-container {
  align-self: stretch;
  background-color: $core-light-blue-grey;
  box-sizing: border-box;
  border-left: 1px solid $ui-medium-grey;
  overflow: auto;
  width: $sidepanel-width;
  margin-left: $pad-base;

  @include breakpoint(smalldesk) {
    width: $sidepanel-tablet-width;
  }
}
