<div id="404">
  <div purpose="page-container">
    <div purpose="page-content">
      <div purpose="404-image">
        <img alt="404" src="/images/404-774x486@2x.png">
      </div>
      <h2>404: We can’t find that page!</h2>
      <p>The page you are looking for has either moved, or doesn’t exist.</p>
      <div>
        <a purpose="animated-arrow-button" href="/support" no-underline>
          Get help with Fleet
          <svg purpose="animated-arrow" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
            <path purpose="arrow-line" d="M1 6H9" stroke-width="2" stroke-linecap="round"/>
            <path purpose="chevron" d="M1.35712 1L5.64283 6L1.35712 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
