.user-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 24px;

  &__container {
    @include size(500px 520px);
    border-radius: 10px;
    background-color: $core-light-blue-grey;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 25px 35px;

    &--complete {
      padding: 0;

      .user-registration__title {
        font-size: 24px;
        font-weight: $bold;
        line-height: 0.54;
        letter-spacing: 0.9px;
        color: $core-dark-blue-grey;
        padding: 25px 35px;
      }
    }
  }

  &__form {
    @include position(absolute, 49% 0 null null);
    transform: translateY(-85px);
    width: 100%;
    height: 470px;
    box-sizing: border-box;
    padding: 25px 0;

    @include breakpoint(tablet) {
      transform: translateY(-100px);
    }

    &--step1-complete {
      .user-registration__field-wrapper--admin {
        left: -220px;
      }

      .user-registration__field-wrapper--org {
        left: 50%;
      }

      .user-registration__field-wrapper--kolide {
        left: calc(100% + 220px);
      }
    }

    &--step2-complete {
      .user-registration__field-wrapper--admin {
        left: calc(-50% - 220px);
      }

      .user-registration__field-wrapper--org {
        left: -220px;
      }

      .user-registration__field-wrapper--kolide {
        left: 50%;
      }
    }

    &--step3-complete {
      .user-registration__field-wrapper--admin {
        left: calc(-100% - 220px);
      }

      .user-registration__field-wrapper--org {
        left: calc(-50% - 220px);
      }

      .user-registration__field-wrapper--kolide {
        left: -220px;
      }
    }

    &::before {
      left: auto;
      right: 50%;
    }

    &--step1-active {
      &::before {
        display: none;
      }
    }
  }

  &__description {
    font-size: 14px;
    font-weight: $regular;
    line-height: 1.43;
    letter-spacing: 0.5px;
    color: $core-dark-blue-grey;
  }

  &__title {
    font-size: 18px;
    font-weight: $bold;
    line-height: 0.72;
    letter-spacing: 0.6px;
    color: $core-dark-blue-grey;
    margin: 0;
    padding: 0;
  }

  &__field-wrapper {
    transition: left 300ms ease;
    width: 430px;
    min-height: 420px;
    padding-bottom: 75px;
    border-radius: 4px;
    background-color: $core-light-blue-grey;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    position: absolute;
    box-sizing: border-box;
    margin-left: -215px;
    z-index: 2;

    &--admin {
      left: 50%;
      top: -25px;
    }

    &--org {
      left: calc(100% + 220px);
      top: -10px;
    }

    &--kolide {
      left: calc(150% + 220px);
      top: -8px;
    }

    input {
      background-color: transparent;
    }

    .button {
      bottom: 0;
      top: auto;
      position: absolute;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &:active {
        top: auto;
      }
    }

    .registration-fields {
      padding: 0 35px 25px;
      box-sizing: border-box;
    }
  }

  &__confirmation {
    background-color: $core-light-blue-grey;
    position: relative;
    z-index: 2;
    width: 500px;
    height: 500px;
  }
}
