.transfer-host-modal {
  &__btn-wrap {
    display: flex;
    flex-direction: row-reverse;
    margin-top: $pad-xxlarge;
  }

  &__btn {
    margin-left: 12px;
  }

  &__team-link {
    color: $core-vibrant-blue;
    font-size: $x-small;
    font-weight: $bold;
    text-decoration: none;
  }
}
