.setting-up-your-device {
  &__header {
    display: flex;
    justify-content: space-between;

    .info-button {
      padding-top: 0;
    }
  }
  &__title {
    font-weight: $bold;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: $pad-medium;
  }
  h2 {
    font-size: $medium;
    margin: 0;
  }
  p {
    margin: 0;
  }
}
