.setting-up-your-device {
  &__header {
    display: flex;

    .info-button {
      padding-top: 0;
    }
  }
  &__title {
    font-weight: $bold;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: $pad-medium;
    justify-content: space-between;
    align-items: flex-start;
  }
  h2 {
    font-size: $medium;
    margin: 0;
  }
  p {
    margin: 0;
  }

  .empty-table__container {
    max-width: 100%;
  }

  .textarea-wrapper {
    font-size: $x-small;
    line-height: 1.5;
    width: 100%;
  }
}
