.disk-encryption-status-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__status-filter {
    width: 240px;

    .Select-menu-outer {
      width: 240px;
      max-height: 310px;

      .Select-menu {
        max-height: none;

        .dropdown__option {
          font-size: $small !important;
        }
      }
    }

    .Select-value {
      padding-left: $pad-medium;
      padding-right: $pad-medium;

      &::before {
        display: inline-block;
        position: absolute;
        padding: 5px 0 0 0; // centers spin
        content: url(../assets/images/icon-filter-v2-black-16x16@2x.png);
        transform: scale(0.5);
        width: 16px;
        height: 26px;
        left: 2px;
      }
    }

    .Select-value-label {
      padding-left: $pad-large;
      font-size: $small !important;
    }
  }
}
