.authentication-nav {
  display: flex;
  margin-bottom: $pad-large;

  &__back {
    margin-left: auto;
  }
  // transition: opacity 300ms ease-in;
  // width: 516px;

  // &__box {
  //   background-color: $core-fleet-white;
  //   border-radius: 10px;
  //   box-sizing: border-box;
  //   padding: $pad-xxlarge;
  //   font-weight: $regular;
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   gap: $pad-medium;

  //   p {
  //     font-size: $x-small;
  //     margin: 0;
  //   }
  // }

  // &__header-text {
  //   font-size: $x-small;
  //   font-weight: $bold;
  //   color: $core-fleet-black;
  //   line-height: 32px;
  //   margin-top: 0;
  //   margin-bottom: 0;
  // }

  // &__back {
  //   text-align: right;
  //   width: 100%;

  //   &-link {
  //     position: absolute;
  //     top: 36px;
  //     right: 36px;
  //     img {
  //       width: 16px;
  //       height: 16px;
  //     }
  //   }
  // }
}
