<div id="articles" v-cloak>
  <div style="max-width: 1200px;" class="container-fluid">
    <div style="padding-top: 80px;" class="mx-auto">
<!--       <div purpose="categories-and-search" class="d-flex flex-row justify-content-between align-items-top">
        <div purpose="categories" class="d-flex flex-row justify-content-start">
          <div purpose="category-filter" :class="[ filter === 'all' ? 'selected' : '']" @click="filterBy('all')">All</div>
          <div purpose="category-filter" :class="[ filter === 'product' ? 'selected' : '']" @click="filterBy('product')">Product</div>
          <div purpose="category-filter" :class="[ filter === 'engineering' ? 'selected' : '']" @click="filterBy('engineering')">Engineering</div>
          <div purpose="category-filter" :class="[ filter === 'security' ? 'selected' : '']" @click="filterBy('security')">Security</div>
          <div purpose="category-filter" :class="[ filter === 'announcements' ? 'selected' : '']" @click="filterBy('announcements')">Announcements</div>
          <div purpose="category-filter" :class="[ filter === 'guides' ? 'selected' : '']" @click="filterBy('guides')">Guides</div>
        </div>
        <div purpose="search" class="p-2 d-flex">
          <img class="search" alt="search" src="/images/icon-search-16x16@2x.png">
          <input class="ml-3 border-0" placeholder="Search">
        </div>
      </div> -->
      <div purpose="articles" class="card-deck d-flex justify-content-center">
        <div purpose="article-card" class="card" v-for="article in selectedArticles">
          <a :href="article.url">
            <img style="width: 100%; height: 210px;" :src="[article.meta.heroImageURL ? article.meta.heroImageURL : 'images/press-kit/press-kit-fleet-logo-white-preview-600x336@2x.png']" alt="Article hero image">
          </a>
          <!-- <img :src="'/images/blog/'+article+'.png'" class="card-img-top" alt="Article hero image"> -->
          <div purpose="article-card-body" class="card-body d-flex flex-column">
            <a class="pb-2">{{article.meta.category}}</a>
            <h5>{{article.meta.articleTitle}}</h5>
            <div purpose="article-details" class="d-flex mt-auto flex-row align-items-center">
              <span><js-timestamp format="billing" :at="article.meta.publishedOn"></js-timestamp></span>
              <span class="px-2">|</span>
              <img style="height: 32px; width: 32px; border-radius: 100%;" :src="'https://github.com/'+article.meta.authorsGitHubUserName+'.png?size=200'">
              <p class="pl-2 font-weight-bold">{{article.meta.authorsFullName}}</p>
            </div>
          </div>
        </div>
        <div purpose="article-card" class="card invisible">
        </div>
        <div purpose="article-card" class="card invisible">
        </div>
        <div purpose="article-card" class="card invisible">
        </div>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
