<div id="articles" v-cloak>
  <div style="max-width: 1200px;" class="container-fluid p-0">
    <div class="mx-auto">
      <div purpose="categories-and-search" class="d-flex flex-lg-row flex-column justify-content-lg-between justify-content-md-center justify-content-start" v-if="isArticlesLandingPage">
        <div purpose="categories" class="d-flex flex-lg-row flex-column justify-content-start">
          <div purpose="category-filter" :class="[ filter === 'all' ? 'selected' : '']" @click="filterBy('all')">All</div>
          <div purpose="category-filter" :class="[ filter === 'engineering' ? 'selected' : '']" @click="filterBy('engineering')">Engineering</div>
          <div purpose="category-filter" :class="[ filter === 'security' ? 'selected' : '']" @click="filterBy('security')">Security</div>
          <div purpose="category-filter" :class="[ filter === 'announcements' ? 'selected' : '']" @click="filterBy('announcements')">Announcements</div>
          <div purpose="category-filter" :class="[ filter === 'guides' ? 'selected' : '']" @click="filterBy('guides')">Guides</div>
          <div purpose="category-filter" :class="[ filter === 'success stories' ? 'selected' : '']" @click="filterBy('success stories')">Success stories</div>
          <div purpose="category-filter" :class="[ filter === 'podcasts' ? 'selected' : '']" @click="filterBy('podcasts')">Podcasts</div>
          <div purpose="category-filter" :class="[ filter === 'releases' ? 'selected' : '']" @click="filterBy('releases')">Releases</div>
        </div>
      </div>
      <div purpose="category-title" v-else>
        <h1>{{articleCategory}}</h1>
        <div class="d-flex flex-sm-row flex-column justify-content-between">
          <p>{{categoryDescription}}</p>
          <a purpose="rss-button" class="px-0 px-sm-2 pt-sm-1" @click="clickCopyRssLink(category)" target="_blank"><span>Subscribe</span></a>
        </div>
      </div>
      <div purpose="articles" class="card-deck d-flex justify-content-center" v-if="selectedArticles.length > 0">
        <div purpose="article-card" class="card" v-for="article in selectedArticles">
          <a purpose="article-card-link" :href="article.url">
            <img style="width: 100%; height: auto;" :src="[article.meta.articleImageUrl ? article.meta.articleImageUrl : '/images/blog-fleet-logo-white-background-800x450@2x.png']" alt="Article hero image">
          </a>
          <div purpose="article-card-body" class="card-body d-flex flex-column">
            <p purpose="category-name" class="pb-2 mb-0">{{article.meta.category}}</p>
            <a purpose="article-title" :href="article.url"><h5>{{article.meta.articleTitle}}</h5></a>
            <div purpose="article-details" class="d-flex mt-auto flex-row align-items-center">
              <img alt="The author's GitHub profile picture" style="height: 32px; width: 32px; border-radius: 100%;" :src="'https://github.com/'+article.meta.authorGitHubUsername+'.png?size=200'">
              <p class="pl-2 font-weight-bold">{{article.meta.authorFullName}}</p>
            </div>
          </div>
        </div>
        <div purpose="article-card" class="card invisible mb-0 d-none d-sm-flex">
        </div>
        <div purpose="article-card" class="card invisible mb-0 d-none d-sm-flex">
        </div>
        <div purpose="article-card" class="card invisible mb-0 d-none d-sm-flex">
        </div>
      </div>
      <div v-else>
        <h2 class="text-muted mx-auto">No articles to display</h2>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
