<div id="basic-article" v-cloak>
  <div style="max-width: 800px;" class="container-fluid px-0">
    <div purpose="article-title">
      <h1><%=thisPage.meta.articleTitle %></h1>
      <h2 v-if="articleHasSubtitle && articleSubtitle !== undefined">{{articleSubtitle}}</h2>
    </div>
    <div class="d-flex flex-sm-row flex-column justify-content-between align-items-sm-center">
      <div purpose="article-details" class="d-flex flex-row align-items-center">
      <span><js-timestamp format="billing" :at="thisPage.meta.publishedOn"></js-timestamp></span>
      <span class="px-2">|</span>
      <img style="height: 28px; width: 28px; border-radius: 100%;" alt="The author's GitHub profile picture" :src="'https://github.com/'+thisPage.meta.authorGitHubUsername+'.png?size=200'">
      <p class="pl-2 font-weight-bold"><%=thisPage.meta.authorFullName %></p>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-sm-end pt-3 pt-sm-1">
      <a purpose="rss-button" @click="clickCopyRssLink(articleCategorySlug)"><span>Subscribe</span></a>
      <a purpose="edit-button" class="d-flex flex-row align-items-center text-nowrap" target="_blank" :href="'https://github.com/fleetdm/fleet/edit/main/articles/'+thisPage.sectionRelativeRepoPath"><img alt="A pencil icon" src="/images/pencil-16x16@2x.png">Edit page</a>
      </div>
    </div>
    <div purpose="article-content" class="d-flex flex-column" parasails-has-no-page-script>
      <%- partial(path.relative(path.dirname(__filename), path.resolve( sails.config.appPath, path.join(sails.config.builtStaticContent.compiledPagePartialsAppPath, thisPage.htmlId)))) %>
    </div>
    <hr>
    <div purpose="bottom-cta" class="d-block">
      <h3 style="font-size: 24px; line-height: 32px;">Get started</h3>
      <div class="d-flex flex-sm-row flex-column align-items-center">
        <a href="/register" class="d-flex btn btn-primary justify-content-center align-items-center" purpose="next-steps-button">
          Start now
        </a>
        <animated-arrow-button class="ml-sm-4" href="/contact">Talk to us</animated-arrow-button>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
