.side-nav-item {
  margin-bottom: $pad-medium;

  a {
    color: $core-fleet-black;
    font-weight: $regular;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $core-vibrant-blue;
    }

    &.active-nav {
      font-weight: $bold;
    }
  }

}
