.all-packs-page {
  &__title {
    color: $text-medium;
    display: inline-block;
    font-size: $large;
  }

  &__wrapper {
    padding: $base;
  }

  &__table {
    border-collapse: collapse;
    color: $text-medium;
    font-size: $small;
    width: 100%;
  }
}
