.all-packs-page {
  &__bulk-action-btn {
    color: $core-purple;
    font-size: 15px;
    font-weight: $regular;
    margin-left: 26px;

    &--disable {
      margin-left: 0;

      i {
        color: $alert;
      }
    }

    &--enable {
      i {
        color: $success;
      }
    }

    &--delete {
      i {
        color: $core-medium-blue-grey;
      }
    }
  }

  &__header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__pack-count {
    color: $core-darkest-blue-grey;
    font-size: $x-small;
    font-weight: $bold;
    margin: 0;
  }

  &__search-create-section {
    position: relative;

    input {
      &[name="pack-filter"] {
        width: 100%;
        margin-top: 24px;
        padding-left: 42px;
      }
    }

    .kolidecon {
      position: absolute;
      top: 36px;
      left: 9px;
      font-size: 18px;
      color: $ui-medium-grey;
    }
  }

  &__title {
    margin: 0 0 15px;
  }

  &__wrapper {
    padding: 40px 30px;
  }

  &__table {
    color: $core-dark-blue-grey;
    font-size: $small;
    width: 100%;
  }

  &__modal-btn-wrap {
    display: flex;
    flex-direction: row-reverse;

    .button {
      margin-left: 15px;
      width: 120px;
    }
  }
}
