.all-packs-page {
  &__bulk-action-btn {
    color: $link;
    font-size: 15px;
    font-weight: $normal;
    margin-left: 26px;

    &--disable {
      margin-left: 0;

      i {
        color: $alert;
      }
    }

    &--enable {
      i {
        color: $success;
      }
    }

    &--delete {
      i {
        color: $silver;
      }
    }
  }

  &__pack-count {
    color: #858495;
    font-size: 14px;
    font-weight: $bold;
    letter-spacing: -0.5px;
    margin: 0;
  }

  &__search-create-section {
    @include display(flex);
    @include justify-content(space-between);

    input {
      &[name='pack-filter'] {
        width: 240px;
      }
    }
  }

  &__title {
    margin: 0 0 15px;
  }

  &__wrapper {
    padding: $base;
    min-height: 90vh;
  }

  &__table {
    border-collapse: collapse;
    color: $text-medium;
    font-size: $small;
    width: 100%;
  }
}
