.software-details-summary {
  display: flex;
  gap: $pad-medium;

  .software-icon {
    width: 96px;
    height: 96px;
  }

  &__info {
    flex-grow: 1;
    align-self: center;

    .truncated-tooltip {
      font-weight: $regular;
    }
  }

  h1 {
    font-size: $pad-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: $pad-medium;
  }

  &__description-list {
    display: flex;
    flex-direction: row;
    gap: $pad-xxlarge;
  }
}
