.edit-pack-page {
  @include vertical-page-layout;
  overflow: initial; // Removes weird overflow auto second scrollbar when select targets dropdown is open

  @at-root .has-sidebar > &__content {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }
}
