// react-select's <Select/> styles prop customizes the styling of
// the internal components and not external elements like labels
// See customStyles in DropdownWrappr.tsx
// https://react-select.com/styles
.dropdown-wrapper {
  &__label {
    &--error {
      color: $ui-error;
    }
    &--disabled {
      color: $ui-fleet-black-50;
    }
  }

  // Table dropdowns have height 38px
  &__table-filter {
    height: 38px;

    .react-select__control {
      height: 38px;
    }
  }
}
