.progress-bar {
  display: flex;
  background-color: $silver;
  height: 10px;
  overflow: hidden;

  &__progress {
    height: 100%;
    overflow: hidden;
    transition: width 300ms ease-in;

    &--error {
      background-color: $alert;
    }

    &--success {
      background-color: $success;
    }
  }
}
