.pagination-new {
  display: flex;
  align-items: center;
  gap: $pad-large;

  &__pagination-button {
    color: $core-vibrant-blue;
    font-weight: $bold;
    padding: $pad-small;
  }

  button:hover,
  button:focus {
    background-color: $ui-vibrant-blue-10;
  }
}
