.add-host-modal {
  &__manual-install-header {
    position: relative;
    z-index: 2;

    h2 {
      font-size: 18px;
      font-weight: $bold;
      line-height: 1.33;
      letter-spacing: -0.6px;
      color: #48c586;
      margin: 0;
    }

    h3 {
      font-size: 15px;
      font-weight: $regular;
      line-height: 1.6;
      letter-spacing: normal;
      color: rgba(32, 37, 50, 0.48);
      margin: 0;
    }

    .kolidecon {
      float: left;
      font-size: 44px;
      color: #48c586;
      margin-right: 15px;
    }
  }

  &__manual-install-content {

    h4 {
      font-size: 16px;
      font-weight: $bold;
      margin: 10px 0 0;

      .kolidecon {
        margin-left: 5px;
        font-size: 18px;
      }
    }

    p {
      font-size: 15px;
      font-weight: $regular;
      line-height: 1.6;
      letter-spacing: normal;
      color: rgba(32, 37, 50, 0.66);
      margin: 0 0 0 44px;
    }

    a {
      text-decoration: none;
    }
  }

  &__documentation-link {
    h4 {
      margin: 0;
    }
  }

  &__install-steps {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      &:first-child {
        h4 {
          margin-top: 10px;
        }
      }
    }
  }

  &__step-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    border: 2px solid $core-blue;
    color: $core-blue;
    font-weight: $bold;
    text-align: center;
    margin-right: 16px;
  }

  &__button-wrap {
    border-top: solid 1px $ui-borders;
    text-align: right;
    margin: 15px 0 0;
    padding: 15px 0 0;
  }

  &__download-cert {
    text-align: center;
    padding-top: 15px;

    span {
      display: block;
    }
  }

  &__reveal-secret {
    float: right;
    text-decoration: none;
  }

  &__secret-wrapper {
    position: relative;
    margin: 0 0 0 44px;
  }

  &__secret-copy-icon {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 18px;
    color: $core-purple;

    &:active {
      top: 8px;
    }
  }

  &__secret-input {
    input {
      border-radius: 2px;
      background-color: $core-light-blue-grey;
      border-color: $ui-borders;
      color: $core-purple;
    }
  }

  pre, 
  code {
    background-color: #f9f9f9;
    margin: 0 0 0 44px;
  }

  &__error {
    color: $alert;
  }

}

