.agent-options {
  @include vertical-page-tab-panel-layout;

  &__osquery-options-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  &__btn-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
      font-size: $x-small;
      font-weight: $bold;
    }
  }

  &__text-editor-wrapper {
    width: 100%;
  }

  .yaml-ace__label {
    min-height: 0;
  }
}
