#okta-webflow {

  [purpose='login-card'] {
    width: 100%;
    height: 100vh;
    padding-top: 16px;
    padding-right: 120px;
    padding-left: 120px;
  }
  [purpose='eula-card'] {
    width: 100%;
    height: 100vh;
    padding-top: 16px;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 16px;
    margin-bottom: -60px;
  }
  [purpose='eula-container'] {
    max-height: 450px;
    padding-right: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    p {
      text-align: justify;
    }
  }

}
