.script-uploader {
  margin-top: $pad-xxlarge;

  &.file-uploader {
    background-color: $ui-off-white;

    .file-uploader__message {
      color: $ui-fleet-black-50;
    }

    .file-uploader__title {
      color: $ui-fleet-black-75;
      font-size: $x-small;
      font-weight: $bold;
    }
  }
}
