.homepage {
  background-color: $ui-off-white;
  flex: 1;
  .homepage__wrapper {
    background-color: $ui-off-white;
  }

  h2 {
    font-size: $small;
    font-weight: $regular;
    margin: 0;
  }

  &__header-wrap {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $pad-large;
  }

  &__header {
    display: flex;
    align-items: center;

    .form-field--dropdown {
      margin-bottom: 0;
    }

    .Select-control {
      background-color: $ui-off-white !important;
    }
  }

  &__title {
    .fleeticon {
      color: $core-fleet-blue;
      margin-right: 15px;
    }

    .fleeticon-success-check {
      color: $ui-success;
    }

    .fleeticon-offline {
      color: $ui-error;
    }

    .fleeticon-mia {
      color: $core-fleet-black;
    }
  }

  &__section {
    margin-top: $pad-medium;
    width: 100%;
    display: grid;

    &.two-column {
      row-gap: $pad-medium;
    }

    @media screen and (min-width: 990px) {
      &.two-column {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: $pad-medium;
      }
    }
  }
}
