.back-link .children-wrapper {
  display: inline-flex;
  align-items: center;
  padding: $pad-small $pad-xxsmall; // larger clickable area
  gap: $pad-xsmall;

  &:hover {
    svg {
      path {
        stroke: $core-vibrant-blue-over;
      }
    }
  }
}
