.manage-user {
  .input-field {
    width: 100%;
  }

  .form-field__label {
    font-size: $x-small;
    font-weight: $bold;
    // so tooltips won't be triggered with whitespace
    display: inline-block;
  }

  &__email-hint {
    display: block;
  }

  &__button-wrap {
    width: 100%;
    margin-top: $pad-xxlarge;
    display: flex;
    justify-content: flex-end;

    .button {
      &:last-child {
        margin-left: $pad-medium;
      }
    }
  }
}
