.manage-user {
  .input-field {
    width: 100%;
  }

  .form-field {
    &__label {
      font-size: $x-small;
      font-weight: $bold;
    }
  }

  &__email-hint {
    display: block;
  }

  &__button-wrap {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;

    .button {
      &:last-child {
        margin-left: 16px;
      }
    }
  }
}
