@import "../../../../../../../node_modules/react-tabs/style/react-tabs.scss";

.platform-wrapper {
  padding: 0; // different to pad sticky subnav properly

  h1 {
    margin-bottom: $pad-small;
  }

  p {
    margin-top: 0;
  }

  .body-wrap {
    padding: 0;
  }

  &__info {
    margin-top: $pad-medium;
  }

  &__cta {
    font-weight: $bold;
    padding-top: $pad-xsmall;
    margin: 0;
  }

  .fleet-checkbox {
    display: flex;
    align-items: center;
  }

  .form-field {
    &--checkbox {
      margin-bottom: $pad-medium;
    }

    &__label {
      position: relative;
      font-size: $x-small;
      font-weight: $bold;
    }

    &--textarea {
      margin-bottom: $pad-xsmall;
    }
  }

  .input-field {
    &__textarea {
      min-height: 94px;
    }

    &__textarea,
    &--disabled {
      font-family: "SourceCodePro", $monospace;
      font-weight: 600;
      font-size: 13px;
      color: $core-fleet-blue;
      line-height: 20px;
      margin-bottom: 0;
      padding: $pad-medium $pad-large $pad-medium $pad-medium;
    }
  }

  &__advanced--installer {
    .input-field {
      height: 115px;
    }
  }

  &__installer-copy-icon {
    color: $core-vibrant-blue;
    margin-left: $pad-small;
    margin-right: $pad-medium;
  }

  &__copy-message {
    font-weight: $regular;
    vertical-align: top;
    background-color: $ui-light-grey;
    border: solid 1px #e2e4ea;
    border-radius: 10px;
    padding: 2px 6px;
  }

  .buttons {
    display: block;
    align-items: center;
    position: relative;
    right: 540px;
    top: 40px;

    a {
      display: flex;
      align-items: center;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  &__run-osquery-input {
    .buttons {
      top: 12px;
    }
  }

  &__certificate-loading {
    color: $ui-fleet-black-50;
    padding-top: $pad-xsmall;
  }

  &__certificate-error {
    span,
    em {
      display: block;
      padding: $pad-xsmall 0;
    }
    em {
      color: $ui-error;
      font-style: normal;
    }
  }

  &__advanced {
    padding-top: 6px;
    .reveal-button {
      margin: 8px 0;
    }
  }

  &__advanced--heading {
    font-weight: $bold;
    margin-bottom: $pad-small;
  }

  &__advanced--text {
    font-weight: normal;
  }

  &__advanced--installer {
    p {
      margin: 0;
    }
  }

  .download-certificate--tooltip {
    margin-bottom: 0;
    div {
      display: inline;
    }
  }

  &__copy-message {
    background-color: $ui-light-grey;
    border: solid 1px #e2e4ea;
    border-radius: 10px;
    padding: 2px 6px;
  }
}
