@import "../../../../../../../node_modules/react-tabs/style/react-tabs.scss";

.platform-wrapper {
  padding: 0; // different to pad sticky subnav properly

  h1 {
    margin-bottom: $pad-small;
  }

  a {
    font-size: $x-small;
    color: $core-vibrant-blue;
    font-weight: $bold;
    text-decoration: none;

    img {
      transform: scale(0.5);
      vertical-align: bottom;
    }
  }

  p {
    margin-top: 0;
  }

  .body-wrap {
    padding: 0;
  }

  &__info {
    margin-top: $pad-medium;
  }

  &__cta {
    font-weight: $bold;
    padding-top: $pad-xsmall;
    margin: 0;
  }

  .fleet-checkbox {
    display: flex;
  }

  .form-field {
    margin-bottom: $pad-small;

    &__label {
      position: relative;
      font-size: $x-small;
      font-weight: $bold;
      margin-top: $pad-medium;
    }
  }

  .input-field {
    &__textarea {
      min-height: 70px;
    }

    &__textarea,
    &--disabled {
      font-family: "SourceCodePro", $monospace;
      font-weight: 600;
      font-size: 13px;
      color: $core-fleet-blue;
      line-height: 20px;
      margin-bottom: 0;
      padding: $pad-medium $pad-large $pad-medium $pad-medium;
    }
  }

  &__installer-copy-icon {
    color: $core-vibrant-blue;
    margin-left: $pad-small;
    margin-right: $pad-medium;
  }

  &__copy-message {
    font-weight: $regular;
    vertical-align: top;
  }

  .buttons {
    display: block;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 40px;

    a {
      display: flex;
      align-items: center;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  &__run-osquery-input {
    .buttons {
      top: 12px;
    }
  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;
    margin: $pad-xxlarge 0 0;
  }

  &__certificate-loading {
    color: $ui-fleet-black-50;
    padding-top: $pad-xsmall;
  }

  &__certificate-error {
    span,
    em {
      display: block;
      padding: $pad-xsmall 0;
    }
    em {
      color: $ui-error;
      font-style: normal;
    }
  }

  &__advanced {
    padding-top: 6px;
  }

  &__advanced--heading {
    font-weight: $bold;
    margin-bottom: $pad-small;
  }
}
