.software-self-service {
  &__card-header {
    margin: 0 0 8px 0;
  }

  &__card-subheader {
    margin: 0 0 24px 0;
    color: $ui-fleet-black-75;
    font-size: $x-small;
  }

  // TODO: empty table styling differs slightly from figma (font size, color, spacing), why?
  .empty-table__container {
    margin: 64px 0;
  }

  &__items-count {
    margin: 0 0 24px 0;
    font-size: $x-small;
    font-weight: $bold;
  }

  // TODO: fix styling for cards so the all shrink and grow together subject to min/max widths at
  // breakpoints; needs to also align with pagination
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
  }
}
