.modal {
  &__background {
    @include position(fixed, 0 0 0 0);
    background-color: rgba($core-fleet-black, 0.4);
    z-index: 101;
    overflow: scroll;
    display: flex;
    justify-content: center;
  }

  &__content {
    margin-top: $pad-large;
    font-size: $x-small;

    .input-field {
      width: 100%;
    }
  }

  &__ex {
    text-decoration: none;

    .button {
      @include size(30px);
      line-height: 30px;
      color: $core-fleet-black;
      font-size: $x-large;

      &:hover {
        color: $ui-error;
      }
    }
  }

  &__header {
    font-size: $large;
    font-weight: $regular;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px solid $ui-fleet-blue-15;
    display: flex;
    justify-content: space-between;
  }

  &__modal_container {
    @include position(absolute, 22px null null null);
    background-color: $core-white;
    width: 658px;
    padding: $pad-xxlarge;
    border-radius: 8px;
  }
}
