.modal {
  &__background {
    background-color: rgba(0,0,0,0.25);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
  }
  &__content {
    padding: $base;
    padding-top: 0;
  }
  &__ex {
    color: $textMedium;
    cursor: pointer;
    font-size: $larger;
    position: absolute;
    top: 6px;
    right: $base;
    text-decoration: none;
  }
  &__header {
    color: $textMedium;
    font-size: $large;
    font-weight: $bold;
    position: relative;
    padding: $base;
    padding-bottom: 0;
    text-transform: uppercase;
  }
  &__modal_container {
    background-color: $white;
    left: 25%;
    position: absolute;
    top: 25%;
    width: 600px;
    z-index: 3;
  }
}
