.windows-mdm-page {

  &__back-to-mdm {
    margin-bottom: $pad-xlarge;
  }

  h1 {
    margin-bottom: $pad-large;
    font-size: $x-large;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
  }
}
