.policy-details-modal {
  &__body {
    @include vertical-modal-layout;

    white-space: pre-wrap;
  }
  &__resolution {
    overflow: hidden;
  }

  &__resolution-header {
    font-weight: $bold;
  }
}
