.policy-details-modal {
  &__resolution {
    p {
      margin-top: $pad-xsmall;
    }
  }

  &__resolve-header {
    font-weight: $bold;
  }

  .policy-details-modal__resolution {
    overflow: hidden;
  }
}
