.app-wrap {
  display: flex;
  min-height: 100vh;
}

.core-wrapper {
  flex-grow: 1;
  margin: 0;
  padding: 0 0 0 $pad-base;
  max-width: calc(100% - 217px);
  position: relative;

  &--small {
    max-width: calc(100% - 73px);
  }

  @include breakpoint(smalldesk) {
    max-width: calc(100% - 73px);
  }
}

.site-nav {
  background: $core-fleet-gradient;
  border-right: 1px solid $ui-borders;
  box-sizing: border-box;
  width: $nav-width;

  &--small {
    padding-left: 0;
    width: $nav-tablet-width;
  }

  @include breakpoint(smalldesk) {
    padding-left: 0;
    width: $nav-tablet-width;
  }
}
