.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.core-wrapper {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $white;
}

.site-nav {
  background: $core-gradient;
  box-sizing: border-box;
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;

  &--small {
    padding-left: 0;
    width: $nav-tablet-width;
  }
}
