.app-config-form {
  &__enroll-secret-label {
    font-size: 15px;

    button {
      color: $core-fleet-purple;
      font-size: 15px;
      font-weight: $regular;
      float: right;
      height: 23px;
      text-transform: none;
    }

    input {
      color: $core-fleet-purple;
    }
  }

  .form-field {
    &__label {
      font-weight: $bold;
      margin-bottom: $pad-xsmall;
    }

    &__hint {
      font-size: $x-small;
      font-style: italic;
    }
  }

  &__section {
    @include clearfix;
    margin: 0 0 30px;

    .upcarat {
      content: url("../assets/images/icon-collapse-black-16x16@2x.png");
      width: 16px;
      height: 16px;
      border-radius: 0px;
      top: 5px;
      margin: 4px;
    }

    .downcarat {
      content: url("../assets/images/icon-chevron-black-16x16@2x.png");
      width: 16px;
      height: 16px;
      border-radius: 0px;
      top: 5px;
      margin: 4px;
    }

    h2 {
      a {
        color: $core-fleet-black;
        scroll-margin-top: 210px; // used to push down anchor to visible area when there are sticky headers
      }
    }

    .smtp-options {
      font-size: 15px;
      font-weight: $bold;
      color: $core-fleet-black;
      padding-left: 15px;

      em {
        font-style: normal;
      }

      &--configured {
        em {
          color: $ui-success;
        }
      }

      &--notconfigured {
        em {
          color: $ui-error;
        }
      }
    }
  }

  &__inputs {
    width: 60%;
    float: left;
    padding: 0 $pad-xxlarge 0 0;
    box-sizing: border-box;

    .input-field {
      width: 100%;
    }

    &--smtp {
      margin: 0 0 $pad-medium;

      .form-field {
        width: 18%;
        float: right;

        &:first-child {
          float: left;
          width: 78%;
        }

        &--checkbox {
          clear: both;
          width: 100%;
          float: none;
        }
      }
    }
  }

  &__details {
    float: right;
    width: 40%;

    .icon-tooltip {
      margin: $pad-xlarge 0;
    }

    .hint {
      color: $core-fleet-black;

      &--brand {
        color: $core-vibrant-blue;
      }
    }
  }

  &__avatar-preview {
    text-align: center;

    img {
      border-radius: 20%;
      height: 120px;
      width: 120px;
      border: 1px solid $ui-fleet-blue-15;
      background-color: $ui-light-grey;
      transform: translate(-100px, 20px);
    }

    p {
      color: $core-fleet-purple;
      font-size: 18px;
      font-weight: $bold;
      margin-top: 0;
    }
  }

  &__smtp-section {
    @include clearfix;

    .slide-wrapper {
      .slider-option {
        font-size: 18px;
        font-weight: $regular;
        text-align: left;
        vertical-align: text-bottom;

        &--off {
          color: $core-fleet-blue;
        }

        &--on {
          color: $core-vibrant-blue;
        }
      }

      .button {
        margin: 0 10px;
      }
    }
  }
}
