.logout-form {
  align-self: center;
  width: 460px;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $core-white;
    box-sizing: border-box;
    padding: $pad-xlarge;
    width: 460px;
    min-height: 350px;
  }

  &__avatar {
    border: 1px solid $core-vibrant-blue;
    border-radius: 50%;
  }

  &__username {
    color: $core-vibrant-blue;
    font-size: $large;
    margin: $pad-small 0;
    text-transform: uppercase;
  }

  &__subtext {
    color: $core-fleet-blue;
    font-size: $medium;
    margin-top: $pad-small;
  }

  &__submit-btn {
    width: 460px;
  }
}
