.logout-form {
  align-self: center;
  width: 460px;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    box-sizing: border-box;
    padding: 30px;
    width: 460px;
    min-height: 350px;
  }

  &__avatar {
    border: 1px solid $brand;
    border-radius: 50%;
  }

  &__username {
    color: $brand;
    font-size: $large;
    margin: $pad-half 0;
    text-transform: uppercase;
  }

  &__subtext {
    color: $text-light;
    font-size: $medium;
    margin-top: $pad-half;
  }

  &__submit-btn {
    width: 460px;
  }
}
