.manage-automations-modal {
  pre,
  code {
    background-color: $ui-off-white;
    color: $core-fleet-blue;
    border: 1px solid $ui-fleet-black-10;
    border-radius: $border-radius;
    padding: 7px $pad-medium;
    margin: $pad-large 0 0 44px;
  }

  &__error {
    color: $ui-error;
  }

  &__overlay-container {
    display: grid;
  }

  &__software-automation-enabled,
  &__overlay {
    grid-area: 1 / 1;
  }

  &__overlay {
    background-color: $core-white;
    z-index: 0;
    opacity: 75%;
  }

  &__software-automation-description {
    p {
      margin: $pad-large 0;
    }
  }

  .form-field__label--error {
    color: $ui-error;
  }

  &__workflow {
    margin-top: $medium;
  }

  &__radio-input {
    margin: $small 0;
  }

  &__no-integration--cta {
    margin-top: $pad-medium;
  }

  &__add-integration-link {
    font-size: $x-small;
    color: $core-vibrant-blue;
    font-weight: $bold;
    text-decoration: none;
    margin-top: $pad-large;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}
