.manage-automations-modal {
  width: 778px;

  &__button-wrap {
    display: flex;
    justify-content: flex-end;
    margin: $pad-large 0 0;
  }

  .button--inverse {
    padding: $pad-small;
    margin-right: $pad-small;
  }

  pre,
  code {
    background-color: $ui-off-white;
    color: $core-fleet-blue;
    border: 1px solid $ui-fleet-blue-15;
    border-radius: 4px;
    padding: 7px $pad-medium;
    margin: $pad-large 0 0 44px;
  }

  &__error {
    color: $ui-error;
  }

  &__overlay-container {
    display: grid;
  }

  &__software-automation-enabled,
  &__overlay {
    grid-area: 1 / 1;
  }

  &__overlay {
    background-color: $core-white;
    z-index: 0;
    opacity: 75%;
  }

  &__software-automation-description {
    p {
      margin: $pad-large 0;
    }
  }

  // so tooltips won't be triggered with whitespace
  .form-field__label {
    display: inline-block;
  }

  .form-field__label--error {
    color: $ui-error;
  }
}
