.input-field-hidden-content {
  &__secret {
    display: flex;
    align-items: center;
    margin-bottom: $pad-medium;
  }

  .form-field {
    margin-bottom: 0;
  }

  &__secret-input {
    .form-field__label {
      position: relative;
      font-size: $x-small;
      font-weight: $bold;
      margin-bottom: 0;
      // TODO: figure out width when pulling out to common component
      height: 0;
      min-height: 0;
    }

    .input-field {
      padding-right: 16%;

      &--disabled {
        letter-spacing: 0;
      }

      &--password {
        letter-spacing: 4px;
      }
    }
  }

  &__copy-message {
    position: absolute;
    right: 65px;
    background-color: $ui-light-grey;
    border: solid 1px #e2e4ea;
    border-radius: 10px;
    padding: 2px 6px;
  }

  .buttons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 16px;
    top: 12px;
    height: 16px;

    span {
      font-weight: $regular;
    }
  }

  &__show-secret-icon,
  &__copy-secret-icon,
  &__edit-secret-icon,
  &__delete-secret-icon {
    padding: 0 $pad-small;
    margin-left: $pad-xsmall;
  }
}
