<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{.URLPrefix}}/assets/byod.css"
    />
    <link rel="shortcut icon" href="{{.URLPrefix}}/assets/favicon.ico" />
    <title>Fleet</title>
  </head>
  <body>
    <h1>Enroll your device to Fleet</h1>
    <p>
      Follow the instructions below to download and install the Fleet profile on
      your device.
    </p>
    <ol>
      <li>
        <p>
          <b>Download</b> the Fleet profile and select <b>Allow</b> in the
          pop-up.
        </p>
        <button>Download</button>
      </li>
      <li>
        <p>Navigate to <b>Settings</b> and select <b>Profile Downloaded</b>.</p>
        <img
          class="profile-downloaded-img"
          src=""
          alt="select profile downloaded in settings"
        />
      </li>
      <li>
        <p>Select <b>Install</b>.</p>
        <img class="select-install-img" src="" alt="select install" />
      </li>
    </ol>

    <!-- TODO: proper comment for why this is needed. -->
    <script>
      document.addEventListener("touchstart", function () {}, false);

      const os = navigator.userAgent.includes("iPhone") ? "ios" : "iPadOS";
      const profileDownloadedImg = document.querySelector(
        ".profile-downloaded-img"
      );
      const installProfileImg = document.querySelector(".select-install-img");
      profileDownloadedImg.setAttribute(
        "src",
        `{{.URLPrefix}}/assets/images/${os}-profile-downloaded.png`
      );
      installProfileImg.setAttribute(
        "src",
        `{{.URLPrefix}}/assets/images/${os}-install-profile.png`
      );
    </script>
  </body>
</html>
