<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{.URLPrefix}}/assets/byod.css"
    />
    <link rel="shortcut icon" href="{{.URLPrefix}}/assets/favicon.ico" />
    <title>Fleet</title>
  </head>
  <body>
    THIS IS THE PAGE!!!!
    <a href="{{.EnrollURL}}">tests</a>
    <!-- TODO: proper comment for why this is needed. -->
    <script>
      document.addEventListener("touchstart", function () {}, false);
    </script>
  </body>
</html>
