<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=768" id="viewport-meta-tag" />

    <script>
      // If URL contains /device/, set mobile-friendly viewport
      if (window.location.pathname.includes("/device/")) {
        document
          .getElementById("viewport-meta-tag")
          .setAttribute("content", "width=device-width, initial-scale=1.0");
      }
    </script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{.URLPrefix}}<%= htmlWebpackPlugin.files.css[0] %>"
    />
    <link rel="shortcut icon" href="{{.URLPrefix}}/assets/favicon.ico" />

    <title>Fleet</title>
    <script type="text/javascript">
      var urlPrefix = "{{.URLPrefix}}";
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script
      async
      defer
      src="{{.URLPrefix}}<%= htmlWebpackPlugin.files.js[0] %>"
    ></script>
  </body>
</html>
