<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta property="csp-nonce" content="{{.CSPNonce}}" />
    <meta name="viewport" content="width=768" id="viewport-meta-tag" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{.URLPrefix}}<%= htmlWebpackPlugin.files.css[0] %>"
    />
    <link rel="shortcut icon" href="{{.URLPrefix}}/assets/favicon.ico" />

    <title>Fleet</title>
    <meta name="url-prefix" content="{{.URLPrefix}}" />
  </head>
  <body>
    <div id="app"></div>
    <script
      async
      defer
      nonce="{{.CSPNonce}}"
      src="{{.URLPrefix}}<%= htmlWebpackPlugin.files.js[0] %>"
    ></script>
  </body>
</html>
