<!DOCTYPE html>
<html data-uuid="{{ .UUID }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/bundle.css">
    <title>Kolide</title>
  </head>
  <body>
    <div id="app"></div>
    <script async defer src="/assets/bundle.js" onload="this.parentElement.removeChild(this)"></script>
    <!-- Because iOS hates interactive stuff, we have to kill it with fire -->
    <script>document.addEventListener("touchstart", function() {},false);</script>
    <!-- End Apple Hate -->
  </body>
</html>
