<!DOCTYPE html>
<html data-uuid="{{ .UUID }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.css[0] %>">

    <!-- Icons & Platform Specific Settings - Favicon generator used to generate the icons below http://realfavicongenerator.net -->
    <!-- shortcut icon - This file contains the following sizes 16x16, 32x32 and 48x48. -->
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <!-- favicon-96x96.png - For Google TV https://developer.android.com/training/tv/index.html#favicons. -->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <!-- favicon-32x32.png - For Safari on Mac OS. -->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <!-- favicon-16x16.png - The classic favicon, displayed in the tabs. -->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">

    <!-- Android/Chrome -->
    <!-- manifest-json - The location of the browser configuration file. It contains locations of icon files, name of the application and default device screen orientation. Note that the name field is mandatory.
        https://developer.chrome.com/multidevice/android/installtohomescreen. -->
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <!-- theme-color - The colour of the toolbar in Chrome M39+
        http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android -->
    <meta name="theme-color" content="#1E1E1E">
    <!-- favicon-192x192.png - For Android Chrome M36 to M38 this HTML is used. M39+ uses the manifest.json file. -->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-192x192.png" sizes="192x192">
    <!-- mobile-web-app-capable - Run Android/Chrome version M31 to M38 in standalone mode, hiding the browser chrome. -->
    <!-- <meta name="mobile-web-app-capable" content="yes"> -->

    <!-- Apple Icons - You can move all these icons to the root of the site and remove these link elements, if you don't mind the clutter.
        https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Introduction.html#//apple_ref/doc/uid/30001261-SW1 -->
    <!-- apple-icon-57x57.png - Android Stock Browser and non-Retina iPhone and iPod Touch -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
    <!-- apple-icon-114x114.png - iPhone (with 2× display) iOS = 6 -->
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
    <!-- apple-icon-72x72.png - iPad mini and the first- and second-generation iPad (1× display) on iOS = 6 -->
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
    <!-- apple-icon-144x144.png - iPad (with 2× display) iOS = 6 -->
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
    <!-- apple-icon-60x60.png - Same as apple-icon-57x57.png, for non-retina iPhone with iOS7. -->
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
    <!-- apple-icon-120x120.png - iPhone (with 2× and 3 display) iOS = 7 -->
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
    <!-- apple-icon-76x76.png - iPad mini and the first- and second-generation iPad (1× display) on iOS = 7 -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
    <!-- apple-icon-152x152.png - iPad 3+ (with 2× display) iOS = 7 -->
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
    <!-- apple-icon-180x180.png - iPad and iPad mini (with 2× display) iOS = 8 -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
    <!-- Windows 8.1 IE11 -->
    <!-- msapplication-config - The location of the browser configuration file. If you have an RSS feed, go to
        http://www.buildmypinnedsite.com and regenerate the browserconfig.xml file. You will then have a cool live tile! -->
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <title>Kolide Fleet</title>
  </head>
  <body>
    <div id="app"></div>
    <script async defer src="<%= htmlWebpackPlugin.files.js[0] %>" onload="this.parentElement.removeChild(this)"></script>
    <!-- Because iOS hates interactive stuff, we have to kill it with fire -->
    <script>document.addEventListener("touchstart", function() {},false);</script>
    <!-- End Apple Hate -->
  </body>
</html>
