<!DOCTYPE html>
<html data-uuid="{{ .UUID }}">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/fonts.css">
    <title>Kolide</title>
  </head>
  <body>
    <div id="app"></div>
    <script async defer src="/assets/bundle.js" onload="this.parentElement.removeChild(this)"></script>
  </body>
</html>
