<!-- This is the html page for a user accepting the terms of service during the
windows mdm enrollment flow. -->
<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: 0;
      }

      .mdm-windows-sso-callback-page {
        font-family: "Inter", sans-serif;
        height: 100vh;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .main-content {
        padding: 0px;
      }

      .eula-wrapper {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .eula {
        font-size: 18px;
        max-width: 600px;
        height: 400px;
        overflow-y: scroll;
      }

      .eula ul {
        list-style: none;
      }

      .eula ol {
        padding: 0;
        list-style-position: inside;
      }

      h1 {
        font-size: 28px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 42px;
      }

      button {
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        background-color: #192147;
        margin-top: 16px;
        padding: 8px 16px;
        font-size: 18px;
        width: 341px;
        height: 78px;
      }
    </style>
    <script type="text/javascript">
      const agreeToTerms = () => {
        window.location =
          "{{.RedirectURL}}" + "?IsAccepted=true&OpaqueBlob={{.ClientData}}";
      };
    </script>
  </head>
  <body>
    <div class="main-content">
      <div class="mdm-windows-sso-callback-page">
        <div class="eula-wrapper">
          <h1>Terms and conditions</h1>
          <div class="eula">
            <p>
              Fleet is open-source software for managing computers. Your
              organization is using it to manage and secure this computer.
            </p>
            <p>Fleet does NOT have access to:</p>
            <ul>
              <li>⌨️ Keystrokes</li>
              <li>🖱 Mouse movements</li>
              <li>🎙 Webcams & mic</li>
              <li>🖥 Screen content</li>
            </ul>
            <p>
              To read the source code running on your device, visit
              github.com/fleetdm/fleet.
            </p>
            <p>
              The people who contribute to Fleet are helpful, kind, and
              dedicated to clarity through open-source software. If you run into
              issues or would like to contribute, let us know at fleetdm.com.
            </p>
            <p>And now, the End User License Agreement:</p>
            <p>
              This copy of Fleet (“the Software Product”) and accompanying
              documentation is licensed and not sold. Fleet Device Management,
              Inc (“Fleet”) owns intellectual property rights in the Software
              Product that are protected by laws and treaties pertaining to
              copyright and other forms of intellectual property. The
              Licensee&apos;s (“you” or “your”) license to download, use, copy,
              or change the Software Product is subject to these rights and to
              all the terms and conditions of this End User License Agreement
              (“Agreement”). These Terms are subject to change by Fleet Device
              Management, Inc without prior written notice at any time, and in
              Fleet&apos;s sole discretion.
            </p>
            <ol>
              <li>
                Acceptance<br />
                <p>
                  You accept and agree to be bound by the terms of this
                  agreement by selecting the “accept” option and downloading the
                  software product or by installing, using or copying the
                  software product. You must agree to all of the terms of this
                  agreement before downloading or installing the software
                  product.
                </p>
              </li>
              <li>
                License Grant<br />
                <p>
                  Subject to the terms and conditions of this Agreement, Fleet
                  hereby grants to End User, and End User&amp;s authorized users
                  who have been registered with Fleet, a non-exclusive and
                  nontransferable license, during the term of your contract, to
                  access and use the Software Product. End User agrees that its
                  purchase of subscription(s) for the Software Product is
                  neither contingent upon the delivery of any future
                  functionality or features nor dependent upon any oral or
                  written public comments made by Fleet with respect to future
                  functionality or features, unless specifically documented in a
                  statement of work or other agreement. Upon expiration or
                  termination of your contract, the rights and licenses granted
                  hereunder will automatically terminate, and End Users may
                  continue to use the free version of the Software Product but
                  will lose functionality associated with paid features.
                </p>
              </li>
              <li>
                Restrictions on Transfer<br />
                <p>
                  Without first obtaining the express written consent of Fleet
                  Device Management Inc., you may not assign your rights and
                  obligations under this Agreement, or redistribute, encumber,
                  sell, rent, lease, sublicense, or otherwise transfer your
                  rights to the Software Product.
                </p>
              </li>
              <li>
                Restrictions on Use<br />
                <p>
                  You may not use, copy, or install the Software Product on more
                  hosts than the number permitted by license.
                </p>
              </li>
              <li>
                No Warranties<br />
                <p>
                  To the maximum extent permitted by applicable law, Fleet
                  expressly disclaims any warranty for the Software Product. The
                  Software Product and any related documentation are provided
                  "as is" without warranty of any kind, either express or
                  implied, including, without limitation, the implied warranties
                  of merchantability or fitness for a particular purpose. Fleet
                  makes no warranty that the Software Product will meet your
                  requirements or operate under your specific conditions of use.
                  Fleet makes no warranty that operation of the Software Product
                  will be secure, error free, or free from interruption. The
                  entire risk arising out of use or performance of the Software
                  Product remains with you.
                </p>
              </li>
              <li>
                No Liability for Consequential Damages<br />
                <p>
                  To the maximum extent permitted by applicable law, in no event
                  shall Fleet, its directors, officers, employees, agents or its
                  suppliers be liable for any damages whatsoever (including,
                  without limitation, damages for loss of business profit,
                  business interruption, loss of business information, or any
                  other pecuniary loss) arising out of the use of, or inability
                  to use, this Fleet product, even if Fleet has been advised of
                  the possibility of such damages. Because some
                  states/jurisdictions do not allow the exclusion or limitation
                  of liability for consequential or incidental damages, the
                  above limitation may not apply to you.
                </p>
              </li>
              <li>
                Limitation of Remedies and Damages<br />
                <p>
                  Your remedy for a breach of this Agreement or of any warranty
                  included in this Agreement is the correction or replacement of
                  the Software Product. Selection of whether to correct or
                  replace shall be solely at the discretion of Fleet. If Fleet
                  is unable to provide a replacement or substitute Software
                  Product or corrections to the Software Product, your sole
                  alternate remedy shall be a refund of the purchase price for
                  the Software Product.
                </p>
              </li>
              <li>
                Governing Law<br />
                <p>
                  This Agreement is governed by the laws of the State of
                  California, without regard to its conflict of law provisions.
                </p>
              </li>
              <li>
                Termination<br />
                <p>
                  Without prejudice to any other rights, Fleet may terminate
                  this Agreement if you fail to comply with the terms and
                  conditions of this EULA.
                </p>
              </li>
              <li>
                Severability<br />
                <p>
                  If any provision of this Agreement shall be held to be invalid
                  or unenforceable, the remainder of this Agreement shall remain
                  in full force and effect. To the extent any express or implied
                  restrictions are not permitted by applicable laws, these
                  express or implied restrictions shall remain in force and
                  effect to the maximum extent permitted by such applicable
                  laws.
                </p>
              </li>
              <li>
                Export Restrictions<br />
                <p>
                  You agree that neither you nor your customers intend to or
                  will, directly or indirectly, export or transmit the Software
                  Product or related documentation and technical data, or
                  process, or service that is the direct product of the Software
                  Product to any country to which such export or transmission is
                  restricted by any applicable U.S. regulation or statute,
                  without the prior written consent, if required, of the Bureau
                  of Export Administration of the U.S. Department of Commerce,
                  or such other governmental entity as may have jurisdiction
                  over such export or transmission.
                </p>
              </li>
            </ol>
          </div>
          <button onClick="agreeToTerms()">Agree and continue</button>
        </div>
      </div>
    </div>
  </body>
</html>
