html {
  position: relative;
  min-width: $min-width;
  height: 100%;
  // Because iOS hates us we must fight to the death!
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // End Apple War
}

body {
  color: $text-ultradark;
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: $base;
  line-height: 1.6;
  min-width: $medium-width;
  height: 100%;
}

html,
body {
  height: 100%;
}

.wrapper,
.wrapper > div {
  min-height: 100vh;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 24px;
  font-weight: $light;
  letter-spacing: -0.5px;
  color: $text-dark;
  margin: 0;
}

a {
  color: $link;
}

.wrapper {
  background: $white;
  margin: 0;

  &--background {
    background: url('/assets/images/background.png') center center;
    background-size: cover;
  }
}

.body-wrap {
  border-radius: 3px;
  background-color: $white;
  border: solid 1px $white;
  min-width: 910px;
  max-width: calc(100vw - #{$nav-width} - #{$pad-base});

  @at-root {
    .core-wrapper--small & {
      max-width: calc(100vw - #{$nav-tablet-width} - #{$pad-base});
    }

    .has-sidebar & {
      margin-right: 0;
      min-width: 610px;
      max-width: calc(100vw - #{$nav-width} - #{$pad-base} - #{$pad-base} - #{$sidepanel-width});

      @at-root .core-wrapper--small & {
        max-width: calc(100vw - #{$nav-tablet-width} - #{$pad-base} - #{$pad-base} - #{$sidepanel-tablet-width});
      }

      @include breakpoint(smalldesk) {
        max-width: calc(100vw - #{$nav-tablet-width} - #{$pad-base} - #{$pad-base} - #{$sidepanel-tablet-width});
      }
    }
  }

  @include breakpoint(smalldesk) {
    max-width: calc(100vw - #{$nav-tablet-width} - #{$pad-base});
  }
}

.has-sidebar {
  display: flex;
  height: 100%;

  > * {
    &:first-child {
      flex-grow: 1;
      align-self: flex-start;
      margin-right: 0;
    }
  }
}

.cf {
  @include clearfix;
}

input,
textarea,
button {
  font-family: 'Oxygen', sans-serif;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    -webkit-text-fill-color: $text-dark !important; //sass-lint:disable-line no-important
  }
}

input {
  &[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
