html {
  position: relative;
  min-width: $min-width;
  height: 100%;
  // Because iOS hates us we must fight to the death!
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // End Apple War
}

body {
  color: $core-fleet-black;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: $medium;
  min-width: $medium-width;
  height: 100%;
}

html,
body {
  height: 100%;
}

.wrapper,
.wrapper > div {
  min-height: 100vh;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: $large;
  font-weight: $regular;
  letter-spacing: -0.5px;
  color: $core-fleet-black;
  margin: 0;
}

a {
  color: $core-fleet-purple;
}

.wrapper {
  background: $gradients-dark-gradient-vertical;
  margin: 0;
}

.body-wrap {
  padding: $pad-xxlarge 30px 0;
  border-radius: 3px;
  background-color: $core-white;
  border: solid 1px $core-white;
  min-width: 910px;

  @at-root {
    .has-sidebar & {
      margin-right: 0;
      min-width: calc(#{$app-min-width} - 30px - 30px - #{$sidepanel-width});
      max-width: calc(
        100vw - #{$pad-xlarge} - #{$pad-xlarge} - #{$pad-xxsmall} - #{$sidepanel-width}
      );
    }
  }
}

.has-sidebar {
  display: flex;
  flex-grow: 1;

  > * {
    &:first-child {
      flex-grow: 1;
      align-self: flex-start;
      margin-right: 0;
    }
  }
}

.cf {
  @include clearfix;
}

input,
textarea,
button {
  font-family: "Nunito Sans", sans-serif;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    -webkit-text-fill-color: $core-fleet-black !important; //sass-lint:disable-line no-important
  }
}

input {
  &[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

// syntax highlighting for pretty-printed JSON
pre {
  padding: 15px;
  background-color: $core-fleet-black;
  color: $core-white;
  border-radius: 4px;

  .string {
    color: $rainbow-green;
  }
  .number {
    color: $rainbow-orange;
  }
  .boolean {
    color: blue;
  }
  .null {
    color: magenta;
  }
  .key {
    color: $core-white;
  }
}
