// TODO: Confirm all styling

.software-script-details-modal {
  overflow-wrap: anywhere;

  &__modal-content {
    display: flex;
    flex-direction: column;
    gap: $pad-medium;
  }

  &__status-message {
    display: flex;
    align-items: center;
    gap: $pad-small;
    margin: 0;
    .icon {
      align-self: flex-start;
    }
  }
  .data-set__horizontal {
    flex-direction: row;
  }
  .reveal-button {
    width: min-content;
  }
}
