.sql-editor {
  &__label {
    font-size: $x-small;
    font-weight: $bold;

    &--error {
      color: $core-vibrant-red;
    }
    &--with-action {
      display: flex;
      justify-content: space-between;

      button {
        height: initial; // aligning space between label and textarea
        animation: fade-in 250ms ease-out;
      }
    }
  }

  &__wrapper {
    &--error {
      .ace-fleet {
        border: 1px solid $core-vibrant-red;
      }
    }
  }

  .ace_content {
    padding-left: 4px;
  }

  .ace_placeholder {
    font-family: "SourceCodePro", $monospace;
    margin: initial;
    font-size: 15px;
  }

  &__help-text {
    @include help-text;

    code {
      color: $core-vibrant-blue;
      background-color: $ui-light-grey;
      padding: $pad-xxsmall;
      font-family: "SourceCodePro", $monospace;
    }
  }

  .loading-spinner {
    margin: 0;
  }
}
