.edit-configuration-modal {
  .modal__content {
    @include vertical-modal-layout;
  }

  &__description {
    color: $ui-fleet-black-75;
    font-size: $x-small;
    margin: 0;
  }

  .modal-footer__content-wrapper {
    padding-top: $pad-large;
  }
}
