.certificates {
  @include vertical-card-layout;

  &__tab-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: $pad-medium;
  }

  .list-item__title {
    max-width: px-to-rem(900);
    width: 36vw;
  }
}
