.certificates {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__mdm-disabled-message {
    border: 1px solid $ui-fleet-black-10;
  }
  .list-item__title {
    max-width: px-to-rem(900);
    width: 36vw;
  }
}
