.hosts-summary {
  margin-top: $pad-large;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: $x-small;
  gap: $pad-medium;

  &__row {
    display: flex;
    justify-content: space-around;
  }

  // Create a single row
  @media (min-width: $break-md) {
    flex-direction: row;
    gap: initial;

    &__row {
      flex: 1 100%;
    }
  }

  &__tile {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-of-type {
      justify-content: flex-end;
    }
    &:last-of-type {
      justify-content: flex-start;
    }
  }

  &.single-platform {
    .hosts-summary__tile:first-of-type {
      justify-content: center;
    }
  }

  &__tile-icon {
    margin-right: px-to-rem(12);
  }

  &__tile-count {
    font-size: $large;
  }
}
