.hosts-summary {
  margin-top: $pad-large;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: $x-small;
  gap: $pad-medium;

  .summary-tile {
    flex: 1 1 30%;
  }

  @media (min-width: $break-md) {
    .summary-tile {
      flex: initial;
    }
  }

  &.single-platform {
    .hosts-summary__tile:first-of-type {
      justify-content: center;
    }
  }

  &__tile-icon {
    margin-right: px-to-rem(12);
  }

  &__tile-count {
    font-size: $large;
  }
}
