.query-report {
  &__wrapper {
    .host_id__header {
      width: 95px; // Min width for 6 digits host IDs
    }

    .data-table__wrapper {
      overflow-x: scroll;
    }
  }

  &__results-cta {
    display: flex;
    gap: $pad-medium;
  }
}
