<div id="launch-party" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/landing-page/launch-party.less</em>, <em>assets/js/pages/landing-page/launch-party.page.js</em>, and <em>api/controllers/landing-page/view-launch-party.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
