<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Fleet Desktop</string>
    <key>CFBundleDisplayName</key>
    <string>Fleet Desktop</string>
    <key>CFBundleIdentifier</key>
    <string>com.fleetdm.fleet-desktop</string>
    <key>CFBundleVersion</key>
    <string>10</string>
    <key>CFBundleShortVersionString</key>
    <string>1.4.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>FleetDesktop</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.fleetdm.fleet-desktop.url</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fleet</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
