.software-details-modal {
  &__software-details {
    margin-top: 24px;
  }

  &__details-info {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
    padding: $pad-large 0;
    border-bottom: 1px solid $ui-fleet-black-10;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__row {
    display: flex;
    gap: $pad-xxlarge;
  }

  &__sig-info {
    display: flex;
    flex-direction: column;
  }

  &__file-path,
  &__hash {
    width: 100%;
    white-space: initial;
    overflow-wrap: anywhere;
  }

  .modal__content {
    margin-top: $pad-small;
  }

  .react-tabs__tab-panel {
    margin-top: $pad-large;
  }
}
