.query-results {
  &__results-cta {
    display: flex;
  }

  &__results-cta > *:not(:last-child),
  &__errors-cta > *:not(:last-child) {
    margin-right: $pad-medium;
  }

  .data-table__wrapper {
    overflow-x: scroll;
  }

  .data-table-block .data-table thead th {
    min-width: 140px;
    padding-left: 0px;
    padding-right: $pad-large;
    border-right: 0;

    &:first-of-type {
      padding-left: $pad-large;
    }
  }

  .data-table-block .data-table tbody td {
    padding-left: 0px;
    padding-right: $pad-large;

    &:first-of-type {
      padding-left: $pad-large;
    }
  }

  &__results-table-container,
  &__error-table-container {
    margin-top: 32px;
  }

  .error__cell {
    white-space: pre-wrap; // Converts \n into new lines
  }
}
