#forgot-password {
  padding-top: 80px;
  h1 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 48px;
  }
  a {
    color: @core-vibrant-blue;
  }
  p {
    font-size: 16px;
  }

  [purpose='customer-portal-form'] {

    label {
      margin-bottom: 8px;
      color: var(--text-text-brand, #192147);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px; /* 150% */
    }
    input {
      height: 40px;
      border-radius: 6px;
    }
    .card {
      border-radius: 6px;
    }
    .card-body {
      padding: 24px;
    }
  }

  [purpose='submit-button'] {

    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    span {
      display: inline;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      font-weight: 700;
    }

  }

  [purpose='back-button'] {
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 200px;
    height: 40px;
    span {
      color: white;
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      line-height: 20px;
      vertical-align: center;
      font-weight: 400;
    }
  }

  @media (max-width: 768px) {
    padding-top: 60px;
  }

  @media (max-width: 576px) {
    padding-top: 40px;
    [purpose='customer-portal-form'] {
      .card-body {
        padding: 1.5em 1em;
      }
    }
  }


}
