#signup {
  padding-top: 80px;
  h1 {
    font-size: 28px;
    line-height: 38px;
  }
  a {
    color: @core-fleet-black-75;
    text-decoration: underline;
  }
  [purpose='page-heading'] {
    padding-left: 30px;
    padding-right: 30px;
  }

  [purpose='customer-portal-form'] {
    max-width: 560px;
    border-radius: 16px;
    padding: 30px;
    label {
      font-weight: 700;
      margin-bottom: 4px;
    }
    .form-control {
      height: 40px;
      border-radius: 6px;
    }
    .card-body {
      padding: 2em;
    }
    .selectbox {

      position: relative;
    }
    .selectbox::after {
      content: url('/images/chevron-12x8@2x.png');
      right: 14px;
      transform: scale(0.5);
      top: 14px;
      position: absolute;
      pointer-events: none;
    }
    .selectbox select {
      border-radius: 6px;
      height: 48px;
      appearance: none;
      -webkit-appearance: none;
    }
  }

  [purpose='submit-button'] {

    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    span {
      display: inline;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      font-weight: 700;
    }
  }

  [purpose='features-list'] {
    padding-left: 40px;
    font-size: 14px;
    word-wrap: overflow;
    ul {
     list-style-type: none;
     padding-inline-start: 0px;
    }
    li {
    padding-bottom: 12px;
    color: @core-fleet-black-75;
    white-space: nowrap;
   }
   img {
    display: inline;
    height: 16px;
    margin-right: 8px;
   }

  }

  @media (max-width: 768px) {
    padding-top: 60px;
    [purpose='customer-portal-form'] {
      max-width: unset;
    }
  }

  @media (max-width: 576px) {
    padding-top: 40px;
    [purpose='page-heading'] {
      padding-left: 0px;
      padding-right: 0px;
    }
    [purpose='customer-portal-form'] {
      .card-body {
        padding: 1.5em 1em;
      }
    }
  }

}
