.custom-settings {
  &__description {
    font-size: $x-small;
    margin-bottom: $pad-large;
    @include grey-text;
  }

  &__pagination-controls {
    display: flex;
    justify-content: flex-end;
    margin: $pad-large 0;
  }

  .upload-list {
    &__list {
      .list-item__label-count {
        align-self: center;
      }
      .list-item__actions {
        display: none;
      }
      :hover {
        background-color: $ui-fleet-blue-10;
        .list-item__labels {
          display: none;
        }
        .list-item__actions {
          display: flex;
          gap: $pad-xxlarge;
        }
      }
    }
  }

  .turn-on-mdm-message {
    border: px-to-rem(1);
    border-color: $ui-fleet-black-10;
    border-style: solid;
    border-radius: px-to-rem(6);
    padding-top: px-to-rem(64);
    padding-bottom: px-to-rem(64);
    width: 100%;
    margin: px-to-rem(32) 0 0;
    max-width: none;
  }
}
