.custom-settings {
  &__description {
    font-size: $x-small;
    margin: $pad-xxlarge 0;
  }

  &__profiles-header {
    padding: $pad-medium $pad-large;
    display: flex;
    justify-content: space-between;
    font-size: $x-small;
    font-weight: $bold;
    border-bottom: 1px solid $ui-fleet-black-10;
  }

  &__profile-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__file-uploader {
    margin-top: $pad-xxlarge;
  }
}
