<div id="state-of-device-management" v-cloak>
  <div purpose="hero-container" class="d-sm-flex justify-content-center align-items-center">
    <div purpose="hero-content" class="container px-xl-0 d-sm-flex flex-column">
      <div purpose="hero-text">
        <h1>State of device management</h1>
        <p>We surveyed 200+ security practitioners who are responsible for device management at their organization. Here’s what we learned about thier current challenges, frustrations, and desires when it comes to managing their devices.</p>
        <div purpose="hero-buttons" class="d-flex flex-column flex-sm-row">
          <a href="#insights-from-mike-mcneil" class="btn btn-primary">Start reading</a>
          <a class="btn">Download PDF <img alt="An arrow pointing down" class="d-inline" src="/images/icon-arrow-down-16x16@2x.png"></a>
        </div>
      </div>
    </div>
  </div>
  <div purpose="report-container" class="container-fluid d-flex flex-lg-row flex-column justify-content-between">
    <div purpose="report-sidebar" class="d-flex flex-column mb-5 mb-lg-0">
      <h4>Table of contents</h4>
      <hr>
      <div purpose="table-of-contents">
        <a href="#insights-from-mike-mcneil" class="pb-3">Insights from Mike McNeil</a>
        <a href="#key-findings" class="pb-3">Key Findings</a>
        <a href="#who-we-surveyed" >Who we surveyed</a>
      </div>
      <hr>
      <div purpose="topics" class="flex-column">
        <a class="pb-3" href="#part-1"><span purpose="topic-number">1</span>State of device management</a>
        <a class="pb-3" href="#part-2"><span purpose="topic-number">2</span>Best practices & challenges</a>
        <a class="pb-3" href="#part-3"><span purpose="topic-number">3</span>MDM implementation</a>
        <a class="pb-3" href="#part-4"><span purpose="topic-number">4</span>Device management effectiveness</a>
        <a class="pb-3" href="#part-5"><span purpose="topic-number">5</span>Plans & priorities for the future</a>
        <a href="#part-6"><span purpose="topic-number">6</span>Preparing for the future of device management</a>
      </div>
    </div>
    <div purpose="report-content" class="d-flex flex-column">
      <div id="insights-from-mike-mcneil" purpose="report-card" class="mb-0">
        <div class="d-flex flex-column flex-md-row align-items-center">
          <img alt="A picture of Mike McNeil" style="display: inline; height: 110px; width: 110px; margin-right: 24px;" src="/images/team-mikermcneil-110x110@2x.png">
          <div class="flex-column">
            <h2 class="mb-1">Insights from Mike McNeil</h2>
            <h6 class="mb-0">CEO & co-founder, Fleet</h6>
          </div>
        </div>
        <hr>
        <p>Businesses are powered by the devices their employees use: laptops, tablets, smartphones, and other mobile technology. Some of these are company-issued devices, but many are personal devices on which employees conduct their work — and in today’s remote environment, that work could happen anywhere.</p>
        <p>But how does an organization manage those devices? Do they know if their devices are compliant and secure? Do they have ways to query them to learn more about their status in real time? Or are organizations unprepared and overwhelmed with managing thousands or hundreds of thousands of endpoints?</p>
        <p>At Fleet, we help security teams, IT professionals, and DevOps engineers track and secure their organization’s laptops and servers. But outside of our users and customers, we wanted to know more about the current state of device management, in general, to understand better how security teams manage their endpoints. We found that organizations may not be managing devices as successfully and thoroughly as they should be to keep themselves safe.</p>
        <p>We hope you consider these insights and findings as you build your device management strategy in 2022.</p>
      </div>
      <div id="key-findings" purpose="report-section">
        <h2>Key findings</h2>
        <div purpose="report-list" class="mb-0 d-flex flex-column">
            <strong purpose="report-list-header">OOnly a quarter say their devices are fully enrolled and upgraded</strong>
            <p>Only 23% of the people we asked said they have successfully enrolled all, or nearly all, of their devices in their MDM. 25% are running the latest OS version, while the remainder only have a fraction of their devices enrolled or upgraded.</p>
            <strong purpose="report-list-header">Miscellaneous and mobile operating systems are a problem</strong>
            <p>When it comes to managing operating systems, 36% struggle with miscellaneous operating systems, 29% with iOS, and 26% with Android. Additionally, Windows (40%) and Linux (27%) are the platforms they use the most but don’t currently manage.</p>
            <strong purpose="report-list-header">The best practice is to have a good bring-your-own-device (BYOD) policy</strong>
            <p>32% say having a documented BYOD policy is a crucial best practice for their MDM strategy. They also find success measuring point-in-time compliance across all devices (31%) and tracking how quickly vulnerable software is patched (30%).</p>
            <strong purpose="report-list-header">Compliance verification is the biggest day-to-day challenge</strong>
            <p>22.9% of our respondents say their biggest daily challenge with their MDM is being able to verify compliance across devices. 21% say getting all their devices enrolled is their top challenge, while 20.5% say maintaining accurate visibility across devices is theirs.</p>
            <strong purpose="report-list-header">Complicated MDMs are the top deployment challenge</strong>
            <p>36% found it too difficult to configure and understand their MDM, while 34% also encountered confusing or limited documentation. 33% were frustrated with SSO integration, and a further 33% faced difficulty getting support.</p>
            <strong purpose="report-list-header">Only half think their MDM is effective</strong>
            <p>47% find visibility into enrolled devices sufficient, 49% effectively maintain secure laptops and servers, 52% respond to incidents promptly, 55% have the visibility to investigate in real time, and 49% effectively enforce compliance and security posture — but the remainder are not finding these in their MDM.</p>
            <strong purpose="report-list-header">Multi-factor authentication is a top priority for 2022</strong>
            <p class="mb-0">Over the next year, respondents want to focus on device security. 18% say multi-factor authentication (MFA) at login is a priority. 14% are focused on implementing zero-touch enrollment, and 13% say patching third-party applications and packages is their top priority for 2022.</p>
        </div>
      </div>
      <div id="who-we-surveyed" purpose="report-section">
        <h2>Who we surveyed</h2>
        <p>Starting on February 25, 2022, we sampled 205 members of professional security teams who are directly responsible for device management. The survey was conducted online via Pollfish using organic sampling. <a href="">Learn more about the Pollfish methodology.</a></p>
        <div purpose="chart-card">
          <p class="mb-4 font-weight-bold">Demographics</p>
          <bar-chart class="pb-3" type="stacked" title="Gender" :chart-data="barCharts.demographics.gender"></bar-chart>
          <bar-chart class="pb-3" type="stacked" title="Age" :chart-data="barCharts.demographics.age"></bar-chart>
          <bar-chart class="pb-3" type="stacked" title="Country" :chart-data="barCharts.demographics.country"></bar-chart>
          <bar-chart type="stacked" title="Number of employees" :chart-data="barCharts.demographics.numberOfEmployees"></bar-chart>
        </div>
        <div purpose="chart-card">
          <bar-chart min-range="10" max-range="22" type="divided" title="Role" :chart-data="barCharts.demographics.role"></bar-chart>
        </div>
        <div purpose="chart-card">
          <bar-chart min-range="6" max-range="13" type="divided" title="Industry" :chart-data="barCharts.demographics.industry"></bar-chart>
        </div>
        <div purpose="chart-card">
          <bar-chart min-range="18" max-range="28" type="divided" title="Percentage of workforce working remotely (fully or partially)" :chart-data="barCharts.demographics.percentWorkingRemote"></bar-chart>
        </div>
        <p class="pt-4 mb-0">Now, with context around our respondents — security team members responsible for device management, across a variety of industries, at various levels of remote work — let’s take a closer look at what we uncovered.</p>
      </div>
      <div purpose="report-section" id="part-1">
        <span purpose="section-marker">PART 1</span>
        <h1 class="pt-2">State of device management</h1>
        <p>Not only has technology enabled employees to work through laptops, smartphones, tablets, and other mobile devices, the shift to remote work has increased the need for it. More devices means a greater risk of compromise and organizational security threats, which results in an increased demand for endpoint visibility and monitoring.</p>
        <p>Our respondents told us about their current state of device management: what MDM they use, what devices they’re managing, and what they’re struggling to cover.</p>
        <div purpose="subsection">
          <div class="d-flex flex-row row justify-content-center">
            <div class="d-flex flex-column col-md-6 col-12">
              <h3>58% use a cloud MDM</h3>
              <p>Most of our respondents (57.6%) use a cloud solution hosted by a vendor for their MDM. The rest are self-managed and hosted by their organization.</p>
            </div>
            <div class="d-flex flex-column col-md-6 col-12 order-md-2 order-3">
              <h3>50/50 split on how they pay for their MDM</h3>
              <p>50.4% of our respondents pay per device, while the remainder pays per user.</p>
            </div>
            <div class="col-md-6 order-2 order-md-3">
              <div purpose="chart-card" class="mt-0 ">
                <div purpose="chart-container">
                  <canvas id="cloud-mdm-chart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6 order-4">
              <div purpose="chart-card" class="mt-0 ">
                <div purpose="chart-container">
                  <canvas id="mdm-charges-chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div purpose="subsection">
          <h3>26% report their organization manages over 250,000 devices</h3>
          <p>With devices including servers, laptops, desktops, tablets, and mobile phones, the largest segment of respondents (25.9%) estimate having over 250,000 total devices in their organization’s fleet.</p>
          <div purpose="chart-card">
            <bar-chart min-range="10" max-range="30" increment-scale-by="2" type="divided" title="Estimated total number of devices in organization" subtitle="(Includes servers, laptops, desktops, tablets, and mobile phones.)" :chart-data="barCharts.partOne.totalDevices"></bar-chart>
          </div>
        </div>
        <div purpose="subsection">
          <h3>Rates of MDM enrollment vary across organizations</h3>
          <p>Respondents report varying degrees of enrollment across their organization’s MDM. The majority (27.8%) have only enrolled about a quarter of their devices. 26.8% say that about half of their devices are enrolled. For 22.4%, about three-quarters of their devices are enrolled. Finally, 22.9% say they have enrolled all, or nearly all, of their devices.</p>
          <div purpose="chart-card">
            <bar-chart min-range="20" max-range="30" type="divided" title="Estimated percentage of devices enrolled in MDM" :chart-data="barCharts.partOne.mdmEnrolledDevices"></bar-chart>
          </div>
        </div>
        <div purpose="subsection">
          <h3>25% have 10,000 workstations in their organization</h3>
          <p>The largest segment of respondents (24.9% report having about 10,000 workstations in their organization, including laptops, desktops, or other devices. Other respondents report having 1,000 workstations (20.5%), 2,000 workstations (18.6%), 5,000 workstations (19%), and 25,000 or more workstations (17.6%).</p>
          <div purpose="chart-card">
            <bar-chart min-range="15" max-range="25" type="divided" title="Estimated end-user workstations in organization" subtitle="(Includes servers, laptops, desktops, tablets, and mobile phones.)" :chart-data="barCharts.partOne.numberOfWorkstations"></bar-chart>
          </div>
        </div>
        <div purpose="subsection">
          <h3>Devices are also in various states of upgrade</h3>
          <p>The majority (28.57%) reported that roughly half of their devices are running the latest operating system released by the manufacturer. 21% say about a quarter of their organization’s devices are running the latest OS, while 24.84% say three-quarters have the latest OS installed. Finally, 25.47% of the surveyed people say all, or nearly all, of their devices, have up-to-date operating systems installed.</p>
          <div purpose="chart-card">
            <bar-chart min-range="18" max-range="30" increment-scale-by="2" type="divided" title="Estimated percentage of devices running the latest operating system released from the manufacturer" :chart-data="barCharts.partOne.devicesOnLatestOS"></bar-chart>
          </div>
        </div>
        <div purpose="subsection">
          <h3>Network switches and other infrastructure, laptops, and virtual desktops are a priority for device management strategies</h3>
          <p>Our respondents reported that their current device management strategy includes the following devices (we asked respondents to choose all that apply):</p>
          <div purpose="chart-card">
            <bar-chart min-range="20" max-range="38" type="divided" title="What types of devices does your current device management strategy cover?" :chart-data="barCharts.partOne.typesOfDevicesOnLatestOS"></bar-chart>
          </div>
        </div>
        <div purpose="subsection">
          <h3>Organizations inadequately manage Windows and Linux</h3>
          <p>In a “choose all that apply” question, We asked respondents which platforms their organizations use but don’t currently manage with an MDM. They replied:</p>
          <div purpose="chart-card">
            <bar-chart min-range="10" max-range="40" type="divided" title="What platforms do you struggle the most with managing?" :chart-data="barCharts.partOne.platformsManaged"></bar-chart>
          </div>
        </div>
        <div purpose="subsection">
          <h3>iOS and other disparate platforms are a challenge to manage</h3>
          <p>When it comes to managing various platforms, they struggle the most with managing the following (and chose all that applied):</p>
          <div purpose="chart-card">
            <bar-chart min-range="20" max-range="38" type="divided" title="What platforms do you struggle the most with managing?" :chart-data="barCharts.partOne.platformsWithStruggle"></bar-chart>
          </div>
        </div>
        <div purpose="subsection" class="mb-0">
          <h2>Summary</h2>
          <p>Our survey found that the organizations behind our respondents need ways to manage a large number of endpoints. A quarter of respondents report managing 250,000 devices or more, and a quarter are in organizations with over 10,000 workstations.</p>
          <p>However, our respondents said that devices in their organization are at various stages of enrollment and upgrade. Some organizations report having enrolled nearly all devices in their MDM with the latest operating system. Yet, not even a quarter of devices are enrolled and upgraded for many others. Meaning organizations don’t know which devices are at risk.</p>
          <p>As for their MDMs, most (58%) use a vendor-issued, cloud-based solution, while the rest use a self-managed solution hosted by their organization. Devices commonly covered by their MDMs include their network switches and other infrastructure, followed by laptops, virtual desktops, smartphones, and servers. Respondents use Windows the most in their office, yet their MDM doesn’t cover it, and they struggle the most to manage disparate platforms, iOS and Android.</p>
          <p>In the next section, we’ll look deeper at what makes our respondent’s MDM approach successful and what daily challenges they face.</p>
        </div>
      </div>
      <div purpose="report-section" id="part-2">
        <span purpose="section-marker">PART 2</span>
        <h1>Best practices and challenges</h1>
        <p>Our respondents are directly involved in managing devices for their organization, which can be as many as 250,000 or more. Are they finding success in their efforts, or are they being derailed by daily inconveniences?</p>
        <p>Here are some of the best practices our respondents suggest for device management, and some of the challenges they face each day.</p>
        <div purpose="subsection" class="row">
          <div class="col-md-6" purpose="report-note">
            <img alt="A laptop with a checkmark" src="/images/icon-laptop-36x36@2x.png">
            <h3>Having a documented BYOD policy in place</h3>
            <p>With the rise in employees using their own devices for work, respondents say it’s imperative to have a documented policy over usage and access.</p>
          </div>
          <div class="col-md-6" purpose="report-note">
            <img alt="A clock" src="/images/icon-clock-36x36@2x.png">
            <h3>Measuring point-in-time compliance across all devices</h3>
            <p>It’s a struggle to accurately monitor devices if you’re getting lagging or stale data. Another best practice is to ensure that you’re measuring compliance in real time across all of your devices.</p>
          </div>
          <div class="col-md-6" purpose="report-note">
            <img alt="A square rotated 45 degrees" src="/images/icon-square-36x36@2x.png">
            <h3>Reporting how quickly vulnerable software is patched</h3>
            <p>Another best practice is reporting, and keeping track of how quickly vulnerable software is patched so you can gauge response time and optimize for performance.</p>
          </div>
          <div class="col-md-6" purpose="report-note">
            <img alt="A hand touching a button" src="/images/icon-touch-36x36@2x.png">
            <h3>Providing users a self-service experience</h3>
            <p>Respondents also see value in having end users be able to troubleshoot their issues themselves, instead of having to get IT involved.</p>
          </div>
          <div class="col-md-6 mb-0" purpose="report-note">
            <img alt="A circle icon" src="/images/icon-circles-36x36@2x.png">
            <h3>Focusing on a seamless end user experience</h3>
            <p>Finally, respondents stress having a solution in place that is seamless on the end user side, allowing for easy access and continued productivity.</p>
          </div>
        </div>
        <div purpose="chart-card">
          <bar-chart min-range="20" max-range="34" type="divided" title="What best practices are currently part of your device management strategy?" :chart-data="barCharts.partTwo.deviceManagementStrategy"></bar-chart>
        </div>
        <div purpose="subsection">
          <h2>Top challenges for MDM</h2>
          <p>The biggest challenges respondents face each day when it comes to device management are:</p>
        </div>
          <div class="row mb-0">
            <div class="col-md-4" purpose="report-note">
              <img alt="A checklist" src="/images/icon-checklist-36x36@2x.png">
              <h3>Verifying compliance across devices</h3>
              <p>Above, respondents said a best practice for success is to verify compliance in real time across all devices — yet doing that effectively is proving to be a challenge. Adding to that complexity is a lack of device enrollment, making full compliance monitoring impossible.</p>
            </div>
            <div class="col-md-4" purpose="report-note">
              <img alt="A compliant laptop with a checkmark" src="/images/icon-enrolled-device-36x36@2x.png">
              <h3>Getting all devices enrolled</h3>
              <p>Only 22.9% of respondents said that all or nearly all of their devices are enrolled — meaning enrollment has become a challenge. A reason for lack of compliance could be simply getting employees to enroll their devices.</p>
            </div>
            <div class="col-md-4 mb-0" purpose="report-note">
              <img alt="An hexagon with a circle in the center and six small circles at each corner" src="/images/icon-visibility-36x36@2x.png">
              <h3>Maintaining accurate visibility across all devices</h3>
              <p>Accurate visibility across all devices relies not only on having the right MDM solution in place to provide that visibility, but that all devices are enrolled and able to be monitored.</p>
            </div>
          </div>
        <div purpose="chart-card">
          <bar-chart min-range="14" max-range="24" increment-scale-by="2" type="divided" title="#1 challenge with day-to-day device management" :chart-data="barCharts.partTwo.topChallenges"></bar-chart>
        </div>
        <div purpose="subsection" class="mb-0">
          <h2>Summary</h2>
          <p>When it comes to their best practices and their top challenges, two points surface. The first is the necessity of having the right MDM solution in place that can monitor all devices, verify compliance, have accurate visibility into those endpoints, and that can do it all in real time. The second point that surfaces is that the first point can only be achieved if devices are enrolled in the first place. It’s part of the reason why the number one best practice was to have a documented policy in place for personal device usage. It’s also why the second biggest day-to-day challenge is getting all devices being used across their organization enrolled in their MDM.</p>
          <p>In the next section, we’ll take a step back and look at the reasons why organizations choose their MDM solution in the first place.</p>
        </div>
      </div>
      <div purpose="report-section" id="part-3">
        <span purpose="section-marker">PART 3</span>
        <h1>MDM deployment and implementation</h1>
        <p>Since our respondents are directly involved in managing their organization’s devices, they can give the greatest insight into why their organization decided to implement an MDM, how long it took to implement, and what some of the challenges were to implementation.</p>
        <div purpose="subsection">
          <h3>48% use a cloud MDM</h3>
          <p>About half (48.3%) of our respondents were involved in the deployment of their current MDM solution. 51.7% were not.</p>
          <div purpose="chart-card">
            <div purpose="chart-container">
              <span purpose="chart-title">Were you involved in the deployment of your organization’s current MDM solution?</span>
              <canvas id="mdm-involvement-chart"></canvas>
            </div>
          </div>
        </div>
        <div purpose="subsection">
          <h3>Top triggers that led to an MDM investment</h3>
          <p>More than likely, some event or initiative triggered the move to invest in an MDM. Here are the top reasons why our respondents’ organization turned to an MDM:</p>
        </div>
        <div purpose="subsection" class="row">
          <div class="col-md-4" purpose="report-note">
            <img alt="A globe with two circles" src="/images/icon-globe-36x36@2x.png">
            <h3>The shift to remote work</h3>
            <p>Remote work increases endpoints outside of an office location, with workers logging on from anywhere through various reliable and unreliable means. As such, having an MDM became a priority overnight for protecting the organization.</p>
          </div>
          <div class="col-md-4" purpose="report-note">
            <img alt="A certificate" src="/images/icon-certificate-36x36@2x.png">
            <h3>An upcoming compliance audit or certification</h3>
            <p>Another reason was that they had an upcoming compliance audit or certification, and probably knew they wouldn’t pass it without better monitoring and visibility into their endpoints.</p>
          </div>
          <div class="col-md-4 mb-0" purpose="report-note">
            <img alt="an enrolled laptop" src="/images/icon-enrolled-device-36x36@2x.png">
            <h3>More control over the onboarding or enrollment experience</h3>
            <p>They also made the decision to invest in an MDM solution in order to be more proactively involved in the device management process.</p>
          </div>
        </div>
        <div purpose="chart-card">
          <bar-chart  min-range="10" max-range="17" type="divided" title="MDM solution investment triggers" :chart-data="barCharts.partThree.mdmInvestmentTriggers"></bar-chart>
        </div>
        <div purpose="subsection">
          <h3>22% say their MDM took over a year to implement</h3>
          <p>The largest segment of respondents (22.2%) reported that it took over a year to deploy and implement their MDM. However, for 18.7%, it took four weeks or less. For 15.7%, it took one to three months, and for 13.1% it took three to six months. For 16.2% it took six to nine months, and for 14.1% it took nine to twelve months.</p>
          <div purpose="chart-card">
            <div purpose="chart-container">
              <span purpose="chart-title">Estimated time to complete MDM deployment and implementation</span>
              <canvas id="mdm-deployment-time-chart"></canvas>
            </div>
          </div>
        </div>
        <h3>Top deployment challenges</h3>
        <p>What were some of the challenges to deployment? Respondents encountered the following while implementing their new MDM solution (and chose all that applied):</p>
        <div purpose="subsection" class="row">
          <div class="col-md-4" purpose="report-note">
            <img alt="Arrows leading in different directions" src="/images/icon-arrows-36x36@2x.png">
            <h3>Too complicated to configure</h3>
            <p>The biggest challenge was that the solution was too complicated to configure and to understand — a failure right at the start.</p>
          </div>
          <div class="col-md-4" purpose="report-note">
            <img alt="A confusing document" src="/images/icon-confusing-document-36x36@2x.png">
            <h3>Confusing or limited documentation</h3>
            <p>Possibly related to the confusion in the first reason, respondents also discovered there was a lack of documentation to help them deploy the solution, or the documentation was confusing.</p>
          </div>
          <div class="col-md-4 mb-0" purpose="report-note">
            <img alt="A lock with an arrow pointing at it" src="/images/icon-lock-36x36@2x.png">
            <h3>Integrating with single sign-on</h3>
            <p>They also found that their MDM solution had trouble integrating with their SSO services like Okta and SAML.</p>
          </div>
        </div>
        <div purpose="chart-card">
          <bar-chart  min-range="29" max-range="37" type="divided" title="Challenges encountered while deploying MDM" :chart-data="barCharts.partThree.challengesEncountered"></bar-chart>
        </div>
        <div purpose="subsection" class="mb-0">
          <h2>Summary</h2>
          <p>An organization with a growing number of endpoints across thousands of devices needs some way to manage them. For our respondents, the biggest trigger that got their organization to invest in an MDM solution was the move to remote work sparked by the pandemic and its sudden lockdowns. Other reasons for adopting an MDM include needing to ensure compliance for an audit, and wanting to have more of a hand involved in device management.</p>
          <p>But in addition to the challenges mentioned in the last section regarding enrollment, real-time monitoring, and visibility, our respondents also found challenges in actually deploying the MDM solution they need to secure their endpoints. While 18.7% said that their MDM took a month or less to deploy and implement, 22.2% said theirs took a year or longer to roll out — which is a long time to leave devices unmonitored and unaccounted for.</p>
          <p>They also encountered issues during deployment, as the MDM ended up being too complicated to understand, didn’t have helpful documentation, was too hard to configure, and didn’t integrate with SSO — and it was hard to get vendor support to help remedy the issues they faced.</p>
          <p>Once deployed and implemented, did our respondents find that they had an effective solution on their hands? As we’ll find out in the next section, many of them didn’t.</p>
        </div>
      </div>
      <div purpose="report-section" id="part-4">
        <span purpose="section-marker">PART 4</span>
        <h1>Device Management Effectiveness</h1>
        <p>Organizations may have a way to manage devices in their organization, but are they finding their approach to be successful? In this section, our respondents provided insights into how effective their MDM strategy is when it comes to visibility, keeping inventory, incident response, and more.</p>
        <div purpose="subsection">
          <h3>47% have an MDM that provides sufficient visibility into enrolled devices</h3>
          <p>46.8% say their current MDM strategy provides sufficient visibility into their enrolled devices, and collects sufficient security data. 53.2% say it does not.</p>
          <div purpose="chart-card" class="mb-0">
            <div purpose="chart-container">
              <span purpose="chart-title">Does your current management strategy provide sufficient visibility / collect sufficient security data about enrolled devices?</span>
              <canvas id="mdm-visibility-chart"></canvas>
            </div>
          </div>
        </div>
        <div purpose="subsection">
          <h3>49% have an MDM that effectively maintains secure laptops and servers</h3>
          <p>48.8% say their current MDM strategy effectively maintains secure laptops and servers. 51.2% says it does not.</p>
          <div purpose="chart-card" class="mb-0">
            <div purpose="chart-container">
              <span purpose="chart-title">Does your current device management strategy effectively maintain secure laptops and servers?</span>
              <canvas id="mdm-laptops-and-servers-chart"></canvas>
            </div>
          </div>
        </div>
        <div purpose="subsection">
          <h3>50% have an MDM that effectively keeps an accurate inventory of all devices</h3>
          <p>49.8% say their current MDM effectively keeps an accurate inventory of all devices across platforms. 50.2% say it does not.</p>
          <div purpose="chart-card" class="mb-0">
            <div purpose="chart-container">
              <span purpose="chart-title">Does your current device management strategy effectively keep an accurate inventory of all devices across all platforms?</span>
              <canvas id="mdm-inventory-chart"></canvas>
            </div>
          </div>
        </div>
        <div purpose="subsection">
          <h3>52% have an MDM that allows incident response in a timely manner</h3>
          <p>51.7% say their current MDM allows them to respond to incidents in a timely manner, with enough context. 48.3% say it does not.</p>
          <div purpose="chart-card" class="mb-0">
            <div purpose="chart-container">
              <span purpose="chart-title">Does your current management strategy allow you to respond to incidents in a timely manner, with enough context?</span>
              <canvas id="mdm-incident-response-chart"></canvas>
            </div>
          </div>
        </div>
        <div purpose="subsection">
          <h3>55% have an MDM with enough visibility to investigate in real time</h3>
          <p>54.6% say their current MDM strategy gives them enough visibility to investigate what’s happening on the device in real time. 45.4% say it does not.</p>
          <div purpose="chart-card" class="mb-0">
            <div purpose="chart-container">
              <span purpose="chart-title">Does your current management strategy give you enough visibility to investigate what’s happening on the device “right now”?</span>
              <canvas id="mdm-realtime-visibility-chart"></canvas>
            </div>
          </div>
        </div>
        <div purpose="subsection">
          <h3>49% have an MDM that effectively enforces compliance and security posture</h3>
          <p>48.8% say their current MDM strategy effectively enforces compliance and security posture across all devices. 51.2% says it does not.</p>
          <div purpose="chart-card" class="mb-0">
            <div purpose="chart-container">
              <span purpose="chart-title">Does your current management strategy enforce compliance and security posture across all devices?</span>
              <canvas id="mdm-compliance-enforcement-chart"></canvas>
            </div>
          </div>
        </div>
        <div purpose="subsection">
          <h3>54% have an MDM that allows them to effectively automate customer security workflows</h3>
          <p>54.2% say their current MDM strategy allows them to effectively automate their customer security workflows. 45.9% say it does not.</p>
          <div purpose="chart-card" class="mb-0">
            <div purpose="chart-container">
              <span purpose="chart-title">Does your current management strategy allow you to effectively automate your custom security workflows?</span>
              <canvas id="mdm-workflow-automation-chart"></canvas>
            </div>
          </div>
        </div>
        <div purpose="subsection">
          <h3>49% have an MDM that allows end users to self-service their own IT needs</h3>
          <p>48.8% say their current MDM strategy effectively gives end users a way to safely self-service their own IT needs without involving the help desk. 51.2% say it does not.</p>
          <div purpose="chart-card" class="mb-0">
            <div purpose="chart-container">
              <span purpose="chart-title">Does your current management strategy give end users a way to safely self-serve their own IT needs without involving the help desk?</span>
              <canvas id="mdm-self-service-chart"></canvas>
            </div>
          </div>
        </div>
        <div purpose="subsection" class="mb-0">
          <h2>Summary</h2>
          <p>A quick glance through the charts tells the story of MDM effectiveness: only about half have an effective solution implemented across their organization that provides sufficient visibility into enrolled devices, maintains secure laptops and servers, automates customer security workflows, enforces compliance and security posture, and performs other capabilities.</p>
          <p>We’ll learn more about their future plans for improvements in the next section.</p>
        </div>
      </div>
      <div purpose="report-section" id="part-5">
        <div purpose="subsection" class="pt-0">
          <span purpose="section-marker">PART 5</span>
          <h1>Plans and Priorities for the Future</h1>
          <p>Organizations are only going to see an increase in mobile device usage, especially as they continue remote work into the foreseeable future. But do organizations have MDM strategy at the top of their priority list? Here’s what the future looks like for device management.</p>
        </div>
        <div purpose="subsection">
          <h3>Budget allocations over the next year will vary</h3>
          <p>Respondents reported varying levels of investment in their MDM in the future. 35.1% said that their budget will stay the same in the coming year, and for 32.5%, their budget will increase. However, for an additional 32.5%, their budget will decrease.</p>
          <div purpose="chart-card" class="mb-0">
            <bar-chart  min-range="30" max-range="36" type="divided" title="Expected device management budget change over the next 12 months" :chart-data="barCharts.partFive.expectedBudgetChange"></bar-chart>
          </div>
        </div>
        <div purpose="subsection">
          <h3>Most wanted MDM features and capabilities</h3>
          <p>More than likely, some event or initiative triggered the move to invest in an MDM. Here are the top reasons why our respondents’ organization turned to an MDM:</p>
        </div>
        <div purpose="subsection" class="row">
          <div class="col-md-6" purpose="report-note">
            <img alt="Cloud hosting" src="/images/icon-cloud-36x36@2x.png">
            <h3>Cloud-hosted by vendor</h3>
            <p>As more organizations turn to cloud adoption and away from on-prem, respondents want their MDM to be cloud-hosted.</p>
          </div>
          <div class="col-md-6" purpose="report-note">
            <img alt="A settings icon" src="/images/icon-settings-36x36@2x.png">
            <h3>Built-in security controls with sensible defaults</h3>
            <p>The same number of respondents also want to be able to set the security defaults for their MDM.</p>
          </div>
          <div class="col-md-6" purpose="report-note">
            <img alt="A partial circle" src="/images/icon-partial-circle-36x36@2x.png">
            <h3>Inspectable, modifiable, open source code</h3>
            <p>One of the challenges with MDMs today is that they’re black boxes, without any access to the code. So respondents want their MDMs to be open source, with inspectable and modifiable code.</p>
          </div>
          <div class="col-md-6" purpose="report-note">
            <img alt="Three blocks and a checkmark" src="/images/icon-setup-36x36@2x.png">
            <h3>Initial setup of software or tools at onboarding</h3>
            <p>Respondents also want more software setup available at onboarding, including Zoom, Slack, Python, and others.</p>
          </div>
          <div class="col-md-6" purpose="report-note">
            <img alt="A fast moving clock" src="/images/icon-realtime-36x36@2x.png">
            <h3>Real-time visibility of every device that’s less than a minute old</h3>
            <p>Respondents want to be able to check compliance and other aspects of their devices in real time, gathering data that’s less than a minute old.</p>
          </div>
          <div class="col-md-6 mb-0" purpose="report-note">
            <img alt="Arrows pointing down from three circles" src="/images/icon-destination-36x36@2x.png">
            <h3>Collecting security data from enrolled devices</h3>
            <p>They also want their MDM to be able to collect security data from devices so that they can take immediate action on any vulnerabilities.</p>
          </div>
        </div>
        <div purpose="subsection">
          <div purpose="chart-card" class="mb-0">
            <bar-chart  min-range="17" max-range="29" type="divided" title="Most wanted features when evaluating a new MDM vendor" :chart-data="barCharts.partFive.expectedBudgetChange"></bar-chart>
          </div>
        </div>
        <div purpose="subsection">
          <h2>Top priorities for MDM in 2022</h2>
          <p>When asked their number one priority for their MDM strategy for the next year, respondents said they’re focused on the following initiatives and implementations:</p>
        </div>
        <div purpose="subsection" class="row">
          <div class="col-md-4" purpose="report-note">
            <img alt="Multi-factor authentication" src="/images/icon-authentication-36x36@2x.png">
            <h3>Device security such as multi-factor authentication (MFA) at login</h3>
            <p>For our respondents, their top priority is ensuring security across their organization’s devices, specifically by leveraging multi-factor authentication.</p>
          </div>
          <div class="col-md-4" purpose="report-note">
            <img alt="Zero touch enrollment" src="/images/icon-zero-touch-36x36@2x.png">
            <h3>Zero-touch enrollment</h3>
            <p>Respondents also want to focus on zero-touch enrollment to increase enrollment percentages and achieve better monitoring and compliance.</p>
          </div>
          <div class="col-md-4 mb-0" purpose="report-note">
            <img alt="A square rotated 45 degrees" src="/images/icon-square-36x36@2x.png">
            <h3>Patching third-party applications and packages</h3>
            <p>Another priority is ensuring that third-party applications on various devices are patched and secure.</p>
          </div>
        </div>
        <div purpose="subsection">
          <div purpose="chart-card" class="mb-0">
            <bar-chart  min-range="8" max-range="19" type="divided" title="Priorities for device management over the next 12 months" :chart-data="barCharts.partFive.deviceManagementPriorities"></bar-chart>
          </div>
        </div>
        <div purpose="subsection" class="mb-0">
          <h2>Summary</h2>
          <p>With remote work likely to continue into the near and far future, and with threats on the rise and malicious actors looking to exploit vulnerable endpoints, it’s increasingly imperative that originations have a robust MDM solution in place. Top priorities for respondents’ organizations include overall security in the form of ensuring multi-factor authentication across devices, as well as shoring up third-party apps and packages. They also want to focus on making device enrollment easier by offering zero-touch enrollment.</p>
          <p>For those looking for a more efficient MDM that can help them achieve their goals of endpoint protection — and from what we discovered above, that may be half of organizations out there who find that their current MDM is insufficient — they want a solution that’s cloud-based, has built-in security defaults, is open source, is easy to set up, and gives real-time visibility.</p>
        </div>
      </div>
      <div purpose="report-section" id="part-6">
        <div purpose="subsection" class="mt-0">
          <span purpose="section-marker">PART 6</span>
          <h1>Preparing for the Future of Device Management</h1>
          <p>Do organizations have full insight into the state of their devices? Or are they underprepared to manage security and compliance in an increasingly remote world? As we found, many organizations are prepared, with near-full enrollment of their devices in an MDM solution that provides effective visibility, incident response, and security across devices. However, many other organizations are challenged in their approach to device management, starting with confusing and unsupported deployment.</p>
        </div>
        <div purpose="subsection">
          <h2>Takeaways</h2>
          <p>If you’re looking to strengthen your MDM solution, or simply looking for better ways of thinking about device management, here are a few actionable tips and takeaways.</p>
          <div purpose="report-list">
            <h3 purpose="report-list-header">Protect remote workers with zero trust, TLS, and 2FA</h3>
            <p>With workforces split almost evenly between fully remote, half remote, and no remote employees, focus on designing solutions using tools that are as effective in an office as they are when people are on an unknown internet connection. Not assigning trust to the network location of your devices is the safer approach, even if you don’t have anybody remote right now. Plus, not assigning trust is a useful business continuity mechanism if anything prevents employees from working at the office. To keep devices safe in the office as well as in remote locations, move away from VPNs to granular proxies with TLS and two-factor authentication (2FA) which don’t allow for lateral movement.</p>
            <h3 purpose="report-list-header">Either manage for Linux or don’t use Linux</h3>
            <p>Respondents above said that the second most frequent platform used in their organization but that’s not currently managed is Linux. The best approach is to either use Linux, or don’t. If you have many Linux workstations stuck in that gray area of being necessary yet not fully managed, see what would be needed to get your Linux workstations up to spec when it comes to secure configuration and monitoring. Otherwise, it’ll become more of a burden and vulnerability point than benefit.</p>
            <h3 purpose="report-list-header">Start managing containers now</h3>
            <p>Identify your container security needs. Many respondents are not sure if containers are in use at their company, and others do not currently use them. In both cases, there likely will be a need to secure containers soon, and organizations who don’t yet use them still have time to create their container strategy. Start by evaluating your existing IT and security stack and see what gaps you have in terms of vulnerability discovery and real-time monitoring of container workloads.</p>
            <h3 purpose="report-list-header">Make Windows part of your MDM</h3>
            <p>Move Windows workstations from legacy GPO management to MDM and Autopilot. Because there were other options to manage them, Windows systems are less often managed by MDM, and MDM policies are still catching up. However, in a remote world we can’t assume laptops will ever be connected to the LAN to receive their policies. Like container security above, now’s the time to bring Windows — the number one platform most use yet not managed above — into your MDM solution.</p>
            <h3 purpose="report-list-header">Use open APIs for real-time compliance</h3>
            <p>Many of the challenges above centered around being able to verify compliance in real time, and have visibility across all devices in the organization. In order to make compliance simpler, use tools with open APIs that let you query the status of devices, but that also alert you when a policy check fails on a device. This way, remediation can happen immediately.</p>
          </div>
        </div>
        <div purpose="subsection" class="mb-0">
          <h3>The Future of Device Management</h3>
          <p>Having a strong and comprehensive approach to device management is a necessity for organizations, especially those with remote workers. Make sure that the MDM solution you choose for your organization is providing the endpoint access and insights you need to keep your organization truly safe.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
