.policy-automations-list {
  max-width: 600px;
  border: 1px solid $ui-fleet-black-10;
  border-radius: 8px;
  font-size: $x-small;

  &__row {
    display: flex;
    align-items: center;
    padding: 0 $pad-large;
    height: 40px;
    border-top: 1px solid $ui-fleet-black-10;

    &:first-child {
      border-top: none;
    }
  }

  &__row-graphic {
    vertical-align: middle;
    color: $ui-fleet-black-50;
  }

  &__row-name {
    display: flex;
    align-items: center;
    gap: $pad-small;
    color: $ui-fleet-black-75;

    a {
      @include link;

      &:hover {
        color: $core-fleet-black;
      }
    }
  }

  &__empty-state {
    display: flex;
    align-items: center;
    max-width: 600px;
    height: 40px;
    padding: 0 $pad-large;
    border: 1px solid $ui-fleet-black-10;
    border-radius: 8px;
    font-size: $x-small;
    color: $ui-fleet-black-50;
  }
}
