.host-query-report {
  @include vertical-page-layout;
  @include color-contrasted-sections;

  h1 {
    font-weight: $bold;
  }

  &__header {
    @include vertical-page-layout;
    &__row2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
