.software-uninstall-details-modal {
  &__modal-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__status-message {
    display: flex;
    align-items: center;
    gap: $pad-small;
    margin: 0;
    .icon {
      align-self: flex-start;
    }
  }
  &__script-output {
    .textarea {
      margin-top: $pad-medium;
      overflow-wrap: break-word;
      font-family: "SourceCodePro", $monospace;
    }
  }
}
