.disk-encryption-table {
  margin-bottom: $pad-xxlarge;

  .data-table-block .data-table tbody td .w250 {
    min-width: auto;
  }

  @media (max-width: $break-md) {
    .view-hosts-link {
      span {
        display: none;
      }
    }
  }
}
