.software-homebrew {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  &__form {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__submit {
    align-self: flex-start;
  }
}
