#jamf-alternative {

  [purpose='landing-page-container'] {
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 160px;
  }
  [purpose='landing-page-content'] {
    max-width: 1072px;
  }


}
