#replace-jamf {
  // Line-heights:
  @text-lineheight: 150%;
  @heading-lineheight: 120%;


  @section-gap-xl: 160px;
  @section-gap-l: 120px;
  @section-gap-m: 80px;

  @inner-gap-xl: 64px;
  @inner-gap-l: 48px;
  @inner-gap-m: 32px;
  @inner-gap-s: 24px;
  @inner-gap-xs: 16px;
  @inner-gap-xxs: 8px;




  h4 {
    color: #515774;
    text-align: center;
    font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
    font-family: 'Roboto Mono';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: @text-lineheight;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  h2 {
    color: #192147;
    text-align: center;

    /* Heading/H2 */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: @heading-lineheight;
    margin-bottom: 0px;
  }

  p {
    margin-bottom: 0px;
  }

  [purpose='landing-page-container'] {
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @section-gap-xl;
  }
  [purpose='landing-page-content'] {
    max-width: 1072px;
    width: 100%;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @section-gap-xl;
  }
  [purpose='page-hero'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @inner-gap-m;
    text-align: center;
    width: 100%;
  }
  [purpose='hero-heading'] {
    h1 {
      color: #192147;
      text-align: center;

      /* Heading/H1 */
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: @heading-lineheight;
      margin-bottom: 0px;
    }
  }
  [purpose='hero-logos'] {
    margin-top: 88px;
    max-width: 1072px;
    width: 100%;
    [parasails-component='logo-carousel'] {
      margin-bottom: 0px;
    }
  }
  [purpose='hero-content'] {
    max-width: 582px;
  }
  [purpose='button-row'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: @inner-gap-s;
    padding-top: 16px;
    a {
      font-weight: 700;
      font-size: 14px;
      line-height: @text-lineheight;
      white-space: nowrap;
    }
    [purpose='cta-button'] {
      .cta-button();
      border-radius: 8px;
      padding: 8px 16px;
      height: 36px;
      min-width: 140px;
    }

    [purpose='video-button'] {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      color: #192147;
      img {
        height: 32px;
        margin-right: 8px;
      }
      span {
        margin-left: 4px;
        display: inline-block;
        color: #8B8FA2;
        font-size: 12px;
        margin-top: 2px;
        font-weight: 400;
      }
    }
  }


  [purpose='page-section'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @inner-gap-xl;
    min-width: 0px;
  }
  [purpose='section-quote'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: center;
    max-width: 590px;
    [purpose='quote-text'] {
      color: #515774;
      text-align: center;
      font-family: Inter;
      font-size: 22px;
      font-style: italic;
      font-weight: 300;
      line-height: 150%;
    }
    [purpose='quote-author-info'] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
      align-self: center;
    }
    [purpose='quote-author-image'] {
      img {
        height: 48px;
      }
    }
    [purpose='author-name'] {
      color: #192147;
      text-align: center;


      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
    [purpose='author-title'] {
      color: #515774;
      text-align: center;


      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
  [purpose='section-title'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: @inner-gap-s;
  }
  [purpose='section-intro'] {
    max-width: 800px;
  }
  [purpose='section-heading'] {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @inner-gap-s;
  }

  [purpose='feature-card-deck'], [purpose='feature-cards'] {

    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: @inner-gap-s;
    align-self: stretch;
    flex-wrap: wrap;

    // justify-content: center;
  }

  [purpose='feature-card'] {
    display: flex;
    align-self: stretch;
    min-width: 288px;
    max-width: 31%;
    padding: 32px 32px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid #E2E4EA;
    gap: @inner-gap-s;
    [purpose='card-title'] {
      color: #192147;

      /* Title XS */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: @heading-lineheight;
    }
    [purpose='card-body'] {
      color: #515774;

      /* Body/SM */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      align-self: stretch;
      gap: 16px;
      display: flex;
      flex-direction: column;
    }
    [purpose='card-footer'] {
      border-top: 1px solid #E2E4EA;
      margin-top: 16px;
      padding-top: 24px;
      width: 100%;
      justify-self: flex-end;
      p {
        margin-bottom: 0px;
        color: #8B8FA2;

        /* Body/XS */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
      [purpose='callout'] {
        color: #009A7D;

        /* Body/Emphasis/MD */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: @text-lineheight;
      }
    }
  }

  [purpose='table-legend'] {
    display: flex;
    flex-direction: row;
    gap: @inner-gap-xs;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: @inner-gap-xxs;
      img {
        height: 16px;
      }
    }
    [purpose='tilde'] {
      font-weight: 800;
    }
  }
  [purpose='comparison-table-section'] {
    width: 100%;
  }
  [purpose='comparison-table'] {
    margin-top: 32px;
    border-radius: 8px;
    outline: 1px solid #E2E4EA;
    thead {
      background: #FFF;
      border-bottom: 1px solid #E2E4EA;
      th {
        border-top: none;
        color: #192147;
        padding: 12px 24px;

        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: @text-lineheight;
        // border-right: 1px solid #E2E4EA;
        &:last-of-type {
          // border-right: none;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #E2E4EA;
        &:last-of-type {
          border-bottom: none;
        }
        &:nth-of-type(even) {
          background: #F9FAFC;
        }
        td {
          // height: 124px;
          padding: 12px 24px;
          align-items: flex-start;
          align-self: stretch;
          color: #515774;
          /* Body XS (FKA p small) */
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: @text-lineheight;
          img {
            display: inline-block;
            height: 16px;
          }
          [purpose='table-cell'] {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            p {
              margin-bottom: 0px;
            }
          }
          [purpose='tilde'] {
            font-weight: 800;
            display: inline-block;
            padding: 0 3px 0 4px;
            justify-content: center;
            align-items: center;
          }
        }
        td:first-of-type {
          color: #192147;


          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: @text-lineheight;
        }
        td:nth-of-type(2) {
          border-left: none;
          border-right: none;
        }

        td:nth-of-type(4) {
          border-left: 1px solid #E2E4EA;
        }
      }
    }
  }
  [purpose='mobile-comparison-table'] {
    display: none;
    flex-direction: column;
    gap: @inner-gap-xs;
    [purpose='mobile-comparison'] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 8px;
      outline: 1px solid #E2E4EA;
      font-size: 14px;
      color: #515774;
      [purpose='product-name'] {
        display: flex;
        padding: 12px 24px;
        align-items: center;
        color: #515774;

        /* Body/Emphasis/SM */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: @text-lineheight;
      }
      [purpose='capability'] {
        display: flex;
        padding: 12px 24px;
        align-items: center;
        align-self: stretch;
        border-bottom: 1px solid #E2E4EA;
        color: #515774;

        /* Body/Emphasis/SM */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: @text-lineheight;
      }
      [purpose='fleet-row'] {
        display: flex;
        // padding: 12px 24px;
        align-items: center;
        align-self: stretch;
        border-bottom: 1px solid #E2E4EA;
      }
      [purpose='jamf-row'] {
        display: flex;
        // padding: 12px 24px;
        align-items: center;
        align-self: stretch;
        background: #F9FAFC;
      }

      [purpose='status'] {
        display: flex;
        padding: 12px 24px;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        align-self: stretch;
        flex-direction: row;
        img {
          // margin-right: 8px;
          height: 16px;
        }
        [purpose='red-x'] {
          height: 12px;
          width: 12px;
        }
        [purpose='tilde'] {
          font-weight: 800;
          // margin-right: 8px;
          display: inline-block;
        }
        color: #515774;

        /* Body XS (FKA p small) */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: @text-lineheight;
      }
    }
  }


  [purpose='three-column-features'] {
    .three-column-features();
    max-width: unset;
    [purpose='feature'] {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: @inner-gap-xs;
      color: #515774;

      /* Body/SM */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      p {

        margin-bottom: 0px;
      }
      [purpose='step-title'] {
        color: #192147;
        text-align: center;

        /* Title XS */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: @heading-lineheight;
      }
      [purpose='step-number'] {
        display: flex;
        width: 24px;
        height: 24px;
        padding: 1.25px 8px 1.75px 8px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border: 2px solid #009A7D;
        color: #009A7D;

        /* Body/Emphasis/SM */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: @text-lineheight;
      }

    }
  }
  [purpose='testimonial-cards'] {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    align-items: flex-start;
    gap: 32px;
    [purpose='testimonial-card'] {
      width: 50%;
    }

  }
  [purpose='testimonial-card'] {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    justify-content: space-between;
    border-radius: 16px;
    border: 1px solid #E2E4EA;
    background: #FFF;
    p {
      margin-bottom: 0px;
    }
    [purpose='testimonial-logo'] {
      img {
        max-height: 28px;
      }
    }

    [purpose='testimonial-quote'] {
      color: #515774;

      /* Body/MD */
      font-family: Inter;
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      line-height: @text-lineheight;
    }
    [purpose='testimonial-quote-author-info'] {
      display: flex;
      // height: 61px;
      align-items: center;
      gap: 16px;
      justify-self: flex-end;
      [purpose='profile-image'] {
        img {
          border-radius: 50%;
          height: 48px;
        }
      }
      [purpose='name'] {
        color: #192147;

        /* Body/Emphasis/SM */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: @text-lineheight;
      }
      [purpose='title'] {
        color: #515774;

        /* Body/SM */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
      }
    }
  }


  [purpose='feature-list-with-image'] {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    [purpose='feature-list'] {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: @inner-gap-l;
    }
    [purpose='feature-image'] {
      width: 50%;
      display: flex;
      max-width: 523.878px;
      max-height: 590.566px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }

    [purpose='feature-list-item'] {
      display: flex;
      flex-direction: row;
      gap: @inner-gap-xs;
      p {
        margin-bottom: 0px;
      }
      [purpose='feature-icon'] {
        height: 19.2px;
        display: flex;
        align-items: center;
        img {
          width: 18px;
        }
      }
      [purpose='feature'] {
        display: flex;
        flex-direction: column;
        gap: @inner-gap-xs;
        [purpose='feature-heading'] {
          color: #192147;

          /* Title XS */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: @heading-lineheight;
        }

      }
    }
  }

  [purpose='customer-stories-cards'] {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 64px 32px;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: center;
    [purpose='testimonial-card'] {
      display: flex;
      min-width: 288px;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }
  }
  [purpose='banner-container'] {
    background: linear-gradient(0deg, #E9F4F4 25.73%, #FFF 94.97%);
    padding: 64px;
  }

  [purpose='call-to-action-cards'] {
    display: flex;
    flex-direction: row;
    gap: @inner-gap-s;

  }
  [purpose='cta-card'] {
    display: flex;
    padding: 32px 32px;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 16px;
    gap: 16px;
    border: 1px solid #E2E4EA;
    background: #FFF;
    p {
      margin-bottom: 0px;
    }
    [purpose='cta-icon'] {
      img {
        height: 39px;
      }
    }
    [purpose='cta-heading'] {
      color: #192147;
      text-align: center;

      /* Title XS */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: @heading-lineheight;
    }
    [purpose='cta-text'] {
      color: #515774;
      text-align: center;

      /* Body/SM */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }
  }

  [purpose='video-modal'] {
    [purpose='modal-dialog'] {
      width: 100%;
      max-width: 100%;
    }
    [purpose='modal-content'] {
      max-width: 1140px;
      height: 641px;
      background-color: transparent;
      box-shadow: none;
      border: none;
      padding: 0px;
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
      [purpose='modal-close-button'] {
        top: -40px;
        right: 0px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        padding: 0px 0px 4px 0px;
        background-color: #192147;
        color: #FFF;
        opacity: 1;
      }
    }
    iframe {
      border-radius: 16px;
      width: 1140px;
      height: 641px;
    }
  }



  @media(max-width: 1200px) {
    [purpose='feature-card-deck'] {

      [purpose='feature-card'] {
        max-width: unset;
        min-width: 272px;
      }
    }
    [purpose='feature-cards'] {
      [purpose='feature-card'] {
        max-width: unset;
      }
    }
    [purpose='hero-logos'] {
      margin-top: 48px;
    }
    [purpose='feature-list-with-image'] {
      gap: @inner-gap-l;
    }
    [purpose='landing-page-content'] {
      gap: @section-gap-l;
    }
  }
  @media(max-width: 991px) {
    [purpose='landing-page-container'] {
      padding: 48px;
    }
    [purpose='page-section'] {
      gap: @inner-gap-l;
    }
    [purpose='banner-container'] {
      padding: 48px;
    }
    [purpose='feature-list-with-image'] {
      flex-direction: column;
      gap: @inner-gap-l;
      [purpose='feature-list'] {
        width: 100%;
        gap: @inner-gap-m;
      }
      [purpose='feature-image'] {
        width: 100%;
      }
    }
    [purpose='feature-card-deck'] {
      justify-content: stretch;
      [purpose='feature-card']:last-of-type {
        display: none;
      }

    }
    [purpose='feature-card'] {
      display: flex;
      min-width: 288px;
      max-width: unset;
      padding: 32px 32px;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;

    }
    [purpose='customer-stories-cards'] {
      gap: @inner-gap-l @inner-gap-m;
    }
    [purpose='video-modal'] {
      [purpose='modal-dialog'] {
        width: 100%;
        max-width: 100%;
      }
      [purpose='modal-content'] {
        max-width: 720px;
        height: 405px;
      }
      iframe {
        width: 720px;
        height: 405px;
      }
    }
  }
  @media(max-width: 767px) {

    [purpose='landing-page-container'] {
      padding: 32px;
    }
    [purpose='banner-container'] {
      padding: 32px;
    }
    [purpose='landing-page-content'] {
      gap: @section-gap-m;
    }
    [purpose='hero-logos'] {
      margin-top: 32px;
    }
    [purpose='comparison-table'] {
      display: none;
    }
    [purpose='mobile-comparison-table'] {
      margin-top: 16px;
      display: flex;
    }
    [purpose='feature-card-deck'], [purpose='feature-cards'] {
      flex-direction: column;
    }
    [purpose='feature-card'] {
      display: flex;
      width: 100%;
      max-width: unset;
      padding: 32px 32px;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }
    [purpose='testimonial-cards'] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 32px;
      [purpose='testimonial-card'] {
        width: 100%;
      }
    }
    [purpose='customer-stories-cards'] {
      gap: @inner-gap-m;
      flex-direction: column;
      [purpose='testimonial-card'] {
        width: 100%;
        &:last-of-type {
          display: none;
        }
      }
    }
    [purpose='call-to-action-cards'] {
      display: flex;
      flex-direction: column;
      gap: @inner-gap-s;

    }
    [purpose='video-modal'] {
      [purpose='modal-dialog'] {
        max-width: 97vw;
      }
      [purpose='modal-content'] {
        max-width: 540px;
        height: 304px;
      }
      iframe {
        width: 540px;
        height: 304px;
      }
    }
  }
  @media(max-width: 575px) {

    [purpose='hero-heading'] {
      h1 {
        font-size: 32px;
      }
    }
    h2 {
      font-size: 24px;
    }
    [purpose='button-row'] {
      width: 100%;

      [purpose='cta-button'] {
        width: 100%;
      }
      flex-direction: column;
    }

    [purpose='video-modal'] {
      [purpose='modal-content'] {
        width: 95vw;
        height: calc(~'9/16 * 95vw');
      }
      iframe {
        width: 95vw;
        height: calc(~'9/16 * 95vw');
      }
    }

  }

}
