.add-software-vpp-form {
  display: flex;
  gap: $pad-xxlarge;

  &__action-buttons {
    display: flex;
    gap: $pad-medium;
  }

  &__enable-vpp-message, &__no-software-message {
    display: flex;
    flex-direction: column;
    gap: $pad-small;
    align-items: center;
  }

  &__no-software-title {
    font-weight: $bold;
    margin: 0;
  }

  &__no-software-description {
    margin: 0;
    color: $ui-fleet-black-75;
    text-align: center;
  }
}
