.internal-link-cell {

  &__content {
    font: $x-small;
    color: $core-vibrant-blue;
    font-weight: $bold;
    display: inline-flex;
    gap: $pad-small;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
