.internal-link-cell {
  &__content {
    font-size: $x-small;
    color: $core-vibrant-blue;
    font-weight: $bold;
    display: inline-flex;
    gap: $pad-small;

    span {
      display: inline-flex;
      gap: $pad-small;
      align-items: center;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
