.scheduled-query-list-item {
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid $ui-fleet-blue-15;

  &:last-child {
    border-bottom: 0;
  }

  &--selected {
    background-color: $ui-vibrant-blue-25;
  }
}
