.app-install-details {
  overflow-wrap: anywhere; // Prevent long software name overflow

  &__modal-content {
    display: flex;
    flex-direction: column;
    gap: $pad-medium;
  }

  &__status-message {
    display: flex;
    align-items: center;
    gap: $pad-small;
    margin: 0;
    .icon {
      align-self: flex-start;
    }
  }
  .data-set__horizontal {
    flex-direction: row;
  }
  .reveal-button {
    width: min-content;
  }
}
