.app-install-details {
  overflow-wrap: anywhere; // Prevent long software name overflow

  &__software-install-details {
    display: flex;
    flex-direction: column;
    gap: $pad-medium;
  }

  .modal__content {
    margin-top: $pad-xlarge;
  }
  &__status-message {
    display: flex;
    align-items: center;
    gap: $pad-small;
    margin: 0;
    .icon {
      align-self: flex-start;
    }
  }
}
