.delete-integration-modal {
  &__url {
    font-weight: $bold;
  }

  &__btn-wrap {
    display: flex;
    flex-direction: row-reverse;
    margin-top: $pad-xxlarge;
  }

  &__btn {
    margin-left: 12px;
  }
}
