.component__tabs-wrapper {
  position: sticky;
  top: 0;
  background-color: $core-white;
  z-index: 2;

  .react-tabs {
    &__tab-list {
      border-bottom: 1px solid $ui-gray;
    }
    &__tab {
      padding: $pad-small 0;
      margin-right: $pad-xxlarge;
      font-size: $x-small;
      border: none;

      &:focus {
        box-shadow: none;
        outline: 0;
      }
      &--selected {
        text-shadow: -0.3px 0 #192147, 0.3px 0 #192147;

        &::after {
          content: "";
          width: 100%;
          height: 0;
          border-bottom: 1px solid #6a67fe;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      &--disabled {
        cursor: not-allowed;
      }
      &.no-count:not(.errors-empty).react-tabs__tab--selected::after {
        bottom: -2px;
      }
      .count {
        margin-right: $pad-small;
        padding: $pad-xxsmall 12px;
        background-color: $core-vibrant-red;
        display: inline-block;
        border-radius: 29px;
        color: $core-white;
        font-weight: $bold;
      }
    }
    &__tab-panel {
      .no-results-message {
        margin-top: $pad-xxlarge;
        font-size: $small;
        font-weight: $bold;

        span {
          margin-top: $pad-medium;
          font-size: $x-small;
          font-weight: $regular;
          display: block;
        }
      }
    }
  }
}
