.custom-label-group-heading {
  &__label-title {
    color: $core-fleet-black;
    font-size: $x-small;
    font-weight: $bold;
    text-transform: none;
  }

  &__labels-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  &__field {
    position: relative;

    .icon {
      position: absolute;
      left: 12px;
      top: 12px;
    }
  }

  &__input {
    width: 100%;
    line-height: 1.5;
    background-color: $ui-light-grey;
    border: solid 1px $ui-fleet-black-10;
    border-radius: $border-radius;
    font-size: $small;
    padding: 9.5px 12px 9.5px 36px;
    color: $core-fleet-blue;
    font-family: "Inter", sans-serif;
    font-size: $x-small;
    box-sizing: border-box;
    height: 40px;

    margin-bottom: $pad-medium;

    &::placeholder {
      color: $ui-fleet-black-50;
    }

    &:focus,
    &:hover {
      outline: none;
      border-color: $core-vibrant-blue;

      + .icon {
        svg {
          path {
            fill: $core-vibrant-blue;
          }
        }
      }
    }

    &--disabled {
      color: $ui-fleet-black-50;
    }

    &--error {
      color: $core-vibrant-red;
      border: 1px solid $core-vibrant-red;
      box-sizing: border-box;
      border-radius: $border-radius;

      &:focus {
        border-color: $ui-error;
        background-color: $core-white;
        color: $core-fleet-black;
      }
    }

    &__textarea {
      min-height: 100px;
      max-width: 100%;
      display: block;
    }

    &__label {
      display: block;
      font-size: $medium;
      font-weight: $regular;
      color: $core-fleet-black;
      margin-bottom: $pad-xsmall;

      &--error {
        font-weight: $bold;
        color: $ui-error;
      }
    }

    &__wrapper {
      margin-bottom: $pad-medium;
    }

    &__help-text {
      font-size: $x-small;
      font-weight: $regular;
      line-height: 1.57;
      letter-spacing: 1px;
      color: $core-fleet-blue;

      code {
        color: $core-vibrant-blue;
        background-color: $ui-gray;
        padding: $pad-xxsmall;
        font-family: "SourceCodePro", $monospace;
      }
    }
  }
}
