.input-icon-field {
  margin-top: $pad-medium;
  position: relative;
  width: 100%;

  &__icon {
    position: absolute;
    right: 6px;
    top: 28px;
    font-size: 18px;
    color: $core-fleet-blue;

    &--active {
      color: $core-vibrant-blue;
    }

    &--error {
      border: 1px solid $core-vibrant-red;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  &__input {
    border: 1px solid $ui-fleet-blue-15;
    background-color: $ui-light-grey;
    border-radius: $border-radius;
    padding: 9px 30px 9px $pad-medium;
    font-size: $small;
    text-indent: 1px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    color: $core-fleet-black;
    font-weight: $regular;

    ::placeholder {
      color: $core-fleet-blue;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      color: $ui-fleet-black-50;
      cursor: not-allowed;
    }

    &--error {
      color: $core-vibrant-red;
      border: 1px solid $core-vibrant-red;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  &__label {
    font-size: $x-small;
    font-weight: $bold;
    margin-bottom: $pad-xsmall;
  }

  &__errors {
    font-size: $x-small;
    font-weight: $bold;
    color: $core-vibrant-red;
  }

  &__hint {
    font-size: $x-small;
    font-style: italic;
    font-weight: $regular;
    line-height: 20px;
    display: inline-block;
    margin-top: $pad-small;

    code {
      color: $core-vibrant-blue;
      background-color: $ui-light-grey;
      padding: $pad-xxsmall;
      font-family: "SourceCodePro", $monospace;
    }
  }

  // overwrite icon position and input padding
  &--icon-start {
    input {
      padding: 9px 1rem 9px 3rem;
    }
    .fleeticon {
      right: auto;
      left: 16px;
      top: 39px;
      font-weight: 700;
    }
  }
}
