.fleet-404 {
  p {
    color: #333;
    font-style: $regular;
  }

  button {
    width: 197px;
    font-size: $small;

    img {
      width: 24px;
      height: 24px;
      margin-right: $pad-medium;
    }
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $pad-medium;
    margin-bottom: $pad-large;
  }

  &__slack-btn {
    border: 1px solid $ui-fleet-black-25;
    height: 41px;
  }

  .primary-header {
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;

    &__logo {
      height: 48px;
      width: 174px;
      position: absolute;
      top: 25px;
      left: 40px;
    }
  }

  .background-image {
    width: 100%;
  }

  main {
    text-align: center;

    > h1 {
      display: inline;
      font-size: 32px;
      max-width: 479px;
      color: $core-fleet-black;

      span {
        font-weight: $bold;
      }
    }

    > h2 {
      font-size: 36px;
      margin: 13px 0 $pad-xlarge;
    }
  }
}
