.target-option {
  &__btn {
    float: right;
    padding: 0 $pad-medium;
    height: 24px;
    line-height: 20px;
    font-size: 15px;
  }

  &__count {
    background-color: $text-medium;
    border-radius: $border-radius;
    color: $white;
    font-size: $small;
    font-weight: bold;
    padding: 5px;
  }

  &__delimeter {
    color: $text-dark;
    font-weight: $bold;
    margin: 0 $pad-xsmall;
  }

  &__icon {
    color: $text-medium;
    font-size: $base;
    margin: 0 0 0 $pad-base;
  }

  &__ip {
    color: $link;
    font-size: $small;
  }

  &__label-host {
    color: $link;
    font-size: $base;
    margin-left: $pad-xsmall;
  }

  &__label-label {
    color: $text-medium;
    font-size: $base;
    margin-left: $pad-xsmall;

    .all-hosts {
      font-weight: $bold;
    }
  }

  &__more-info {
    color: $brand;
    cursor: pointer;
    float: right;
    margin-right: $pad-base;
  }

  &__target-icon {
    font-size: $base;
    color: $text-medium;
    margin-right: $pad-xsmall;
  }

  &__target-modal {
    width: 1000px;
  }

  &__wrapper {
    cursor: default;
  }
}
