.target-option {
  &__btn {
    float: right;
    padding: 0 $pad-medium;
    height: 24px;
    line-height: 20px;
    font-size: 15px;
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    cursor: default;
  }

  &__target-content,
  &__add-btn {
    line-height: 34px;
    font-size: $small;
    font-weight: $normal;
    text-transform: none;
    padding: 0 $pad-half;
  }

  &__add-btn {
    transition: color 0ms;
    color: $success;
    font-size: $base;
  }

  &__target-content {
    flex-grow: 1;
    text-align: left;
  }

  &__count {
    background-color: $text-medium;
    border-radius: $border-radius;
    color: $white;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    margin-left: $pad-half;
  }

  &__delimeter {
    color: $text-dark;
    font-weight: $bold;
    margin: 0 $pad-xsmall;
  }

  &__icon {
    color: $text-medium;
    font-size: $small;

    &--online {
      color: $success;
    }

    &--offline {
      color: $alert;
    }

    &--mia {
      color: $text-dark;
    }
  }

  &__ip {
    color: $text-dark;
    font-size: $small;
  }

  &__label-host {
    color: $link;
    font-size: $base;
    margin-left: $pad-half;
  }

  &__label-label {
    color: $text-medium;
    font-size: 14px;
    margin-left: $pad-half;

    .all-hosts {
      font-weight: $bold;
    }
  }

  &__more-info {
    color: $brand;
    cursor: pointer;
    float: right;
    margin-right: $pad-base;
  }

  &__target-icon {
    font-size: $base;
    color: $text-medium;
    margin-right: $pad-xsmall;
  }

  &__target-modal {
    width: 1000px;
  }
}
