.identity-providers {

  &__section-card-content {
    margin: 0;
  }

  &__recieved-tooltip {
    display: inline-flex;
  }

  &__learn-more-link {
    // used to keep the "Learn more" text content on a single line.
    min-width: 88px;
  }
}
