.add-package-form {
  &__uploading-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $pad-large;

    p {
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
  }

  &__file-uploader {
    box-sizing: border-box;
  }
  &__include-any-toggle-text{
    color: $ui-fleet-black-75;
  }

  &__fleet-label-selection {
    @include fleet-labels-list;
  }

  &__fleet-label {
    @include fleet-labels-list-item;
  }

  &__no-fleet-labels {
    display: flex;
    flex-direction: column;
    min-height: 149px;
    align-items: center;
    justify-content: center;
    gap: $pad-small;

    p {
      margin: 0;
    }
  }
  .card {
    box-sizing: border-box;
  }

  @-moz-document url-prefix() {
    .Select-control {
      height: fit-content;
    }
  }
}
