.add-package-form {
  &__uploading-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $pad-large;

    p {
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
  }

  &__file-uploader {
    box-sizing: border-box;
  }
  .Select-control {
    height: fit-content;
  }

  &__no-labels {
    display: flex;
    flex-direction: column;
    min-height: 149px;
    align-items: center;
    justify-content: center;
    gap: $pad-small;

    p {
      margin: 0;
    }
  }
}
