.select-query-modal {
  min-height: 400px;
  height: 80%;
  overflow: hidden;

  .modal__content {
    display: flex;
    flex-direction: column;
    gap: $pad-large;
    height: 80%;
    overflow: scroll;
  }

  &__no-queries {
    .info {
      &__header {
        margin: $pad-medium 0 $pad-medium 0;
      }
      &__data {
        margin: 0 0 $pad-large 0;
      }
    }
  }

  .info {
    &__header {
      display: block;
      color: $core-fleet-black;
      font-weight: $bold;
      font-size: $x-small;
      text-align: center;
    }

    &__data {
      display: block;
      color: $core-fleet-black;
      font-weight: normal;
      font-size: $x-small;
      text-align: center;
    }
  }
}
