/**
 * Color Variables
 */

@core-fleet-black: #192147;
@core-fleet-black-75: #515774;
@core-fleet-black-50: #8b8fa2;
@core-fleet-black-33: #B3B6C1;
@core-fleet-black-25: #C5C7D1;
@core-fleet-black-10: #E2E4EA;

@core-vibrant-red: #FF5C83;

@core-vibrant-blue: #6A67FE;
@core-vibrant-blue-50: #B4B2FE;
@core-vibrant-blue-25: #D9D9FE;
@core-vibrant-blue-15: #E2E4EA;
@core-vibrant-blue-10: #F1F0FF;

@brand: #14acc2;
@ui-off-white: #F9FAFC;
@ui-gray: #E3E3E3;

@error: @core-vibrant-red;

@text-normal: @core-fleet-black;
@text-muted: lighten(@text-normal, 60%);

@bg-lt-gray: #f1f1f1;
@border-lt-gray: darken(@bg-lt-gray, 5%);
@accent-lt-gray: darken(#fff, 5%);
@accent-md-gray: darken(#fff, 25%);
@accent-white: #fff;
