// Font families:
@main-font: 'Nunito', sans-serif;
@header-font: 'Nunito Sans', sans-serif;
@navigation-font: 'Nunito Sans', sans-serif;

@code-font: 'Source Code Pro', sans-serif;

// Font weights:
@bold: 700;
@normal: 400;
