.btn-reset() {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
  &:focus {
    border-image: none;
    outline: none;
  }
}
