<div id="explore-data" v-cloak>
  <div purpose="page-container" class="container mx-auto">
    <div purpose="page-title">
      <h1>Explore real data</h1>
      <p>See live data collected from a real  device enrolled in Fleet.</p>
    </div>
    <div class="d-flex flex-md-row flex-column justify-content-center align-items-center">
      <a href="/try-fleet/explore-data/macos/account_policy_data">
      <div purpose="explore-data-card" class="card">
        <div purpose="card-body">
          <img src="/images/logo-macos-muted-48x60@2x.png" alt="macOS logo">
          <h4>macOS</h4>
          <p>AWS EC2 instance</p>
        </div>
      </div>
      </a>
      <a href="/try-fleet/explore-data/windows/appcompat_shims">
      <div purpose="explore-data-card" class="card">
        <div purpose="card-body">
          <img src="/images/logo-windows-muted-49x60@2x.png" alt="Window Logo">
          <h4>Windows</h4>
          <p>AWS EC2 instance</p>
        </div>
      </div>
      </a>
      <a href="/try-fleet/explore-data/linux/apparmor_events">
      <div purpose="explore-data-card" class="card">
        <div purpose="card-body">
          <img src="/images/logo-linux-muted-41x48@2x.png" alt="AWS Linux logo">
          <h4>Linux</h4>
          <p>AWS EC2 instance</p>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
