<div id="forgot-password" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/try-fleet/forgot-password.less</em>, <em>assets/js/pages/try-fleet/forgot-password.page.js</em>, and <em>api/controllers/try-fleet/view-forgot-password.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
