<div id="query-report" v-cloak class="mx-auto">
  <div purpose="page-container" class="container">
    <% /* Host details card */%>
    <div purpose="host-details-card" class="card">
      <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-between">
        <div>
          <h1>Explore real data</h1>
          <p>See live data collected from a real {{hostPlatformFriendlyName}} device running Fleet.</p>
        </div>
        <div class="d-flex" purpose="host-selector-container">
          <div purpose="host-selector" class="d-flex flex-row justify-content-between align-items-center"
            id="hostDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{hostPlatformFriendlyName}} <img class="d-flex" style="width: 16px; height: 16px;" src="/images/chevron-down-75-16x16@2x.png" alt="a small shevron pointing downwards">
          </div>
          <div purpose="host-selector-dropwdown" class="dropdown-menu" aria-labelledby="hostDropdownMenu">
            <div class="dropdown-item d-block" @click="hostToDisplayResultsFor = host.platform" v-for="host in hostsAvailableToQuery">{{host.platform}}</div>
          </div>
        </div>
      </div>
      <hr>
      <div purpose="host-details" class="d-flex flex-md-row flex-column">
        <div>
          <p><strong>Hardware model</strong></p>
          <p>{{hostInfo.hardwareType}}</p>
        </div>
        <div>
          <p><strong>Memory</strong></p>
          <p>{{hostInfo.memory}}</p>
        </div>
          <div><p><strong>Processor</strong></p>
          <p>{{hostInfo.processor}}</p>
        </div>
        <div>
          <p><strong>Operating system</strong></p>
          <p>{{hostInfo.os}}</p>
        </div>
        <div>
          <p><strong>Osquery</strong></p>
          <p>{{hostInfo.osqueryVersion}}</p>
        </div>
      </div>
    </div>

    <div class="d-flex flex-md-row flex-column justify-content-between">
      <% /* Query results container (osquery table details, table selector, and query results table) */%>
      <div purpose="query-results-container">
      <p style="font-size: 16px;"><strong>Available data</strong></p>
      <div class="d-flex">
        <div purpose="table-selector" class="d-flex flex-row justify-content-between align-items-center"
          id="tableSelectorDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedTable}} <img class="d-flex" style="width: 16px; height: 16px;" src="/images/chevron-down-75-16x16@2x.png" alt="a small shevron pointing downwards">
        </div>
        <div purpose="table-selector-dropwdown" class="dropdown-menu" aria-labelledby="tableSelectorDropdown">
          <div class="dropdown-item d-block" v-for="table in osqueryTables" @click="selectedTable = table.name">{{table.name}}</div>
        </div>
      </div>
      <div purpose="table-description">
        <%- osqueryTableInfo.description %>
      </div>
      <hr>
      <div v-if="queryReportPages.length > 0">
        <p>Last fetched: <js-timestamp format="timeago" :at="lastFetchedAt"></js-timestamp></p>
        <%// Query table %>
        <div purpose="table-container" class="table-responsive">
          <table purpose="query-result-table" class="table">
            <thead></thead>
            <tbody>
              <tr>
                <td purpose="column-name" v-for="column in tableHeaders">
                  <p class="text-left" data-toggle="tooltip" tabindex="0" data-placement="bottom" data-html="true" :title="column.description" v-if="column.description">{{column.name}}</p>
                  <p v-else>{{column.name}}</p>
                </td>
              </tr>
              <tr v-for="queryResultRow in queryReportPages[pageToDisplay]">
                <td v-for="columnValue in queryResultRow"><p v-if="columnValue !== ''">{{columnValue}}</p><p v-else>---</p></td>
              </tr>
            </tbody>
          </table>
        </div>
        <%// Page indicator %>
        <div purpose="page-indicator">
          <div class="d-flex flex-row justify-content-end align-items-center" v-if="numberOfPages > 5">
            <a @click="clickChangePage(pageToDisplay)" v-if="pageToDisplay > 0"><img purpose="previous-chevron" alt="A small purple chevron pointing right" src="/images/chevron-left-6x10@2x.png">Previous</a>
            <a class="font-weight-normal d-none d-sm-block" :class="[pageToDisplay === (page - 1) ? 'font-weight-bold' : '']" v-for="page in numberOfPages" @click="clickChangePage(page)" v-if="page < 6">{{page}}</a>
            <span class="font-weight-normal d-none d-sm-block" v-if="pageToDisplay >= 6">...</span>

            <a class="font-weight-normal" :class="[pageToDisplay >= 5 ? 'font-weight-bold' : '']" v-if="pageToDisplay >= 5 && pageToDisplay <= numberOfPages - 2">{{pageToDisplay + 1}}</a>

            <span class="font-weight-normal d-none d-sm-block" v-if="pageToDisplay <= numberOfPages - 3" >...</span>
            <a :class="[pageToDisplay >= numberOfPages - 1 ? 'font-weight-bold' : '']" class="font-weight-normal d-none d-sm-block" @click="clickChangePage(numberOfPages)">{{numberOfPages}}</a>
            <a @click="clickChangePage(pageToDisplay + 2)" v-if="pageToDisplay !== numberOfPages - 1">Next<img purpose="next-chevron" alt="A small purple chevron pointing left" src="/images/chevron-right-6x10@2x.png"></a>
          </div>
          <%// page indicator for < 5 pages %>
          <div class="d-flex flex-row justify-content-end align-items-center" v-else-if="numberOfPages > 1">
            <a @click="clickChangePage(pageToDisplay)" v-if="pageToDisplay > 0"><img purpose="previous-chevron" alt="A small purple chevron pointing right" src="/images/chevron-left-6x10@2x.png">Previous</a>
            <a class="font-weight-normal" :class="[pageToDisplay === (page - 1) ? 'font-weight-bold' : '']" v-for="page in numberOfPages" @click="clickChangePage(page)" v-if="page < 6">{{page}}</a>
            <a @click="clickChangePage(pageToDisplay + 2)" v-if="pageToDisplay !== numberOfPages - 1">Next<img alt="A small purple chevron pointing left" purpose="next-chevron" src="/images/chevron-right-6x10@2x.png"></a>
          </div>
        </div>
      </div>
      <div v-else>
        <p style="font-size: 16px; margin-bottom: 24px;"><strong>Your live query returned no results.</strong></p>
      </div>
    </div>
    <% /* Call to action */%>
    <div purpose="call-to-action-container">
      <div purpose="call-to-action-card" class="card">
        <div purpose="banner-text" class="d-flex d-md-none">
          <h3>This is not Fleet</h3>
        </div>
        <div purpose="banner-image">
          <img src="/images/banner-cloud-city-656x369@2x.png" alt="Fleet cloud city">
        </div>
        <div purpose="banner-text">
          <h3 class="d-none d-md-block">This is not Fleet</h3>
          <p>This is a simple app built on the Fleet API to get a taste of the data. Get in our calendar to see what you can do with multiple hosts in the Fleet UI.</p>
          <a class="d-flex align-items-center justify-content-center btn btn-primary w-100" href="/contact">Talk to us</a>
          <div purpose="fleetctl-link" class="d-flex flex-column align-items-center">
            <a href="/try-fleet/fleetctl-preview">Run Fleet locally</a>
            <p>(Requires Docker)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
