<div id="register" v-cloak>
  <div style="max-width:  800px; padding-top: 80px; padding-bottom: 80px;" class="container d-flex flex-md-row flex-column justify-content-center align-items-center mx-auto px-4 px-md-3">
    <div>
      <img purpose="sandbox-image" style="width: 300px; height: auto;" src="/images/fleet-sandbox-300x244@2x.png" alt="Try Fleet">
    </div>
    <div style="max-width: 400px;" class="flex-column d-flex">
      <h2>Try Fleet</h2>
      <p class="pt-3">
        The fastest way to test Fleet. Get up and running in minutes. Ready for production deployments? <a href="https://fleetdm.com/docs/deploying">Learn how to deploy Fleet</a>.
      </p>
      <div class="pt-3">
        <ajax-form :handle-submitting="handleSubmittingRegisterForm" class="sandbox-register" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules" @submitted="submittedRegisterForm()">
          <div class="form-group mb-3">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column mr-2">
                <input id="firstName" type="text" class="form-control d-flex" :class="[formErrors.firstName ? 'is-invalid' : '']" v-model.trim="formData.firstName" placeholder="First name">
                <div class="invalid-feedback mt-2" v-if="formErrors.firstName === 'required'">Please enter your first name.</div>
              </div>
              <div class="d-flex flex-column">
                <input id="lastName" type="text" class="form-control d-flex" :class="[formErrors.lastName ? 'is-invalid' : '']" v-model.trim="formData.lastName" placeholder="Last name">
                <div class="invalid-feedback mt-2" v-if="formErrors.lastName === 'required'">Please enter your last name.</div>
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <input id="organization" type="text" class="form-control d-flex w-100" :class="[formErrors.organization ? 'is-invalid' : '']" v-model.trim="formData.organization" placeholder="Company">
            <div class="invalid-feedback mt-2" v-if="formErrors.organization === 'required'">Please enter the name of your organization.</div>
          </div>
          <div class="form-group mb-3">
            <input id="emailAddress" type="text" class="form-control d-flex w-100" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="Email address">
            <div class="invalid-feedback mt-2">This doesn’t appear to be a valid email address</div>
          </div>
          <div class="form-group mb-3">
            <input id="password" type="password" class="form-control d-flex w-100" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="Choose a password">
            <div class="invalid-feedback mt-2" v-if="formErrors.password === 'minLength'">Password too short.</div>
            <div class="invalid-feedback mt-2" v-if="formErrors.password === 'required'">Please enter a password.</div>
          </div>
          <ajax-button style="height: 53px;" purpose="submit-button" spinner="true" type="submit" :syncing="syncing" class="btn btn-block btn-lg btn-info" v-if="!cloudError">Sign up</ajax-button>
          <div class="d-flex flex-column" v-if="cloudError === 'emailAlreadyInUse'">
            <cloud-error class="my-0">
              <p purpose="error-message">This email is already linked to a Fleet account.</p>
            </cloud-error>
            <a class="mx-auto font-weight-bold d-flex align-items-center py-3" href="/try-fleet/login">Sign in with existing account <img alt="A blue arrow pointing right" style="height: 10px; margin-left: 6px;" src="/images/arrow-right-blue-18x10@2x.png"></a>
            <ajax-button style="height: 53px;" purpose="submit-button" spinner="true" type="submit" :syncing="syncing" class="btn btn-block btn-lg btn-info">Try again</ajax-button>
          </div>
          <cloud-error purpose="cloud-error" v-else-if="cloudError === 'requestToProvisionerTimedOut'">
            <p purpose="error-message">Fleet Sandbox is experiencing unusually high activity. Please refresh the page in 13 seconds and try signing up again.</p>
          </cloud-error>
          <cloud-error purpose="cloud-error" v-else-if="cloudError"></cloud-error>
        </ajax-form>
      </div>
      <div class="d-flex flex-column" v-if="!cloudError">
        <a class="mx-auto d-flex py-3" href="/try-fleet/login">I have an account</a>
        <p class="pt-4">By continuing you agree to the<br><a href="https://docs.google.com/document/d/1OM6YDVIs7bP8wg6iA3VG13X086r64tWDqBSRudG4a0Y" target="_blank">terms of service</a> and <a href="https://docs.google.com/document/d/17i_g1aGpnuSmlqj35-yHJiwj7WRrLdC_Typc1Yb7aBE" target="_blank">privacy policy</a>.</p>
      </div>
    </div>
  </div>
  <modal v-if="modal === 'video'" @close="closeModal()" v-cloak>
    <div style="height: 100%;" class="d-flex flex-column align-items-center justify-content-center">
      <div purpose="embedded-content" class="container-lg">
        <iframe id="ytplayer" type="text/html"
          src="https://www.youtube.com/embed/iQtdpZYxiqI?autoplay=1&controls=1&modestbranding=1&playsinline=1&color=white"
          frameborder="0" allowfullscreen autoplay></iframe>
      </div>
    </div>
  </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
