<div id="sandbox-teleporter" v-cloak>
  <!-- Confused?  Understandable, this approach is a bit unusual. See this page's view action for more info on what this code is doing and why, as well as a link where you can read more information. -->
  <form method="post" action="<%=me.fleetSandboxURL%>/api/latest/fleet/demologin" id="demologin">
    <input type="hidden" name="email" :value="me.emailAddress" />
    <input type="hidden" name="password" :value="me.fleetSandboxDemoKey" />
    <input class="d-none" type="submit"/>
  </form>
  <div class="d-flex flex-column align-items-center justify-content-center h-100">
    <div purpose="loading-spinner">
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
