<div id="sandbox" v-cloak>
  <div v-if="!isSandboxExpired">
    <form method="post" action="<%=sandboxUser.fleetSandboxURL%>/api/latest/fleet/demologin" id="demologin">
      <input type="hidden" name="email" :value="sandboxUser.emailAddress" />
      <input type="hidden" name="password" :value="sandboxUser.password" />
      <input class="d-none" type="submit"/>
    </form>
  </div>
  <div style="max-width: 800px; padding-top: 80px; padding-bottom: 80px; margin-top: auto; margin-bottom: auto" class="container d-flex flex-md-row flex-column justify-content-center align-items-center mx-auto px-4 px-md-3" v-else>
    <div>
      <img purpose="sandbox-image" style="height: auto;" src="/images/fleet-sandbox-300x244@2x.png" alt="Play in Fleet sandbox">
    </div>
    <div style="max-width: 400px;" class="flex-column d-flex">
      <h2>Thanks for trying Fleet Sandbox</h2>
      <p>
        Your trial period for Fleet Sandbox has expired.<br>
        To continue using Fleet...
      </p>
      <a href="/docs/deploying" style="color: #FFF"  class="btn btn-info" purpose="next-steps-button">Learn how to deploy Fleet</a>
      <a href="/slack" target="_blank" style="color: #000" class="d-flex btn btn-md btn-outline-secondary justify-content-center align-items-center mt-3" purpose="next-steps-button">
        <img class="pr-3" alt="Slack logo" src="/images/logo-slack-24x24@2x.png"/>
        Join the community on Slack
      </a>
      <p class="mt-3"> Got questions? <a href="/contact">Contact support.</a></p>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
