<div id="sandbox-expired" v-cloak>
  <div style="max-width: 800px; padding-top: 80px; padding-bottom: 80px; margin-top: auto; margin-bottom: auto" class="container d-flex flex-md-row flex-column justify-content-center align-items-center mx-auto px-4 px-md-3">
    <div>
      <img purpose="sandbox-image" style="height: auto;" src="/images/fleet-sandbox-300x244@2x.png" alt="Try Fleet">
    </div>
    <div style="max-width: 400px;" class="flex-column d-flex">
      <h2 class="pb-2">Thanks for trying Fleet</h2>
      <p>
        Your trial period for Fleet Sandbox has expired. <a href="https://fleetdm.com/docs/deploying">Click here</a> for production-ready deployments.
      </p>
      <a href="https://calendly.com/fleetdm/demo?utm_source=sandbox+expired+page" style="color: #FFF"  class="btn btn-info" purpose="next-steps-button">Request more time</a>
      <a href="/slack" target="_blank" style="color: #000" class="d-flex btn btn-md btn-outline-secondary justify-content-center align-items-center mt-3" purpose="next-steps-button">
        <img class="pr-3" alt="Slack logo" src="/images/logo-slack-24x24@2x.png"/>
        Join the community on Slack
      </a>
      <p class="mt-3"> Got questions? <a href="/contact">Contact support.</a></p>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
