<div id="sandbox" v-cloak>
  <form method="post" action="<%=sandboxUser.fleetSandboxURL%>/api/latest/fleet/demologin" id="demologin">
    <input type="hidden" name="email" :value="sandboxUser.emailAddress" />
    <input type="hidden" name="password" :value="sandboxUser.password" />
    <input class="d-none" type="submit"/>
  </form>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
