<div id="waitlist" v-cloak>
  <div style="max-width: 800px; padding-top: 80px; padding-bottom: 80px; margin-top: auto; margin-bottom: auto" class="container d-flex flex-md-row flex-column justify-content-center align-items-center mx-auto px-4 px-md-3">
    <div>
      <img purpose="sandbox-image" style="height: auto;" src="/images/fleet-sandbox-300x244@2x.png" alt="Play in Fleet sandbox">
    </div>
    <div style="max-width: 400px;" class="flex-column d-flex">
      <h2 class="pb-2">You have been added to the waitlist</h2>
      <p>We’re experiencing high demand for the Fleet sandbox instance today.</p>
      <p>We’ll send you an email to let you know when your account is ready.</p>
      <a class="btn btn-info text-white" href="/">Back to the home page</a>
      <p class="mt-3"> Got questions? <a href="/contact">Contact support.</a></p>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
