<div id="waitlist" v-cloak>
  <div style="max-width: 800px; padding-bottom: 80px; margin-top: auto; margin-bottom: auto" class="container d-flex flex-md-row flex-column justify-content-center align-items-center mx-auto px-4 px-md-3">
      <div style="max-width: 480px;" class="flex-column d-flex text-center align-items-center">
      <h2 class="pb-2">You have been added to the waitlist</h2>
      <p>We’re currently experiencing high demand for Fleet.</p>
      <p class="mb-4">Your account has been created, and we will send you an email as soon as a spot opens up.</p>
      <a class="d-flex justify-content-center align-items-center" purpose="homepage-button" href="/">Back to the home page</a>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
