.operating-systems {
  margin-top: $pad-large;
  position: relative;

  &__empty-os {
    margin: 0 auto;

    h1 {
      font-size: $small;
      font-weight: $bold;
      margin-bottom: $pad-medium;
    }

    p {
      color: $core-fleet-black;
      font-weight: $regular;
      font-size: $x-small;
      margin: 0;
    }
  }

  .data-table__wrapper {
    overflow-x: auto;
  }

  .hosts-cell__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
    }

    img {
      height: 16px;
    }
  }

  .hosts-link {
    color: $core-vibrant-blue;
    visibility: hidden;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;

    a {
      text-decoration: none;
    }

    img {
      height: 16px;
      width: 16px;
      vertical-align: middle;
    }

    .link-text {
      padding-right: $pad-xxsmall;
    }
  }

  tr:hover {
    .hosts-link {
      visibility: visible;
    }
  }

  .count-loading {
    color: $ui-fleet-black-50;
  }

  .count-error {
    color: $ui-error;
  }
}
