.operating-systems {
  margin-top: $pad-large;
  position: relative;

  .table-container {
    min-height: 435px;
  }
  .data-table__wrapper {
    overflow-x: auto;
  }
  .component__tabs-wrapper .table-container__header {
    display: none;
  }
  &__empty-os {
    margin: $pad-medium auto 0;

    h1 {
      font-size: $small;
      font-weight: $bold;
      margin-bottom: $pad-medium;
    }

    p {
      color: $core-fleet-black;
      font-weight: $regular;
      font-size: $x-small;
      margin: 0;
    }
  }
  .data-table-container {
    .data-table__table {
      table-layout: fixed;

      thead {
        .hosts_count__header {
          border-right: 0;
          padding-right: 0;
          width: 84px;
        }
      }

      tbody {
        .name__cell,
        .version__cell {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .id__cell {
          padding: 0;
          width: 40px;
        }
        .vulnerabilities__cell {
          img {
            transform: scale(0.5);
          }
        }
      }
    }
  }
  .count-loading {
    color: $ui-fleet-black-50;
  }
  .count-error {
    color: $ui-error;
  }
}
