.save-query-section {
  @include align-items(flex-end);
  @include display(flex);
  @include justify-content(space-between);

  &__save-text {
    display: inline-block;
    width: 440px;

    @media (max-width: 911px) {
      width: 400px;
    }
  }

  &__save-wrap {
    @include align-items(center);
    @include display(flex);
  }

  &__slider-dont-save,
  &__slider-save {
    @include transition(color 150ms ease-in-out);
    text-transform: uppercase;
    font-size: $small;
    margin-right: 5px;
    color: $text-light;

    &--active {
      color: $text-dark;
    }
  }

  &__slider-save {
    margin: 0 0 0 5px;

    &--active {
      color: $brand;
    }
  }
}
