.form {
  // Used on login forms
  &__base-error {
    background-color: $ui-error;
    border-radius: 3px;
    color: $core-fleet-white;
    font-size: $x-small;
    height: 16px;
    margin: -12px 0;
    padding: $pad-xsmall 0;
    text-align: center;
    width: 100%;
  }
}
