.form {
  &__base-error {
    background-color: $ui-error;
    border-radius: 3px;
    color: $core-white;
    font-size: $x-small;
    margin-top: 10px;
    padding: 5px 0;
    text-align: center;
    width: 100%;
  }
}
