.fleet-ace {
  &__label {
    font-size: $x-small;
    font-weight: $bold;

    &--error {
      color: $core-vibrant-red;
    }
    &--with-action {
      justify-content: space-between;

      button {
        height: 36px; // aligning space between label and textarea
      }
    }
  }

  &__wrapper {
    &--error {
      .ace-fleet {
        border: 1px solid $core-vibrant-red;
      }
    }
  }

  &__help-text {
    @include help-text;

    code {
      color: $core-vibrant-blue;
      background-color: $ui-light-grey;
      padding: $pad-xxsmall;
      font-family: "SourceCodePro", $monospace;
    }
  }

  .loading-spinner {
    margin: 0;
  }
}
