.profile-status-aggregate {
  display: flex;
  width: 100%;
  gap: $pad-small;

  &:hover {
    border-color: $ui-fleet-black-50;
  }

  &__loading-spinner {
    margin: auto;
  }

  &__profile-status-count {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // but not the tooltip text
    .tooltip {
      font-weight: $bold;
      flex-direction: column;
    }

    a {
      font-weight: $regular;
    }

    .profile-status-indicator {
      flex-direction: column;
    }
  }

  &__status-indicator-value {
    font-weight: $bold;
  }

  &__host-count {
    font-weight: $regular;
  }

  .icon {
    margin-right: initial;
  }
}
