.profile-status-aggregate {
  display: flex;
  height: 94px;
  border-top: 1px solid #e2e4ea;
  border-bottom: 1px solid #e2e4ea;
  border-left: 1px solid #e2e4ea;
  border-radius: $border-radius-medium;

  &__loading-spinner {
    margin: auto;
  }

  &__profile-status-count {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e2e4ea;

    // but not the tooltip text
    .tooltip {
      font-weight: $bold;
      flex-direction: column;
    }

    a {
      font-weight: $regular;
    }

    .profile-status-indicator {
      flex-direction: column;
    }
  }

  &__profile-status-count:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &__status-indicator-value {
    font-weight: $bold;
  }

  .icon {
    margin-right: initial;
  }
}
