.scheduled-queries-list-wrapper {
  padding: $pad-small $pad-base;

  &__query-count {
    margin: 0 0 15px;
  }

  &__queries-list-wrapper {
    margin-top: $pad-base;
    clear: both;
  }

  &__search-queries-input {
    float: left;
    display: inline-block;
    width: '400px';
  }

  &__query-btn {
    float: right;
  }

  &__search-queries {
    float: left;
  }
}
