.scheduled-queries-list-wrapper {
  flex-grow: 1;
  padding: 40px 30px;
  margin-bottom: $pad-base;

  &__query-count {
    font-size: $x-small;
    font-weight: $bold;
    margin: 24px 0;
  }

  &__queries-list-wrapper {
    margin-top: $pad-base;
    clear: both;
  }

  &__search-queries-input {
    display: inline-block;
    width: 100%;

    input {
      width: 100%;
    }
  }

  &__query-btn {
    float: right;
    margin-top: 14px;
  }

  &__search-queries {
    float: left;
  }
}
