.input-field {
  line-height: 34px;
  background-color: $ui-light-grey;
  border: solid 1px $ui-fleet-blue-15;
  border-radius: 4px;
  font-size: $small;
  padding: $pad-xsmall 12px;
  color: $core-fleet-blue;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  height: 40px;

  ::placeholder {
    color: $core-fleet-blue;
  }

  &:focus {
    outline: none;
    border-color: $core-vibrant-blue;
  }

  &--disabled {
    color: $ui-fleet-black-50;
  }

  &--error {
    color: $core-vibrant-red;
    border: 1px solid $core-vibrant-red;
    box-sizing: border-box;
    border-radius: 4px;

    &:focus {
      border-bottom-color: $ui-error;
      background-color: $core-white;
      color: $core-fleet-black;
    }
  }

  &__textarea {
    min-height: 100px;
    max-width: 100%;
    display: block;
  }

  &__label {
    display: block;
    font-size: $medium;
    font-weight: $regular;
    color: $core-fleet-black;
    margin-bottom: $pad-xsmall;

    &--error {
      font-weight: $bold;
    }
  }

  &__wrapper {
    margin-bottom: $pad-medium;
  }

  &__hint {
    font-size: $x-small;
    font-weight: $regular;
    line-height: 1.57;
    letter-spacing: 1px;
    color: $core-fleet-blue;

    code {
      color: $core-vibrant-blue;
      background-color: $ui-gray;
      padding: $pad-xxsmall;
      font-family: "SourceCodePro", $monospace;
    }
  }
}
